Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix: dedupe integration list in onboarding select
  frontend/web/components/IntegrationSelect.tsx
Labels: front-end

feat(tokens): realign per-intent surface family + inverse foreground (DRAFT)
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

feat(buttons): migrate primary/outline/link/icon/with-icon to semantic tokens
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): migrate .btn-radio border to --color-border-strong
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): swap remaining \$body-color / \$primary / \$primary-alfa-8 / \$text-icon-light to tokens
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): drop .dark block — full token migration complete
  frontend/web/styles/project/_buttons.scss
Labels: front-end

chore(buttons): remove dead .btn-remove and .btn-link.btn-with-icon rules
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(tokens,buttons): dark-mode hover/active go LIGHTER + explicit btn-primary block
  frontend/common/theme/tokens.json
  frontend/web/styles/_tokens.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(tokens): use palette var() references + keep brand colour at resting in dark mode
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
Labels: front-end

fix(buttons): add explicit :disabled color for secondary in dark mode
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): explicit :disabled colors for secondary + danger + success
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): own the disabled state — neutralise Bootstrap's :disabled cascade
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): drop !important from outline border and secondary disabled bg
  frontend/web/styles/project/_buttons.scss
Labels: front-end

chore(button): drop unused theme='project' map entry
  frontend/documentation/components/Button.stories.tsx
  frontend/web/components/base/forms/Button.tsx
Labels: front-end

fix(buttons): disabled state uses opacity, preserves theme colours
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): defensive :disabled rules to preserve theme text colour
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): keep outline border visible on hover/focus/active/disabled
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): give secondary three distinct interaction tiers
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): drop !important from secondary by bumping specificity
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): tertiary text uses palette var() + drop !important
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(tokens,buttons): brand-anchor text/border/icon-action + use for tertiary
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

docs: trim Edge Proxy guide per review
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs: clarify concurrency column in Edge Proxy throughput table
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs: reword identity-vs-segment precedence in request terms
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs: point to dashboard path for identity-overrides toggle
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs: clarify NO_PROXY exempts hosts in Edge Proxy env vars
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

read worker max RSS from proc status
  api/metrics/worker_metrics.py
  api/tests/unit/metrics/test_unit_worker_metrics.py
  docs/development/worker-metrics-helper-testing.md
Labels: docs, api

fix: removed api logout call
  frontend/common/stores/account-store.js
Labels: front-end

fix(versioning): scope scheduled-FS query by feature in v2 enable
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

test(versioning): drop redundant comment from regression test
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

chore(main): release 2.232.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

feat: add identity_feature_state to project features endpoint
  api/features/serializers.py
  api/features/views.py
  api/tests/integration/features/test_identity_feature_states.py
  api/tests/unit/features/test_unit_identity_feature_states.py
  frontend/common/services/useProjectFlag.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/IdentityPage.tsx
Labels: front-end, api

feat: show a null indication for null feature values
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentityTraits.tsx
  frontend/web/components/feature-override/MultivariateOverrideDescription.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
  frontend/web/components/feature-summary/FeatureValue.tsx
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
Labels: front-end

fix: scale-up-v4 to use v2 extra seats addons
  api/organisations/chargebee/chargebee.py
  api/organisations/chargebee/constants.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

feat: use semantic tokens in pill
  frontend/web/styles/components/_inline-pill-toggle.scss
Labels: front-end

feat:gate top-level rule type click on segment_any_rule_type flag
  frontend/e2e/helpers/e2e-helpers.playwright.ts
Labels: front-end

feat: add keyboard nav and focus-visible to InlinePillToggle
  frontend/web/components/base/forms/InlinePillToggle.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/styles/components/_inline-pill-toggle.scss
Labels: front-end

fix: linter
  api/organisations/chargebee/chargebee.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: preserve NONE sub-rules when toggling top-level rule type
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

fix(button): only wrap children when icon+label spacing is needed
  frontend/web/components/base/forms/Button.tsx
Labels: front-end
