Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Remove test:bundle command
  frontend/e2e/run-with-retry.ts
Labels: front-end

Add change request, feature settings and identity tests
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

Add change request, feature settings and identity tests
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

default e2e to false
  frontend/web/main.js
Labels: front-end

fix: disable blanket API throttling in favour of WAF (#6642)
  api/app/settings/common.py
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api, infrastructure

fix: disable blanket API throttling in favour of WAF (#6642)
  api/app/settings/common.py
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api, infrastructure

feat: vendor Pydantic models from flag-engine fix/missing-export branch
  api/util/engine_models/__init__.py
  api/util/engine_models/context/__init__.py
  api/util/engine_models/context/mappers.py
  api/util/engine_models/environments/__init__.py
  api/util/engine_models/environments/integrations/__init__.py
  api/util/engine_models/environments/integrations/models.py
  api/util/engine_models/environments/models.py
  api/util/engine_models/features/__init__.py
  api/util/engine_models/features/models.py
  api/util/engine_models/identities/__init__.py
  api/util/engine_models/identities/models.py
  api/util/engine_models/identities/traits/__init__.py
  api/util/engine_models/identities/traits/constants.py
  api/util/engine_models/identities/traits/models.py
  api/util/engine_models/identities/traits/types.py
  api/util/engine_models/organisations/__init__.py
  api/util/engine_models/organisations/models.py
  api/util/engine_models/projects/__init__.py
  api/util/engine_models/projects/models.py
  api/util/engine_models/segments/__init__.py
  api/util/engine_models/segments/models.py
  api/util/engine_models/utils/__init__.py
  api/util/engine_models/utils/datetime.py
  api/util/engine_models/utils/exceptions.py
  api/util/engine_models/utils/hashing.py
Labels: api

Improve E2E test helpers and add table filter data-test attributes
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/web/components/tables/TableFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
Labels: front-end

Remove waitForTimeout calls and add E2E helper usage guidelines
  frontend/.claude/context/e2e.md
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
Labels: front-end

default e2e to false
  frontend/web/main.js
  frontend/web/project/polyfil.js
Labels: front-end

feat: upgrade flagsmith-flag-engine to v10 and migrate to vendored models
  api/app/pagination.py
  api/e2etests/e2e_seed_data.py
  api/edge_api/identities/export.py
  api/edge_api/identities/models.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/utils.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/services.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/integrations/webhook/serializers.py
  api/organisations/models.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/edge_api/identities/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/util/engine_models/identities/traits/test_unit_traits_types.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/engine_models/environments/models.py
  api/util/engine_models/features/models.py
  api/util/engine_models/organisations/models.py
  api/util/engine_models/segments/models.py
  api/util/engine_models/utils/hashing.py
  api/util/mappers/dynamodb.py
  api/util/mappers/engine.py
Labels: api

Fix project-test
  frontend/e2e/tests/project-test.pw.ts
Labels: front-end

re-add wait
  frontend/e2e/tests/versioning-tests.pw.ts
Labels: front-end

Add non-archived feature to keep filters visible in archive test
  frontend/e2e/tests/flag-tests.pw.ts
Labels: front-end

Add unique comment identifiers for OSS vs Private Cloud test results
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

chore: regenerate OpenAPI spec for flag-engine v10 compatibility
  sdk/openapi.yaml
Labels: none

Make e2e comments unique by arch
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

chore: remove unused FeatureStateNotFound exception
  api/util/engine_models/utils/exceptions.py
Labels: api

test: add coverage for Identity.__str__ method
  api/tests/unit/environments/identities/test_unit_identities_models.py
Labels: api

use report-tag parameter for uniquely identifying playwright comments
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

Improve PR labelling, merge retry results with failures
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/e2e/run-with-retry.ts
Labels: front-end

Revert "docs: kapa ai widget (#5851)"
  docs/docusaurus.config.ts
  docs/src/theme/Layout/index.js
  docs/static/js/crisp-chat.js
Labels: docs

Revert changes related to crisp that were included in the revert commit
  docs/docusaurus.config.ts
  docs/src/theme/Layout/index.js
  docs/static/js/crisp-chat.js
Labels: docs

Override qs dependency to fix vulnerability
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

Remove override and update body-parser and express instead
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

bump body-parser major version
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

deps: update `express` + `body-parser` to bump transitive `qs` dependency and fix CVE-2025-15284 (#6656)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

deps: update `express` + `body-parser` to bump transitive `qs` dependency and fix CVE-2025-15284 (#6656)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat: calculate-has-metadata-required-based-on-all-entities
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
Labels: front-end

fix: calculate-has-metadata-required-based-on-all-entities
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
Labels: front-end

Reorganise feature tabs
  frontend/common/constants.ts
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-summary/FeatureTags.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/styles/project/_modals.scss
Labels: front-end

docs: add frontend developer documentation (#6486)
  frontend/.claude/commands/api.md
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/check.md
  frontend/.claude/commands/context.md
  frontend/.claude/commands/feature-flag.md
  frontend/.claude/commands/find-usages.md
  frontend/.claude/commands/pr-review.md
  frontend/.claude/commands/ui-patterns.md
  frontend/.claude/commands/unit-test.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/backend-integration.md
  frontend/.claude/context/feature-flags/feature-flags.md
  frontend/.claude/context/feature-flags/mcp-workflows.md
  frontend/.claude/context/feature-flags/project-config.local.md.example
  frontend/.claude/context/git-workflow.md
  frontend/.claude/context/patterns/api.md
  frontend/.claude/context/patterns/index.md
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/.claude/scripts/sync-types-helper.py
  frontend/.claude/settings.json
  frontend/.env-example
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/README.md
  frontend/common/utils/__tests__/isFreeEmailDomain.test.ts
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

docs: add frontend developer documentation (#6486)
  frontend/.claude/commands/api.md
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/check.md
  frontend/.claude/commands/context.md
  frontend/.claude/commands/feature-flag.md
  frontend/.claude/commands/find-usages.md
  frontend/.claude/commands/pr-review.md
  frontend/.claude/commands/ui-patterns.md
  frontend/.claude/commands/unit-test.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/backend-integration.md
  frontend/.claude/context/feature-flags/feature-flags.md
  frontend/.claude/context/feature-flags/mcp-workflows.md
  frontend/.claude/context/feature-flags/project-config.local.md.example
  frontend/.claude/context/git-workflow.md
  frontend/.claude/context/patterns/api.md
  frontend/.claude/context/patterns/index.md
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/.claude/scripts/sync-types-helper.py
  frontend/.claude/settings.json
  frontend/.env-example
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/README.md
  frontend/common/utils/__tests__/isFreeEmailDomain.test.ts
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

Adjust docs
  docs/docs/deployment-self-hosting/scaling-and-performance/using-influxdb-for-analytics.md
  docs/docs/managing-flags/code-references.md
  docs/docs/managing-flags/code-references/feature-details.png
  docs/docs/managing-flags/flag-analytics.md
  docs/static/img/flag-analytics.png
Labels: docs

test: temporarily disable codecov upload from private packages workflow
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

Revert "test: temporarily disable codecov upload from private packages workflow"
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

docs: remove kapa.ai (#6655)
  docs/docusaurus.config.ts
Labels: docs

docs: remove kapa.ai (#6655)
  docs/docusaurus.config.ts
Labels: docs

chore(main): release 2.213.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.213.0 (#6649)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none
