Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(modal-confirm): remove erroneous trash icon from danger confirm button
  frontend/web/components/modals/base/ModalConfirm.tsx
Labels: front-end

fix(button): drop iconLeft/iconRight props, icons compose via children
  frontend/documentation/components/Button.stories.tsx
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/GoogleButton.tsx
  frontend/web/components/JSONReference.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/icons/index.ts
  frontend/web/components/modals/base/ModalConfirm.tsx
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
  frontend/web/components/pages/HomePage.tsx
  frontend/web/components/release-pipelines/PipelineStageActions.tsx
Labels: front-end

chore(button): drop unused theme='project' map entry
  frontend/documentation/components/Button.stories.tsx
  frontend/web/components/base/forms/Button.tsx
Labels: front-end

fix(buttons): give btn-with-icon a self-contained resting fill
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): use semantic icon tokens for btn-icon path fills
  frontend/web/styles/project/_buttons.scss
Labels: front-end

docs(button): tidy Storybook stories
  frontend/documentation/components/Button.stories.tsx
Labels: front-end

fix(buttons): switch .btn to inline-flex with hover and height fixes
  frontend/web/components/base/forms/Button.tsx
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): opt .btn-project out of new inline-flex layout
  frontend/web/styles/project/_buttons.scss
Labels: front-end

refactor(invite-users): swap broken icon spacing for project Icon at 16px
  frontend/web/components/modals/InviteUsers.tsx
Labels: front-end

fix(view-docs): drop alignment hacks now that .btn is flex+gap
  frontend/web/components/ViewDocs.tsx
Labels: front-end

refactor(icons): swap hardcoded hex fills for semantic tokens
  frontend/web/components/ViewDocs.tsx
  frontend/web/components/modals/InviteUsers.tsx
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
Labels: front-end

fix(buttons): make .btn-link inline-flex so theme='text' flows with text
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/pages/IdentityPage.tsx
  frontend/web/styles/project/_buttons.scss
Labels: front-end

Ditch fake retention
  api/projects/code_references/constants.py
  api/projects/code_references/services.py
Labels: api

fix(buttons): wire .btn-success to the \$btn-success-* ladder, add missing dark-mode :active for success and outline
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(buttons): keep white text on disabled .btn-success / .btn-danger
  frontend/web/styles/project/_buttons.scss
Labels: front-end

docs(button): drop CSS implementation detail from WithIcons story
  frontend/documentation/components/Button.stories.tsx
Labels: front-end

Fix docs
  api/features/serializers.py
  api/projects/code_references/services.py
Labels: api

created worker metric Prometheus gauge
  api/metrics/worker_metrics.py
Labels: api

updated the metrics-catalogue with the flagsmith_worker_rss_byes gauge
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs

created worker metric Prometheus gauge
  api/metrics/worker_metrics.py
Labels: api

added a background thread to update resource usage and imported it to the wsgi file
  api/metrics/worker_metrics.py
Labels: api

updated new worker_metrics with gauge
  api/metrics/worker_metrics.py
Labels: api

fixed duplicate imports
  api/metrics/worker_metrics.py
Labels: api

re-arranged update_ and clear_ functions to be adjacent
  api/metrics/worker_metrics.py
Labels: api

added unit tests for update_ and clear_worker_metrics
  api/tests/unit/metrics/test_unit_worker_metrics.py
Labels: api

minor correction to test so mock mirrors gauge syntax more accurately
  api/tests/unit/metrics/test_unit_worker_metrics.py
Labels: api

feat: add flagd-compatible HTTP sync endpoint
  api/api/urls/v1.py
  api/app/settings/common.py
  api/integrations/flagd/__init__.py
  api/integrations/flagd/apps.py
  api/integrations/flagd/constants.py
  api/integrations/flagd/exceptions.py
  api/integrations/flagd/management/__init__.py
  api/integrations/flagd/management/commands/__init__.py
  api/integrations/flagd/management/commands/bootstrap_flagd_local.py
  api/integrations/flagd/metrics.py
  api/integrations/flagd/services.py
  api/integrations/flagd/tests/__init__.py
  api/integrations/flagd/tests/fixtures/__init__.py
  api/integrations/flagd/tests/fixtures/flagd-schema-v0.json
  api/integrations/flagd/tests/fixtures/flagd-targeting-v0.json
  api/integrations/flagd/translators/__init__.py
  api/integrations/flagd/translators/flag.py
  api/integrations/flagd/translators/multivariate.py
  api/integrations/flagd/translators/operators.py
  api/integrations/flagd/translators/segment.py
  api/integrations/flagd/types.py
  api/integrations/flagd/urls.py
  api/integrations/flagd/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/flagd/__init__.py
  api/tests/integration/flagd/test_endpoint.py
  api/tests/integration/flagd/test_flagd_evaluation.py
  api/tests/unit/integrations/flagd/__init__.py
  api/tests/unit/integrations/flagd/test_bootstrap_command.py
  api/tests/unit/integrations/flagd/test_flag_translation.py
  api/tests/unit/integrations/flagd/test_identity_overrides.py
  api/tests/unit/integrations/flagd/test_jsonschema.py
  api/tests/unit/integrations/flagd/test_operators.py
  api/tests/unit/integrations/flagd/test_properties.py
  api/tests/unit/integrations/flagd/test_segments.py
  api/tests/unit/integrations/flagd/test_warnings.py
  docs/docs/integrating-with-flagsmith/flagd-local-dev.md
  docs/docs/integrating-with-flagsmith/flagd-sync.md
Labels: docs, api

docs: reframe flagd-sync as a management UI for flagd
  docs/docs/integrating-with-flagsmith/flagd-sync.md
Labels: docs

test(sentry): cover v2 versioning paths for change-tracking webhook
  api/tests/integration/sentry/test_change_tracking_webhook_integration.py
Labels: api

feat: use flag value to display sdk message
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
Labels: front-end

feat(experiments): Add empty states to Flag + Segments steps
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.tsx
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.tsx
Labels: front-end

fix: Replace all hardcoded values with design tokens in experiments-v2
  frontend/web/components/experiments-v2/ExperimentResultsPage.scss
  frontend/web/components/experiments-v2/flag-detail/LinkedExperimentSection.scss
  frontend/web/components/experiments-v2/shared/ExperimentStatCard.scss
  frontend/web/components/experiments-v2/shared/MetricsComparisonTable.scss
  frontend/web/components/experiments-v2/shared/SelectableCard.scss
  frontend/web/components/experiments-v2/shared/StatusBadge.scss
  frontend/web/components/experiments-v2/shared/TrafficSplitBar.scss
  frontend/web/components/experiments-v2/shared/VariationTable.scss
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.scss
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.scss
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.scss
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.scss
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.scss
  frontend/web/components/experiments-v2/wizard/WizardHeader.scss
  frontend/web/components/experiments-v2/wizard/WizardStepIndicator.scss
Labels: front-end

feat(experiments): Metrics empty state + search-empty cleanup
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
Labels: front-end

feat(experiments): Clarify control vs experiment split
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.scss
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.tsx
Labels: front-end

feat(experiments): Metrics UX — tags, inline creation, library tab
  frontend/web/components/experiments-v2/MetricsLibraryPage.scss
  frontend/web/components/experiments-v2/MetricsLibraryPage.tsx
  frontend/web/components/experiments-v2/shared/CreateMetricForm.scss
  frontend/web/components/experiments-v2/shared/CreateMetricForm.tsx
  frontend/web/components/experiments-v2/shared/SelectableCard.scss
  frontend/web/components/experiments-v2/shared/SelectableCard.tsx
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.scss
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

fix: Strip cosmetic animations, add warehouse route, fix Storybook globals
  frontend/web/components/warehouse/WarehousePage.tsx
  frontend/web/components/warehouse/components/ConfigForm.scss
  frontend/web/components/warehouse/components/ConfigForm.tsx
  frontend/web/components/warehouse/components/ConnectedState.tsx
  frontend/web/components/warehouse/components/EmptyState.tsx
  frontend/web/components/warehouse/components/ErrorState.tsx
  frontend/web/components/warehouse/components/TestingState.scss
  frontend/web/routes.js
Labels: front-end

fix: Enrich review step with richer data display and pre-populated mock state
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.scss
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
Labels: front-end

feat(experiments): Multi-variant flag guard + start/end date fields
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.scss
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.tsx
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/types.ts
Labels: front-end

refactor(experiments): Core data model + rename Audience → Segment
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/shared/VariationTable.tsx
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.scss
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.tsx
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.scss
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/steps/SegmentTrafficStep.scss
  frontend/web/components/experiments-v2/steps/SegmentTrafficStep.tsx
  frontend/web/components/experiments-v2/types.ts
Labels: front-end

chore: Remove experiment and warehouse Storybook stories
  frontend/documentation/experiments/AudienceTrafficStep.stories.tsx
  frontend/documentation/experiments/ExperimentDetailsStep.stories.tsx
  frontend/documentation/experiments/ExperimentStatCard.stories.tsx
  frontend/documentation/experiments/FlagVariationsStep.stories.tsx
  frontend/documentation/experiments/LinkedExperimentSection.stories.tsx
  frontend/documentation/experiments/MetricsComparisonTable.stories.tsx
  frontend/documentation/experiments/ReviewLaunchStep.stories.tsx
  frontend/documentation/experiments/SelectMetricsStep.stories.tsx
  frontend/documentation/experiments/SelectableCard.stories.tsx
  frontend/documentation/experiments/StatusBadge.stories.tsx
  frontend/documentation/experiments/TrafficSplitBar.stories.tsx
  frontend/documentation/experiments/VariationTable.stories.tsx
  frontend/documentation/experiments/Wizard.stories.tsx
  frontend/documentation/experiments/WizardHeader.stories.tsx
  frontend/documentation/experiments/WizardLayout.stories.tsx
  frontend/documentation/experiments/WizardNavButtons.stories.tsx
  frontend/documentation/experiments/WizardSidebar.stories.tsx
  frontend/documentation/experiments/WizardStepIndicator.stories.tsx
  frontend/documentation/warehouse/ConfigForm.stories.tsx
  frontend/documentation/warehouse/ConnectedState.stories.tsx
  frontend/documentation/warehouse/EmptyState.stories.tsx
  frontend/documentation/warehouse/ErrorState.stories.tsx
  frontend/documentation/warehouse/TestingState.stories.tsx
  frontend/documentation/warehouse/WarehousePage.stories.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
