Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs: updated-self-hosted-mcp-doc (#6602)
  docs/docs/integrating-with-flagsmith/mcp-server.md
Labels: docs

docs: updated-self-hosted-mcp-doc (#6602)
  docs/docs/integrating-with-flagsmith/mcp-server.md
Labels: docs

feat: added-limits-and-envs-in-query-params
  api/integrations/launch_darkly/client.py
  api/integrations/launch_darkly/constants.py
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/test_client.py
Labels: api

feat(frontend): add /unit-test command for generating tests
  frontend/.claude/commands/unit-test.md
  frontend/common/utils/__tests__/isFreeEmailDomain.test.ts
Labels: front-end

feat(frontend): add /pr-review and /find-usages commands, update README
  frontend/.claude/commands/find-usages.md
  frontend/.claude/commands/pr-review.md
  frontend/README.md
Labels: front-end

We're [almost] GA now!!!
  .github/workflows/platform-collect-code-references.yml
  .github/workflows/poc-github-code-references.yml
Labels: none

DROPME: Run new workflow from PR
  .github/workflows/platform-collect-code-references.yml
Labels: none

Improve CI workflow naming
  .github/workflows/platform-collect-code-references.yml
Labels: none

Update tool usage
  .github/workflows/platform-collect-code-references.yml
Labels: none

Add better context and a REPEAT mode
  .claude/commands/e2e-all.md
  frontend/e2e/run-with-retry.ts
Labels: front-end

chore(main): release 2.211.4 (#6595)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.211.4 (#6595)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Refactor
  .claude/commands/e2e-all.md
  .claude/commands/e2e-oss.md
  .claude/commands/e2e.md
  docker-compose.yml
  frontend/README.md
  frontend/e2e/config.ts
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/tests/environment-permission-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/invite-test.pw.ts
  frontend/e2e/tests/organisation-permission-test.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

improve segment test
  frontend/e2e/tests/segment-test.pw.ts
Labels: front-end

Improve readme and commands so that you can do /e2e 10 to run 10x
  .claude/commands/e2e-create.md
  .claude/commands/e2e-ee.md
  .claude/commands/e2e-oss.md
  .claude/commands/e2e.md
  .claude/context/e2e.md
  frontend/README.md
  frontend/e2e/helpers.playwright.ts
Labels: front-end

Improve readmes, add test:report script
  .claude/commands/e2e-create.md
  .claude/commands/e2e-ee.md
  .claude/commands/e2e-oss.md
  .claude/commands/e2e.md
  .claude/context/e2e.md
  frontend/e2e/run-with-retry.ts
  frontend/package.json
Labels: front-end

fix(docs): update GitHub Actions Code References documentation for accuracy and clarity
  docs/docs/third-party-integrations/ci-cd/github-actions-code-references.md
Labels: docs

fix(docs): enhance clarity and accuracy in GitHub Actions Code References documentation
  docs/docs/third-party-integrations/ci-cd/github-actions-code-references.md
Labels: docs

Bump retries to 2
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

Don't run test:report in ci on failures
  frontend/e2e/run-with-retry.ts
Labels: front-end

Only show report on failure outside of ci
  frontend/e2e/run-with-retry.ts
Labels: front-end

feat: simplified-env-ld-env-request-iterator
  api/integrations/launch_darkly/client.py
  api/integrations/launch_darkly/constants.py
Labels: api

feat: fixed-value-parser-to-handle-json-properly
  api/integrations/launch_darkly/services.py
Labels: api

Remove interactive elements from run-with-retry, clean up context duplication
  .claude/commands/e2e-create.md
  .claude/commands/e2e-ee.md
  .claude/commands/e2e-oss.md
  .claude/commands/e2e.md
  .claude/context/e2e.md
  frontend/e2e/run-with-retry.ts
Labels: front-end

revert docker-compose
  docker-compose.yml
Labels: none

Fix indentation in FeatureRow component
  frontend/web/components/feature-summary/FeatureRow.tsx
Labels: front-end

disable modal transitions in e2e
  frontend/e2e/helpers.playwright.ts
  frontend/web/styles/project/_modals.scss
Labels: front-end

feat: added-coverage
  api/tests/unit/integrations/launch_darkly/test_client.py
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api

feat: type
  api/tests/unit/integrations/launch_darkly/test_client.py
Labels: api

docs: use-no-readonl-required-setting
  api/app/settings/common.py
Labels: api

docs: use-no-component-split-request-setting
  api/app/settings/common.py
Labels: api

docs: coverage
  api/tests/integration/test_api_documentation.py
Labels: api

feat(frontend): add Claude commands and update README (#6604)
  frontend/.claude/commands/find-usages.md
  frontend/.claude/commands/pr-review.md
  frontend/.claude/commands/unit-test.md
  frontend/README.md
  frontend/common/utils/__tests__/isFreeEmailDomain.test.ts
Labels: front-end

docs: coverage
  api/tests/integration/test_api_documentation.py
Labels: api

feat: Stream S3 organisation exports
  api/import_export/export.py
  api/import_export/management/commands/dumporganisationtos3.py
  api/import_export/utils.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/import_export/test_unit_import_export_utils.py
Labels: api

docs: removed-coverage
  api/tests/integration/test_api_documentation.py
Labels: api

fix(api-docs): Avoid `readOnly` properties with `required` (#6608)
  api/app/settings/common.py
Labels: api

fix(api-docs): Avoid `readOnly` properties with `required` (#6608)
  api/app/settings/common.py
Labels: api

chore(main): release 2.211.5
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.211.5 (#6611)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
