Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

chore: Remove amannn/action-semantic-pull-request workflow
  .github/workflows/conventional-commit.yml
Labels: none

Improve UI around importing from LaunchDarkly
  frontend/common/types/responses.ts
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/project/toast.tsx
Labels: front-end

No slop
  docs/docs/administration-and-security/data-management/import-from-launchdarkly.md
Labels: docs

chore: Remove amannn/action-semantic-pull-request workflow (#6673)
  .github/workflows/conventional-commit.yml
Labels: none

chore: Remove amannn/action-semantic-pull-request workflow (#6673)
  .github/workflows/conventional-commit.yml
Labels: none

chore(main): release 2.214.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

deps: upgrade to python 3.13 (#6645)
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
  api/tests/unit/util/test_logging.py
Labels: api

deps: upgrade to python 3.13 (#6645)
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
  api/tests/unit/util/test_logging.py
Labels: api

(another) poetry lock update post merge
  api/poetry.lock
Labels: api

Update psycopg2 binary
  api/poetry.lock
Labels: api

Update freezegun again... :thinking_face:
  api/poetry.lock
Labels: api

fix: conflicts caused by 3.13 bump
  api/poetry.lock
Labels: api

test: add coverage for Identity.__str__ method
  api/tests/unit/environments/identities/test_unit_identities_models.py
Labels: api

deps: Bump codecov-action from 4 to 5
  .github/workflows/api-pull-request.yml
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

deps: Bump codecov-action from 4 to 5 (#6680)
  .github/workflows/api-pull-request.yml
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

deps: Bump codecov-action from 4 to 5 (#6680)
  .github/workflows/api-pull-request.yml
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

Feature Lifecycle initial
  frontend/web/components/Icon.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/ProjectFeatureRow.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/EvaluationChecker.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleFiltersHeader.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleSidebar.tsx
  frontend/web/components/pages/feature-lifecycle/components/LiveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/MonitorSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/NewSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/PermanentSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/RemoveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/SectionShell.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
  frontend/web/components/pages/feature-lifecycle/constants.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useClientPagination.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useEvaluationCounts.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useLifecycleData.ts
  frontend/web/components/pages/feature-lifecycle/index.ts
  frontend/web/components/pages/feature-lifecycle/types.ts
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
Labels: front-end

feat: add Platform Hub route and navigation entry point
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/routes.js
Labels: front-end

refactor: replace ad-hoc path checks with appLevelPaths array
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/navigation/SelectOrgAndProject.tsx
Labels: front-end

feat: add Platform Hub types and mock data
  frontend/common/services/mockAdminDashboardData.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

feat: add Platform Hub page with KPI cards, usage chart, and tabs
  frontend/web/components/pages/AdminDashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/AdminDashboard/components/InstanceMetricsCards.tsx
  frontend/web/components/pages/AdminDashboard/components/UsageTrendsChart.tsx
Labels: front-end

feat: add organisation usage table with expandable project/environment rows
  frontend/web/components/pages/AdminDashboard/components/OrganisationUsageTable.tsx
Labels: front-end

feat: add release pipeline, stale flags, and integrations tables
  frontend/web/components/pages/AdminDashboard/components/IntegrationBreakdownTable.tsx
  frontend/web/components/pages/AdminDashboard/components/ReleasePipelineStatsTable.tsx
  frontend/web/components/pages/AdminDashboard/components/StaleFlagsTable.tsx
Labels: front-end

chore(main): release 2.214.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): Release 2.214.0 (#6672)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): Release 2.214.0 (#6672)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

adding frontend changes
  api/buckets/__init__.py
  api/buckets/apps.py
  api/buckets/migrations/0001_initial.py
  api/buckets/migrations/__init__.py
  api/buckets/models.py
  api/buckets/permissions.py
  api/buckets/serializers.py
  api/buckets/views.py
  api/features/migrations/0066_add_bucket_to_feature.py
  api/permissions/migrations/0011_add_bucket_permissions.py
  frontend/common/services/useBucket.ts
  frontend/common/useViewMode.ts
  frontend/web/components/modals/BucketDetails.tsx
  frontend/web/components/modals/CreateBucket.tsx
  frontend/web/components/navigation/AccountDropdown.tsx
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/BucketsPage.tsx
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
  frontend/web/routes.js
Labels: front-end, api

fix back button
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
Labels: front-end

removing unrelated changes
  api/buckets/__init__.py
  api/buckets/apps.py
  api/buckets/migrations/0001_initial.py
  api/buckets/migrations/__init__.py
  api/buckets/models.py
  api/buckets/permissions.py
  api/buckets/serializers.py
  api/buckets/views.py
  api/features/migrations/0011_historicalfeature_squashed_0012_historicalfeaturestate_historicalfeaturestatevalue.py
  api/features/migrations/0066_add_bucket_to_feature.py
  frontend/common/services/useBucket.ts
  frontend/web/components/modals/BucketDetails.tsx
  frontend/web/components/modals/CreateBucket.tsx
  frontend/web/components/pages/BucketsPage.tsx
Labels: front-end, api

fix mixup of file names
  api/features/migrations/0011_historicalfeature_squashed_0012_historicalfeaturestate_historicalfeaturestatevalue.py
  api/permissions/migrations/0011_add_bucket_permissions.py
Labels: api

adding missing new line
  api/features/migrations/0011_historicalfeature_squashed_0012_historicalfeaturestate_historicalfeaturestatevalue.py
Labels: api

removing top nav on new views pages
  frontend/web/components/navigation/AccountDropdown.tsx
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/pages/DevViewPage.tsx
  frontend/web/components/pages/ExecutiveViewPage.tsx
  frontend/web/routes.js
Labels: front-end

fix modal loading window
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
Labels: front-end

feat: rewrite release pipeline table, add overage column, and remove integrations tab
  frontend/common/services/mockAdminDashboardData.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/AdminDashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/AdminDashboard/components/IntegrationBreakdownTable.tsx
  frontend/web/components/pages/AdminDashboard/components/OrganisationUsageTable.tsx
  frontend/web/components/pages/AdminDashboard/components/ReleasePipelineStatsTable.tsx
Labels: front-end

feat: add simplified integration adoption table
  frontend/web/components/pages/AdminDashboard/components/IntegrationAdoptionTable.tsx
Labels: front-end

Update pull-request-title-pattern to match new conventional commit enforcement
  release-please-config.json
Labels: none

refactor: rename AdminDashboard folder to admin-dashboard
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/admin-dashboard/components/InstanceMetricsCards.tsx
  frontend/web/components/pages/admin-dashboard/components/IntegrationAdoptionTable.tsx
  frontend/web/components/pages/admin-dashboard/components/OrganisationUsageTable.tsx
  frontend/web/components/pages/admin-dashboard/components/ReleasePipelineStatsTable.tsx
  frontend/web/components/pages/admin-dashboard/components/StaleFlagsTable.tsx
  frontend/web/components/pages/admin-dashboard/components/UsageTrendsChart.tsx
  frontend/web/routes.js
Labels: front-end

feat: gate Platform Hub behind platform_hub feature flag
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
Labels: front-end

Win
  frontend/common/services/useCodeReferences.ts
  frontend/common/services/useGithubIntegration.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/feature-summary/ProjectFeatureRow.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/SectionShell.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
  frontend/web/components/pages/feature-lifecycle/constants.ts
Labels: front-end

chore: Remove environment_metrics feature flag
  frontend/web/components/pages/features/components/FeatureMetricsSection.tsx
Labels: front-end
