Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

remove comments
  .github/workflows/mcp-docker-build-publish.yml
Labels: none

add worfklow_dispatch and uncomment
  .github/workflows/mcp-docker-build-publish.yml
Labels: none

docs(experimentation): regenerate events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

rename file
  .github/workflows/mcp-docker-build-publish-deploy.yml
Labels: none

ci(mcp): render and deploy task definition to ECS (#7716)
  .github/workflows/mcp-docker-build-publish-deploy.yml
Labels: none

docs: migrate flagsmith-cli and flagsmith-nodejs references to @flagsmith scope (#7583)
  docs/docs/getting-started/quick-start.md
  docs/docs/integrating-with-flagsmith/CLI.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/javascript.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/plugins/flagsmith-versions/index.js
  docs/src/components/SdkVersions.js
  frontend/common/code-help/offline_client/offline-client-cli.js
  frontend/common/code-help/offline_server/offline-server-cli.js
  frontend/common/constants.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
Labels: docs, front-end

feat: choose environment administrators on environment creation (#7610)
  frontend/common/services/useRolePermission.ts
  frontend/common/services/useUserPermissions.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/CreateEnvironmentPage.tsx
Labels: front-end

refactor: address review feedback in EditPermissions
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/users-permissions/isOrgAdmin.ts
Labels: front-end

fix(ci): Fix MCP env var names
  .github/workflows/mcp-docker-build-publish-deploy.yml
Labels: none

feat(multivariate): reworked variants in create flag modal UI
  frontend/common/utils/utils.tsx
  frontend/documentation/components/Input.stories.tsx
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/web/components/base/forms/Input.js
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/AddVariationButton.tsx
  frontend/web/components/mv/VariationKeyLabel.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput.scss
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/styles/components/_input.scss
  frontend/web/styles/project/_type.scss
Labels: front-end

fix(ci): Fix MCP env var names (#7744)
  .github/workflows/mcp-docker-build-publish-deploy.yml
Labels: none

refactor(experimentation): rename exposure units to first_exposed_identities
  api/experimentation/dataclasses.py
  api/experimentation/mappers.py
  api/experimentation/services.py
  api/experimentation/types.py
  api/tests/unit/experimentation/test_mappers.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(experimentation): tighten ExposureBucket docstring
  api/experimentation/dataclasses.py
Labels: api

refactor(experimentation): drop exposure timestamp extremes from bucket rows
  api/experimentation/dataclasses.py
  api/experimentation/mappers.py
  api/experimentation/services.py
  api/experimentation/types.py
  api/tests/unit/experimentation/test_mappers.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): drop redundant window_start from exposure snapshots
  api/experimentation/migrations/0006_experiment_exposure_snapshot.py
  api/experimentation/models.py
Labels: api

refactor(experimentation): replace exposure snapshots with one updatable row per experiment
  api/experimentation/constants.py
  api/experimentation/mappers.py
  api/experimentation/migrations/0006_experiment_exposure_snapshot.py
  api/experimentation/migrations/0006_experiment_exposures.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/experimentation/types.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): address design review findings
  api/experimentation/mappers.py
  api/experimentation/migrations/0006_experiment_exposures.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_mappers.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): pin exposure bucket boundaries to UTC in the query
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): drop derivable share from the exposures payload
  api/experimentation/mappers.py
  api/experimentation/types.py
  api/tests/unit/experimentation/test_mappers.py
Labels: api

refactor(experimentation): replace mapper TypedDicts with summary dataclasses
  api/experimentation/dataclasses.py
  api/experimentation/mappers.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/experimentation/types.py
  api/tests/unit/experimentation/test_mappers.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): collapse variant summaries to an identities-by-variant mapping
  api/experimentation/dataclasses.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: sort/inspect users across permissions tables (#7611)
  frontend/common/types/requests.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/UserAction.tsx
  frontend/web/components/inspect-permissions/Permissions.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
  frontend/web/components/users-permissions/isOrgAdmin.ts
  frontend/web/components/users-permissions/sortUsers.ts
Labels: front-end

feat(multivariate): refactored css and inline style
  frontend/web/components/mv/VariationKeyLabel/VariationKeyLabel.scss
  frontend/web/components/mv/VariationKeyLabel/VariationKeyLabel.tsx
  frontend/web/components/mv/VariationKeyLabel/index.ts
  frontend/web/components/mv/VariationValueInput/VariationValueInput.scss
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/mv/VariationValueInput/index.ts
  frontend/web/styles/project/_type.scss
Labels: front-end

feat(multivariate): addressed gemini comments
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
Labels: front-end

feat: improved api response callbacks and store management of mv options
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationKeyLabel/VariationKeyLabel.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
Labels: front-end

Fix log appearance
  api/telemetry/middleware.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Enable mcp logs
  api/scripts/run-docker.sh
Labels: api

feat: add Heap region support (#7732)
  api/integrations/heap/constants.py
  api/integrations/heap/heap.py
  api/integrations/heap/serializers.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/heap/test_unit_heap_views.py
Labels: api

feat: enforced fallback value to api and disabled button on error
  frontend/common/providers/FeatureListProvider.js
  frontend/common/utils/utils.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationKeyLabel/VariationKeyLabel.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

fix: normalise-heap-base-url-and-add-request-coverage
  api/integrations/heap/heap.py
  api/tests/unit/integrations/heap/test_unit_heap.py
Labels: api

Improve coverage
  api/telemetry/middleware.py
  api/tests/unit/telemetry/test_unit_telemetry_middleware.py
Labels: api

ci(frontend): lint changed files on pull requests
  .github/workflows/frontend-pull-request.yml
Labels: none

test: clean change to check lint gate runs (do not merge)
  frontend/web/components/__lint-gate-check.ts
Labels: front-end

test: introduce extra-space lint violation
  frontend/web/components/__lint-gate-check.ts
Labels: front-end

fix(frontend): remove arrow from Tooltip
  frontend/web/components/Tooltip.tsx
Labels: front-end

fix(frontend): unify font-weight for Tooltip
  frontend/web/components/Tooltip.tsx
Labels: front-end

fix(frontend): remove redundant description for Identity Overrides Tooltip
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
Labels: front-end

Obtain org ID from current span
  api/permissions/permission_service.py
  api/telemetry/middleware.py
  api/telemetry/spans.py
  api/tests/unit/telemetry/conftest.py
  api/tests/unit/telemetry/test_unit_telemetry_middleware.py
  api/tests/unit/telemetry/test_unit_telemetry_spans.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Improve design
  api/telemetry/middleware.py
Labels: api

Ensure `organisation.id` is part of the catalogue
  api/telemetry/middleware.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api
