Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs(empty-state): wire up controls and add docs-link variant
  frontend/documentation/components/EmptyState.stories.tsx
Labels: front-end

docs(loader): drop redundant Small story
  frontend/documentation/components/Loader.stories.tsx
Labels: front-end

docs(color-swatch): drop BooleanDot story
  frontend/documentation/components/ColorSwatch.stories.tsx
Labels: front-end

docs(skeleton): drop WhenToUse story, MDX docs cover the guidance
  frontend/documentation/components/Skeleton.stories.tsx
Labels: front-end

style(tokens): bump border-default opacity for visibility (0.16 → 0.24)
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
Labels: front-end

ci(chromatic): bump chromaui/action v11 → v16
  .github/workflows/frontend-chromatic.yml
Labels: none

feat(tabs): add isDirty prop to TabItem and migrate badged labels
  frontend/documentation/components/Tabs.stories.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-experiment/index.js
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/components/navigation/TabMenu/TabItem.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

refactor(tabs): replace asterisk-in-circle dirty marker with ColorSwatch dot
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

docs(tabs): make WithDirtyMarker controllable and add pill variant
  frontend/documentation/components/Tabs.stories.tsx
Labels: front-end

docs: add CVE remediation SLAs to support page
  docs/docs/support/index.mdx
Labels: docs

feat: implemented toggle any and all rules with correct text diff
  frontend/documentation/components/InlinePillToggle.stories.tsx
  frontend/web/components/SegmentRuleDivider.tsx
  frontend/web/components/base/forms/InlinePillToggle.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_inline-pill-toggle.scss
Labels: front-end

fix(breadcrumb): align current-page item with links and separators
  frontend/web/components/Breadcrumb.tsx
Labels: front-end

feat: show error message when top rules have different types
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

feat: render top-level any rules in segment diff
  frontend/web/components/diff/diff-utils.ts
Labels: front-end

ci(chromatic): skip Chromatic on Dependabot PRs
  .github/workflows/frontend-chromatic.yml
Labels: none

feat: added segment rules any type e2e tests
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/web/components/base/forms/InlinePillToggle.tsx
Labels: front-end

feat: create feature in segment 4 test
  frontend/e2e/tests/segment-test.pw.ts
Labels: front-end

deps: bump engine to 10.1.0
  api/poetry.lock
  api/pyproject.toml
Labels: api

chore(main): release 2.232.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Add maintenance mode flag
  frontend/web/components/App.js
Labels: front-end

Add MCP instructions in app
  frontend/common/stores/default-flags.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/CalloutBar.tsx
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/integrations/MCPIntegration.tsx
  frontend/web/components/integrations/openIntegrationModal.tsx
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/static/images/integrations/mcp.svg
Labels: front-end

feat(mcp): track integration views, prefill self-hosted server URL, fix Cursor/Codex snippets
  frontend/common/constants.ts
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/integrations/MCPIntegration.tsx
  frontend/web/components/integrations/openIntegrationModal.tsx
Labels: front-end

fix(button): use :focus-visible for hover-bg, drop click-focused dark state
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(mcp): drop space after colon in auth/server-url headers
  frontend/web/components/integrations/MCPIntegration.tsx
Labels: front-end

feat(mcp): add Api-Key env-var snippet and link to org API keys page
  frontend/web/components/integrations/MCPIntegration.tsx
Labels: front-end

feat(mcp): use Api-Key placeholder consistently in self-hosted snippets
  frontend/web/components/integrations/MCPIntegration.tsx
Labels: front-end

fix(button): extend :focus-visible to all theme variants and dark mode
  frontend/web/styles/project/_buttons.scss
Labels: front-end

align code references with reality
  frontend/common/stores/default-flags.ts
  frontend/web/components/pages/IntegrationsPage.tsx
Labels: front-end

feat(tokens): add saturated surface tokens for danger/success/warning/info
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(button): migrate _buttons.scss to semantic colour tokens
  frontend/web/styles/project/_buttons.scss
Labels: front-end

refactor: extract DocsLink component, migrate 4 of 17 callers
  frontend/documentation/components/DocsLink.stories.tsx
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DocsLink.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/modals/InviteUsers.tsx
Labels: front-end

align code references with reality
  frontend/common/stores/default-flags.ts
Labels: front-end

fix: added currency and frequency in ids resolution
  api/organisations/chargebee/chargebee.py
  api/organisations/chargebee/constants.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

fix: modified plan addon concatenation
  api/organisations/chargebee/chargebee.py
  api/organisations/chargebee/constants.py
Labels: api

fix: handle non-numeric organisation query parameter gracefully (Issue #7426)
  api/projects/views.py
Labels: api

test: add test cases for non-numeric organisation parameter handling
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

refactor: rename DocsLink → Link, migrate all 17 docs-link callers
  frontend/documentation/components/DocsLink.stories.tsx
  frontend/documentation/components/Link.stories.tsx
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DocsLink.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/Link.tsx
  frontend/web/components/modals/AuditLogWebhooks.tsx
  frontend/web/components/modals/InviteUsers.tsx
  frontend/web/components/pages/AccountSettingsPage.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/IdentitiesPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/sdk-keys/SDKKeysPage.tsx
  frontend/web/components/pages/sdk-keys/components/ServerSideSDKKeys.tsx
Labels: front-end

feat: surface integration callouts in feature & health empty states
  docs/docs/deployment-self-hosting/core-configuration/running-flagsmith-on-flagsmith.md
  frontend/common/stores/default-flags.ts
  frontend/common/stores/integration-data.json
  frontend/common/stores/segment-operators.json
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/feature-health/components/EmptyFeatureHealthProviders.tsx
  frontend/web/components/integrations/IntegrationCallout.tsx
  frontend/web/components/integrations/openIntegrationModal.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
  frontend/web/styles/project/_segments.scss
Labels: docs, front-end

fix: dedupe integration list in onboarding select
  frontend/web/components/IntegrationSelect.tsx
Labels: front-end

fix: remove GitLab from aspirational integrations list
  frontend/common/constants.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
