Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix(identities): keep the unmatched override listed until saved
  frontend/common/utils/multivariate.ts
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

test(identities): cover the unmatched override latch
  frontend/common/utils/__tests__/multivariate.test.ts
  frontend/common/utils/multivariate.ts
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
Labels: front-end

feat: Add EMAIL_FRONTEND_DOMAIN override to Djoser
  api/app/settings/common.py
Labels: api

added security faq and other docs pointing to trust.flagsmith.com
  docs/docs/support/faq/account-billing-organisation.mdx
  docs/docs/support/faq/index.mdx
  docs/docs/support/faq/security-compliance.mdx
  docs/docs/support/index.mdx
Labels: docs

Update api/app/settings/common.py
  api/app/settings/common.py
Labels: api

fix
  api/app/settings/common.py
Labels: api

feat: Add EMAIL_FRONTEND_DOMAIN override to Djoser (#8329)
  api/app/settings/common.py
Labels: api

fix: Include repository owner in GitHub installation repositories response
  api/integrations/github/client.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

ci: Authenticate update-flagsmith-environment via OIDC
  .github/workflows/update-flagsmith-environment.yml
Labels: none

ci: Migrate update-flagsmith-environment to Flagsmith/setup-cli action (#8331)
  .github/workflows/update-flagsmith-environment.yml
Labels: none

fix(ci): stop shell continuations breaking update-flagsmith-environment jq filter
  api/Makefile
Labels: api

fix(ci): Update API Flagsmith Defaults fails with jq compile errors (#8333)
  api/Makefile
Labels: api

chore: Use distinct fixture names in repositories test
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

Update API Flagsmith Defaults
  api/integrations/flagsmith/data/environment.json
Labels: api

fix(github): Trust relationship cannot be created for a repository picked from the list (#8332)
  api/integrations/github/client.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

docs: Polish trust relationship docs and update renamed API Access tab
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/authentication.md
  docs/docs/managing-flags/code-references.md
  docs/docs/third-party-integrations/backstage.md
  docs/docs/third-party-integrations/ci-cd/terraform.md
Labels: docs

docs(CLI): Add CI/CD usage and a legacy CLI migration guide
  docs/docs/integrating-with-flagsmith/CLI.md
  docs/docs/integrating-with-flagsmith/legacy-cli.md
Labels: docs

docs(OIDC): Document workflow filename matching, qualify token permissions and exchange URL
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/authentication.md
Labels: docs

docs: Document OIDC trust relationships and token exchange
  docs/docs/deployment-self-hosting/core-configuration/environment-variables.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/authentication.md
Labels: docs

feat(OIDC): Include api-url in the workflow snippet off SaaS
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/WorkflowSetupSnippet.tsx
Labels: front-end

feat(OIDC): Let the GitHub form match a workflow filename
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/__tests__/isGithubFormEditable.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/github.ts
Labels: front-end

docs(CLI): Expand install options and document host-scoped credentials
  docs/docs/integrating-with-flagsmith/CLI.md
Labels: docs

correct docs snippet
  docs/docs/integrating-with-flagsmith/CLI.md
Labels: docs

fix(OIDC): Compare API hosts when omitting api-url from the snippet
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/WorkflowSetupSnippet.tsx
Labels: front-end

docs(CLI): Bump actions/checkout to v7 in the CI snippet
  docs/docs/integrating-with-flagsmith/CLI.md
Labels: docs

fix(e2e): decide the signup flow from the redirect, not a flag read
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

chore(e2e): pin the environment, drop networkidle, quieten the dev overlay
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/mv-options-tests.pw.ts
  frontend/rspack/rspack.config.local.js
Labels: front-end

chore(e2e): trim the comment to the part the code cannot say
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

fix(e2e): match the signup redirect on pathname, not the whole URL
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

chore(e2e): say server-assigned anonymous identity, not per-signup
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

chore(e2e): shorten the comment to the bucketing contrast
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

chore(e2e): say the flag buckets per organisation
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

refactor(identities): name the unmatched override types
  frontend/common/utils/multivariate.ts
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

fix(identities): do not latch an override from an unloaded feature state
  frontend/common/utils/__tests__/multivariate.test.ts
  frontend/common/utils/multivariate.ts
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
Labels: front-end

fix(e2e): decide the signup flow from the redirect (#8335)
  frontend/e2e/tests/initialise-tests.pw.ts
Labels: front-end

feat(cohorts): add Mixpanel cohort sync webhook
  api/api/openapi.py
  api/cohorts/authentication.py
  api/cohorts/migrations/0004_mixpanel_source.py
  api/cohorts/models.py
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/sync_urls.py
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/conftest.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  sdk/openapi.yaml
Labels: docs, api

issue 8337 fix
  frontend/web/components/pages/features/hooks/__tests__/deepLinkedFeature.test.ts
  frontend/web/components/pages/features/hooks/deepLinkedFeature.ts
Labels: front-end

fix(cohorts): harden sync key auth and drop the external ID constraint
  api/cohorts/authentication.py
  api/cohorts/migrations/0004_mixpanel_source.py
  api/cohorts/models.py
  api/cohorts/services.py
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fixing pr comments
  docs/docs/support/faq/security-compliance.mdx
Labels: docs

chore: notify Slack after frontend production deploy
  .github/actions/notify-slack-deploy/action.yml
  .github/workflows/frontend-deploy-production.yml
Labels: none
