Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(identities): evaluate system traits when matching segments for edge identities (#8266)
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/util/engine_models/context/test_unit_context_mappers.py
  api/util/engine_models/context/mappers.py
Labels: api

fix(segments): include the unmanaged value in the managed_by schema
  api/segments/migrations/0031_segment_managed_by.py
  api/segments/models.py
Labels: api

fix(cohorts): require environment access for cohort writes
  api/cohorts/permissions.py
  api/tests/unit/cohorts/test_views.py
Labels: api

fix(cohorts): block change requests from modifying cohort-managed segments
  api/core/workflows_services.py
  api/features/workflows/core/exceptions.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(cohorts): require manage segment overrides for cohort writes
  api/cohorts/permissions.py
  api/tests/unit/cohorts/test_views.py
Labels: api

fix(edge): tolerate null system_traits in set_system_trait
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

feat(cohorts): add environment cohort CRUD API (#8248)
  api/cohorts/migrations/0002_cohort_deletion_requested_at.py
  api/cohorts/models.py
  api/cohorts/permissions.py
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/tasks.py
  api/cohorts/urls.py
  api/cohorts/views.py
  api/core/workflows_services.py
  api/environments/urls.py
  api/features/workflows/core/exceptions.py
  api/segments/migrations/0031_segment_managed_by.py
  api/segments/models.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/unit/cohorts/test_permissions.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_tasks.py
  api/tests/unit/cohorts/test_views.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/tests/unit/segments/test_unit_segments_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: docs, api

fix(edge): tolerate null system_traits in set_system_trait (#8270)
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

spike(usage): free plans have a notification period, not a grace period
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/GraceChip.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBanner.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/fixtures.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/types.ts
Labels: front-end

chore(onboarding): move the non-hooks out of the hooks folder
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/bootstrap/createOrganisationViaAccountStore.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

fix(onboarding): don't seed a demo flag into a project that has flags
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/bootstrap/__tests__/demoFlag.test.ts
  frontend/web/components/pages/onboarding/bootstrap/demoFlag.ts
  frontend/web/components/pages/onboarding/hooks/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

update tests
  api/tests/unit/segments/test_unit_segments_migrations.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

fix(experimentation): retry experiment computes on transient ClickHouse errors
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: remove slop
  api/experimentation/tasks.py
Labels: api

classy 🍷
  api/segments/serializers.py
Labels: api

fix: revert thread-local ClickHouse client caching, keep per-timeout cache
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(Audit): Retrieving records via /api/v1/audit/ with a master API key results in error
  api/api_keys/user.py
  api/audit/views.py
  api/tests/unit/audit/test_unit_audit_views.py
  api/tests/unit/platform_hub/test_views.py
  api/tests/unit/users/test_unit_users_models.py
  api/users/abc.py
  api/users/models.py
Labels: api

lax the schema
  api/segments/migrations/0032_add_segment_rules_data.py
  api/tests/unit/segments/test_unit_segments_migrations.py
Labels: api

fix(onboarding): only tour a flag we created
  frontend/web/components/pages/onboarding/bootstrap/__tests__/demoFlag.test.ts
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/bootstrap/demoFlag.ts
Labels: front-end

fix(onboarding): stop polling when there is no flag to tour
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
Labels: front-end

fix(onboarding): don't fail onboarding when the tag lookup fails
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
Labels: front-end

test(versioning): assert overwritten state and de-duplicate conflict setup
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

fix(billing): max seats stays out of sync after plan upgrades
  api/organisations/chargebee/webhook_handlers.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

fix(onboarding): run onboarding on the newest project, not the first
  frontend/web/components/pages/onboarding/bootstrap/__tests__/onboardingProject.test.ts
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/bootstrap/onboardingProject.ts
Labels: front-end

fix(identities): multivariate override editor hides the identity's override value
  frontend/common/utils/__tests__/multivariate.test.ts
  frontend/common/utils/multivariate.ts
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

strenghten types
  api/segments/models.py
  api/segments/serializers.py
  api/segments/types.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

one less db call for most
  api/segments/serializers.py
Labels: api

naming is hard, now docstrings...
  api/segments/serializers.py
  api/tests/conftest.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(Segments): Write rules as plain JSON (#8245)
  api/experimentation/services.py
  api/integrations/launch_darkly/services.py
  api/segments/migrations/0032_add_segment_rules_data.py
  api/segments/models.py
  api/segments/serializers.py
  api/segments/services.py
  api/segments/types.py
  api/tests/conftest.py
  api/tests/types.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__rules_data.json
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/segments/conftest.py
  api/tests/unit/segments/test_unit_segments_migrations.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_services.py
  api/tests/unit/segments/test_unit_segments_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: docs, api

feat: create segment sources fake door modal
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/web/components/icons/Icon.tsx
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.scss
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.tsx
  frontend/web/components/modals/CreateSegmentSourcesModal/index.ts
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

fix(experimentation): retry experiment computes on transient ClickHouse errors (#8273)
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: create segment sources fake door modal (#8272)
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/web/components/icons/Icon.tsx
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.scss
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.tsx
  frontend/web/components/modals/CreateSegmentSourcesModal/index.ts
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

fix(OAuth): `flagsmith login` never completes for a new signup
  frontend/common/stores/account-store.js
  frontend/common/utils/__tests__/pendingAuthorisation.test.ts
  frontend/common/utils/pendingAuthorisation.ts
  frontend/web/components/App.js
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/home-page/HomePage.tsx
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/main.js
  frontend/web/project/api.ts
Labels: front-end

refactor(OAuth): Serve consent scope descriptions from the API
  api/oauth2_metadata/constants.py
  api/oauth2_metadata/mappers.py
  api/oauth2_metadata/types.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_authorize_view.py
  api/tests/unit/oauth2_metadata/test_mappers.py
  frontend/common/types/responses.ts
  frontend/web/components/pages/OAuthAuthorizePage.tsx
Labels: front-end, api

fix(onboarding): record the exposure for the variant we actually show
  frontend/common/utils/__tests__/onboardingEntry.test.ts
  frontend/common/utils/onboardingEntry.ts
  frontend/web/components/App.js
Labels: front-end

refactor(OAuth): Name the cookie expiry type
  frontend/web/project/api.ts
Labels: front-end

fix(onboarding): recognise our own flag instead of refusing to tour
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.scss
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/bootstrap/__tests__/demoFlag.test.ts
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/bootstrap/demoFlag.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

god bless the unlucky ones
  api/app/settings/common.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

fix(value-editor): restore the border on JSON values
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

fix(Segments): Flaky test fails because of unspecified Condition ordering (#8284)
  api/app/settings/common.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api
