Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Fix local environment defaults
  api/.env-local
  frontend/.env-local
Labels: front-end, api

Add `make reset` command for local development
  api/Makefile
  api/app/settings/test.py
  api/core/management/commands/reset_local_database.py
  api/tests/integration/core/test_reset_local_database.py
  docs/docs/project-and-community/contributing.md
Labels: docs, api

Fix cookieSameSite reading wrong environment variable
  frontend/api/index.js
Labels: front-end

Block `make reset` with a safety setting
  api/app/settings/common.py
  api/app/settings/local.py
  api/core/management/commands/reset_local_database.py
  api/tests/integration/core/test_reset_local_database.py
Labels: api

Fix segment and identity overrides in reset command
  api/core/management/commands/reset_local_database.py
  api/tests/integration/core/test_reset_local_database.py
Labels: api

Fix coverage
  api/pyproject.toml
Labels: api

fix(features): sync FeatureListStore with search/filter state
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

Update API Flagsmith Defaults
  api/integrations/flagsmith/data/environment.json
Labels: api

fix: explicitely-set-id-in-mv-options
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.ts
Labels: front-end

Update frontend/common/constants.ts
  frontend/common/constants.ts
Labels: front-end

Update frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

Update frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

Fix import
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

Maintain change request date when editing, improve toast message
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

docs: reference environment key and auth
  docs/docs/edge-api/Overview.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/authentication.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/code-examples.md
Labels: docs

feat: improve segment feature association display
  frontend/web/components/ConnectedFeatureOverrideRow.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

docs: reference environment key and auth (#6475)
  docs/docs/edge-api/Overview.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/authentication.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/code-examples.md
Labels: docs

docs: reference environment key and auth (#6475)
  docs/docs/edge-api/Overview.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/authentication.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/code-examples.md
Labels: docs

Highlight when segment override exists without changes
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
Labels: front-end

Remove comment
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

refactor(features): use shared FEATURES_PAGE_SIZE constant
  frontend/common/stores/feature-list-store.ts
Labels: front-end

fix(features): transform multivariate options to correct API format
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useProjectFlag.ts
Labels: front-end

test(e2e): add seed data for pagination and multivariate tests
  api/e2etests/e2e_seed_data.py
Labels: api

test(e2e): add pagination and multivariate change request tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/feature-pagination-test.ts
Labels: front-end

Fix conflict
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

fix: extracted-mv-mapping-into-utils
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/utils/utils.tsx
Labels: front-end

fix(useProjectFlag): include multivariate_feature_state_values in environment states
  frontend/common/services/useProjectFlag.ts
Labels: front-end

infra: Enable Admin API throttling in production
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

fix: mv id missing in creating cr (#6471)
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/utils/utils.tsx
Labels: front-end

Add user throttle rate to ECS task definition
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

infra: Enable Admin API throttling in production (#6479)
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

infra: Enable Admin API throttling in production (#6479)
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

chore(main): release 2.205.8
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.8 (#6462)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.8 (#6462)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

re-fetch features on page focus
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

test(e2e): add multivariate toggle and change request E2E tests
  frontend/e2e/tests/flag-tests.ts
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
Labels: front-end

refactor(e2e): separate change request test into dedicated test file
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/change-request-test.ts
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

test(e2e): add multivariate toggle from list click test
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

feat(deploy): add SDK service to ECS deployment pipeline
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/.reusable-deploy-ecs.yml
Labels: none
