Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

docs(experimentation): drop the select_related note
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(Flag Dependency): Prevent deleting prerequisite features (#8626)
  api/features/dependencies/exceptions.py
  api/features/dependencies/mappers.py
  api/features/dependencies/services.py
  api/features/dependencies/types.py
  api/features/services.py
  api/features/views.py
  api/tests/integration/features/dependencies/test_feature_management.py
  api/tests/unit/features/dependencies/test_services.py
  api/tests/unit/features/test_unit_features_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
  sdk/openapi.yaml
Labels: docs, api

refactor(Flag Dependency): Resolve migrated conditions by their JSONPath
  api/features/dependencies/migrations/0002_split_dependency_segments.py
Labels: api

deps(api): Declare jsonpath-rfc9535 as a direct dependency
  api/pyproject.toml
  api/uv.lock
Labels: api

test(Flag Dependency): Condense dependency segment migration tests
  api/tests/unit/features/dependencies/test_migrations.py
Labels: api

fix(Flag Dependency): Harden dependency segment reuse and migration
  api/features/dependencies/migrations/0002_split_dependency_segments.py
  api/features/dependencies/services.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/unit/features/dependencies/test_migrations.py
Labels: api

feat(Flag Dependency): Emit immutable system segments
  api/features/dependencies/migrations/0002_split_dependency_segments.py
  api/features/dependencies/services.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/unit/features/dependencies/test_migrations.py
Labels: api

test(Flag Dependency): Update prerequisite deletion tests to immutable segments
  api/tests/integration/features/dependencies/test_feature_management.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(Flag Dependency): Leave dependency segments with stale references as is
  api/features/dependencies/migrations/0002_split_dependency_segments.py
  api/tests/unit/features/dependencies/test_migrations.py
Labels: api

feat(usage): show the legacy usage page with ?dashboard=legacy
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

feat(usage): expose overage billing eligibility on the organisation
  api/organisations/serializers.py
  api/organisations/services.py
  api/organisations/views.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/organisations/test_unit_organisations_services.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  frontend/common/types/responses.ts
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: front-end, api

feat(usage): show the legacy usage page with ?dashboard=legacy (#8647)
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

feat(SCIM): Display deactivated org memberships
  api/tests/unit/users/test_unit_users_views.py
  api/users/serializers.py
  docs/docs/administration-and-security/access-control/scim.md
  frontend/common/types/responses.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/UserSelect.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/users-permissions/InactiveMembershipChip.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/OrganisationUsersTableRow.tsx
Labels: docs, front-end, api

revert(Flag Dependency): Drop the dependency segment migration
  api/features/dependencies/migrations/0002_split_dependency_segments.py
  api/tests/unit/features/dependencies/test_migrations.py
Labels: api

refactor(SCIM): Let parents own Inactive chip spacing
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/UserSelect.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/users-permissions/InactiveMembershipChip.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/OrganisationUsersTableRow.tsx
Labels: front-end

fix(SCIM): Use strict equality for current user check in CreateGroup
  frontend/web/components/modals/CreateGroup.tsx
Labels: front-end

test(SCIM): Use hardcoded paths in membership status tests
  api/tests/unit/users/test_unit_users_views.py
Labels: api

fix(styles): import the Bootstrap text-truncation helper
  frontend/web/styles/3rdParty/_bootstrap.scss
Labels: front-end

feat(SCIM): Display deactivated org memberships (#8649)
  api/tests/unit/users/test_unit_users_views.py
  api/users/serializers.py
  docs/docs/administration-and-security/access-control/scim.md
  frontend/common/types/responses.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/UserSelect.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/users-permissions/InactiveMembershipChip.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/OrganisationUsersTableRow.tsx
Labels: docs, front-end, api

feat(usage): say whether an overage is covered or charged
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/copy.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

test(Flag Dependency): Drop evaluation test for several prerequisites
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

test(Flag Dependency): Drop identity override precedence test
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

test(Flag Dependency): Drop version publishing test
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

feat(usage): break usage down by project and environment
  frontend/common/services/useOrganisationUsage.ts
  frontend/common/types/requests.ts
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(Flag Dependency): Look up dependency segments by name
  api/features/dependencies/services.py
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

refactor(usage): pick one banner state, then write its message
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/bannerState.test.ts
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/bannerState.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/copy.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

refactor(usage): give the breakdown one status and explicit rows
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(usage): give each piece of usage copy a home by subject
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/bannerMessage.test.ts
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/bannerMessage.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/contribution.ts
  frontend/web/components/pages/usage/copy.ts
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/planHeading.ts
  frontend/web/components/pages/usage/sentences.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

refactor(usage): decide the overage inside bannerStateOf
  frontend/web/components/pages/usage/__tests__/bannerState.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/bannerState.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

refactor(usage): test the breakdown status and fake it in Storybook
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

fix(usage): count the 7 days from the first time over the limit
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/__tests__/bannerMessage.test.ts
  frontend/web/components/pages/usage/__tests__/bannerState.test.ts
  frontend/web/components/pages/usage/bannerMessage.ts
  frontend/web/components/pages/usage/bannerState.ts
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/planHeading.ts
  frontend/web/components/pages/usage/wording.ts
Labels: front-end

refactor(usage): name the text helpers usageText
  frontend/web/components/pages/usage/bannerMessage.ts
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/planHeading.ts
  frontend/web/components/pages/usage/usageText.ts
  frontend/web/components/pages/usage/wording.ts
Labels: front-end

fix(usage): name every environment, not just the first page
  frontend/common/services/useEnvironment.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/__tests__/fetchAllPages.test.ts
  frontend/common/utils/fetchAllPages.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

fix(usage): wait out the rate limit instead of failing the page
  frontend/common/services/useOrganisationUsage.ts
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/throttle.test.ts
  frontend/web/components/pages/usage/components/UsagePageLayout.tsx
  frontend/web/components/pages/usage/throttle.ts
  frontend/web/components/pages/usage/useUsageData.ts
Labels: front-end

fix(usage): wait out the rate limit in the breakdown
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
  frontend/web/components/pages/usage/throttle.ts
Labels: front-end

refactor(usage): say to wait on a 429 instead of counting down
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/throttle.test.ts
  frontend/web/components/pages/usage/components/UsagePageLayout.tsx
  frontend/web/components/pages/usage/throttle.ts
  frontend/web/components/pages/usage/useUsageData.ts
Labels: front-end

refactor(usage): say to wait on a throttled breakdown
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/throttle.ts
Labels: front-end

refactor(usage): call it the limit status, not the banner state
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/limitStatus.test.ts
  frontend/web/components/pages/usage/__tests__/limitStatusMessage.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/limitStatus.ts
  frontend/web/components/pages/usage/limitStatusMessage.ts
Labels: front-end

refactor(usage): cache usage results instead of a throttled state
  frontend/common/services/useOrganisationUsage.ts
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
  frontend/web/components/pages/usage/throttle.ts
Labels: front-end

refactor(usage): type the environments query error honestly
  frontend/common/services/useEnvironment.ts
  frontend/common/utils/__tests__/fetchAllPages.test.ts
  frontend/common/utils/fetchAllPages.ts
Labels: front-end
