Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

soon™
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

docs: SCIM provisioning (#7139)
  docs/docs/administration-and-security/access-control/index.md
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

fix(SCIM): Incorrect plan attribution (#7559)
  frontend/common/utils/utils.tsx
Labels: front-end

feat: Adding a unique ID to every integration auth and save buttons
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

Fix N+1 on get_segment
  api/segments/views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

refactor(segments): nest retrieve select_related and deduplicate test setup
  api/segments/views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

feat: Adding a unique ID to every integration setup button (#7560)
  frontend/web/components/IntegrationList.tsx
Labels: front-end

feat: Adding a unique ID to every integration auth and save buttons (#7562)
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

feat(experimentation): add config JSONField and created status for Snowflake warehouses
  api/experimentation/migrations/0002_add_config_and_created_status.py
  api/experimentation/models.py
  api/experimentation/types.py
Labels: api

feat(experimentation): add per-type config validation and writable name
  api/experimentation/serializers.py
Labels: api

feat(experimentation): add Snowflake warehouse tests and update status assertions
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): add Snowflake config types and update create request
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

feat(experimentation): add Snowflake connection drawer form with narrow modal
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/CreateWarehouseConnectionModal.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

feat(experimentation): add private warehouse button and Snowflake card support
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat(experimentation): moved lookup key from uuid to id
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): support id instead of uuid for warehouse connections
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat: experimentation flagsmith warehouse setup api scaffolding (#7542)
  api/app/settings/common.py
  api/audit/related_object_type.py
  api/environments/urls.py
  api/experimentation/__init__.py
  api/experimentation/apps.py
  api/experimentation/constants.py
  api/experimentation/migrations/0001_introduce_warehouse_connection.py
  api/experimentation/migrations/__init__.py
  api/experimentation/models.py
  api/experimentation/permissions.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/urls.py
  api/experimentation/views.py
  api/integrations/flagsmith/data/environment.json
  api/tests/unit/experimentation/__init__.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_permissions.py
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_views.py
Labels: api

Prevent webhook redirects
  api/webhooks/webhooks.py
Labels: api

feat(experimentation): config nullable
  api/experimentation/migrations/0002_add_config_and_created_status.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): added error state on get failure
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

Use getaddrinfo to catch private IPv6 addresses in SSRF validator
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/fields.py
Labels: api

feat(experimentation): reworked-layout
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat(experimentation): implemented patch to edit existing connectoin
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/CreateWarehouseConnectionModal.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
Labels: front-end

feat(experimentation): implemented patch endpoint for existing connections
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): Snowflake warehouse connection support
  api/experimentation/migrations/0002_add_config_and_created_status.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/types.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): Snowflake warehouse frontend — drawer form, action menu, edit support
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/CreateWarehouseConnectionModal.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

Add trust centre link
  docs/docs/support/index.mdx
Labels: docs

docs: Add trust centre link (#7567)
  docs/docs/support/index.mdx
Labels: docs

fix: update @rspack/core, @rspack/plugin-react-refresh and sass-loader for rspack v2 compatibility
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat(experimentation): Snowflake warehouse connection support (#7565)
  api/experimentation/migrations/0002_add_config_and_created_status.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/types.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): validate-remote-config-fix-null-doc-and-loader
  frontend/common/utils/utils.tsx
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat(experimentation): fixed import and accessibility
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
  frontend/web/styles/components/_metrics.scss
Labels: front-end

feat: experimentation warehouse setup frontend (#7543)
  frontend/common/hooks/useCollapsibleHeight.ts
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/environment-settings/index.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseStats.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
  frontend/web/routes.js
  frontend/web/styles/components/_metrics.scss
Labels: front-end

Add .gemini/config.yaml and styleguide.md
  .gemini/config.yaml
  .gemini/styleguide.md
Labels: none

feat(experimentation): re-introduced scim configuration types
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
Labels: front-end

feat(experimentation): hide tab with flag
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
Labels: front-end

feat(experimentation): hide tab with flag (#7575)
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
Labels: front-end

fix: rename SAML config "Name" field to "Organisation Name"
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

feat: optional project admin assignment on project creation
  frontend/web/components/modals/CreateProject.js
Labels: front-end

add `CLICKHOUSE_URL`
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
Labels: infrastructure
