Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

refactor: complete projectId/organisationId standardization in settings pages
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
Labels: front-end

fix: adjust based on feedback
  frontend/web/components/pages/organisation-settings/hooks/useDeleteOrganisationWithToast.ts
Labels: front-end

deps: Bump flagsmith-flag-engine from 6.0.2 to 6.1.1
  api/poetry.lock
  api/pyproject.toml
Labels: api

tests: add test to check name is updated
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/organisation-test.ts
Labels: front-end

fix: get updated org from rtk with store as fallback
  frontend/web/components/navigation/SelectOrgAndProject.tsx
Labels: front-end

refactor: migrate BreadcrumbSeparator to RTK Query
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end

fix: invalidate RTK Query cache after organization creation
  frontend/web/components/modals/CreateOrganisation.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
Labels: front-end

fix: replace refreshOrganisation with selectOrganisation after deletion
  frontend/web/components/pages/organisation-settings/hooks/useDeleteOrganisationWithToast.ts
Labels: front-end

fix: add getOrganisation call after org deletion
  frontend/web/components/pages/organisation-settings/hooks/useDeleteOrganisationWithToast.ts
Labels: front-end

fix: invalidate cache when creating a new org
  frontend/web/components/modals/CreateOrganisation.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
Labels: front-end

Typing fixes
  api/environments/identities/models.py
  api/features/feature_states/serializers.py
  api/features/feature_states/views.py
  api/features/versioning/versioning_service.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
Labels: api

Update SegmentSerializer name
  api/features/feature_states/serializers.py
Labels: api

tests: add new tests on organization settings
  frontend/e2e/tests/organisation-test.ts
Labels: front-end

test: remove flaky tests
  frontend/e2e/tests/organisation-test.ts
Labels: front-end

fix: add missing waitForElementNotExist import and wait in Test 3
  frontend/e2e/tests/organisation-test.ts
Labels: front-end

refactor: extract empty state and metrics components from FeaturesPage
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/FeatureMetricsSection.tsx
  frontend/web/components/pages/features/FeaturesEmptyState.tsx
  frontend/web/components/pages/features/index.ts
Labels: front-end

refactor: extract FeaturesTableFilters as pure component without store dependencies
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/pages/features/index.ts
Labels: front-end

feat: renamed-sample-to-webhook-provider
  frontend/web/components/feature-health/components/FeatureHealthProviderDocumentationNote.tsx
  frontend/web/components/feature-health/feature-health.types.ts
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/EditHealthProvider.tsx
Labels: front-end

feat: renamed-webhook-to-generic
  frontend/web/components/feature-health/components/FeatureHealthProviderDocumentationNote.tsx
  frontend/web/components/feature-health/feature-health.types.ts
  frontend/web/components/pages/project-settings/tabs/EditHealthProvider.tsx
Labels: front-end

Add wording that slack support is an add-on
  docs/docs/support/index.mdx
Labels: docs

Update wording in payment.js
  frontend/web/components/modals/Payment.js
Labels: front-end

Capitalisation
  frontend/web/components/modals/Payment.js
Labels: front-end

refactor: simplify BreadcrumbSeparator and add organisationId fallback
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/pages/organisation-settings/OrganisationSettingsPage.tsx
Labels: front-end

feat: renamed-feature-health-sample-to-generic
  api/features/feature_health/migrations/0003_migrate_sample_to_generic.py
  api/features/feature_health/models.py
  api/features/feature_health/providers/generic/__init__.py
  api/features/feature_health/providers/generic/mappers.py
  api/features/feature_health/providers/generic/services.py
  api/features/feature_health/providers/generic/types.py
  api/features/feature_health/services.py
  api/tests/integration/features/feature_health/conftest.py
  api/tests/integration/features/feature_health/test_views.py
  api/tests/unit/features/feature_health/conftest.py
  api/tests/unit/features/feature_health/test_admin.py
  api/tests/unit/features/feature_health/test_models.py
  api/tests/unit/features/feature_health/test_services.py
Labels: api

feat: doc-finetuning
  docs/docs/managing-flags/feature-health-metrics.md
  public/webhooks/feature-health-sample-provider.json
Labels: docs

feat: typing
  api/features/feature_health/migrations/0003_migrate_sample_to_generic.py
Labels: api

Fix double use of 'available'
  docs/docs/support/index.mdx
Labels: docs

feat: migrate-to-webhook-feature-health-provider
  api/features/feature_health/migrations/0003_migrate_sample_to_webhook.py
  api/features/feature_health/models.py
  api/features/feature_health/providers/webhook/__init__.py
  api/features/feature_health/providers/webhook/mappers.py
  api/features/feature_health/providers/webhook/services.py
  api/features/feature_health/providers/webhook/types.py
  api/features/feature_health/services.py
  api/tests/integration/features/feature_health/conftest.py
  api/tests/integration/features/feature_health/test_views.py
  api/tests/unit/features/feature_health/conftest.py
  api/tests/unit/features/feature_health/test_admin.py
  api/tests/unit/features/feature_health/test_models.py
  api/tests/unit/features/feature_health/test_services.py
  api/tests/unit/features/test_migrations.py
Labels: api

feat: lint
  api/features/feature_health/providers/generic/mappers.py
Labels: api

feat: migrated-to-webhook
  frontend/web/components/feature-health/components/FeatureHealthProviderDocumentationNote.tsx
  frontend/web/components/feature-health/feature-health.types.ts
  frontend/web/components/pages/project-settings/tabs/EditHealthProvider.tsx
Labels: front-end

feat: migrated-docs-to-webhook
  docs/docs/managing-flags/feature-health-metrics.md
  public/webhooks/feature-health-sample-provider.json
Labels: docs

Bump licensing 0.2.0
  api/poetry.lock
  api/pyproject.toml
Labels: api

Add pylon email signature to `/me`
  api/app/settings/common.py
  api/integrations/pylon/__init__.py
  api/integrations/pylon/identity_verification.py
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  api/users/models.py
  api/users/serializers.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api, infrastructure

Move conditional logic to pylon helper function
  api/integrations/pylon/identity_verification.py
  api/users/models.py
Labels: api

docs: add wording that slack support is an add-on (#6328)
  docs/docs/support/index.mdx
  frontend/web/components/modals/Payment.js
Labels: docs, front-end

docs: add wording that slack support is an add-on (#6328)
  docs/docs/support/index.mdx
  frontend/web/components/modals/Payment.js
Labels: docs, front-end

feat: renamed-file
  public/webhooks/feature-health-webhook-provider.json
Labels: none

Remove erroneous statement on replication of identity information post migration
  docs/docs/performance/edge-api.md
Labels: docs

refactor: remove unnecessary legacy store refresh
  frontend/web/components/pages/organisation-settings/hooks/useUpdateOrganisationWithToast.ts
Labels: front-end

Handle missing project in segment permissions
  api/segments/permissions.py
  api/tests/unit/segments/test_unit_segments_permissions.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
