Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix(sentry): match uploaded sourcemap release to the app's release
  frontend/rspack/rspack.config.prod.js
Labels: front-end

fix(onboarding): let segment overrides match the entry decision
  frontend/common/utils/onboardingEntry.ts
  frontend/web/components/App.js
Labels: front-end

ah the happy path
  api/features/future/__init__.py
  api/features/future/types.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/features/future/__init__.py
  api/tests/integration/features/future/test_update_flag_endpoint.py
  api/tests/integration/helpers.py
Labels: api

who needs tests
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/features/experiments/__init__.py
  api/tests/integration/features/experiments/test_update_flag_endpoint.py
  api/tests/integration/helpers.py
Labels: api

be conservative
  api/features/future/types.py
  api/tests/integration/features/future/test_update_flag_endpoint.py
  docs/docs/managing-flags/updating-flags.md
Labels: docs, api

responses!
  docs/docs/managing-flags/updating-flags.md
Labels: docs

fix(api): update-traits returns 400 for malformed request body (#8199)
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api

docs(segments): Segment membership inspection (#7399)
  docs/docs/flagsmith-concepts/segments/index.md
Labels: docs

docs: Update docs custom ssr to use new instance instead of singleton (#7653)
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/nextjs-and-ssr.md
Labels: docs

fix(Segments): delete_segment task crashes when segment already deleted (#8136)
  api/segments/tasks.py
  api/tests/unit/segments/test_unit_segments_tasks.py
Labels: api

refactor(OIDC): Share master-API-key authentication exclusion mixin
  api/api_keys/views.py
  api/trust_relationships/views.py
Labels: api

fix(OIDC): Partial unique index breaks non-Postgres vendors
  api/trust_relationships/migrations/0001_initial.py
Labels: api

feat(trust-relationships): Add TrustRelationship model and org-scoped CRUD API
  Dockerfile
  api/api_keys/views.py
  api/app/settings/common.py
  api/organisations/models.py
  api/organisations/urls.py
  api/tests/integration/trust_relationships/__init__.py
  api/tests/integration/trust_relationships/conftest.py
  api/tests/integration/trust_relationships/test_viewset.py
  api/tests/unit/trust_relationships/__init__.py
  api/tests/unit/trust_relationships/test_services.py
  api/trust_relationships/__init__.py
  api/trust_relationships/admin.py
  api/trust_relationships/apps.py
  api/trust_relationships/migrations/0001_initial.py
  api/trust_relationships/migrations/__init__.py
  api/trust_relationships/models.py
  api/trust_relationships/serializers.py
  api/trust_relationships/services.py
  api/trust_relationships/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

fix(OIDC): Django admin delete leaves backing key live and hidden
  api/tests/unit/trust_relationships/test_admin.py
  api/trust_relationships/admin.py
Labels: api

fix(OIDC): Trust relationship update silently grants admin
  api/tests/integration/trust_relationships/conftest.py
  api/tests/integration/trust_relationships/test_viewset.py
  api/trust_relationships/serializers.py
  openapi.yaml
Labels: api

test(OIDC): Assert trust relationship error and deletion responses
  api/tests/integration/trust_relationships/test_viewset.py
Labels: api

fix(OIDC): Trust relationship service test fails to typecheck
  api/tests/unit/trust_relationships/test_services.py
Labels: api

refactor(OIDC): Type trust relationship model fields and claim rules
  api/trust_relationships/migrations/0001_initial.py
  api/trust_relationships/models.py
  api/trust_relationships/serializers.py
  api/trust_relationships/services.py
  api/trust_relationships/types.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(OIDC): Trust relationship path params typed as string in OpenAPI
  api/trust_relationships/views.py
  openapi.yaml
Labels: api

perf(OIDC): Avoid N+1 on organisation in trust relationship admin list
  api/trust_relationships/admin.py
Labels: api

feat(OIDC): Add help_text to trust relationship model columns
  api/trust_relationships/migrations/0001_initial.py
  api/trust_relationships/models.py
  openapi.yaml
Labels: api

fix(OAuth): `flagsmith login` never completes for a new signup (#8281)
  api/oauth2_metadata/constants.py
  api/oauth2_metadata/mappers.py
  api/oauth2_metadata/types.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_authorize_view.py
  api/tests/unit/oauth2_metadata/test_mappers.py
  frontend/common/stores/account-store.js
  frontend/common/types/responses.ts
  frontend/common/utils/__tests__/pendingAuthorisation.test.ts
  frontend/common/utils/pendingAuthorisation.ts
  frontend/web/components/App.js
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/OAuthAuthorizePage.tsx
  frontend/web/components/pages/home-page/HomePage.tsx
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/main.js
  frontend/web/project/api.ts
Labels: front-end, api

fix: remove segment_source_beta_requested fake door event
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.tsx
Labels: front-end

fix: remove segment_source_beta_requested fake door event (#8291)
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.tsx
Labels: front-end

Re-add cryptography to force latest version
  api/pyproject.toml
  api/uv.lock
Labels: api

Re-add unexpected type ignore removal
  api/tests/conftest.py
Labels: api

Update comment
  api/pyproject.toml
Labels: api

docs(onboarding): say why the entry decision passes the email trait
  frontend/common/utils/onboardingEntry.ts
Labels: front-end

docs: add missing audit log related object types
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
Labels: docs

feat: load HubSpot script on staging
  frontend/env/project_staging.js
Labels: front-end

deny
  api/tests/integration/features/future/test_update_flag_endpoint.py
Labels: api

it may vary
  api/tests/integration/features/future/test_update_flag_endpoint.py
Labels: api

feat: load HubSpot script on staging (#8293)
  frontend/env/project_staging.js
Labels: front-end

expect telemetry
  api/tests/integration/features/future/test_update_flag_endpoint.py
Labels: api

feat(OIDC): Add Trust Relationship CRUD API (#8042)
  Dockerfile
  api/api_keys/views.py
  api/app/settings/common.py
  api/organisations/models.py
  api/organisations/urls.py
  api/tests/integration/trust_relationships/__init__.py
  api/tests/integration/trust_relationships/conftest.py
  api/tests/integration/trust_relationships/test_viewset.py
  api/tests/unit/trust_relationships/__init__.py
  api/tests/unit/trust_relationships/test_admin.py
  api/tests/unit/trust_relationships/test_services.py
  api/trust_relationships/__init__.py
  api/trust_relationships/admin.py
  api/trust_relationships/apps.py
  api/trust_relationships/migrations/0001_initial.py
  api/trust_relationships/migrations/__init__.py
  api/trust_relationships/models.py
  api/trust_relationships/serializers.py
  api/trust_relationships/services.py
  api/trust_relationships/types.py
  api/trust_relationships/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

chore(OIDC): Explain token exchange verification steps
  api/tests/unit/trust_relationships/test_token_exchange.py
  api/trust_relationships/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(OIDC): Token exchange rejects issuers with a trailing slash
  api/tests/unit/trust_relationships/test_token_exchange.py
  api/trust_relationships/oidc.py
  api/trust_relationships/services.py
Labels: api

feat(trust-relationships): Add OIDC token exchange endpoint
  api/api_keys/views.py
  api/app/settings/common.py
  api/app/settings/test.py
  api/custom_auth/urls.py
  api/tests/integration/trust_relationships/test_token_exchange.py
  api/tests/test_helpers.py
  api/tests/unit/trust_relationships/conftest.py
  api/tests/unit/trust_relationships/test_authentication.py
  api/tests/unit/trust_relationships/test_oidc.py
  api/tests/unit/trust_relationships/test_services.py
  api/tests/unit/trust_relationships/test_token_exchange.py
  api/trust_relationships/authentication.py
  api/trust_relationships/constants.py
  api/trust_relationships/dataclasses.py
  api/trust_relationships/exceptions.py
  api/trust_relationships/oidc.py
  api/trust_relationships/serializers.py
  api/trust_relationships/services.py
  api/trust_relationships/types.py
  api/trust_relationships/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

feat: create segment from CSV drawer
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/common/utils/__tests__/csv.test.ts
  frontend/common/utils/csv.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/web/components/CsvUpload/CsvUpload.scss
  frontend/web/components/CsvUpload/CsvUpload.tsx
  frontend/web/components/CsvUpload/index.ts
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/base/forms/Checkbox.tsx
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.scss
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.tsx
  frontend/web/components/modals/CreateSegmentFromCsv/index.ts
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.tsx
  frontend/web/components/modals/CreateSegmentSourcesModal/index.ts
  frontend/web/components/modals/base/Modal.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

fix(OIDC): Trailing-slash issuer registered via API never matches
  api/tests/integration/trust_relationships/test_viewset.py
  api/tests/unit/trust_relationships/test_token_exchange.py
  api/trust_relationships/serializers.py
Labels: api
