Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix vertical alignment for feature row
  frontend/web/components/feature-summary/FeatureRow.tsx
Labels: front-end

Change request live date logic
  frontend/common/utils/getChangeRequestLiveDate.ts
  frontend/web/components/ChangeRequestConflictCheck.tsx
  frontend/web/components/PublishChangeRequestModal.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

Change request live date logic
  frontend/common/dispatcher/app-actions.js
  frontend/common/services/useChangeRequest.ts
  frontend/common/stores/change-requests-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/ChangeRequestConflictCheck.tsx
  frontend/web/components/PublishChangeRequestModal.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

refactor: migrate project settings to TS and break into smaller components
  frontend/common/services/useProject.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/global.d.ts
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/project-settings/index.tsx
  frontend/web/components/pages/project-settings/shared/types.ts
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/AdditionalSettings.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/DeleteProject.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/EdgeAPIMigration.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/FeatureNameValidation.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/ProjectInformation.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/index.tsx
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
  frontend/web/components/pages/project-settings/tabs/PermissionsTab.tsx
  frontend/web/components/pages/project-settings/tabs/SDKSettingsTab.tsx
  frontend/web/routes.js
Labels: front-end

chore(main): release 2.202.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.202.0 (#6294)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.202.0 (#6294)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

refactor: standardize organisationId type and improve error handling
  frontend/web/components/pages/project-settings/index.tsx
  frontend/web/components/pages/project-settings/shared/types.ts
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/AdditionalSettings.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/DeleteProject.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/EdgeAPIMigration.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/FeatureNameValidation.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/index.tsx
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
  frontend/web/components/pages/project-settings/tabs/PermissionsTab.tsx
  frontend/web/components/pages/project-settings/tabs/SDKSettingsTab.tsx
Labels: front-end

refactor: add check on update func and clean up comments
  frontend/web/components/pages/project-settings/index.tsx
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/index.tsx
  frontend/web/components/pages/project-settings/tabs/SDKSettingsTab.tsx
Labels: front-end

feat: add small transition on hide/show component
  frontend/web/components/pages/project-settings/tabs/GeneralTab/FeatureNameValidation.tsx
Labels: front-end

feat(api): add experimental feature flag update endpoints
  api/api/urls/experiments.py
  api/app/urls.py
  api/environments/urls.py
  api/features/feature_states/serializers.py
  api/features/feature_states/views.py
  api/features/serializers.py
  api/features/versioning/dataclasses.py
  api/features/versioning/versioning_service.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
Labels: api

fix: add disable state for delete project button
  frontend/web/components/pages/project-settings/tabs/GeneralTab/DeleteProject.tsx
Labels: front-end

fix: remove unused types
  frontend/web/components/pages/project-settings/shared/types.ts
Labels: front-end

fix: fix permissions data
  frontend/common/types/responses.ts
  frontend/web/components/pages/project-settings/tabs/PermissionsTab.tsx
Labels: front-end

refactor: simplify import tab passing project name and id
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
Labels: front-end

refactor: create useUpdateProjectWithToast custom hook
  frontend/web/components/pages/project-settings/hooks/index.ts
  frontend/web/components/pages/project-settings/hooks/useUpdateProjectWithToast.ts
Labels: front-end

refactor: migrate settings components to use custom hook
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/index.ts
  frontend/web/components/pages/project-settings/index.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/AdditionalSettings.tsx
  frontend/web/components/pages/project-settings/tabs/GeneralTab/index.tsx
  frontend/web/components/pages/project-settings/tabs/SDKSettingsTab.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/GeneralTab.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/index.ts
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/DeleteProject.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/EdgeAPIMigration.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/AdditionalSettings.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/CaseSensitivitySetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/PreventFlagDefaultsSetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/index.ts
Labels: front-end

docs: Update PostgreSQL version to 12+ (#6293)
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/aws.md
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/google-cloud.md
Labels: docs

docs: Update PostgreSQL version to 12+ (#6293)
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/aws.md
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/google-cloud.md
Labels: docs

Add missing versions and tidy up formatting
  api/app_analytics/constants.py
Labels: api

Send the ignore_conflicts only when there's a warning
  frontend/web/components/ChangeRequestConflictCheck.tsx
  frontend/web/components/PublishChangeRequestModal.tsx
Labels: front-end

docs: Remove crisp-chat-links plugin from config
  docs/docusaurus.config.ts
Labels: docs

docs: Delete docs/plugins/crisp-chat-links.js
  docs/plugins/crisp-chat-links.js
Labels: docs

refactor: use Pick for UpdateProjectBody type definition
  frontend/common/types/requests.ts
Labels: front-end

feat: add optimistic updates to project mutation
  frontend/common/services/useProject.ts
Labels: front-end

refactor: remove manual state syncing from project settings components
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/AdditionalSettings.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
Labels: front-end

refactor: extract change requests setting into separate component
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/AdditionalSettings.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/ChangeRequestsApprovalsSetting.tsx
Labels: front-end

refactor: remove unnecessary useCallback wrappers
  frontend/web/components/pages/project-settings/tabs/SDKSettingsTab.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/DeleteProject.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/CaseSensitivitySetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/ChangeRequestsApprovalsSetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/PreventFlagDefaultsSetting.tsx
Labels: front-end

docs: remove crisp.js file
  docs/src/theme/Layout/crisp.js
Labels: docs

refactor: small adjusts
  frontend/web/components/pages/project-settings/tabs/SDKSettingsTab.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
Labels: front-end

docs: Add FAQ documentation file
  docs/docs/support/FAQ
Labels: docs

fix: sync OrganisationStore after project updates for navbar refresh
  frontend/web/components/pages/project-settings/hooks/useUpdateProjectWithToast.ts
Labels: front-end

chore: add --fix on lint-staged
  frontend/package.json
Labels: front-end

fix: address PR review comments - type safety and code organization
  frontend/common/types/requests.ts
  frontend/global.d.ts
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
Labels: front-end

fix: don't re-throw error
  frontend/web/components/pages/project-settings/hooks/useUpdateProjectWithToast.ts
Labels: front-end

fix: adjust index files on internal pages
  frontend/web/components/pages/project-settings/tabs/general-tab/index.ts
  frontend/web/components/pages/project-settings/tabs/general-tab/index.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/index.ts
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/index.tsx
Labels: front-end

Remove / update remaining crisp references
  docs/docs/managing-flags/feature-health-metrics.md
  docs/docs/third-party-integrations/analytics/adobe.md
  docs/docs/third-party-integrations/observability-and-monitoring/grafana.md
  docs/src/css/custom.css
  docs/src/theme/Layout/index.js
Labels: docs

Remove open-chat reference
  docs/docs/support/index.mdx
Labels: docs

Remove roadmap
  docs/docs/project-and-community/roadmap.md
Labels: docs

docs: remove crisp (#6307)
  docs/docs/managing-flags/feature-health-metrics.md
  docs/docs/support/index.mdx
  docs/docs/third-party-integrations/analytics/adobe.md
  docs/docs/third-party-integrations/observability-and-monitoring/grafana.md
  docs/docusaurus.config.ts
  docs/plugins/crisp-chat-links.js
  docs/src/css/custom.css
  docs/src/theme/Layout/crisp.js
  docs/src/theme/Layout/index.js
Labels: docs

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
