Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Fix sort order types
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
  frontend/web/components/tables/TableSortFilter.tsx
Labels: front-end

docs: Update vercel.json to remove duplicate redirects
  docs/vercel.json
Labels: docs

Update frontend/common/services/useFeatureAnalytics.ts
  frontend/common/services/useFeatureAnalytics.ts
Labels: front-end

Update frontend/common/services/useFeatureAnalytics.ts
  frontend/common/services/useFeatureAnalytics.ts
Labels: front-end

Re-add remove segment button
  frontend/web/components/pages/SegmentPage.tsx
Labels: front-end

chore(main): release 2.200.0 (#6189)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.200.0 (#6189)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Cache environment analytics
  frontend/common/services/useFeatureAnalytics.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

Fix link
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

add empty message for no analytics, typesafe colour
  frontend/common/utils/utils.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
Labels: front-end

add gap instead of ml
  frontend/web/components/EnvironmentTagSelect.tsx
Labels: front-end

Adjust wording
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

Fix types
  frontend/common/types/responses.ts
Labels: front-end

Fix types
  frontend/web/components/EnvironmentTagSelect.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/pages/AuditLogPage.tsx
Labels: front-end

chore: Add identifier terminology (#6220)
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

chore: Add identifier terminology (#6220)
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

Diff strings considering spaces
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

Adds a view mode selector for diffing features
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

Add view label
  frontend/web/components/diff/DiffFeature.tsx
Labels: front-end

fix: Diff strings considering spaces (#6271)
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

fix: Diff strings considering spaces (#6271)
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

Update claude contexts
  frontend/.claude/commands/api-types-sync.md
  frontend/.claude/commands/backend.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/api-types-sync.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/ui-patterns.md
Labels: front-end

Reinstate Edge Proxy reference documentation
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/vercel.json
Labels: docs

Update claude contexts
  frontend/web/components/modals/CreateFlag/EditFeatureValue.tsx
  frontend/web/components/modals/CreateFlag/index.js
  frontend/web/components/modals/CreateFlag/tabs/FeatureValueTab.tsx
  frontend/web/components/release-pipelines/FeaturePipelineStatus.tsx
Labels: front-end

Fix links
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

Update selection logic
  frontend/web/components/diff/DiffFeature.tsx
Labels: front-end

docs: reinstate Edge Proxy reference documentation (#6274)
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/vercel.json
Labels: docs

docs: reinstate Edge Proxy reference documentation (#6274)
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/vercel.json
Labels: docs

Fix sortorder functionality
  frontend/web/components/PanelSearch.tsx
Labels: front-end

QA feedback
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

Simplify Segment version field with default value
  api/segments/migrations/0030_add_default_to_segment_version.py
  api/segments/models.py
Labels: api

Move segment managers inline and improve naming
  api/segments/managers.py
  api/segments/models.py
Labels: api

Improve segment audit log and tests
  api/segments/models.py
  api/tests/unit/segments/test_unit_segments_models.py
Labels: api

Inherit MetadataSerializerMixin from Serializer
  api/environments/serializers.py
  api/features/serializers.py
  api/metadata/serializers.py
  api/segments/serializers.py
Labels: api

QA feedback
  frontend/web/components/Breadcrumb.tsx
  frontend/web/components/pages/SegmentPage.tsx
Labels: front-end

Adjust environment select
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

Adjust fetching and loading logic
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

Adjust fetching and loading logic
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/tables/TableSortFilter.tsx
Labels: front-end

feat: Improve flag analytics (#6150)
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useFeatureAnalytics.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/AuditLog.tsx
  frontend/web/components/EnvironmentTagSelect.tsx
  frontend/web/components/ToggleChip.js
  frontend/web/components/ToggleChip.tsx
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/FeatureAnalytics.container.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/components/FeatureAnalyticsChart.tsx
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/components/_chip.scss
Labels: front-end

feat: Improve flag analytics (#6150)
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useFeatureAnalytics.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/AuditLog.tsx
  frontend/web/components/EnvironmentTagSelect.tsx
  frontend/web/components/ToggleChip.js
  frontend/web/components/ToggleChip.tsx
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/FeatureAnalytics.container.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/components/FeatureAnalyticsChart.tsx
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/components/_chip.scss
Labels: front-end
