Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix(dark mode): use icon-action for the SAML IonIcon
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

fix(lint): drop empty Sass comment lines in _bootstrap.scss
  frontend/web/styles/3rdParty/_bootstrap.scss
Labels: front-end

chore(onboarding): import classnames as cn to match SelectableCard
  frontend/web/components/pages/onboarding/OnboardingNextSteps/OnboardingNextSteps.tsx
Labels: front-end

fix(sdk): return 400 when identifier is missing from SDK identity endpoint
  api/environments/identities/views.py
Labels: api

fix(webhooks): accept 2xx status codes in webhook test endpoint
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/views.py
Labels: api

update docs
  api/features/models.py
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/updating-flags.md
Labels: docs, api

red stuff
  api/tests/integration/conftest.py
  api/tests/integration/features/versioning/test_update_flag_endpoints.py
Labels: api

fix(features): preserve multivariate bucketing salt across feature state recreation
  api/features/migrations/0067_add_feature_state_mv_hashing_salt.py
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

fix(features): exclude mv_hashing_salt from audit log change details
  api/features/models.py
Labels: api

fix(features): hide mv_hashing_salt from the API and limit recreation guard to segment overrides
  api/features/models.py
  api/features/serializers.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api

docs(features): shorten mv_hashing_salt guard docstring
  api/features/models.py
Labels: api

docs: move the statistics glossary into an Experimentation category
  docs/docs/experimentation/_category_.json
  docs/docs/experimentation/statistics.md
  docs/vercel.json
Labels: docs

docs: add Experimentation setup and usage guides
  docs/docs/experimentation/analyse-an-experiment.md
  docs/docs/experimentation/connect-a-warehouse.md
  docs/docs/experimentation/create-an-experiment.md
  docs/docs/experimentation/create-metrics.md
  docs/docs/experimentation/example-paypal-button.md
  docs/docs/experimentation/index.md
  docs/docs/experimentation/run-an-experiment.mdx
  docs/static/img/experimentation/create-experiment-rollout.png
  docs/static/img/experimentation/create-experiment-setup.png
  docs/static/img/experimentation/experiment-results-analysis.png
  docs/static/img/experimentation/experiment-results-overview.png
  docs/static/img/experimentation/warehouse-tab.png
Labels: docs

docs: point the A/B testing guide at native Experimentation
  docs/docs/experimentation-ab-testing.md
Labels: docs

docs: label the Experimentation sidebar category as beta
  docs/docs/experimentation/_category_.json
Labels: docs

docs: quote the experimentation landing page description
  docs/docs/experimentation/index.md
Labels: docs

fix(workflows): carry mv hashing salt across change request commits
  api/core/workflows_services.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

fix(features): clone multivariate state values in id order
  api/features/models.py
Labels: api

refactor(features): add mv hashing salt succession helpers
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api

test(versioning): cover mv hashing salt inheritance guard clauses
  api/tests/unit/features/versioning/test_unit_versioning_serializers.py
Labels: api

fix(features): warn when a live multivariate lineage is recreated without its salt
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api

fix(versioning): inherit mv hashing salt when recreating a segment override in a version
  api/features/versioning/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

docs: regenerate events catalogue after models.py line shift
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

docs: add mv variants rebucketed event to events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

test(features): add missing given comment
  api/tests/unit/features/test_unit_features_models.py
Labels: api

test(features): cover rebucketing protection for weight edits and change request overrides
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

fix(features): resolve the superseded live state by live_from, not version
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api

fix(webhooks): use response.ok instead of status_code >= 400 and add parametrised 2xx tests
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/views.py
Labels: api

fix(webhooks): use response.ok and add parametrised 2xx tests
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/views.py
Labels: api

fix(tests): correct mock path for requests.post
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

fix(tests): use public URL to avoid SSRF protection
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

fix(tests): mock DNS resolution to bypass SSRF validation
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

fix(tests): set mock response.ok for proper response.ok behavior
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

green stuff
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/features/feature_states/serializers.py
  api/features/feature_states/types.py
  api/features/feature_states/views.py
  api/features/versioning/dataclasses.py
  api/features/versioning/versioning_service.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/features/versioning/test_update_flag_endpoints.py
  api/tests/integration/helpers.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/feature_states/test_serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: docs, api

improve docs
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/updating-flags.md
Labels: docs

name names
  api/api/urls/experiments.py
  api/experimentation/services.py
  api/features/feature_states/serializers.py
  api/features/feature_states/types.py
  api/features/feature_states/views.py
  api/features/versioning/dataclasses.py
  api/features/versioning/versioning_service.py
  api/tests/integration/features/versioning/test_update_flag_endpoints.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/feature_states/test_serializers.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  openapi.yaml
Labels: api

🥕
  api/experimentation/services.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(forms): add FieldLabel and FieldError primitives
  frontend/documentation/components/FieldError.stories.tsx
  frontend/documentation/components/FieldLabel.stories.tsx
  frontend/web/components/base/LabelWithTooltip.tsx
  frontend/web/components/base/forms/FieldError.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
Labels: front-end

fix(forms): update Input call sites for the typed component
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/ChangeRequestsSetting.tsx
  frontend/web/components/GroupSelect.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/RolesSelect.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/inspect-permissions/ProjectPermissions.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/pages/GitHubSetupPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/sdk-keys/SDKKeysPage.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tables/TableSearchFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/AddEditTags.tsx
Labels: front-end

refactor(forms): move login Forgot-password below the field, drop rightComponent
  frontend/documentation/components/InputGroup.stories.tsx
  frontend/web/components/base/forms/InputGroup.tsx
  frontend/web/components/pages/HomePage.tsx
Labels: front-end
