Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

test(value-editor): cover value validation and clipboard copy
  frontend/common/utils/__tests__/copyToClipboard.test.ts
  frontend/web/components/ValueEditor/__tests__/validate.test.ts
Labels: front-end

fix(value-editor): read XML parser errors in Firefox
  frontend/web/components/ValueEditor/validate.ts
Labels: front-end

fix(a11y): make the format labels real buttons
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor(saml): use InputGroup for the IdP metadata field
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

refactor(value-editor): own the label and name the editor
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor(mv): share the control value weight chip
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/ControlWeightChip.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor(value-editor): move its styles out of the highlight.js overrides
  frontend/web/components/ValueEditor/ValueEditor.scss
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/CopyValueButton.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

fix(value-editor): detect the format when the value arrives, not at mount
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/ValueEditor/ValueEditor.scss
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
  frontend/web/styles/styles.scss
Labels: front-end

refactor(value-editor): own validity instead of the format row
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
Labels: front-end

refactor(value-editor): drop the E2E textarea fork
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
Labels: front-end

test(e2e): select the value editors by role and name
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/e2e/tests/mv-options-tests.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
Labels: front-end

refactor: rename to is_valid_edge_proxy_request
  api/app_analytics/middleware.py
  api/tests/unit/app_analytics/test_middleware.py
Labels: api

feat: keep host on aggregated API usage buckets
  api/app_analytics/migrations/0009_apiusagebucket_host.py
  api/app_analytics/models.py
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_tasks.py
Labels: api

chore(renovate): enable lock file maintenance (#8466)
  renovate.json
Labels: none

fix(api): align the optional tag_ids contract across the permission layer
  api/api_keys/user.py
  api/core/redis_cluster.py
  api/core/types.py
  api/features/permissions.py
  api/features/versioning/permissions.py
  api/permissions/permission_service.py
  api/permissions/rbac_wrapper.py
  api/users/models.py
Labels: api

feat: experiment conversion rate chart
  frontend/common/types/responses.ts
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/ExperimentConversionRateCard.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/index.ts
  frontend/web/components/experiments/results/__tests__/deriveConversionRate.test.ts
  frontend/web/components/experiments/results/deriveConversionRate.ts
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix: hypothesis textarea dark mode focus
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
Labels: front-end

fix: hypothesis textarea dark mode focus (#8473)
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
Labels: front-end

feat: experiment conversion rate chart (#8463)
  frontend/common/types/responses.ts
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/ExperimentConversionRateCard.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/index.ts
  frontend/web/components/experiments/results/__tests__/deriveConversionRate.test.ts
  frontend/web/components/experiments/results/deriveConversionRate.ts
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

removed ai comment
  api/app/settings/common.py
Labels: api

fix(value-editor): detect the format when the value arrives, not at mount
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/ValueEditor/ValueEditor.scss
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
  frontend/web/styles/styles.scss
Labels: front-end

refactor(value-editor): use utilities for layout and colour
  frontend/web/components/ValueEditor/ValueEditor.scss
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
Labels: front-end

refactor(value-editor): own the label and name the editor
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor(value-editor): own validity instead of the format row
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
Labels: front-end

test(value-editor): cover value validation and clipboard copy
  frontend/common/utils/__tests__/copyToClipboard.test.ts
  frontend/web/components/ValueEditor/__tests__/validate.test.ts
Labels: front-end

fix(value-editor): show the validation icon in its own colour
  frontend/web/components/ValueEditor/ValueEditor.scss
Labels: front-end

fix(value-editor): read XML parser errors in Firefox
  frontend/web/components/ValueEditor/validate.ts
Labels: front-end

refactor(mv): share the control value weight chip
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/ControlWeightChip.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor(saml): use InputGroup for the IdP metadata field
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

refactor(value-editor): migrate to TypeScript and split by concern
  frontend/common/utils/copyToClipboard.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/ValueEditor.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/CopyValueButton.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
  frontend/web/components/ValueEditor/index.ts
  frontend/web/components/ValueEditor/types.ts
  frontend/web/components/ValueEditor/validate.ts
Labels: front-end

refactor(value-editor): move its styles out of the highlight.js overrides
  frontend/web/components/ValueEditor/ValueEditor.scss
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/CopyValueButton.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

fix(a11y): make the format labels real buttons
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

feat: plot experiment conversions as lines over the last 30 days
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/ExperimentConversionRateCard.tsx
  frontend/web/components/experiments/results/__tests__/deriveConversionRate.test.ts
  frontend/web/components/experiments/results/deriveConversionRate.ts
Labels: front-end

refactor(value-editor): name the validation error and tone types
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
  frontend/web/components/ValueEditor/types.ts
  frontend/web/components/ValueEditor/validate.ts
Labels: front-end

fix(a11y): show a focus border on the value editor
  frontend/web/components/ValueEditor/ValueEditor.scss
Labels: front-end

fix(usage): say what the plan limit counts
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/copy.ts
Labels: front-end

style(value-editor): blank line before the focus comment
  frontend/web/components/ValueEditor/ValueEditor.scss
Labels: front-end

fix(clipboard): keep copying working without TLS
  frontend/common/utils/__tests__/copyToClipboard.test.ts
  frontend/common/utils/copyToClipboard.ts
Labels: front-end

fix(saml): let an emptied IdP metadata field save
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

test(e2e): select the value editors by role and name
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/e2e/tests/mv-options-tests.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
