Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(forms): Field, the shared field skeleton
  frontend/documentation/components/Field.stories.tsx
  frontend/web/components/base/forms/Field.tsx
Labels: front-end

refactor(icons): swap IonIcon close for the custom Icon in touched files
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
Labels: front-end

refactor(forms): migrate custom InputGroup component sites to FieldLabel
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/scim/modals/ScimTokenModal.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

fix(forms): wire DateSelect labels via a forwarded id
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DateSelect.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
Labels: front-end

feat(forms): CopyField owns its label
  frontend/documentation/components/CopyField.stories.tsx
  frontend/web/components/CopyField.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/scim/modals/ScimTokenModal.tsx
Labels: front-end

refactor(forms): collapse the migrated sites onto Field
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

feat: address review feedback
  frontend/web/components/CalloutBar.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.scss
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetupSqlHelp.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSqlSnippet.tsx
Labels: front-end

deps(frontend): bump immutable, postcss, fast-uri and rspack [security]
  frontend/package-lock.json
Labels: front-end

feat: ClickHouse database setup SQL on the warehouse card and docs (#8112)
  docs/docs/experimentation/connect-a-warehouse.md
  frontend/web/components/CalloutBar.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.scss
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetupSqlHelp.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSqlSnippet.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseSetupSql.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/warehouseFormUtils.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseSetupSql.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehouseFormUtils.ts
Labels: docs, front-end

deps(frontend): bump immutable, postcss, fast-uri and rspack [security] (#8156)
  frontend/package-lock.json
Labels: front-end

fix(onboarding): stop polling while the verify console is hidden
  frontend/web/components/pages/onboarding/hooks/useOnboardingConnection.ts
Labels: front-end

feat: simplify to a one-click toggle, system informs the default
  frontend/documentation/components/ThemeToggle.stories.tsx
  frontend/web/components/ThemeToggle/ThemeToggle.tsx
  frontend/web/project/darkMode.ts
Labels: front-end

feat: theme toggle in the top bar behind dark_mode_nav_toggle
  frontend/documentation/components/ThemeToggle.stories.tsx
  frontend/web/components/DarkModeSwitch.tsx
  frontend/web/components/ThemeToggle/ThemeToggle.tsx
  frontend/web/components/ThemeToggle/index.ts
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/ThemeToggle/ThemeToggle.tsx
  frontend/web/project/darkMode.ts
Labels: front-end

fix: harden dark mode storage handling (blocked storage, cross-tab clear)
  frontend/web/project/darkMode.ts
Labels: front-end

style: theme toggle sits left of Getting Started
  frontend/web/components/navigation/navbars/TopNavbar.tsx
Labels: front-end

fix(docker): Make PROMETHEUS_MULTIPROC_DIR writable under any runAsUser
  Dockerfile
Labels: none

deslop
  Dockerfile
Labels: none

fix(docker): Make the multiproc dir sticky
  Dockerfile
Labels: none

fix(docker): API image crashes on startup under a non-default runAsUser (#8158)
  Dockerfile
Labels: none

feat(experimentation): ask for the ClickHouse HTTPS port instead of inferring it
  api/experimentation/services.py
  api/experimentation/types.py
  api/experimentation/warehouse_delivery_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseConfig.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
Labels: docs, front-end, api

fix(experimentation): keep the events table existence check in verification
  api/experimentation/services.py
  api/experimentation/warehouse_delivery_service.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): drop redundant query comment
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): drop redundant constant comment
  api/experimentation/warehouse_delivery_service.py
Labels: api

refactor(experimentation): single events-table probe and one missing-table message
  api/experimentation/services.py
  api/experimentation/warehouse_delivery_service.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs: document the ClickHouse HTTPS port in the warehouse connection guide
  docs/docs/experimentation/connect-a-warehouse.md
Labels: docs

feat: Ask for the ClickHouse HTTPS port instead of inferring it from the native port (#8152)
  api/experimentation/services.py
  api/experimentation/types.py
  api/experimentation/warehouse_delivery_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/experimentation/connect-a-warehouse.md
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseConfig.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
Labels: docs, front-end, api

deps: Bump flagsmith-common to 3.12.1
  api/pyproject.toml
  api/uv.lock
  mcp/pyproject.toml
  mcp/uv.lock
Labels: api

deps: Bump flagsmith-common to 3.12.1 (#8162)
  api/pyproject.toml
  api/uv.lock
  mcp/pyproject.toml
  mcp/uv.lock
Labels: api

feat(forms): FieldContext, declare the field wiring once
  frontend/documentation/components/Field.stories.tsx
  frontend/web/components/base/forms/Field.tsx
  frontend/web/components/base/forms/FieldContext.ts
  frontend/web/components/base/forms/Input.tsx
Labels: front-end

fix(onboarding): stop polling while the verify console is hidden (#8157)
  frontend/web/components/pages/onboarding/hooks/useOnboardingConnection.ts
Labels: front-end

fix: experiment results polish
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/experiments/results/ExperimentRecommendation.tsx
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/StatCard.tsx
  frontend/web/components/experiments/results/VariantName.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
  frontend/web/components/experiments/results/results.scss
Labels: front-end

fix: require inference from all arms before inferring control win probability
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

test: cover explicit null inference entries
  frontend/web/components/experiments/results/__tests__/derive.test.ts
Labels: front-end

fix: fit long winner names to the summary card width
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/VariantName.tsx
  frontend/web/components/experiments/results/results.scss
Labels: front-end

fix(SDK): Flag fetches fail when replica databases are configured
  api/app/routers.py
  api/app/settings/common.py
  api/tests/unit/app/test_unit_app_routers.py
Labels: api

Consolidate copy field pattern usage
  frontend/documentation/components/CopyField.stories.tsx
  frontend/web/components/CopyField.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/sdk-keys/SDKKeysPage.tsx
Labels: front-end

fix: remove invalid eslint-disable for jsx-a11y
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

fix(SDK): Flag fetches fail when replica databases are configured (#8168)
  api/app/routers.py
  api/app/settings/common.py
  api/tests/unit/app/test_unit_app_routers.py
Labels: api

fix: consolidate copy field pattern usage (#8169)
  frontend/documentation/components/CopyField.stories.tsx
  frontend/web/components/CopyField.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/sdk-keys/SDKKeysPage.tsx
Labels: front-end

feat(experimentation): log per-object warehouse delivery outcomes
  api/experimentation/migrations/0012_warehouse_delivery_log.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
