Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix: revert layout change on name and description fields
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
Labels: front-end

refactor: extract logic and clean up
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/segments/Rule/hooks/index.ts
  frontend/web/components/segments/Rule/hooks/useConditionCache.ts
  frontend/web/components/segments/Rule/hooks/useConditionInputType.ts
  frontend/web/components/segments/Rule/hooks/useRuleContext.ts
  frontend/web/components/segments/Rule/utils/arrayUtils.ts
Labels: front-end

fix: search and wrap
  frontend/web/components/base/select/multi-select/CustomValueContainer.tsx
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: front-end

fix: prevent row to grow with multiple values selected
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: front-end

fix: handle undefined values in segment rule operator changes
  frontend/web/components/segments/Rule/Rule.tsx
Labels: front-end

refactor: avoid nested ternary on inline multi value format
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
Labels: front-end

feat: add inline prop on multi-select and handle it as text
  frontend/web/components/base/select/multi-select/CustomValueContainer.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
Labels: front-end

fix: revert IN operator to legacy CSV format for API compatibility
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/segments/Rule/utils/arrayUtils.ts
Labels: front-end

feat: add initial storybook structure and multi select stories
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/documentation/README.md
  frontend/documentation/components/multi-select/MultiSelect.stories.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

Add `setupprometheusmultiproc`
  api/scripts/run-docker.sh
Labels: api

Add `setupprometheusmultiproc` to run-task-processor too
  api/scripts/run-docker.sh
Labels: api

revert run-docker changes in favour of python code in latest flagsmith-common
  api/poetry.lock
  api/scripts/run-docker.sh
Labels: api

feat: context values - implement multi-select dropdown on envs (#6239)
  frontend/common/types/responses.ts
  frontend/web/components/base/select/MultiSelect.tsx
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/base/select/multi-select/index.ts
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsageMetrics.container.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/segments/Rule/hooks/index.ts
  frontend/web/components/segments/Rule/hooks/useConditionInputType.ts
  frontend/web/components/segments/Rule/hooks/useRuleContext.ts
  frontend/web/components/segments/Rule/utils/arrayUtils.ts
  frontend/web/project/project-components.js
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/project/_segments.scss
Labels: front-end

feat: context values - implement multi-select dropdown on envs (#6239)
  frontend/common/types/responses.ts
  frontend/web/components/base/select/MultiSelect.tsx
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/base/select/multi-select/index.ts
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsageMetrics.container.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/segments/Rule/hooks/index.ts
  frontend/web/components/segments/Rule/hooks/useConditionInputType.ts
  frontend/web/components/segments/Rule/hooks/useRuleContext.ts
  frontend/web/components/segments/Rule/utils/arrayUtils.ts
  frontend/web/project/project-components.js
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/project/_segments.scss
Labels: front-end

Update contexts
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/ui-patterns.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/api-types-sync.md
  frontend/.claude/context/backend-integration.md
  frontend/.claude/context/patterns.md
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/CLAUDE.md
  frontend/Makefile
  frontend/docker-compose-e2e-tests.yml
Labels: front-end

Add version-comparison redirects
  docs/vercel.json
Labels: docs

Update flagsmith-common sha
  api/poetry.lock
Labels: api

Update flagsmith-common sha
  api/poetry.lock
Labels: api

Update flagsmith-common sha
  api/poetry.lock
Labels: api

Update flagsmith-common sha
  api/poetry.lock
Labels: api

docs: Add version-comparison redirects (#6263)
  docs/vercel.json
Labels: docs

docs: Add version-comparison redirects (#6263)
  docs/vercel.json
Labels: docs

fix: remove default None values from user_or_key_to_changed_by parameters
  api/tests/unit/webhooks/test_unit_webhooks_mappers.py
  api/webhooks/mappers.py
Labels: api

Add new redirects to vercel.json
  docs/vercel.json
Labels: docs

Adjust wording
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

Update frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
Labels: front-end

Update frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
Labels: front-end

feat: trigger FLAG_UPDATED webhooks for v2 versioning environments (#6240)
  api/environments/models.py
  api/features/tasks.py
  api/features/versioning/tasks.py
  api/features/versioning/versioning_service.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/webhooks/test_unit_webhooks_mappers.py
  api/webhooks/mappers.py
Labels: api

feat: trigger FLAG_UPDATED webhooks for v2 versioning environments (#6240)
  api/environments/models.py
  api/features/tasks.py
  api/features/versioning/tasks.py
  api/features/versioning/versioning_service.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/webhooks/test_unit_webhooks_mappers.py
  api/webhooks/mappers.py
Labels: api

return early if key fields are null
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
Labels: front-end

Update flagsmith-common 2.2.6
  api/poetry.lock
Labels: api

Remove !
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
Labels: front-end

Remove !
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
Labels: front-end

Unused import
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

deps: update flagsmith-common 2.2.6 (#6267)
  api/poetry.lock
Labels: api

deps: update flagsmith-common 2.2.6 (#6267)
  api/poetry.lock
Labels: api

fix: resolve flaky test due to non-deterministic variation ordering (#6269)
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api

fix: resolve flaky test due to non-deterministic variation ordering (#6269)
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api

chore(main): release 2.200.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none
