Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

chore(main): release 2.197.0 (#6096)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(evaluation-result): `EvaluationResult` improvements
  sdk/evaluation-result.json
Labels: none

make all flag properties required
  sdk/evaluation-result.json
Labels: none

docs: update links
  docs/docs/administration-and-security/billing-api-usage.md
  docs/docs/administration-and-security/governance-and-compliance/api-usage.md
  docs/docs/best-practices/flag-lifecycle.md
  docs/docs/best-practices/testing-with-flags.md
  docs/docs/best-practices/when-to-use-flags.md
  docs/docs/deployment-self-hosting/scaling-and-performance/using-influxdb-for-analytics.md
  docs/docs/flagsmith-concepts/identities.md
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/flagsmith-concepts/segments/segment-rule-operators.md
  docs/docs/flagsmith-concepts/targeting-and-rollouts/index.md
  docs/docs/getting-started/feature-flags.md
  docs/docs/getting-started/glossary.md
  docs/docs/getting-started/quick-start.md
  docs/docs/integrating-with-flagsmith/client-side-sdks/index.md
  docs/docs/integrating-with-flagsmith/client-side-sdks/javascript.md
  docs/docs/managing-flags/core-management.md
Labels: docs

fix: await-for-request-and-return-results
  frontend/common/services/usePermission.ts
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

fix: updated-to-new-permissions-as-object-payload
  frontend/common/services/usePermission.ts
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

docs: improve card hover styles
  docs/src/css/custom.css
Labels: docs

Fix change request styles
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

Adjust no value wording
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffString.tsx
Labels: front-end

chore(evaluation-result): `EvaluationResult` improvements (#6124)
  sdk/evaluation-result.json
Labels: none

chore(evaluation-result): `EvaluationResult` improvements (#6124)
  sdk/evaluation-result.json
Labels: none

docs: refine card hover styles
  docs/src/css/custom.css
Labels: docs

QA
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

Track hosting preferences
  frontend/web/project/api.ts
Labels: front-end

Remove stale flags
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/segment-test.ts
  frontend/web/components/App.js
  frontend/web/components/ButterBar.tsx
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/OrganisationUsersTableRow.tsx
Labels: front-end

Remove test_webhook_backend
  frontend/web/components/TestWebhook.tsx
Labels: front-end

Return all emails from Github OAuth call
  api/custom_auth/oauth/github.py
  api/custom_auth/oauth/google.py
  api/custom_auth/oauth/serializers.py
  api/custom_auth/oauth/types.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_github.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_google.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_serializers.py
Labels: api

Make filtering consistent across user and features page
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/tables/TableSortFilter.tsx
Labels: front-end

simplify filters
  frontend/web/components/feature-page/FeatureFilters.tsx
Labels: front-end

re-add loading logic
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

Simplify loading logic
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

re-add metrics flag
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

Don't assume code references exist
  frontend/web/components/feature-summary/FeatureTags.tsx
Labels: front-end

feat: created-specific-endpoints-to-get-option-values-list
  api/api/urls/v1.py
  api/features/multivariate/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat: fixed-types
  api/features/multivariate/serializers.py
  api/features/views.py
Labels: api

feat: fixed-wrong-indentation
  api/features/multivariate/serializers.py
  api/features/views.py
Labels: api

docs: update badge styles and remove unused CURL icon styles
  docs/src/css/custom.css
  docs/src/pages/index.module.css
Labels: docs

docs: update code examples in identities documentation to use JavaScript
  docs/docs/flagsmith-concepts/identities.md
Labels: docs

Don't assume code references exist
  frontend/common/providers/withSegmentOverrides.js
  frontend/common/recursiveServiceFetch.tsx
  frontend/common/services/useSegmentFeatureState.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/Breadcrumb.tsx
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

fix text wrapping
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
Labels: front-end

Fix tag filter in url
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

feat: added-tests-and-removed-useless-query-part
  api/features/views.py
  api/tests/unit/features/test_unit_features_serializers.py
Labels: api

feat: added-tests-for-codecov
  api/tests/unit/features/test_unit_features_serializers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Bump flagsmith-workflows
  api/poetry.lock
  api/pyproject.toml
Labels: api

docs: added-flagsmith-openfeature-doc
  docs/docs/clients/openfeature.md
Labels: docs

fix: await-for-request-and-return-results (#6127)
  frontend/common/services/usePermission.ts
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

fix: await-for-request-and-return-results (#6127)
  frontend/common/services/usePermission.ts
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

feat: create endpoint to get a flag multivariate options (#6134)
  api/api/urls/v1.py
  api/features/multivariate/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_serializers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat: create endpoint to get a flag multivariate options (#6134)
  api/api/urls/v1.py
  api/features/multivariate/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_serializers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix: Remove invalid close modal call for create segment change request (#6115)
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
Labels: front-end
