Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix: linted-test-names
  api/tests/unit/features/feature_segments/test_unit_feature_segments_limits.py
Labels: api

init-db -> migrate-db
  docker-compose.yml
Labels: none

Ignore IDE validation and use `healthcheck.disable`
  docker-compose.yml
Labels: none

fix(ci): Docker compose migration race condition (#7068)
  docker-compose.yml
Labels: none

track changes to .depot
  .depot/workflows/api-pull-request.yml
Labels: none

ci(Tests): Migrate API Pull Request workflow to Depot CI (#7030)
  .depot/workflows/api-pull-request.yml
Labels: none

Fix issues with version endpoint access in all-in-one image
  frontend/api/index.js
  frontend/common/services/useBuildVersion.ts
Labels: front-end

feat(tokens): design token foundation with JSON source of truth
  .github/workflows/frontend-chromatic.yml
  frontend/common/theme/index.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_primitives.scss
  frontend/web/styles/_tokens.scss
  frontend/web/styles/_variables.scss
  frontend/web/styles/styles.scss
Labels: front-end

feat(storybook): Storybook 10 with component stories and Chromatic
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.storybook/docs-theme.scss
  frontend/.storybook/main.js
  frontend/.storybook/manager-head.html
  frontend/.storybook/manager.js
  frontend/.storybook/modes.js
  frontend/.storybook/preview.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/documentation/components/Banner.stories.tsx
  frontend/documentation/components/Button.stories.tsx
  frontend/documentation/components/DocPage.tsx
  frontend/documentation/components/Icons.stories.tsx
  frontend/documentation/components/ScaleRow.tsx
  frontend/documentation/components/Setting.stories.tsx
  frontend/documentation/components/Skeleton.mdx
  frontend/documentation/components/Skeleton.stories.tsx
  frontend/documentation/components/Swatch.tsx
  frontend/documentation/components/Switch.stories.tsx
  frontend/documentation/components/TokenGroup.tsx
  frontend/documentation/docs.scss
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Banner/Banner.tsx
  frontend/web/components/Banner/banner.scss
  frontend/web/components/Banner/index.ts
  frontend/web/components/SettingRow/SettingRow.tsx
  frontend/web/components/SettingRow/index.ts
  frontend/web/components/SettingRow/setting-row.scss
  frontend/web/components/Skeleton/Skeleton.tsx
  frontend/web/components/Skeleton/index.ts
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/RequireFeatureOwnershipSetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/index.tsx
Labels: front-end

docs(storybook): add token documentation stories
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/documentation/ColourPalette.stories.tsx
  frontend/documentation/ElevationTokens.stories.tsx
  frontend/documentation/MotionTokens.stories.tsx
  frontend/documentation/RadiusTokens.stories.tsx
  frontend/documentation/SemanticTokens.stories.tsx
  frontend/documentation/SpacingTokens.stories.tsx
  frontend/documentation/TokenReference.generated.stories.tsx
Labels: front-end

docs(storybook): add MDX documentation pages
  frontend/documentation/DecisionFramework.mdx
  frontend/documentation/Introduction.mdx
  frontend/documentation/TokenMaintenance.mdx
  frontend/documentation/Typography.mdx
Labels: front-end

feat: Migrate to flagsmith-common centralized logging
  api/.env-ci
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/util/test_logging.py
  api/util/logging.py
Labels: api

fix: Disable Django LOGGING_CONFIG to preserve setup_logging configuration
  api/app/settings/common.py
Labels: api

chore: Switch to flagsmith-common 3.5.0 release and set APPLICATION_LOGGERS
  api/poetry.lock
  api/pyproject.toml
  api/scripts/run-docker.sh
Labels: api

fix(typing): Cover import-untyped error code in licensing import
  api/organisations/urls.py
Labels: api

feat(Logging): Unify logging format (#7050)
  api/.env-ci
  api/app/settings/common.py
  api/organisations/urls.py
  api/poetry.lock
  api/pyproject.toml
  api/scripts/run-docker.sh
  api/tests/unit/util/test_logging.py
  api/util/logging.py
Labels: api

fixup: remove redundant master API key test
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fixup: remove redundant remove_owners test
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat: added-dcr-endpoints
  api/app/urls.py
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/services.py
  api/oauth2_metadata/views.py
Labels: api

feat: added-throttle-on-dcr-registration-endpoint
  api/app/settings/common.py
  api/app/settings/test.py
Labels: api

feat: clean-up-stale-apps
  api/oauth2_metadata/tasks.py
Labels: api

feat: added-dcr-tests
  api/tests/unit/oauth2_metadata/test_dcr.py
  api/tests/unit/oauth2_metadata/test_tasks.py
Labels: api

fix: Version endpoints not returning JSON in all-in-one Docker deployment (#7079)
  frontend/api/index.js
  frontend/common/services/useBuildVersion.ts
Labels: front-end

Bump flagsmith-ldap
  api/poetry.lock
  api/pyproject.toml
Labels: api

docs: add guide for experimental flag update endpoints
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/updating-flags.md
Labels: docs

deps: Bump flagsmith-ldap 0.1.1 -> 0.1.2 (#7082)
  api/poetry.lock
  api/pyproject.toml
Labels: api

Invoice immediately for new seats
  api/organisations/chargebee/chargebee.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

Update addon id
  api/organisations/chargebee/constants.py
Labels: api

feat(tokens): add token utility classes and remove spacing tokens
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/SpacingTokens.stories.tsx
  frontend/documentation/TokenMaintenance.mdx
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/documentation/docs.scss
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
  frontend/web/styles/styles.scss
Labels: front-end

feat(tokens): auto-generate utility classes from tokens.json
  frontend/documentation/TokenMaintenance.mdx
  frontend/package.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
Labels: front-end

fix(charts): use semantic colour tokens for dark mode (#6889)
  frontend/common/hooks/useChartTheme.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/modals/create-experiment/ExperimentResultsTab.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
  frontend/web/components/pages/admin-dashboard/components/UsageTrendsChart.tsx
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

refactor(charts): make useChartTheme generic
  frontend/common/hooks/useChartTheme.ts
  frontend/web/components/modals/create-experiment/ExperimentResultsTab.tsx
Labels: front-end

feat(charts): add shared ChartTooltip component with colour swatch
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

refactor(charts): remove tooltipLabelColour from useChartTheme
  frontend/common/hooks/useChartTheme.ts
Labels: front-end

refactor(charts): use shared ChartTooltip across all chart components
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/modals/create-experiment/ExperimentResultsTab.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
  frontend/web/components/pages/admin-dashboard/components/UsageTrendsChart.tsx
Labels: front-end

fixup: skip auto-adding creator when owners are explicitly provided
  api/features/serializers.py
Labels: api

fixup: address PR review comments 2-5
  frontend/web/components/FeatureOwnerSelect.tsx
  frontend/web/components/FlagOwnerGroups.js
  frontend/web/components/FlagOwnerGroups.tsx
  frontend/web/components/FlagOwners.js
  frontend/web/components/FlagOwners.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
Labels: front-end

feat: use-standard-rfc7591-errors
  api/oauth2_metadata/services.py
  api/oauth2_metadata/views.py
  api/oauth2_test_server.mjs
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

feat: migrated-owners-components-to-rtk
  frontend/common/services/useProjectFlag.ts
  frontend/common/types/requests.ts
  frontend/common/utils/getUserDisplayName.tsx
  frontend/web/components/FlagOwnerGroups.tsx
  frontend/web/components/FlagOwners.tsx
  frontend/web/components/UserSelect.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
Labels: front-end

fix: Invoke backend logout API on logout button click to prevent broken authentication (#6820)
  frontend/common/stores/account-store.js
Labels: front-end
