Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix: always show test connection button on warehouse form
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
Labels: front-end

refactor(styles): diff view on the shared code tokens
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

test(storybook): add DiffString stories
  frontend/documentation/pages/DiffString.stories.tsx
Labels: front-end

refactor(import_export): Use smart_open for streaming S3 export
  api/import_export/export.py
  api/import_export/utils.py
  api/pyproject.toml
  api/tests/unit/import_export/test_unit_import_export_utils.py
  api/uv.lock
Labels: api

fix(workflows): block stale change request commits that conflict with published changes
  api/core/workflows_services.py
  api/features/workflows/core/exceptions.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

fix(onboarding): pick the arm from the flag's variant name
  frontend/common/utils/getOnboardingVariant.ts
  frontend/common/utils/utils.tsx
Labels: front-end

smithers-only
  api/environments/onboarding/urls.py
  api/tests/conftest.py
  api/tests/test_helpers.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
  api/tests/unit/onboarding/conftest.py
  api/tests/unit/onboarding/test_views.py
Labels: api

wait it
  api/environments/onboarding/services.py
  api/environments/onboarding/views.py
  api/features/views.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

tweak api visibility
  api/environments/onboarding/urls.py
  api/environments/onboarding/views.py
  api/tests/conftest.py
  api/tests/test_helpers.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
  api/tests/unit/onboarding/conftest.py
  api/tests/unit/onboarding/test_views.py
Labels: api

Fix KeyError on partial mv-options PATCH updates (Resolves #8073)
  api/features/multivariate/serializers.py
Labels: api

Fix model default bypass on creates and add regression test
  api/features/multivariate/serializers.py
  api/tests/unit/features/multivariate/test_unit_multivariate_views.py
Labels: api

fix: discard stale warehouse test results and terminal punctuation edge
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/warehouseFormUtils.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehouseFormUtils.ts
Labels: front-end

Apply suggestion from @themis-blindfold[bot]
  frontend/api/dev-routes.js
Labels: front-end

feat(experimentation): seed per-environment ingestion destination in Redis
  api/experimentation/ingestion_sync_service.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

fix(experimentation): write ingestion destination before publishing keys
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

fix(experimentation): treat blank stream name as missing destination
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

fix: return 400 instead of crashing when update-traits data is not an object (closes #7951)
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api

perf(features): Decouple feature list query cost from project version history
  api/features/features_service.py
  api/features/versioning/migrations/0008_add_last_modified_indexes.py
  api/features/versioning/models.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_features_service.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Resolve key from instance in uniqueness validation
  api/features/multivariate/serializers.py
Labels: api

fix(features): Create partial indexes on Postgres only
  api/features/versioning/migrations/0008_add_last_modified_indexes.py
Labels: api

fix(features): Trim index migration dependencies to own app
  api/features/versioning/migrations/0008_add_last_modified_indexes.py
Labels: api

decrease verbosity
  api/features/views.py
Labels: api

fix(onboarding): tag the variant only after identified flags load
  frontend/web/components/pages/onboarding/GettingStartedGate.tsx
Labels: front-end

refactor(analytics): guard trackEvent and trackTraits with try/catch
  frontend/web/project/api.ts
Labels: front-end

fix(experiments): control-wins recommendation, dark mode alert text, hypothesis layout
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/experiments/results/ExperimentRecommendation.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
  frontend/web/styles/project/_alert.scss
Labels: front-end

chore(testing): add jsdom and React Testing Library for component tests
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

test(onboarding): cover the getting-started gate's variant tagging
  frontend/web/components/pages/onboarding/__tests__/GettingStartedGate.test.tsx
Labels: front-end

fix(code-help): drop runtime escaping from the Java and .NET installs
  frontend/common/code-help/install/install-dotnet.js
  frontend/common/code-help/install/install-java.js
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/sdkSnippets.ts
Labels: front-end

refactor(code-help): escape snippets in Highlight, not in source strings
  frontend/common/code-help/create-user/create-user-next.js
  frontend/common/code-help/create-user/create-user-react.js
  frontend/common/code-help/init/init-next-app-router.js
  frontend/common/code-help/init/init-next-pages-router.js
  frontend/common/code-help/init/init-react.js
  frontend/common/code-help/traits/traits-next.js
  frontend/common/code-help/traits/traits-react.js
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/integrations/mcp/MCPSnippet.tsx
Labels: front-end

refactor(utils): remove the caller-free escapeHtml
  frontend/common/utils/utils.tsx
Labels: front-end

fix(code-help): make the React identity snippets runnable
  frontend/common/code-help/create-user/create-user-react.js
  frontend/common/code-help/init/init-react.js
  frontend/common/code-help/traits/traits-react.js
Labels: front-end

fix(code-help): drop the dead HTML anchors from the prose installs
  frontend/common/code-help/install/install-curl.js
  frontend/common/code-help/install/install-flutter.js
  frontend/common/code-help/install/install-rust.js
Labels: front-end

Try and improve LLM behaviour in generating comments
  api/README.md
Labels: api

make agents great again
  AGENTS.md
  api/README.md
Labels: api

fix(experiments): colour lift by sign, drop expected_direction from colouring
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

fix(experiments): dedupe getLiftColour, brighten warning alert strong text in dark mode
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/derive.ts
  frontend/web/styles/project/_alert.scss
Labels: front-end

fix(MCP): deploy the released image instead of redeploying the old one
  .github/actions/mcp-deploy-ecs/action.yml
  .github/workflows/mcp-docker-build-publish-deploy.yml
Labels: none

fix(MCP): pin deploy actions to SHA and drop checkout credentials
  .github/actions/mcp-deploy-ecs/action.yml
  .github/workflows/mcp-docker-build-publish-deploy.yml
Labels: none

Update docusaurus.config.ts
  docs/docusaurus.config.ts
Labels: docs

perf(identities): Decouple SDK identity request cost from version history
  api/environments/identities/managers.py
  api/environments/identities/models.py
  api/environments/identities/views.py
  api/environments/models.py
  api/environments/sdk/services.py
  api/features/versioning/versioning_service.py
  api/features/views.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
