Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

chore(main): release 2.197.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

docs: create new administration and integrations index pages
  docs/docs/administration-and-security/index.mdx
  docs/docs/third-party-integrations/index.mdx
Labels: docs

docs: update home page tiles and links
  docs/src/pages/index.tsx
Labels: docs

docs: update titles and descriptions
  docs/docs/administration-and-security/index.mdx
  docs/docs/third-party-integrations/index.mdx
  docs/src/pages/index.tsx
Labels: docs

docs: remove outdated cards
  docs/docs/administration-and-security/index.mdx
Labels: docs

feat: show-redirections-links-in-feature-health-tab (#6103)
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/InfoMessage.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/feature-health/FeatureHealthTabContent.tsx
  frontend/web/components/feature-health/components/EmptyFeatureHealthProviders.tsx
  frontend/web/components/feature-health/components/EventTextBlocks.tsx
  frontend/web/components/feature-health/components/EventUrlsBlock.tsx
  frontend/web/components/feature-health/components/FeatureHealthEventsList.tsx
  frontend/web/components/feature-health/components/FeatureHealthProviderDocumentationNote.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/FeatureHealthTabContent.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
Labels: front-end

feat: show-redirections-links-in-feature-health-tab (#6103)
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/InfoMessage.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/feature-health/FeatureHealthTabContent.tsx
  frontend/web/components/feature-health/components/EmptyFeatureHealthProviders.tsx
  frontend/web/components/feature-health/components/EventTextBlocks.tsx
  frontend/web/components/feature-health/components/EventUrlsBlock.tsx
  frontend/web/components/feature-health/components/FeatureHealthEventsList.tsx
  frontend/web/components/feature-health/components/FeatureHealthProviderDocumentationNote.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/FeatureHealthTabContent.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
Labels: front-end

Temporarily prevent staging deploys during penetration testing
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

chore: Remove generated comments (#6093)
  frontend/common/providers/Permission.tsx
  frontend/web/components/AuditLog.tsx
  frontend/web/components/CondensedRow.tsx
  frontend/web/components/ConnectedGroupSelect.tsx
  frontend/web/components/GoogleButton.tsx
  frontend/web/components/IdentitySelect.tsx
  frontend/web/components/MyGroupsSelect.tsx
  frontend/web/components/MyRoleSelect.tsx
  frontend/web/components/NewVersionWarning.tsx
  frontend/web/components/PageTitle.tsx
  frontend/web/components/RegexTester.tsx
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/ViewDocs.tsx
  frontend/web/components/feature-summary/FeatureValue.tsx
  frontend/web/components/modals/ConfirmCloneSegment.tsx
  frontend/web/components/modals/ConfirmHideFlags.tsx
  frontend/web/components/modals/ConfirmRemoveAuditWebhook.tsx
  frontend/web/components/modals/ConfirmRemoveEnvironment.tsx
  frontend/web/components/modals/ConfirmRemoveFeature.tsx
  frontend/web/components/modals/ConfirmRemoveOrganisation.tsx
  frontend/web/components/modals/ConfirmRemoveProject.tsx
  frontend/web/components/modals/ConfirmRemoveSegment.tsx
  frontend/web/components/modals/ConfirmRemoveTrait.tsx
  frontend/web/components/modals/ConfirmRemoveWebhook.tsx
  frontend/web/components/modals/CreateUser.tsx
  frontend/web/components/modals/ModalHR.tsx
  frontend/web/components/modals/base/ModalClose.tsx
  frontend/web/components/modals/base/ModalHeader.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/navigation/TabMenu/TabItem.tsx
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/BrokenPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/SplitTestPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

chore: Remove generated comments (#6093)
  frontend/common/providers/Permission.tsx
  frontend/web/components/AuditLog.tsx
  frontend/web/components/CondensedRow.tsx
  frontend/web/components/ConnectedGroupSelect.tsx
  frontend/web/components/GoogleButton.tsx
  frontend/web/components/IdentitySelect.tsx
  frontend/web/components/MyGroupsSelect.tsx
  frontend/web/components/MyRoleSelect.tsx
  frontend/web/components/NewVersionWarning.tsx
  frontend/web/components/PageTitle.tsx
  frontend/web/components/RegexTester.tsx
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/ViewDocs.tsx
  frontend/web/components/feature-summary/FeatureValue.tsx
  frontend/web/components/modals/ConfirmCloneSegment.tsx
  frontend/web/components/modals/ConfirmHideFlags.tsx
  frontend/web/components/modals/ConfirmRemoveAuditWebhook.tsx
  frontend/web/components/modals/ConfirmRemoveEnvironment.tsx
  frontend/web/components/modals/ConfirmRemoveFeature.tsx
  frontend/web/components/modals/ConfirmRemoveOrganisation.tsx
  frontend/web/components/modals/ConfirmRemoveProject.tsx
  frontend/web/components/modals/ConfirmRemoveSegment.tsx
  frontend/web/components/modals/ConfirmRemoveTrait.tsx
  frontend/web/components/modals/ConfirmRemoveWebhook.tsx
  frontend/web/components/modals/CreateUser.tsx
  frontend/web/components/modals/ModalHR.tsx
  frontend/web/components/modals/base/ModalClose.tsx
  frontend/web/components/modals/base/ModalHeader.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/navigation/TabMenu/TabItem.tsx
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/BrokenPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/SplitTestPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

fix: Datadog integration not respecting `use_custom_source`
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_models.py
Labels: api

fix: Datadog integration not respecting `use_custom_source` (#6113)
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_models.py
Labels: api

fix: Datadog integration not respecting `use_custom_source` (#6113)
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_models.py
Labels: api

chore(main): release 2.197.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

feat: wip-experimentations
  frontend/tailwind.config.js
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/components/navigation/navbars/OrganisationNavbar.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/styles/components/_input.scss
  frontend/web/styles/flexbox/_index.scss
  frontend/web/styles/styles.scss
Labels: front-end

Refactor
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

feat: use-create-lead-form-for-self-hosted
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/constants.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/services.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/onboarding/serializers.py
  api/onboarding/tasks.py
  api/onboarding/views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/onboarding/test_views.py
  frontend/common/stores/account-store.js
  frontend/package-lock.json
  frontend/web/components/onboarding/OnboardingStep.tsx
  frontend/web/components/pages/HomePage.tsx
  frontend/web/components/pages/OnboardingPage.tsx
Labels: front-end, api

Improve feature override row refactoring
  frontend/common/utils/utils.tsx
  frontend/e2e/init.cafe.js
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

Remove invalid close modal call for create segment change request
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

History replace fix
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
Labels: front-end

feat: reverted-local-onboarding-condition
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

feat: removed-unused-test
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
Labels: api

feat: removed-local-code
  frontend/common/stores/account-store.js
Labels: front-end

CTA Feature override
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

re-add tests
  frontend/e2e/init.cafe.js
Labels: front-end

Refactor
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

Chore/componentise feature override row improved (#6118)
  frontend/common/utils/utils.tsx
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

Refactor
  frontend/common/utils/utils.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

Permission fix
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

fix identifier
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

Fix identityName param
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

Fix edit permission check
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
Labels: front-end

Componentise feature filters
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/tables/TableGroupsFilter.tsx
Labels: front-end

Fix segment override logic
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

Fix identity override logic
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

Fix identity override logic
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

feat: removed-local-async
  frontend/common/stores/account-store.js
Labels: front-end

feat: reverted-lock-file
  frontend/package-lock.json
Labels: front-end

feat: added-tests-without-cookie
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
Labels: api

chore(main): release 2.197.0 (#6096)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
