Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

spike(usage): bring the prototype back in line with the designs
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/GraceChip.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/fixtures.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/types.ts
Labels: front-end

spike(usage): add the two states with the worst outcomes
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/GraceChip.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBanner.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageNote.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/fixtures.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/types.ts
Labels: front-end

refactor: address review on event names caching, timeouts and dispatch
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: expose distinct warehouse event names per connection (#8231)
  api/experimentation/dataclasses.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

feat: metric event name combobox fed by warehouse events
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/experiments/CreateMetricForm/CreateMetricForm.tsx
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.scss
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.tsx
  frontend/web/components/experiments/EventNameSelect/__tests__/utils.test.ts
  frontend/web/components/experiments/EventNameSelect/index.ts
  frontend/web/components/experiments/EventNameSelect/utils.ts
Labels: front-end

Move to actions/create-github-app-token v3 (from v1)
  .github/workflows/api-fix-docs-artefacts.yml
Labels: none

fix: rename project view tests to match FT003 linting convention
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

Fix Type Errors and Add Hints
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

fix: correct function signature for audit log test on project deletion
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

fix(ds): make status text readable on its own surface
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

fix(organisations): don't fetch an organisation with a non-numeric id
  frontend/common/stores/organisation-store.js
  frontend/common/utils/__tests__/isNumericId.test.ts
  frontend/common/utils/isNumericId.ts
Labels: front-end

test(organisations): pin isNumericId accepting leading-zero ids
  frontend/common/utils/__tests__/isNumericId.test.ts
Labels: front-end

refactor(onboarding): name the seeded flag after onboarding, not demo
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/bootstrap/__tests__/demoFlag.test.ts
  frontend/web/components/pages/onboarding/bootstrap/__tests__/onboardingFlag.test.ts
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/bootstrap/onboardingFlag.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

test: move test to dedicated module and enforce exact query count
  api/tests/unit/permissions/permission_service/test_user_has_organisation_permissions.py
  api/tests/unit/users/test_unit_users_models.py
Labels: api

test: adjust exact query count to 3 due to disabled RBAC in test env
  api/tests/unit/permissions/permission_service/test_user_has_organisation_permissions.py
Labels: api

feat: metric event name combobox fed by warehouse events (#8234)
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/experiments/CreateMetricForm/CreateMetricForm.tsx
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.scss
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.tsx
  frontend/web/components/experiments/EventNameSelect/__tests__/utils.test.ts
  frontend/web/components/experiments/EventNameSelect/index.ts
  frontend/web/components/experiments/EventNameSelect/utils.ts
Labels: front-end

fix(webhooks): validate organisation and integration URLs against SSRF
  api/integrations/common/serializers.py
  api/integrations/gitlab/serializers.py
  api/integrations/sentry/serializers.py
  api/integrations/webhook/serializers.py
  api/organisations/serializers.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace_views.py
  api/tests/unit/integrations/gitlab/test_configuration.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic_views.py
  api/tests/unit/integrations/sentry/test_unit_sentry_views.py
  api/tests/unit/integrations/webhook/test_unit_webhook_views.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/fields.py
Labels: api

fix(webhooks): exempt FeatureExternalResource.url from SSRF mapping
  api/features/feature_external_resources/serializers.py
  api/tests/unit/webhooks/test_webhooks_fields.py
Labels: api

fix(webhooks): register NoSSRFURLField via serializer_field_mapping
  api/integrations/common/serializers.py
  api/integrations/gitlab/serializers.py
  api/integrations/sentry/serializers.py
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/apps.py
Labels: api

fix(webhooks): restore max_length on SSRF URL fields, generalize error message
  api/integrations/gitlab/serializers.py
  api/integrations/sentry/serializers.py
  api/integrations/webhook/serializers.py
  api/webhooks/fields.py
Labels: api

docs(ds): scope the token descriptions to light mode
  frontend/common/theme/tokens.json
Labels: front-end

refactor(webhooks): validate URLs against SSRF at the model layer
  api/core/fields.py
  api/core/validators.py
  api/environments/migrations/0039_use_no_ssrf_url_field.py
  api/environments/serializers.py
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/serializers.py
  api/integrations/amplitude/migrations/0007_use_no_ssrf_url_field.py
  api/integrations/amplitude/models.py
  api/integrations/common/models.py
  api/integrations/datadog/migrations/0005_use_no_ssrf_url_field.py
  api/integrations/datadog/models.py
  api/integrations/dynatrace/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/gitlab/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/gitlab/models.py
  api/integrations/grafana/migrations/0003_use_no_ssrf_url_field.py
  api/integrations/heap/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/mixpanel/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/new_relic/migrations/0005_use_no_ssrf_url_field.py
  api/integrations/rudderstack/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/segment/migrations/0007_use_no_ssrf_url_field.py
  api/integrations/sentry/migrations/0002_use_no_ssrf_url_field.py
  api/integrations/sentry/models.py
  api/integrations/webhook/migrations/0005_use_no_ssrf_url_field.py
  api/integrations/webhook/serializers.py
  api/organisations/migrations/0059_use_no_ssrf_url_field.py
  api/organisations/serializers.py
  api/projects/code_references/models.py
  api/tests/unit/core/test_fields.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/apps.py
  api/webhooks/fields.py
  api/webhooks/models.py
Labels: api

🚫🐬
  docs/docs/managing-flags/updating-flags.md
Labels: docs

clarity
  docs/docs/managing-flags/updating-flags.md
Labels: docs

fix(webhooks): validate organisation and integration URLs against SSRF (#8220)
  api/core/fields.py
  api/core/validators.py
  api/environments/migrations/0039_use_no_ssrf_url_field.py
  api/environments/serializers.py
  api/features/feature_external_resources/models.py
  api/integrations/amplitude/migrations/0007_use_no_ssrf_url_field.py
  api/integrations/amplitude/models.py
  api/integrations/common/models.py
  api/integrations/datadog/migrations/0005_use_no_ssrf_url_field.py
  api/integrations/datadog/models.py
  api/integrations/dynatrace/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/gitlab/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/gitlab/models.py
  api/integrations/grafana/migrations/0003_use_no_ssrf_url_field.py
  api/integrations/heap/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/mixpanel/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/new_relic/migrations/0005_use_no_ssrf_url_field.py
  api/integrations/rudderstack/migrations/0004_use_no_ssrf_url_field.py
  api/integrations/segment/migrations/0007_use_no_ssrf_url_field.py
  api/integrations/sentry/migrations/0002_use_no_ssrf_url_field.py
  api/integrations/sentry/models.py
  api/integrations/webhook/migrations/0005_use_no_ssrf_url_field.py
  api/organisations/migrations/0059_use_no_ssrf_url_field.py
  api/projects/code_references/models.py
  api/tests/unit/core/test_fields.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace_views.py
  api/tests/unit/integrations/gitlab/test_configuration.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic_views.py
  api/tests/unit/integrations/sentry/test_unit_sentry_views.py
  api/tests/unit/integrations/webhook/test_unit_webhook_views.py
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/fields.py
  api/webhooks/models.py
Labels: api

feat(onboarding): Org-level onboarding experiment events
  api/app/settings/common.py
  api/environments/onboarding/services.py
  api/integrations/flagsmith/client.py
  api/organisations/serializers.py
  api/organisations/services.py
  api/pyproject.toml
  api/tests/unit/environments/onboarding/test_unit_environments_onboarding_services.py
  api/tests/unit/integrations/flagsmith/test_unit_flagsmith_client.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/organisations/test_unit_organisations_services.py
  api/uv.lock
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: docs, api, infrastructure

feat(onboarding): Read onboarding variant from the organisation API
  frontend/common/types/responses.ts
  frontend/common/utils/getOnboardingVariant.ts
  frontend/web/components/pages/onboarding/GettingStartedGate.tsx
Labels: front-end

spike(usage): put free plans on billing periods too
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototypePage.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/fixtures.ts
Labels: front-end

build(deps): openfeature-provider-flagsmith 1.0.0 from PyPI
  api/pyproject.toml
  api/uv.lock
Labels: api

test: assert exact SQL shape and table names in query count test
  api/tests/unit/permissions/permission_service/test_user_has_organisation_permissions.py
Labels: api

improve test_initialise_provider tests
  api/tests/unit/integrations/flagsmith/test_unit_flagsmith_client.py
Labels: api

Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Labels: none

Add USERS.md
  USERS.md
Labels: none

feat(readme): Add customer logo wall
  README.md
  static-files/users/connectwise-dark.svg
  static-files/users/connectwise-light.svg
  static-files/users/creditas-dark.svg
  static-files/users/creditas-light.svg
  static-files/users/cytiva-dark.svg
  static-files/users/cytiva-light.svg
  static-files/users/dfds-dark.svg
  static-files/users/dfds-light.svg
  static-files/users/doist-dark.svg
  static-files/users/doist-light.svg
  static-files/users/dpr-dark.svg
  static-files/users/dpr-light.svg
  static-files/users/emerson-dark.png
  static-files/users/emerson-light.png
  static-files/users/idexx-dark.svg
  static-files/users/idexx-light.svg
  static-files/users/liberty-global-dark.svg
  static-files/users/liberty-global-light.svg
  static-files/users/manomano-dark.svg
  static-files/users/manomano-light.svg
  static-files/users/sailpoint-dark.svg
  static-files/users/sailpoint-light.svg
  static-files/users/stingray-dark.svg
  static-files/users/stingray-light.svg
  static-files/users/totvs-dark.svg
  static-files/users/totvs-light.svg
  static-files/users/trimble-dark.svg
  static-files/users/trimble-light.svg
  static-files/users/varonis-dark.svg
  static-files/users/varonis-light.svg
Labels: none

fix(environments): guard environment document writes against unseeded feature states
  api/core/signals.py
  api/environments/constants.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/environments/metrics.py
  api/environments/models.py
  api/environments/tasks.py
  api/features/migrations/0068_add_feature_is_creating.py
  api/features/models.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamo_environment_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/features/test_unit_features_models.py
  api/util/dataclasses.py
  api/util/mappers/dynamodb.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

tdd for rules_data
  api/segments/migrations/0031_add_segment_rules_data.py
  api/segments/models.py
  api/segments/serializers.py
  api/segments/services.py
  api/segments/types.py
  api/tests/conftest.py
  api/tests/types.py
  api/tests/unit/segments/conftest.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_services.py
  api/tests/unit/segments/test_unit_segments_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fulfill rules_data
  api/segments/serializers.py
  api/segments/validators.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(environments): report environment document writes after the batch is flushed
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/environments/metrics.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamo_environment_wrapper.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

feat(readme): Add Ford, Vontobel and Wistia to the logo wall
  README.md
  USERS.md
  static-files/users/ford-dark.png
  static-files/users/ford-light.png
  static-files/users/vontobel-dark.svg
  static-files/users/vontobel-light.svg
  static-files/users/wistia-dark.svg
  static-files/users/wistia-light.svg
Labels: none

fix: match Scale-Up plan ids case-insensitively
  api/organisations/models.py
  api/organisations/subscriptions/serializers/mixins.py
  api/tests/unit/organisations/subscriptions/serializers/test_unit_subscriptions_serializers_mixins.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api
