Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(test): add Jest config for JSX parsing and removeAccents tests
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/jest.setup.js
  frontend/tsconfig.jest.json
Labels: front-end

chore(ci): add --passWithNoTests flag to unit test workflows
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-pull-request.yml
Labels: none

chore(main): release 2.210.0 (#6528)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.210.0 (#6528)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

fix(test): rename jest.setup.js to .ts to avoid Babel version mismatch
  frontend/jest.config.js
  frontend/jest.setup.ts
Labels: front-end

fix(test): remove babel-jest transform to avoid version mismatch
  frontend/jest.config.js
Labels: front-end

ADd test workflow
  .github/workflows/test-curl.yml
Labels: none

Run workflow on push
  .github/workflows/test-curl.yml
Labels: none

Use aws cli instead
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/task-processor-deploy-ecs/action.yml
  .github/workflows/test-curl.yml
Labels: none

Update docs/docs/administration-and-security/platform-configuration/environment-settings.md
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
Labels: docs

Update docs/docs/administration-and-security/platform-configuration/environment-settings.md
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
Labels: docs

fix(frontend): address PR review comments for subscription limits
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

temp: deploy to staging from current branch
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

refactor(frontend): consolidate LimitItem and LegendItem into shared StatItem
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

feat: check-auth-prefix
  api/gram.json
Labels: api

Fix task processor task definition
  .github/actions/task-processor-deploy-ecs/action.yml
Labels: none

feat: fixed-mypy
  api/api/openapi.py
  api/api/openapi_views.py
Labels: api

refactor(frontend): address code review feedback
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
  frontend/web/styles/project/_panel.scss
Labels: front-end

Fix outputs reference
  .github/actions/task-processor-deploy-ecs/action.yml
Labels: none

Missing $
  .github/actions/task-processor-deploy-ecs/action.yml
Labels: none

feat(frontend): add reusable EmptyState component for empty pages (#6538)
  frontend/web/components/EmptyState.tsx
  frontend/web/components/pages/ScheduledChangesPage.tsx
  frontend/web/styles/components/_empty-state.scss
  frontend/web/styles/components/_index.scss
Labels: front-end

feat(frontend): add reusable EmptyState component for empty pages (#6538)
  frontend/web/components/EmptyState.tsx
  frontend/web/components/pages/ScheduledChangesPage.tsx
  frontend/web/styles/components/_empty-state.scss
  frontend/web/styles/components/_index.scss
Labels: front-end

refactor(format): remove unused utility functions
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

refactor(test): remove unused jest.setup.ts
  frontend/jest.config.js
  frontend/jest.setup.ts
Labels: front-end

feat: removed-dot
  api/api/openapi.py
  api/environments/views.py
Labels: api

Add concurrency checks
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

Remove temporary branch
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

Fix syntax
  .github/actions/task-processor-deploy-ecs/action.yml
Labels: none

Re-add temporary branch
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

Remove the temporary branch again
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

feat: removed-gram-on-platform-pull-request
  .github/workflows/platform-pull-request.yml
Labels: none

feat: clean-site-packages-before-mv
  api/Makefile
Labels: api

feat: codecov-patch
  api/tests/unit/api/test_mcp_openapi.py
Labels: api

fix: v1-override-limit-includes-all-feature-segments-in-count
  api/features/feature_segments/limits.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_limits.py
Labels: api

feat: removed-unused-content-disposition
  api/api/openapi_views.py
Labels: api

Pass identity override to variation options
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

Adjust feature state prop
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

fix: Address reviewer feedback
  api/environments/identities/views.py
  frontend/common/useDebouncedSearch.ts
Labels: front-end, api

Remove mobile draft
  frontend/.claude/context/mobile.md.draft
Labels: front-end

Simplify create feature for identity/environment
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
Labels: front-end
