Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Playwright
  frontend/e2e/MIGRATION_TO_PLAYWRIGHT.md
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/helpers.pw.ts
  frontend/e2e/index.pw.ts
  frontend/e2e/migrate-tests.js
  frontend/e2e/tests/environment-permission-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/invite-test.pw.ts
  frontend/e2e/tests/organisation-permission-test.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Labels: front-end

feat: Edit Change Requests (#6356)
  frontend/common/providers/withSegmentOverrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Feature.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/Switch.js
  frontend/web/components/Switch.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/base/grid/FormGroup.js
  frontend/web/components/base/grid/FormGroup.tsx
  frontend/web/components/base/grid/Row.js
  frontend/web/components/base/grid/Row.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/FlagValueFooter.tsx
  frontend/web/components/modals/create-feature/FeatureLimitAlert.tsx
  frontend/web/components/modals/create-feature/FeatureNameInput.tsx
  frontend/web/components/modals/create-feature/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/release-pipelines/FeaturePipelineStatus.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

feat: Edit Change Requests (#6356)
  frontend/common/providers/withSegmentOverrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Feature.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/Switch.js
  frontend/web/components/Switch.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/base/grid/FormGroup.js
  frontend/web/components/base/grid/FormGroup.tsx
  frontend/web/components/base/grid/Row.js
  frontend/web/components/base/grid/Row.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/FlagValueFooter.tsx
  frontend/web/components/modals/create-feature/FeatureLimitAlert.tsx
  frontend/web/components/modals/create-feature/FeatureNameInput.tsx
  frontend/web/components/modals/create-feature/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/release-pipelines/FeaturePipelineStatus.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

feat(frontend): add subscription limit info to Usage and Billing pages (#6539)
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
  frontend/web/styles/project/_panel.scss
Labels: front-end

feat(frontend): add subscription limit info to Usage and Billing pages (#6539)
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
  frontend/web/styles/project/_panel.scss
Labels: front-end

Move concurrency check to workflow level
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

feat(frontend): add Jest unit testing infrastructure (#6432)
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-pull-request.yml
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.js
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.jest.json
Labels: front-end

feat(frontend): add Jest unit testing infrastructure (#6432)
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-pull-request.yml
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.js
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.jest.json
Labels: front-end

fix(frontend): add skip conditions for undefined environment ID queries
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentitySelect.tsx
Labels: front-end

fix(frontend): add guard in CompareEnvironments fetch for empty environment
  frontend/web/components/CompareEnvironments.js
Labels: front-end

feat: re-added-master-api-key-throttle
  api/app/settings/common.py
Labels: api

feat: re-added-deleted-values
  api/app/settings/common.py
  api/app/settings/test.py
Labels: api

feat: use-default-allocation-from-flag
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

fix: add skip conditions for undefined environment ID queries on Compare feat (#6557)
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentitySelect.tsx
Labels: front-end

fix: add skip conditions for undefined environment ID queries on Compare feat (#6557)
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentitySelect.tsx
Labels: front-end

feat: use-default-allocation-from-flag (#6558)
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

feat: use-default-allocation-from-flag (#6558)
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

fix: add null checks for multivariate_options in feature-list-store
  frontend/common/stores/feature-list-store.ts
Labels: front-end

Remove unused tests
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.ts
Labels: front-end

Merge package lock
  frontend/package-lock.json
Labels: front-end

Use playwright's firefox in dockerfile
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
  frontend/README.md
Labels: front-end

Add frontend makefile logging, remove apt-get line
  frontend/Dockerfile.e2e
  frontend/Makefile
Labels: front-end

re-add "tags" to tests
  .github/workflows/platform-pull-request.yml
  frontend/e2e/tests/environment-permission-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/invite-test.pw.ts
  frontend/e2e/tests/organisation-permission-test.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
Labels: front-end

Update flagsmith-common
  api/poetry.lock
  api/pyproject.toml
Labels: api

Update auto-generated docs
  docs/docs/administration-and-security/platform-configuration/metrics.md
Labels: docs

Add health check prior to teardown
  frontend/e2e/global-setup.playwright.ts
Labels: front-end

infra(Monitoring): Expose /metrics to new port (#6533)
  api/poetry.lock
  api/pyproject.toml
  docs/docs/administration-and-security/platform-configuration/metrics.md
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: docs, api, infrastructure

infra(Monitoring): Expose /metrics to new port (#6533)
  api/poetry.lock
  api/pyproject.toml
  docs/docs/administration-and-security/platform-configuration/metrics.md
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: docs, api, infrastructure

Add health check prior to teardown
  frontend/Makefile
  frontend/e2e/global-teardown.playwright.ts
  frontend/playwright.config.ts
Labels: front-end

Add health check prior to teardown
  frontend/Makefile
  frontend/e2e/global-teardown.playwright.ts
Labels: front-end

Improve logging, add sticky comment, add artifcats
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/Makefile
  frontend/playwright.config.ts
Labels: front-end

Fix duplicate artifacts / race conditions
  .github/workflows/.reusable-docker-e2e-tests.yml
  docker-compose.yml
  frontend/E2E-LOCAL-TESTING.md
  frontend/e2e/global-setup.playwright.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/test-setup.ts
  frontend/e2e/tests/environment-permission-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/invite-test.pw.ts
  frontend/e2e/tests/organisation-permission-test.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/package.json
Labels: front-end

improve artifacts
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/playwright.config.ts
Labels: front-end

improve artifacts
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

improve tests
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/tests/segment-test.pw.ts
Labels: front-end

fix duplicate artifact names, only upload artifacts on failure
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/e2e/helpers.playwright.ts
Labels: front-end

Remove testcafe stuff
  frontend/e2e/add-error-logs.js
  frontend/e2e/global-teardown.playwright.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.ts
Labels: front-end

Fix piping
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

ci: add check for failed deployments (#6549)
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/task-processor-deploy-ecs/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

ci: add check for failed deployments (#6549)
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/task-processor-deploy-ecs/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none
