Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(deploy): add SDK service to ECS deployment pipeline (#6484)
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/.reusable-deploy-ecs.yml
Labels: none

feat(deploy): add SDK service to ECS deployment pipeline (#6484)
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/.reusable-deploy-ecs.yml
Labels: none

feat: re-fetch features on page focus (#6483)
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

feat: re-fetch features on page focus (#6483)
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

chore(main): release 2.206.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

docs: split-heavy-context-and-created-agents
  .gitignore
  frontend/.claude/commands/api.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/context.md
  frontend/.claude/commands/feature-flag.md
  frontend/.claude/commands/form.md.draft
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/feature-flags/feature-flags.md
  frontend/.claude/context/feature-flags/mcp-workflows.md
  frontend/.claude/context/feature-flags/project-config.local.md.example
  frontend/.claude/context/forms.md.draft
  frontend/.claude/context/mobile.md.draft
  frontend/.claude/context/patterns.md
  frontend/.claude/context/patterns/api.md
  frontend/.claude/context/patterns/index.md
  frontend/.claude/context/patterns/mobile.md.draft
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
Labels: front-end

chore(main): release 2.206.0 (#6485)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.206.0 (#6485)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

docs: basic-readme-for-frontend
  frontend/README.md
Labels: front-end

fix(deploy): use same task definition for API and SDK services
  .github/actions/api-deploy-ecs/action.yml
Labels: none

docs: fixed-broken-link
  frontend/README.md
Labels: front-end

revert(e2e): remove flaky change request and list click tests
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/change-request-test.ts
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

wording
  .github/pull_request_template.md
Labels: none

use root path
  .github/pull_request_template.md
Labels: none

remove trailing spaces
  docs/docs/project-and-community/development.md
Labels: docs

fix(features): add row-level loading indicator for toggle operations
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/pages/features/hooks/useOptimisticToggle.ts
  frontend/web/styles/components/_list-item.scss
Labels: front-end

fix(features): add loading indicator when deleting a feature
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

refactor(features): consolidate row state into useFeatureRowState hook
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/pages/features/hooks/useFeatureRowState.ts
  frontend/web/components/pages/features/hooks/useOptimisticToggle.ts
Labels: front-end

docs: Add developer documentation, AGENTS.md (#6448)
  .github/pull_request_template.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  api/README.md
  api/readme.md
  docs/Makefile
  docs/README.md
  docs/docs/project-and-community/contributing.md
  docs/docs/project-and-community/development.md
  docs/docs/project-and-community/release-notes.md
  frontend/README.md
Labels: docs, front-end, api

docs: Add developer documentation, AGENTS.md (#6448)
  .github/pull_request_template.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  api/README.md
  api/readme.md
  docs/Makefile
  docs/README.md
  docs/docs/project-and-community/contributing.md
  docs/docs/project-and-community/development.md
  docs/docs/project-and-community/release-notes.md
  frontend/README.md
Labels: docs, front-end, api

feat: improve segment feature association (#6478)
  frontend/web/components/ConnectedFeatureOverrideRow.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

feat: improve segment feature association (#6478)
  frontend/web/components/ConnectedFeatureOverrideRow.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

- Add AGENTS.md - Add missing developer documentation - Refresh CONTRIBUTING.md - Refresh the PR template - Import developer docs and CONTRIBUTING.md to docs.flagsmith.com
  api/README.md
Labels: api

fix grammar
  api/README.md
Labels: api

fix path separators
  api/README.md
Labels: api

rename api/README.md
  api/README.md
Labels: api

clarify migrations squashing recommendation
  api/README.md
Labels: api

fix typing
  api/api/openapi.py
  api/app/settings/local.py
  api/environments/serializers.py
  api/tests/unit/api/test_unit_openapi.py
Labels: api

feat(api-docs): Generate OpenAPI 3.0 docs with drf-spectacular
  api/api/openapi.py
  api/api/urls/v1.py
  api/app/pagination.py
  api/app/settings/common.py
  api/app/settings/local.py
  api/app_analytics/views.py
  api/audit/serializers.py
  api/audit/views.py
  api/custom_auth/oauth/views.py
  api/custom_auth/views.py
  api/edge_api/identities/views.py
  api/environments/identities/serializers.py
  api/environments/identities/traits/views.py
  api/environments/identities/views.py
  api/environments/sdk/views.py
  api/environments/serializers.py
  api/environments/views.py
  api/features/feature_health/views.py
  api/features/feature_segments/views.py
  api/features/feature_states/views.py
  api/features/import_export/views.py
  api/features/multivariate/views.py
  api/features/serializers.py
  api/features/versioning/views.py
  api/features/views.py
  api/integrations/launch_darkly/views.py
  api/metadata/views.py
  api/onboarding/views.py
  api/organisations/subscriptions/serializers/mixins.py
  api/organisations/views.py
  api/poetry.lock
  api/projects/serializers.py
  api/projects/views.py
  api/pyproject.toml
  api/segments/views.py
  api/tests/integration/test_api_documentation.py
  api/tests/unit/api/test_unit_api.py
  api/tests/unit/api/test_unit_openapi.py
  api/users/views.py
  api/webhooks/views.py
Labels: api

fix AuditLogChangeDetails generation
  api/audit/serializers.py
  api/audit/types.py
Labels: api

small niceties and fixes
  api/api/urls/v1.py
  api/app/settings/common.py
  api/environments/identities/views.py
  api/environments/sdk/views.py
  api/features/views.py
Labels: api

Switch to OpenAPI 3.1.0, achieve working client generation
  api/api/apps.py
  api/api/openapi.py
  api/app/pagination.py
  api/app/settings/common.py
  api/audit/serializers.py
  api/audit/views.py
  api/custom_auth/jwt_cookie/views.py
  api/edge_api/identities/apps.py
  api/edge_api/identities/openapi.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/views.py
  api/environments/identities/apps.py
  api/environments/identities/serializers.py
  api/environments/identities/traits/openapi.py
  api/environments/identities/traits/views.py
  api/environments/identities/views.py
  api/environments/views.py
  api/features/feature_external_resources/views.py
  api/features/feature_health/views.py
  api/features/feature_segments/views.py
  api/features/import_export/views.py
  api/features/multivariate/views.py
  api/features/serializers.py
  api/features/versioning/views.py
  api/features/views.py
  api/integrations/github/views.py
  api/integrations/launch_darkly/views.py
  api/integrations/slack/views.py
  api/metadata/views.py
  api/organisations/models.py
  api/organisations/serializers.py
  api/organisations/views.py
  api/projects/views.py
  api/segments/views.py
  api/tests/unit/api/test_unit_openapi.py
  api/tests/unit/app/test_unit_app_pagination.py
  api/users/views.py
Labels: api

fix coverage
  api/api/openapi.py
  api/audit/serializers.py
  api/edge_api/identities/views.py
Labels: api

make the nicety work
  api/api/openapi.py
  api/app/settings/common.py
Labels: api

Update BetaFlag.tsx
  frontend/web/components/BetaFlag.tsx
Labels: front-end

feat: added-mcp-filtered-tag-openapi-schema-generation
  api/Makefile
  api/api/openapi.py
  api/api/openapi_views.py
  api/api/urls/v1.py
  api/organisations/views.py
  api/projects/views.py
  api/tests/unit/api/test_mcp_openapi.py
Labels: api

fix(features): use new MV weights in change request creation
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.ts
Labels: front-end

fix(ci): remove obsolete flagsmith-task-processor clone
  api/Makefile
Labels: api

fix(ci): remove obsolete flagsmith-task-processor clone
  api/Makefile
Labels: api

Upgrade flagsmith-workflows
  api/poetry.lock
  api/pyproject.toml
Labels: api
