Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(mv): render variant keys in mono
  frontend/web/components/experiments/RolloutSplitEditor/RolloutSplitEditor.tsx
  frontend/web/components/experiments/VariationTable/VariationTable.tsx
  frontend/web/components/mv/VariantKey/VariantKey.tsx
  frontend/web/components/mv/VariantKey/index.ts
  frontend/web/components/mv/VariationKeyLabel/VariationKeyLabel.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

improve docstring
  api/features/versioning/managers.py
Labels: api

refactor: move warehouse auto-connect to environment creation signal
  api/experimentation/apps.py
  api/experimentation/signals.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_signals.py
  api/tests/unit/experimentation/test_views.py
Labels: api

refactor: use @hook(AFTER_CREATE) on Environment instead of post_save signal
  api/environments/models.py
  api/experimentation/apps.py
  api/experimentation/signals.py
Labels: api

fix(segments): Segment Change Requests bypassable via segment deletion (#8358)
  api/core/exceptions.py
  api/features/future/exceptions.py
  api/features/future/views.py
  api/features/versioning/managers.py
  api/projects/models.py
  api/segments/serializers.py
  api/segments/services.py
  api/segments/views.py
  api/tests/integration/features/future/test_flag_endpoint.py
  api/tests/unit/segments/test_unit_segments_views.py
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: docs, api

test(api): Cover the migration snapshot cache's invalidation
  api/tests/unit/test_migration_snapshots.py
Labels: api

chore(api): Drop redundant comment on pyjwt dev dependency
  api/pyproject.toml
Labels: api

refactor(mv): drop the unused React default import
  frontend/web/components/mv/VariantKey/VariantKey.tsx
Labels: front-end

feat(value-editor): add a Format action for JSON values
  frontend/web/components/ValueEditor.js
Labels: front-end

refactor(value-editor): let the format icon inherit currentColor
  frontend/web/components/ValueEditor.js
Labels: front-end

feat(value-editor): make Format a BareButton and animate its reveal
  frontend/web/components/ValueEditor.js
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor(value-editor): drop stopPropagation from the format button
  frontend/web/components/ValueEditor.js
Labels: front-end

fix(value-editor): don't dirty the form when JSON is already formatted
  frontend/web/components/ValueEditor.js
Labels: front-end

fix(import-export): allow project admins to import features
  api/features/import_export/permissions.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
  frontend/web/components/import-export/ImportPage.tsx
Labels: front-end, api

fix(cohorts): allow master API keys to create cohort sync keys
  api/cohorts/views.py
  api/tests/unit/cohorts/test_views.py
Labels: api

fix(import-export): show import failures as errors, not successes
  frontend/web/components/import-export/FeatureImport.tsx
Labels: front-end

fix: restore featureStateToValue delegation from #8344
  frontend/common/utils/utils.tsx
Labels: front-end

Nothing
  api/pyproject.toml
Labels: api

feat(api): auto-connect Flagsmith warehouse for new orgs via experimental_flags value (#8377)
  api/environments/models.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_signals.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Revert "Nothing"
  api/pyproject.toml
Labels: api

feat(fe): flag-driven warehouse plan gating for free orgs (#8379)
  frontend/common/utils/__tests__/utils.test.ts
  frontend/common/utils/utils.tsx
Labels: front-end

chore(api): Remove uv override-dependencies block (#7756)
  api/pyproject.toml
  api/uv.lock
Labels: api

fix: 500 creating a cohort sync key with a master API key (#8390)
  api/cohorts/views.py
  api/tests/unit/cohorts/test_views.py
Labels: api

Initial UI for Flag Dependencies for product validation
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FlagDependencies.tsx
Labels: front-end

feat(cohorts): generic cohort sync webhook
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/sync_urls.py
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(cohorts): document the webhook identifier byte limit
  api/cohorts/serializers.py
Labels: api

ci(frontend-deploy): report every deploy outcome in one Slack message
  .github/actions/notify-slack-deploy/action.yml
  .github/actions/notify-slack-deploy/payload.jq
  .github/workflows/frontend-deploy-production.yml
Labels: none

ci(frontend-deploy): report every deploy outcome in one Slack message (#8371)
  .github/actions/notify-slack-deploy/action.yml
  .github/actions/notify-slack-deploy/payload.jq
  .github/workflows/frontend-deploy-production.yml
Labels: none

feat(sdk): add flag dependencies to the evaluation context
  sdk/evaluation-context.json
Labels: none

refactor(types): name the trait value shape (#8366)
  frontend/common/types/responses.ts
  frontend/common/utils/__tests__/featureStateToValue.test.ts
  frontend/common/utils/featureStateToValue.ts
  frontend/common/utils/utils.tsx
Labels: front-end

refactor(forms): migrate custom InputGroup component sites to FieldLabel
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/scim/modals/ScimTokenModal.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

refactor(icons): swap IonIcon close for the custom Icon in touched files
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
Labels: front-end

fix(forms): wire DateSelect labels via a forwarded id
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DateSelect.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
Labels: front-end

refactor(scim): let CopyField own the bearer token label
  frontend/web/components/pages/organisation-settings/tabs/sso/scim/modals/ScimTokenModal.tsx
Labels: front-end

ci(frontend-deploy): announce a deploy when it starts
  .github/actions/notify-slack-deploy/action.yml
  .github/actions/notify-slack-deploy/payload.jq
  .github/workflows/frontend-deploy-production.yml
Labels: none

refactor(api-keys): use FieldLabel for the expiry label
  frontend/web/components/AdminAPIKeys.js
Labels: front-end

refactor(project-settings): nest the regex form around its field group
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
Labels: front-end

refactor(release-manager): use the Input component for the search field
  frontend/web/components/pages/ReleaseManagerPage.tsx
Labels: front-end

fix(segments): wire the environment label to the select's input
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
Labels: front-end

feat: generic cohort sync webhook (#8380)
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/sync_urls.py
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api
