Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(Segment Membership): Skip traitless identities when seeding
  api/segment_membership/tasks.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
Labels: api

fix(usage): let the restricted story show the state it is named for
  frontend/documentation/components/UsageDashboard.stories.tsx
Labels: front-end

refactor(routes): give the route table a module without components
  frontend/jest.config.js
  frontend/web/__tests__/routePaths.test.ts
  frontend/web/components/AnnouncementPerPage.tsx
  frontend/web/components/App.js
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/routePaths.ts
  frontend/web/routes.js
Labels: front-end

test(Segment Membership): Cover the all-ineligible seed batch
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
Labels: api

fix(segment_membership): preserve system traits when seeding identities into ClickHouse
  api/segment_membership/mappers.py
  api/tests/integration/segment_membership/test_segment_membership_clickhouse.py
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
Labels: api

build(deps): bump flagsmith-common to 3.14.0 and use typed system_traits read
  api/pyproject.toml
  api/segment_membership/mappers.py
  api/uv.lock
Labels: api

refactor(segment_membership): drop redundant NULL-handling comment
  api/segment_membership/mappers.py
Labels: api

Improve comment
  api/app/settings/test.py
Labels: api

fix(segment_membership): preserve system traits when seeding identities into ClickHouse (#8458)
  api/pyproject.toml
  api/segment_membership/mappers.py
  api/tests/integration/segment_membership/test_segment_membership_clickhouse.py
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
  api/uv.lock
Labels: api

feat(experimentation): add conversion-over-time rows to experiment results (#8451)
  api/experimentation/dataclasses.py
  api/experimentation/results_query.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(tests): avoid flaky password_too_similar registration failures
  api/users/models.py
Labels: api

fix(tests): make segment rule and condition ordering deterministic (#8454)
  api/app/settings/test.py
Labels: api

refactor: delegate make_random_password to django's get_random_string
  api/users/models.py
Labels: api

working on css fix
  docs/src/css/custom.css
Labels: docs

comment fix
  docs/src/css/custom.css
Labels: docs

fix(docs): scope homepage section styles so they don't break the search modal
  docs/src/css/custom.css
Labels: docs

docs: fixed custom CSS in dark mode making search results unreadable (#8461)
  docs/src/css/custom.css
Labels: docs

fix(usage): let a restricted organisation reach the usage page
  frontend/jest.config.js
  frontend/web/__tests__/routePaths.test.ts
  frontend/web/components/App.js
  frontend/web/components/BlockedOrgInfo.tsx
  frontend/web/routePaths.ts
  frontend/web/routes.js
Labels: front-end

feat(usage): show the over-limit and restricted states
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/__tests__/routePaths.test.ts
  frontend/web/components/pages/usage/UsageDashboard.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.scss
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/components/SectionHeading.tsx
  frontend/web/components/pages/usage/components/SectionHeading/index.ts
  frontend/web/components/pages/usage/components/UsageFilters/UsageFilters.scss
  frontend/web/components/pages/usage/components/UsageFilters/UsageFilters.tsx
  frontend/web/components/pages/usage/components/UsageFilters/index.ts
  frontend/web/components/pages/usage/components/UsagePageLayout.tsx
  frontend/web/components/pages/usage/index.ts
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/useUsageData.ts
  frontend/web/components/pages/usage/utils.ts
  frontend/web/routePaths.ts
Labels: front-end

refactor(usage): give the page's copy a module of its own
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/copy.ts
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

refactor(usage): gather the fixed sentences into one block
  frontend/web/components/pages/usage/copy.ts
Labels: front-end

fix(usage): promise nothing to a restriction we cannot explain
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/copy.ts
Labels: front-end

refactor(usage): stop the story importing a stylesheet for one rule
  frontend/documentation/components/UsageDashboard.stories.tsx
Labels: front-end

docs(frontend): say what the import and component rules enforce
  frontend/CLAUDE.md
Labels: front-end

refactor(usage): keep the section titles with the rest of the copy
  frontend/web/components/pages/usage/copy.ts
Labels: front-end

fix(a11y): darken placeholder text to clear WCAG AA
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_tokens.scss
  frontend/web/styles/_variables.scss
Labels: front-end

feat(value-editor): move copy inside the input
  frontend/.storybook/preview.js
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/ValueEditor.js
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

fix(a11y): size and centre the field label info icon
  frontend/web/components/base/forms/FieldLabel.tsx
Labels: front-end

typo fixing
  api/tests/unit/environments/identities/test_poc_cross_tenant_identity_featurestates.py
  docs/docs/administration-and-security/access-control/rbac.md
  docs/docs/administration-and-security/data-management/organisations-import-export.md
  docs/docs/sdk-api/flagsmith-api.info.mdx
  docs/docs/sdk-api/sdk-v-1-environment-document.api.mdx
  docs/docs/sdk-api/sdk-v-1-flags.api.mdx
  docs/docs/sdk-api/sdk-v-1-get-identities.api.mdx
  docs/docs/sdk-api/sdk-v-1-post-identities.api.mdx
Labels: docs, api

pre PR
  frontend/env/project_local.js
Labels: front-end

fix(features): darken placeholder text and move copy inside the value editor field (#8446)
  frontend/.storybook/preview.js
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/web/components/ValueEditor.js
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_tokens.scss
  frontend/web/styles/_variables.scss
Labels: front-end

feat: experiment conversion rate chart
  frontend/common/types/responses.ts
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/ExperimentConversionRateCard.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/index.ts
  frontend/web/components/experiments/results/__tests__/deriveConversionRate.test.ts
  frontend/web/components/experiments/results/deriveConversionRate.ts
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(tests): avoid flaky password_too_similar registration failures (#8460)
  api/users/models.py
Labels: api

fix(mcp): bump cryptography to 50.0.1
  mcp/uv.lock
Labels: none

fix(sales-dashboard): Correct understated API usage on the organisation chart
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/mappers.py
  api/sales_dashboard/views.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_mappers.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

chore(api): refresh lock file, constraining the dev toolchain
  api/audit/views.py
  api/core/redis_cluster.py
  api/core/types.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/experimentation/ingestion_sync_service.py
  api/features/feature_states/permissions.py
  api/features/import_export/permissions.py
  api/features/permissions.py
  api/features/versioning/permissions.py
  api/organisations/permissions/permissions.py
  api/projects/code_references/permissions.py
  api/pyproject.toml
  api/tests/unit/features/test_unit_features_views.py
  api/users/models.py
  api/uv.lock
Labels: api

chore(renovate): enable lock file maintenance
  renovate.json
Labels: none

feat(charts): let ColorSwatch fade
  frontend/documentation/components/ColorSwatch.stories.tsx
  frontend/web/components/ColorSwatch.tsx
Labels: front-end

refactor(charts): describe bar series as objects, not parallel maps
  frontend/documentation/components/BarChart.stories.tsx
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/index.ts
  frontend/web/components/charts/toBarSeries.ts
  frontend/web/components/charts/types.ts
  frontend/web/components/experiments/results/ExperimentConversionRateCard/ExperimentConversionRateCard.tsx
  frontend/web/components/experiments/results/__tests__/deriveConversionRate.test.ts
  frontend/web/components/experiments/results/deriveConversionRate.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
Labels: front-end

refactor(value-editor): migrate to TypeScript and split by concern
  frontend/common/utils/copyToClipboard.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/ValueEditor.js
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/components/CopyValueButton.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
  frontend/web/components/ValueEditor/index.ts
  frontend/web/components/ValueEditor/types.ts
  frontend/web/components/ValueEditor/validate.ts
Labels: front-end
