Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(experiments): read Retry-After header for throttle countdown
  frontend/common/services/useExperiment.ts
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
Labels: front-end

chore(segments): Use literal URLs and JSON bodies in membership refresh tests
  api/tests/integration/segments/test_segment_membership_refresh.py
Labels: api

chore(segments): Drop verbose Given/When/Then comments from membership tests
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
Labels: api

ci(frontend): skip Chromatic on fork PRs
  .github/workflows/frontend-chromatic.yml
Labels: none

ci(frontend): lint changed lines via eslint-plugin-diff
  .github/workflows/frontend-pull-request.yml
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

fix: task processor deployment
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

feat(experiments): address PR review feedback
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.tsx
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/results.scss
Labels: front-end

feat: gate experiments fake door on paid plan via backend subscription
  frontend/common/stores/account-store.js
  frontend/common/utils/utils.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/project/api.ts
Labels: front-end

feat: reuse Utils.isOrgOnFreePlan in loadChat
  frontend/common/loadChat.ts
Labels: front-end

fix(experiments): skip experiment query when feature flag is off
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): revert unnecessary skip on experiment query
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): address PR review — drop dead code, fix HomePage revert
  frontend/web/components/experiments/results/results.scss
Labels: front-end

feat(experiments): add Bayesian analysis scorecards and results UI
  frontend/web/components/experiments/results/CredibleIntervalBar.tsx
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/StatCard.tsx
  frontend/web/components/experiments/results/results.scss
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): address review — extract shared helpers, drop dead code, use tokens
  frontend/web/components/experiments/results/CredibleIntervalBar.tsx
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/derive.ts
  frontend/web/components/experiments/results/results.scss
Labels: front-end

feat(experiments): wire Bayesian results endpoint and improve axis chart spacing
  frontend/common/services/useExperiment.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/results.scss
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): scorecard header fixes and metric value rendering
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/results.scss
Labels: front-end

fix(experiments): remove uncommitted fakeData import from detail page
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): mobile responsive fixes for results page
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/results.scss
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): fix chancToWin typo and add missing Tooltip import
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

QA changes
  frontend/web/components/diff/CompareSegmentOverride.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffFeatureStateValues.tsx
  frontend/web/components/diff/useCompareTargets.ts
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
Labels: front-end

Introduce foundation for feature lifecycle
  api/features/feature_lifecycle/types.py
  api/features/feature_lifecycle/urls.py
  api/features/feature_lifecycle/views.py
  api/tests/integration/conftest.py
  api/tests/integration/features/feature_lifecycle/conftest.py
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
  docker/api/docker-compose.local.yml
Labels: api

fix(features): return 400 instead of 500 on feature name race condition
  api/features/serializers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(features): open feature permalinks for features beyond the first page
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeaturePermalinkHandler.tsx
  frontend/web/components/pages/features/components/index.ts
Labels: front-end

fix(segments): warn before discarding an unsaved feature-specific segment
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

Fix lint
  api/app_analytics/influxdb_wrapper.py
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
  api/tests/unit/app_analytics/test_migrate_to_pg.py
Labels: api

Feature lifecycle summary
  api/api/urls/v1.py
  api/app_analytics/services.py
  api/app_analytics/types.py
  api/features/feature_lifecycle/types.py
  api/features/feature_lifecycle/urls.py
  api/features/feature_lifecycle/views.py
  api/projects/code_references/services.py
  api/tests/integration/features/feature_lifecycle/conftest.py
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
Labels: api

Proven Influxdb flavour!
  api/tests/integration/conftest.py
  api/tests/integration/features/feature_lifecycle/conftest.py
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
Labels: api

Unhappy paths
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
Labels: api

Ignore mypy cache
  api/.gitignore
Labels: api

Make it portable
  api/features/feature_lifecycle/services.py
  api/features/feature_lifecycle/views.py
Labels: api

TDD for existing endpoints
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
Labels: api

Add lifecycle stage to existing feature endpoints
  api/features/feature_lifecycle/services.py
  api/features/serializers.py
  api/features/views.py
  api/integrations/flagsmith/data/environment.json
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Add lifecycle counts to the MCP stack
  api/features/feature_lifecycle/serializers.py
  api/features/feature_lifecycle/views.py
  docs/docs/integrating-with-flagsmith/_mcp-tool-catalogue.md
Labels: docs, api

Log
  api/features/feature_lifecycle/views.py
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Filter by stage
  api/features/serializers.py
  api/features/views.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
Labels: api

Fix lint
  api/app_analytics/services.py
  api/features/feature_lifecycle/views.py
  api/features/views.py
  api/projects/code_references/services.py
  api/tests/conftest.py
  api/tests/integration/conftest.py
  api/tests/integration/features/feature_lifecycle/conftest.py
  api/tests/integration/features/feature_lifecycle/test_endpoints.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Fix event catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

Clean up API
  api/app_analytics/influxdb_wrapper.py
Labels: api

fix(infra): add EXPERIMENTATION_CLICKHOUSE_URL to task processor task defs
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

fix(experiments): scorecard header fixes and metric value rendering
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/results.scss
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
