Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

chore(main): release 2.213.0 (#6649)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore: Reorganise feature tabs (#6660)
  docs/docs/deployment-self-hosting/scaling-and-performance/using-influxdb-for-analytics.md
  docs/docs/managing-flags/code-references.md
  docs/docs/managing-flags/code-references/feature-details.png
  docs/docs/managing-flags/flag-analytics.md
  docs/static/img/flag-analytics.png
  frontend/common/constants.ts
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-summary/FeatureTags.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/styles/project/_modals.scss
Labels: docs, front-end

chore: Reorganise feature tabs (#6660)
  docs/docs/deployment-self-hosting/scaling-and-performance/using-influxdb-for-analytics.md
  docs/docs/managing-flags/code-references.md
  docs/docs/managing-flags/code-references/feature-details.png
  docs/docs/managing-flags/flag-analytics.md
  docs/static/img/flag-analytics.png
  frontend/common/constants.ts
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-summary/FeatureTags.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/styles/project/_modals.scss
Labels: docs, front-end

feat: refactor-metadata-with-hooks
  frontend/common/hooks/useEntityMetadataFields.ts
  frontend/common/utils/__tests__/metadataValidation.test.ts
  frontend/common/utils/metadataValidation.ts
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
Labels: front-end

Don't hide progress
  release-please-config.json
Labels: none

[ImgBot] Optimize images
  docs/docs/managing-flags/code-references/feature-details.png
  docs/docs/managing-flags/code-references/feature-list.png
  docs/static/img/flag-analytics.png
  docs/static/img/integrations/grafana/grafana-logo.svg
Labels: docs

feat: consolidated-requests-and-merged-strategy-in-rtk
  frontend/common/hooks/useEntityMetadataFields.ts
  frontend/common/services/useMetadataField.ts
  frontend/common/types/metadata-field.ts
  frontend/common/utils/__tests__/mergeMetadataFields.test.ts
  frontend/common/utils/__tests__/metadataValidation.test.ts
  frontend/common/utils/mergeMetadataFields.ts
  frontend/common/utils/metadataValidation.ts
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
Labels: front-end

reproduce the issue
  api/tests/integration/features/featurestate/test_webhooks.py
Labels: api

Add failing tests
  api/tests/unit/organisations/invites/test_unit_invites_views.py
Labels: api

Remove check on chargebee enablement
  api/users/models.py
Labels: api

Show seat usage for self-hosted deployments
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end

But hide chores
  release-please-config.json
Labels: none

fix(CD): Fix changelog transparency (#6661)
  release-please-config.json
Labels: none

fix(CD): Fix changelog transparency (#6661)
  release-please-config.json
Labels: none

fix the issue
  api/audit/signals.py
  api/environments/models.py
  api/features/tasks.py
  api/tests/integration/features/featurestate/test_webhooks.py
Labels: api

update docs and sample data
  api/webhooks/webhooks.py
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
Labels: docs, api

refactor: use Protocol type for environment parameter in context mapper
  api/util/engine_models/context/mappers.py
Labels: api

Update protobuf and setuptools
  api/poetry.lock
Labels: api

fix poetry check
  api/pyproject.toml
Labels: api

bump Poetry version
  api/Makefile
Labels: api

deps: update protobuf and setuptools (#6670)
  api/poetry.lock
Labels: api

deps: update protobuf and setuptools (#6670)
  api/poetry.lock
Labels: api

chore(main): release 2.213.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Update django-axes
  api/poetry.lock
  api/pyproject.toml
Labels: api

Add setuptools as a dev dependency to fix bug in freezegun
  api/poetry.lock
  api/pyproject.toml
Labels: api

chore(main): release 2.213.1 (#6665)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.213.1 (#6665)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

query improvements
  api/features/tasks.py
Labels: api

return empty list for non-existing previous data
  api/features/tasks.py
Labels: api

Update frontend/e2e/run-with-retry.ts
  frontend/e2e/run-with-retry.ts
Labels: front-end

Update frontend/package.json
  frontend/package.json
Labels: front-end

Remove E2E = true
  frontend/README.md
  frontend/e2e/run-with-retry.ts
Labels: front-end

Remove E2E = true, fix package-lock
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

Fix test
  api/tests/unit/environments/test_unit_environments_authentication.py
  api/tests/unit/users/test_unit_users_login.py
Labels: api

Fix remaining timestamp assertion
  api/tests/unit/util/test_logging.py
Labels: api

Opt for simpler millis value
  api/tests/unit/util/test_logging.py
Labels: api

fix: Webhook payloads do not include multivariate values (#6666)
  api/audit/signals.py
  api/environments/models.py
  api/features/tasks.py
  api/tests/integration/features/featurestate/test_webhooks.py
  api/webhooks/webhooks.py
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
Labels: docs, api

fix: Webhook payloads do not include multivariate values (#6666)
  api/audit/signals.py
  api/environments/models.py
  api/features/tasks.py
  api/tests/integration/features/featurestate/test_webhooks.py
  api/webhooks/webhooks.py
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
Labels: docs, api

Revert line change in error message
  api/tests/unit/util/test_logging.py
Labels: api

Archive deprecated LaunchDarkly flags on import
  api/integrations/launch_darkly/constants.py
  api/integrations/launch_darkly/models.py
  api/integrations/launch_darkly/serializers.py
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/client_responses/get_flags.json
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__import_request_status.json
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_views.py
  docs/docs/administration-and-security/data-management/import-from-launchdarkly.md
Labels: docs, api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
