Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

chore: regenerate events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

feat: use dynamic name in test
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experimentation): return feature object along with experiment entity (#7609)
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat: added search query to get experiment endpoints (#7617)
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat: fixed wrong rebasing
  api/experimentation/views.py
Labels: api

feat: fixed wrong rebasing
  api/experimentation/views.py
Labels: api

feat: fixed tests
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

docs(superpowers): add Azure DevOps integration design spec
  docs/superpowers/specs/2026-05-28-azure-devops-integration-design.md
Labels: docs

docs(superpowers): add PR 1 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-01-resource-types.md
Labels: docs

feat(integrations): add Azure DevOps resource type enums
  api/features/feature_external_resources/models.py
  api/tests/unit/features/test_unit_feature_external_resources_models.py
Labels: api

docs(superpowers): rename AZURE_* resource types to AZURE_DEVOPS_* in spec
  docs/superpowers/specs/2026-05-28-azure-devops-integration-design.md
Labels: docs

feat(integrations): migrate FeatureExternalResource.type for Azure DevOps choices
  api/features/feature_external_resources/migrations/0004_add_azure_resource_types.py
  api/tests/unit/features/test_unit_feature_external_resources_models.py
Labels: api

feat: added pagination and deletion guard (#7615)
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(tags): add AZURE_DEVOPS TagType
  api/projects/tags/models.py
  api/tests/unit/projects/tags/test_unit_projects_tags_models.py
Labels: api

feat(tags): migrate Tag.type for AZURE_DEVOPS choice
  api/projects/tags/migrations/0010_add_azure_devops_tag_type.py
  api/tests/unit/projects/tags/test_unit_projects_tags_models.py
Labels: api

style(tests): restructure micro-tests for GWT lint rule FT004
  api/tests/unit/features/test_unit_feature_external_resources_models.py
  api/tests/unit/projects/tags/test_unit_projects_tags_models.py
Labels: api

docs(Sizing): rewrite as workload-driven guide (#7592)
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
Labels: docs

style(tests): split the last remaining combined GWT marker
  api/tests/unit/features/test_unit_feature_external_resources_models.py
Labels: api

docs(superpowers): add PR 2 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-02-models.md
Labels: docs

feat(integrations): scaffold the integrations.azure_devops Django app
  api/app/settings/common.py
  api/integrations/azure_devops/__init__.py
  api/integrations/azure_devops/apps.py
  api/integrations/azure_devops/migrations/__init__.py
  api/tests/unit/integrations/azure_devops/__init__.py
  api/tests/unit/integrations/azure_devops/test_apps.py
Labels: api

feat(integrations): add AzureDevOpsConfiguration model
  api/integrations/azure_devops/migrations/0001_initial.py
  api/integrations/azure_devops/models.py
  api/tests/unit/integrations/azure_devops/conftest.py
  api/tests/unit/integrations/azure_devops/test_models.py
Labels: api

style(tests): remove stale GWT scaffolding comment in test_models
  api/tests/unit/integrations/azure_devops/test_models.py
Labels: api

feat(integrations): add AzureDevOpsServiceHook model
  api/integrations/azure_devops/migrations/0001_initial.py
  api/integrations/azure_devops/models.py
  api/tests/unit/integrations/azure_devops/test_models.py
Labels: api

feat(integrations): add Azure DevOps configuration serializer
  api/integrations/azure_devops/serializers.py
  api/tests/unit/integrations/azure_devops/test_serializers.py
Labels: api

feat(integrations): add Azure DevOps configuration viewset and URL wiring
  api/integrations/azure_devops/views/__init__.py
  api/integrations/azure_devops/views/configuration.py
  api/projects/urls.py
  api/tests/unit/integrations/azure_devops/test_configuration.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

style(tests): remove unused pytest import + ruff reformat
  api/tests/unit/integrations/azure_devops/test_configuration.py
Labels: api

fix(integrations): drop redundant uuid redeclaration + add permission tests
  api/integrations/azure_devops/migrations/0001_initial.py
  api/integrations/azure_devops/models.py
  api/tests/unit/integrations/azure_devops/test_configuration.py
Labels: api

docs(superpowers): add PR 3 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-03-client.md
Labels: docs

feat(integrations): scaffold Azure DevOps client + services packages
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/constants.py
  api/integrations/azure_devops/services/__init__.py
  api/tests/unit/integrations/azure_devops/test_constants.py
Labels: api

feat(integrations): add Azure DevOps client typed exceptions
  api/integrations/azure_devops/client/exceptions.py
  api/tests/unit/integrations/azure_devops/test_exceptions.py
Labels: api

feat(integrations): add Azure DevOps client TypedDicts
  api/integrations/azure_devops/client/types.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(integrations): add list_projects to the Azure DevOps client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(integrations): add Azure DevOps URL parsing for PRs and work items
  api/integrations/azure_devops/services/url_parsing.py
  api/tests/unit/integrations/azure_devops/test_url_parsing.py
Labels: api

feat(integrations): normalise organisation_url on save
  api/integrations/azure_devops/models.py
  api/tests/unit/integrations/azure_devops/test_models.py
Labels: api

feat(integrations): preserve PAT on update when payload sends placeholder
  api/integrations/azure_devops/serializers.py
  api/tests/unit/integrations/azure_devops/test_serializers.py
Labels: api

feat(integrations): validate PAT against ADO on create/update
  api/integrations/azure_devops/views/configuration.py
  api/tests/unit/integrations/azure_devops/test_configuration.py
Labels: api

style(tests): rename save-normalisation tests to satisfy FT003
  api/tests/unit/integrations/azure_devops/test_models.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experiment): added counts to paginated response
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

fix(integrations): translate 5xx/network errors during PAT validation to 400
  api/integrations/azure_devops/views/configuration.py
  api/tests/unit/integrations/azure_devops/test_client.py
  api/tests/unit/integrations/azure_devops/test_configuration.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experiment): removed comment
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
