Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

refactor(tags): move the create row's colours onto utilities
  frontend/web/components/tags/AddEditTags/AddEditTags.scss
  frontend/web/components/tags/AddEditTags/AddEditTags.tsx
Labels: front-end

refactor(tags): one place knows a swatch's name and class
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
  frontend/web/components/tags/tagSwatch.ts
Labels: front-end

fix(tags): soften the picker swatch's corners
  frontend/web/components/tags/TagColourPicker/TagColourPicker.scss
Labels: front-end

refactor(tags): build the colour picker on ColorSwatch
  frontend/documentation/components/ColorSwatch.stories.tsx
  frontend/documentation/components/TagColourPicker.stories.tsx
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.scss
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
Labels: front-end

refactor: drop comments the types already state
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
Labels: front-end

refactor(tags): fold the picker swatch's radius into the ring
  frontend/web/components/tags/TagColourPicker/TagColourPicker.scss
Labels: front-end

refactor(tokens): emit the palette as a typed list
  frontend/common/theme/tokens.ts
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
  frontend/web/components/tags/tagSwatch.ts
Labels: front-end

refactor(tags): drop a comment the map already states
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
Labels: front-end

refactor(tags): push the row's checkmark with ms-auto
  frontend/web/components/tags/TagRow/TagRow.scss
  frontend/web/components/tags/TagRow/TagRow.tsx
Labels: front-end

refactor(tags): drop the picker's unstyled root class
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
Labels: front-end

docs(tags): say what the swatch map is for
  frontend/web/components/tags/tagSwatch.ts
Labels: front-end

docs(tags): correct and shorten the swatch map's comment
  frontend/web/components/tags/tagSwatch.ts
Labels: front-end

fix(Feature Versioning): Publishing a feature version bypasses Feature Change Requests
  api/features/versioning/views.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(tags): tidy tagSwatch after review
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/systemTag.ts
  frontend/web/components/tags/tagSwatch.ts
Labels: front-end

refactor(tags): tidy the tag filter
  frontend/web/components/tags/TagFilter.tsx
Labels: front-end

refactor(tags): share the chip markup the tooltips build
  frontend/web/components/feature-summary/FeatureAction.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/tagChipHtml.ts
Labels: front-end

fix(tags): restore the escape regex's unicode escapes
  frontend/web/components/tags/tagChipHtml.ts
Labels: front-end

docs(chip): stop restating the radius token's value
  frontend/web/components/base/Chip/Chip.tsx
Labels: front-end

fix(tags): keep a plan-locked tag row focusable
  frontend/web/components/tags/TagRow/TagRow.scss
  frontend/web/components/tags/TagRow/TagRow.tsx
Labels: front-end

refactor(tags): group the tag helpers under utils
  frontend/documentation/components/Chip.stories.tsx
  frontend/web/components/feature-summary/FeatureAction.tsx
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/index.ts
  frontend/web/components/tags/utils/systemTag.ts
  frontend/web/components/tags/utils/tagChipHtml.ts
  frontend/web/components/tags/utils/tagSwatch.ts
Labels: front-end

fix(tags): make the tag search case-insensitive
  frontend/web/components/tags/AddEditTags/AddEditTags.tsx
Labels: front-end

fix(tags): ring the swatch an existing tag already renders as
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
Labels: front-end

fix(chip): report selection only where a role supports it
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/tags/ColourSelect.tsx
Labels: front-end

fix(tags): give the colour trigger a frame
  frontend/web/components/tags/ColourSelect/ColourSelect.scss
  frontend/web/components/tags/ColourSelect/ColourSelect.tsx
  frontend/web/components/tags/ColourSelect/index.ts
Labels: front-end

fix(tags): size and space the banner colour trigger
  frontend/documentation/components/ColorSwatch.stories.tsx
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/tags/ColourSelect/ColourSelect.scss
  frontend/web/components/tags/ColourSelect/ColourSelect.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
Labels: front-end

fix(environments): stop the banner drawing white text on a light bar
  frontend/web/components/ButterBar.tsx
Labels: front-end

refactor(swatch): order the size map by size
  frontend/web/components/ColorSwatch.tsx
Labels: front-end

docs(tags): say what the row's trailing slot actually takes
  frontend/web/components/tags/TagRow/TagRow.tsx
Labels: front-end

docs(tags): shorten the trailing slot's comment
  frontend/web/components/tags/TagRow/TagRow.tsx
Labels: front-end

fix(tags): close the edit form and block Enter on a taken name
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

fix(tags): make the table's tag search case-insensitive
  frontend/web/components/tables/TableTagFilter.tsx
Labels: front-end

fix(tags): let the table filter's search reach every row
  frontend/web/components/tables/TableTagFilter.tsx
Labels: front-end

refactor(tags): draw the dot with ColorSwatch
  frontend/web/components/tags/Tag/Tag.scss
  frontend/web/components/tags/Tag/Tag.tsx
Labels: front-end

docs(tags): trim the Tag prop comments
  frontend/web/components/tags/Tag/Tag.tsx
Labels: front-end

docs(tags): drop a comment systemTag.ts already makes
  frontend/web/components/tags/Tag/Tag.tsx
Labels: front-end

fix(chip): restore the xs height and keep Enter working
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
Labels: front-end

fix(chip): let xs keep the height its padding gives it
  frontend/web/components/base/Chip/Chip.scss
Labels: front-end

docs(storybook): group the tag stories
  frontend/documentation/components/Tag.stories.tsx
  frontend/documentation/components/TagColourPicker.stories.tsx
  frontend/documentation/components/VCSProviderTag.stories.tsx
Labels: front-end

fix(e2e): point the tag helper at the new picker
  frontend/e2e/helpers/e2e-helpers.playwright.ts
Labels: front-end

refactor(experimentation): keep the environment keys db view SQL in its own file
  api/experimentation/migrations/0015_add_environment_keys_db_view.py
  api/experimentation/migrations/sql/0015_create_environment_keys_db_view.sql
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
