Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(versioning): allow direct-write when explicitly targeting a version
  api/features/versioning/versioning_service.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat: cleaned up old js payment related components
  frontend/web/components/Blocked.js
  frontend/web/components/Blocked.tsx
  frontend/web/components/ProjectsPage.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/modals/payment/onPaymentLoad.ts
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

feat: bypass pre versioning scaleup grandfathering audit and feature visibility
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

fix(versioning): reject create-segment-override on v2 environments
  api/features/feature_segments/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

refactor(versioning): drop unreachable v2 check in nested segment serializer
  api/features/feature_segments/serializers.py
Labels: api

fix(versioning): include multivariate values in v2 webhook payloads
  api/features/versioning/schemas.py
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

feat: cleaned up comments
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

feat: use flag value to display sdk message (#7458)
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
Labels: front-end

ci: Pin uv via [tool.uv].required-version
  .github/actions/install-uv/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
  api/Makefile
  api/pyproject.toml
Labels: api

ci: Drop bash wrapper from mypy pre-commit hook
  .pre-commit-config.yaml
Labels: none

ci: Switch api dependabot to uv ecosystem
  .github/dependabot.yml
Labels: none

fix: Drop SECURE_PROXY_SSL_HEADER_NAME override
  infrastructure/aws/production/ecs-task-definition-admin-api.json
Labels: infrastructure

review: address Wadi's comments
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

fix: extracted versioning check into a model method
  api/organisations/models.py
Labels: api

ci: Migrate to uv (#6546)
  .github/actions/install-uv/action.yml
  .github/dependabot.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
  .pre-commit-config.yaml
  Dockerfile
  api/Makefile
  api/conftest.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/conftest.py
  api/uv.lock
Labels: api

chore(main): release 2.233.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Update api/organisations/models.py
  api/organisations/models.py
Labels: api

fix: get scaleup plan version and gate previous scaleup features with it
  api/app/settings/common.py
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

chore(main): release 2.233.0 (#7452)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

docs: fix broken OpenAPI spec links on Admin API page
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/index.md
Labels: docs

docs(experiments-v2): Align design doc + notes with V1
  frontend/web/components/experiments-v2/EXPERIMENTATION_DESIGN.md
  frontend/web/components/experiments-v2/NOTES.md
Labels: front-end

fix: removed compare env guard
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/CondensedFeatureRow.tsx
  frontend/web/components/IdentityTraits.tsx
  frontend/web/components/feature-override/MultivariateOverrideDescription.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/FeatureValue.tsx
Labels: front-end

fix(projects): validate organisation query param is numeric (#7486)
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

ci: use production settings for mcp schema generation
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

ci: use production settings for mcp schema generation (#7502)
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

refactor(experiments-v2): Align results page with V1 wizard model
  frontend/web/components/experiments-v2/ExperimentResultsPage.scss
  frontend/web/components/experiments-v2/ExperimentResultsPage.tsx
  frontend/web/components/experiments-v2/types.ts
Labels: front-end

fix(versioning): include multivariate values in v2 webhook payloads (#7496)
  api/features/versioning/schemas.py
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

fix(sentry): emit change-tracking events for v2-versioning environments
  api/audit/signals.py
  api/integrations/sentry/change_tracking.py
  api/tests/integration/sentry/test_change_tracking_webhook_integration.py
Labels: api

refactor(sentry): extract shared helpers for change-tracking receivers
  api/audit/signals.py
  api/features/versioning/versioning_service.py
  api/integrations/sentry/change_tracking.py
Labels: api

test(sentry): rename v2 tests to satisfy 3-part naming convention
  api/tests/integration/sentry/test_change_tracking_webhook_integration.py
Labels: api

fix(sentry): match v1's env-create suppression in v2 initial-FS receiver
  api/audit/signals.py
Labels: api

fix: updated tests to use v4
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

fix: lint-tests
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

fix(versioning): reject legacy feature-state writes on v2 environments (#7488)
  api/features/versioning/exceptions.py
  api/features/versioning/versioning_service.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(versioning): reject create-segment-override on v2 environments (#7494)
  api/features/feature_segments/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

docs: fix broken OpenAPI spec links on Admin API page (#7500)
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/index.md
Labels: docs

refactor(sentry): collapse v2 receivers into one dispatcher in change_tracking
  api/audit/signals.py
  api/integrations/sentry/change_tracking.py
Labels: api

refactor(sentry): decouple from audit log; fire feature_state_change_went_live for v2
  api/audit/signals.py
  api/features/models.py
  api/features/versioning/receivers.py
  api/integrations/sentry/change_tracking.py
  api/tests/unit/audit/test_unit_audit_signals.py
Labels: api

fix: lint-tests
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

feat: bypass pre versioning scaleup unlimited audit and feature visibility (#7497)
  api/app/settings/common.py
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
