Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(cohorts): expose sync state and allow updating the managed segment
  api/cohorts/migrations/0004_cohort_last_synced_at.py
  api/cohorts/models.py
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/views.py
  api/tests/unit/cohorts/test_views.py
Labels: api

fix(cohorts): reorder last_synced_at migration after mixpanel source
  api/cohorts/migrations/0005_cohort_last_synced_at.py
Labels: api

feat(cohorts): allow updating the managed segment's metadata via PATCH
  api/cohorts/serializers.py
  api/cohorts/views.py
  api/tests/unit/cohorts/test_views.py
Labels: api

fix(cohorts): annotate membership counts on the queryset and reject metadata on update
  api/cohorts/serializers.py
  api/cohorts/views.py
  api/tests/unit/cohorts/test_views.py
Labels: api

test(cohorts): split membership-count query assertion into rbac skipif twins
  api/tests/unit/cohorts/test_views.py
Labels: api

chore: regenerate events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

feat: standard segment page tabs for csv cohort segments
  frontend/common/services/useCohort.ts
  frontend/common/types/requests.ts
  frontend/web/components/CsvPreview/CsvPreview.scss
  frontend/web/components/CsvPreview/CsvPreview.tsx
  frontend/web/components/CsvUpload/CsvUpload.scss
  frontend/web/components/CsvUpload/CsvUpload.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.scss
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.tsx
Labels: front-end

feat: cohort segment detail view with CSV re-synchronisation
  frontend/common/services/useCohort.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/csv.ts
  frontend/web/components/CsvPreview/CsvPreview.scss
  frontend/web/components/CsvPreview/CsvPreview.tsx
  frontend/web/components/CsvPreview/index.ts
  frontend/web/components/CsvUpload/CsvUpload.scss
  frontend/web/components/CsvUpload/CsvUpload.tsx
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.scss
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortCsvSync.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.scss
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.tsx
  frontend/web/components/segments/CohortSegmentDetail/index.ts
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
Labels: front-end

fix: address review on cohort detail (read-only, sync progress, mixpanel type)
  frontend/common/types/responses.ts
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.tsx
Labels: front-end

working on tests
  api/features/import_export/permissions.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api

refactor(forms): drop the self-evident htmlFor comment on FieldLabel
  frontend/web/components/base/forms/FieldLabel.tsx
Labels: front-end

refactor(permissions): keep the lodash import above the component imports
  frontend/web/components/EditPermissions.tsx
Labels: front-end

fix(saml): wire the IdP-initiated label to its switch
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

fix(features): let FieldLabel own the value and variants tooltips
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
Labels: front-end

fix(export): give the environment field a wired label
  frontend/web/components/import-export/FeatureExport.tsx
Labels: front-end

fix(project-settings): wire the stale flag threshold label to its input
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
Labels: front-end

fix(cohorts): return the Amplitude list ID at every depth their parsers read
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(cohorts): expose sync state and allow updating the managed segment (#8386)
  api/cohorts/migrations/0005_cohort_last_synced_at.py
  api/cohorts/models.py
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/views.py
  api/tests/unit/cohorts/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

fix: return the Amplitude list ID at every depth their parsers read (#8399)
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

fix(cohorts): return only listId from Amplitude list creation
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: cohort detail status placeholder and persistent save button
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.tsx
Labels: front-end

fix: return only listId from Amplitude list creation (#8400)
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

fix(cohorts): restore the response envelope Amplitude's production parser reads
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: confirm before discarding unsaved cohort segment changes
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.scss
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.tsx
Labels: front-end

feat: allow uppercase characters in trait keys
  frontend/web/components/modals/CreateTrait.tsx
Labels: front-end

refactor(styles): diff view on the shared code tokens
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

test(storybook): add DiffString stories
  frontend/documentation/pages/DiffString.stories.tsx
Labels: front-end

refactor(styles): drop the .dark override in the code theme
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

fix(storybook): stop docs code styling repainting rendered stories
  frontend/.storybook/docs-theme.scss
Labels: front-end

feat: cohort segment detail view with CSV re-synchronisation (#8387)
  frontend/common/services/useCohort.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/csv.ts
  frontend/web/components/CsvPreview/CsvPreview.scss
  frontend/web/components/CsvPreview/CsvPreview.tsx
  frontend/web/components/CsvPreview/index.ts
  frontend/web/components/CsvUpload/CsvUpload.tsx
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.scss
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortCsvSync.tsx
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.scss
  frontend/web/components/segments/CohortSegmentDetail/CohortSegmentDetail.tsx
  frontend/web/components/segments/CohortSegmentDetail/index.ts
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
Labels: front-end

refactor(styles): name the diff's two strengths as local custom properties
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

chore(deps): Bump flagsmith-common to 3.13.2
  api/uv.lock
Labels: api

chore(deps): Bump flagsmith-common to 3.13.2 (#8406)
  api/uv.lock
Labels: api

feat: wire up the edge_proxy private app
  api/app/settings/common.py
  api/app/urls.py
  api/pyproject.toml
Labels: api

feat: exclude verified Edge Proxy requests from API usage tracking
  api/app_analytics/middleware.py
  api/tests/unit/app_analytics/test_middleware.py
Labels: api

fix: assert on the mock binding, not the middleware attribute
  api/tests/unit/app_analytics/test_middleware.py
Labels: api

fix: tolerate an edge_proxy app that predates is_edge_proxy_request
  api/app_analytics/middleware.py
  api/tests/unit/app_analytics/test_middleware.py
Labels: api

fix(auth): allow invite-based signup when PREVENT_SIGNUP is enabled
  api/custom_auth/permissions.py
  api/custom_auth/serializers.py
  api/organisations/invites/services.py
  api/tests/unit/custom_auth/test_unit_custom_auth_permissions.py
Labels: api

fix(cohorts): shape parameter to brute-force Amplitude's list ID contract
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(cohorts): pin the Amplitude list response to the verified dual shape
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api
