Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat: Add reusable BarChart and ChartTooltip components
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
Labels: front-end

refactor: Use EmptyState component, drop inline styles
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
Labels: front-end

feat: Add label-based grouping to Feature Analytics charts
  frontend/common/types/responses.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/analyticsUtils.ts
Labels: front-end

feat: Add ColorSwatch component
  frontend/web/components/ColorSwatch.tsx
Labels: front-end

fix: Restore env-colour parity with old prod chart
  frontend/documentation/components/BarChart.stories.tsx
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
Labels: front-end

chore: Address review feedback — O(1) day lookup + readable var names
  frontend/common/services/useFeatureAnalytics.ts
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/feature-page/FeatureNavTab/useEnvChartProps.ts
  frontend/web/components/feature-page/FeatureNavTab/utils.ts
Labels: front-end

chore: Standardise projectId/featureId to number, use nullish coalescing
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/useEnvChartProps.ts
  frontend/web/components/feature-page/FeatureNavTab/utils.ts
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
Labels: front-end

refactor: Extract useEnvChartProps, drop BarChart dead props, switch to Record
  frontend/documentation/components/MultiSelect.stories.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/__tests__/buildChartColorMap.test.ts
  frontend/web/components/charts/buildChartColorMap.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/__tests__/utils.test.ts
  frontend/web/components/feature-page/FeatureNavTab/useEnvChartProps.ts
  frontend/web/components/feature-page/FeatureNavTab/utils.ts
Labels: front-end

refactor: Move recharts overrides to dedicated 3rdParty partial
  frontend/web/components/charts/BarChart.tsx
  frontend/web/styles/3rdParty/_index.scss
  frontend/web/styles/3rdParty/_recharts.scss
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

fix: Remove hooks-in-loop violation, add unit tests
  frontend/common/services/useFeatureAnalytics.ts
  frontend/common/types/responses.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/__tests__/utils.test.ts
  frontend/web/components/feature-page/FeatureNavTab/utils.ts
Labels: front-end

chore: Address self-review nits on Feature Analytics PR
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/charts/__tests__/buildChartColorMap.test.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
Labels: front-end

fix: Use natural sort order for token generation
  frontend/common/theme/tokens.ts
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_tokens.scss
Labels: front-end

fix: SDK filter always visible to prevent layout shift
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
Labels: front-end

fix: Make BarChart story data deterministic for Chromatic stability
  frontend/documentation/components/BarChart.stories.tsx
Labels: front-end

chore: Remove MultiSelect Storybook stories (defer to dedicated refactor PR)
  frontend/documentation/components/MultiSelect.stories.tsx
Labels: front-end

feat: add selectedOrganisation Redux slice
  frontend/common/selectedOrganisationSlice.ts
  frontend/common/store.ts
Labels: front-end

feat: add useSelectedOrganisation hook
  frontend/common/hooks/useSelectedOrganisation.ts
Labels: front-end

refactor: bridge AccountStore org selection to Redux
  frontend/common/stores/account-store.js
Labels: front-end

fix: org breadcrumb not updating for non-admin users
  frontend/web/components/navigation/SelectOrgAndProject.tsx
Labels: front-end

fix: BreadcrumbSeparator listener cleanup on wrong store
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end

fix: Keep selectedOrganisation reducer pure
  frontend/common/selectedOrganisationSlice.ts
Labels: front-end

fix(gram): use-env-variables-in-ci-to-target-host
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

Unused actions and utils
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/dispatcher/base/_action-constants.js
  frontend/common/dispatcher/base/_app-actions.js
  frontend/common/stores/organisation-store.js
  frontend/common/stores/project-store.js
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

Update .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

fix(gram): use-env-variables-in-ci-to-target-host (#7243)
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

fix: restore deleted documentation, move local imports, and expose environment limit in admin
  api/projects/admin.py
  api/projects/serializers.py
  api/tests/unit/projects/test_unit_projects_models.py
Labels: api

fix: Limit field is writable, users can bypass restriction
  api/projects/serializers.py
Labels: api

feat: Gate labelled chart behind sdk_usage_charts feature flag
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
Labels: front-end

feat(OTel): Push Amplitude IDs to Baggage (#7238)
  frontend/common/service.ts
  frontend/common/types/responses.ts
  frontend/web/project/api.ts
Labels: front-end

chore: Track flagsmith-swift-ios-sdk 3.10.0
  api/app_analytics/constants.py
Labels: api

chore: Track flagsmith-swift-ios-sdk 3.10.0 (#7248)
  api/app_analytics/constants.py
Labels: api

feat(otel): Wire OTEL_EXPORTER_ENDPOINT in ECS task defs
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

infra(OTel): Wire OTEL_EXPORTER_ENDPOINT in ECS task defs (#7251)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

fix(otel): Rename OTEL_EXPORTER_ENDPOINT to OTEL_EXPORTER_OTLP_ENDPOINT
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

infra(OTel): Rename OTEL_EXPORTER_ENDPOINT to OTEL_EXPORTER_OTLP_ENDPOINT (#7252)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

feat(OTel): Add first structlog events for OTel event pipeline (#7237)
  api/core/workflows_services.py
  api/integrations/github/views.py
  api/projects/code_references/views.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api, infrastructure

Better telemetry
  api/integrations/gitlab/views.py
  api/tests/unit/integrations/gitlab/test_views.py
Labels: api

feat: lock CR UI once any reviewer has approved (#7056)
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

deps: bump workflows-logic from v3.3.2 to v3.4.0
  api/poetry.lock
  api/pyproject.toml
Labels: api

fix: Expand APPLICATION_LOGGERS and fix unnamed loggers
  api/edge_api/identities/export.py
  api/edge_api/management/commands/ensure_identity_traits_blanks.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/features/views.py
  api/scripts/run-docker.sh
  api/segments/serializers.py
  api/segments/views.py
  api/users/migrations/0044_remove_users_from_groups_in_orgs_they_do_not_belong_to.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
