Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

refactor(environments): render the banner colour picker as swatches
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/documentation/components/Chip.stories.tsx
  frontend/documentation/components/Tag.stories.tsx
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/base/Chip/chipColour.ts
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/tags/ColourSelect.tsx
  frontend/web/components/tags/utils/tagChipColour.ts
Labels: front-end

feat(tokens): give the tag tints a dark ramp
  frontend/common/theme/__tests__/tagSwatches.test.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/documentation/docs.scss
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/tags/Tag/Tag.scss
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/tagSwatch.ts
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

red 7: GitLab comments
  api/tests/integration/features/test_gitlab_external_resources.py
Labels: api

green now!
  api/features/managers.py
  api/features/models.py
  api/features/versioning/versioning_service.py
  api/tests/integration/audit/test_audit_logs.py
Labels: api

cleaner ✂️
  api/environments/models.py
  api/experimentation/services.py
  api/features/models.py
Labels: api

fix: check the existing key against the destination feature on partial update
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

revoke drf token after password change
  api/app/settings/common.py
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  frontend/common/constants.ts
  frontend/web/components/pages/AccountSettingsPage.tsx
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end, api

typecheck
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
Labels: api

Trim docstring
  api/evaluation/services.py
Labels: api

test: Assert the engine context for the `?feature=` filter
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat(Segments): Name the features managing system segments
  api/app/settings/common.py
  api/experimentation/services.py
  api/features/dependencies/services.py
  api/features/feature_segments/serializers.py
  api/segments/exceptions.py
  api/segments/migrations/0033_add_system_segment_managed_by.py
  api/segments/models.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/segments/test_unit_segments_exceptions.py
  api/tests/unit/segments/test_unit_segments_migrations.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(Segments): Label release pipeline segments as gradual rollouts
  api/segments/migrations/0033_add_system_segment_managed_by.py
  api/segments/models.py
  api/tests/unit/segments/test_unit_segments_exceptions.py
Labels: api

test(versioning): exercise supported override endpoints
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
Labels: api

feat(usage): break usage down by project and environment
  frontend/common/services/useOrganisationUsage.ts
  frontend/common/types/requests.ts
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(usage): give the breakdown one status and explicit rows
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(usage): test the breakdown status and fake it in Storybook
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(usage): say to wait on a throttled breakdown
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/throttle.ts
Labels: front-end

fix(usage): name every environment, not just the first page
  frontend/common/services/useEnvironment.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/__tests__/fetchAllPages.test.ts
  frontend/common/utils/fetchAllPages.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(usage): type the environments query error honestly
  frontend/common/services/useEnvironment.ts
  frontend/common/utils/__tests__/fetchAllPages.test.ts
  frontend/common/utils/fetchAllPages.ts
Labels: front-end

fix(usage): wait out the rate limit in the breakdown
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
  frontend/web/components/pages/usage/throttle.ts
Labels: front-end

refactor(usage): cache usage results instead of a throttled state
  frontend/common/services/useOrganisationUsage.ts
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/components/List/List.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
  frontend/web/components/pages/usage/throttle.ts
Labels: front-end

fix(usage): wait for the organisation before grouping usage
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
Labels: front-end

refactor(usage): pick the breakdown rows in one place
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
Labels: front-end

refactor(usage): decide the breakdown view in pure functions
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useUsageBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

refactor(usage): give the breakdown status and view their own module
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/breakdownView.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/breakdownView.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/index.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/utils.ts
Labels: front-end

fix(gitlab): include namespaces in project search and surface fetch errors
  api/integrations/gitlab/client/api.py
  api/tests/unit/integrations/gitlab/test_client.py
  frontend/web/components/GitLabProjectSelect.tsx
Labels: front-end, api

feat(ui): add ErrorState on a shared StateMessage base
  frontend/documentation/components/ErrorState.stories.tsx
  frontend/web/components/EmptyState.tsx
  frontend/web/components/ErrorState.tsx
  frontend/web/components/StateMessage.tsx
  frontend/web/components/pages/usage/components/UsagePageLayout.tsx
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_state-message.scss
Labels: front-end

refactor(ui): keep the StateMessage styles beside it and link docs with Link
  frontend/web/components/EmptyState.tsx
  frontend/web/components/StateMessage/StateMessage.scss
  frontend/web/components/StateMessage/StateMessage.tsx
  frontend/web/components/StateMessage/index.ts
  frontend/web/styles/components/_index.scss
Labels: front-end

feat(experimentation): add a Databricks statement client
  api/experimentation/types.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/constants.py
  api/experimentation/warehouses/databricks.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_databricks.py
Labels: api

feat(experimentation): add the Databricks warehouse provider
  api/experimentation/constants.py
  api/experimentation/migrations/0017_add_databricks_warehouse_type.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/types.py
  api/experimentation/views.py
  api/experimentation/warehouse_validation.py
  api/experimentation/warehouses/databricks.py
  api/experimentation/warehouses/dialect.py
  api/experimentation/warehouses/registry.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/warehouses/test_databricks.py
  openapi.yaml
Labels: api

refactor(ui): lay out StateMessage with utilities
  frontend/web/components/StateMessage/StateMessage.scss
  frontend/web/components/StateMessage/StateMessage.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependenciesEmptyStates.tsx
Labels: front-end

refactor(ui): let a caller's padding class win over StateMessage's default
  frontend/web/components/StateMessage/StateMessage.scss
  frontend/web/components/StateMessage/StateMessage.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependenciesEmptyStates.tsx
Labels: front-end

fix(usage): retry only the breakdown queries that failed
  frontend/web/components/pages/usage/components/UsageBreakdown/__tests__/breakdownView.test.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/breakdownView.ts
  frontend/web/components/pages/usage/components/UsageBreakdown/useGroupedBreakdown.ts
Labels: front-end

test: add the Given comment to the Databricks error description test
  api/tests/unit/experimentation/warehouses/test_databricks.py
Labels: api

refactor(Segments): Address review
  api/segments/exceptions.py
  api/segments/migrations/0033_add_system_segment_managed_by.py
  api/segments/models.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/segments/test_unit_segments_exceptions.py
  api/tests/unit/segments/test_unit_segments_migrations.py
Labels: api

refactor(Segments): Bring back the system segment exception
  api/segments/exceptions.py
  api/segments/migrations/0033_add_system_segment_managed_by.py
Labels: api

refactor(Segments): Address review
  api/segments/exceptions.py
  api/segments/models.py
Labels: api

feat(tags): outline tags in dark mode
  frontend/common/theme/__tests__/tagSwatches.test.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/documentation/components/Tag.stories.tsx
  frontend/documentation/docs.scss
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/tags/ColourSelect.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/Tag/Tag.scss
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/index.ts
  frontend/web/components/tags/utils/tagChipHtml.ts
  frontend/web/components/tags/utils/tagSwatch.ts
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): name the content colours by hue
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/tags/ColourSelect.tsx
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/tagSwatch.ts
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tags): carry the tag colour in a dot
  frontend/common/theme/__tests__/tagSwatches.test.ts
  frontend/common/theme/colourDistance.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/documentation/components/Chip.stories.tsx
  frontend/documentation/components/Tag.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/base/Chip/chipColour.ts
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/Tag/Tag.scss
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/index.ts
  frontend/web/components/tags/utils/tagChipColour.ts
  frontend/web/components/tags/utils/tagChipHtml.ts
  frontend/web/components/tags/utils/tagSwatch.ts
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
