Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

ci: Fix Renovate semantic commit scopes
  renovate.json
Labels: none

Remove temporary changes to workflow
  .github/workflows/renovate.yml
Labels: none

implement http oauth resource server
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/oauth.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_oauth.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

fix: handle DoesNotExist in delete_segment task to prevent race condition errors
  api/segments/tasks.py
Labels: api

feat(MCP): Add Docker image and release publishing
  .github/workflows/mcp-docker-build-publish.yml
  mcp/Dockerfile
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/integration/test_oauth.py
Labels: none

ci(MCP): Publish image to ECR on release
  .github/workflows/mcp-docker-build-publish.yml
Labels: none

ci(MCP): Publish image to staging ECR on push to main
  .github/workflows/mcp-docker-build-publish.yml
Labels: none

feat(experimentation): environment-scoped metrics & experiment-metric attachment
  api/audit/related_object_type.py
  api/environments/urls.py
  api/experimentation/experiment_urls.py
  api/experimentation/metric_urls.py
  api/experimentation/migrations/0005_metrics.py
  api/experimentation/models.py
  api/experimentation/permissions.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_metric_views.py
  api/tests/unit/experimentation/test_metric_models.py
  api/tests/unit/experimentation/test_metric_views.py
Labels: api

feat(MCP): OAuth 2.0 support for HTTP transport (#7692)
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/oauth.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_oauth.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

feat(MCP): Add Docker image and release publishing (#7694)
  .github/workflows/mcp-docker-build-publish.yml
  mcp/Dockerfile
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/integration/test_oauth.py
Labels: none

Update to use Flagsmith Engineering GH app
  .github/workflows/renovate.yml
Labels: none

docs(MCP): add stdio/uvx option to each client install tab
  docs/docs/integrating-with-flagsmith/mcp-server.mdx
Labels: docs

ci: self-hosted renovate (#7690)
  .github/workflows/renovate.yml
  renovate.json
Labels: none

feat(multivariate): add per-feature unique key to multivariate options
  api/features/multivariate/migrations/0009_add_multivariate_feature_option_key.py
  api/features/multivariate/models.py
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/unit/features/multivariate/test_unit_multivariate_models.py
Labels: api

feat(onboarding-quickstart): add OnboardingSinglePage (AI + manual + honest verify)
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.tsx
Labels: front-end

feat(onboarding-quickstart): wire single-page flow + multivariate variant gating
  frontend/web/components/pages/onboarding-quickstart/GettingStartedSwitch.tsx
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePageContainer.tsx
  frontend/web/components/pages/onboarding-quickstart/hooks/createOrganisationViaAccountStore.ts
  frontend/web/components/pages/onboarding-quickstart/hooks/useEnsureOnboardingResources.ts
Labels: front-end

Fix claude hallucinations
  renovate.json
Labels: none

Add MCP scope
  renovate.json
Labels: none

Add github actions
  renovate.json
Labels: none

feat(MCP): Expose Prometheus metrics
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/metrics.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/test_metrics.py
  mcp/uv.lock
Labels: none

feat(onboarding-quickstart): real flag toggle, inline rename, idempotent setup
  frontend/web/components/base/forms/GhostInput.tsx
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.tsx
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePageContainer.tsx
  frontend/web/components/pages/onboarding-quickstart/hooks/useEnsureOnboardingResources.ts
  frontend/web/components/pages/onboarding-quickstart/hooks/useOnboardingFlagToggle.ts
Labels: front-end

fix(MCP): Tool result size metric counts the payload twice
  mcp/src/flagsmith_mcp/metrics.py
Labels: none

feat(MCP): Measure the tool catalogue size
  mcp/src/flagsmith_mcp/metrics.py
  mcp/tests/integration/test_metrics.py
Labels: none

refactor(MCP): Name metric constants after the metrics they hold
  mcp/src/flagsmith_mcp/metrics.py
Labels: none

refactor(MCP): Inline metric sample lookups in tests
  mcp/tests/integration/test_metrics.py
Labels: none

test(MCP): Use assert_metric fixture from flagsmith-common
  mcp/pyproject.toml
  mcp/tests/integration/test_metrics.py
  mcp/uv.lock
Labels: none

feat(MCP): Break down tool result size by content type
  mcp/src/flagsmith_mcp/metrics.py
  mcp/tests/integration/test_metrics.py
Labels: none

refactor(MCP): Drop the total content label from tool result sizes
  mcp/src/flagsmith_mcp/metrics.py
  mcp/tests/integration/test_metrics.py
Labels: none

docs(MCP): Tighten the tool result size metric description
  mcp/src/flagsmith_mcp/metrics.py
Labels: none

test(MCP): Cover the metrics endpoint next to the other custom routes
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/integration/test_metrics.py
Labels: none

feat(onboarding-quickstart): concrete JS/React manual connect + theme-adaptive code
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingSinglePage.tsx
Labels: front-end

test(MCP): Snapshot the metrics exposition
  mcp/tests/integration/snapshots/test_mcp_server__metrics__returns_prometheus_exposition.txt
  mcp/tests/integration/test_mcp_server.py
Labels: none

chore(onboarding-quickstart): TEMP force single_page variant for the prototype
  frontend/web/components/pages/onboarding-quickstart/GettingStartedSwitch.tsx
Labels: front-end

Allow the future
  api/pyproject.toml
Labels: api

Improve UI and wording around Identity and Segment Overrides
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
  frontend/web/styles/project/_segments.scss
Labels: front-end

Fix button position
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
Labels: front-end

Four
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/web/components/PlanBasedAccess.tsx
Labels: front-end

Update Change Request menu names
  frontend/web/components/ProjectChangeRequestsLink.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
Labels: front-end

Refactor feature change request docs
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/static/img/change-requests/enable-feature-change-requests.png
  docs/static/img/change-requests/feature-change-request.png
Labels: docs

fix(multivariate): constrain option key to a 255-char slug
  api/features/multivariate/migrations/0009_add_multivariate_feature_option_key.py
  api/features/multivariate/models.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api
