Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

ci: bump checkout@v4 to v5 in GHA workflows (#6154)
  .github/actions/e2e-tests/action.yml
  .github/workflows/.reusable-deploy-ecs.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/.reusable-docker-publish.yml
  .github/workflows/.reusable-frontend-deploy.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/docs-pull-request.yml
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-test-staging.yml
  .github/workflows/manual-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-docker-trivy-scan.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/poc-github-code-references.yml
  .github/workflows/update-flagsmith-environment.yml
Labels: none

fix: remove-extra-log (#6178)
  frontend/common/useDebounce.ts
  frontend/common/useDebouncedSearch.ts
Labels: front-end

fix: remove-extra-log (#6178)
  frontend/common/useDebounce.ts
  frontend/common/useDebouncedSearch.ts
Labels: front-end

chore(main): release 2.199.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.199.0 (#6179)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.199.0 (#6179)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

fix: clean-up-unused-functions
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

bring back environment key
  sdk/evaluation-context.json
Labels: none

make identity key not required
  sdk/evaluation-context.json
Labels: none

fix: metrics endpoint identity overrides (#6159)
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/metrics/metrics_service.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Labels: api

fix: metrics endpoint identity overrides (#6159)
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/metrics/metrics_service.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Labels: api

deps: bump flagsmith-workflows to 3.1.0 (#6140)
  api/poetry.lock
  api/pyproject.toml
Labels: api

deps: bump flagsmith-workflows to 3.1.0 (#6140)
  api/poetry.lock
  api/pyproject.toml
Labels: api

Update release pipelines beta status
  docs/docs/advanced-use/release-pipelines.md
Labels: docs

Update release pipelines beta status
  docs/docs/advanced-use/release-pipelines.md
Labels: docs

docs: update internal redirect links
  docs/vercel.json
Labels: docs

docs: add frontend redirects
  docs/vercel.json
Labels: docs

docs: reorganize docs and update links
  docs/docs/best-practices/efficient-api-usage.md
  docs/docs/best-practices/integration-approaches.md
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/docs/flagsmith-concepts/identities.md
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/integrating-with-flagsmith/integration-overview.md
  docs/docs/integrating-with-flagsmith/sdks/_category_.json
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/_category_.json
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/android.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/flutter.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/index.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/ios.mdx
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/javascript.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/nextjs-and-ssr.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/react.md
  docs/docs/integrating-with-flagsmith/sdks/index.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/docs/managing-flags/flag-analytics.md
  docs/docs/managing-flags/release-pipeline.md
  docs/docs/third-party-integrations/observability-and-monitoring/datadog.md
  docs/docs/third-party-integrations/observability-and-monitoring/dynatrace.md
  docs/src/pages/index.tsx
  docs/vercel.json
Labels: docs

chore: update package dependencies to include @ionic/react and ionicons
  docs/package-lock.json
  docs/package.json
Labels: docs

fix: update metrics documentation path for system administration
  api/Makefile
Labels: api

fix: undo changes
  api/Makefile
Labels: api

chore: Remove PGP key from SaaS build
  .github/workflows/.reusable-deploy-ecs.yml
Labels: none

remove AWS_SSE_LOGS_BUCKET_NAME
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

infra: Remove PGP key from SaaS build (#6194)
  .github/workflows/.reusable-deploy-ecs.yml
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

infra: Remove PGP key from SaaS build (#6194)
  .github/workflows/.reusable-deploy-ecs.yml
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

Update generate-docs make command
  api/Makefile
Labels: api

Update flagsmith-common
  api/poetry.lock
Labels: api

fix: parsing for features with .
  api/app_analytics/views.py
Labels: api

Revert "infra: Remove PGP key from SaaS build (#6194)"
  .github/workflows/.reusable-deploy-ecs.yml
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

Remove AWS_SSE_LOGS_BUCKET_NAME from task definition
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

fix(sse_stream_access_logs): Add timeout
  api/sse/sse_service.py
  api/tests/unit/sse/test_sse_service.py
Labels: api

fix: Revert "infra: Remove PGP key from SaaS build" (#6197)
  .github/workflows/.reusable-deploy-ecs.yml
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

fix: Revert "infra: Remove PGP key from SaaS build" (#6197)
  .github/workflows/.reusable-deploy-ecs.yml
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

Update bug report template to use project instead of label
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update feature request template to use engineering project
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

Use a button because link styling is bad in alerts.
  docs/docs/advanced-use/release-pipelines.md
Labels: docs

Fix: Correct typo in feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

remove superfluous quotations
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

fix(sse_stream_access_logs): Add timeout (#6198)
  api/sse/sse_service.py
  api/tests/unit/sse/test_sse_service.py
Labels: api

fix(sse_stream_access_logs): Add timeout (#6198)
  api/sse/sse_service.py
  api/tests/unit/sse/test_sse_service.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
