Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(multivariate): reject empty string option keys
  api/features/multivariate/migrations/0009_add_multivariate_feature_option_key.py
  api/features/multivariate/models.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

fix(multivariate): make option key read-only outside the mv-options endpoint
  api/features/multivariate/serializers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(multivariate): cover updating option keys
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

chore(multivariate): trim serializer comments
  api/features/multivariate/serializers.py
Labels: api

test(multivariate): drop redundant key update test
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

feat(sdk): add variant key to evaluation schemas
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

test(MCP): Mock run() collaborators with pytest-mock
  mcp/pyproject.toml
  mcp/tests/integration/snapshots/test_metrics_server__exposition__matches_snapshot.txt
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

feat(MCP): Serve Prometheus metrics on a dedicated port
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/snapshots/test_metrics_server__exposition__matches_snapshot.txt
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/unit/test_server.py
Labels: none

Fix contrast colour fallback for invalid and missing background colours
  frontend/common/utils/utils.tsx
  frontend/web/components/ButterBar.tsx
Labels: front-end

fixed extra space
  frontend/web/components/ButterBar.tsx
Labels: front-end

deps: Bump uv to 0.11.18
  .pre-commit-config.yaml
  api/pyproject.toml
Labels: api

deps: Bump uv to 0.11.18 (#7708)
  .pre-commit-config.yaml
  api/pyproject.toml
Labels: api

Add missing permissions to docs
  docs/docs/administration-and-security/access-control/rbac.md
Labels: docs

fix: Improve ButterBar text contrast on banners (#7684)
  frontend/common/utils/utils.tsx
  frontend/web/components/ButterBar.tsx
Labels: front-end

feat(MCP): Expose Prometheus metrics (#7705)
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/metrics.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/test_metrics.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

feat(MCP): Set up logging and OpenTelemetry export
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/unit/test_server.py
  mcp/tests/unit/test_telemetry.py
  mcp/uv.lock
Labels: none

feat(MCP): Set up logging and OpenTelemetry export (#7706)
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/unit/test_server.py
  mcp/tests/unit/test_telemetry.py
  mcp/uv.lock
Labels: none

feat(MCP): Propagate client identity and tool name to the API
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/server.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/integration/test_spans.py
  mcp/tests/unit/test_telemetry.py
  mcp/uv.lock
Labels: none

feat(MCP): Emit session and tool call events
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/events.py
  mcp/src/flagsmith_mcp/server.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_events.py
  mcp/tests/integration/test_spans.py
  mcp/tests/unit/test_event_logging.py
  mcp/tests/unit/test_telemetry.py
  mcp/uv.lock
Labels: none

fix docgen
  .pre-commit-config.yaml
Labels: none

refactor(MCP): Derive span attributes from baggage
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_spans.py
  mcp/tests/unit/test_telemetry.py
Labels: none

remove duration_ms
  mcp/src/flagsmith_mcp/events.py
  mcp/tests/integration/test_events.py
Labels: none

refactor(MCP): Pass MCP call context to the API as W3C Baggage
  mcp/src/flagsmith_mcp/server.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_spans.py
  mcp/tests/unit/test_event_logging.py
  mcp/tests/unit/test_telemetry.py
Labels: none

keep baggage working
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/unit/test_telemetry.py
Labels: none

Add segment change requests docs
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/static/img/change-requests/enable-segment-change-requests.png
  docs/static/img/change-requests/segment-change-request.png
Labels: docs

feat(MCP): Identify this service and the MCP client separately
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/events.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/integration/test_events.py
  mcp/tests/integration/test_spans.py
  mcp/tests/unit/test_event_logging.py
  mcp/tests/unit/test_telemetry.py
Labels: none

feat(MCP): Emit session and tool call events (#7707)
  .pre-commit-config.yaml
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/events.py
  mcp/src/flagsmith_mcp/server.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_events.py
  mcp/tests/integration/test_spans.py
  mcp/tests/unit/test_event_logging.py
  mcp/tests/unit/test_telemetry.py
  mcp/uv.lock
Labels: none

Tolerate version specifiers when deriving uv version for install
  api/Makefile
Labels: api

Add soft-delete support to ClickHouse identity tracking
  api/clickhouse/migrations/0002_identities_add_is_deleted.py
  api/edge_api/identities/models.py
  api/segment_membership/mappers.py
  api/segment_membership/services.py
  api/segment_membership/tasks.py
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
Labels: api

Removed comment
  api/segment_membership/tasks.py
Labels: api

Fixed linting error
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
Labels: api

Validating registration before password validation
  api/custom_auth/serializers.py
Labels: api

regenerate events catalogue for tombstone task log events
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

lazy-import tombstone task to avoideager Prometheus init
  api/edge_api/identities/models.py
Labels: api

Add unit test for EdgeIdentity.delete() dispatch
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
Labels: api

fix(permissions): add stable reference to prevent memoization break
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
Labels: front-end

feat(experiments): create metric page metrics
  frontend/common/services/useMetric.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/experiments/CreateMetricForm/CreateMetricForm.scss
  frontend/web/components/experiments/CreateMetricForm/CreateMetricForm.tsx
  frontend/web/components/experiments/CreateMetricForm/__tests__/utils.test.ts
  frontend/web/components/experiments/CreateMetricForm/index.ts
  frontend/web/components/experiments/CreateMetricForm/utils.ts
  frontend/web/components/experiments/ExperimentsFakeDoor/ExperimentsFakeDoor.scss
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/CreateMetricPage.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/routes.js
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(multivariate): add per-feature unique key to multivariate options (#7698)
  api/features/multivariate/migrations/0009_add_multivariate_feature_option_key.py
  api/features/multivariate/models.py
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/unit/features/multivariate/test_unit_multivariate_models.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

ci(mcp): render and deploy task definition to ECS
  .github/workflows/mcp-docker-build-publish.yml
  infrastructure/aws/production/ecs-task-definition-mcp.json
  infrastructure/aws/staging/ecs-task-definition-mcp.json
Labels: infrastructure

feat(multivariate): thread variant key into the environment document
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/engine_models/features/models.py
  api/util/mappers/engine.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
