Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(frontend): add reusable EmptyState component for empty pages
  frontend/web/components/EmptyState.tsx
  frontend/web/components/pages/ScheduledChangesPage.tsx
  frontend/web/styles/components/_empty-state.scss
  frontend/web/styles/components/_index.scss
Labels: front-end

feat(frontend): add subscription limit info to Usage and Billing pages
  frontend/common/services/useOrganisationUsage.ts
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

refactor(frontend): extract LimitItem component and remove inline styles
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

feat: bumped-workflows-and-private
  api/poetry.lock
  api/pyproject.toml
Labels: api

style(frontend): increase spacing between subscription limit items
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

fix(frontend): wrap Feature History behind feature_versioning flag
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

fix(frontend): show Unlimited for null audit log and feature history values
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

fix(CI): Run tests with private modules
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

Update flagsmith-rbac
  api/Makefile
Labels: api

Update flagsmith-common as well
  api/poetry.lock
  api/pyproject.toml
Labels: api

DROPME: Run tests
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

Up!
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

Upgrade flagsmith dependencies
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
Labels: api

feat: Retire split-testing
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  api/api/urls/v1.py
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  frontend/common/services/useSplitTest.ts
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
Labels: front-end, api

Update flagsmith-common
  api/poetry.lock
  api/pyproject.toml
Labels: api

remove moar code
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/SplitTestPage.tsx
  frontend/web/routes.js
Labels: front-end

Delete split-testing dependency
  api/poetry.lock
  api/pyproject.toml
Labels: api

Update licensing
  api/poetry.lock
  api/pyproject.toml
Labels: api

feat: Retire split-testing (#6542)
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  api/api/urls/v1.py
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  frontend/common/services/useSplitTest.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/SplitTestPage.tsx
  frontend/web/routes.js
Labels: front-end, api

feat: Retire split-testing (#6542)
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  api/api/urls/v1.py
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  frontend/common/services/useSplitTest.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/SplitTestPage.tsx
  frontend/web/routes.js
Labels: front-end, api

Update Flagsmith modules again
  api/Makefile
Labels: api

Fix flagsmith-common dependency
  api/poetry.lock
  api/pyproject.toml
Labels: api

Fix some tests affected by private packages installed
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

add trigger
  .github/workflows/platform-docker-build-test-publish.yml
Labels: none

feat: Add the enterprise image build
  .github/workflows/platform-docker-build-test-publish.yml
  Dockerfile
Labels: none

add missing secrets
  .github/workflows/platform-docker-build-test-publish.yml
Labels: none

Improve handling of failing test
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

remove credentials from api-private-test
  Dockerfile
Labels: none

reuse build venv in test images
  Dockerfile
Labels: none

remove redundant WORKDIR directives
  Dockerfile
Labels: none

Improve further
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

build on PRs
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
Labels: none

I tried so hard, and got so far
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

correct CMD syntax
  Dockerfile
Labels: none

ci: Add `flagsmith-api-private-test` image build (#6543)
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  Dockerfile
Labels: none

ci: Add `flagsmith-api-private-test` image build (#6543)
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  Dockerfile
Labels: none

Update flagsmith-auth-controller
  api/poetry.lock
  api/pyproject.toml
Labels: api

Revert "DROPME: Run tests"
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

fix(CI): Run tests with private modules (#6540)
  .github/workflows/api-tests-with-private-packages.yml
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

fix(CI): Run tests with private modules (#6540)
  .github/workflows/api-tests-with-private-packages.yml
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
