Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs(DevEx): Add guidelines for metrics, logs, and feature flags
  api/README.md
Labels: api

fix: Use EmptyState for compare environments empty view
  frontend/web/components/CompareEnvironments.js
Labels: front-end

fix: Move API call limit to tooltip to avoid misleading comparison (#7084)
  frontend/documentation/components/StatItem.stories.tsx
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
Labels: front-end

fix: Enrich experiment results page with timeline, recommendation, and config
  frontend/web/components/experiments-v2/ExperimentResultsPage.scss
  frontend/web/components/experiments-v2/ExperimentResultsPage.tsx
Labels: front-end

fix: Enrich review step with richer data display and pre-populated mock state
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.scss
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
Labels: front-end

feat: Motion presets + Warehouse Connection Settings UI
  frontend/common/utils/motion.ts
  frontend/documentation/MotionPresets.stories.tsx
  frontend/documentation/warehouse/ConfigForm.stories.tsx
  frontend/documentation/warehouse/ConnectedState.stories.tsx
  frontend/documentation/warehouse/EmptyState.stories.tsx
  frontend/documentation/warehouse/ErrorState.stories.tsx
  frontend/documentation/warehouse/TestingState.stories.tsx
  frontend/documentation/warehouse/WarehousePage.stories.tsx
  frontend/web/components/warehouse/WarehousePage.scss
  frontend/web/components/warehouse/WarehousePage.tsx
  frontend/web/components/warehouse/components/ConfigForm.scss
  frontend/web/components/warehouse/components/ConfigForm.tsx
  frontend/web/components/warehouse/components/ConnectedState.scss
  frontend/web/components/warehouse/components/ConnectedState.tsx
  frontend/web/components/warehouse/components/ConnectionDetailsGrid.scss
  frontend/web/components/warehouse/components/ConnectionDetailsGrid.tsx
  frontend/web/components/warehouse/components/EmptyState.scss
  frontend/web/components/warehouse/components/EmptyState.tsx
  frontend/web/components/warehouse/components/ErrorState.scss
  frontend/web/components/warehouse/components/ErrorState.tsx
  frontend/web/components/warehouse/components/TestingState.scss
  frontend/web/components/warehouse/components/TestingState.tsx
  frontend/web/components/warehouse/types.ts
  frontend/web/styles/_animations.scss
  frontend/web/styles/styles.scss
Labels: front-end

fix: Replace all hardcoded values with design tokens in experiments-v2
  frontend/web/components/experiments-v2/ExperimentResultsPage.scss
  frontend/web/components/experiments-v2/flag-detail/LinkedExperimentSection.scss
  frontend/web/components/experiments-v2/shared/ExperimentStatCard.scss
  frontend/web/components/experiments-v2/shared/MetricsComparisonTable.scss
  frontend/web/components/experiments-v2/shared/SelectableCard.scss
  frontend/web/components/experiments-v2/shared/StatusBadge.scss
  frontend/web/components/experiments-v2/shared/TrafficSplitBar.scss
  frontend/web/components/experiments-v2/shared/VariationTable.scss
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.scss
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.scss
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.scss
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.scss
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.scss
  frontend/web/components/experiments-v2/wizard/WizardHeader.scss
  frontend/web/components/experiments-v2/wizard/WizardStepIndicator.scss
Labels: front-end

fix: Strip cosmetic animations, add warehouse route, fix Storybook globals
  frontend/web/components/warehouse/WarehousePage.tsx
  frontend/web/components/warehouse/components/ConfigForm.scss
  frontend/web/components/warehouse/components/ConfigForm.tsx
  frontend/web/components/warehouse/components/ConnectedState.tsx
  frontend/web/components/warehouse/components/EmptyState.tsx
  frontend/web/components/warehouse/components/ErrorState.tsx
  frontend/web/components/warehouse/components/TestingState.scss
  frontend/web/routes.js
Labels: front-end

fix: Scope empty state icon colour to direct child only
  frontend/web/components/warehouse/components/EmptyState.scss
Labels: front-end

feat(experiments): Multi-variant flag guard + start/end date fields
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.scss
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.tsx
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/types.ts
Labels: front-end

chore(experiments): Terminology + drop unused UI
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/ExperimentResultsPage.tsx
  frontend/web/components/experiments-v2/shared/TrafficSplitBar.scss
  frontend/web/components/experiments-v2/shared/TrafficSplitBar.tsx
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/types.ts
Labels: front-end

chore: Remove experiment and warehouse Storybook stories
  frontend/documentation/experiments/AudienceTrafficStep.stories.tsx
  frontend/documentation/experiments/ExperimentDetailsStep.stories.tsx
  frontend/documentation/experiments/ExperimentStatCard.stories.tsx
  frontend/documentation/experiments/FlagVariationsStep.stories.tsx
  frontend/documentation/experiments/LinkedExperimentSection.stories.tsx
  frontend/documentation/experiments/MetricsComparisonTable.stories.tsx
  frontend/documentation/experiments/ReviewLaunchStep.stories.tsx
  frontend/documentation/experiments/SelectMetricsStep.stories.tsx
  frontend/documentation/experiments/SelectableCard.stories.tsx
  frontend/documentation/experiments/StatusBadge.stories.tsx
  frontend/documentation/experiments/TrafficSplitBar.stories.tsx
  frontend/documentation/experiments/VariationTable.stories.tsx
  frontend/documentation/experiments/Wizard.stories.tsx
  frontend/documentation/experiments/WizardHeader.stories.tsx
  frontend/documentation/experiments/WizardLayout.stories.tsx
  frontend/documentation/experiments/WizardNavButtons.stories.tsx
  frontend/documentation/experiments/WizardSidebar.stories.tsx
  frontend/documentation/experiments/WizardStepIndicator.stories.tsx
  frontend/documentation/warehouse/ConfigForm.stories.tsx
  frontend/documentation/warehouse/ConnectedState.stories.tsx
  frontend/documentation/warehouse/EmptyState.stories.tsx
  frontend/documentation/warehouse/ErrorState.stories.tsx
  frontend/documentation/warehouse/TestingState.stories.tsx
  frontend/documentation/warehouse/WarehousePage.stories.tsx
Labels: front-end

feat(experiments): Metrics empty state + search-empty cleanup
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
Labels: front-end

feat(experiments): Clarify control vs experiment split
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.scss
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.tsx
Labels: front-end

feat(experiments): Add empty states to Flag + Segments steps
  frontend/web/components/experiments-v2/steps/AudienceTrafficStep.tsx
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.tsx
Labels: front-end

feat(experiments): Add experiments list table from Pencil designs
  frontend/web/components/experiments-v2/ExperimentsListPage.scss
  frontend/web/components/experiments-v2/ExperimentsListPage.tsx
  frontend/web/components/experiments-v2/types.ts
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

refactor(experiments): Flag first, remove experiment type selector
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ExperimentDetailsStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/types.ts
Labels: front-end

feat(experiments): Empty state when flag has no variations
  frontend/web/components/experiments-v2/steps/FlagVariationsStep.tsx
Labels: front-end

docs: add API and SDK troubleshooting guide (#7205)
  docs/docs/deployment-self-hosting/administration-and-maintenance/troubleshooting.md
  docs/docs/guides/_category_.json
  docs/docs/guides/troubleshooting/_category_.json
  docs/docs/guides/troubleshooting/http-errors.mdx
  docs/docs/guides/troubleshooting/index.mdx
  docs/docs/guides/troubleshooting/sdk-issues.mdx
  docs/docs/guides/troubleshooting/self-hosted.mdx
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/index.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/index.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/index.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/index.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/docs/support/index.mdx
Labels: docs

docs: fix factual errors in troubleshooting guide
  docs/docs/deployment-self-hosting/administration-and-maintenance/upgrades-and-rollbacks.md
  docs/docs/guides/troubleshooting/sdk-issues.mdx
  docs/docs/guides/troubleshooting/self-hosted.mdx
Labels: docs

Allow browsing GitLab issues and MRs (backend)
  api/integrations/gitlab/client/__init__.py
  api/integrations/gitlab/client/api.py
  api/integrations/gitlab/client/types.py
  api/integrations/gitlab/serializers.py
  api/integrations/gitlab/views/__init__.py
  api/integrations/gitlab/views/browse_gitlab.py
  api/integrations/gitlab/views/configuration.py
  api/projects/urls.py
  api/tests/unit/integrations/gitlab/test_client.py
  api/tests/unit/integrations/gitlab/test_configuration.py
  api/tests/unit/integrations/gitlab/test_proxy_views.py
Labels: api

Don't expose computer talk
  api/integrations/gitlab/views/browse_gitlab.py
  api/tests/unit/integrations/gitlab/test_proxy_views.py
Labels: api

Allow browsing GitLab issues and MRs (frontend)
  frontend/common/constants.ts
  frontend/common/hooks/useHasGitLabIntegration.ts
  frontend/common/services/useGitlab.ts
  frontend/common/services/useGitlabConfiguration.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/GitHubLinkSection.tsx
  frontend/web/components/GitLabLinkSection.tsx
  frontend/web/components/GitLabProjectSelect.tsx
  frontend/web/components/GitLabSearchSelect.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

feat: lock CR UI once any reviewer has approved (#7056) (#7255)
  api/poetry.lock
  api/pyproject.toml
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end, api

docs(DevEx): Add guidelines for metrics, logs, and feature flags (#7268)
  api/README.md
Labels: api

fix: env columns hard to distinguish in compare view (#7250)
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CondensedFeatureRow.tsx
Labels: front-end

fix: usage limit misleading when viewing non-monthly periods (#7084) (#7269)
  frontend/documentation/components/StatItem.stories.tsx
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
Labels: front-end

Fix API response
  api/integrations/gitlab/views/browse_gitlab.py
  api/tests/unit/integrations/gitlab/test_proxy_views.py
Labels: api

feat(GitLab): Browse GitLab issues and merge requests (backend) (#7270)
  api/integrations/gitlab/client/__init__.py
  api/integrations/gitlab/client/api.py
  api/integrations/gitlab/client/types.py
  api/integrations/gitlab/serializers.py
  api/integrations/gitlab/views/__init__.py
  api/integrations/gitlab/views/browse_gitlab.py
  api/integrations/gitlab/views/configuration.py
  api/projects/urls.py
  api/tests/unit/integrations/gitlab/test_client.py
  api/tests/unit/integrations/gitlab/test_configuration.py
  api/tests/unit/integrations/gitlab/test_proxy_views.py
Labels: api

Fix URL building
  frontend/common/services/useGitlab.ts
Labels: front-end

Improve clarity on intent
  frontend/common/services/useGitlab.ts
  frontend/common/types/requests.ts
Labels: front-end

fix: prevent infinite API loop on non-existent environment URLs
  frontend/web/components/EnvironmentReadyChecker.tsx
  frontend/web/components/navigation/EnvironmentAside.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
Labels: front-end

Restore coupling temporarily
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/GitHubLinkSection.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

Update yearly price
  frontend/web/components/modals/Payment.js
  frontend/web/components/modals/payment/Payment.tsx
  frontend/web/components/modals/payment/PricingToggle.tsx
Labels: front-end

Improve typing
  frontend/common/types/responses.ts
  frontend/web/components/GitLabLinkSection.tsx
  frontend/web/components/GitLabSearchSelect.tsx
Labels: front-end

Simplify project lookup fallback
  frontend/web/components/GitLabProjectSelect.tsx
Labels: front-end

Improve error displaying
  frontend/web/components/GitLabLinkSection.tsx
  frontend/web/components/GitLabProjectSelect.tsx
Labels: front-end

Refactor 💅
  frontend/web/components/GitLabSearchSelect.tsx
Labels: front-end

Extract link management from GitHub coupling
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/GitHubLinkSection.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

Complete the flow with actual linking
  api/features/feature_external_resources/migrations/0003_add_gitlab_resource_types.py
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/views.py
  api/tests/integration/features/test_gitlab_external_resources.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  frontend/web/components/GitLabLinkSection.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end, api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
