Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix(api): import TypeVar from typing_extensions for Python < 3.13
  api/evaluation/types.py
Labels: api

test(api): cover variants on an edge identity override
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

test(api): hardcode paths in new tests
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(api): hardcode paths in new tests
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

feat(api): evaluate edge identity flags through flag-engine
  api/edge_api/identities/models.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/identities/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/types.py
  api/features/views.py
  api/segments/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/util/engine_models/context/test_unit_context_mappers.py
  api/util/engine_models/context/mappers.py
Labels: api

fix(usage): name the year once when only the reset crosses it
  frontend/web/components/pages/usage/__tests__/billingPeriod.test.ts
  frontend/web/components/pages/usage/billingPeriod.ts
Labels: front-end

feat(api): serve edge identity override values through flag-engine
  api/edge_api/identities/models.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/utils.py
  api/evaluation/services.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/util/engine_models/features/models.py
  api/util/engine_models/utils/hashing.py
Labels: api

test(api): account for the segments read on environment flags
  api/tests/unit/features/test_unit_features_views.py
Labels: api

chore(api): bump flagsmith-flag-engine to 11.1.0
  api/pyproject.toml
  api/uv.lock
Labels: api

fix(api): hide server-key-only flags after evaluating
  api/environments/identities/views.py
  api/environments/sdk/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/features/views.py
  api/tests/unit/environments/sdk/test_unit_sdk_serializers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(api): hardcode paths in new tests
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(api): admit bracket-notation `$.environment` and `$.flags` conditions in environment flags
  api/evaluation/services.py
Labels: api

test(api): cover environment flags through a flag dependency
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat(api): return all environment flags for an empty feature filter, as Edge API does
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat(api): leave segments reading traits or identity context out of environment flags
  api/evaluation/services.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(api): cover a flag dependency through POST /identities
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api

fix(api): keep returning 404 for an empty feature filter on environment flags
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

docs(api): describe which segments can match environment flags
  api/evaluation/services.py
Labels: api

feat(api): evaluate environment flags through flag-engine
  api/evaluation/services.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(API): _validate_owner_removal counts non-existent group IDs as removals (#8137)
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(Flag Dependency): Serialise dependency validation per project
  api/features/dependencies/services.py
  api/tests/unit/features/dependencies/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(usage): keep the billing strip to plans billed on a period
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/billingPeriod.test.ts
  frontend/web/components/pages/usage/billingPeriod.ts
Labels: front-end

docs: restructure identities page; add PII rule and trait-passing guidance
  docs/docs/flagsmith-concepts/identities.md
Labels: docs

docs: split identity override events into SaaS / self-hosted tabs
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
Labels: docs

docs: add event types to audit log webhook
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
Labels: docs

docs: restructure audit log event types by related_object_type
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
Labels: docs

docs: add missing audit log related object types
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
Labels: docs

feat(usage): show the billing period dates on the dashboard (#8598)
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/billingPeriod.test.ts
  frontend/web/components/pages/usage/billingPeriod.ts
  frontend/web/components/pages/usage/components/BillingStrip/BillingStrip.tsx
  frontend/web/components/pages/usage/components/BillingStrip/index.ts
Labels: front-end

fix(usage): measure elapsed time by the clock
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/projection.test.ts
  frontend/web/components/pages/usage/projection.ts
Labels: front-end

fix(usage): let All Projects stay selected when there is only one
  frontend/web/components/ProjectFilter.tsx
Labels: front-end

fix(usage): ask for the project filter's behaviour rather than infer it
  frontend/documentation/components/UsageOverTime.stories.tsx
  frontend/web/components/ProjectFilter.tsx
  frontend/web/components/pages/usage/components/UsageFilters/UsageFilters.tsx
Labels: front-end

fix(usage): keep the projection to the view it describes
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/projection.test.ts
  frontend/web/components/pages/usage/projection.ts
Labels: front-end

feat(usage): show where usage is heading
  frontend/documentation/components/UsageMeter.stories.tsx
  frontend/documentation/components/UsageOverTime.stories.tsx
  frontend/web/components/charts/LineChart.tsx
  frontend/web/components/charts/types.ts
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/projection.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
  frontend/web/components/pages/usage/components/UsageOverTime/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageOverTime/utils.ts
  frontend/web/components/pages/usage/projection.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

docs: align audit log event types with the API source
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
Labels: docs

chore(usage): trim comments the code already says
  frontend/documentation/components/UsageOverTime.stories.tsx
  frontend/web/components/ProjectFilter.tsx
  frontend/web/components/pages/usage/components/UsageFilters/UsageFilters.tsx
Labels: front-end

refactor(charts): describe a line chart's series in one place
  frontend/documentation/components/LineChart.stories.tsx
  frontend/web/components/charts/LineChart.tsx
  frontend/web/components/charts/index.ts
  frontend/web/components/charts/types.ts
  frontend/web/components/experiments/MetricsTrendChart/MetricsTrendChart.tsx
  frontend/web/components/experiments/results/ExperimentConversionRateCard/ExperimentConversionRateCard.tsx
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/pages/admin-dashboard/components/UsageTrendsChart.tsx
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
Labels: front-end

Handle login for unverified emails
  api/app/settings/common.py
  api/custom_auth/constants.py
  api/custom_auth/serializers.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  frontend/common/stores/account-store.js
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end, api

Fix mypy errors on the new login tests
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
Labels: api

Address CodeRabbit review: reject non-string email, exclude expired invite links
  api/custom_auth/permissions.py
  api/organisations/invites/services.py
  api/tests/unit/custom_auth/test_unit_custom_auth_permissions.py
Labels: api

feat(chip): add semantic variants, a solid fill and a status dot
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/base/Chip/ChipDot.tsx
  frontend/web/components/base/Chip/index.ts
Labels: front-end
