Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

The missing piece
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/unit/test_telemetry.py
Labels: none

fix: gate experiment freeze behind feature flag and unblock inputs during loading
  frontend/common/hooks/__tests__/useFeatureExperimentFreeze.test.ts
  frontend/common/hooks/useFeatureExperimentFreeze.ts
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: front-end

fix: renamed to isExperimentEnabled
  frontend/common/hooks/useFeatureExperimentFreeze.ts
Labels: front-end

docs(integrations): Add dedicated Prometheus page
  docs/docs/third-party-integrations/observability-and-monitoring/grafana.md
  docs/docs/third-party-integrations/observability-and-monitoring/prometheus.md
Labels: docs

docs(integrations): Drop Prometheus from Grafana page metadata
  docs/docs/third-party-integrations/observability-and-monitoring/grafana.md
Labels: docs

docs(integrations): Fix Feature Health link on Prometheus page
  docs/docs/third-party-integrations/observability-and-monitoring/prometheus.md
Labels: docs

Update cards on overview page
  docs/docs/third-party-integrations/index.mdx
Labels: docs

fix(lifecycle): improve UI consistency and loading states
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleSidebar.tsx
  frontend/web/components/pages/feature-lifecycle/components/RemoveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
  frontend/web/components/pages/feature-lifecycle/constants.tsx
  frontend/web/components/pages/feature-lifecycle/hooks/useLifecycleData.ts
Labels: front-end

fix(lifecycle): rename "Needs Monitoring" to "To Monitor"
  frontend/web/components/pages/feature-lifecycle/components/LifecycleSidebar.tsx
  frontend/web/components/pages/feature-lifecycle/constants.tsx
Labels: front-end

fix(lifecycle): use correct cache tags for lifecycle counts
  frontend/common/services/useProjectFlag.ts
Labels: front-end

fix(lifecycle): use dedicated LifecycleCounts tag type
  frontend/common/services/useProjectFlag.ts
Labels: front-end

revert: remove unrelated FeatureImport type fix
  frontend/web/components/import-export/FeatureImport.tsx
Labels: front-end

refactor: use useProjectEnvironments hook instead of local query
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
Labels: front-end

fix: only enable segment members endpoint for edge projects
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

perf(Segment Membership): Members list is slow and includes deleted identities
  api/segment_membership/services.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: make Headway bell icon clickable
  frontend/web/components/Headway.js
Labels: front-end

fix(experimentation): rebuild environment document on rollout change
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: add navigation to identity page from segment members list
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/modals/SegmentMembersList.tsx
Labels: front-end

chore: remove testing doc (moved to separate PR)
  frontend/.claude/context/testing-against-pr-backend.md
Labels: front-end

docs: add guide for testing frontend against unmerged backend PRs
  frontend/.claude/context/testing-against-pr-backend.md
  frontend/CLAUDE.md
Labels: front-end

chore: revert CLAUDE.md change (moved to separate PR)
  frontend/CLAUDE.md
Labels: front-end

feat(lifecycle): add feature click modal with usage and settings tabs
  frontend/web/components/feature-summary/ProjectFeatureRow.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/FeatureUsageModal.tsx
  frontend/web/components/pages/feature-lifecycle/components/LiveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/MonitorSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/NewSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/PermanentSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/RemoveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/SectionShell.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
Labels: front-end

fix(lifecycle): use create-feature-modal class for consistent tab styling
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/FeatureUsageModal.tsx
Labels: front-end

fix: regenerated doc
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

Minor changes to DB interactions to make compatible with Oracle for EE
  api/features/feature_lifecycle/services.py
  api/features/feature_lifecycle/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(Analytics): Send organisation trait to Flagsmith on identify
  frontend/web/project/api.ts
Labels: front-end

feat(Segment Membership): Recount after identity delete
  api/app/settings/common.py
  api/edge_api/identities/models.py
  api/segment_membership/services.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

deslop
  api/app/settings/common.py
Labels: api

push out scheduled tasks when debouncing
  api/app/settings/common.py
  api/segment_membership/services.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix test
  api/tests/integration/segment_membership/test_segment_membership_clickhouse.py
Labels: api

build(deps): Bump flagsmith-sql-flag-engine to 0.1.3
  api/pyproject.toml
  api/uv.lock
Labels: api

fix(usage): Send raw licence signature bytes in Control Plane auth token
  api/organisations/usage_reporting/mappers.py
Labels: api

test(usage): Fix push auth-token expectations for corrected encoding
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

refactor(usage): Name the mapper param signature_b64 to flag its encoding
  api/organisations/usage_reporting/mappers.py
Labels: api

refactor(usage): Carry signature_b64 name through the push call path
  api/organisations/usage_reporting/services.py
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

fix(Segment Membership): Oversized numeric traits fail identity seeding
  api/segment_membership/constants.py
  api/segment_membership/mappers.py
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
Labels: api

test(Segment Membership): Cover raw int trait coercion
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
Labels: api

feat(warehouse): disable Snowflake card with Coming Soon badge
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.tsx
Labels: front-end

feat(experiments): improve recommendation visibility and placement
  frontend/web/components/experiments/results/ExperimentRecommendation.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/VariantName.tsx
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

feat(base): let SelectableCard host arbitrary content
  frontend/web/components/base/SelectableCard/SelectableCard.scss
  frontend/web/components/base/SelectableCard/SelectableCard.tsx
Labels: front-end
