Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(integrations): add work-item tag client functions to the ADO client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(integrations): add Azure DevOps labels service
  api/integrations/azure_devops/services/labels.py
  api/tests/unit/integrations/azure_devops/test_labels.py
Labels: api

feat(integrations): add Azure DevOps label task wrappers
  api/integrations/azure_devops/services/labels.py
  api/integrations/azure_devops/tasks.py
  api/tests/unit/integrations/azure_devops/test_labels.py
  api/tests/unit/integrations/azure_devops/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Use uv supported by dependabot
  .pre-commit-config.yaml
  api/pyproject.toml
Labels: api

deps: Use uv supported by dependabot (#7633)
  .pre-commit-config.yaml
  api/pyproject.toml
Labels: api

Update `ws` (via a long tail)
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack/rspack.config.local.js
Labels: front-end

added detection for multivariate differences in diff environments
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/__tests__/compare-multivariate-utils.test.ts
  frontend/web/components/compare-multivariate-utils.ts
Labels: front-end

fix: return 400 instead of 500 when request user is invalid (closes #6809)
  api/core/dataclasses.py
Labels: api

prevented NaN results
  frontend/web/components/compare-multivariate-utils.ts
Labels: front-end

feat(onboarding-quickstart): role-based onboarding with PM branching
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/onboarding-quickstart/ConceptDrawer.scss
  frontend/web/components/onboarding-quickstart/ConceptDrawer.tsx
  frontend/web/components/onboarding-quickstart/OnboardingChip.scss
  frontend/web/components/onboarding-quickstart/OnboardingChip.tsx
  frontend/web/components/onboarding-quickstart/OnboardingChipWithDrawer.tsx
  frontend/web/components/pages/onboarding-quickstart/GettingStartedSwitch.tsx
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
  frontend/web/components/pages/onboarding-quickstart/components/CodeSnippet.tsx
  frontend/web/components/pages/onboarding-quickstart/components/FeatureEvaluationStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/FeatureStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/OnboardingStepper.tsx
  frontend/web/components/pages/onboarding-quickstart/components/OrgStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/ProjectStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/RoleStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/StatusPanel.tsx
  frontend/web/components/pages/onboarding-quickstart/components/StepShell.tsx
  frontend/web/components/pages/onboarding-quickstart/components/SuccessActions.tsx
  frontend/web/components/pages/onboarding-quickstart/data/presets.ts
  frontend/web/components/pages/onboarding-quickstart/data/roles.ts
  frontend/web/components/pages/onboarding-quickstart/hooks/useFirstEvaluationPoll.ts
  frontend/web/components/pages/onboarding-quickstart/hooks/useSmartDefaults.ts
  frontend/web/routes.js
Labels: front-end

feat(onboarding-quickstart): keyboard nav + PM integrations preview
  frontend/web/components/base/BareButton.scss
  frontend/web/components/base/BareButton.tsx
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
  frontend/web/components/pages/onboarding-quickstart/components/FeatureEvaluationStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/FeatureStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/OrgStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/ProjectStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/RoleStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/SuccessActions.tsx
Labels: front-end

feat(onboarding-quickstart): tidy Other role label and flow
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
  frontend/web/components/pages/onboarding-quickstart/data/roles.ts
Labels: front-end

deps(node): upgrade sass-loader to v17 for rspack v2 peer compat
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat(experiment): add experiments list page with filtering, pagination, and actions (#7628)
  frontend/.claude/context/ui-patterns.md
  frontend/common/services/useExperiment.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/base/grid/ContentCard/ContentCard.scss
  frontend/web/components/experiments/ExperimentActionDropdown/ExperimentActionDropdown.tsx
  frontend/web/components/experiments/ExperimentActionDropdown/index.ts
  frontend/web/components/experiments/ExperimentsListControls/ExperimentsListControls.scss
  frontend/web/components/experiments/ExperimentsListControls/ExperimentsListControls.tsx
  frontend/web/components/experiments/ExperimentsListControls/index.ts
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.scss
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.tsx
  frontend/web/components/experiments/ExperimentsTable/index.ts
  frontend/web/components/experiments/StatusBadge/StatusBadge.scss
  frontend/web/components/experiments/StatusBadge/StatusBadge.tsx
  frontend/web/components/experiments/StatusBadge/index.ts
  frontend/web/components/experiments/constants.ts
  frontend/web/components/experiments/steps/ReviewStep.scss
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

feat: return experiment status counts along paginated list (#7625)
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

chore(main): release 2.237.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.237.0 (#7614)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

feat(onboarding-quickstart): address prototype feedback on project + feature steps
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
  frontend/web/components/pages/onboarding-quickstart/components/FeatureStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/ProjectStep.tsx
Labels: front-end

fix(GitLab): issue/MR status in the feature Links panel goes stale after state changes (#7545)
  api/integrations/gitlab/mappers.py
  api/integrations/gitlab/services/__init__.py
  api/integrations/gitlab/services/metadata.py
  api/integrations/gitlab/services/tagging.py
  api/integrations/gitlab/types.py
  api/integrations/gitlab/views/webhook.py
  api/tests/unit/integrations/gitlab/conftest.py
  api/tests/unit/integrations/gitlab/test_metadata.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(onboarding-quickstart): add RTK mutations for org/project/environment creation
  frontend/common/services/useEnvironment.ts
  frontend/common/services/useOrganisation.ts
  frontend/common/services/useProject.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/onboarding-quickstart/BACKEND_INTEGRATION_PLAN.md
Labels: front-end

feat(onboarding-quickstart): wire the create chain to real APIs
  frontend/web/components/pages/onboarding-quickstart/BACKEND_INTEGRATION_PLAN.md
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
Labels: front-end

feat(onboarding-quickstart): route no-org signups into the flow + fix org-create coherence
  frontend/web/components/App.js
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
Labels: front-end

feat(experiment): use backend type filter for multivariate features (#7630)
  frontend/common/types/requests.ts
  frontend/documentation/components/ContentCard.stories.tsx
  frontend/documentation/components/VariationTable.stories.tsx
  frontend/web/components/experiments/VariationTable/VariationTable.scss
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

deps(node): regenerate lock file with npm 10 and resolved peer deps
  frontend/package-lock.json
Labels: front-end

deps(node): upgrade sass and sass-loader for rspack v2 compatibility
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

deps(node): regenerate lock file in linux container to include all platform bindings
  frontend/package-lock.json
Labels: front-end

deps(node): regenerate lock file cleanly in linux container with npm 11
  frontend/package-lock.json
Labels: front-end

chore(sentry): reduce admin API trace sample rates to control costs
  infrastructure/aws/production/ecs-task-definition-admin-api.json
Labels: infrastructure

feat: close wizard on env switching and scrollbar in select
  frontend/web/components/experiments/steps/SetupStep.scss
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/styles/3rdParty/_react-select.scss
Labels: front-end

feat: invalidates features list cache on update
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
Labels: front-end

feat: growing search metrics bar
  frontend/web/components/experiments/steps/MeasurementStep.tsx
Labels: front-end

feat: misc improvements on variant tables
  frontend/web/components/experiments/VariationTable/VariationTable.scss
  frontend/web/components/experiments/VariationTable/VariationTable.tsx
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

fix: feature_segment missing in versioning (#7618)
  api/features/versioning/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

chore(sentry): Reduce admin API trace sample rates to control costs (#7643)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
Labels: infrastructure

feat: removed initial value fallback
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

Dependabot -> Renovate
  .github/dependabot.yml
  renovate.json
Labels: none

feat: excel like variant letter calculation
  frontend/web/components/experiments/VariationTable/VariationTable.tsx
Labels: front-end

ci: Remove redundant reviewers from renovate.json
  renovate.json
Labels: none

fix(webhooks): Prevent SSRF in webhooks and webhook tests (#7550)
  api/environments/serializers.py
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/fields.py
  api/webhooks/serializers.py
  api/webhooks/views.py
  api/webhooks/webhooks.py
Labels: api

Remove styleguide
  .gemini/styleguide.md
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
