Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

docs: add redirect for integrating with flagsmith (#6230)
  docs/vercel.json
Labels: docs

fix: re-enable sse usage tracking
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

docs: Update Datadog integration documentation (#6005)
  docs/docs/third-party-integrations/observability-and-monitoring/datadog.md
Labels: docs

docs: Update Datadog integration documentation (#6005)
  docs/docs/third-party-integrations/observability-and-monitoring/datadog.md
Labels: docs

docs: responsiveness fix (#6229)
  docs/src/css/custom.css
  docs/src/pages/index.module.css
Labels: docs

docs: responsiveness fix (#6229)
  docs/src/css/custom.css
  docs/src/pages/index.module.css
Labels: docs

docs: update contact us messages and remove real-time callout in flutter (#6213)
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/flutter.md
  docs/docs/managing-flags/release-pipeline.md
  docs/docs/performance/real-time-flags.md
  docs/docs/third-party-integrations/project-management/servicenow.md
Labels: docs

docs: update contact us messages and remove real-time callout in flutter (#6213)
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/flutter.md
  docs/docs/managing-flags/release-pipeline.md
  docs/docs/performance/real-time-flags.md
  docs/docs/third-party-integrations/project-management/servicenow.md
Labels: docs

feat: add pylon chat (#6214)
  frontend/api/index.js
  frontend/common/loadChat.ts
  frontend/common/loadCrisp.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/Resources.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/GettingStartedPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/main.js
  frontend/web/project/api.ts
Labels: front-end

feat: add pylon chat (#6214)
  frontend/api/index.js
  frontend/common/loadChat.ts
  frontend/common/loadCrisp.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/Resources.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/GettingStartedPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/main.js
  frontend/web/project/api.ts
Labels: front-end

deps: Bump flagsmith-common from 2.2.2 to 2.2.3
  api/poetry.lock
  api/pyproject.toml
Labels: api

deps: Bump flagsmith-common from 2.2.2 to 2.2.3 (#6235)
  api/poetry.lock
  api/pyproject.toml
Labels: api

deps: Bump flagsmith-common from 2.2.2 to 2.2.3 (#6235)
  api/poetry.lock
  api/pyproject.toml
Labels: api

remove whitespace
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

Add ability to create a change request ignoring conflicts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

Unused log
  frontend/web/components/modals/ChangeRequestModal.tsx
Labels: front-end

deps: Bump flagsmith-common from 2.2.3 to 2.2.4
  api/poetry.lock
  api/pyproject.toml
Labels: api

deps: Bump flagsmith-common from 2.2.3 to 2.2.4 (#6237)
  api/poetry.lock
  api/pyproject.toml
Labels: api

deps: Bump flagsmith-common from 2.2.3 to 2.2.4 (#6237)
  api/poetry.lock
  api/pyproject.toml
Labels: api

Update contexts
  frontend/.claude/commands/api-types-sync.md
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/context.md
  frontend/.claude/commands/form.md
  frontend/.claude/commands/ui-patterns.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/api-types-sync.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/backend-integration.md
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/forms.md
  frontend/.claude/context/git-workflow.md
  frontend/.claude/context/mobile.md
  frontend/.claude/context/patterns.md
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/.claude/scripts/sync-types-helper.py
  frontend/CLAUDE.md
Labels: front-end

Update contexts
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/quick-reference.md
Labels: front-end

Update contexts
  frontend/.claude/context/feature-flags.md
Labels: front-end

Update contexts
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/quick-reference.md
Labels: front-end

Update contexts
  frontend/.claude/context/quick-reference.md
  frontend/CLAUDE.md
Labels: front-end

Update contexts
  frontend/.claude/context/feature-flags.md
Labels: front-end

Update contexts
  frontend/.claude/context/feature-flags.md
Labels: front-end

Update contexts
  frontend/.claude/context/feature-flags.md
Labels: front-end

Add multiselect to plan filter
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/views.py
Labels: api

Fix tests
  api/tests/integration/sales_dashboard/test_integration_sales_dashboard.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

Pin firefox version
  frontend/Dockerfile-base.e2e
Labels: front-end

Improve comments
  frontend/Dockerfile-base.e2e
Labels: front-end

temp trigger build e2e
  .github/workflows/platform-docker-build-e2e-image.yml
Labels: none

Really temp build e2e image
  .github/workflows/platform-docker-build-e2e-image.yml
Labels: none

Replace temp triggers with workflow dispatch
  .github/workflows/platform-docker-build-e2e-image.yml
Labels: none

fix: Pin firefox version (#6244)
  .github/workflows/platform-docker-build-e2e-image.yml
  frontend/Dockerfile-base.e2e
Labels: front-end

fix: Pin firefox version (#6244)
  .github/workflows/platform-docker-build-e2e-image.yml
  frontend/Dockerfile-base.e2e
Labels: front-end

feat: trigger FLAG_UPDATED webhooks for v2 versioning environments
  api/environments/models.py
  api/features/tasks.py
  api/features/versioning/models.py
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

chore(sales-dashboard): add multiselect to plan filter (#6243)
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/views.py
  api/tests/integration/sales_dashboard/test_integration_sales_dashboard.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

chore(sales-dashboard): add multiselect to plan filter (#6243)
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/views.py
  api/tests/integration/sales_dashboard/test_integration_sales_dashboard.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

doc: Update quickstart redirect
  docs/vercel.json
Labels: docs
