Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(forms): add InputField
  frontend/documentation/components/InputField.stories.tsx
  frontend/web/components/base/forms/InputField.tsx
Labels: front-end

feat(forms): add PasswordInput and SearchInput
  frontend/documentation/components/PasswordInput.stories.tsx
  frontend/documentation/components/SearchInput.stories.tsx
  frontend/web/components/base/forms/PasswordInput.tsx
  frontend/web/components/base/forms/SearchInput.tsx
Labels: front-end

docs(forms): add missing Storybook variants for field components
  frontend/documentation/components/InputField.stories.tsx
  frontend/documentation/components/PasswordInput.stories.tsx
  frontend/documentation/components/SearchInput.stories.tsx
Labels: front-end

feat(forms): add label tooltip to FieldLabel and InputField
  frontend/documentation/components/FieldLabel.stories.tsx
  frontend/documentation/components/InputField.stories.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/base/forms/InputField.tsx
Labels: front-end

fix(forms): type FieldLabel/InputField tooltip as string
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/base/forms/InputField.tsx
Labels: front-end

feat(forms): add generic Field wrapper, refactor InputField onto it
  frontend/documentation/components/Field.stories.tsx
  frontend/web/components/base/forms/Field.tsx
  frontend/web/components/base/forms/InputField.tsx
Labels: front-end

feat(forms): add TextAreaField
  frontend/documentation/components/TextAreaField.stories.tsx
  frontend/web/components/base/forms/TextAreaField.tsx
Labels: front-end

refactor(forms): migrate search inputs to SearchInput
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/GroupSelect.tsx
  frontend/web/components/IntegrationSelect.tsx
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/RolesSelect.tsx
  frontend/web/components/UserSelect.tsx
  frontend/web/components/experiments/ExperimentsListControls/ExperimentsListControls.tsx
  frontend/web/components/experiments/steps/MeasurementStep.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/inspect-permissions/ProjectPermissions.tsx
  frontend/web/components/pages/MetricsPage.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tables/TableSearchFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/AddEditTags.tsx
Labels: front-end

refactor(forms): migrate password inputs to PasswordInput
  frontend/web/components/Token.js
  frontend/web/components/modals/CreateAuditLogWebhook.tsx
  frontend/web/components/modals/CreateWebhook.tsx
Labels: front-end

fix(forms): error below input, align label tooltip, a11y wiring
  frontend/web/components/base/forms/Field.tsx
  frontend/web/components/base/forms/FieldError.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/base/forms/InputField.tsx
  frontend/web/components/base/forms/TextAreaField.tsx
Labels: front-end

refactor(forms): trim InputField's prop surface
  frontend/web/components/base/forms/InputField.tsx
Labels: front-end

refactor(forms): reuse LabelWithTooltip; className for the field wrapper
  frontend/web/components/base/LabelWithTooltip.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/base/forms/InputField.tsx
Labels: front-end

feat(experimentation): Bayesian stats kernel
  api/experimentation/stats.py
  api/tests/unit/experimentation/test_stats.py
Labels: api

ci(frontend): lint changed files on pull requests (#7748)
  .github/workflows/frontend-pull-request.yml
Labels: none

refactor: import KeyboardEvent from react in BreadcrumbSeparator
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end

feat(forms): add FieldLabel and FieldError primitives
  frontend/documentation/components/FieldError.stories.tsx
  frontend/documentation/components/FieldLabel.stories.tsx
  frontend/web/components/base/LabelWithTooltip.tsx
  frontend/web/components/base/forms/FieldError.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
Labels: front-end

refactor(forms): tokenise input colours in _input.scss
  frontend/web/styles/components/_input.scss
Labels: front-end

refactor(forms): tokenise input colours in _forms.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end

fix: stable-variant-ordering-oldest-first
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/utils/__tests__/multivariate.test.ts
  frontend/common/utils/multivariate.ts
Labels: front-end

feat: accept-inline-metrics-on-experiment-create
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_experiment_metric_views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat: control value chip clamp and tooltip cursor
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
Labels: front-end

feat: add exclude_event_stats param to warehouse connections list
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat: centered modal storybook story
  frontend/documentation/components/CenteredModal.stories.tsx
Labels: front-end

fix: warehouse enable loading and instant connection display
  frontend/common/services/useWarehouseConnection.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat: experiment wizard primary metric selection
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/base/CenteredModal/CenteredModal.scss
  frontend/web/components/base/CenteredModal/CenteredModal.tsx
  frontend/web/components/base/CenteredModal/index.ts
  frontend/web/components/experiments/CreateExperimentWizard.tsx
  frontend/web/components/experiments/CreateMetricInModal.tsx
  frontend/web/components/experiments/MetricSelectList/MetricSelectList.scss
  frontend/web/components/experiments/MetricSelectList/MetricSelectList.tsx
  frontend/web/components/experiments/MetricSelectList/index.ts
  frontend/web/components/experiments/constants.ts
  frontend/web/components/experiments/steps/MeasurementStep.tsx
  frontend/web/components/experiments/steps/ReviewStep.tsx
Labels: front-end

fix: experiment wizard metric cards and review styling per design
  frontend/web/components/base/SelectableCard/SelectableCard.scss
  frontend/web/components/base/SelectableCard/SelectableCard.tsx
  frontend/web/components/base/SelectableCard/index.ts
  frontend/web/components/base/grid/ContentCard/ContentCard.scss
  frontend/web/components/base/grid/ContentCard/ContentCard.tsx
  frontend/web/components/experiments/CreateExperimentWizard.tsx
  frontend/web/components/experiments/MetricSelectList/MetricSelectList.scss
  frontend/web/components/experiments/MetricSelectList/MetricSelectList.tsx
  frontend/web/components/experiments/constants.ts
  frontend/web/components/experiments/steps/AudienceStep.tsx
  frontend/web/components/experiments/steps/MeasurementStep.tsx
  frontend/web/components/experiments/steps/ReviewStep.scss
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetupSkeleton.tsx
Labels: front-end

fix: avoid warehouse stats query on experiments and metrics pages
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/components/pages/MetricsPage.tsx
Labels: front-end

Map FE delete CR permissions to API
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
Labels: front-end

fix: disable flags already in an active experiment in wizard dropdown
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

fix: metrics banner yellow text from Bootstrap text-secondary collision
  frontend/web/components/pages/MetricsPage.scss
  frontend/web/components/pages/MetricsPage.tsx
Labels: front-end

fix(frontend): Allow change request deletion based on API permissions (#7772)
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
Labels: front-end

ci(frontend): upload Playwright artifacts when E2E tests fail
  .github/actions/e2e-tests/action.yml
Labels: none

docs: clean up formatting in Data Model docs
  docs/docs/flagsmith-concepts/data-model.md
Labels: docs

fix(frontend): resync ConfigProvider after subscribing to avoid boot deadlock
  frontend/common/providers/ConfigProvider.js
Labels: front-end

fix(frontend): gate ConfigProvider initial state on hasLoaded
  frontend/common/providers/ConfigProvider.js
Labels: front-end

fix(frontend): resync ConfigProvider after subscribing to the store
  frontend/common/providers/ConfigProvider.js
Labels: front-end

fix(frontend): keep dev-server overlay to compile errors only
  frontend/rspack/rspack.config.local.js
Labels: front-end

fix(frontend): add guard against null model
  frontend/common/stores/project-store.js
Labels: front-end

fix(Utils): add guard against null rule value in validateRule
  frontend/common/utils/utils.tsx
Labels: front-end

feat(experimentation): log exposure compute failures
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api
