Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

refactor(api): Say why serialized_rollback is unsupported
  api/tests/migration_snapshots.py
Labels: api

refactor(api): Drop a pointless del
  api/tests/migration_snapshots.py
Labels: api

further deslop
  api/.env-local
  api/Makefile
  api/README.md
  api/pyproject.toml
  api/tests/migration_snapshots.py
  docker/api/docker-compose.local.yml
Labels: api

Add Easypanel one-click deploy option
  README.md
Labels: none

perf(api): Keep PostgreSQL transactional in ClickHouse tests
  api/tests/conftest.py
Labels: api

fix(api): Rebuild the InfluxDB client after pointing it somewhere
  api/tests/conftest.py
  api/tests/integration/conftest.py
Labels: api

fix(api): Keep influxdb_client out of freezegun's reach
  api/tests/conftest.py
  api/tests/integration/conftest.py
Labels: api

fix(api): Set InfluxDB buckets up without the client
  api/tests/conftest.py
  api/tests/integration/conftest.py
Labels: api

refactor(api): Use requests for the InfluxDB bucket setup
  api/tests/integration/conftest.py
Labels: api

fix(ci): Restore coverage from the private packages run
  .github/workflows/api-tests-with-private-packages.yml
Labels: none

refactor(api): Remove the ClickHouse test-database clone backend
  api/app/settings/common.py
  api/core/db_backends/clickhouse/__init__.py
  api/core/db_backends/clickhouse/base.py
  api/core/db_backends/clickhouse/creation.py
  api/tests/unit/test_migration_snapshots.py
Labels: api

fix(api): Harden the readiness check and the ClickHouse fixture
  api/scripts/ensure-services.sh
  api/tests/conftest.py
  docker/api/docker-compose.local.yml
Labels: api

fix(identities): Pagination arrows in dark mode identities tab barely visible
  frontend/documentation/components/Paging.stories.tsx
  frontend/web/styles/components/_paging.scss
  frontend/web/styles/components/_panel.scss
Labels: front-end

fix(change-requests): Can not create change request for deleting segment override
  frontend/common/hooks/__tests__/useHasFeatureStateChanges.test.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

Fix organization spelling in settings UI
  frontend/web/components/navigation/navbars/OrganisationNavbar.tsx
  frontend/web/components/pages/OrganisationIntegrationsPage.tsx
  frontend/web/components/pages/organisation-settings/OrganisationSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

ci: scope uv-lock pre-commit hooks to their project directories (#8534)
  .pre-commit-config.yaml
Labels: none

test: Improve API tests performance (#8378)
  .github/workflows/api-pull-request.yml
  .github/workflows/api-tests-with-private-packages.yml
  api/.env-ci
  api/.env-local
  api/Makefile
  api/README.md
  api/app/settings/common.py
  api/app/settings/local.py
  api/app/settings/test.py
  api/core/db_backends/clickhouse/__init__.py
  api/core/db_backends/clickhouse/base.py
  api/core/db_backends/clickhouse/creation.py
  api/pyproject.toml
  api/scripts/ensure-services.sh
  api/tests/conftest.py
  api/tests/integration/conftest.py
  api/tests/migration_snapshots.py
  api/tests/unit/features/versioning/test_unit_versioning_migrations.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_0003_introduce_per_feature_scanned_references.py
  api/tests/unit/projects/tags/test_migrations.py
  api/tests/unit/projects/test_migrations.py
  api/tests/unit/segments/test_unit_segments_migrations.py
  api/tests/unit/test_migration_snapshots.py
  docker/api/docker-compose.local.yml
Labels: api

feat(api): evaluate identity flags through flag-engine
  api/environments/identities/evaluation.py
  api/environments/identities/models.py
  api/features/types.py
  api/segments/types.py
  api/tests/unit/environments/identities/test_unit_identities_evaluation.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

refactor(api): simplify identity override filter
  api/environments/identities/evaluation.py
Labels: api

refactor(api): split identity evaluation into mappers, services and types
  api/environments/identities/mappers.py
  api/environments/identities/models.py
  api/environments/identities/services.py
  api/environments/identities/types.py
  api/tests/unit/environments/identities/test_unit_identities_mappers.py
  api/tests/unit/environments/identities/test_unit_identities_services.py
  api/util/mappers/engine.py
Labels: api

deps: Regenerate mcp lockfile for release age constraint
  mcp/uv.lock
Labels: none

chore: point WAREHOUSE_CREDENTIALS_SECRET at the dedicated secret
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

Update README.md
  README.md
Labels: none

chore: fill in the real production credentials secret ARN
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

Handle different billing period units
  api/organisations/chargebee/chargebee.py
  api/organisations/chargebee/constants.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

deps: Enforce npm release-age cooldown via Renovate
  docs/.npmrc
  frontend/.npmrc
  renovate.json
Labels: docs, front-end

refactor(api): resolve feature states in map_environment_to_evaluation_context
  api/environments/identities/mappers.py
  api/environments/identities/models.py
  api/environments/identities/services.py
  api/integrations/webhook/serializers.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/tests/unit/util/mappers/test_unit_mappers_evaluation_context.py
  api/util/mappers/engine.py
Labels: api

feat(api): resolve flag values from the engine result
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/features/evaluation.py
  api/features/models.py
  api/features/serializers.py
  api/integrations/amplitude/amplitude.py
  api/integrations/heap/heap.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/segment/segment.py
  api/tests/evaluation_helpers.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/identities/test_unit_identities_services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
  api/tests/unit/util/mappers/test_unit_mappers_evaluation_context.py
  api/util/mappers/engine.py
Labels: api

Add email verification as mandatory in SaaS
  api/app/settings/common.py
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
Labels: api, infrastructure

refactor(api): evaluate edge identity flags through the engine
  api/edge_api/identities/models.py
  api/environments/identities/serializers.py
  api/features/evaluation.py
  api/tests/evaluation_helpers.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
  api/tests/unit/util/mappers/test_unit_mappers_evaluation_context.py
Labels: api

test(api): drop engine mocks from identity integration tests
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api

test(api): cover multivariate allocation bands without mocking
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/types.py
  api/tests/unit/environments/identities/test_unit_identities_services.py
Labels: api

refactor(api): move engine type aliases into an evaluation package
  api/edge_api/identities/models.py
  api/environments/identities/types.py
  api/evaluation/__init__.py
  api/evaluation/types.py
  api/features/models.py
  api/tests/evaluation_helpers.py
  api/util/mappers/engine.py
Labels: api

refactor(api): gather evaluation into its own package
  api/edge_api/identities/models.py
  api/environments/identities/models.py
  api/environments/identities/services.py
  api/environments/identities/types.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/integrations/webhook/serializers.py
  api/tests/evaluation_helpers.py
  api/tests/unit/evaluation/__init__.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

refactor(api): hand back evaluated feature states, not a lookup table
  api/environments/identities/models.py
  api/evaluation/services.py
  api/evaluation/types.py
Labels: api

refactor(api): carry the feature state itself as engine metadata
  api/environments/identities/models.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/features/types.py
  api/integrations/webhook/serializers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
Labels: api

refactor(api): finish renaming _ResolvedFeatureStates.feature_states
  api/evaluation/mappers.py
Labels: api

fix(api): evaluate every flag before picking the one asked for
  api/environments/identities/models.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/features/views.py
Labels: api

test(api): pin multivariate bucketing to static expectations
  api/tests/unit/evaluation/test_unit_evaluation_services.py
Labels: api

test(api): assert bucketing through evaluate_identity
  api/tests/conftest.py
  api/tests/evaluation_helpers.py
  api/tests/types.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api
