Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(experimentation): wire warehouse test connection polling and stats ui
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat(experimentation): hide code snippet docs
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
Labels: front-end

Add flagsmith_ldap to installed apps in test settings
  api/app/settings/test.py
Labels: api

implement stdio auth
  mcp/src/flagsmith_mcp/auth.py
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_auth.py
  mcp/tests/unit/test_config.py
  mcp/tests/unit/test_server.py
Labels: none

disable output validation pending #7679
  mcp/src/flagsmith_mcp/server.py
Labels: none

less code
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_tools.py
Labels: none

Add clean-private-tests makefile command
  api/Makefile
Labels: api

drop top-level create_server export
  mcp/src/flagsmith_mcp/__init__.py
  mcp/tests/integration/conftest.py
Labels: none

relax python requirement to >=3.10
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/uv.lock
Labels: none

feat(experimentation): move connection status flip out of GET
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): flush events directly in sendWarehouseEvent
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/sendWarehouseTestEvent.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/sendWarehouseTestEvent.ts
Labels: front-end

Remove stale comment
  api/pyproject.toml
Labels: api

ci: Run flagsmith-private test suites inline on 0.9.0 (#7667)
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  Dockerfile
  api/.gitignore
  api/Makefile
  api/app/settings/test.py
  api/pyproject.toml
  api/uv.lock
Labels: api

fix base url
  mcp/src/flagsmith_mcp/config.py
  mcp/tests/integration/conftest.py
  mcp/tests/unit/test_config.py
Labels: none

remove fluff
  mcp/Makefile
Labels: none

use pydantic-settings
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/unit/test_config.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

constant, not a config
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_server.py
Labels: none

inline `_annotate`
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_server.py
Labels: none

improve server tests
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_server.py
Labels: none

less code
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_tools.py
Labels: none

drop top-level create_server export
  mcp/src/flagsmith_mcp/__init__.py
  mcp/tests/integration/conftest.py
Labels: none

Update python-dotenv and idna (transitive dependencies)
  api/pyproject.toml
  api/uv.lock
Labels: api

fix: update ButterBar text color based on banner background for better contrast
  frontend/common/utils/utils.tsx
  frontend/web/components/ButterBar.tsx
Labels: front-end

Update sentry webpack plugin
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

deps: Update python-dotenv and idna (transitive dependencies) (#7682)
  api/pyproject.toml
  api/uv.lock
Labels: api

deps: Update sentry webpack plugin (#7683)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat(MCP): Authentication, configuration and HTTP transport (#7680)
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/auth.py
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_auth.py
  mcp/tests/unit/test_config.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

ci: Add self-hosted Renovate workflow with CodeArtifact authentication
  .github/workflows/renovate.yml
Labels: none

ci: Fix renovatebot/github-action version to v46.1.14
  .github/workflows/renovate.yml
Labels: none

feat(MCP): Run an MCP server out of OpenAPI specs (#7670)
  .github/workflows/mcp-pull-request.yml
  .pre-commit-config.yaml
  AGENTS.md
  mcp/.gitignore
  mcp/Makefile
  mcp/README.md
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/__init__.py
  mcp/src/flagsmith_mcp/auth.py
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/integration/test_tools.py
  mcp/tests/unit/test_auth.py
  mcp/tests/unit/test_config.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

ci: Configure Renovate repository and git author
  .github/workflows/renovate.yml
Labels: none

ci: Use GitHub App token for Renovate authentication
  .github/workflows/renovate.yml
Labels: none

ci: Use depot runner for Renovate workflow
  .github/workflows/renovate.yml
Labels: none

ci: Recreate closed Renovate PRs automatically
  renovate.json
Labels: none

feat: confirm CI can reach the private access token secret
  .github/workflows/experiment-ci-secret-access.yml
Labels: none

ci: Run Renovate via npx instead of Docker action
  .github/workflows/renovate.yml
Labels: none

LOG_LEVEL=DEBUG
  .github/workflows/renovate.yml
Labels: none

revert claude hallucination
  .github/workflows/renovate.yml
Labels: none

ci: Pass CodeArtifact credentials to Renovate via RENOVATE_HOST_RULES
  .github/workflows/renovate.yml
Labels: none

ci: Always rebase Renovate branches to prevent stale branch deadlock
  renovate.json
Labels: none
