Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

refactor(Flag Dependency): Look up dependency segments through the default manager
  api/features/dependencies/services.py
Labels: api

deps(MCP): Exempt flagsmith-common from exclude-newer and update lock file
  mcp/pyproject.toml
  mcp/uv.lock
Labels: none

feat(Flag Dependency): Emit immutable system segments (#8632)
  api/features/dependencies/services.py
  api/pyproject.toml
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/integration/features/dependencies/test_feature_management.py
  api/uv.lock
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(Flag Dependency): Remove a feature's prerequisite
  api/audit/constants.py
  api/features/dependencies/exceptions.py
  api/features/dependencies/services.py
  api/features/dependencies/views.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

refactor(Flag Dependency): Remove the one override making up a dependency
  api/features/dependencies/services.py
Labels: api

test: show the rollout segment id and hashing seed when the variant split test fails
  api/tests/unit/experimentation/test_services.py
Labels: api

test(experimentation): keep the variant split test clear of the segment id hash collision
  api/tests/unit/experimentation/test_services.py
Labels: api

chore(infra): remove the ingestion Redis URL from the API and task processor
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

feat(experimentation): read delivery statuses from Postgres
  api/experimentation/dataclasses.py
  api/experimentation/services.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): delete the ingestion sync tasks
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

feat(experimentation): stop writing environment keys and connections to Redis
  api/environments/models.py
  api/experimentation/models.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_signals.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

perf(experimentation): load delivery statuses with their connections
  api/experimentation/services.py
  api/experimentation/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): remove the ingestion Redis client and sync services
  api/app/settings/common.py
  api/experimentation/constants.py
  api/experimentation/ingestion_redis.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_redis.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
Labels: api

test(experimentation): name the delivery status tests after the connection they cover
  api/tests/unit/experimentation/test_services.py
Labels: api

docs(experimentation): drop the select_related note
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): read delivery statuses from Postgres and drop the ingestion Redis (#8643)
  api/app/settings/common.py
  api/environments/models.py
  api/experimentation/constants.py
  api/experimentation/dataclasses.py
  api/experimentation/ingestion_redis.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/views.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_redis.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_signals.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: docs, api, infrastructure

feat(usage): give usage-data its own throttle scope
  api/app/settings/common.py
  api/app/settings/test.py
  api/app_analytics/throttles.py
  api/app_analytics/views.py
  api/tests/integration/app_analytics/test_influx_query_throttle.py
Labels: api

refactor(usage): address review on usage group_by and throttle scope
  api/app_analytics/analytics_db_service.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/mappers.py
  api/app_analytics/serializers.py
  api/app_analytics/types.py
  api/tests/integration/app_analytics/test_influx_query_throttle.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_mappers.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  frontend/common/types/responses.ts
  openapi.yaml
Labels: front-end, api

refactor(usage): address review on API limit state fields
  api/organisations/constants.py
  api/organisations/dataclasses.py
  api/organisations/services.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/organisations/test_unit_organisations_services.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix(experimentation): report ClickHouse error 194 as authentication failure
  api/experimentation/warehouse_verification_service.py
  api/tests/unit/experimentation/test_warehouse_verification_service.py
Labels: api

fix(styles): text-truncation utility helper (#8652)
  frontend/web/styles/3rdParty/_bootstrap.scss
Labels: front-end

refactor(experimentation): introduce warehouse providers and port ClickHouse
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/experimentation/warehouse_validation.py
  api/experimentation/warehouse_verification_service.py
  api/experimentation/warehouses/__init__.py
  api/experimentation/warehouses/base.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/flagsmith.py
  api/experimentation/warehouses/registry.py
  api/experimentation/warehouses/snowflake.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/warehouses/__init__.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_flagsmith.py
  api/tests/unit/experimentation/warehouses/test_registry.py
  api/tests/unit/experimentation/warehouses/test_snowflake.py
Labels: api

test(usage): satisfy the test linter on the tag mapping test
  api/tests/unit/app_analytics/test_unit_app_analytics_mappers.py
Labels: api

test(usage): sort expected environments by id
  api/tests/unit/app_analytics/test_analytics_db_service.py
Labels: api

feat(banner): add the design system Banner
  frontend/documentation/components/Banner.stories.tsx
  frontend/web/components/base/Banner/Banner.scss
  frontend/web/components/base/Banner/Banner.tsx
  frontend/web/components/base/Banner/index.ts
Labels: front-end

feat(dependencies): add the flag dependencies service
  frontend/common/services/useFeatureDependency.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

feat(icon-button): add the design system IconButton
  frontend/documentation/components/IconButton.stories.tsx
  frontend/web/components/base/IconButton/IconButton.scss
  frontend/web/components/base/IconButton/IconButton.tsx
  frontend/web/components/base/IconButton/index.ts
Labels: front-end

feat(features): add a feature picker
  frontend/web/components/FeatureSelect.tsx
  frontend/web/styles/styles.scss
Labels: front-end

feat(dependencies): show the tab and link to a dependent feature
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

docs(dependencies): story the tab and the layout explorations
  frontend/documentation/explorations/DependencyLayouts.scss
  frontend/documentation/explorations/DependencyLayouts.stories.tsx
  frontend/documentation/explorations/DependencyPresentations.scss
  frontend/documentation/explorations/DependencyPresentations.stories.tsx
  frontend/documentation/pages/FlagDependencies.stories.tsx
Labels: front-end

feat(dependencies): add the Dependencies tab
  frontend/common/constants.ts
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependenciesEmptyStates.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependencyStatusHeader.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependentFeaturesTable.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesSkeleton.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesTab.scss
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesView.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/PrerequisitesTable.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/index.ts
Labels: front-end

refactor(dependencies): move the prerequisite decisions out of the components
  frontend/documentation/pages/FlagDependencies.stories.tsx
  frontend/web/components/FeatureSelect.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/BlockedBanner.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependencyStatusHeader.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependentFeaturesTable.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesView.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/PrerequisitesTable.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/__tests__/prerequisiteState.test.ts
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/index.ts
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/prerequisiteState.ts
Labels: front-end

refactor(dependencies): give the data layer and the dependents half their own files
  frontend/documentation/pages/FlagDependencies.stories.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependentFeatures.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/FeatureDependenciesView.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/index.ts
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/useDependencies.ts
Labels: front-end

fix(dependencies): say what the dependents lose, not what they are
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/DependentFeatures.tsx
Labels: front-end

refactor(experiments): rebuild StatusBadge on the chip primitive
  frontend/web/components/experiments/StatusBadge/StatusBadge.scss
  frontend/web/components/experiments/StatusBadge/StatusBadge.tsx
Labels: front-end

feat(chip): add semantic variants, a solid fill and a status dot
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/base/Chip/ChipDot.tsx
  frontend/web/components/base/Chip/index.ts
Labels: front-end

feat(tags): add the tag colour scale
  frontend/common/theme/__tests__/tagSwatches.test.ts
  frontend/common/theme/contrast.ts
  frontend/common/theme/tokens.json
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): keep the tag palette as primitives
  frontend/common/theme/tokens.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

fix(tags): give the colour picker a shared component and a real swatch
  frontend/web/components/tags/ColourSelect.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/TagColourPicker/TagColourPicker.scss
  frontend/web/components/tags/TagColourPicker/TagColourPicker.tsx
  frontend/web/components/tags/TagColourPicker/index.ts
Labels: front-end

fix(tags): match any stored colour to a swatch by hue
  frontend/web/components/tags/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/tagSwatch.ts
Labels: front-end
