Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

java improvements
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

add title
  sdk/evaluation-context.json
Labels: none

Update sdk/evaluation-context.json
  sdk/evaluation-context.json
Labels: none

rename `key` to `priority`, change type
  sdk/evaluation-context.json
Labels: none

chore(evaluation-context): Add `FeatureValue.priority`, loosen metadata schema (#6152)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Add `FeatureValue.priority`, loosen metadata schema (#6152)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

Claude context
  frontend/.claude/context/feature-flags.md
Labels: front-end

Claude context
  frontend/.claude/context/feature-flags.md
Labels: front-end

chore(CI): bump checkout action to v5
  .github/actions/e2e-tests/action.yml
  .github/workflows/.reusable-deploy-ecs.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/.reusable-docker-publish.yml
  .github/workflows/.reusable-frontend-deploy.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/docs-pull-request.yml
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-test-staging.yml
  .github/workflows/manual-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-docker-trivy-scan.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/poc-github-code-references.yml
  .github/workflows/update-flagsmith-environment.yml
Labels: none

chore(main): release 2.198.0 (#6142)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.198.0 (#6142)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore: added-claude-contexts
  api/.claude/context/api-structure.md
  api/.claude/context/models-relationships.md
  api/.claude/context/testing.md
Labels: api

feat: added-query-param-to-get-segment-feature-states
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix: replaced-flex-1-with-justify-between
  frontend/web/components/PageTitle.tsx
Labels: front-end

feat: added-validation-on-segment
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat: optimized-operations-on-aggregating-identity-overrides
  api/environments/models.py
  api/metrics/metrics_service.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Labels: api

fix: use-get_edge_identity_overrides
  api/metrics/metrics_service.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Labels: api

feat: show-card-loading-state-and-prevent-opening-until-data-arrives
  frontend/web/components/AppLoader.js
  frontend/web/components/AppLoader.tsx
  frontend/web/components/base/accordion/AccordionCard.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/project/project-components.js
Labels: front-end

feat: hide-chevron-when-loading
  frontend/web/components/base/accordion/AccordionCard.tsx
Labels: front-end

feat: removed-unused-props-in-AppLoader
  frontend/web/components/AppLoader.tsx
Labels: front-end

chore(evaluation-context): Add feature metadata
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Add feature metadata (#6166)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Add feature metadata (#6166)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

fix: updated-wording-to-view
  frontend/web/components/modals/AssociatedSegmentOverrides.js
Labels: front-end

chore(evaluation-context): Introduce unique schema names
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

fix: menu tab highlight disappear for other Environments sub-options
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
Labels: front-end

fix: prevent metadata loss due to bad request
  api/environments/serializers.py
  api/features/serializers.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

don't blame front-end
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

fix: prevent metadata loss due to bad request (#6172)
  api/environments/serializers.py
  api/features/serializers.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

fix: prevent metadata loss due to bad request (#6172)
  api/environments/serializers.py
  api/features/serializers.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

chore(main): release 2.198.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.198.1 (#6173)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.198.1 (#6173)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

fix(sse/access-logs): handle deleted object
  api/sse/sse_service.py
  api/tests/unit/sse/test_sse_service.py
Labels: api

fix: change request navigation (#6151)
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

fix: change request navigation (#6151)
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

chore(evaluation-context): Introduce unique schema names (#6168)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Introduce unique schema names (#6168)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Remove extra fields, clarify `key` semantics
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

fix: Lighten darker tag colors in dark mode (#6147)
  frontend/web/components/tags/Tag.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
