Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

add backend code
  api/api/urls/v1.py
  api/app/settings/common.py
  api/app_analytics/influxdb_wrapper.py
  api/conftest.py
  api/platform_hub/__init__.py
  api/platform_hub/apps.py
  api/platform_hub/constants.py
  api/platform_hub/serializers.py
  api/platform_hub/services.py
  api/platform_hub/types.py
  api/platform_hub/urls.py
  api/platform_hub/views.py
  api/tests/unit/app_analytics/conftest.py
  api/tests/unit/platform_hub/__init__.py
  api/tests/unit/platform_hub/conftest.py
  api/tests/unit/platform_hub/test_services.py
  api/tests/unit/platform_hub/test_views.py
Labels: api

Update the local envdoc when we need it
  .github/workflows/update-flagsmith-environment.yml
Labels: none

feat(CI): Update the local envdoc when we need it (#6686)
  .github/workflows/update-flagsmith-environment.yml
Labels: none

feat(CI): Update the local envdoc when we need it (#6686)
  .github/workflows/update-flagsmith-environment.yml
Labels: none

integrate backend
  frontend/common/services/useAdminDashboard.ts
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
Labels: front-end

Submit a GitHub issue to clean up a stale feature
  api/app/settings/common.py
  api/integrations/github/client.py
  api/integrations/github/constants.py
  api/integrations/github/serializers.py
  api/integrations/github/views.py
  api/organisations/urls.py
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api, infrastructure

integrations are back
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/admin-dashboard/components/IntegrationAdoptionTable.tsx
Labels: front-end

fix coverage
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/platform_hub/conftest.py
  api/tests/unit/platform_hub/test_services.py
  api/tests/unit/platform_hub/test_views.py
Labels: api

feat: add A/B experiment analytics endpoint
  api/app_analytics/experiments.py
  api/environments/urls.py
  api/tests/unit/app_analytics/test_experiments.py
Labels: api

factor out mapping logic
  api/platform_hub/mappers.py
  api/platform_hub/services.py
Labels: api

cleanup
  api/platform_hub/constants.py
  api/platform_hub/services.py
  api/platform_hub/types.py
Labels: api

remove isSuper check
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
Labels: front-end

attempt to fix coverage for good
  api/tests/unit/platform_hub/test_services.py
Labels: api

reuse env_usage_30d
  api/platform_hub/services.py
Labels: api

update API Calls sorting and display to use dynamic days parameter
  frontend/web/components/pages/admin-dashboard/components/OrganisationUsageTable.tsx
Labels: front-end

Improve loading, remove repository_url
  frontend/common/types/requests.ts
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleSidebar.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
Labels: front-end

Fix coverage
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
Labels: api

improve overage display
  frontend/web/components/pages/admin-dashboard/components/OrganisationUsageTable.tsx
Labels: front-end

improve overage display further
  frontend/web/components/pages/admin-dashboard/components/OrganisationUsageTable.tsx
Labels: front-end

Use recursive fetch for feature lifecycle, fix descriptions
  frontend/web/components/Icon.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/constants.tsx
  frontend/web/components/pages/feature-lifecycle/hooks/useLifecycleData.ts
Labels: front-end

fix(UI): Fix copy button triggering feature detail dialog (#6690)
  frontend/web/components/feature-summary/FeatureName.tsx
Labels: front-end

fix(UI): Fix copy button triggering feature detail dialog (#6690)
  frontend/web/components/feature-summary/FeatureName.tsx
Labels: front-end

fancy period selector
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
Labels: front-end

don't spam backend from one of the hottest FE pages thanks
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
Labels: front-end

fix dropping required columns
  api/app_analytics/influxdb_wrapper.py
Labels: api

tidy
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/navigation/SelectOrgAndProject.tsx
  frontend/web/components/navigation/constants.ts
Labels: front-end

feat(Hackathon): Feature lifecycle (#6684)
  frontend/common/services/useCodeReferences.ts
  frontend/common/services/useGithubIntegration.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/Icon.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/ProjectFeatureRow.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/EvaluationChecker.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleFiltersHeader.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleSidebar.tsx
  frontend/web/components/pages/feature-lifecycle/components/LiveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/MonitorSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/NewSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/PermanentSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/RemoveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/SectionShell.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
  frontend/web/components/pages/feature-lifecycle/constants.tsx
  frontend/web/components/pages/feature-lifecycle/hooks/useClientPagination.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useEvaluationCounts.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useLifecycleData.ts
  frontend/web/components/pages/feature-lifecycle/index.ts
  frontend/web/components/pages/feature-lifecycle/types.ts
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
Labels: front-end

feat(Hackathon): Feature lifecycle (#6684)
  frontend/common/services/useCodeReferences.ts
  frontend/common/services/useGithubIntegration.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/Icon.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/ProjectFeatureRow.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/feature-lifecycle/components/EvaluationChecker.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleFiltersHeader.tsx
  frontend/web/components/pages/feature-lifecycle/components/LifecycleSidebar.tsx
  frontend/web/components/pages/feature-lifecycle/components/LiveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/MonitorSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/NewSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/PermanentSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/RemoveSection.tsx
  frontend/web/components/pages/feature-lifecycle/components/SectionShell.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
  frontend/web/components/pages/feature-lifecycle/constants.tsx
  frontend/web/components/pages/feature-lifecycle/hooks/useClientPagination.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useEvaluationCounts.ts
  frontend/web/components/pages/feature-lifecycle/hooks/useLifecycleData.ts
  frontend/web/components/pages/feature-lifecycle/index.ts
  frontend/web/components/pages/feature-lifecycle/types.ts
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
Labels: front-end

feat(Hackathon): Platform Hub (#6692)
  api/api/urls/v1.py
  api/app/settings/common.py
  api/app_analytics/influxdb_wrapper.py
  api/conftest.py
  api/platform_hub/__init__.py
  api/platform_hub/apps.py
  api/platform_hub/constants.py
  api/platform_hub/mappers.py
  api/platform_hub/serializers.py
  api/platform_hub/services.py
  api/platform_hub/types.py
  api/platform_hub/urls.py
  api/platform_hub/views.py
  api/tests/unit/app_analytics/conftest.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/platform_hub/__init__.py
  api/tests/unit/platform_hub/conftest.py
  api/tests/unit/platform_hub/test_services.py
  api/tests/unit/platform_hub/test_views.py
  frontend/common/services/mockAdminDashboardData.ts
  frontend/common/services/useAdminDashboard.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/navigation/SelectOrgAndProject.tsx
  frontend/web/components/navigation/constants.ts
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/admin-dashboard/components/InstanceMetricsCards.tsx
  frontend/web/components/pages/admin-dashboard/components/IntegrationAdoptionTable.tsx
  frontend/web/components/pages/admin-dashboard/components/OrganisationUsageTable.tsx
  frontend/web/components/pages/admin-dashboard/components/ReleasePipelineStatsTable.tsx
  frontend/web/components/pages/admin-dashboard/components/StaleFlagsTable.tsx
  frontend/web/components/pages/admin-dashboard/components/UsageTrendsChart.tsx
  frontend/web/routes.js
Labels: front-end, api

feat(Hackathon): Platform Hub (#6692)
  api/api/urls/v1.py
  api/app/settings/common.py
  api/app_analytics/influxdb_wrapper.py
  api/conftest.py
  api/platform_hub/__init__.py
  api/platform_hub/apps.py
  api/platform_hub/constants.py
  api/platform_hub/mappers.py
  api/platform_hub/serializers.py
  api/platform_hub/services.py
  api/platform_hub/types.py
  api/platform_hub/urls.py
  api/platform_hub/views.py
  api/tests/unit/app_analytics/conftest.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/platform_hub/__init__.py
  api/tests/unit/platform_hub/conftest.py
  api/tests/unit/platform_hub/test_services.py
  api/tests/unit/platform_hub/test_views.py
  frontend/common/services/mockAdminDashboardData.ts
  frontend/common/services/useAdminDashboard.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/navigation/SelectOrgAndProject.tsx
  frontend/web/components/navigation/constants.ts
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/admin-dashboard/components/InstanceMetricsCards.tsx
  frontend/web/components/pages/admin-dashboard/components/IntegrationAdoptionTable.tsx
  frontend/web/components/pages/admin-dashboard/components/OrganisationUsageTable.tsx
  frontend/web/components/pages/admin-dashboard/components/ReleasePipelineStatsTable.tsx
  frontend/web/components/pages/admin-dashboard/components/StaleFlagsTable.tsx
  frontend/web/components/pages/admin-dashboard/components/UsageTrendsChart.tsx
  frontend/web/routes.js
Labels: front-end, api

fix(Hackathon): Platform Hub: Pipeline count incorrectly presented as project adoption count
  frontend/web/components/pages/admin-dashboard/components/ReleasePipelineStatsTable.tsx
Labels: front-end

fix(Hackathon): Platform Hub: N+1 query for feature counts per project
  api/platform_hub/services.py
  api/tests/unit/platform_hub/test_services.py
Labels: api

feat(Hackathon): Submit a GitHub issue to clean up a stale feature (#6691)
  api/app/settings/common.py
  api/integrations/github/client.py
  api/integrations/github/constants.py
  api/integrations/github/serializers.py
  api/integrations/github/views.py
  api/organisations/urls.py
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api, infrastructure

feat(Hackathon): Submit a GitHub issue to clean up a stale feature (#6691)
  api/app/settings/common.py
  api/integrations/github/client.py
  api/integrations/github/constants.py
  api/integrations/github/serializers.py
  api/integrations/github/views.py
  api/organisations/urls.py
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api, infrastructure

deps: add numpy and scipy for experiment statistics
  api/poetry.lock
  api/pyproject.toml
Labels: api

feat(hackathon): add Experiments page and experiment flag toggle
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/routes.js
Labels: front-end

fix(Hackathon): Platform Hub: N+1 query for feature counts per project (#6697)
  api/platform_hub/services.py
  api/tests/unit/platform_hub/test_services.py
Labels: api

fix(Hackathon): Platform Hub: N+1 query for feature counts per project (#6697)
  api/platform_hub/services.py
  api/tests/unit/platform_hub/test_services.py
Labels: api

fix(Hackathon): Platform Hub: Pipeline count incorrectly presented as project adoption count (#6696)
  frontend/web/components/pages/admin-dashboard/components/ReleasePipelineStatsTable.tsx
Labels: front-end

fix(Hackathon): Platform Hub: Pipeline count incorrectly presented as project adoption count (#6696)
  frontend/web/components/pages/admin-dashboard/components/ReleasePipelineStatsTable.tsx
Labels: front-end
