Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

first the dream
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/updating-flags.md
  docs/docs/managing-flags/feature-versioning.md
  docs/docs/managing-flags/updating-flags.md
Labels: docs

get priorities straight
  api/tests/integration/features/experiments/test_update_flag_endpoint.py
  docs/docs/managing-flags/updating-flags.md
Labels: docs, api

tried so hard, got so far
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/features/experiments/test_update_flag_endpoint.py
  api/tests/integration/helpers.py
  docs/docs/managing-flags/updating-flags.md
Labels: docs, api

feat(cohorts): add cohorts app with membership ledger models
  api/app/settings/common.py
  api/cohorts/__init__.py
  api/cohorts/apps.py
  api/cohorts/migrations/0001_initial.py
  api/cohorts/migrations/__init__.py
  api/cohorts/models.py
  api/tests/unit/cohorts/__init__.py
  api/tests/unit/cohorts/test_models.py
Labels: api

feat(identities): add system_traits to engine identity document model
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/util/engine_models/identities/models.py
  api/util/mappers/dynamodb.py
Labels: api

fix(identities): exclude system_traits from SDK environment document
  api/tests/unit/util/mappers/test_unit_mappers_sdk.py
  api/util/mappers/sdk.py
Labels: api

feat(cohorts): apply membership deltas to edge identities in batches
  api/cohorts/constants.py
  api/cohorts/exceptions.py
  api/cohorts/metrics.py
  api/cohorts/models.py
  api/cohorts/services.py
  api/cohorts/tasks.py
  api/tests/unit/cohorts/conftest.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

chore(chromatic): fit the snapshot surface inside the free plan (#8208)
  .github/workflows/frontend-chromatic.yml
  frontend/.storybook/preview.js
  frontend/documentation/ColourPalette.stories.tsx
  frontend/documentation/ElevationTokens.stories.tsx
  frontend/documentation/MotionTokens.stories.tsx
  frontend/documentation/RadiusTokens.stories.tsx
  frontend/documentation/SemanticTokens.stories.tsx
  frontend/documentation/components/Button.stories.tsx
  frontend/documentation/components/Card.stories.tsx
  frontend/documentation/components/Chip.stories.tsx
  frontend/documentation/components/ErrorMessage.stories.tsx
  frontend/documentation/components/Icons.stories.tsx
  frontend/documentation/components/Input.stories.tsx
  frontend/documentation/components/Modal.stories.tsx
  frontend/documentation/components/MultiSelect.stories.tsx
  frontend/documentation/components/Panel.stories.tsx
  frontend/documentation/components/Switch.stories.tsx
  frontend/documentation/components/Tabs.stories.tsx
  frontend/documentation/components/Tooltip.stories.tsx
Labels: front-end

fix(cohorts): enforce one active cohort per segment
  api/cohorts/migrations/0001_initial.py
  api/cohorts/models.py
  api/tests/unit/cohorts/test_models.py
Labels: api

fix(auth): disable Google sign-in button until OAuth script is ready (#8201)
  frontend/web/components/GoogleButton.tsx
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

fix: make warehouse connection test failures more visible (#8207)
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ConfigForm.scss
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/warehouseFormUtils.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehouseFormUtils.ts
Labels: front-end

refactor: move useFitText to common/hooks and floor axis label width
  frontend/common/hooks/useFitText.ts
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/VariantName.tsx
  frontend/web/components/experiments/results/results.scss
Labels: front-end

test(cohorts): pin partial unique condition via direct deleted_at update
  api/tests/unit/cohorts/test_models.py
Labels: api

feat: theme toggle (#8128)
  frontend/documentation/components/ThemeToggle.stories.tsx
  frontend/web/components/DarkModeSwitch.tsx
  frontend/web/components/ThemeToggle/ThemeToggle.tsx
  frontend/web/components/ThemeToggle/index.ts
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/ThemeToggle/ThemeToggle.tsx
  frontend/web/project/darkMode.ts
Labels: front-end

fix(Features): add remove option to feature settings panel (#8203)
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
Labels: front-end

feat(cohorts): add cohorts app with membership ledger models (#8211)
  api/app/settings/common.py
  api/cohorts/__init__.py
  api/cohorts/apps.py
  api/cohorts/migrations/0001_initial.py
  api/cohorts/migrations/__init__.py
  api/cohorts/models.py
  api/tests/unit/cohorts/__init__.py
  api/tests/unit/cohorts/test_models.py
Labels: api

feat(experimentation): set 365-day retention on Firehose CloudWatch log groups
  api/experimentation/ingestion_infra_service.py
  api/tests/unit/experimentation/test_ingestion_infra_service.py
Labels: api

fix(Utils): coerce non-string values before split in validateRule (#8198)
  frontend/common/utils/__tests__/utils.test.ts
  frontend/common/utils/utils.tsx
Labels: front-end

feat(experimentation): set 365-day retention on Firehose CloudWatch log groups (#8214)
  api/experimentation/ingestion_infra_service.py
  api/tests/unit/experimentation/test_ingestion_infra_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(signup): send people to login instead of telling them to go
  frontend/e2e/tests/invite-test.pw.ts
  frontend/web/components/pages/home-page/HomePage.scss
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

fix(forms): colour a control when it has an error
  frontend/web/components/base/forms/Input.tsx
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

fix(signup): match the email case-insensitively and hide the error mid-request
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

fix(signup): stop the signup error following you to login
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

fix(signup): do not treat an untouched form as a submitted one
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

fix(signup): give the signup form a route to login
  frontend/e2e/tests/invite-test.pw.ts
  frontend/web/components/pages/home-page/HomePage.scss
  frontend/web/components/pages/home-page/HomePage.tsx
  frontend/web/components/pages/home-page/index.ts
  frontend/web/routes.js
  frontend/web/styles/project/_forms.scss
Labels: front-end

chore(signup): keep only the comments that carry a reason
  frontend/e2e/tests/invite-test.pw.ts
  frontend/web/components/base/forms/InputGroup.tsx
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

fix(signup): wait for the button to be enabled, name the email error union
  frontend/e2e/tests/invite-test.pw.ts
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

refactor: reuse autoValidate rather than add a second validity prop
  frontend/web/components/base/forms/Input.tsx
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

revert: drop the Input validity change from this PR
  frontend/web/components/base/forms/Input.tsx
  frontend/web/components/base/forms/InputGroup.tsx
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

fix(forms): colour a control that is already known to be invalid
  frontend/documentation/components/InputGroup.stories.tsx
  frontend/web/components/base/forms/Input.tsx
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

fix(signup): add a route to login when the email already has an account (#8177)
  frontend/e2e/tests/invite-test.pw.ts
  frontend/web/components/pages/home-page/HomePage.tsx
  frontend/web/components/pages/home-page/index.ts
  frontend/web/routes.js
  frontend/web/styles/project/_forms.scss
Labels: front-end

docs: Document the new Flagsmith CLI and deprecate the legacy CLI docs
  docs/docs/integrating-with-flagsmith/CLI.md
  docs/docs/integrating-with-flagsmith/legacy-cli.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/javascript.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
Labels: docs

docs: Document the new Flagsmith CLI and deprecate the legacy CLI docs (#8216)
  docs/docs/integrating-with-flagsmith/CLI.md
  docs/docs/integrating-with-flagsmith/legacy-cli.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/javascript.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
Labels: docs

fix(onboarding): don't seed a demo flag into a project that has flags
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/hooks/__tests__/demoFlag.test.ts
  frontend/web/components/pages/onboarding/hooks/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/hooks/demoFlag.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
  frontend/web/components/pages/onboarding/onboarding-already-set-up/OnboardingAlreadySetUp.tsx
  frontend/web/components/pages/onboarding/onboarding-already-set-up/index.ts
Labels: front-end

test(cohorts): cover drained-ledger exit and unexpected ClientError re-raise
  api/tests/unit/cohorts/test_services.py
Labels: api

refactor(cohorts): address review findings on membership applier
  api/cohorts/constants.py
  api/cohorts/exceptions.py
  api/cohorts/metrics.py
  api/cohorts/services.py
  api/cohorts/tasks.py
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/wrappers/exceptions.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_tasks.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

feat(identities): accept trait_value in set_system_trait
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

refactor(identities): initialise system_traits map via if_not_exists
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

docs(identities): reword conditional-write comments in plain language
  api/environments/dynamodb/wrappers/identity_wrapper.py
Labels: api

docs(identities): say system_traits instead of map in tests and comments
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
