Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs(project-admin): drop groups from admin picker description
  frontend/web/components/modals/CreateProject.tsx
Labels: front-end

feat: one warehouse connection per environment
  api/experimentation/migrations/0003_unique_connection_per_environment.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

fix: improve error messaging when saving custom field (#7578)
  frontend/web/components/modals/CreateMetadataField.tsx
Labels: front-end

feat(segment_membership): Surface identity counts in segments UI
  frontend/common/types/responses.ts
  frontend/e2e/tests/segment-membership-test.pw.ts
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/segments/SegmentMembershipBadge.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/components/_chip.scss
Labels: front-end

refactor(Segment membership): Move identity noun and last-sync into a tooltip
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/segments/SegmentMembershipBadge.tsx
Labels: front-end

refactor(Segment membership): Require environment on env badge
  frontend/web/components/segments/SegmentMembershipBadge.tsx
Labels: front-end

refactor(CreateSegmentUsersTabContent): Type renderEnvOption with shared option type
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
Labels: front-end

fix(e2e): Match /environments route with or without query string
  frontend/e2e/tests/segment-membership-test.pw.ts
Labels: front-end

docs(npm-scope): update flagsmith-cli and flagsmith-nodejs references
  docs/docs/integrating-with-flagsmith/CLI.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/javascript.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/plugins/flagsmith-versions/index.js
  frontend/common/code-help/offline_client/offline-client-cli.js
  frontend/common/code-help/offline_server/offline-server-cli.js
  frontend/common/constants.ts
Labels: docs, front-end

docs(npm-scope): align flagsmith JS client refs with @flagsmith/flagsmith
  docs/plugins/flagsmith-versions/index.js
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
Labels: docs, front-end

docs(npm-scope): keep flagsmith-nodejs in version fetcher until publish
  docs/plugins/flagsmith-versions/index.js
Labels: docs

docs(npm-scope): update JS SDK version pin and CDN URLs
  docs/docs/getting-started/quick-start.md
  docs/src/components/SdkVersions.js
Labels: docs

fix(e2e): Use the actual /environments URL pattern in route mock
  frontend/e2e/tests/segment-membership-test.pw.ts
Labels: front-end

fix(e2e): Handle /environments returning a raw array, not paged results
  frontend/e2e/tests/segment-membership-test.pw.ts
Labels: front-end

fix(segment_membership): Unblock backfill on staging ClickHouse 25.12
  api/pyproject.toml
  api/uv.lock
  infrastructure/aws/staging/ecs-task-definition-migration.json
Labels: api, infrastructure

test(Segment membership): Drop the synthetic-data Playwright spec
  frontend/e2e/tests/segment-membership-test.pw.ts
Labels: front-end

refactor(Tooltip): Make delayShow overridable, drop chip hover to 100ms
  frontend/web/components/Tooltip.tsx
  frontend/web/components/segments/SegmentMembershipBadge.tsx
Labels: front-end

feat(experimentation): sync warehouse connection environment keys to ingestion redis
  api/app/settings/common.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/models.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

chore(experimentation): let redis errors propagate and regen events catalogue
  api/experimentation/ingestion_sync_service.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

test(experimentation): cover ingestion redis client construction
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
Labels: api

chore(infra): set INGESTION_REDIS_URL on admin-api and task-processor
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

fix: handle empty notification recipients
  api/organisations/task_helpers.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

feat(experimentation): create object when resurecting different warehouse type
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): one warehouse connection per environment (#7582)
  api/experimentation/migrations/0003_unique_connection_per_environment.py
  api/experimentation/models.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

chore(experimentation): drop success info logs from ingestion sync service
  api/experimentation/ingestion_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): sync warehouse connection environment keys to ingestion redis (#7588)
  api/app/settings/common.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/models.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_tasks.py
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api, infrastructure

feat(experimentation): add Experiment model and CRUD endpoints
  api/audit/related_object_type.py
  api/environments/urls.py
  api/experimentation/constants.py
  api/experimentation/experiment_urls.py
  api/experimentation/migrations/0004_experiment.py
  api/experimentation/models.py
  api/experimentation/permissions.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experimentation): reworked-tests
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experimentation): type-linting
  api/experimentation/migrations/0004_experiment.py
  api/tests/unit/experimentation/conftest.py
Labels: api

feat(experimentation): changed return status when experiment exists and use hooks to set timestamps
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experimentation): added test coverage
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experimentation): added test coverage for existing mv features
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experimentation): extracted status actions
  api/experimentation/serializers.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

docs(Sizing): rewrite as workload-driven guide
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
Labels: docs

transform sdk defaults into a collapsible
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
Labels: docs

add back env vars
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
Labels: docs

add useful env vars
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
Labels: docs

update section order
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
Labels: docs

fix(Segment membership PoC): Identity backfill broken due to lack of JSON column support (#7584)
  api/pyproject.toml
  api/uv.lock
  infrastructure/aws/staging/ecs-task-definition-migration.json
Labels: api, infrastructure

feat(experimentation): add Experiment types to frontend
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
