Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

refactor(forms): drop dead top-level props from InputGroup + consumers
  frontend/web/components/RegexTester.tsx
  frontend/web/components/base/forms/InputGroup.tsx
  frontend/web/components/modals/ChangeEmailAddress.tsx
  frontend/web/components/modals/ConfirmDeleteAccount.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/create-feature/components/FeatureNameInput.tsx
  frontend/web/components/onboarding/OnboardingAccountForm.tsx
  frontend/web/components/pages/AccountSettingsPage.tsx
  frontend/web/components/pages/HomePage.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/tables/TableValueFilter.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

fix(forms): match prod label layout for tooltip icon and unsaved badge
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

refactor(forms): fold info-icon tooltip into FieldLabel, drop LabelWithTooltip
  frontend/documentation/components/LabelWithTooltip.stories.tsx
  frontend/web/components/base/LabelWithTooltip.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/metrics/EnvironmentMetric.tsx
Labels: front-end

refactor(forms): compose FieldLabel and FieldError in InputGroup
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

feat(forms): migrate Input to TypeScript
  frontend/web/components/base/forms/Input.js
  frontend/web/components/base/forms/Input.tsx
Labels: front-end

refactor(forms): tokenise input colours in _input.scss
  frontend/web/styles/components/_input.scss
Labels: front-end

fix(forms): vertically centre FieldLabel's tooltip icon
  frontend/web/components/base/forms/FieldLabel.tsx
Labels: front-end

refactor: import KeyboardEvent from react in BreadcrumbSeparator
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end

refactor(forms): tokenise input colours in _forms.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end

docs(forms): add InputGroup Storybook story
  frontend/documentation/components/InputGroup.stories.tsx
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

docs(forms): use the real forgot-password example in InputGroup story
  frontend/documentation/components/InputGroup.stories.tsx
Labels: front-end

refactor(forms): migrate InputGroup to TypeScript
  frontend/web/components/base/forms/Input.tsx
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/base/forms/InputGroup.tsx
Labels: front-end

chore(deps): drop unused react-maskedinput
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

refactor(integrations): render Checkbox directly
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(forms): migrate MCPIntegration off deleted LabelWithTooltip
  frontend/web/components/integrations/MCPIntegration.tsx
Labels: front-end

refactor(forms): address review feedback on Input migration
  frontend/documentation/components/InputGroup.stories.tsx
  frontend/web/components/base/forms/Input.tsx
  frontend/web/components/base/forms/InputGroup.tsx
  frontend/web/styles/components/_input.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end

fix(forms): keep password reveal icon visible in dark mode
  frontend/web/components/base/forms/Input.tsx
Labels: front-end

fix(forms): tokenise input icon hover colour
  frontend/web/styles/components/_input.scss
Labels: front-end

refactor(forms): tokenise form label colours, drop dark overrides
  frontend/web/styles/project/_forms.scss
Labels: front-end

docs(styles): drop reference to uncommitted plan file in _bootstrap.scss
  frontend/web/styles/3rdParty/_bootstrap.scss
Labels: front-end

update api spec
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: none

fix tests
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
Labels: api

identify MV options by key
  api/experimentation/serializers.py
  api/experimentation/types.py
  api/features/feature_states/serializers.py
  api/features/feature_states/types.py
  api/features/versioning/dataclasses.py
  api/features/versioning/versioning_service.py
  api/tests/integration/conftest.py
  api/tests/integration/features/versioning/test_update_flag_endpoints.py
  api/tests/unit/features/feature_states/test_serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/updating-flags.md
Labels: docs, api

refactor(features): inherit mv hashing salt in the model layer
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/util/mappers/engine.py
Labels: api

docs(features): shorten mv_hashing_salt field comment
  api/features/models.py
Labels: api

test(features): port mv hashing salt behaviour tests from #7963
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

fix(features): drop unused type ignore on mv_hashing_seed
  api/features/models.py
Labels: api

docs(features): tighten lineage ordering comment
  api/features/models.py
Labels: api

fix(experimentation): poll warehouse status for created connections
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/warehousePolling.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehousePolling.ts
Labels: front-end

docs: loosen the pending connection status wording
  docs/docs/experimentation/connect-a-warehouse.md
Labels: docs

feat: removed ia slop
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehousePolling.ts
Labels: front-end

Fix API usage notification threshold calculation (#7976)
  api/organisations/task_helpers.py
  api/organisations/tasks.py
Labels: api

Update tests to align with actual plan limit evaluations
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Fix test boundaries caught by CodeRabbit review
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Update tests to align with actual plan limit evaluations
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Strengthen regression test with mock assertion
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

feat(experimentation): default to control when rollout segment is created
  api/experimentation/services.py
  api/tests/unit/experimentation/test_experiment_views.py
  api/tests/unit/experimentation/test_services.py
Labels: api

docs: cross-link blog posts and e-books from related docs pages
  docs/docs/administration-and-security/governance-and-compliance/security.md
  docs/docs/best-practices/flag-lifecycle.md
  docs/docs/best-practices/structuring-your-projects.md
  docs/docs/best-practices/testing-with-flags.md
  docs/docs/best-practices/when-to-use-flags.md
  docs/docs/experimentation-ab-testing.md
  docs/docs/flagsmith-concepts/targeting-and-rollouts/index.md
  docs/docs/getting-started/feature-flags.md
  docs/docs/managing-flags/rollout/rollout-by-percentage.md
  docs/docs/support/faq/feature-flags-remote-config.mdx
Labels: docs

Fix frontend proxy stripping /api/v1 prefix due to v3 middleware upgrade
  frontend/api/dev-routes.js
Labels: front-end

Fix production proxy path stripping and resolve linting indentation
  frontend/api/dev-routes.js
  frontend/api/index.js
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
