Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(Segment Membership): Seed identities per organisation on Beta opt-in
  api/app/settings/common.py
  api/segment_membership/admin.py
  api/segment_membership/mappers.py
  api/segment_membership/migrations/0002_segment_membership_seed.py
  api/segment_membership/models.py
  api/segment_membership/tasks.py
  api/segment_membership/types.py
  api/tests/integration/segment_membership/test_segment_membership_clickhouse.py
  api/tests/unit/segment_membership/test_unit_segment_membership_admin.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
Labels: api

docs(Segment Membership): Regenerate events catalogue for seed events
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

test(Segment Membership): Split mapper test GWT markers onto separate lines
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
Labels: api

Add FLAG_CREATED webhook event
  api/audit/signals.py
  api/features/models.py
  api/features/tasks.py
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/serializers.py
  api/webhooks/webhooks.py
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
Labels: docs, api

feat: use query param serialiser for experiment status filter
  api/experimentation/serializers.py
  api/experimentation/views.py
Labels: api

fix(experiments): allow 0% rollout in experiment creation wizard
  frontend/web/components/experiments/CreateExperimentWizard.tsx
Labels: front-end

fix(experiments): validate rollout percentage and split allocations in edit mode
  frontend/common/utils/isValidPercentage.ts
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
Labels: front-end

feat: freeze flag editing when flag is in active experiment
  frontend/common/hooks/__tests__/useFeatureExperimentFreeze.test.ts
  frontend/common/hooks/useFeatureExperimentFreeze.ts
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: front-end

refactor: improve experiment freeze with status-filtered queries and consolidated props
  frontend/common/hooks/__tests__/useFeatureExperimentFreeze.test.ts
  frontend/common/hooks/useFeatureExperimentFreeze.ts
  frontend/web/components/modals/create-feature/components/ExperimentFreezeNotice/ExperimentFreezeNotice.tsx
  frontend/web/components/modals/create-feature/components/ExperimentFreezeNotice/index.ts
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: front-end

fix: avoid layout shift during freeze loading and skip query without environmentId
  frontend/common/hooks/__tests__/useFeatureExperimentFreeze.test.ts
  frontend/common/hooks/useFeatureExperimentFreeze.ts
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: front-end

feat: freeze only running experiments
  frontend/common/hooks/__tests__/useFeatureExperimentFreeze.test.ts
  frontend/common/hooks/useFeatureExperimentFreeze.ts
Labels: front-end

feat: add regional base URL select for Heap and Mixpanel integrations
  frontend/common/stores/default-flags.ts
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(Segment Membership): Defer task import in admin so startup doesn't touch Prometheus
  api/segment_membership/admin.py
  api/tests/unit/segment_membership/test_unit_segment_membership_admin.py
Labels: api

fix: remove v0.1 experiment flag toggle from create feature modal
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/CreateFeatureTab.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

refactor(experiments): extract ExperimentRolloutCard, address review feedback
  frontend/web/components/experiments/CreateExperimentWizard.tsx
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/ExperimentRolloutCard.tsx
Labels: front-end

Lock private dependencies
  api/pyproject.toml
  api/uv.lock
Labels: api

chore(Segment Membership): Surface segment_membership logs via APPLICATION_LOGGERS
  api/scripts/run-docker.sh
Labels: api

Unbound
  mcp/src/flagsmith_mcp/config.py
Labels: none

Ensure HTTP URLs
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_config.py
Labels: none

Why requiring
  mcp/src/flagsmith_mcp/config.py
Labels: none

remove redundant test
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

inline services
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

refactor _snapshot into a fixture
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

full object comparisno
  api/tests/unit/organisations/usage_reporting/test_mappers.py
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

refactyor name
  api/organisations/usage_reporting/mappers.py
Labels: api

rename mapper helpers
  api/organisations/usage_reporting/mappers.py
Labels: api

remove comment
  api/app_analytics/analytics_db_service.py
Labels: api

isolate data access
  api/organisations/usage_reporting/mappers.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor _build_auth_token into mappers.py
  api/organisations/usage_reporting/mappers.py
  api/organisations/usage_reporting/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(experimentation): keep variant assignment stable across rollout updates
  api/experimentation/services.py
  api/features/versioning/versioning_service.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Replace no-cover pragma with guarded licensing test
  api/organisations/usage_reporting/services.py
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

assert instead of re-ran
  api/tests/unit/organisations/usage_reporting/test_services.py
Labels: api

fix(multivariate): persist variant key in DynamoDB environment document
  api/pyproject.toml
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/uv.lock
Labels: api

fix(mypy): narrow compressed feature_states to bytes before decompress
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
Labels: api

fix(experimentation): defer environment document rebuild until transaction commits
  api/experimentation/services.py
Labels: api

fix(Segment Membership): Warn when a seed skips on missing ClickHouse or Dynamo
  api/segment_membership/tasks.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(Segment Membership): Select an org's live-segment projects with Exists
  api/segment_membership/tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

chore(Segment Membership): Mark the seed reconciler for retirement at flag EOL
  api/segment_membership/tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(Segment Membership): Trim the refresh_all_segment_counts docstring
  api/segment_membership/tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

build(deps): Bump flagsmith-sql-flag-engine to 0.1.2
  api/pyproject.toml
  api/uv.lock
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
