Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(testing): add Jest unit testing infrastructure
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

ci: add frontend PR workflow with unit tests
  .github/workflows/frontend-pull-request.yml
Labels: none

docs: replace with improved data model diagram
  docs/static/img/flagsmith-model.svg
Labels: docs

docs: replace with improved data model diagram (#6433)
  docs/static/img/flagsmith-model.svg
Labels: docs

docs: replace with improved data model diagram (#6433)
  docs/static/img/flagsmith-model.svg
Labels: docs

docs: reduce horizontal padding
  docs/static/img/flagsmith-model.svg
Labels: docs

Bump urllib3 dependency
  api/poetry.lock
Labels: api

deps: bump urllib3 dependency (#6435)
  api/poetry.lock
Labels: api

deps: bump urllib3 dependency (#6435)
  api/poetry.lock
Labels: api

chore(main): release 2.205.3
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.3 (#6436)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.3 (#6436)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Bump djoser and social auth app django
  api/poetry.lock
Labels: api

docs: reduce horizontal padding (#6434)
  docs/static/img/flagsmith-model.svg
Labels: docs

docs: reduce horizontal padding (#6434)
  docs/static/img/flagsmith-model.svg
Labels: docs

feat: Add rate limiting to identity search endpoint
  api/app/settings/common.py
  api/environments/identities/views.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  frontend/common/useDebouncedSearch.ts
Labels: front-end, api

docs: improve quickstart
  docs/docs/getting-started/quick-start.md
  docs/static/img/quickstart/quickstart-flow.svg
Labels: docs

fix: Apply identity search throttle only to list action
  api/environments/identities/views.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

Docs: add quickstart flow (#6437)
  docs/docs/getting-started/quick-start.md
  docs/static/img/quickstart/quickstart-flow.svg
Labels: docs

Docs: add quickstart flow (#6437)
  docs/docs/getting-started/quick-start.md
  docs/static/img/quickstart/quickstart-flow.svg
Labels: docs

docs: add project structure guide
  docs/docs/best-practices/structuring-your-projects.md
Labels: docs

fix: remove broken optimistic update and use specific cache tags
  frontend/common/services/useFeatureVersion.ts
Labels: front-end

refactor(e2e): add checkApiRequest and parseTryItResults helpers
  frontend/e2e/helpers.cafe.ts
Labels: front-end

test(e2e): use helpers and reduce wait times in tests
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/versioning-tests.ts
Labels: front-end

refactor: remove any type from error handling in useToggleFeatureWithToast
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
Labels: front-end

fix: use numeric environmentId for cache invalidation tag
  frontend/common/services/useFeatureVersion.ts
Labels: front-end

feat: add optimistic UI update for feature toggle
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/hooks/useOptimisticToggle.ts
Labels: front-end

docs: add section on multivariate flags in core management
  docs/docs/experimentation-ab-testing.md
  docs/docs/managing-flags/core-management.md
Labels: docs

fix: use explicit swagger_fake_view check for schema generation
  api/environments/serializers.py
Labels: api

test(format): add unit tests and clean up redundant .toString() calls
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

refactor(format): add moment import and fix money function types
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

fix: remove orphaned steps block from docker workflow
  .github/workflows/platform-docker-build-test-publish.yml
Labels: none

fix: correct critical bugs in Playwright test setup
  frontend/e2e/helpers/helpers.ts
  frontend/e2e/tests/serve-bundle.setup.ts
Labels: front-end

fix: add missing Playwright dependencies for Debian Bookworm
  frontend/Dockerfile-base.e2e
Labels: front-end

fix: address cursorbot review comments
  frontend/Dockerfile-base.e2e
  frontend/e2e/helpers/helpers.ts
Labels: front-end

fix: install Playwright deps in E2E Dockerfile directly
  frontend/Dockerfile.e2e
Labels: front-end

fix: remove fonts-ubuntu package not available in Debian Bookworm
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
Labels: front-end

fix: pass --project argument to playwright test correctly
  frontend/Makefile
  frontend/package.json
  frontend/playwright.config.ts
Labels: front-end

fix: use correct port for bundled app server
  frontend/e2e/tests/serve-bundle.setup.ts
Labels: front-end

fix(e2e): add page navigation to initialise test
  frontend/e2e/tests/initialise-tests.spec.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
