Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs: added-snippets-and-numbered-saas-auth-possibilities
  docs/docs/integrating-with-flagsmith/mcp-server.md
Labels: docs

fix: Set log_level = INFO in pytest config
  api/pyproject.toml
Labels: api

refactor: Unused actions and utils (#7244)
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/dispatcher/base/_action-constants.js
  frontend/common/dispatcher/base/_app-actions.js
  frontend/common/stores/organisation-store.js
  frontend/common/stores/project-store.js
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

refactor: migrate OrganisationSelect to TypeScript FC (#7232)
  frontend/web/components/OrganisationSelect.js
  frontend/web/components/OrganisationSelect.tsx
  frontend/web/components/pages/GitHubSetupPage.tsx
Labels: front-end

refactor: migrate trivial components to TypeScript (#7231)
  frontend/web/components/ErrorMessage.js
  frontend/web/components/ErrorMessage.tsx
  frontend/web/components/PasswordRequirements.tsx
  frontend/web/components/base/forms/Radio.tsx
  frontend/web/components/base/grid/Column.js
  frontend/web/components/base/grid/Column.tsx
  frontend/web/components/base/grid/Flex.js
  frontend/web/components/base/grid/Flex.tsx
  frontend/web/components/pages/NotFoundErrorPage.js
  frontend/web/components/pages/NotFoundErrorPage.tsx
Labels: front-end

refactor: Replace inspecting_handler with caplog
  api/conftest.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix(Logging): Expand APPLICATION_LOGGERS and fix unnamed loggers (#7256)
  api/conftest.py
  api/edge_api/identities/export.py
  api/edge_api/management/commands/ensure_identity_traits_blanks.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/features/views.py
  api/pyproject.toml
  api/scripts/run-docker.sh
  api/segments/serializers.py
  api/segments/views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/users/migrations/0044_remove_users_from_groups_in_orgs_they_do_not_belong_to.py
Labels: api

fix: org breadcrumb shows wrong name for non-admin users (#7234)
  frontend/common/hooks/useSelectedOrganisation.ts
  frontend/common/selectedOrganisationSlice.ts
  frontend/common/store.ts
  frontend/common/stores/account-store.js
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/navigation/SelectOrgAndProject.tsx
Labels: front-end

ci: Add Vercel preview smoke test for frontend PRs
  .github/workflows/frontend-pull-request.yml
Labels: none

chore: Trigger Vercel deployment for smoke test validation
  frontend/api/index.js
Labels: front-end

chore: Trigger Vercel rebuild for smoke test validation
  frontend/web/main.js
Labels: front-end

chore: revert throwaway trigger changes
  frontend/api/index.js
  frontend/web/main.js
Labels: front-end

ci: Allow smoke test to run on draft PRs
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Add job-level timeout to smoke test (10 min)
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Add --max-time 30 to smoke test curls
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Make smoke test non-blocking + merge curl checks into one loop
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Merge deployment status API calls into one
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Drop /health from smoke test (moved behind VPN)
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Parse preview URLs from Vercel bot comment, drop /health
  .github/workflows/frontend-pull-request.yml
Labels: none

ci: Widen URL grep pattern + add body content validation
  .github/workflows/frontend-pull-request.yml
Labels: none

test: Trigger smoke test on fresh PR
  frontend/web/components/App.js
Labels: front-end

ci: Rewrite smoke test — wait for Vercel checks before testing
  .github/workflows/frontend-pull-request.yml
Labels: none

test: Trigger smoke test validation
  .github/workflows/frontend-pull-request.yml
  frontend/web/components/App.js
Labels: front-end

feat: feature analytics label grouping (#6067)
  frontend/common/services/useFeatureAnalytics.ts
  frontend/common/theme/index.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/common/types/responses.ts
  frontend/documentation/DecisionFramework.mdx
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/documentation/components/BarChart.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/charts/ChartTooltip.tsx
  frontend/web/components/charts/__tests__/buildChartColorMap.test.ts
  frontend/web/components/charts/buildChartColorMap.ts
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/__tests__/utils.test.ts
  frontend/web/components/feature-page/FeatureNavTab/useEnvChartProps.ts
  frontend/web/components/feature-page/FeatureNavTab/utils.ts
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
  frontend/web/styles/3rdParty/_index.scss
  frontend/web/styles/3rdParty/_recharts.scss
  frontend/web/styles/_tokens.scss
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

ci: Narrow status filter + poll for Vercel comment
  .github/workflows/frontend-pull-request.yml
Labels: none

feat(GitLab): Add GitLab to Project Integrations (#7239)
  api/app/settings/common.py
  api/integrations/gitlab/__init__.py
  api/integrations/gitlab/apps.py
  api/integrations/gitlab/migrations/0001_initial.py
  api/integrations/gitlab/migrations/__init__.py
  api/integrations/gitlab/models.py
  api/integrations/gitlab/serializers.py
  api/integrations/gitlab/views.py
  api/projects/urls.py
  api/tests/unit/integrations/gitlab/__init__.py
  api/tests/unit/integrations/gitlab/test_views.py
  frontend/common/stores/default-flags.ts
  frontend/web/static/images/integrations/gitlab.svg
Labels: front-end, api

refactor: Migrate org-usage charts to <BarChart />, drop legacy recharts SCSS
  frontend/web/components/charts/BarChart.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsageMetrics.container.tsx
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
  frontend/web/styles/3rdParty/_index.scss
  frontend/web/styles/3rdParty/_recharts.scss
Labels: front-end

fix: Replace `as never` with proper ChartDataPoint typing
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
Labels: front-end

ci: upgraded-vercel-to-latest-version
  .github/workflows/.reusable-frontend-deploy.yml
Labels: none

Apply suggestion from @Zaimwa9
  .github/workflows/.reusable-frontend-deploy.yml
Labels: none

feat: display-saml-tab-for-scale-up-plans
  frontend/common/utils/utils.tsx
Labels: front-end

feat: backend-verifying-plan-permissions-for-saml-endpoints
  api/app/urls.py
  api/organisations/subscriptions/permissions.py
  api/tests/unit/organisations/subscriptions/test_unit_subscriptions_permissions.py
Labels: api

ci: upgraded-vercel-to-latest-version (#7265)
  .github/workflows/.reusable-frontend-deploy.yml
Labels: none

refactor: Use EmptyState component for org usage empty/error states
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
Labels: front-end

refactor: Add EmptyState to SingleSDKLabelsChart
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
Labels: front-end

feat/created-skill-to-add-analytics-events
  .claude/commands/add-analytics-event.md
Labels: none

ci: upgraded-vercel-to-newer-version
  .github/workflows/.reusable-frontend-deploy.yml
Labels: none

ci: upgrade vercel cli version to newer (#7267)
  .github/workflows/.reusable-frontend-deploy.yml
Labels: none

fix: move override icons next to toggle in condensed feature row
  frontend/web/components/CondensedFeatureRow.tsx
Labels: front-end

fix: add visual divider between environment columns in comparison view
  frontend/web/components/CompareEnvironments.js
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
