Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Fix hubspot SDK still depending on setuptools
  api/poetry.lock
  api/pyproject.toml
Labels: api

fix(Hubspot): Fix unexpected setuptools dependency (#6793)
  api/poetry.lock
  api/pyproject.toml
Labels: api

chore(main): release 2.219.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.219.1 (#6794)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Fix unit tests
  api/tests/unit/conftest.py
  api/tests/unit/edge_api/identities/test_edge_identity_service.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Correct the docs for flags and identities endpoint caches
  docs/docs/deployment-self-hosting/core-configuration/caching-strategies.md
Labels: docs

docs: Provisioning
  docs/docs/deployment-self-hosting/core-configuration/initial-setup.md
  docs/docs/deployment-self-hosting/core-configuration/provisioning.md
  docs/docs/deployment-self-hosting/core-configuration/running-flagsmith-on-flagsmith.md
  docs/docs/deployment-self-hosting/index.md
Labels: docs

chore: Add design system audit report for #6606
  frontend/DESIGN_SYSTEM_AUDIT.md
  frontend/DESIGN_SYSTEM_AUDIT_PLAN.md
Labels: front-end

Fix #6804
  frontend/common/stores/account-store.js
Labels: front-end

maintain security
  frontend/common/stores/account-store.js
Labels: front-end

fix: defer data field in feature import/export list views
  api/features/import_export/views.py
Labels: api

fix: defer data field in feature import/export list views (#6811)
  api/features/import_export/views.py
Labels: api

feat: removed-feature-flag
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
Labels: front-end

body color fix
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

fix: reuse DynamoEnvironmentWrapper in DynamoIdentityWrapper
  api/edge_api/identities/models.py
  api/environments/dynamodb/migrator.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/tasks.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

fix: resolve mypy arg-type error in regression test
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

fix: resolve test failures from DI at call sites
  api/edge_api/identities/models.py
  api/tests/unit/environments/dynamodb/test_unit_migrator.py
Labels: api

Update API Flagsmith Defaults
  api/integrations/flagsmith/data/environment.json
Labels: api

fix: dark-mode-on-login-page (#6810)
  frontend/common/stores/account-store.js
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

Simplify multithreading for testing
  api/features/features_service.py
Labels: api

Fix tests
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Update comment and reverse execution order to fix parallelism.
  api/features/features_service.py
Labels: api

Add feature state for compressing DynamoDB documents
  api/integrations/flagsmith/data/environment.json
Labels: api

don't assume object repr len
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_utils.py
Labels: api

remove unused type ignore
  api/environments/dynamodb/wrappers/environment_api_key_wrapper.py
Labels: api

fix coverage
  api/environments/dynamodb/wrappers/environment_wrapper.py
Labels: api

fix: hide-roles-tab-only-for-non-org-admin-in-env-project-settings (#6786)
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/ProjectPermissionsTab.tsx
Labels: front-end

fix: hide-roles-tab-only-for-non-org-admin-in-env-project-settings (#6786)
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/ProjectPermissionsTab.tsx
Labels: front-end

fix: standardise organisationId/projectId types to number in metadata components
  frontend/web/components/metadata/ContentTypesMetadataFieldTable.tsx
  frontend/web/components/metadata/ContentTypesValues.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/metadata/SupportedContentTypesSelect.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
Labels: front-end

fix: standardise metadata ID types to number (#6817)
  frontend/web/components/metadata/ContentTypesMetadataFieldTable.tsx
  frontend/web/components/metadata/ContentTypesValues.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/metadata/SupportedContentTypesSelect.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
Labels: front-end

Set COOKIE_AUTH_ENABLED=true by default to prevent broken authentication
  api/app/settings/common.py
  docker-compose.yml
Labels: api

fix: N dynamodb queries in feature list endpoint (#6758)
  api/edge_api/identities/edge_identity_service.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/utils.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/features/dataclasses.py
  api/features/features_service.py
  api/features/serializers.py
  api/features/views.py
  api/tests/conftest.py
  api/tests/unit/conftest.py
  api/tests/unit/edge_api/identities/test_edge_identity_service.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/features/test_unit_features_features_service.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix: N dynamodb queries in feature list endpoint (#6758)
  api/edge_api/identities/edge_identity_service.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/utils.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/features/dataclasses.py
  api/features/features_service.py
  api/features/serializers.py
  api/features/views.py
  api/tests/conftest.py
  api/tests/unit/conftest.py
  api/tests/unit/edge_api/identities/test_edge_identity_service.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/features/test_unit_features_features_service.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Invoke logout API in backend on login button click
  api/app/settings/common.py
  docker-compose.yml
  frontend/common/stores/account-store.js
Labels: front-end, api

Increase flag-tests wait time
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

refactor(e2e): Replace arbitrary waits with state-based waiting in flag tests
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

refactor(e2e): Replace arbitrary waits with state-based waiting in flag tests
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

fix: replace numpy/scipy with pure Python in experiment analytics
  api/app_analytics/experiments.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/app_analytics/test_experiments.py
Labels: api

test: add edge-case coverage for experiment statistics
  api/app_analytics/experiments.py
  api/tests/unit/app_analytics/test_experiments.py
Labels: api

fix: replace numpy/scipy with pure Python in experiment analytics (#6830)
  api/app_analytics/experiments.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/app_analytics/test_experiments.py
Labels: api
