Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

Map ports for new /metrics endpoint
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: infrastructure

DROPME: Point to a dev version of flagsmith-common
  api/poetry.lock
  api/pyproject.toml
Labels: api

Fix LOG_LEVEL in staging
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: infrastructure

ci: Devcontainer-ready test images
  Dockerfile
Labels: none

test packages
  api/pyproject.toml
Labels: api

test single package
  api/pyproject.toml
Labels: api

try explicit format
  api/pyproject.toml
Labels: api

try PEP-517
  api/pyproject.toml
Labels: api

uv??
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
  .pre-commit-config.yaml
  Dockerfile
  api/.gitignore
  api/Makefile
  api/README.md
  api/poetry.lock
  api/pyproject.toml
  api/uv.lock
Labels: api

fix: Pin package versions to match main branch
  api/conftest.py
  api/pyproject.toml
  api/uv.lock
Labels: api

nicer pyproject.toml, remove unused dev deps, add package-data
  api/pyproject.toml
  api/uv.lock
Labels: api

use extras instead of groups, package conftest
  .github/workflows/api-tests-with-private-packages.yml
  Dockerfile
  api/conftest.py
  api/pyproject.toml
  api/tests/conftest.py
  api/uv.lock
Labels: api

fix: improve _is_user_object_admin query performance (#6537)
  api/permissions/permission_service.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/permissions/permission_service/conftest.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
Labels: api

fix: improve _is_user_object_admin query performance (#6537)
  api/permissions/permission_service.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/permissions/permission_service/conftest.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
Labels: api

chore(main): release 2.210.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

feat: moved-to-using-x-gram
  api/api/openapi.py
  api/api/openapi_views.py
  api/environments/views.py
  api/features/feature_external_resources/views.py
  api/features/feature_health/views.py
  api/features/multivariate/views.py
  api/features/versioning/views.py
  api/features/views.py
  api/organisations/invites/views.py
  api/organisations/views.py
  api/projects/code_references/views.py
  api/projects/views.py
  api/segments/views.py
  api/tests/unit/api/test_mcp_openapi.py
  api/users/views.py
Labels: api

feat: added-gram-push-to-pr-workflow
  .github/workflows/platform-pull-request.yml
Labels: none

feat: added-permission-checks
  .github/workflows/platform-pull-request.yml
Labels: none

feat: trigger-pipeline
  api/projects/views.py
Labels: api

fix: update permission test query counts for RBAC
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
Labels: api

feat: re-added-job
  .github/workflows/platform-pull-request.yml
Labels: none

fix: update permission test query counts for RBAC (#6547)
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
Labels: api

fix: update permission test query counts for RBAC (#6547)
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
Labels: api

feat: resynced-lock
  .github/workflows/platform-pull-request.yml
  api/poetry.lock
Labels: api

feat: re-added-private-module
  .github/workflows/platform-pull-request.yml
Labels: none

feat: cleanup-site-packagers
  .github/workflows/platform-pull-request.yml
Labels: none

fix: removed-hover-class-on-color (#6531)
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Labels: front-end

fix: removed-hover-class-on-color (#6531)
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Labels: front-end

chore(main): release 2.210.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

feat: bumped-private-modules-versions
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
Labels: api

refactor(frontend): simplify subscription limit items with filter pattern
  frontend/common/services/useOrganisationUsage.ts
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

refactor(frontend): fix types and remove nested Row wrappers
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

ci: add frontend PR workflow with unit tests
  .github/workflows/frontend-pull-request.yml
Labels: none

feat(testing): add Jest unit testing infrastructure
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package.json
Labels: front-end

fix(ci): address PR review feedback
  .github/workflows/frontend-deploy-production.yml
  frontend/jest.config.js
  frontend/package-lock.json
Labels: front-end

fix(ci): add permissions block to frontend-pull-request workflow
  .github/workflows/frontend-pull-request.yml
Labels: none

refactor(test): consolidate unit tests using it.each for readability
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/__tests__/format.test.ts
Labels: front-end

test(format): add unit tests and clean up redundant .toString() calls
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

chore(ci): align checkout action to v5 in both workflows
  .github/workflows/frontend-pull-request.yml
Labels: none

refactor(format): add moment import and fix money function types
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
