Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

deps: Keep Renovate's npm within the range our engines allow
  docs/.nvmrc
  renovate.json
Labels: docs

fix: stop sharing ClickHouse clients across threads
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
Labels: api

fix(usage): correct the projection's dates and scope
  frontend/documentation/components/UsageOverTime.stories.tsx
  frontend/web/components/charts/LineChart.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/billingPeriod.test.ts
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/billingPeriod.ts
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
  frontend/web/components/pages/usage/components/UsageOverTime/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageOverTime/utils.ts
  frontend/web/components/pages/usage/copy.ts
Labels: front-end

refactor(charts): give LineChart a tooltip slot, not a total flag
  frontend/web/components/charts/LineChart.tsx
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
Labels: front-end

fix(Segments): Restore segment list performance on large installations
  api/segments/services.py
  api/tests/unit/segments/test_unit_segments_services.py
Labels: api

Deslop
  api/segments/services.py
Labels: api

test(segments): Apply review feedback to the override scan test
  api/tests/unit/segments/test_unit_segments_services.py
Labels: api

refactor(features): remove unused post, put, and patch endpoints on feature segments (fixes #8544)
  api/features/feature_segments/views.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
Labels: api

refactor(usage): keep the chart components free of this feature
  frontend/web/components/charts/LineChart.tsx
  frontend/web/components/charts/types.ts
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
  frontend/web/components/pages/usage/components/UsageOverTime/utils.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

chore(usage): drop comments that restate the code
  frontend/documentation/components/UsageOverTime.stories.tsx
  frontend/web/components/pages/usage/__tests__/billingPeriod.test.ts
  frontend/web/components/pages/usage/components/UsageOverTime/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageOverTime/utils.ts
Labels: front-end

fix(usage): require a billing provider before charging overages
  api/organisations/services.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/organisations/test_unit_organisations_services.py
Labels: api

Remove sloppy/pointless test
  api/tests/unit/segments/test_unit_segments_services.py
Labels: api

Improve comment
  api/segments/services.py
Labels: api

fix(Segments): Restore segment list performance on large installations (#8587)
  api/segments/services.py
Labels: api

fix(experimentation): forget stale delivery outcomes, fall back when the cluster is unreachable
  api/experimentation/tasks.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: stop sharing ClickHouse clients across threads (#8589)
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): publish warehouse connections to Redis and apply delivery status (#8551)
  api/core/fields.py
  api/experimentation/dataclasses.py
  api/experimentation/fields.py
  api/experimentation/ingestion_redis.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/migrations/0010_warehouse_connection_credentials_and_status_detail.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/views.py
  api/experimentation/warehouse_credentials.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/experimentation/warehouse_verification_service.py
  api/tests/unit/core/test_fields.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_fields.py
  api/tests/unit/experimentation/test_ingestion_redis.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_credentials.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/test_warehouse_verification_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

deps: Move the frontend to Node 24 so the npm cooldown applies
  Dockerfile
  frontend/.npmrc
  frontend/.nvmrc
  frontend/Dockerfile.e2e
  frontend/README.md
  frontend/package.json
Labels: front-end

deps: Move docs to Node 24 so the npm cooldown applies
  .github/workflows/docs-pull-request.yml
  docs/.npmrc
  docs/.nvmrc
Labels: docs

fix(Segments): Segment revisions appear in the audit log as new segments
  api/segments/models.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

refactor: Minor changes to DB interactions to make compatible with Oracle for EE (#7930)
  api/features/feature_lifecycle/services.py
  api/features/feature_lifecycle/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(Segments): Extend the detail-route N+1 fix to update and clone
  api/segments/views.py
  api/tests/conftest.py
  api/tests/unit/segments/test_unit_segments_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Fix N+1 on get_segment
  api/segments/views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

Fix typing
  api/tests/conftest.py
Labels: api

Simplify comments
  api/segments/views.py
Labels: api

Update README.md for SEO (#8493)
  README.md
Labels: none

feat(api): add an evaluation context mapping layer
  api/evaluation/__init__.py
  api/evaluation/mappers.py
  api/evaluation/types.py
  api/features/types.py
  api/tests/unit/evaluation/__init__.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

chore(api): remove unused EnvironmentSerializerFull and IdentitySerializerFull
  api/environments/identities/serializers.py
  api/environments/serializers.py
Labels: api

test(api): promote `trait_key` and `trait_value` to fixtures
  api/tests/conftest.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

test(api): assert explicit traits for transient identities
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

fix(api): hash identities without a database id as Edge API does
  api/environments/identities/models.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/util/engine_models/identities/test_unit_identities_models.py
  api/util/engine_models/identities/models.py
Labels: api

test(api): cover the full environment context in a single test
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

refactor(tokens): re-anchor the purple ramp on the design system Primary
  frontend/common/theme/tokens.json
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): re-anchor the slate ramp on the design system Neutrals
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): re-anchor red-900 on the design system danger
  frontend/common/theme/tokens.json
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): rebuild the green ramp on the design system success
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): rebuild the gold ramp on the design system warning
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): rebuild the blue ramp on the design system info
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(tokens): drop _primitives.scss, read the palette from tokens.json
  frontend/.storybook/manager.js
  frontend/documentation/ColourPalette.stories.tsx
  frontend/web/styles/_primitives.scss
Labels: front-end

deps: Drop the explanatory comments from the .npmrc files
  docs/.npmrc
  frontend/.npmrc
Labels: docs, front-end
