Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(mcp): align in-app instructions with mcp.flagsmith.com and docs
  frontend/web/components/CalloutBar.tsx
  frontend/web/components/integrations/MCPIntegration.tsx
  frontend/web/components/integrations/mcp/MCPSnippet.tsx
  frontend/web/components/integrations/mcp/mcpSnippets.tsx
Labels: front-end

style(mcp): split self-hosting docs link onto its own line, bold base URL placeholder
  frontend/web/components/integrations/MCPIntegration.tsx
Labels: front-end

refactor(callout-bar): move dark theme colours into SCSS class
  frontend/web/components/CalloutBar.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

refactor: co-locate SCSS, zero-specificity reset
  frontend/common/code-help/create-user/create-user-rust.js
  frontend/common/services/useIdentityTrait.ts
  frontend/common/stores/organisation-store.js
  frontend/documentation/components/BareButton.stories.tsx
  frontend/rspack/rspack.config.local.js
  frontend/web/components/ChipInput.tsx
  frontend/web/components/ClearFilters.tsx
  frontend/web/components/DateList.tsx
  frontend/web/components/ErrorMessage.tsx
  frontend/web/components/GitHubLinkSection.tsx
  frontend/web/components/GitHubResourcesSelect.tsx
  frontend/web/components/OrganisationSelect.tsx
  frontend/web/components/Paging.js
  frontend/web/components/SimpleTwoFactor/index.js
  frontend/web/components/base/SelectableCard/SelectableCard.tsx
  frontend/web/components/base/forms/BareButton/BareButton.scss
  frontend/web/components/base/forms/BareButton/BareButton.tsx
  frontend/web/components/base/forms/BareButton/index.ts
  frontend/web/components/base/forms/CheckboxGroup.tsx
  frontend/web/components/base/forms/__tests__/BareButton.test.ts
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/icons/SegmentOverridesIcon.tsx
  frontend/web/components/modals/CreateTrait.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/pages/IdentityIdPage.js
  frontend/web/components/release-pipelines/RemoveFromReleasePipelineModal.tsx
  frontend/web/components/release-pipelines/TimeInput.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/styles/components/_index.scss
Labels: front-end

fix(experiments): resolve environment-level variant allocations and order by newest
  api/experimentation/serializers.py
  api/experimentation/views.py
Labels: api

test(experiments): verify env-level allocations in experiment detail response
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(experiments): add experiment detail page with exposures panel
  frontend/common/services/useExperiment.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/base/SelectableCard/SelectableCard.scss
  frontend/web/components/base/grid/ContentCard/ContentCard.scss
  frontend/web/components/base/grid/ContentCard/ContentCard.tsx
  frontend/web/components/charts/LineChart.tsx
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.scss
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.tsx
  frontend/web/components/experiments/MetricsTable/MetricsTable.scss
  frontend/web/components/experiments/results/AsOfRefreshControl.tsx
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/VariantShareLegend.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/__tests__/exposuresViewState.test.ts
  frontend/web/components/experiments/results/derive.ts
  frontend/web/components/experiments/results/exposuresViewState.ts
  frontend/web/components/experiments/results/results.scss
  frontend/web/components/pages/ExperimentDetailPage.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/components/pages/HomePage.tsx
  frontend/web/routes.js
Labels: front-end

feat(frontend): compare segment overrides across environments
  frontend/web/components/SegmentOverrideActions.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/diff/CompareSegmentOverride.tsx
  frontend/web/components/diff/useCompareTargets.ts
  frontend/web/components/icons/Icon.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: front-end

Fix `make install`
  api/Makefile
Labels: api

Update instructions
  api/README.md
Labels: api

chore: revert unrelated lint:fix changes
  frontend/common/code-help/create-user/create-user-rust.js
  frontend/common/services/useIdentityTrait.ts
  frontend/common/stores/organisation-store.js
  frontend/rspack/rspack.config.local.js
  frontend/web/components/ClearFilters.tsx
  frontend/web/components/DateList.tsx
  frontend/web/components/ErrorMessage.tsx
  frontend/web/components/GitHubLinkSection.tsx
  frontend/web/components/GitHubResourcesSelect.tsx
  frontend/web/components/OrganisationSelect.tsx
  frontend/web/components/SimpleTwoFactor/index.js
  frontend/web/components/base/forms/CheckboxGroup.tsx
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/icons/SegmentOverridesIcon.tsx
  frontend/web/components/modals/CreateTrait.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/pages/IdentityIdPage.js
  frontend/web/components/release-pipelines/RemoveFromReleasePipelineModal.tsx
  frontend/web/components/release-pipelines/TimeInput.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tags/TagContent.tsx
Labels: front-end

fix: correct write_only_fields to extra_kwargs for sign_up_type
  api/custom_auth/serializers.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
Labels: api

refactor(experimentation): extract slot builder and expand results query tests
  api/experimentation/_results_query.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
Labels: api

test(experiments): cover serializer fallback branches for env allocations
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

rename(experimentation): _results_query -> results_query
  api/experimentation/results_query.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
Labels: api

fix(experiments): use variant key as display name in derive tests
  frontend/web/components/experiments/results/__tests__/derive.test.ts
Labels: front-end

fix(experiments): use variant key as display name, remove getVariantLetter
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

docs(experimentation): regenerate events catalogue for shifted line numbers
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

fix(experiments): address PR review — drop dead code, fix HomePage revert
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/VariantShareLegend.tsx
  frontend/web/components/experiments/results/__tests__/exposuresViewState.test.ts
  frontend/web/components/experiments/results/exposuresViewState.ts
  frontend/web/components/experiments/results/results.scss
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

fix(experiments): address Gemini review — defensive guards and cache safety
  frontend/common/services/useExperiment.ts
  frontend/web/components/experiments/results/ExperimentConfiguration.tsx
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/pages/ExperimentDetailPage.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

fix(experiments): revert unnecessary skip on experiment query
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

fix(experiments): skip experiment query when feature flag is off
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

refactor(experimentation): decode results rows by column name
  api/experimentation/results_query.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
Labels: api

docs(experimentation): regenerate events catalogue for shifted line numbers
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

docs(experimentation): correct slot docstring for name-based decode
  api/experimentation/results_query.py
Labels: api

docs(experimentation): drop duplicated rationale from decode_rows docstring
  api/experimentation/results_query.py
Labels: api

chore(CI): Remove Gram MCP schema push
  .github/workflows/api-deploy-production-ecs.yml
  api/Makefile
  api/gram.json
Labels: api

chore(CODEOWNERS): Assign /mcp to back-end team
  CODEOWNERS
Labels: none

feat: raised db max connections for private cloude e2e
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-pull-request.yml
  frontend/docker-compose-e2e-tests.yml
Labels: front-end

Fix builds
  .github/actions/install-uv/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/mcp-pull-request.yml
  .github/workflows/update-flagsmith-environment.yml
  Dockerfile
  mcp/pyproject.toml
Labels: none

Pull from ghcr
  Dockerfile
Labels: none

feat: wait for api response before closing modal in permissions tests
  frontend/e2e/helpers/e2e-helpers.playwright.ts
Labels: front-end

feat: verify nav overflow for project settings placement
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/helpers/utils.playwright.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/web/components/navigation/OverflowNav.tsx
Labels: front-end

feat: added leak investigation todo
  .github/workflows/platform-pull-request.yml
Labels: none

feat(segments): Refresh membership counts on segment edit
  api/integrations/launch_darkly/services.py
  api/segment_membership/services.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/integration/segments/test_segment_membership_refresh.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Sanitise InfluxDB API
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/migrate_to_pg.py
  api/app_analytics/types.py
  api/sse/tasks.py
  api/tests/conftest.py
  api/tests/unit/app_analytics/test_migrate_to_pg.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/sse/test_tasks.py
Labels: api

fix: raise if no env
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

fix(experiments): refresh polling, throttle handling, and cache invalidation
  frontend/common/services/useExperiment.ts
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/exposuresViewState.ts
  frontend/web/components/pages/ExperimentDetailPage.tsx
Labels: front-end

feat(experimentation): experiment results model, task and endpoints
  api/experimentation/constants.py
  api/experimentation/migrations/0008_experiment_results.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: expose Retry-After header via CORS
  api/app/settings/common.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
