Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(infra): Raise gunicorn keep-alive above the ALB idle timeout
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

infra: Fix keep-alive (#8106)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

fix(infra): Pass gunicorn keep-alive via the start verb so it parses
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

infra: Fix API boot failure in SaaS (#8108)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

fix: default lift class to neutral text-secondary
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
Labels: front-end

feat(experiments): colour lift by metric direction (#8099)
  frontend/common/types/responses.ts
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

refactor(code-help): escape snippets centrally instead of in source strings (#8062)
  frontend/common/code-help/create-user/create-user-next.js
  frontend/common/code-help/create-user/create-user-react.js
  frontend/common/code-help/init/init-next-app-router.js
  frontend/common/code-help/init/init-next-pages-router.js
  frontend/common/code-help/init/init-react.js
  frontend/common/code-help/install/install-curl.js
  frontend/common/code-help/install/install-dotnet.js
  frontend/common/code-help/install/install-flutter.js
  frontend/common/code-help/install/install-java.js
  frontend/common/code-help/install/install-rust.js
  frontend/common/code-help/traits/traits-next.js
  frontend/common/code-help/traits/traits-react.js
  frontend/common/utils/utils.tsx
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/integrations/mcp/MCPSnippet.tsx
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/sdkSnippets.ts
Labels: front-end

feat: verify events table exists, clickhouse event stats, default flagsmith_exp database
  api/experimentation/services.py
  api/experimentation/types.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(api): OAuth dynamic client registration fails for Claude Desktop
  api/oauth2_metadata/mappers.py
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/services.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  api/tests/unit/oauth2_metadata/test_services.py
Labels: api

test(api): Cover DRF list-child error shape in DCR error mapping
  api/oauth2_metadata/mappers.py
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

fix(api): Redirect URI validation crashes on malformed IPv6 authority
  api/oauth2_metadata/services.py
  api/tests/unit/oauth2_metadata/test_services.py
Labels: api

fix(api): Redirect URIs with malformed ports accepted at registration
  api/oauth2_metadata/services.py
  api/tests/unit/oauth2_metadata/test_services.py
Labels: api

chore(forms): keep the SelectField migration plan as a local working doc
  frontend/SELECT_FIELD_MIGRATION.md
Labels: front-end

feat(forms): SelectField error border + verified react-select aria forwarding
  frontend/web/components/base/forms/SelectField.tsx
  frontend/web/styles/3rdParty/_react-select.scss
Labels: front-end

refactor(identities): Extract identity environment replacement into a documented helper
  api/environments/identities/managers.py
  api/environments/identities/services.py
  api/environments/identities/views.py
  api/environments/sdk/services.py
  api/features/views.py
Labels: api

refactor: Migrate react-select and MultiSelect to semantic tokens
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/styles/3rdParty/_react-select.scss
Labels: front-end

perf(environments): Fetch overridden segments with a semi-join
  api/environments/models.py
Labels: api

refactor(forms): migrate component= call sites, drop InputGroup component prop
  frontend/.eslintrc.js
  frontend/common/utils/utils.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/base/forms/InputGroup.tsx
  frontend/web/components/base/forms/SelectField.tsx
  frontend/web/components/metadata/SupportedContentTypesSelect.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/scim/modals/ScimTokenModal.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/release-pipelines/AddToReleasePipelineModal.tsx
  frontend/web/components/release-pipelines/CreatePipelineStage.tsx
  frontend/web/components/release-pipelines/SinglePipelineStageAction.tsx
  frontend/web/components/tables/TableValueFilter.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

feat(button): loading aria, loadingLabel, and a non-interactive loading link
  frontend/documentation/components/Button.stories.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/modals/CreateGroup.tsx
Labels: front-end

acknowledge bug
  api/features/versioning/versioning_service.py
Labels: api

fix: cache customer event stats, throttle warehouse connection reads
  api/app/settings/common.py
  api/app/settings/test.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
Labels: api

perf(SDK): Decouple SDK identity request cost from version history (#8096)
  api/environments/identities/managers.py
  api/environments/identities/models.py
  api/environments/identities/services.py
  api/environments/identities/views.py
  api/environments/models.py
  api/environments/sdk/services.py
  api/features/versioning/versioning_service.py
  api/features/views.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

fix(api): OAuth dynamic client registration fails for Claude Desktop (#8114)
  api/oauth2_metadata/mappers.py
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/services.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  api/tests/unit/oauth2_metadata/test_services.py
Labels: api

fix(api): DCR rejects registrations without a client_name
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(api): Log DCR rejections at error level for Sentry visibility
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(api): Explicit null or blank client_name rejected in DCR
  api/oauth2_metadata/serializers.py
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

fix(API Usage): API usage notification emails fire at 90%/100% while org is far below plan limit
  api/organisations/chargebee/chargebee.py
  api/organisations/constants.py
  api/organisations/subscription_info_cache.py
  api/organisations/task_helpers.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(onboarding): add onboarding-status query for the first-evaluation signal
  frontend/common/services/useEnvironmentOnboardingStatus.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

fix(api): DCR rejects registrations without a client_name (#8129)
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(onboarding): add lazy Lottie loading splash
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/OnboardingLoading/OnboardingLoading.scss
  frontend/web/components/pages/onboarding/OnboardingLoading/OnboardingLoading.tsx
  frontend/web/components/pages/onboarding/OnboardingLoading/index.ts
  frontend/web/components/pages/onboarding/OnboardingLoading/settingUpAnimation.json
Labels: front-end

fix(LaunchDarkly): boolean flag import uses raw on/off toggle instead of served variation
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/client_responses/get_flags.json
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api

fix(Segments): make delete_segment task idempotent when already deleted
  api/segments/tasks.py
  api/tests/unit/segments/test_unit_segments_tasks.py
Labels: api

feat(onboarding): drive the verify console from the real first-evaluation signal
  frontend/e2e/tests/onboarding-tests.pw.ts
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/hooks/useOnboardingConnection.ts
Labels: front-end

fix(API): _validate_owner_removal counts non-existent group IDs as removals
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(onboarding): wait for the console to reconnect before snapshotting
  frontend/e2e/tests/onboarding-tests.pw.ts
Labels: front-end

feat(api): Support confidential clients in dynamic client registration
  api/oauth2_metadata/dataclasses.py
  api/oauth2_metadata/metrics.py
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/services.py
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  api/tests/unit/oauth2_metadata/test_scopes.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

chore(deps): upgrade to Redux Toolkit 2 and react-redux 9
  frontend/common/service.ts
  frontend/common/useInfiniteScroll.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
Labels: front-end

test(api): Assert registration metric for confidential DCR clients
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

test(api): Verify returned DCR secret against the stored hash
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

Add stale flags documentation
  docs/docs/best-practices/flag-lifecycle.md
  docs/docs/managing-flags/code-references.md
  docs/docs/managing-flags/stale-flags.md
  docs/docs/managing-flags/tagging.md
  docs/static/img/managing-flags/stale-flags/flag-list-stale.png
Labels: docs

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
