Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

chore(main): release 2.205.5 (#6455)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.5 (#6455)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Actually make the batch size configurable
  api/app/settings/common.py
Labels: api

Use a batch size for updating OrganisationSubscriptionInformationCache records
  api/app/settings/common.py
  api/organisations/subscription_info_cache.py
Labels: api

fix: add a batch size to the bulk_update of OrganisationSubscriptionInformationCache objects (#6456)
  api/app/settings/common.py
  api/organisations/subscription_info_cache.py
Labels: api

fix: add a batch size to the bulk_update of OrganisationSubscriptionInformationCache objects (#6456)
  api/app/settings/common.py
  api/organisations/subscription_info_cache.py
Labels: api

chore(main): release 2.205.6
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.6 (#6457)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.6 (#6457)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Optimise handle_api_usage_notifications task
  api/organisations/task_helpers.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Simplify logic by adding a query filter
  api/organisations/task_helpers.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Improve comment
  api/organisations/task_helpers.py
Labels: api

Optimise further by moving more logic to the query
  api/organisations/task_helpers.py
  api/organisations/tasks.py
Labels: api

Fix field name, and subsequent test failures
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix: optimise influxdb calls from handle_api_usage_notifications task (#6458)
  api/organisations/task_helpers.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix: optimise influxdb calls from handle_api_usage_notifications task (#6458)
  api/organisations/task_helpers.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

chore(main): release 2.205.7
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.7 (#6461)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.7 (#6461)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Update API Flagsmith Defaults
  api/integrations/flagsmith/data/environment.json
Labels: api

docs: add project structure guide
  docs/docs/best-practices/structuring-your-projects.md
Labels: docs

docs: improve rbac and permissions
  docs/docs/administration-and-security/access-control/rbac.md
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/docs/flagsmith-concepts/data-model.md
  docs/static/img/permission-hierarchy.svg
  docs/static/img/rbac-permissions-diagram.svg
Labels: docs

fix: update Playwright config with webServer and onboarding flow
  frontend/Makefile
  frontend/bin/upload-playwright-videos.js
  frontend/e2e/tests/global.teardown.ts
  frontend/e2e/tests/initialise-tests.spec.ts
  frontend/e2e/tests/serve-bundle.setup.ts
  frontend/package.json
  frontend/playwright.config.ts
Labels: front-end

chore: restore TestCafe tests alongside Playwright for parallel CI validation
  frontend/.testcaferc.js
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-permission-test.ts
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/invite-test.ts
  frontend/e2e/tests/organisation-permission-test.ts
  frontend/e2e/tests/project-permission-test.ts
  frontend/e2e/tests/project-test.ts
  frontend/e2e/tests/roles-test.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

fix: address CI failures and cursor bot review comments
  .github/workflows/platform-docker-build-test-publish.yml
  frontend/Dockerfile-base.e2e
  frontend/e2e/helpers/helpers.ts
Labels: front-end

fix: inline Node.js 22 installation in Dockerfile.e2e
  frontend/Dockerfile.e2e
Labels: front-end

feat: run Playwright and TestCafe E2E tests in parallel
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  frontend/Makefile
  frontend/e2e/helpers/helpers.ts
  frontend/package.json
Labels: front-end

feat: add parallel Playwright and TestCafe E2E jobs to PR workflow
  .github/workflows/platform-pull-request.yml
Labels: none

fix(e2e): correct selectors for deleteFeature and deleteSegment
  frontend/e2e/helpers/helpers.ts
Labels: front-end

docs: add project structure guide (#6439)
  docs/docs/best-practices/structuring-your-projects.md
Labels: docs

docs: add project structure guide (#6439)
  docs/docs/best-practices/structuring-your-projects.md
Labels: docs

Fix redirect
  docs/vercel.json
Labels: docs

docs: fix release pipelines redirect (#6463)
  docs/vercel.json
Labels: docs

docs: fix release pipelines redirect (#6463)
  docs/vercel.json
Labels: docs

docs: improve rbac and permissions readability (#6443)
  docs/docs/administration-and-security/access-control/rbac.md
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/docs/flagsmith-concepts/data-model.md
  docs/static/img/permission-hierarchy.svg
  docs/static/img/rbac-permissions-diagram.svg
Labels: docs

docs: improve rbac and permissions readability (#6443)
  docs/docs/administration-and-security/access-control/rbac.md
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/docs/flagsmith-concepts/data-model.md
  docs/static/img/permission-hierarchy.svg
  docs/static/img/rbac-permissions-diagram.svg
Labels: docs

fix(e2e): increase wait time before Try It button click
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

[ImgBot] Optimize images
  docs/static/img/release-pipelines/actions.png
  docs/static/img/release-pipelines/add-to-release-pipeline.png
  docs/static/img/release-pipelines/create-release-pipeline.png
  docs/static/img/release-pipelines/on-enter.png
  docs/static/img/release-pipelines/pipeline-configuration.png
  docs/static/img/release-pipelines/publish-release-pipeline.png
  docs/static/img/release-pipelines/use-case-pipeline.png
  docs/static/img/release-pipelines/view-pipeline.png
  docs/static/img/release-pipelines/wait-for.png
  frontend/web/static/images/integrations/adobe-analytics.png
  frontend/web/static/images/integrations/aws_cloudtrail.svg
  frontend/web/static/images/integrations/saml.png
  frontend/web/static/images/welcome/featured1.png
  frontend/web/static/images/welcome/featured2.png
  static-files/flagsmith-cover.png
Labels: docs, front-end

fix(e2e): increase wait time before Try It button click (#6465)
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

fix(e2e): increase wait time before Try It button click (#6465)
  frontend/e2e/tests/flag-tests.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
