Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs: Clean up vercel.json by removing duplicates
  docs/vercel.json
Labels: docs

docs: Update quickstart redirect (#6252)
  docs/vercel.json
Labels: docs

docs: Update quickstart redirect (#6252)
  docs/vercel.json
Labels: docs

Revert "docs: Update quickstart redirect (#6252)"
  docs/vercel.json
Labels: docs

Remove all trailing slashes and add `"trailingSlash": false`
  docs/vercel.json
Labels: docs

docs: handle trailing slash behaviour for all URLs (#6254)
  docs/vercel.json
Labels: docs

docs: handle trailing slash behaviour for all URLs (#6254)
  docs/vercel.json
Labels: docs

fix: segment change request warning shows on all segments
  frontend/common/types/requests.ts
  frontend/web/components/ExistingProjectChangeRequestAlert.tsx
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

Update flagsmith-common
  api/poetry.lock
Labels: api

Update flagsmith dependency
  frontend/package-lock.json
Labels: front-end

temp: use repo flagsmith-common
  api/poetry.lock
  api/pyproject.toml
Labels: api

Update source reference
  api/poetry.lock
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

use | operator instead of Union
  api/environments/models.py
Labels: api

refactor: move get_updated_feature_states to service layer and add multivariate support
  api/features/versioning/models.py
  api/features/versioning/tasks.py
  api/features/versioning/versioning_service.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

refactor: extract webhook metadata mappers to reduce duplication
  api/features/versioning/tasks.py
  api/tests/unit/webhooks/test_unit_webhooks_mappers.py
  api/webhooks/mappers.py
Labels: api

deps: update flagsmith js client dependency (#6257)
  frontend/package-lock.json
Labels: front-end

deps: update flagsmith js client dependency (#6257)
  frontend/package-lock.json
Labels: front-end

try the fix
  api/poetry.lock
  api/pyproject.toml
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

Update flagsmith-common git sha
  api/poetry.lock
Labels: api

fix: segment change request warning shows on all segments (#6255)
  frontend/common/types/requests.ts
  frontend/web/components/ExistingProjectChangeRequestAlert.tsx
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

fix: segment change request warning shows on all segments (#6255)
  frontend/common/types/requests.ts
  frontend/web/components/ExistingProjectChangeRequestAlert.tsx
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

fix: prevent breaking input on multi-select
  frontend/web/components/base/select/MultiSelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: front-end

fix: checkmark icon size on option with large text
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
Labels: front-end

feat: update placeholder
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
Labels: front-end

fix: prevents placeholder wrap
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/project/_segments.scss
Labels: front-end

fix: handle null on multi-select onChange
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
Labels: front-end

refactor: replace margin with gap
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
Labels: front-end

refactor: split components into smaller files and keep the selected options
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/base/select/multi-select/index.ts
  frontend/web/components/organisation-settings/usage/OrganisationUsageMetrics.container.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/components/segments/Rule/hooks/index.ts
  frontend/web/components/segments/Rule/hooks/useConditionCache.ts
  frontend/web/styles/3rdParty/_react-select.scss
Labels: front-end

fix: use button to handle tag removal
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
Labels: front-end

fix: fix operation transitions values
  frontend/common/types/responses.ts
  frontend/web/components/segments/Rule/Rule.tsx
Labels: front-end

fix: arrow key navigation highlight
  frontend/web/components/base/select/multi-select/CustomOption.tsx
Labels: front-end

feat: add multi-select on envs and refactor layout
  frontend/web/components/base/select/MultiSelect.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/Rule/components/RuleConditionValueInput.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/project/_segments.scss
Labels: front-end

fix: custom fields full width
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

feat: add native tooltip on value and center action buttons
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
