Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

deps: Drop the inert Renovate cooldown rules
  frontend/Dockerfile.e2e
  renovate.json
Labels: front-end

fix(tokens): stop the dark status surfaces reading as holes
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): move warning from orange to the design system yellow
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): take status text from the design system 900 values
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): take the danger tint from the design system
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
Labels: front-end

Remove superfluous django-allauth settings
  api/app/settings/common.py
Labels: api

Use correct environment variable for email activation
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
Labels: infrastructure

Throttle resending activation endpoint, and don't return key on register
  api/app/settings/common.py
  api/app/settings/test.py
  api/custom_auth/serializers.py
  api/custom_auth/views.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/custom_auth/test_unit_custom_auth_serializer.py
Labels: api

Handle email verification on FE
  frontend/common/constants.ts
  frontend/common/service.ts
  frontend/common/stores/account-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/home-page/HomePage.tsx
  frontend/web/main.js
  frontend/web/routes.js
Labels: front-end

feat(tokens): add the design system dark surface as a primitive
  frontend/.storybook/docs-theme.scss
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): add the Primary ramp as theme-aware tokens
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): add the Neutral ramp as theme-aware tokens
  frontend/common/theme/tokens.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): add the state ramps as theme-aware tokens
  frontend/common/theme/tokens.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): add the always-* tokens from his Surface collection
  frontend/common/theme/tokens.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_tokens.scss
Labels: front-end

Add missing files
  frontend/common/services/useEmailActivation.ts
  frontend/web/components/pages/CheckEmailPage.tsx
  frontend/web/components/pages/EmailActivationPage.tsx
Labels: front-end

Remove duplicate env var
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
Labels: infrastructure

fix(usage): call the projection an estimate
  frontend/documentation/components/UsageMeter.stories.tsx
  frontend/web/components/pages/usage/__tests__/copy.test.ts
  frontend/web/components/pages/usage/copy.ts
Labels: front-end

Only track activated users in hubspot
  api/custom_auth/apps.py
  api/custom_auth/signals.py
  api/integrations/lead_tracking/hubspot/services.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

FE fixes for CodeRabbit
  frontend/common/stores/account-store.js
  frontend/global.d.ts
  frontend/web/components/pages/EmailActivationPage.tsx
  frontend/web/project/api.ts
Labels: front-end

Lowercase email on activation request
  frontend/web/components/pages/CheckEmailPage.tsx
  frontend/web/components/pages/EmailActivationPage.tsx
Labels: front-end

Handle E2E
  api/custom_auth/serializers.py
  api/e2etests/helpers.py
  api/e2etests/permissions.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/users/emails.py
  frontend/common/stores/account-store.js
Labels: front-end, api

fix(usage): count whole years when resolving the billing period
  api/app_analytics/analytics_db_service.py
  api/organisations/billing_periods.py
  api/organisations/models.py
  api/organisations/task_helpers.py
  api/organisations/views.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_billing_periods.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

test(usage): split the Given/When/Then comments the linter wants
  api/tests/unit/organisations/test_unit_organisations_billing_periods.py
Labels: api

fix(usage): keep the forgiven month across a paid plan change
  api/organisations/models.py
  api/organisations/services.py
  api/organisations/subscriptions/constants.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

chore: Update documentation artefacts
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

Fix remaining CR comment
  frontend/web/components/pages/EmailActivationPage.tsx
Labels: front-end

refactor(api): name the identity overrides segment once, and prefetch mapper inputs
  api/evaluation/mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

fix(api): evaluate webhook segment membership once, ignoring identity overrides
  api/integrations/webhook/serializers.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/integrations/test_unit_integration.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
Labels: api

deslop
  api/environments/identities/models.py
  api/evaluation/types.py
  api/features/models.py
  api/features/serializers.py
Labels: api

feat(api): evaluate identity flags through flag-engine
  api/environments/identities/models.py
  api/environments/identities/views.py
  api/environments/sdk/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/serializers.py
  api/features/views.py
  api/integrations/amplitude/amplitude.py
  api/integrations/heap/heap.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/segment/segment.py
  api/integrations/webhook/serializers.py
  api/tests/conftest.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/types.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/test_unit_integration.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

refactor(api): serialise evaluated flags from EvaluatedFeatureState
  api/environments/identities/views.py
  api/evaluation/mappers.py
  api/evaluation/results.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/serializers.py
  api/features/views.py
  api/integrations/amplitude/amplitude.py
  api/integrations/common/wrapper.py
  api/integrations/heap/heap.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/segment/segment.py
  api/integrations/webhook/serializers.py
  api/integrations/webhook/webhook.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
  api/tests/unit/integrations/segment/test_unit_segment.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
Labels: api

fix(usage): spend the overage grace when the row is written
  api/organisations/services.py
  api/tests/unit/organisations/test_unit_organisations_services.py
Labels: api

Remove unused live-or-scheduled feature version lookup
  api/features/versioning/managers.py
Labels: api

test(api): account for an identity's traits now being read once per request
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

chore(Segments): Remove unused live-or-scheduled feature version lookup (#8596)
  api/features/versioning/managers.py
Labels: api

list flag dependencies
  api/environments/urls.py
  api/features/dependencies/exceptions.py
  api/features/dependencies/services.py
  api/features/dependencies/types.py
  api/features/dependencies/views.py
  api/tests/integration/features/conftest.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/types.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  sdk/openapi.yaml
Labels: docs, api

live vs scheduled
  api/features/dependencies/services.py
  api/segments/serializers.py
  api/segments/services.py
  api/segments/views.py
  api/tests/integration/features/conftest.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  api/tests/types.py
  api/tests/unit/segments/test_unit_segments_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(usage): show the billing period dates on the dashboard
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/billingPeriod.test.ts
  frontend/web/components/pages/usage/billingPeriod.ts
  frontend/web/components/pages/usage/components/BillingStrip/BillingStrip.tsx
  frontend/web/components/pages/usage/components/BillingStrip/index.ts
Labels: front-end

perf(api): skip multivariate values when evaluating without an identity
  api/evaluation/mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(usage): assert the previous period's end in February
  api/tests/unit/app_analytics/test_analytics_db_service.py
Labels: api
