Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Use commit hash instead of mutable tag
  .github/workflows/api-fix-docs-artefacts.yml
Labels: none

ci: actions/create-github-app-token -> v3 (#8240)
  .github/workflows/api-fix-docs-artefacts.yml
Labels: none

fix(trust-relationships): Restore duplicate issuer/audience validation
  api/tests/integration/trust_relationships/test_viewset.py
  api/trust_relationships/serializers.py
Labels: api

fix(clickhouse): Unblock `flagsmith migrate` when ClickHouse is configured
  api/clickhouse/apps.py
  api/tests/unit/clickhouse/__init__.py
  api/tests/unit/clickhouse/test_unit_clickhouse_apps.py
Labels: api

refactor(trust-relationships): Trim the unique validator comment
  api/trust_relationships/serializers.py
Labels: api

docs(trust-relationships): Link the upstream DRF change in the validator comment
  api/trust_relationships/serializers.py
Labels: api

Update with discussion link instead of PR
  api/trust_relationships/serializers.py
Labels: api

pr comments fixes
  docs/docs/support/faq/account-billing-organisation.mdx
  docs/docs/support/faq/index.mdx
  docs/docs/support/faq/security-compliance.mdx
  docs/docs/support/index.mdx
Labels: docs

contact support if you have outsdanding questions
  docs/docs/support/index.mdx
Labels: docs

feat(experimentation): add conversion-over-time rows to experiment results
  api/experimentation/dataclasses.py
  api/experimentation/results_query.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): gather results aggregates in one pass, key conversions by metric
  api/experimentation/dataclasses.py
  api/experimentation/results_query.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(usage): read routes lazily to avoid a circular import
  frontend/web/components/App.js
Labels: front-end

refactor(usage): keep the page module's exports to the page
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/index.ts
Labels: front-end

fix(usage): let a restricted organisation reach the usage page
  frontend/web/components/App.js
Labels: front-end

refactor(usage): name the page frame, and give the filters a component
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.scss
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageFilters/UsageFilters.scss
  frontend/web/components/pages/usage/components/UsageFilters/UsageFilters.tsx
  frontend/web/components/pages/usage/components/UsageFilters/index.ts
  frontend/web/components/pages/usage/components/UsagePageLayout/UsagePageLayout.tsx
  frontend/web/components/pages/usage/components/UsagePageLayout/index.ts
  frontend/web/components/pages/usage/index.ts
Labels: front-end

fix(usage): warn about overage charges only where they can happen
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/overLimit.ts
Labels: front-end

refactor(usage): compose the dashboard from children
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboard.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageExplorer/UsageExplorer.tsx
  frontend/web/components/pages/usage/components/UsageExplorer/index.ts
Labels: front-end

docs(frontend): say what the alias rule actually enforces
  frontend/CLAUDE.md
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/App.js
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
Labels: front-end

revert(usage): keep the global quota banner on the usage page
  frontend/web/components/App.js
Labels: front-end

feat(usage): show a paid organisation that it is over its plan limit
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/App.js
  frontend/web/components/pages/usage/UsageDashboard.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner/OverLimitBanner.tsx
  frontend/web/components/pages/usage/components/OverLimitBanner/index.ts
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/useUsageData.ts
Labels: front-end

refactor(usage): drop the barrel where a component is one file
  frontend/CLAUDE.md
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/components/OverLimitBanner/index.ts
  frontend/web/components/pages/usage/components/SectionHeading.tsx
  frontend/web/components/pages/usage/components/SectionHeading/index.ts
  frontend/web/components/pages/usage/components/UsageExplorer.tsx
  frontend/web/components/pages/usage/components/UsageExplorer/index.ts
  frontend/web/components/pages/usage/components/UsagePageLayout.tsx
  frontend/web/components/pages/usage/components/UsagePageLayout/index.ts
Labels: front-end

refactor(usage): trim the comments back to what is not obvious
  frontend/web/components/App.js
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageExplorer/UsageExplorer.tsx
  frontend/web/components/pages/usage/components/UsagePageLayout/UsagePageLayout.tsx
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/useUsageData.ts
Labels: front-end

refactor(usage): inline the explore section
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/UsageExplorer.tsx
Labels: front-end

refactor(usage): drop a comment that scoped the wrong thing
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
Labels: front-end

test(experimentation): pin empty conversion series for uncoverted occurrence metric
  api/tests/unit/experimentation/test_services.py
Labels: api

fix(usage): announce the over-limit banner, and stop recomputing it
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
Labels: front-end

docs(experimentation): state the running-total contract on exposures_timeseries
  api/experimentation/dataclasses.py
Labels: api

feat(design-system): add Banner, and render WarningMessage with it
  frontend/documentation/components/Banner.stories.tsx
  frontend/web/components/Banner/Banner.scss
  frontend/web/components/Banner/Banner.tsx
  frontend/web/components/Banner/index.ts
  frontend/web/components/OrganisationLimit.tsx
  frontend/web/components/WarningMessage.tsx
Labels: front-end

fix(errors): render the error banners that were being swallowed
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/modals/ForgotPasswordModal.tsx
  frontend/web/components/pages/AccountSettingsPage.tsx
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
Labels: front-end

fix(errors): apply the class VariationOptions passes to its error
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

refactor(design-system): render ErrorMessage with Banner, drop the class props
  frontend/documentation/components/WarningMessage.stories.tsx
  frontend/web/components/ErrorMessage.tsx
  frontend/web/components/OrganisationLimit.tsx
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/experiments/RolloutSplitEditor/RolloutSplitEditor.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/feature-lifecycle/components/StaleSection.tsx
Labels: front-end

refactor(design-system): fold SuccessMessage into Banner, deduplicate ErrorMessage
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/messages/ErrorMessage.tsx
  frontend/web/components/messages/SuccessMessage.tsx
Labels: front-end

fix(usage): load the filter styles the story harness relies on
  frontend/documentation/components/UsageDashboard.stories.tsx
Labels: front-end

fix(usage): narrow the charge warning, and don't offer a blocked org a dead link
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/overLimit.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

fix(tests): make segment rule and condition ordering deterministic
  api/app/settings/test.py
Labels: api

revert(usage): keep the upgrade action for a blocked organisation
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
Labels: front-end

test(usage): pin the free plan to no deadline we cannot keep
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

feat(usage): point a blocked organisation at its usage page
  frontend/web/components/BlockedOrgInfo.tsx
Labels: front-end

feat(usage): tell a restricted organisation how to get access back
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/overLimit.ts
Labels: front-end

fix(usage): keep the restricted banner up once usage falls back under
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/overLimit.test.ts
  frontend/web/components/pages/usage/components/OverLimitBanner.tsx
  frontend/web/components/pages/usage/overLimit.ts
Labels: front-end
