Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(features): handle missing environment default in override create audit log
  api/features/models.py
Labels: api

test(features): cover missing environment default in override create log
  api/tests/unit/features/test_unit_features_models.py
Labels: api

fix(Versioning): hydrate relations when finding updated feature states
  api/features/versioning/versioning_service.py
Labels: api

test(Versioning): query count for updated feature states
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

refactor: drop explanatory comment
  api/features/models.py
Labels: api

refactor: address review on segment override tests
  api/tests/unit/features/test_unit_features_models.py
Labels: api

refactor: inline helpers per review
  api/features/versioning/versioning_service.py
Labels: api

refactor: inline test helper per review
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

test(Flag Dependency): Drop evaluation test for a deleted dependency
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

fix(Flag Dependency): Allow deleting features a removed dependency referenced
  api/features/dependencies/services.py
  api/tests/integration/features/dependencies/test_feature_management.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(Flag Dependency): Drop comment on the dependency's single edge
  api/features/dependencies/services.py
Labels: api

test(Flag Dependency): Drop empty body assertions on 204 responses
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

test(Flag Dependency): Drop version publishing test for dependency deletion
  api/tests/integration/features/dependencies/test_dependency_management.py
Labels: api

refactor(Flag Dependency): Only remove dependencies made up by system segments
  api/features/dependencies/exceptions.py
  api/features/dependencies/services.py
  api/features/dependencies/views.py
  api/tests/integration/features/dependencies/test_dependency_management.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

fix(switch): give the toggle a 44px touch target
  frontend/web/styles/components/_switch.scss
Labels: front-end

fix(mobile): let the page zoom and make the core controls tappable
  frontend/web/index.html
  frontend/web/styles/components/_input.scss
  frontend/web/styles/components/_switch.scss
  frontend/web/styles/project/_FeaturesPage.scss
Labels: front-end

feat(mobile): hide the page description on small screens
  frontend/web/components/PageTitle.tsx
Labels: front-end

fix(Segments): validate prerequisite features separately from indexing
  api/features/dependencies/services.py
Labels: api

fix(Segments): do not index draft segments
  api/segments/serializers.py
Labels: api

fix(Segments): re-index live segment on change request commit
  api/core/workflows_services.py
Labels: api

test(Segments): cover flag references on segment change request commit
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

fix: clear legacy draft segment flag references on update
  api/segments/serializers.py
Labels: api

test: cover legacy draft segment flag references on update
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

fix: delete flag references held by draft segments
  api/features/dependencies/migrations/0002_delete_draft_segment_flag_references.py
Labels: api

test: cover draft segment flag reference migration
  api/tests/unit/features/dependencies/test_migrations.py
Labels: api

style: fix indentation
  api/segments/serializers.py
Labels: api

feat: add helper to find dependency segments
  api/features/dependencies/services.py
Labels: api

fix: serve current default for dependency overrides in evaluation mapper
  api/evaluation/mappers.py
Labels: api

fix: serve current default for dependency overrides in engine mapper
  api/util/mappers/engine.py
Labels: api

test: cover dependency override values in both mappers
  api/tests/unit/features/dependencies/test_overrides.py
Labels: api

style: fix indentation
  api/features/dependencies/services.py
Labels: api

fix(experimentation): report ClickHouse error 194 as authentication failure (#8660)
  api/experimentation/warehouse_verification_service.py
  api/tests/unit/experimentation/test_warehouse_verification_service.py
Labels: api

feat: track signup experiment conversion on activation
  api/custom_auth/signals.py
  api/custom_auth/views.py
  api/tests/unit/custom_auth/test_unit_custom_auth_signals.py
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: send signup anonymous id on register
  frontend/common/types/requests.ts
  frontend/web/components/pages/home-page/HomePage.tsx
Labels: front-end

refactor(experimentation): introduce warehouse providers and port ClickHouse
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/experimentation/warehouse_validation.py
  api/experimentation/warehouse_verification_service.py
  api/experimentation/warehouses/__init__.py
  api/experimentation/warehouses/base.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/flagsmith.py
  api/experimentation/warehouses/registry.py
  api/experimentation/warehouses/snowflake.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/warehouses/__init__.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_flagsmith.py
  api/tests/unit/experimentation/warehouses/test_registry.py
  api/tests/unit/experimentation/warehouses/test_snowflake.py
Labels: api

refactor(experimentation): share warehouse exceptions, constants and cache key
  api/experimentation/services.py
  api/experimentation/views.py
  api/experimentation/warehouse_validation.py
  api/experimentation/warehouses/base.py
  api/experimentation/warehouses/cache.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/constants.py
  api/experimentation/warehouses/exceptions.py
  api/experimentation/warehouses/flagsmith.py
  api/experimentation/warehouses/snowflake.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_flagsmith.py
  api/tests/unit/experimentation/warehouses/test_snowflake.py
Labels: api

deps(docs): Bump serialize-javascript to 7.1.2 [security]
  docs/package-lock.json
  docs/package.json
Labels: docs

deps(docs): Bump serialize-javascript to 7.1.2 [security] (#8672)
  docs/package-lock.json
  docs/package.json
Labels: docs

refactor(experimentation): introduce warehouse providers and port ClickHouse (#8661)
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/experimentation/warehouse_validation.py
  api/experimentation/warehouse_verification_service.py
  api/experimentation/warehouses/__init__.py
  api/experimentation/warehouses/base.py
  api/experimentation/warehouses/cache.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/constants.py
  api/experimentation/warehouses/exceptions.py
  api/experimentation/warehouses/flagsmith.py
  api/experimentation/warehouses/registry.py
  api/experimentation/warehouses/snowflake.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/warehouses/__init__.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_flagsmith.py
  api/tests/unit/experimentation/warehouses/test_registry.py
  api/tests/unit/experimentation/warehouses/test_snowflake.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): move managed warehouse reads into the Flagsmith provider
  api/experimentation/services.py
  api/experimentation/warehouses/base.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/flagsmith.py
  api/experimentation/warehouses/snowflake.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_flagsmith.py
  api/tests/unit/experimentation/warehouses/test_snowflake.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
