Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

Icon component import
  frontend/web/components/modals/Payment.js
Labels: front-end

fix icon import to removed file
  frontend/web/components/Headway.js
Labels: front-end

fix(a11y): fix Account dropdown trigger contrast in dark mode
  frontend/web/components/navigation/AccountDropdown.tsx
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

feat: oauth-consent-frontend-screen (#7136)
  frontend/common/services/useOAuthAuthorize.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/pages/OAuthAuthorizePage.tsx
  frontend/web/main.js
  frontend/web/routes.js
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_oauth-authorize.scss
Labels: front-end

docs: update GCP self-hosting to recommend GKE with Helm charts
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/google-cloud.md
Labels: docs

revert dependency changes
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

fix(account-dropdown): fix contrast issues in dark mode (#7088)
  frontend/web/components/navigation/AccountDropdown.tsx
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

Remove unused dependencies
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

Add rspack
  frontend/.babelrc
  frontend/api/dev-routes.js
  frontend/api/index.js
  frontend/api/middleware/webpack-middleware.js
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/rspack/loaders.js
  frontend/rspack/pages.js
  frontend/rspack/plugins.js
  frontend/rspack/rspack.config.analyse.js
  frontend/rspack/rspack.config.django.prod.js
  frontend/rspack/rspack.config.local.js
  frontend/rspack/rspack.config.prod.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/modals/ChangeEmailAddress.tsx
  frontend/web/components/modals/ConfirmDeleteAccount.tsx
  frontend/web/components/modals/ConfirmToggleEnvFeature.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateUser.tsx
  frontend/web/main.js
  frontend/web/project/libs.js
  frontend/webpack.config.js
  frontend/webpack/loaders.js
  frontend/webpack/pages.js
  frontend/webpack/plugins.js
  frontend/webpack/webpack.config.analyse.js
  frontend/webpack/webpack.config.django.prod.js
  frontend/webpack/webpack.config.local.js
  frontend/webpack/webpack.config.prod.js
Labels: front-end

Remove warnings / add webpack peer dep for sentry plugin
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack/plugins.js
  frontend/rspack/rspack.config.local.js
  frontend/rspack/rspack.config.prod.js
  frontend/web/components/pages/ComparePage.js
  frontend/web/styles/project/_alert.scss
Labels: front-end

Reinstall raw-loader as devDependency for Storybook
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

Remove unused dependencies and fix security vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat: moved-oauth-to-dataclass
  api/api/openapi.py
  api/oauth2_metadata/dataclasses.py
  api/oauth2_metadata/views.py
  api/tests/unit/api/test_mcp_openapi.py
Labels: api

refactor: Migrate users urls+page names to Identities (#7168)
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/IdentitiesPage.tsx
  frontend/web/components/pages/IdentityIdPage.js
  frontend/web/components/pages/IdentityPage.tsx
  frontend/web/components/pages/features/components/FeaturesEmptyState.tsx
  frontend/web/routes.js
Labels: front-end

Fix OAuthAuthorizePage
  frontend/web/components/pages/OAuthAuthorizePage.tsx
Labels: front-end

Fix OAuthAuthorizePage
  frontend/common/services/useOAuthAuthorize.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
  frontend/web/components/navigation/AccountDropdown.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/IdentitiesPage.tsx
  frontend/web/components/pages/IdentityPage.tsx
  frontend/web/components/pages/OAuthAuthorizePage.tsx
  frontend/web/components/pages/UserIdPage.js
  frontend/web/components/pages/features/components/FeaturesEmptyState.tsx
  frontend/web/main.js
  frontend/web/routes.js
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_oauth-authorize.scss
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

refactor: rspack (#7184)
  frontend/.babelrc
  frontend/api/dev-routes.js
  frontend/api/index.js
  frontend/api/middleware/webpack-middleware.js
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/rspack/loaders.js
  frontend/rspack/pages.js
  frontend/rspack/plugins.js
  frontend/rspack/rspack.config.analyse.js
  frontend/rspack/rspack.config.django.prod.js
  frontend/rspack/rspack.config.local.js
  frontend/rspack/rspack.config.prod.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/modals/ChangeEmailAddress.tsx
  frontend/web/components/modals/ConfirmDeleteAccount.tsx
  frontend/web/components/modals/ConfirmToggleEnvFeature.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateUser.tsx
  frontend/web/components/pages/ComparePage.js
  frontend/web/main.js
  frontend/web/project/libs.js
  frontend/web/styles/project/_alert.scss
  frontend/webpack.config.js
  frontend/webpack/loaders.js
  frontend/webpack/pages.js
  frontend/webpack/plugins.js
  frontend/webpack/webpack.config.analyse.js
  frontend/webpack/webpack.config.django.prod.js
  frontend/webpack/webpack.config.local.js
  frontend/webpack/webpack.config.prod.js
Labels: front-end

Remove log
  frontend/rspack/rspack.config.local.js
  frontend/rspack/rspack.config.prod.js
Labels: front-end

Replace IonIcon with GithubIcon component
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/GithubStar.tsx
Labels: front-end

Fix GithubIcon import path
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/GithubStar.tsx
Labels: front-end

Fix Icon import path in CodeHelp
  frontend/web/components/CodeHelp.tsx
Labels: front-end

Fix CodeHelp icons: use file-text and github from Icon component
  frontend/web/components/CodeHelp.tsx
Labels: front-end

Use iconLeft prop for all CodeHelp buttons with 16px icons
  frontend/web/components/CodeHelp.tsx
Labels: front-end

Improve icons
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/icons/Icon.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

fix: npm security vulnerabilities (#7185)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat: visual regression e2e (#7102)
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  frontend/.gitignore
  frontend/Makefile
  frontend/README.md
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/compare-visual-regression.ts
  frontend/e2e/helpers/index.ts
  frontend/e2e/helpers/visual-regression.ts
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/playwright.visual.config.ts
  frontend/web/components/EnvironmentSelect.tsx
Labels: front-end

Add GitLab group as a required setup field
  docs/docs/third-party-integrations/project-management/gitlab.md
Labels: docs

Epic v1 🤷
  docs/docs/third-party-integrations/project-management/gitlab.md
Labels: docs

ALL TOKEN TYPES SUPPORTED 🎉
  docs/docs/third-party-integrations/project-management/gitlab.md
Labels: docs

docs: fix edge proxy API URL reference to use edge.api.flagsmith.com (#7152)
  docs/docs/performance/edge-proxy.md
Labels: docs

refactor: Codehelp TypeScript migration (#7170)
  frontend/web/components/CodeHelp.js
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/GithubStar.tsx
  frontend/web/components/icons/Icon.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

chore: Update Flagsmith environment document (#6989)
  api/integrations/flagsmith/data/environment.json
Labels: api

docs: Update GCP self-hosting to recommend GKE with Helm charts (#7177)
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/google-cloud.md
Labels: docs

fix: Remove dead onChange handler on read-only email field
  frontend/web/components/pages/AccountSettingsPage.tsx
Labels: front-end

fix: Remove dead onChange handler on read-only email field
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end

Revert "fix: Remove dead onChange handler on read-only email field"
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end

ci: skip-private-tests-and-comments-conditionally
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/platform-pull-request.yml
Labels: none

ci: moved-to-continue-on-error
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-pull-request.yml
Labels: none

fix(environments): validate project field in environment creation (#7063)
  api/environments/permissions/permissions.py
  api/tests/unit/environments/permissions/test_unit_environments_permissions.py
Labels: api

fix routes conflict
  frontend/web/routes.js
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
