Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix: docs link for sentry integration
  frontend/common/stores/default-flags.ts
Labels: front-end

infra: Add a new specific task definition for the admin API to enable sentry tracing for admin requests (#6496)
  .github/actions/api-deploy-ecs/action.yml
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

infra: Add a new specific task definition for the admin API to enable sentry tracing for admin requests (#6496)
  .github/actions/api-deploy-ecs/action.yml
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

chore(main): release 2.217.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Fix version check failures on deployment
  .github/actions/api-deploy-ecs/action.yml
Labels: none

Temp: deploy to staging on pushing current branch
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

Update container names
  .github/actions/api-deploy-ecs/action.yml
Labels: none

feat: resolved-review-comments
  frontend/common/services/useMetadataField.ts
  frontend/common/utils/__tests__/metadataValidation.test.ts
Labels: front-end

fix: docs link for sentry integration (#6718)
  frontend/common/stores/default-flags.ts
Labels: front-end

fix: docs link for sentry integration (#6718)
  frontend/common/stores/default-flags.ts
Labels: front-end

feat: added-project-support-for-custom-fields
  api/conftest.py
  api/environments/serializers.py
  api/features/serializers.py
  api/metadata/migrations/0002_add_project_to_metadata_field.py
  api/metadata/models.py
  api/metadata/permissions.py
  api/metadata/serializers.py
  api/metadata/views.py
  api/segments/serializers.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/metadata/test_serializers.py
  api/tests/unit/metadata/test_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

Add task-definition-family
  .github/actions/api-deploy-ecs/action.yml
Labels: none

Remove task-definition-family in favour of the `family` attribute in the TD JSON
  .github/actions/api-deploy-ecs/action.yml
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

Fix service names
  .github/actions/api-deploy-ecs/action.yml
Labels: none

Reduce diff complexity
  .github/actions/api-deploy-ecs/action.yml
Labels: none

Remove temp change to workflow
  .github/workflows/api-deploy-staging-ecs.yml
Labels: none

fix(ci): Fix ECS deployment following attempted task definition separation (#6719)
  .github/actions/api-deploy-ecs/action.yml
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

fix(ci): Fix ECS deployment following attempted task definition separation (#6719)
  .github/actions/api-deploy-ecs/action.yml
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-sdk-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-sdk-api.json
Labels: infrastructure

Sort features by segment override
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Sort features by identity override
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, api

feat: reworked-comments
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/metadata/test_serializers.py
  api/tests/unit/metadata/test_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

feat: add-project-support-to-metadata-types-and-service
  frontend/common/services/useMetadataField.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

feat: add-project-metadata-to-page-and-modal
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
Labels: front-end

feat: project-custom-fields-override-org-ones
  api/metadata/serializers.py
  api/metadata/views.py
  api/tests/unit/metadata/test_serializers.py
  api/tests/unit/metadata/test_views.py
Labels: api

feat: wrap-project-custom-fields-with-feature-flag
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
Labels: front-end

Forever is too much
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/project/toast.tsx
Labels: front-end

fix: skip-feature-metadata-fetch-when-creating-feature
  frontend/common/services/useMetadataField.ts
Labels: front-end

feat: inherited-badge-alignment
  frontend/common/services/useMetadataField.ts
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/pages/project-settings/tabs/CustomFieldsTab.tsx
Labels: front-end

feat: invalidate-tags-on-delete-metadata
  frontend/common/services/useMetadataField.ts
Labels: front-end

Simplify categorising deprecated flags
  api/integrations/launch_darkly/constants.py
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  docs/docs/administration-and-security/data-management/import-from-launchdarkly.md
Labels: docs, api

fix: fixed-parsing-error
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

fix(LD Importer): Archive deprecated LaunchDarkly flags on import (#6447)
  api/integrations/launch_darkly/models.py
  api/integrations/launch_darkly/serializers.py
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/client_responses/get_flags.json
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__import_request_status.json
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_views.py
  docs/docs/administration-and-security/data-management/import-from-launchdarkly.md
  frontend/common/types/responses.ts
  frontend/web/components/import-export/ImportPage.tsx
Labels: docs, front-end, api

fix(LD Importer): Archive deprecated LaunchDarkly flags on import (#6447)
  api/integrations/launch_darkly/models.py
  api/integrations/launch_darkly/serializers.py
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/client_responses/get_flags.json
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__import_request_status.json
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_views.py
  docs/docs/administration-and-security/data-management/import-from-launchdarkly.md
  frontend/common/types/responses.ts
  frontend/web/components/import-export/ImportPage.tsx
Labels: docs, front-end, api

feat: invalidate-tags-on-delete-metadata
  frontend/common/services/useMetadataField.ts
Labels: front-end

Fix sorting based on segment overrides
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

feat: reviewed-query-params-and-filtering
  api/metadata/serializers.py
  api/metadata/views.py
  api/tests/unit/metadata/test_views.py
Labels: api

Fix identity URI param
  api/features/serializers.py
Labels: api

feat: correctly-retrieve-project-versus-org-custom-fields
  frontend/common/services/useMetadataField.ts
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/metadata/RedirectCreateCustomFields.tsx
Labels: front-end

feat: fetch-metadata-model-in-api-and-separate-custom-fields-project-endpoint
  api/metadata/serializers.py
  api/metadata/views.py
  api/projects/urls.py
  api/tests/unit/metadata/test_views.py
Labels: api

chore: Remove environment_metrics feature flag (#6685)
  frontend/web/components/pages/features/components/FeatureMetricsSection.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
