Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

refactor(segments): Query overrides directly in the deletion gate
  api/segments/views.py
Labels: api

fix: identify user before sending warehouse test event (#8356)
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/sendWarehouseTestEvent.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/sendWarehouseTestEvent.ts
Labels: front-end

feat: wire CSV segments to the cohorts API (#8295)
  frontend/common/services/useCohort.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/__tests__/csv.test.ts
  frontend/common/utils/csv.ts
  frontend/web/components/CsvUpload/CsvUpload.tsx
  frontend/web/components/modals/ConfirmRemoveSegment.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentFromCsv/CreateSegmentFromCsv.tsx
  frontend/web/components/modals/CreateSegmentFromCsv/__tests__/submitCohortCsv.test.ts
  frontend/web/components/modals/CreateSegmentFromCsv/submitCohortCsv.ts
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/components/segments/SegmentRow/components/SegmentAction.tsx
Labels: front-end

fix: use ExposuresViewState type instead of inline { kind: string }
  frontend/web/components/experiments/results/resultsViewState.ts
Labels: front-end

fix: keep experiment refresh state until requests settle (#8351)
  frontend/web/components/experiments/results/ExperimentResultsRefreshControl.tsx
  frontend/web/components/experiments/results/__tests__/resultsViewState.test.ts
  frontend/web/components/experiments/results/resultsViewState.ts
Labels: front-end

refactor(utils): extract featureStateToValue into a Flux-free module
  frontend/common/utils/__tests__/featureStateToValue.test.ts
  frontend/common/utils/featureStateToValue.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/features/hooks/__tests__/deepLinkedFeature.test.ts
  frontend/web/components/pages/features/hooks/deepLinkedFeature.ts
Labels: front-end

refactor(featureStateToValue): extract into a Flux-free module (#8344)
  frontend/common/utils/__tests__/featureStateToValue.test.ts
  frontend/common/utils/featureStateToValue.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/features/hooks/__tests__/deepLinkedFeature.test.ts
  frontend/web/components/pages/features/hooks/deepLinkedFeature.ts
Labels: front-end

refactor(types): name the trait value shape
  frontend/common/types/responses.ts
  frontend/common/utils/__tests__/featureStateToValue.test.ts
  frontend/common/utils/featureStateToValue.ts
  frontend/common/utils/utils.tsx
Labels: front-end

docs(scim): document deactivated user membership
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

feat(organisations): support deactivated user membership
  api/api_keys/user.py
  api/audit/views.py
  api/organisations/invites/views.py
  api/organisations/migrations/0061_add_user_organisation_is_active.py
  api/organisations/models.py
  api/organisations/serializers.py
  api/organisations/task_helpers.py
  api/organisations/views.py
  api/permissions/permission_service.py
  api/sales_dashboard/views.py
  api/tests/unit/organisations/test_unit_organisations_deactivated_membership.py
  api/tests/unit/users/test_unit_users_models.py
  api/users/abc.py
  api/users/models.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(scim): fold deactivation into the user lifecycle section
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

fix(organisations): retain an active admin when cancelling users
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_deactivated_membership.py
Labels: api

fix(identities): multivariate override editor hides the identity's override value (#8279)
  frontend/common/utils/__tests__/multivariate.test.ts
  frontend/common/utils/multivariate.ts
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

test(organisations): cover the no-op membership activation branch
  api/tests/unit/organisations/test_unit_organisations_deactivated_membership.py
Labels: api

fix(identities): label the rows in the identity override selector
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

refactor(identities): take the row label as text rather than children
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

refactor(identities): name the row label props
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

refactor(identities): rename the label to ValueRowLabel and take children
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

refactor(identities): import FC and ReactNode by name
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

deps(api): upgrade django-clickhouse-backend to 2.0
  api/pyproject.toml
  api/uv.lock
Labels: api

fix(identities): quieten the row label and call the control row what it is
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

style(identities): restore the heading weight on the row label
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

deps(api): upgrade pyfakefs to 6.x
  api/pyproject.toml
  api/uv.lock
Labels: api

deps(api): upgrade pytest to 9.0.3 and swap in pytest-lazy-fixtures
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/integration/core/test_commands.py
  api/tests/integration/core/test_user_rate_throttle.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/environments/test_integration_environments.py
  api/tests/integration/features/featurestate/test_environment_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_simple_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_webhooks.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/unit/api/test_unit_api.py
  api/tests/unit/api_keys/test_user.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
  api/tests/unit/features/multivariate/test_unit_multivariate_views.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/subscriptions/test_unit_subscriptions_permissions.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/permissions/permission_service/test_get_permitted_environments_for_user.py
  api/tests/unit/permissions/permission_service/test_get_permitted_projects_for_user.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
  api/tests/unit/permissions/permission_service/test_master_api_key_permission_service.py
  api/tests/unit/projects/tags/test_unit_projects_tags_views.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/sse/test_sse_service.py
  api/uv.lock
Labels: api

fix(identities): label the rows in the identity override selector (#8372)
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

docs: drop the incorrect seat-overage claim on reactivation
  api/users/models.py
Labels: api

feat: auto-connect Flagsmith warehouse for new orgs via experimental_flags value
  api/experimentation/services.py
  api/experimentation/views.py
Labels: api

feat: flag-driven warehouse plan gating for free orgs
  frontend/common/utils/utils.tsx
Labels: front-end

fix(cohorts): cap Mixpanel pages and reject syncs to a deleting cohort
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(cohorts): plan-gate the Mixpanel webhook
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/test_sync_views.py
Labels: api

feat(SCIM): Support deactivated user membership (#8370)
  api/api_keys/user.py
  api/audit/views.py
  api/organisations/invites/views.py
  api/organisations/migrations/0061_add_user_organisation_is_active.py
  api/organisations/models.py
  api/organisations/serializers.py
  api/organisations/task_helpers.py
  api/organisations/views.py
  api/permissions/permission_service.py
  api/sales_dashboard/views.py
  api/tests/unit/organisations/test_unit_organisations_deactivated_membership.py
  api/tests/unit/users/test_unit_users_models.py
  api/users/abc.py
  api/users/models.py
  docs/docs/administration-and-security/access-control/scim.md
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

test: add coverage for experiment flag config and auto-connect warehouse
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat: Mixpanel cohort sync webhook (#8338)
  api/api/openapi.py
  api/cohorts/authentication.py
  api/cohorts/migrations/0004_mixpanel_source.py
  api/cohorts/models.py
  api/cohorts/serializers.py
  api/cohorts/services.py
  api/cohorts/sync_urls.py
  api/cohorts/sync_views.py
  api/tests/unit/cohorts/conftest.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_sync_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
  sdk/openapi.yaml
Labels: docs, api

fix: resolve mypy and lint errors in experimentation tests
  api/tests/unit/experimentation/test_services.py
Labels: api

deps(api): upgrade django-clickhouse-backend to 2.0
  api/pyproject.toml
  api/uv.lock
Labels: api

deps(api): upgrade pyfakefs to 6.x
  api/pyproject.toml
  api/uv.lock
Labels: api

deps(api): upgrade pytest to 9.0.3 and swap in pytest-lazy-fixtures
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/integration/core/test_commands.py
  api/tests/integration/core/test_user_rate_throttle.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/environments/test_integration_environments.py
  api/tests/integration/features/featurestate/test_environment_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_simple_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_webhooks.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/unit/api/test_unit_api.py
  api/tests/unit/api_keys/test_user.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
  api/tests/unit/features/multivariate/test_unit_multivariate_views.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/subscriptions/test_unit_subscriptions_permissions.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/permissions/permission_service/test_get_permitted_environments_for_user.py
  api/tests/unit/permissions/permission_service/test_get_permitted_projects_for_user.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
  api/tests/unit/permissions/permission_service/test_master_api_key_permission_service.py
  api/tests/unit/projects/tags/test_unit_projects_tags_views.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/sse/test_sse_service.py
  api/uv.lock
Labels: api

deps(api): require flagsmith-private 0.12
  api/pyproject.toml
  api/uv.lock
Labels: api

deps(api): Upgrade pytest to 9.0.3 and swap in pytest-lazy-fixtures (#8375)
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/integration/core/test_commands.py
  api/tests/integration/core/test_user_rate_throttle.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/environments/test_integration_environments.py
  api/tests/integration/features/featurestate/test_environment_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_simple_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_webhooks.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/unit/api/test_unit_api.py
  api/tests/unit/api_keys/test_user.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
  api/tests/unit/features/multivariate/test_unit_multivariate_views.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/subscriptions/test_unit_subscriptions_permissions.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/permissions/permission_service/test_get_permitted_environments_for_user.py
  api/tests/unit/permissions/permission_service/test_get_permitted_projects_for_user.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
  api/tests/unit/permissions/permission_service/test_master_api_key_permission_service.py
  api/tests/unit/projects/tags/test_unit_projects_tags_views.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/sse/test_sse_service.py
  api/uv.lock
Labels: api

refactor(usage): group the breakdown's sub-components
  frontend/documentation/components/UsageBreakdown.stories.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/UsageBreakdown.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/UsageBreakdownContainer.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/UsageBreakdownView.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/components/List.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/components/Row.scss
  frontend/web/components/organisation-settings/usage/UsageBreakdown/components/Row.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/components/ScopeTotal.tsx
  frontend/web/components/organisation-settings/usage/UsageBreakdown/index.ts
  frontend/web/components/organisation-settings/usage/UsageBreakdown/useScopedBreakdown.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
