Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Sync GitLab issue/MR states
  api/integrations/gitlab/mappers.py
  api/integrations/gitlab/services/__init__.py
  api/integrations/gitlab/services/metadata.py
  api/integrations/gitlab/views/webhook.py
  api/tests/unit/integrations/gitlab/conftest.py
  api/tests/unit/integrations/gitlab/test_metadata.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Also sync title, because why not
  api/integrations/gitlab/mappers.py
  api/integrations/gitlab/services/metadata.py
  api/integrations/gitlab/types.py
  api/tests/unit/integrations/gitlab/test_metadata.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

chore: remove sprint scaffold notes ahead of upstream submission
  docs/development/worker-metrics-helper-testing.md
  docs/development/worker-rss-story-4-verification.md
Labels: docs

Fix scan timestamp
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
  api/projects/code_references/models.py
  api/projects/code_references/services.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_0003_introduce_per_feature_scanned_references.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
Labels: api

docs: clarify change request scope for identity overrides
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
Labels: docs

fix(api): delegate concurrent deletion deadlocks to TaskBackoffError
  api/environments/tasks.py
  api/features/tasks.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/features/test_unit_features_tasks.py
Labels: api

fix: handle deadlocks and FK violations in delete_environment and delete_feature tasks
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/features/test_unit_features_tasks.py
Labels: api

docs: document CR scope, notifications and non-notification events
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
Labels: docs

Hide exception details from webhook test response
  api/webhooks/views.py
Labels: api

feat: switched to viewset and added get single connection endpoint
  api/experimentation/urls.py
  api/experimentation/views.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat: fixed types
  api/experimentation/views.py
Labels: api

Update unit test
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

chore(main): release 2.234.0 (#7501)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

fix: pass django-settings-modules as make argument to override .env-local
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

fix: pass django-settings-modules as make argument to override env local (#7552)
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

fix: improved list features mcp description (#7522)
  api/features/views.py
Labels: api

fix: use uuid to delete single connection in endpoint
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

Conceal all non-200 response bodies
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/views.py
Labels: api

fix(Code References): Code references are slow to query (#7463)
  api/features/serializers.py
  api/features/views.py
  api/integrations/flagsmith/data/environment.json
  api/projects/code_references/constants.py
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
  api/projects/code_references/models.py
  api/projects/code_references/serializers.py
  api/projects/code_references/services.py
  api/projects/code_references/types.py
  api/projects/code_references/views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_0003_introduce_per_feature_scanned_references.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

chore(deps): Switch flagsmith-sql-flag-engine to public PyPI
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/update-flagsmith-environment.yml
  Dockerfile
  api/pyproject.toml
  api/uv.lock
Labels: api

Add missing SCIM settings
  api/app/settings/common.py
Labels: api

fix(SCIM): Missing Django SCIM settings (#7554)
  api/app/settings/common.py
Labels: api

chore(main): release 2.234.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.234.1 (#7551)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Fix tests
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

Restrict to valid public URLs
  api/environments/serializers.py
  api/tests/unit/webhooks/test_webhooks_fields.py
  api/webhooks/fields.py
  api/webhooks/serializers.py
Labels: api

Fix test
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

Improve code references migration
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
Labels: api

Dead but doing well
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
Labels: api

Truncate old references
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
Labels: api

Fix tests
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
Labels: api

fix(Code References): Very slow data migration (#7555)
  api/projects/code_references/migrations/0003_introduce_per_feature_scanned_references.py
Labels: api

chore(main): release 2.234.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.234.2 (#7556)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Improve GitLab logging
  api/integrations/gitlab/services/metadata.py
  api/integrations/gitlab/services/tagging.py
  api/integrations/gitlab/views/webhook.py
  api/tests/unit/integrations/gitlab/test_metadata.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

test(api): rename clear_worker_metrics test to satisfy FT003 naming rule
  api/tests/unit/metrics/test_unit_worker_metrics.py
Labels: api

fix: moved scim to enterprise only
  frontend/common/utils/utils.tsx
Labels: front-end

relocate "Managing SCIM tokens"
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

apply suggested edits
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

Adding a unique ID to every integration setup button
  frontend/web/components/IntegrationList.tsx
Labels: front-end
