Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat: only paid accounts can use pylon chat (#7381)
  docs/docs/deployment-self-hosting/core-configuration/environment-variables.md
  frontend/.eslintrc.js
  frontend/api/dev-routes.js
  frontend/api/index.js
  frontend/common/loadChat.ts
  frontend/global.d.ts
Labels: docs, front-end

feat: hide and show pylon on user login events
  frontend/common/loadChat.ts
Labels: front-end

feat: regenerated events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

fix: identify chat user called in org switching and logout
  frontend/common/loadChat.ts
  frontend/common/stores/account-store.js
Labels: front-end

feat: removed duplicate gram json and regenerated package-lock
  frontend/api/gram.json
  frontend/package-lock.json
Labels: front-end

fix: render all top-level segment rules in the UI instead (#7342)
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

chore(main): release 2.232.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore: remove unused Banner and ModalAlert primitives
  frontend/documentation/components/Banner.stories.tsx
  frontend/web/components/Banner/Banner.tsx
  frontend/web/components/Banner/banner.scss
  frontend/web/components/Banner/index.ts
  frontend/web/components/modals/base/ModalAlert.tsx
Labels: front-end

refactor(components): decouple from store and globals for Storybook
  frontend/common/utils/__tests__/convertToPConfidence.test.ts
  frontend/common/utils/__tests__/fromParam.test.ts
  frontend/web/components/IdentifierString.tsx
  frontend/web/components/InfoMessage.tsx
  frontend/web/components/Loader.tsx
  frontend/web/components/PasswordRequirements.tsx
  frontend/web/components/SettingRow/SettingRow.tsx
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/base/accordion/AccordionCard.tsx
  frontend/web/components/base/forms/Checkbox.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
Labels: front-end

feat(storybook): bootstrap Storybook 10 with mocks and globals
  frontend/.storybook/main.js
  frontend/.storybook/mocks/_data.js
  frontend/.storybook/mocks/code-help.js
  frontend/.storybook/mocks/dompurify.js
  frontend/.storybook/mocks/ionic-react.js
  frontend/.storybook/mocks/ionicons-icons.js
  frontend/.storybook/preview.js
  frontend/.storybook/stubs/utils.js
Labels: front-end

feat(icons): add close icon and use it in ChipInput
  frontend/web/components/ChipInput.tsx
  frontend/web/components/icons/Icon.tsx
Labels: front-end

refactor(color-swatch): add shape prop and unify BooleanDotIndicator
  frontend/web/components/BooleanDotIndicator.tsx
  frontend/web/components/ColorSwatch.tsx
Labels: front-end

feat(storybook): add navigation stories with shared withRouter decorator
  frontend/documentation/components/Breadcrumb.stories.tsx
  frontend/documentation/components/LabelWithTooltip.stories.tsx
  frontend/documentation/components/OverflowNav.stories.tsx
  frontend/documentation/components/SidebarLink.stories.tsx
  frontend/documentation/components/Tabs.stories.tsx
  frontend/documentation/components/_decorators.tsx
Labels: front-end

fix(storybook): capture react-tooltip popovers in chromatic
  .github/workflows/frontend-chromatic.yml
  frontend/documentation/components/LabelWithTooltip.stories.tsx
  frontend/documentation/components/Tooltip.stories.tsx
  frontend/package.json
Labels: front-end

feat(storybook): add component stories with interactive coverage
  frontend/documentation/components/AccordionCard.stories.tsx
  frontend/documentation/components/BooleanDotIndicator.stories.tsx
  frontend/documentation/components/Button.stories.tsx
  frontend/documentation/components/ButtonDropdown.stories.tsx
  frontend/documentation/components/Card.stories.tsx
  frontend/documentation/components/Checkbox.stories.tsx
  frontend/documentation/components/CheckboxGroup.stories.tsx
  frontend/documentation/components/ChipInput.stories.tsx
  frontend/documentation/components/ColorSwatch.stories.tsx
  frontend/documentation/components/Column.stories.tsx
  frontend/documentation/components/DropdownMenu.stories.tsx
  frontend/documentation/components/EmptyState.stories.tsx
  frontend/documentation/components/ErrorMessage.stories.tsx
  frontend/documentation/components/Flex.stories.tsx
  frontend/documentation/components/GhostInput.stories.tsx
  frontend/documentation/components/Icons.stories.tsx
  frontend/documentation/components/IdentifierString.stories.tsx
  frontend/documentation/components/InfoMessage.stories.tsx
  frontend/documentation/components/InlineModal.stories.tsx
  frontend/documentation/components/LabelWithTooltip.stories.tsx
  frontend/documentation/components/Loader.stories.tsx
  frontend/documentation/components/Logo.stories.tsx
  frontend/documentation/components/Modal.stories.tsx
  frontend/documentation/components/MultiSelect.stories.tsx
  frontend/documentation/components/PageTitle.stories.tsx
  frontend/documentation/components/Panel.stories.tsx
  frontend/documentation/components/PasswordRequirements.stories.tsx
  frontend/documentation/components/Radio.stories.tsx
  frontend/documentation/components/Row.stories.tsx
  frontend/documentation/components/SearchableSelect.stories.tsx
  frontend/documentation/components/SettingRow.stories.tsx
  frontend/documentation/components/SettingTitle.stories.tsx
  frontend/documentation/components/Skeleton.stories.tsx
  frontend/documentation/components/StatItem.stories.tsx
  frontend/documentation/components/Switch.stories.tsx
  frontend/documentation/components/ToggleChip.stories.tsx
  frontend/documentation/components/Tooltip.stories.tsx
  frontend/documentation/components/VCSProviderTag.stories.tsx
  frontend/documentation/components/WarningMessage.stories.tsx
Labels: front-end

fix(storybook): harden tooltip plays and skip MDX docs in Chromatic
  frontend/documentation/DecisionFramework.mdx
  frontend/documentation/Introduction.mdx
  frontend/documentation/TokenMaintenance.mdx
  frontend/documentation/Typography.mdx
  frontend/documentation/components/LabelWithTooltip.stories.tsx
  frontend/documentation/components/Tooltip.stories.tsx
Labels: front-end

Make segment deletion task idempotent
  api/segments/tasks.py
  api/tests/unit/segments/test_unit_segments_tasks.py
Labels: api

refactor(tabs): simplify Tabs API and migrate plain-text labels
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/modals/CreateSAML.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-experiment/index.js
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Labels: front-end

refactor(CreateRole): hoist save button label out of nested ternary
  frontend/web/components/modals/CreateRole.tsx
Labels: front-end

Improve GitHub installation completion page
  frontend/web/components/pages/GitHubSetupPage.tsx
Labels: front-end

feat(tabs): add isDirty prop to TabItem and migrate badged labels
  frontend/documentation/components/Tabs.stories.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-experiment/index.js
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/components/navigation/TabMenu/TabItem.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

refactor(tabs): extract URL sync into useTabUrlSync hook
  frontend/common/hooks/useTabUrlSync.ts
  frontend/documentation/components/Tabs.stories.tsx
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSAML.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/navigation/TabMenu/TabItem.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/components/pages/AccountSettingsPage.tsx
  frontend/web/components/pages/ChangeRequestsPage.tsx
  frontend/web/components/pages/ComparePage.js
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/admin-dashboard/AdminDashboardPage.tsx
  frontend/web/components/pages/organisation-settings/OrganisationSettingsPage.tsx
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
Labels: front-end

refactor(OrganisationUsersTable): extract modal contents to FCs
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/EditUserPermissionsModal.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/InspectUserPermissionsModal.tsx
Labels: front-end

refactor(tabs): drop uncontrolled prop, make PermissionsTabs/InspectPermissions controlled
  frontend/documentation/components/Tabs.stories.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/EditUserPermissionsModal.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/InspectUserPermissionsModal.tsx
Labels: front-end

docs: added missing flags documentation for fof
  docs/docs/deployment-self-hosting/core-configuration/running-flagsmith-on-flagsmith.md
Labels: docs

deps: bump flagsmith-common from 3.8.2 to 3.9.0 in /api
  api/poetry.lock
  api/pyproject.toml
Labels: api

ci: Turn off Depot CI
  .depot/workflows/api-pull-request.yml
Labels: none

feat: renamed logger and pass org_id in add seats
  api/organisations/chargebee/chargebee.py
  api/organisations/models.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

feat: regenerated events catalgoue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

feat: show correct and or divider between conditions based on rule types
  frontend/web/components/SegmentRuleDivider.tsx
  frontend/web/components/segments/Rule/Rule.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: front-end

docs: add troubleshooting guide for API and SDK errors
  docs/docs/deployment-self-hosting/administration-and-maintenance/troubleshooting.md
  docs/docs/deployment-self-hosting/administration-and-maintenance/upgrades-and-rollbacks.md
  docs/docs/guides/_category_.json
  docs/docs/guides/troubleshooting/_category_.json
  docs/docs/guides/troubleshooting/http-errors.mdx
  docs/docs/guides/troubleshooting/index.mdx
  docs/docs/guides/troubleshooting/sdk-issues.mdx
  docs/docs/guides/troubleshooting/self-hosted.mdx
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/index.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/flags-api/index.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/index.md
  docs/docs/integrating-with-flagsmith/sdks/client-side-sdks/index.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/docs/support/index.mdx
Labels: docs

tasks: make delete_segment idempotent
  api/segments/tasks.py
Labels: api

feat: add isLoading state to Button component (#7384)
  frontend/web/components/base/forms/Button.tsx
Labels: front-end

feat: add aria-live polite announcement to Button isLoading state
  frontend/web/components/base/forms/Button.tsx
Labels: front-end

feat(PoC): Segment membership inspection
  api/app/settings/common.py
  api/environments/identities/models.py
  api/environments/identities/signals.py
  api/poetry.lock
  api/pyproject.toml
  api/segment_membership/__init__.py
  api/segment_membership/apps.py
  api/segment_membership/constants.py
  api/segment_membership/dataclasses.py
  api/segment_membership/management/__init__.py
  api/segment_membership/management/commands/__init__.py
  api/segment_membership/management/commands/backfill_segment_membership.py
  api/segment_membership/management/commands/stress_test_segment_membership.py
  api/segment_membership/management/commands/verify_segment_membership.py
  api/segment_membership/mappers.py
  api/segment_membership/migrations/0001_add_segment_membership_index.py
  api/segment_membership/migrations/__init__.py
  api/segment_membership/models.py
  api/segment_membership/services.py
  api/segment_membership/signals.py
  api/segment_membership/tasks.py
  api/tests/unit/segment_membership/__init__.py
  api/tests/unit/segment_membership/test_unit_segment_membership_smoke.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs: add Edge Proxy operational guide
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs: drop tautological polling note from identity overrides
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs: link to Local Evaluation Mode anchor, not the whole page
  docs/docs/deployment-self-hosting/edge-proxy.md
Labels: docs

docs(segments): document segment membership inspection
  docs/docs/flagsmith-concepts/segments/index.md
Labels: docs

docs(skeleton): render When-to-use guidance in canvas
  frontend/documentation/components/Skeleton.stories.tsx
Labels: front-end
