Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

Clean up unused class name
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: front-end

Fix collapsing NOTE blocks
  frontend/web/components/InfoMessage.tsx
Labels: front-end

Improve clarity around Feature Versioning and segment overrides
  docs/docs/managing-flags/feature-versioning.md
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
Labels: docs, front-end

Clean up querying
  api/features/feature_lifecycle/services.py
Labels: api

fix: fix lint
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
Labels: front-end

chore(deps): Pin django-clickhouse-backend to upstream git rev
  api/pyproject.toml
  api/uv.lock
Labels: api

feat(experimentation): add experiment rollout with multivariate segment override
  api/experimentation/migrations/0009_add_rollout_segment.py
  api/experimentation/models.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/features/feature_states/serializers.py
  api/features/versioning/dataclasses.py
  api/features/versioning/versioning_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_experiment_views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/feature_states/test_serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(frontend): unify font-weight for Tooltip
  frontend/web/components/Tooltip.tsx
Labels: front-end

fix(frontend): remove arrow from Tooltip
  frontend/web/components/Tooltip.tsx
Labels: front-end

fix(onboarding): resolve Next.js wire snippet
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/sdkLangs.ts
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/sdkSnippets.ts
Labels: front-end

fix(experimentation): wrap rollout update in a transaction
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): model the rollout as a RolloutSpec applied via one operation
  api/experimentation/dataclasses.py
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(segment-membership): Add segment members read endpoint
  api/segment_membership/constants.py
  api/segment_membership/mappers.py
  api/segment_membership/metrics.py
  api/segment_membership/services.py
  api/segment_membership/types.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/conftest.py
  api/tests/integration/conftest.py
  api/tests/integration/segment_membership/test_segment_members_endpoint.py
  api/tests/integration/segment_membership/test_segment_membership_clickhouse.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

docs: regenerate events catalogue after rollout service reformat
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

fix(clickhouse): Task processor startup queries ClickHouse migrations on every boot
  api/Makefile
  api/scripts/run-docker.sh
Labels: api

Slop
  docs/docs/integrating-with-flagsmith/_mcp-tool-catalogue.md
Labels: docs

Improve API
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/migrate_to_pg.py
  api/app_analytics/types.py
  api/tests/unit/app_analytics/test_migrate_to_pg.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
Labels: api

"Faster!" they said
  api/app_analytics/migrations/0009_analytics_buckets_index.py
  api/app_analytics/models.py
Labels: api

🗡️ it right
  api/features/feature_lifecycle/views.py
  docs/docs/integrating-with-flagsmith/_mcp-tool-catalogue.md
Labels: docs, api

fix(segment-membership): Members endpoint advertises a next page with no more rows
  api/segments/views.py
  api/tests/integration/segment_membership/test_segment_members_endpoint.py
Labels: api

feat(segment-membership): Add identifier search to the segment members endpoint
  api/segment_membership/services.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/integration/segment_membership/test_segment_members_endpoint.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(Segment membership inspection): Add identifier search to the segment members endpoint (#7866)
  api/segment_membership/services.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/integration/segment_membership/test_segment_members_endpoint.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Revert ""Faster!" they said"
  api/app_analytics/migrations/0009_analytics_buckets_index.py
  api/app_analytics/models.py
Labels: api

Update log catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

feat(experimentation): expose experiment rollout in API responses
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_experiment_views.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experiments): move RefreshControl local, add Button isLoading
  frontend/common/hooks/__tests__/useCountdown.test.ts
  frontend/common/hooks/useCountdown.ts
  frontend/documentation/components/RefreshControl.stories.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/ExperimentResultsRefreshControl.tsx
  frontend/web/components/experiments/results/RefreshControl.tsx
  frontend/web/components/experiments/results/__tests__/resultsViewState.test.ts
  frontend/web/components/experiments/results/exposuresViewState.ts
  frontend/web/components/experiments/results/resultsViewState.ts
Labels: front-end

fix: restore MCP tool catalogue from main
  docs/docs/integrating-with-flagsmith/_mcp-tool-catalogue.md
Labels: docs

fix(experimentation): address rollout read review
  api/experimentation/serializers.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(onboarding): accessible names for the copy buttons and flag switch
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/CodeCard.tsx
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/ConnectYourCodePanel.tsx
  frontend/web/components/pages/onboarding/OnboardingFlagsTable/OnboardingFlagsTable.tsx
Labels: front-end

fix(onboarding): preserve tags when renaming the flag
  frontend/web/components/pages/onboarding/hooks/useOnboardingFlagRename.ts
Labels: front-end

feat(experimentation): replace signals with lifecycle hooks on EnvironmentAPIKey
  api/environments/models.py
  api/experimentation/apps.py
  api/experimentation/signals.py
  api/tests/unit/experimentation/test_signals.py
Labels: api

Lock private dependencies
  api/pyproject.toml
  api/uv.lock
Labels: api

feat: renamed white prop and rollout config as legend
  frontend/web/components/base/grid/ContentCard/ContentCard.scss
  frontend/web/components/base/grid/ContentCard/ContentCard.tsx
  frontend/web/components/experiments/RolloutSummary/RolloutSummary.scss
  frontend/web/components/experiments/RolloutSummary/RolloutSummary.tsx
  frontend/web/components/experiments/steps/MeasurementStep.tsx
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/RolloutStep.tsx
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

feat(experiments): show exposures refresh status under the button
  frontend/web/components/experiments/results/ExperimentExposuresPanel.tsx
  frontend/web/components/experiments/results/__tests__/exposuresViewState.test.ts
  frontend/web/components/experiments/results/exposuresViewState.ts
Labels: front-end

feat(experiments): harmonise refresh status messages
  frontend/documentation/components/RefreshControl.stories.tsx
  frontend/web/components/experiments/results/__tests__/exposuresViewState.test.ts
  frontend/web/components/experiments/results/__tests__/resultsViewState.test.ts
  frontend/web/components/experiments/results/exposuresViewState.ts
  frontend/web/components/experiments/results/resultsViewState.ts
Labels: front-end

feat: horizontal legend and consistent variation colour swatches
  frontend/web/components/experiments/RolloutSummary/RolloutSummary.scss
  frontend/web/components/experiments/VariationTable/VariationTable.tsx
Labels: front-end

feat(clickhouse): add ingested_at and source to IDENTITIES
  api/clickhouse/migrations/0002_identities_ingested_at_and_source.py
Labels: api

fix(onboarding): send new users to the onboarding flow, not /create
  frontend/web/components/App.js
Labels: front-end

fix(onboarding): make the flags-table toggle reliable
  frontend/web/components/pages/onboarding/OnboardingFlagsTable/OnboardingFlagsTable.tsx
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/hooks/useOnboardingFlag.ts
Labels: front-end

test(e2e): cover the single-page onboarding flow
  frontend/e2e/tests/onboarding-tests.pw.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
