Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(tokens): remove text-on-fill token that breaks naming convention
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/DecisionFramework.mdx
  frontend/documentation/MotionTokens.stories.tsx
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tokens): auto-generate utility classes from tokens.json
  frontend/documentation/TokenMaintenance.mdx
  frontend/package.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
Labels: front-end

fix(tokens): remove stale space/SpaceScale exports from theme barrel
  frontend/common/theme/index.ts
Labels: front-end

fix(tokens): remove font tokens — typography direction not yet decided
  frontend/common/theme/tokens.json
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

fix: restore package-lock.json from main to fix corrupted reference
  frontend/package-lock.json
Labels: front-end

fix(tokens): add icon category to SemanticTokens Storybook story
  frontend/documentation/SemanticTokens.stories.tsx
Labels: front-end

docs(tokens): add OKLCH explanation comment in generator
  frontend/scripts/generate-tokens.mjs
Labels: front-end

chore: remove RequireFeatureOwnershipSetting from design system PR
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/RequireFeatureOwnershipSetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/index.tsx
Labels: front-end

docs: add Storybook-first rule to UI patterns context
  frontend/.claude/context/ui-patterns.md
Labels: front-end

feat(tokens): add full primitive palette to tokens.json
  frontend/common/theme/tokens.json
  frontend/web/styles/_primitives.scss
Labels: front-end

feat(tokens): reference primitives via var() and OKLCH in generated output
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_tokens.scss
Labels: front-end

chore: update package-lock.json after rebase
  frontend/package-lock.json
Labels: front-end

refactor(payment): remove store dependencies, pass data via props
  frontend/web/components/modals/payment/Payment.tsx
  frontend/web/components/modals/payment/PaymentButton.tsx
  frontend/web/components/modals/payment/PricingPanel.tsx
  frontend/web/components/modals/payment/hooks/usePaymentState.ts
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

refactor(payment): replace react-async-script with useScript hook
  frontend/common/hooks/useScript.ts
  frontend/web/components/modals/payment/chargebee.ts
  frontend/web/components/modals/payment/constants.ts
  frontend/web/components/modals/payment/index.tsx
Labels: front-end

feat: backend-oauth-consent-screen
  api/app/urls.py
  api/oauth2_metadata/serializers.py
  api/oauth2_metadata/views.py
  api/oauth2_test_server.mjs
  api/tests/unit/oauth2_metadata/test_authorize_view.py
Labels: api

feat: parametrize-tests
  api/tests/unit/oauth2_metadata/test_authorize_view.py
Labels: api

refactor(payment): remove Utils dependency, pass derived values as props
  frontend/global.d.ts
  frontend/web/components/modals/payment/Payment.tsx
  frontend/web/components/modals/payment/chargebee.ts
  frontend/web/components/modals/payment/types.ts
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
Labels: front-end

WIP: support Azure managed identities
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
Labels: api

docs: Align spec with epic — drop custom fields and integrations
  docs/docs/administration-and-security/data-management/bulk-import-and-export.md
Labels: docs

deps: bump flagsmith-common to 3.6.0
  api/app/settings/common.py
  api/poetry.lock
Labels: api

fix: pre-import opentelemetry.trace before pyfakefs can intercept
  api/conftest.py
Labels: api

fix(gitlab): resolve mypy strict errors in client tests
  api/tests/unit/integrations/gitlab/test_unit_gitlab_client.py
Labels: api

test(gitlab): add validation tests for PaginatedQueryParams
  api/tests/unit/integrations/gitlab/test_unit_gitlab_client.py
Labels: api

fix(gitlab): add missing GWT comment for lint compliance
  api/tests/unit/integrations/gitlab/test_unit_gitlab_client.py
Labels: api

feat: linting
  api/oauth2_metadata/views.py
  api/tests/unit/oauth2_metadata/test_authorize_view.py
Labels: api

fix(gitlab): use separate GWT comments for lint compliance
  api/tests/unit/integrations/gitlab/test_unit_gitlab_client.py
Labels: api

feat: addressed-review-comments
  api/app/settings/common.py
  api/tests/unit/oauth2_metadata/test_dcr.py
  api/tests/unit/oauth2_metadata/test_services.py
Labels: api

fix(gitlab): use exact GWT comment format for linter
  api/tests/unit/integrations/gitlab/test_unit_gitlab_client.py
Labels: api

feat(gitlab): add configuration persistence, views, and resource browsing
  api/conftest.py
  api/features/feature_external_resources/migrations/0003_add_gitlab_resource_types.py
  api/features/feature_external_resources/models.py
  api/integrations/gitlab/constants.py
  api/integrations/gitlab/exceptions.py
  api/integrations/gitlab/migrations/0001_initial.py
  api/integrations/gitlab/models.py
  api/integrations/gitlab/permissions.py
  api/integrations/gitlab/serializers.py
  api/integrations/gitlab/views.py
  api/projects/code_references/migrations/0003_add_gitlab_vcs_provider.py
  api/projects/code_references/types.py
  api/projects/tags/migrations/0009_add_gitlab_tag_type.py
  api/projects/tags/models.py
  api/projects/urls.py
  api/tests/unit/integrations/gitlab/test_unit_gitlab_views.py
Labels: api

feat: lint
  api/tests/unit/oauth2_metadata/test_services.py
Labels: api

fix(gitlab): remove dead IntegrityError handling for coverage
  api/integrations/gitlab/views.py
Labels: api

deps: bump flagsmith-common to 3.6.1
  api/poetry.lock
Labels: api

feat: lint
  api/tests/unit/oauth2_metadata/test_authorize_view.py
Labels: api

fix(gitlab): remove unused exceptions module for coverage
  api/integrations/gitlab/exceptions.py
Labels: api

feat(gitlab): add webhook handling, tagging, and shared VCS module
  api/api/urls/v1.py
  api/integrations/github/github.py
  api/integrations/gitlab/constants.py
  api/integrations/gitlab/mappers.py
  api/integrations/gitlab/services.py
  api/integrations/gitlab/tasks.py
  api/integrations/gitlab/views.py
  api/integrations/vcs/__init__.py
  api/integrations/vcs/comments.py
  api/integrations/vcs/constants.py
  api/integrations/vcs/helpers.py
  api/tests/unit/integrations/gitlab/test_unit_gitlab_services.py
Labels: api

feat: frontend-oauth-implementation
  frontend/common/services/useOAuthAuthorize.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/pages/OAuthAuthorizePage.tsx
  frontend/web/main.js
  frontend/web/routes.js
Labels: front-end

test(gitlab): add tests for tasks, mappers, and shared VCS modules
  api/tests/unit/integrations/gitlab/test_unit_gitlab_mappers.py
  api/tests/unit/integrations/gitlab/test_unit_gitlab_tasks.py
  api/tests/unit/integrations/vcs/__init__.py
  api/tests/unit/integrations/vcs/test_unit_vcs_comments.py
  api/tests/unit/integrations/vcs/test_unit_vcs_helpers.py
Labels: api

fix(gitlab): fix test naming and GWT comments for linter
  api/tests/unit/integrations/gitlab/test_unit_gitlab_services.py
  api/tests/unit/integrations/gitlab/test_unit_gitlab_tasks.py
Labels: api

feat: misc-minor-improvements
  frontend/web/components/pages/OAuthAuthorizePage.tsx
Labels: front-end

feat: guard-against-500-and-comments
  api/oauth2_metadata/views.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
