Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

let there be data
  api/environments/migrations/0038_add_first_evaluated_fields.py
  api/environments/models.py
Labels: api

Fix #7983: Add EDGE_IDENTITY to allowed integration audit events
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_signals.py
Labels: api

Potential fix for pull request finding
  api/tests/unit/audit/test_unit_audit_signals.py
Labels: api

feat: stateless warehouse connection test endpoint
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

feat(onboarding): fire First Project/Feature milestone events from bootstrap
  frontend/web/components/pages/onboarding/hooks/bootstrapOnboarding.ts
Labels: front-end

feat(onboarding): add new-flow diagnostics events
  frontend/common/constants.ts
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/ConnectWithAiPanel.tsx
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/OnboardingConnectPanel.tsx
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/hooks/useOnboardingFlag.ts
Labels: front-end

feat(onboarding): tag onboarding_variant at the getting-started gate
  frontend/common/utils/getOnboardingVariant.ts
  frontend/web/components/pages/onboarding/GettingStartedGate.tsx
Labels: front-end

green stuff
  api/environments/onboarding/__init__.py
  api/environments/onboarding/serializers.py
  api/environments/onboarding/tasks.py
  api/environments/onboarding/urls.py
  api/environments/onboarding/views.py
  api/environments/urls.py
Labels: api

go international 🌐
  api/environments/models.py
  api/environments/onboarding/tasks.py
  api/tests/unit/conftest.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/engine_models/environments/models.py
  api/util/mappers/engine.py
  api/util/mappers/sdk.py
Labels: api

🪵
  api/environments/onboarding/tasks.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

nah
  api/environments/models.py
  api/environments/onboarding/tasks.py
  api/tests/unit/conftest.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: api

refactor(styles): split the escaping change out to #8062
  frontend/common/code-help/create-user/create-user-next.js
  frontend/common/code-help/create-user/create-user-react.js
  frontend/common/code-help/init/init-next-app-router.js
  frontend/common/code-help/init/init-next-pages-router.js
  frontend/common/code-help/init/init-react.js
  frontend/common/code-help/traits/traits-next.js
  frontend/common/code-help/traits/traits-react.js
  frontend/web/components/CodeHelp.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/integrations/mcp/MCPSnippet.tsx
Labels: front-end

yay anyway
  api/app_analytics/constants.py
  api/app_analytics/mappers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

404
  api/environments/onboarding/views.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
Labels: api

clone but offboard it
  api/environments/models.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: api

fix api spec
  api/environments/onboarding/views.py
Labels: api

Add audit logs for project creation and deletion
  api/audit/constants.py
  api/audit/related_object_type.py
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

fix(experimentation): keep ingestion infra row on org soft-delete so teardown runs
  api/experimentation/migrations/0011_organisation_ingestion_infrastructure.py
  api/experimentation/models.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

Potential fix for pull request finding
  api/projects/views.py
Labels: api

Update api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

Wrap project deletion in a transaction to ensure atomicity
  api/projects/views.py
Labels: api

Fix syntax error in AuditLog creation for master API key users
  api/projects/views.py
Labels: api

Refactor AuditLog author assignment for master API key users
  api/projects/views.py
Labels: api

Add check for master API key user in project creation
  api/projects/views.py
Labels: api

Set project to None in AuditLog creation for master API key users
  api/projects/views.py
Labels: api

fix: document stateless test endpoint response schema
  api/experimentation/views.py
  openapi.yaml
Labels: api

fix(organisations): treat self-hosted licence as paid
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

test(organisations): assert licence entitlement contract
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

fix: stable schema name for warehouse connection status enum
  api/app/settings/common.py
  openapi.yaml
Labels: api

feat(experimentation): enable Firehose CloudWatch error logging
  api/experimentation/ingestion_infra_service.py
  api/tests/unit/experimentation/test_ingestion_infra_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: test ClickHouse connection before saving warehouse config
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseConfig.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

fix: address review feedback on warehouse frontend
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehouseFormUtils.ts
Labels: front-end

feat: ClickHouse warehouse config form
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseConfig.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
Labels: front-end

feat: allow saving warehouse config after failed connection test
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
Labels: front-end

feat: surface warehouse connection status detail in the frontend
  frontend/common/types/responses.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat: ClickHouse warehouse setup flow behind clickhouse_warehouse flag
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseConnectionCard.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseSetup.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/index.tsx
Labels: front-end

feat: ClickHouse warehouse connection types in frontend API layer
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

fix: address warehouse form review feedback
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehouseFormUtils.ts
Labels: front-end

feat(tokens): add strong success/danger surface tokens
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

fix: toast warehouse test results and align inline messages under buttons
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
