Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Add created_by to MasterAPIKey model and prevent API Keys from creating other API Keys
  api/api_keys/migrations/0004_add_created_by.py
  api/api_keys/models.py
  api/api_keys/views.py
  api/tests/integration/api_keys/test_viewset.py
Labels: api

Add created_by to serializer
  api/api_keys/serializers.py
Labels: api

infra: Remove unnecessary throttle rate (#6843)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
Labels: infrastructure

infra: Remove unnecessary throttle rate (#6843)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
Labels: infrastructure

fix: Update test to match removed org name from log message
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix: filter for docker-build-test-publish e2e
  .github/workflows/platform-docker-build-test-publish.yml
Labels: none

fix: filter for docker-build-test-publish e2e (#6847)
  .github/workflows/platform-docker-build-test-publish.yml
Labels: none

fix: filter for docker-build-test-publish e2e (#6847)
  .github/workflows/platform-docker-build-test-publish.yml
Labels: none

Fix flaky integration test that was reliant on non-deterministic ordering
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api

Fix flaky unit test that failed if the hashed percentage was 99
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

Use mvfo instead of value id
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api

fix(Logging): Omit org name from logging (#6842)
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix(Logging): Omit org name from logging (#6842)
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Add new column to table in the FE
  frontend/web/components/AdminAPIKeys.js
Labels: front-end

docs(k8s): add HTTPRoutes support
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Labels: docs

Remove logging
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

fix: reuse DynamoEnvironmentWrapper in DynamoIdentityWrapper (#6813)
  api/environments/dynamodb/migrator.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/tasks.py
  api/tests/unit/environments/dynamodb/test_unit_migrator.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

fix: reuse DynamoEnvironmentWrapper in DynamoIdentityWrapper (#6813)
  api/environments/dynamodb/migrator.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/tasks.py
  api/tests/unit/environments/dynamodb/test_unit_migrator.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

Fix #6841
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
Labels: api

chore: Add design system audit report for #6606
  frontend/DESIGN_SYSTEM_AUDIT.md
  frontend/DESIGN_SYSTEM_AUDIT_PLAN.md
Labels: front-end

docs: update audit plan and add visual inventory guide
  frontend/DESIGN_SYSTEM_AUDIT_PLAN.md
  frontend/DESIGN_SYSTEM_INVENTORY_GUIDE.md
Labels: front-end

chore(storybook): set up Storybook 8.6.17 for design system documentation
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat(design-system): add semantic design tokens as CSS custom properties
  frontend/common/theme/index.ts
  frontend/common/theme/tokens.ts
  frontend/web/styles/_tokens.scss
  frontend/web/styles/styles.scss
Labels: front-end

docs(storybook): add stories documenting design system audit findings
  frontend/stories/Buttons.stories.tsx
  frontend/stories/ColourPalette.stories.tsx
  frontend/stories/Colours.stories.tsx
  frontend/stories/DarkModeIssues.stories.tsx
  frontend/stories/Icons.stories.tsx
  frontend/stories/Typography.stories.tsx
Labels: front-end

docs(design-system): add 26 actionable issue templates from audit
  frontend/design-system-issues/LR-1-break-up-icon-tsx.md
  frontend/design-system-issues/LR-2-semantic-colour-tokens.md
  frontend/design-system-issues/LR-3-modal-system-migration.md
  frontend/design-system-issues/LR-4-standardise-tables-lists.md
  frontend/design-system-issues/LR-5-remove-legacy-js-components.md
  frontend/design-system-issues/LR-6-formal-colour-palette.md
  frontend/design-system-issues/LR-7-full-dark-mode-audit.md
  frontend/design-system-issues/LR-8-standardise-typography.md
  frontend/design-system-issues/ME-1-consolidate-confirm-remove-modals.md
  frontend/design-system-issues/ME-10-typography-inconsistencies.md
  frontend/design-system-issues/ME-2-button-dark-mode-gaps.md
  frontend/design-system-issues/ME-3-convert-input-to-typescript.md
  frontend/design-system-issues/ME-4-toast-dark-mode.md
  frontend/design-system-issues/ME-5-unify-dropdowns.md
  frontend/design-system-issues/ME-6-checkbox-switch-dark-mode.md
  frontend/design-system-issues/ME-7-consolidate-svg-icon-components.md
  frontend/design-system-issues/ME-8-storybook-a11y-addon.md
  frontend/design-system-issues/ME-9-expand-a11y-coverage.md
  frontend/design-system-issues/QW-1-icon-currentcolor.md
  frontend/design-system-issues/QW-2-hardcoded-1a2634-in-components.md
  frontend/design-system-issues/QW-3-chart-axis-dark-mode.md
  frontend/design-system-issues/QW-4-release-pipeline-colours.md
  frontend/design-system-issues/QW-5-remove-ionicons.md
  frontend/design-system-issues/QW-6-hardcoded-icon-fills.md
  frontend/design-system-issues/QW-7-a11y-tests-ci.md
  frontend/design-system-issues/QW-8-semi-bold-bug.md
Labels: front-end

docs(design-system): add design system issues summary
  frontend/DESIGN_SYSTEM_ISSUES.md
Labels: front-end

fix: update-env-state-on-metadata-update (#6831)
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
Labels: front-end

fix: update-env-state-on-metadata-update (#6831)
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
Labels: front-end

feat(experiment): init-internal-flagsmith-instance-with-analytics-config
  frontend/api/index.js
  frontend/common/loadChat.ts
  frontend/common/providers/ConfigProvider.js
  frontend/common/stores/config-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/useViewMode.ts
  frontend/common/utils/utils.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Announcement.tsx
  frontend/web/components/AnnouncementPerPage.tsx
  frontend/web/components/JSONReference.tsx
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/project/api.ts
  frontend/web/project/libs.js
Labels: front-end

feat: bump-internal-version
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat: bump-to-internal-3
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat: store-created-at-in-identity-override-v2-document
  api/environments/dynamodb/types.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_services.py
Labels: api

docs(k8s): add HTTPRoutes support (#6854)
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Labels: docs

docs(k8s): add HTTPRoutes support (#6854)
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Labels: docs

fix: added-dedicated-test-to-created-at-in-env-document
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
Labels: api

Add failing test
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
Labels: api

Fix N+1 issue
  api/environments/managers.py
Labels: api

Tidy and fix test
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
Labels: api

fix: `/api/v1/environment-document` N+1 query issue related to the number of segment overrides in a version (#6865)
  api/environments/managers.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
Labels: api

fix: `/api/v1/environment-document` N+1 query issue related to the number of segment overrides in a version (#6865)
  api/environments/managers.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
Labels: api
