Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix(onboarding): Onboarding marker PUT too restrictive
  api/environments/onboarding/serializers.py
Labels: api

test(versioning): Cover latest-version selection for overrides and filtered flags
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

fix: clickhouse form follow-ups: trim inputs, inline port error, single failure message, no password autofill
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseConfig.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
Labels: front-end

fix: aria wiring on port error and numeric port dirty comparison
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/clickhouseConfig.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/clickhouseConfig.ts
Labels: front-end

fix: rename autocomplete prop to standard autoComplete after input refactor
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
Labels: front-end

refactor: use FieldError primitive for the inline port error
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/ClickHouseConfigForm.tsx
Labels: front-end

feat(experiments): colour lift by the metric's higher/lower-is-better direction
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_experiment_metric_views.py
  frontend/common/types/responses.ts
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end, api

feat: expose metric direction on experiment metrics API
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_experiment_metric_views.py
Labels: api

feat: colour experiment lift by metric direction
  frontend/common/types/responses.ts
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

fix: constrain metric direction to its choices in the API schema
  api/experimentation/serializers.py
Labels: api

fix: make experiment metric direction optional with up fallback
  frontend/common/types/responses.ts
  frontend/web/components/experiments/results/ExperimentMetricScorecard.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

improve GWT
  api/README.md
Labels: api

feat(forms): add SelectField for labelled, accessible selects
  frontend/SELECT_FIELD_MIGRATION.md
  frontend/documentation/components/SelectField.stories.tsx
  frontend/web/components/base/forms/SelectField.tsx
Labels: front-end

docs(forms): note the Select E2E fork-drop as a sequenced follow-up
  frontend/SELECT_FIELD_MIGRATION.md
Labels: front-end

docs(forms): prefer a11y/role selectors for the Select E2E follow-up
  frontend/SELECT_FIELD_MIGRATION.md
Labels: front-end

human slop
  api/README.md
Labels: api

feat(Segment Membership): Add identity watermark view and refresh-state model
  api/clickhouse/migrations/0004_identities_env_watermark.py
  api/segment_membership/migrations/0003_segment_membership_refresh_state.py
  api/segment_membership/models.py
Labels: api

feat(Segment Membership): Skip count refresh for unchanged projects
  api/app/settings/common.py
  api/segment_membership/metrics.py
  api/segment_membership/services.py
  api/segment_membership/tasks.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

feat(trust-relationships): Add TrustRelationship model and org-scoped CRUD API
  Dockerfile
  api/api_keys/views.py
  api/app/settings/common.py
  api/organisations/models.py
  api/organisations/urls.py
  api/tests/integration/trust_relationships/__init__.py
  api/tests/integration/trust_relationships/conftest.py
  api/tests/integration/trust_relationships/test_viewset.py
  api/tests/unit/trust_relationships/__init__.py
  api/tests/unit/trust_relationships/test_services.py
  api/trust_relationships/__init__.py
  api/trust_relationships/admin.py
  api/trust_relationships/apps.py
  api/trust_relationships/migrations/0001_initial.py
  api/trust_relationships/migrations/__init__.py
  api/trust_relationships/models.py
  api/trust_relationships/serializers.py
  api/trust_relationships/services.py
  api/trust_relationships/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

fix(OIDC): Trust relationship path params typed as string in OpenAPI
  api/trust_relationships/views.py
  openapi.yaml
Labels: api

refactor(OIDC): Share master-API-key authentication exclusion mixin
  api/api_keys/views.py
  api/trust_relationships/views.py
Labels: api

fix(OIDC): Django admin delete leaves backing key live and hidden
  api/tests/unit/trust_relationships/test_admin.py
  api/trust_relationships/admin.py
Labels: api

fix(OIDC): Token exchange rejects issuers with a trailing slash
  api/tests/unit/trust_relationships/test_token_exchange.py
  api/trust_relationships/oidc.py
  api/trust_relationships/services.py
Labels: api

feat(OIDC): Add help_text to trust relationship model columns
  api/trust_relationships/migrations/0001_initial.py
  api/trust_relationships/models.py
  openapi.yaml
Labels: api

perf(OIDC): Avoid N+1 on organisation in trust relationship admin list
  api/trust_relationships/admin.py
Labels: api

feat(trust-relationships): Add OIDC token exchange endpoint
  api/api_keys/views.py
  api/app/settings/common.py
  api/app/settings/test.py
  api/custom_auth/urls.py
  api/tests/integration/trust_relationships/test_token_exchange.py
  api/tests/test_helpers.py
  api/tests/unit/trust_relationships/conftest.py
  api/tests/unit/trust_relationships/test_authentication.py
  api/tests/unit/trust_relationships/test_oidc.py
  api/tests/unit/trust_relationships/test_services.py
  api/tests/unit/trust_relationships/test_token_exchange.py
  api/trust_relationships/authentication.py
  api/trust_relationships/constants.py
  api/trust_relationships/dataclasses.py
  api/trust_relationships/exceptions.py
  api/trust_relationships/oidc.py
  api/trust_relationships/serializers.py
  api/trust_relationships/services.py
  api/trust_relationships/types.py
  api/trust_relationships/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  openapi.yaml
Labels: docs, api

feat(trust-relationships): Add API Access tab with trust relationships UI
  frontend/common/services/useMasterAPIKeyWithMasterAPIKeyRole.ts
  frontend/common/services/useTrustRelationship.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/pages/organisation-settings/OrganisationSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/APIKeysTab.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/errors.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/index.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/providers.tsx
Labels: front-end

fix(OIDC): Provider selection cards are not keyboard accessible
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal.tsx
Labels: front-end

fix(OIDC): Freeform trust relationship modal ignores role API failures
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/__tests__/useTrustRelationshipRoles.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/useTrustRelationshipRoles.ts
Labels: front-end

refactor(OIDC): Give each trust relationship component its own folder
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/NewTrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/TrustRelationshipPermissionsFields.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/TrustRelationships.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/WorkflowSetupSnippet.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/index.ts
Labels: front-end

docs: Document OIDC trust relationships and token exchange
  docs/docs/deployment-self-hosting/core-configuration/environment-variables.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/authentication.md
Labels: docs

fix(OIDC): Trust relationship role changes ignore API failures
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm.tsx
Labels: front-end

Add MCP Toplist rank badge
  README.md
Labels: none

fix: send falsy variant values to Mixpanel and Rudderstack integrations
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
Labels: api

test: add None value case to parametrized integration tests
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
Labels: api

test: add empty string case to falsy value parametrized tests
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
Labels: api

feat: show segment rule diffs in audit log change details
  api/audit/serializers.py
  api/segments/audit_helpers.py
  api/segments/models.py
  api/tests/unit/segments/test_unit_segments_audit_helpers.py
Labels: api

feat(experiments): expose metric direction on experiment metrics API (#8098)
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_experiment_metric_views.py
  mcp/src/flagsmith_mcp/openapi.json
  openapi.yaml
Labels: api

docs: add inline comments documenting the value-mapping contract
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
Labels: api

fix(docs): Google Tag Manager is not loading (#8094)
  docs/docusaurus.config.ts
Labels: docs

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
