Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(experimentation): expire warehouse delivery logs after 60 days
  api/experimentation/constants.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: widen the winning variation card only for long names
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
Labels: front-end

refactor: address review feedback on fit-to-width and stat cards
  frontend/web/components/experiments/results/StatCard.tsx
  frontend/web/components/experiments/results/VariantName.tsx
  frontend/web/components/experiments/results/derive.ts
  frontend/web/components/experiments/results/results.scss
  frontend/web/components/hooks/useFitText.ts
Labels: front-end

feat(experimentation): index delivery logs by created_at for retention cleanup
  api/experimentation/migrations/0012_warehouse_delivery_log.py
  api/experimentation/models.py
Labels: api

refactor(experimentation): make delivery log rows_count non-nullable
  api/experimentation/migrations/0012_warehouse_delivery_log.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

Revert "refactor(experimentation): make delivery log rows_count non-nullable"
  api/experimentation/migrations/0012_warehouse_delivery_log.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

feat: Log per-object warehouse delivery outcomes (#8170)
  api/experimentation/constants.py
  api/experimentation/migrations/0012_warehouse_delivery_log.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: hedge extreme win probabilities
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
Labels: front-end

refactor(api-keys): use the organisationId already passed in
  frontend/web/components/AdminAPIKeys.js
Labels: front-end

feat(invite): ask a signed-in user before joining, instead of signing them out
  frontend/e2e/tests/invite-test.pw.ts
  frontend/web/components/pages/InvitePage.js
  frontend/web/components/pages/InvitePage.tsx
  frontend/web/main.js
Labels: front-end

refactor(styles): one token for every link colour
  frontend/web/styles/components/_list-item.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(styles): let the panel link colour survive hover in dark mode
  frontend/web/styles/components/_panel.scss
Labels: front-end

style(styles): blank line before the panel hover comment
  frontend/web/styles/components/_panel.scss
Labels: front-end

reversed CR ordering
  api/features/workflows/core/migrations/0013_some_useful_name.py
  api/features/workflows/core/models.py
Labels: api

spike(usage): build full S1 (healthy) design as prototype
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.scss
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

spike(usage): prototype billing-aligned usage view to scope BE work
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.scss
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/index.ts
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

fix(usage): correct current-billing-period range for annual plans
  api/app_analytics/analytics_db_service.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
Labels: api

spike(usage): move period/project filters into header, center the page
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.scss
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

spike(usage): pin chart y-axis to the plan limit
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
Labels: front-end

spike(usage): use semantic colour tokens for dark-mode support
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.scss
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
Labels: front-end

spike(usage): add top padding above the Usage header
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

spike(usage): keep the 100% notify label inside the panel
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.scss
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
Labels: front-end

spike(usage): drop environment filter, keep project only
  frontend/web/components/organisation-settings/usage/components/UsageChartFilters.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

spike(usage): cover every state with fixture data (#8184)
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/GraceChip.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBanner.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.scss
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototypePage.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageChart.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageNotifications.tsx
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/fixtures.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/format.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/index.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/types.ts
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/usePrototypeUsage.ts
  frontend/web/components/organisation-settings/usage/components/UsageChartFilters.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

spike(usage): drop legacy By Endpoint/SDK nav, keep project/env filters
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBillingPrototype.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
Labels: front-end

removed old comment
  api/features/workflows/core/models.py
Labels: api

renamed migration
  api/features/workflows/core/migrations/0013_reverse_change_request_ordering.py
Labels: api

added rbac to enterprise and scale-up plan banner
  docs/docs/administration-and-security/access-control/rbac.md
Labels: docs

fix(api): DCR rejects client names containing colons
  api/oauth2_metadata/serializers.py
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

fix: clear in-memory theme choice on external storage removal
  frontend/web/project/darkMode.ts
Labels: front-end

fix(API): enforce lower case feature names on the backend
  api/features/serializers.py
  api/projects/models.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/projects/test_unit_projects_models.py
Labels: api

fix(integrations): notify messaging integrations on identity flag overrides
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_signals.py
Labels: api

fix(api): DCR rejects client names containing colons (#8194)
  api/oauth2_metadata/serializers.py
  api/tests/unit/oauth2_metadata/test_dcr.py
Labels: api

fix(Multivariate): API accepts multivariate percentage splits over 100% (#8151)
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

fix(Utils): coerce non-string values before split in validateRule
  frontend/common/utils/__tests__/utils.test.ts
  frontend/common/utils/utils.tsx
Labels: front-end

fix(api): update-traits returns 400 for malformed request body
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api

test(Utils): assert validateRule returns false for non-string values
  frontend/common/utils/__tests__/utils.test.ts
Labels: front-end

fix(auth): disable Google sign-in button until OAuth script is ready
  frontend/web/components/GoogleButton.tsx
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

fix(Multivariate): creating an option without default_percentage_allocation returns 500
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

fix(Features): add remove option to feature settings panel
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
