Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix: undefined-mv-for-segment-override
  frontend/common/stores/feature-list-store.ts
Labels: front-end

docs: update atomic patch reproduction plan
  ATOMIC_PATCH_ISSUE_PLAN.md
Labels: none

docs: revise atomic patch plan for integration repro
  ATOMIC_PATCH_ISSUE_PLAN.md
Labels: none

docs: clarify integration repro assertion
  ATOMIC_PATCH_ISSUE_PLAN.md
Labels: none

test: add integration repro for segment patch race
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: use admin master key for segment patch
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: create api key client in test
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: patch with admin client in thread
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: create master api key for patch
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: use transactional db for threaded patch
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: document segment patch repro
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: add context comment for race repro
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

Refactor Constants.environmentPermissions usages
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/feature-override/FeatureOverrideCTA.tsx
  frontend/web/components/modals/FlagValueFooter.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/TagValues.tsx
Labels: front-end

fix(segments): avoid empty rule matches
  api/segments/serializers.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

test: add typing for integration repro
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

test: fix typing for integration repro
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

docs: remove atomic patch issue plan
  ATOMIC_PATCH_ISSUE_PLAN.md
Labels: none

docs: add atomic patch plan
  ATOMIC_PATCH_ISSUE_PLAN.md
Labels: none

test: add integration repro for segment patch race
  api/tests/integration/environments/identities/test_integration_segment_patch_atomic.py
Labels: api

fix(segments): use REPEATABLE READ isolation for segment cache queries
  api/environments/models.py
  api/projects/services.py
  api/tests/unit/projects/test_unit_projects_models.py
Labels: api

chore: remove atomic patch plan document
  ATOMIC_PATCH_ISSUE_PLAN.md
Labels: none

fix: create change request with mv in v2 (#6515)
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

fix: create change request with mv in v2 (#6515)
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

chore: remove Azure Application Insights integration
  api/app/settings/common.py
  api/integrations/opencensus/__init__.py
  api/integrations/opencensus/middleware.py
  api/integrations/opencensus/querylogger.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/integrations/opencensus/test_unit_opencensus_middleware.py
  api/tests/unit/integrations/opencensus/test_unit_opencensus_querylogger.py
Labels: api

fix: remove Azure Application Insights integration (#6530)
  api/app/settings/common.py
  api/integrations/opencensus/__init__.py
  api/integrations/opencensus/middleware.py
  api/integrations/opencensus/querylogger.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/integrations/opencensus/test_unit_opencensus_middleware.py
  api/tests/unit/integrations/opencensus/test_unit_opencensus_querylogger.py
Labels: api

fix: remove Azure Application Insights integration (#6530)
  api/app/settings/common.py
  api/integrations/opencensus/__init__.py
  api/integrations/opencensus/middleware.py
  api/integrations/opencensus/querylogger.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/integrations/opencensus/test_unit_opencensus_middleware.py
  api/tests/unit/integrations/opencensus/test_unit_opencensus_querylogger.py
Labels: api

deps: upgrade-flagsmith-to-latest-version (#6405)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

deps: upgrade-flagsmith-to-latest-version (#6405)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

fix: removed-hover-class-on-color
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Labels: front-end

fix: improve _is_user_object_admin query performance
  api/permissions/permission_service.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/permissions/permission_service/conftest.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
Labels: api

ci: add frontend PR workflow with unit tests
  .github/workflows/frontend-pull-request.yml
Labels: none

fix(ci): address PR review feedback
  .github/workflows/frontend-deploy-production.yml
  frontend/jest.config.js
  frontend/package-lock.json
Labels: front-end

feat(testing): add Jest unit testing infrastructure
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package.json
Labels: front-end

test(format): add unit tests and clean up redundant .toString() calls
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

refactor(format): add moment import and fix money function types
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.ts
Labels: front-end

chore(ci): align checkout action to v5 in both workflows
  .github/workflows/frontend-pull-request.yml
Labels: none

fix(ci): add permissions block to frontend-pull-request workflow
  .github/workflows/frontend-pull-request.yml
Labels: none

refactor(test): consolidate unit tests using it.each for readability
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/__tests__/format.test.ts
Labels: front-end

feat: edit versioned change request (#6368)
  frontend/common/providers/withSegmentOverrides.js
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

Fix conflict
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
