Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

fix(api): evaluate webhook segment membership once, ignoring identity overrides
  api/integrations/webhook/serializers.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/integrations/test_unit_integration.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
Labels: api

refactor(api): type a feature state's stored value as a FeatureValue
  api/features/models.py
Labels: api

refactor(api): serialise evaluated flags from EvaluatedFeatureState
  api/environments/identities/views.py
  api/evaluation/mappers.py
  api/evaluation/results.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/serializers.py
  api/features/views.py
  api/integrations/amplitude/amplitude.py
  api/integrations/common/wrapper.py
  api/integrations/heap/heap.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/segment/segment.py
  api/integrations/webhook/serializers.py
  api/integrations/webhook/webhook.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
  api/tests/unit/integrations/segment/test_unit_segment.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
Labels: api

test(api): hardcode paths in new tests
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

refactor(api): name evaluated feature states as such in the flags views
  api/environments/identities/views.py
  api/features/views.py
Labels: api

deslop
  api/environments/identities/models.py
  api/evaluation/types.py
  api/features/models.py
  api/features/serializers.py
Labels: api

test(api): account for an identity's traits now being read once per request
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

feat(api): evaluate identity flags through flag-engine
  api/environments/identities/models.py
  api/environments/identities/views.py
  api/environments/sdk/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/serializers.py
  api/features/views.py
  api/integrations/amplitude/amplitude.py
  api/integrations/heap/heap.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/segment/segment.py
  api/integrations/webhook/serializers.py
  api/tests/conftest.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/types.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/test_unit_integration.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

fix(api): read the split weight only from a split reason
  api/evaluation/results.py
  api/tests/unit/evaluation/test_unit_evaluation_results.py
Labels: api

deslop
  api/evaluation/types.py
Labels: api

refactor(api): map evaluated flags to integration properties in one place
  api/integrations/amplitude/amplitude.py
  api/integrations/common/mappers.py
  api/integrations/heap/heap.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/segment/segment.py
  api/tests/unit/integrations/common/test_unit_integrations_common_mappers.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
Labels: api

perf(api): skip multivariate values when evaluating without an identity
  api/evaluation/mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

refactor(tags): pass the tag to renderIcon
  frontend/web/components/tags/TagContent.tsx
Labels: front-end

test(api): hardcode paths in new tests
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

feat(api): serve edge identity override values through flag-engine
  api/edge_api/identities/models.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/utils.py
  api/evaluation/services.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/util/engine_models/features/models.py
  api/util/engine_models/utils/hashing.py
Labels: api

feat(api): evaluate edge identity flags through flag-engine
  api/edge_api/identities/models.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/identities/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/types.py
  api/features/views.py
  api/segments/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/util/engine_models/context/test_unit_context_mappers.py
  api/util/engine_models/context/mappers.py
Labels: api

test(api): cover variants on an edge identity override
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
Labels: api

fix(api): import TypeVar from typing_extensions for Python < 3.13
  api/evaluation/types.py
Labels: api

feat(api): Evaluate edge identity flags through flag-engine (#8575)
  api/edge_api/identities/models.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/utils.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/identities/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/evaluation/types.py
  api/features/models.py
  api/features/types.py
  api/features/views.py
  api/segments/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/util/engine_models/context/test_unit_context_mappers.py
  api/util/engine_models/context/mappers.py
  api/util/engine_models/features/models.py
  api/util/engine_models/utils/hashing.py
Labels: api

test(api): account for the segments read on environment flags
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(api): cover a flag dependency through POST /identities
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api

feat(api): leave segments reading traits or identity context out of environment flags
  api/evaluation/services.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(api): hardcode paths in new tests
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(api): admit bracket-notation `$.environment` and `$.flags` conditions in environment flags
  api/evaluation/services.py
Labels: api

fix(api): keep returning 404 for an empty feature filter on environment flags
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

chore(api): bump flagsmith-flag-engine to 11.1.0
  api/pyproject.toml
  api/uv.lock
Labels: api

feat(api): evaluate environment flags through flag-engine
  api/evaluation/services.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

test(api): cover environment flags through a flag dependency
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(api): hide server-key-only flags after evaluating
  api/environments/identities/views.py
  api/environments/sdk/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/features/views.py
  api/tests/unit/environments/sdk/test_unit_sdk_serializers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

refactor(api): name evaluated feature states as such in the environment flags view
  api/features/views.py
Labels: api

feat(api): return all environment flags for an empty feature filter, as Edge API does
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

docs(api): describe which segments can match environment flags
  api/evaluation/services.py
Labels: api

refactor(tags): drop the dot's dead props
  frontend/web/components/tables/TableTagFilter.tsx
Labels: front-end

feat(api): Evaluate segments for environment flags (#8576)
  api/environments/identities/views.py
  api/environments/sdk/serializers.py
  api/evaluation/mappers.py
  api/evaluation/services.py
  api/features/views.py
  api/pyproject.toml
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/sdk/test_unit_sdk_serializers.py
  api/tests/unit/evaluation/test_unit_evaluation_mappers.py
  api/tests/unit/features/test_unit_features_views.py
  api/uv.lock
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(tags): make the create row a button
  frontend/web/components/tags/AddEditTags/AddEditTags.scss
  frontend/web/components/tags/AddEditTags/AddEditTags.tsx
Labels: front-end

refactor: extract useContainClicks
  frontend/common/useContainClicks.ts
  frontend/web/components/base/DropdownMenu.tsx
Labels: front-end

fix(tags): size the permanent padlock to the label
  frontend/web/components/feature-summary/FeatureAction.tsx
  frontend/web/components/tags/TagContent.tsx
Labels: front-end

feat(icons): add lock-outline
  frontend/documentation/components/Icons.stories.tsx
  frontend/web/components/icons/Icon.tsx
  frontend/web/components/tags/TagContent.tsx
Labels: front-end

feat(tags): one always-visible row for making a tag
  frontend/web/components/tags/AddEditTags/AddEditTags.scss
  frontend/web/components/tags/AddEditTags/AddEditTags.tsx
Labels: front-end

fix(LaunchDarkly): Imported startsWith and endsWith conditions match values that only contain the value (#8607)
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__condition_data.csv
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__import_request_status.json
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__rules_data.json
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api
