Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix: align unsaved changes badge in tab buttons across all modals
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-experiment/index.js
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

fix: align unsaved changes badge in Edit Feature modal tabs
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

feat: added-tracking-on-code-references-actions
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoCodeReferencesSection.tsx
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

feat: working-functional-prototype
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
  frontend/web/components/GramChat.tsx
  frontend/web/shims/remark-gfm.cjs
  frontend/webpack.config.js
  frontend/webpack/loaders.js
Labels: front-end

feat: gated-behind-feature-flag-and-auth
  frontend/package.json
  frontend/web/components/App.js
Labels: front-end

feat: use-user-id-instead-of-mail
  frontend/api/index.js
  frontend/package.json
  frontend/web/components/GramChat.tsx
Labels: front-end

feat: tagged-v1-endpoints-for-mcp-usage
  api/features/versioning/views.py
  api/features/views.py
  api/poetry.lock
Labels: api

feat: explicitly-mention-versioning-in-tools-description
  api/features/versioning/views.py
  api/features/views.py
  api/poetry.lock
Labels: api

feat: deps
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

feat: initial-dot-setup
  api/app/settings/common.py
  api/app/urls.py
  api/oauth2_metadata/__init__.py
  api/oauth2_metadata/tasks.py
  api/oauth2_metadata/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/oauth2_metadata/__init__.py
  api/tests/unit/oauth2_metadata/test_views.py
Labels: api

feat: updated-list-environment-feature-description
  api/features/views.py
Labels: api

feat: removed-redundant-endpoint
  api/features/views.py
Labels: api

feat: node-test-application
  api/app/urls.py
  api/oauth2_metadata/views.py
  api/oauth2_test_server.mjs
  api/tests/unit/oauth2_metadata/test_views.py
Labels: api

feat: lint
  api/tests/unit/oauth2_metadata/test_views.py
Labels: api

feat: registered-metadata-for-task-processing
  api/app/settings/common.py
  api/oauth2_metadata/apps.py
  api/oauth2_metadata/tasks.py
Labels: api

feat: updated-url-default
  api/app/settings/common.py
Labels: api

feat: regenerated-open-api-specs
  sdk/openapi.yaml
Labels: none

feat: oauth-only-consumes-authorization-header
  api/app/settings/common.py
  api/oauth2_metadata/authentication.py
Labels: api

fix(ui): replace misleading permission tooltip on segment override variations (#7011)
  frontend/web/components/mv/VariationValueInput.tsx
Labels: front-end

fix(environments): validate project field in POST /api/v1/environments/ (#6599)
  api/environments/permissions/permissions.py
  api/tests/unit/environments/permissions/test_unit_environments_permissions.py
Labels: api

fix(api): handle invalid project IDs when creating environments
  api/tests/unit/environments/permissions/test_unit_environments_permissions.py
Labels: api

feat: removed-unwanted-committed-file
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

fix: dissociated-code-references-gate-from-flag-response
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

fix: add UUIDNaturalKeyManagerMixin to EnvironmentFeatureVersionManager
  api/features/versioning/managers.py
  api/tests/unit/import_export/test_unit_import_export_loaddata.py
Labels: api

feat: tagged-v1-endpoints-for-mcp-usage (#7052)
  api/features/versioning/views.py
  api/features/views.py
Labels: api

fix: usage-tab-is-always-visible
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
Labels: front-end

feat: type-linting
  api/oauth2_metadata/authentication.py
Labels: api

feat: tested-authentication-and-cleartoken-call
  api/tests/unit/oauth2_metadata/test_authentication.py
  api/tests/unit/oauth2_metadata/test_tasks.py
Labels: api

feat: fixed-dependencies-type-errors
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/oauth2_metadata/test_authentication.py
Labels: api

feat: regenerate-openapi-specs
  sdk/openapi.yaml
Labels: none

Improve docker compose to delegate database migrations to a separate service
  docker-compose.yml
Labels: none

Refactor environment variables
  docker-compose.yml
Labels: none

feat: add project setting to enforce feature ownership (#4432)
  api/features/serializers.py
  api/features/views.py
  api/projects/migrations/0028_add_enforce_feature_owners_to_project.py
  api/projects/models.py
  api/projects/serializers.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/projects/test_unit_projects_views.py
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/FeatureOwnerSelect.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/components/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/CreateFeatureTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/EnforceFeatureOwnershipSetting.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/index.tsx
Labels: front-end, api

Remove custom volume suffix used for testing
  docker-compose.yml
Labels: none

fixup: use admin_client_new fixture and extract _validate_enforce_feature_owners
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fixup: fix test names to match 3-part naming convention
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

fix: dissociated-code-references-gate-from-flag-response (#7065)
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
Labels: front-end

feat: regenerated-lock-file-bis
  frontend/package-lock.json
Labels: front-end

deps: react-migration-to-v19 (#6764)
  frontend/.babelrc
  frontend/common/Component.js
  frontend/common/hooks/useCollapsibleHeight.ts
  frontend/common/providers/ConfigProvider.js
  frontend/common/providers/withSegmentOverrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.jest.json
  frontend/tsconfig.json
  frontend/web/components/ChipInput.tsx
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/Tooltip.tsx
  frontend/web/components/base/accordion/AccordionCard.tsx
  frontend/web/components/base/select/multi-select/CustomMultiValue.tsx
  frontend/web/components/base/select/multi-select/CustomOption.tsx
  frontend/web/components/base/select/multi-select/InlineMultiValue.tsx
  frontend/web/components/base/select/multi-select/MultiSelect.tsx
  frontend/web/components/feature-health/components/EventTextBlocks.tsx
  frontend/web/components/modals/InviteUsers.tsx
  frontend/web/components/modals/base/Modal.tsx
  frontend/web/components/modals/base/ModalConfirm.tsx
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
  frontend/web/main.js
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/project/_segments.scss
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

fix: Compose migration race condition
  api/scripts/run-docker.sh
  docker-compose.yml
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
