Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

Update pathFilter to boundary-aware custom function
  frontend/api/dev-routes.js
  frontend/api/index.js
Labels: front-end

docs: address PR review comments
  docs/docs/experimentation/analyse-an-experiment.md
  docs/docs/experimentation/connect-a-warehouse.md
  docs/docs/experimentation/create-an-experiment.md
  docs/docs/experimentation/example-paypal-button.md
Labels: docs

fix: fallback for crypto.randomUUID on plain-HTTP installs
  frontend/common/useSignupExperiment.ts
Labels: front-end

ci(Renovate): Eagerly bump flagsmith-common and flagsmith-private
  renovate.json
Labels: none

more clarity to readers
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/updating-flags.md
Labels: docs

fix: remove dead create-experiment modal and useExperimentResults service
  frontend/common/services/useExperimentResults.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

deps(MCP): Bump flagsmith-common to 3.12, pyfakefs to 6
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/telemetry.py
  mcp/tests/unit/test_telemetry.py
  mcp/uv.lock
Labels: none

fix(API): ModuleNotFoundError importing common.core.otel with flagsmith-common 3.12
  api/pyproject.toml
  api/uv.lock
Labels: api

feat(api): add postprocessing hook to restrict max length
  api/api/openapi.py
Labels: api

feat(api): call postprocessing hook method
  api/app/settings/common.py
Labels: api

feat(tests): add unit tests for testing string's max length
  api/tests/unit/api/test_unit_openapi.py
Labels: api

feat(sdk): define maxLength
  sdk/openapi.yaml
Labels: none

test(experimentation): cover default allocation zeroing under v2 versioning
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

docs: regenerate events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

[ImgBot] Optimize images
  docs/static/img/experimentation/create-experiment-rollout.png
  docs/static/img/experimentation/create-experiment-setup.png
  docs/static/img/experimentation/experiment-results-analysis.png
  docs/static/img/experimentation/experiment-results-overview.png
  docs/static/img/experimentation/warehouse-tab.png
  docs/static/img/permission-hierarchy.svg
  frontend/web/static/images/integrations/mcp.svg
Labels: docs, front-end

fix(experimentation): drop unreachable no-options guard in allocation reset
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

test(experimentation): assert rollout update applies alongside surviving default edit
  api/tests/unit/experimentation/test_services.py
Labels: api

feat: start experiment on free-email detection and track OAuth signups
  frontend/common/stores/account-store.js
  frontend/common/useSignupExperiment.ts
  frontend/web/components/pages/HomePage.tsx
Labels: front-end

feat(auth): surface is_new_user in OAuth login responses
  api/custom_auth/oauth/serializers.py
  api/custom_auth/oauth/views.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_views.py
Labels: api

fix(experimentation): lock experiment row to prevent duplicate rollout segments
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

chore: regenerate OpenAPI schema
  openapi.yaml
Labels: none

fix(experimentation): read rollout state from the locked experiment row
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

chore: drop unused CustomToken schema component
  openapi.yaml
Labels: none

docs: regenerate events catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

ci(E2E): Collapse previous Playwright result entries in the sticky PR comment
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: none

fix(tags): Concurrent system tag creation creates duplicates and wedges integrations
  api/integrations/github/github.py
  api/integrations/github/models.py
  api/projects/tags/migrations/0010_unique_system_tags.py
  api/projects/tags/models.py
  api/tests/unit/integrations/github/test_unit_github_models.py
  api/tests/unit/projects/tags/test_migrations.py
  api/tests/unit/projects/tags/test_unit_projects_tags_models.py
Labels: api

refactor(compare-environments): replace _data fetches with RTK Query
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/types/requests.ts
  frontend/common/utils/recursivePageGet.ts
  frontend/web/components/CompareEnvironments/ExpandedRow.tsx
  frontend/web/components/CompareEnvironments/useEnvironmentComparison.ts
Labels: front-end

feat(compare-environments): improve row interaction, alignment and loading UX
  frontend/web/components/CompareEnvironments/CompareEnvironments.tsx
  frontend/web/components/CompareEnvironments/CompareFeatureRow.tsx
  frontend/web/components/CompareEnvironments/constants.ts
Labels: front-end

chore(tags): Regenerate full OpenAPI schema
  openapi.yaml
Labels: none

fix(tags): Duplicates can reappear between dedupe and constraint creation
  api/projects/tags/migrations/0010_unique_system_tags.py
Labels: api

fix(organisations): Enforce seat limit against licence-derived metadata
  api/organisations/models.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

fix(tests): Patch `Organisation.licence` as a PropertyMock
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

deps(api): update dependency flagsmith-private to >=0.11.1,<1
  api/pyproject.toml
  api/uv.lock
Labels: api

docs: address post-merge review feedback on experimentation guides
  docs/docs/experimentation-ab-testing.md
  docs/docs/experimentation/analyse-an-experiment.md
  docs/docs/experimentation/connect-a-warehouse.md
  docs/docs/experimentation/create-an-experiment.md
  docs/docs/experimentation/create-metrics.md
  docs/docs/experimentation/index.md
  docs/docs/experimentation/run-an-experiment.mdx
  docs/static/img/experimentation/create-metric-form.png
Labels: docs

fix(lint): replace nested ternary in region select value
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(tags): Unique system tags migration breaks non-Postgres vendors
  api/projects/tags/migrations/0010_unique_system_tags.py
Labels: api

fix(integrations): address review feedback on region presets
  frontend/common/stores/default-flags.ts
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(integrations): normalise custom New Relic base URL on submit
  frontend/common/utils/__tests__/normaliseIntegrationBaseUrl.test.ts
  frontend/common/utils/normaliseIntegrationBaseUrl.ts
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

refactor(integrations): extract generic ensureTrailingSlash util
  frontend/common/utils/__tests__/ensureTrailingSlash.test.ts
  frontend/common/utils/__tests__/normaliseIntegrationBaseUrl.test.ts
  frontend/common/utils/ensureTrailingSlash.ts
  frontend/common/utils/normaliseIntegrationBaseUrl.ts
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(integrations): correct Heap EU preset to c.eu.heap-api.com
  frontend/common/stores/default-flags.ts
Labels: front-end
