Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

test: use compiled url string for mv option patch test
  api/tests/unit/features/multivariate/test_unit_multivariate_views.py
Labels: api

feat(__future__): Delete a flag's segment override (#8307)
  api/api/urls/future.py
  api/features/future/exceptions.py
  api/features/future/permissions.py
  api/features/future/services.py
  api/features/future/views.py
  api/tests/integration/features/future/test_flag_endpoint.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/managing-flags/updating-flags.md
  openapi.yaml
Labels: docs, api

chore(__future__): Type the authenticated request instead of asserting
  api/core/types.py
  api/features/future/views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

test(__future__): Assert logged events with log.has
  api/tests/integration/features/future/test_flag_endpoint.py
Labels: api

chore(__future__): Drop the AnonymousUser asserts and the strict log assertions (#8308)
  api/core/types.py
  api/features/future/views.py
  api/tests/integration/features/future/test_flag_endpoint.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(Versioning): Publish a feature version with an AuthorData
  api/core/dataclasses.py
  api/core/workflows_services.py
  api/features/future/services.py
  api/features/future/views.py
  api/features/versioning/models.py
  api/features/versioning/serializers.py
  api/features/versioning/tasks.py
  api/features/versioning/versioning_service.py
  api/features/versioning/views.py
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/audit/test_unit_audit_views.py
  api/tests/unit/core/test_unit_core_dataclasses.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

test(Versioning): Split the GWT comment the linter cannot read
  api/tests/unit/core/test_unit_core_dataclasses.py
Labels: api

fix(OIDC): Role chips cannot be removed with a keyboard
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/TrustRelationshipPermissionsFields.tsx
Labels: front-end

fix(OIDC): Workflow snippet omits the environment for a padded claim name
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
Labels: front-end

fix(API keys): A failed key fetch disables key creation permanently
  frontend/web/components/AdminAPIKeys.js
Labels: front-end

fix(OIDC): Provider selection cards are not keyboard accessible
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal.tsx
Labels: front-end

fix(OIDC): Trust relationship role changes ignore API failures
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm.tsx
Labels: front-end

refactor(OIDC): Give each trust relationship component its own folder
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/NewTrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/TrustRelationshipPermissionsFields.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/TrustRelationships.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/WorkflowSetupSnippet.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/index.ts
Labels: front-end

fix(OIDC): Trust relationship form banner renders unreadable error bodies
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/__tests__/errors.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/errors.ts
Labels: front-end

refactor(OIDC): Use InputGroup for the GitHub audience field
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
Labels: front-end

refactor(OIDC): Read trust relationship roles through RTK Query
  frontend/common/services/useMasterAPIKeyWithMasterAPIKeyRole.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/__tests__/useTrustRelationshipRoles.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/useTrustRelationshipRoles.ts
Labels: front-end

fix(OIDC): Editing a GitHub trust relationship drops claim rules it cannot render
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/TrustRelationships.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/WorkflowSetupSnippet.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/__tests__/isGithubFormEditable.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/github.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/providers.tsx
Labels: front-end

refactor(OIDC): Use FieldLabel for the claim rules label
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
Labels: front-end

test(OIDC): Name the pending roles update type
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/__tests__/useTrustRelationshipRoles.test.ts
Labels: front-end

refactor(OIDC): Use the design system Icon to remove a claim rule
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
Labels: front-end

feat(trust-relationships): Add API Access tab with trust relationships UI
  frontend/common/services/useMasterAPIKeyWithMasterAPIKeyRole.ts
  frontend/common/services/useTrustRelationship.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/pages/organisation-settings/OrganisationSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/APIKeysTab.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/errors.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/index.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/providers.tsx
Labels: front-end

fix(OIDC): Freeform trust relationship modal ignores role API failures
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/__tests__/useTrustRelationshipRoles.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/useTrustRelationshipRoles.ts
Labels: front-end

fix(OIDC): Trust relationship issuer is hidden behind its provider icon
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/TrustRelationships.tsx
Labels: front-end

fix(OIDC): Detached roles reappear after switching a trust relationship to admin
  frontend/common/services/useTrustRelationship.ts
Labels: front-end

fix(button): give buttons a visible keyboard focus indicator
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(button): only show focus styling for keyboard focus
  frontend/web/styles/project/_buttons.scss
Labels: front-end

feat(cohorts): apply cohort membership to Postgres identities
  api/cohorts/services.py
  api/cohorts/tasks.py
  api/cohorts/views.py
  api/environments/identities/migrations/0007_identity_system_traits.py
  api/environments/identities/models.py
  api/tests/unit/cohorts/test_evaluation.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_tasks.py
  api/tests/unit/cohorts/test_views.py
  api/util/mappers/engine.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

test(cohorts): cover leaver whose system trait was already removed
  api/tests/unit/cohorts/test_services.py
Labels: api

refactor(cohorts): merge system traits with jsonb operators
  api/cohorts/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(cohorts): match the engine model's system traits comment
  api/environments/identities/models.py
Labels: api

refactor(cohorts): use add/remove naming in the core writer
  api/cohorts/services.py
Labels: api

refactor(cohorts): name identifier and id lists separately
  api/cohorts/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(tokens): add saturated surface tokens for danger/success/warning/info
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(button): migrate _buttons.scss to semantic colour tokens
  frontend/web/styles/project/_buttons.scss
Labels: front-end

fix(button): give buttons a visible keyboard focus indicator
  frontend/web/styles/project/_buttons.scss
Labels: front-end

feat(OIDC): API Access tab with trust relationships UI (#8044)
  frontend/common/services/useMasterAPIKeyWithMasterAPIKeyRole.ts
  frontend/common/services/useTrustRelationship.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/pages/organisation-settings/OrganisationSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/APIKeysTab.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/NewTrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/TrustRelationshipPermissionsFields.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/TrustRelationships.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/WorkflowSetupSnippet.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/WorkflowSetupSnippet/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/__tests__/errors.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/__tests__/isGithubFormEditable.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/errors.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/github.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/__tests__/useTrustRelationshipRoles.test.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/hooks/useTrustRelationshipRoles.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/providers.tsx
Labels: front-end

refactor(forms): Let Switch and FieldLabel take an id
  frontend/web/components/Switch.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
Labels: front-end

fix(icons): Make the GitHub mark visible in dark mode
  frontend/web/components/icons/GithubIcon.tsx
Labels: front-end

refactor(OIDC): Use design system components and name every control
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/GithubTrustRelationshipForm/GithubTrustRelationshipForm.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipModal/TrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationshipPermissionsFields/TrustRelationshipPermissionsFields.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/TrustRelationships/TrustRelationships.tsx
Labels: front-end

feat(OIDC): Rebuild the provider chooser and show the chosen provider
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/NewTrustRelationshipModal.scss
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/NewTrustRelationshipModal/NewTrustRelationshipModal.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/ProviderCard/ProviderCard.scss
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/ProviderCard/ProviderCard.tsx
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/ProviderCard/index.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/github.ts
  frontend/web/components/pages/organisation-settings/tabs/trust-relationships/providers.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
