Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(spike): add DS Dialog component on native <dialog>
  frontend/MODAL_SPIKE.md
  frontend/documentation/components/Dialog.stories.tsx
  frontend/web/components/base/Dialog/Dialog.scss
  frontend/web/components/base/Dialog/Dialog.tsx
  frontend/web/components/base/Dialog/index.ts
Labels: front-end

feat(spike): render the imperative modal stack with the DS Dialog
  frontend/web/components/modals/base/ModalDefault.tsx
  frontend/web/components/modals/base/ModalManager.tsx
  frontend/web/components/modals/base/modalController.ts
Labels: front-end

refactor(spike): migrate remaining reactstrap modals to DS Dialog
  frontend/web/components/IntegrationSelect.tsx
  frontend/web/components/base/CenteredModal/CenteredModal.tsx
  frontend/web/components/hooks/useFormNotSavedModal.tsx
  frontend/web/components/modals/base/ModalConfirm.tsx
  frontend/web/components/modals/base/ModalDefault.tsx
Labels: front-end

docs: update modal spike with completed migration + QA checklist
  frontend/MODAL_SPIKE.md
Labels: front-end

feat(spike): split Drawer out of Dialog
  frontend/documentation/components/Dialog.stories.tsx
  frontend/documentation/components/Drawer.stories.tsx
  frontend/web/components/base/Dialog/Dialog.scss
  frontend/web/components/base/Dialog/DialogSlots.tsx
  frontend/web/components/base/Dialog/useNativeDialog.ts
  frontend/web/components/base/Drawer/Drawer.scss
  frontend/web/components/base/Drawer/Drawer.tsx
  frontend/web/components/base/Drawer/index.ts
  frontend/web/components/modals/base/ModalManager.tsx
Labels: front-end

refactor(spike): drop the ModalDefault shim, repoint helpers to the controller
  frontend/documentation/components/Modal.stories.tsx
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateProject.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/base/ModalDefault.tsx
  frontend/web/components/modals/create-experiment/index.js
  frontend/web/components/modals/create-feature/hoc/FeatureProvider.tsx
  frontend/web/components/modals/create-feature/index.tsx
Labels: front-end

docs: reflect Dialog+Drawer split and reactstrap removal in modal spike
  frontend/MODAL_SPIKE.md
Labels: front-end

Revert "DROPME: trigger docs artefact fix on pull requests"
  .github/workflows/api-fix-docs-artefacts.yml
Labels: none

feat(spike): animate Dialog (fade-up) and Drawer (slide-in)
  frontend/web/components/base/Dialog/Dialog.scss
  frontend/web/components/base/Drawer/Drawer.scss
Labels: front-end

feat(spike): a11y labelling + reusable ConfirmDialog
  frontend/documentation/components/ConfirmDialog.stories.tsx
  frontend/web/components/base/Dialog/ConfirmDialog.tsx
  frontend/web/components/base/Dialog/Dialog.tsx
  frontend/web/components/base/Dialog/DialogSlots.tsx
  frontend/web/components/base/Dialog/index.ts
  frontend/web/components/base/Drawer/Drawer.tsx
  frontend/web/components/modals/base/ModalManager.tsx
Labels: front-end

test(spike): unit-test the modal controller
  frontend/web/components/modals/base/__tests__/modalController.test.ts
Labels: front-end

refactor(spike): migrate modal CSS to Dialog/Drawer + semantic tokens
  frontend/web/styles/project/_modals.scss
Labels: front-end

docs: mark modal CSS migration done in spike (runtime QA remains)
  frontend/MODAL_SPIKE.md
Labels: front-end

fix(spike): make closeModal/closeModal2 stable globals, not per-modal
  frontend/web/components/modals/base/ModalManager.tsx
  frontend/web/components/modals/base/__tests__/modalController.test.ts
  frontend/web/components/modals/base/modalController.ts
Labels: front-end

feat(spike): add explicit openDrawer API
  frontend/web/components/modals/base/ModalManager.tsx
  frontend/web/components/modals/base/modalController.ts
Labels: front-end

refactor(spike): migrate first batch of drawers to openDrawer
  frontend/global.d.ts
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/pages/OrganisationsPage.tsx
Labels: front-end

refactor(spike): migrate identities/roles/audit-webhook drawers to openDrawer
  frontend/web/components/RolesTable.tsx
  frontend/web/components/modals/AuditLogWebhooks.tsx
  frontend/web/components/pages/IdentitiesPage.tsx
Labels: front-end

refactor(spike): migrate saml/breadcrumb/org-users/api-keys/integration to openDrawer
  frontend/.eslintrc.js
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/index.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
Labels: front-end

refactor(spike): migrate EditPermissions drawers to openDrawer
  frontend/web/components/EditPermissions.tsx
Labels: front-end

refactor(spike): migrate users/identity/override/flag-env drawers to openDrawer
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/pages/FlagEnvironmentsPage.tsx
  frontend/web/components/pages/IdentityPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end

refactor(spike): finish openDrawer sweep; remove side-modal entirely
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/modals/base/ModalManager.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/feature-lifecycle/FeatureLifecyclePage.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

chore(spike): remove reactstrap
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/modals/base/Modal.tsx
Labels: front-end

refactor(spike): convert create-project to declarative Drawer (worked example)
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/modals/CreateProject.tsx
Labels: front-end

docs: add declarative-migration guide to modal spike
  frontend/MODAL_SPIKE.md
Labels: front-end

fix: count actual existing owners in _validate_owner_removal validation
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(api): simplify _validate_owner_removal with set arithmetic
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Add client_name to separate experimentation connection
  api/app/settings/common.py
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Add client_name to separate experimentation connection
  api/app/settings/common.py
  api/experimentation/services.py
Labels: api

make generate-docs
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

Update test
  api/tests/unit/experimentation/test_services.py
Labels: api

Update setting name
  api/tests/unit/experimentation/test_services.py
Labels: api

Fix other mock assertion
  api/tests/unit/experimentation/test_services.py
Labels: api

feat(tokens): add code syntax colour tokens
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/SemanticTokens.stories.tsx
  frontend/documentation/TokenReference.generated.stories.tsx
  frontend/web/styles/_tokens.scss
Labels: front-end

refactor(styles): theme-adaptive shared code theme
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/CodeCard.tsx
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/OnboardingConnectPanel.scss
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/_variables.scss
Labels: front-end

refactor(components): add embedded prop, explicit Button import, getRawHtml
  frontend/web/components/Highlight.js
Labels: front-end

test(storybook): add Highlight stories
  frontend/.storybook/preview.js
  frontend/documentation/pages/Highlight.stories.tsx
Labels: front-end

fix(styles): markup tag names use the title colour, not red
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

test(storybook): add JSX Highlight story
  frontend/documentation/pages/Highlight.stories.tsx
Labels: front-end

style(onboarding): medium weight on the SDK badges
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/ConnectYourCodePanel.tsx
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/SdkPicker.tsx
Labels: front-end

fix(onboarding): make the JavaScript SDK logo legible on light mode
  frontend/web/components/pages/onboarding/OnboardingConnectPanel/logos/javascript-logo.tsx
Labels: front-end
