Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(experimentation): publish warehouse connections to Redis and apply delivery status
  api/core/fields.py
  api/experimentation/dataclasses.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/models.py
  api/experimentation/tasks.py
  api/tests/unit/core/test_fields.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(identities): restore diverged override labels removed in value editor refactor
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

fix(identities): restore diverged override labels removed in value editor refactor (#8550)
  frontend/web/components/mv/VariationOptions.tsx
Labels: front-end

refactor(core): move warehouse credential encryption out of the field module
  api/core/fields.py
  api/core/warehouse_credentials.py
  api/experimentation/ingestion_sync_service.py
  api/tests/unit/core/test_fields.py
  api/tests/unit/core/test_warehouse_credentials.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): move EncryptedJSONField and credential encryption into the app
  api/core/fields.py
  api/experimentation/fields.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/migrations/0010_warehouse_connection_credentials_and_status_detail.py
  api/experimentation/models.py
  api/experimentation/warehouse_credentials.py
  api/tests/unit/core/test_fields.py
  api/tests/unit/experimentation/test_fields.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_warehouse_credentials.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(experimentation): drop the WarehouseDeliveryStatus docstring, the fields say it
  api/experimentation/dataclasses.py
Labels: api

refactor(experimentation): split the warehouse-delivery Redis contract from the ingestion one
  api/experimentation/ingestion_redis.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/experimentation/warehouse_verification_service.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_redis.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/test_warehouse_verification_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): show delivery failures on fetch instead of copying them into Postgres
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/views.py
  api/experimentation/warehouse_delivery_sync_service.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/test_warehouse_delivery_sync_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs(experimentation): shorten the delivery status overlay docstring
  api/experimentation/services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(Segments): Improve and consolidate service for fetching overrides (#8548)
  api/features/versioning/managers.py
  api/segments/serializers.py
  api/segments/services.py
  api/segments/views.py
  api/tests/unit/segments/test_unit_segments_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

less hops
  api/features/dependencies/services.py
  api/tests/unit/features/dependencies/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(gitlab): add server-side search to project picker
  api/integrations/gitlab/client/api.py
  api/integrations/gitlab/serializers.py
  api/integrations/gitlab/views/browse_gitlab.py
  api/tests/unit/integrations/gitlab/test_client.py
  api/tests/unit/integrations/gitlab/test_proxy_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  frontend/common/services/useGitlab.ts
  frontend/common/useInfiniteScroll.ts
  frontend/web/components/GitLabLinkSection.tsx
  frontend/web/components/GitLabProjectSelect.tsx
Labels: docs, front-end, api

feat(api): evaluate identity flags through flag-engine
  api/environments/identities/evaluation.py
  api/environments/identities/models.py
  api/features/types.py
  api/segments/types.py
  api/tests/unit/environments/identities/test_unit_identities_evaluation.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

fix(gunicorn): support GUNICORN_KEEP_ALIVE setting in Procfile and Dockerfile (fixes #8543)
  Dockerfile
  api/Procfile
Labels: api

feat(api): Add command to remove identity overrides that no longer exist
  api/edge_api/identities/dataclasses.py
  api/edge_api/identities/edge_identity_service.py
  api/edge_api/management/commands/delete_orphaned_identity_overrides.py
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/wrappers/base.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/edge_api/test_unit_delete_orphaned_identity_overrides.py
  api/util/util.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix test coverage
  api/tests/integration/features/dependencies/test_segment_management.py
Labels: api

short-circuit
  api/features/dependencies/services.py
  api/tests/unit/features/dependencies/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(Flag Dependency): Index flag references (#8525)
  api/app/settings/common.py
  api/features/dependencies/__init__.py
  api/features/dependencies/apps.py
  api/features/dependencies/exceptions.py
  api/features/dependencies/mappers.py
  api/features/dependencies/migrations/0001_initial.py
  api/features/dependencies/migrations/__init__.py
  api/features/dependencies/models.py
  api/features/dependencies/services.py
  api/features/dependencies/types.py
  api/features/feature_segments/views.py
  api/features/future/services.py
  api/features/views.py
  api/segments/serializers.py
  api/segments/services.py
  api/tests/integration/conftest.py
  api/tests/integration/features/conftest.py
  api/tests/integration/features/dependencies/test_segment_management.py
  api/tests/integration/features/future/test_flag_endpoint.py
  api/tests/types.py
  api/tests/unit/features/dependencies/__init__.py
  api/tests/unit/features/dependencies/test_mappers.py
  api/tests/unit/features/dependencies/test_services.py
  api/tests/unit/segments/test_unit_segments_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(Segments): Segment Change Requests don't inherit `rules_data` (#8537)
  api/core/workflows_services.py
  api/segments/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

fix(analytics): drop recomputable legacy buckets in the migration, not at runtime
  api/app_analytics/migrations/0009_apiusagebucket_host.py
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_migrations.py
  api/tests/unit/app_analytics/test_tasks.py
Labels: api

docs(analytics): name the host "" row in the migration comment
  api/app_analytics/migrations/0009_apiusagebucket_host.py
Labels: api

docs(analytics): plainer wording for the migration comment
  api/app_analytics/migrations/0009_apiusagebucket_host.py
Labels: api

fix(telemetry): resolve CLI organisation from project list
  api/projects/views.py
  api/tests/unit/telemetry/test_unit_telemetry_middleware.py
Labels: api

Add constraints on release age for non-flagsmith dependencies
  api/pyproject.toml
  api/uv.lock
  docs/.npmrc
  frontend/.npmrc
  mcp/pyproject.toml
Labels: docs, front-end, api

fix(api): Key the migration digest on app labels
  api/tests/migration_snapshots.py
Labels: api

fix(api): Check service health rather than a socket
  api/Makefile
  api/scripts/ensure-services.sh
Labels: api

refactor(api): Rename converge to compose_fallback
  api/scripts/ensure-services.sh
Labels: api

refactor(api): Check the endpoints the suite actually uses
  api/app/settings/test.py
  api/scripts/ensure-services.sh
Labels: api

deslop ensure-services.sh
  api/scripts/ensure-services.sh
Labels: api

fix: Restrict size of hidden values (#8531)
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(usage): close the billing period before the term ends
  api/organisations/models.py
  api/organisations/serializers.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

feat(usage): return the current billing period
  api/organisations/models.py
  api/organisations/serializers.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  frontend/common/types/responses.ts
Labels: front-end, api

fix(usage): end the billing period on the term's anniversary
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

refactor(usage): rename the response type to CurrentBillingPeriod
  frontend/common/types/responses.ts
Labels: front-end

fix(usage): read the clock once when resolving the billing period
  api/organisations/models.py
Labels: api

refactor(usage): serialise the billing period with a serializer
  api/organisations/models.py
  api/organisations/serializers.py
Labels: api

refactor(usage): return the billing period as a NamedTuple
  api/organisations/models.py
  api/organisations/serializers.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

refactor(api): Remove SKIP_MIGRATION_TESTS
  api/app/settings/common.py
  api/app/settings/local.py
  api/tests/conftest.py
  api/tests/unit/features/versioning/test_unit_versioning_migrations.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_0003_introduce_per_feature_scanned_references.py
  api/tests/unit/projects/tags/test_migrations.py
  api/tests/unit/projects/test_migrations.py
  api/tests/unit/segments/test_unit_segments_migrations.py
Labels: api

refactor(api): Inline _building into its only caller
  api/tests/migration_snapshots.py
Labels: api

refactor(api): Build the maintenance connection Django's way
  api/tests/migration_snapshots.py
  api/tests/unit/test_migration_snapshots.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
