Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

refactor(cohorts): move identifier byte-length enforcement to ingestion
  api/cohorts/services.py
  api/tests/unit/cohorts/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(cohorts): simplify applier to claim-time state and batches of 100
  api/cohorts/constants.py
  api/cohorts/services.py
  api/tests/unit/cohorts/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(identities): confirm system_traits init from returned attributes
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Labels: api

fix(identities): drop private pydantic IncEx import
  api/util/mappers/sdk.py
Labels: api

fix(versioning): block manual commit of a stale change request
  api/core/workflows_services.py
  api/features/workflows/core/exceptions.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: warehouse event names combo box for metric creation
  api/experimentation/dataclasses.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/experiments/CreateMetricForm/CreateMetricForm.tsx
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.tsx
  frontend/web/components/experiments/EventNameSelect/__tests__/utils.test.ts
  frontend/web/components/experiments/EventNameSelect/index.ts
  frontend/web/components/experiments/EventNameSelect/utils.ts
Labels: docs, front-end, api

feat: changed CR ordering to from newest to oldest created (#8182)
  api/features/workflows/core/migrations/0013_reverse_change_request_ordering.py
  api/features/workflows/core/models.py
Labels: api

fix: experiment results polish (#8166)
  frontend/common/hooks/useFitText.ts
  frontend/web/components/experiments/results/ExperimentDetailHeader.tsx
  frontend/web/components/experiments/results/ExperimentRecommendation.tsx
  frontend/web/components/experiments/results/ExperimentResultsAxisChart.tsx
  frontend/web/components/experiments/results/ExperimentResultsScorecardTable.tsx
  frontend/web/components/experiments/results/ExperimentSummaryScorecard.tsx
  frontend/web/components/experiments/results/StatCard.tsx
  frontend/web/components/experiments/results/VariantName.tsx
  frontend/web/components/experiments/results/__tests__/derive.test.ts
  frontend/web/components/experiments/results/derive.ts
  frontend/web/components/experiments/results/results.scss
Labels: front-end

docs: added RBAC to scale-up and enterprise instead of enterprise only (#8190)
  docs/docs/administration-and-security/access-control/rbac.md
Labels: docs

docs: Document supported SCIM features and correct deprovisioning and base URL guidance
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

docs: Correct the Okta SCIM steps to describe the OIN integration
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

percentage rules
  docs/docs/managing-flags/updating-flags.md
Labels: docs

dang it Venn
  docs/docs/managing-flags/updating-flags.md
Labels: docs

docs: Tighten SCIM guide wording after review
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

未来を見て！
  docs/docs/managing-flags/updating-flags.md
Labels: docs

docs: API Base URL is required on SaaS too, not only self-hosted
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

docs: Document supported SCIM features and correct the deprovisioning and base URL guidance (#8221)
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

fix: metric event dropdown overlays instead of growing the page
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.scss
  frontend/web/components/experiments/EventNameSelect/EventNameSelect.tsx
Labels: front-end

feat(onboarding): run the tour against the project named in the URL
  frontend/common/hooks/__tests__/useLastEnv.test.ts
  frontend/common/hooks/useLastEnv.ts
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/onboarding/hooks/__tests__/onboardingProject.test.ts
  frontend/web/components/pages/onboarding/hooks/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/hooks/onboardingProject.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

now i see the full picture
  docs/docs/managing-flags/updating-flags.md
Labels: docs

fix(onboarding): don't seed a demo flag into a project that has flags
  frontend/web/components/pages/onboarding/OnboardingFlow/OnboardingFlow.tsx
  frontend/web/components/pages/onboarding/bootstrap/__tests__/demoFlag.test.ts
  frontend/web/components/pages/onboarding/bootstrap/demoFlag.ts
  frontend/web/components/pages/onboarding/hooks/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

chore(onboarding): move the non-hooks out of the hooks folder
  frontend/web/components/pages/onboarding/bootstrap/bootstrapOnboarding.ts
  frontend/web/components/pages/onboarding/bootstrap/createOrganisationViaAccountStore.ts
  frontend/web/components/pages/onboarding/hooks/useEnsureOnboardingResources.ts
Labels: front-end

feat(identities): add system_traits to engine identity document model (#8212)
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_sdk.py
  api/util/engine_models/identities/models.py
  api/util/mappers/dynamodb.py
  api/util/mappers/sdk.py
Labels: api

feat(cohorts): apply membership deltas to edge identities in batches (#8213)
  api/cohorts/constants.py
  api/cohorts/metrics.py
  api/cohorts/models.py
  api/cohorts/services.py
  api/cohorts/tasks.py
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/wrappers/exceptions.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/tests/unit/cohorts/conftest.py
  api/tests/unit/cohorts/test_services.py
  api/tests/unit/cohorts/test_tasks.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
Labels: docs, api

fix: resolve slow DB query in org permission check (#8228)
  api/permissions/permission_service.py
  api/tests/unit/users/test_unit_users_models.py
Labels: api

feat: expose distinct warehouse event names per connection
  api/experimentation/dataclasses.py
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat: order warehouse event names by most recently seen
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
Labels: api

refactor: tidy event names internals and shorten failure cache
  api/experimentation/services.py
Labels: api

fix: clear customer warehouse caches when connection details change
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

fix: race-safe warehouse cache keys and documented error responses
  api/experimentation/services.py
  api/experimentation/views.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

Add # type: ignore[arg-type]
  api/permissions/permission_service.py
Labels: api

fix: rename test to match FT003 linting convention
  api/tests/unit/users/test_unit_users_models.py
Labels: api

chore: document reason for Organisation type suppression
  api/permissions/permission_service.py
Labels: api

fix: resolve mypy strict typing errors for CI
  api/permissions/permission_service.py
  api/tests/unit/users/test_unit_users_models.py
Labels: api

fix: add missing type annotations for test fixture arguments
  api/tests/unit/users/test_unit_users_models.py
Labels: api

fix: use typing.cast to satisfy strict PR review bot without triggering mypy unused-ignore
  api/permissions/permission_service.py
Labels: api

test: assert exact query shape to prevent massive join regression
  api/tests/unit/users/test_unit_users_models.py
Labels: api

fix: import typing module to resolve name-defined mypy error
  api/tests/unit/users/test_unit_users_models.py
Labels: api

fix: import typing module
  api/permissions/permission_service.py
Labels: api

spike(usage): say future billing periods, not a later month
  frontend/web/components/organisation-settings/usage/UsageBillingPrototype/UsageBanner.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
