Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs: Remove org-id requirement from Backstage documentation
  docs/docs/third-party-integrations/backstage/backstage.md
Labels: docs

fix: fixed-empty-toas-if-message-error
  frontend/web/components/metadata/AddMetadataToEntity.tsx
Labels: front-end

docs: Update Backstage plugin wording per review feedback
  docs/docs/third-party-integrations/backstage/backstage.md
  docs/docs/third-party-integrations/index.mdx
Labels: docs

fix: proxy-backend-version-endpoint
  frontend/api/index.js
  frontend/common/services/useBuildVersion.ts
Labels: front-end

Fix code positioning
  api/features/serializers.py
Labels: api

Improve type safety
  api/features/serializers.py
Labels: api

fix: undefined-create-segment-id-blocking-metadata
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

Fix coverage
  api/features/serializers.py
Labels: api

docs: Add expanded flag details screenshot to Backstage docs
  docs/docs/third-party-integrations/backstage/backstage.md
  docs/static/img/integrations/backstage/flag-details-expanded.png
Labels: docs

fix(multivariate): Review suggestion - Updated the test naming convention and added types
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

fix(multivariate): Added support for path param feature name
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

docs: rename to developer-tools directory and update title
  docs/docs/third-party-integrations/developer-tools/_category_.json
  docs/docs/third-party-integrations/developer-tools/backstage.md
Labels: docs

docs: move Backstage to Additional Integrations category
  docs/docs/third-party-integrations/additional-integrations/_category_.json
  docs/docs/third-party-integrations/additional-integrations/backstage.md
  docs/docs/third-party-integrations/developer-tools/_category_.json
  docs/docs/third-party-integrations/index.mdx
Labels: docs

fix: adjust title
  docs/docs/third-party-integrations/index.mdx
Labels: docs

fix: adjust title and navigation
  docs/docs/third-party-integrations/additional-integrations/_category_.json
  docs/docs/third-party-integrations/backstage.md
Labels: docs

fix: add note and rm section to set up api key
  docs/docs/third-party-integrations/backstage.md
Labels: docs

Remove feature_ids from logic to get edge identity overrides
  api/edge_api/identities/edge_identity_service.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/features/dataclasses.py
  api/features/features_service.py
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/features/test_unit_features_features_service.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

Update test comments
  api/tests/unit/features/test_unit_features_views.py
Labels: api

refactor: improve the structure and the article flow
  docs/docs/third-party-integrations/backstage.md
Labels: docs

fix: improving the alt image texts
  docs/docs/third-party-integrations/backstage.md
  docs/static/img/integrations/backstage/overview-card.png
Labels: docs

fix: identation
  docs/docs/third-party-integrations/index.mdx
Labels: docs

docs: Add Backstage plugin integration documentation (#6755)
  docs/docs/third-party-integrations/backstage.md
  docs/docs/third-party-integrations/index.mdx
  docs/static/img/integrations/backstage/components-overview.png
  docs/static/img/integrations/backstage/flag-details-expanded.png
  docs/static/img/integrations/backstage/flags-tab.png
  docs/static/img/integrations/backstage/overview-card.png
  docs/static/img/integrations/backstage/usage-card.png
Labels: docs

Add Backstage logo
  docs/docs/third-party-integrations/backstage.md
  docs/static/img/integrations/backstage/backstage-logo.svg
Labels: docs

docs(Backstage): Add integration logo (#6773)
  docs/docs/third-party-integrations/backstage.md
  docs/static/img/integrations/backstage/backstage-logo.svg
Labels: docs

Add Backstage to default integrations
  frontend/common/stores/default-flags.ts
  frontend/web/static/images/integrations/backstage.svg
Labels: front-end

Fix logo colour for light background
  frontend/web/static/images/integrations/backstage.svg
Labels: front-end

feat(Integrations): Add Backstage to default integrations (#6774)
  frontend/common/stores/default-flags.ts
  frontend/web/static/images/integrations/backstage.svg
Labels: front-end

fix(Admin API): Sort features by overrides (#6722)
  api/edge_api/identities/edge_identity_service.py
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/edge_api/identities/test_edge_identity_service.py
  api/tests/unit/features/test_unit_features_views.py
  frontend/e2e/tests/segment-test.ts
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, api

fix: use-proxy-api-url-version-endpoint (#6743)
  frontend/api/index.js
  frontend/common/services/useBuildVersion.ts
Labels: front-end

fix: validate-metadata-required-for-on-all-entities (#6658)
  frontend/common/services/useMetadataField.ts
  frontend/common/types/metadata-field.ts
  frontend/common/utils/__tests__/mergeMetadataFields.test.ts
  frontend/common/utils/__tests__/metadataValidation.test.ts
  frontend/common/utils/mergeMetadataFields.ts
  frontend/common/utils/metadataValidation.ts
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/pages/CreateEnvironmentPage.tsx
Labels: front-end

fix(multivariate): Added support for null default_percentage_allocation from database
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

fix(multivariate): Added default allocation write
  api/features/multivariate/serializers.py
Labels: api

Update readme filename
  api/pyproject.toml
Labels: api

fix(multivariate): align MV option validation with persistence and add coverage
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

chore(main): release 2.218.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

fix(multivariate): Added missing test arg
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

ci: added-needs-deploy-ecs-to-push-gram-schema
  .github/workflows/api-deploy-production-ecs.yml
Labels: none

chore(main): release 2.218.0 (#6772)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Fix webpack config
  frontend/webpack/webpack.config.prod.js
Labels: front-end

Fix sentry dependency issue
  frontend/package-lock.json
  frontend/webpack/webpack.config.prod.js
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
