Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(experiment): review feedback
  frontend/web/components/experiments/steps/ReviewStep.scss
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.scss
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

docs(superpowers): add PR 4 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-04-tagging.md
Labels: docs

Applied Suggestions
  api/metadata/permissions.py
Labels: api

feat(integrations): add Azure DevOps tag-label enum and lookup dicts
  api/integrations/azure_devops/constants.py
  api/tests/unit/integrations/azure_devops/test_constants.py
Labels: api

feat(integrations): add AzureDevOpsResourceMetadata TypedDict
  api/integrations/azure_devops/types.py
Labels: api

feat(experiment): changed ionicon with icons
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

feat(integrations): map Azure DevOps state to tag labels
  api/integrations/azure_devops/mappers.py
  api/tests/unit/integrations/azure_devops/conftest.py
  api/tests/unit/integrations/azure_devops/test_mappers.py
Labels: api

feat(experiment): include q-search param in counts
  api/experimentation/views.py
  api/tests/unit/experimentation/test_experiment_views.py
Labels: api

feat(integrations): add Azure DevOps tagging service
  api/integrations/azure_devops/services/tagging.py
  api/tests/unit/integrations/azure_devops/test_tagging.py
Labels: api

docs(superpowers): drop "Azure" prefix from system-tag labels in spec
  docs/superpowers/specs/2026-05-28-azure-devops-integration-design.md
Labels: docs

chore: PR 4 polish — gitlab-tag isolation, fixture URL uniqueness, CMMI proposed state
  api/integrations/azure_devops/mappers.py
  api/tests/unit/integrations/azure_devops/conftest.py
  api/tests/unit/integrations/azure_devops/test_mappers.py
  api/tests/unit/integrations/azure_devops/test_tagging.py
Labels: api

docs(superpowers): add PR 5 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-05-browse.md
Labels: docs

feat(integrations): add TypedDicts for Azure DevOps browse responses
  api/integrations/azure_devops/client/types.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(integrations): add list_repositories to the Azure DevOps client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(integrations): add list_pull_requests to the Azure DevOps client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

fix: allow project admins to create and manage project-scoped custom fields (#7518)
  api/metadata/permissions.py
  api/tests/unit/metadata/test_views.py
Labels: api

feat(integrations): add list_work_items to the Azure DevOps client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(experiment): cleanup and refacto to follow design patterns
  frontend/.claude/context/ui-patterns.md
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/experiments/ExperimentActionDropdown/ExperimentActionDropdown.tsx
  frontend/web/components/experiments/ExperimentActionDropdown/index.ts
  frontend/web/components/experiments/ExperimentsListControls/ExperimentsListControls.scss
  frontend/web/components/experiments/ExperimentsListControls/ExperimentsListControls.tsx
  frontend/web/components/experiments/ExperimentsListControls/index.ts
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.scss
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.tsx
  frontend/web/components/experiments/ExperimentsTable/index.ts
  frontend/web/components/experiments/StatusBadge/StatusBadge.scss
  frontend/web/components/experiments/StatusBadge/StatusBadge.tsx
  frontend/web/components/experiments/StatusBadge/index.ts
  frontend/web/components/experiments/constants.ts
  frontend/web/components/experiments/steps/ReviewStep.scss
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

feat(integrations): add Azure DevOps browse query-param serializers
  api/integrations/azure_devops/serializers/__init__.py
  api/integrations/azure_devops/serializers/browse.py
  api/tests/unit/integrations/azure_devops/test_serializers.py
Labels: api

feat(experiment): retrigger workflows
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
Labels: front-end

feat(integrations): add Azure DevOps browse views (no URL wiring yet)
  api/integrations/azure_devops/views/__init__.py
  api/integrations/azure_devops/views/browse_azure_devops.py
  api/tests/unit/integrations/azure_devops/test_browse_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(integrations): wire Azure DevOps browse URLs
  api/projects/urls.py
Labels: api

feat(experimentation): add experiment creation wizard frontend (#7596)
  frontend/common/services/useExperiment.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/base/grid/ContentCard/ContentCard.scss
  frontend/web/components/base/grid/ContentCard/ContentCard.tsx
  frontend/web/components/base/grid/ContentCard/index.ts
  frontend/web/components/experiments/CreateExperimentWizard.tsx
  frontend/web/components/experiments/LivePreviewPanel.tsx
  frontend/web/components/experiments/VariationTable/VariationTable.scss
  frontend/web/components/experiments/VariationTable/VariationTable.tsx
  frontend/web/components/experiments/VariationTable/index.ts
  frontend/web/components/experiments/WizardNavButtons.tsx
  frontend/web/components/experiments/WizardStepper/WizardStepper.scss
  frontend/web/components/experiments/WizardStepper/WizardStepper.tsx
  frontend/web/components/experiments/WizardStepper/index.ts
  frontend/web/components/experiments/steps/AudienceStep.tsx
  frontend/web/components/experiments/steps/MeasurementStep.tsx
  frontend/web/components/experiments/steps/ReviewStep.scss
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.scss
  frontend/web/components/experiments/steps/SetupStep.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
  frontend/web/components/segments/SegmentMembershipBadge.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/project/project-components.js
Labels: front-end

fix(integrations): catch ADO NotFound, validate work-item token, cover 502 path
  api/integrations/azure_devops/serializers/browse.py
  api/integrations/azure_devops/views/browse_azure_devops.py
  api/tests/unit/integrations/azure_devops/test_browse_views.py
  api/tests/unit/integrations/azure_devops/test_serializers.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/superpowers/specs/2026-05-28-azure-devops-integration-design.md
Labels: docs, api

docs(superpowers): add PR 6 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-06-comments.md
Labels: docs

feat(integrations): add comment-posting functions to the ADO client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

feat(integrations): add Azure DevOps comment templates
  api/integrations/azure_devops/templates/azure_devops/feature_deleted_comment.md
  api/integrations/azure_devops/templates/azure_devops/feature_linked_comment.md
  api/integrations/azure_devops/templates/azure_devops/feature_state_changed_comment.md
  api/integrations/azure_devops/templates/azure_devops/feature_unlinked_comment.md
Labels: api

feat(integrations): add Azure DevOps post_linked_comment service
  api/integrations/azure_devops/services/comments.py
  api/integrations/azure_devops/types.py
  api/tests/unit/integrations/azure_devops/conftest.py
  api/tests/unit/integrations/azure_devops/test_comments.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(integrations): add post_unlinked_comment and post_feature_deleted_comment
  api/integrations/azure_devops/services/comments.py
  api/tests/unit/integrations/azure_devops/test_comments.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(integrations): add Azure DevOps state-change comment service
  api/integrations/azure_devops/services/comments.py
  api/tests/unit/integrations/azure_devops/test_comments.py
Labels: api

feat(integrations): add Azure DevOps task wrappers
  api/integrations/azure_devops/services/comments.py
  api/integrations/azure_devops/tasks.py
  api/tests/unit/integrations/azure_devops/test_comments.py
  api/tests/unit/integrations/azure_devops/test_tasks.py
Labels: api

style(tests): ruff format on test_tasks.py
  api/tests/unit/integrations/azure_devops/test_tasks.py
Labels: api

feat(experiment): use backend mv filtering and storybook components
  frontend/common/types/requests.ts
  frontend/documentation/components/ContentCard.stories.tsx
  frontend/documentation/components/VariationTable.stories.tsx
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

feat(experiment): gemini comments
  frontend/web/components/experiments/ExperimentsListControls/ExperimentsListControls.tsx
  frontend/web/components/experiments/ExperimentsTable/ExperimentsTable.tsx
Labels: front-end

feat(experiment): removed forgotten frontend filtering
  frontend/web/components/experiments/steps/SetupStep.tsx
Labels: front-end

feat: fixed rebase loss and tokens instructions
  frontend/.claude/context/ui-patterns.md
  frontend/web/components/experiments/steps/ReviewStep.tsx
  frontend/web/components/experiments/steps/SetupStep.scss
Labels: front-end

feat: dry on scss
  frontend/web/components/base/grid/ContentCard/ContentCard.scss
  frontend/web/components/experiments/steps/SetupStep.scss
Labels: front-end

feat: review feedback
  frontend/documentation/components/ContentCard.stories.tsx
  frontend/web/components/experiments/VariationTable/VariationTable.scss
Labels: front-end

docs(superpowers): add PR 7 implementation plan for Azure DevOps integration
  docs/superpowers/plans/2026-05-28-azure-devops-07-labels.md
Labels: docs

feat(integrations): add PR label client functions to the ADO client
  api/integrations/azure_devops/client/__init__.py
  api/integrations/azure_devops/client/api.py
  api/integrations/azure_devops/constants.py
  api/tests/unit/integrations/azure_devops/test_client.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
