Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix: Remove invalid close modal call for create segment change request (#6115)
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
Labels: front-end

docs: removed-node-js-planned-in-openfeature-doc
  docs/docs/clients/openfeature.md
Labels: docs

docs: update A/B Testing documentation and related links
  docs/docs/administration-and-security/billing-api-usage.md
  docs/docs/best-practices/flag-lifecycle.md
  docs/docs/best-practices/testing-with-flags.md
  docs/docs/best-practices/when-to-use-flags.md
  docs/docs/experimentation-ab-testing.md
  docs/docs/flagsmith-concepts/identities.md
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/flagsmith-concepts/segments/segment-rule-operators.md
  docs/docs/flagsmith-concepts/targeting-and-rollouts/index.md
  docs/docs/getting-started/feature-flags.md
  docs/docs/getting-started/glossary.md
  docs/docs/getting-started/quick-start.md
  docs/docs/managing-flags/core-management.md
Labels: docs

chore: Track hosting preferences (#6131)
  frontend/web/project/api.ts
Labels: front-end

chore: Track hosting preferences (#6131)
  frontend/web/project/api.ts
Labels: front-end

docs: added-flagsmith-openfeature-doc (#6141)
  docs/docs/clients/openfeature.md
Labels: docs

docs: added-flagsmith-openfeature-doc (#6141)
  docs/docs/clients/openfeature.md
Labels: docs

fix: change request styles (#6129)
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

fix: change request styles (#6129)
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

docs: updated-open-feature-doc-with-nodejs
  docs/docs/flagsmith-integration/openfeature.md
Labels: docs

docs: reorganize and update footer
  docs/docusaurus.config.ts
Labels: docs

fix: use-environment-v2-to-aggregate-identity-overrides
  api/metrics/metrics_service.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Labels: api

chore(evaluation-context): Support virtual segments
  sdk/evaluation-context.json
Labels: none

fmt
  sdk/evaluation-context.json
Labels: none

chore(evaluation-context): Support virtual segments (#6143)
  sdk/evaluation-context.json
Labels: none

chore(evaluation-context): Support virtual segments (#6143)
  sdk/evaluation-context.json
Labels: none

chore(evaluation-context): Use `existingJavaType` for traits
  sdk/evaluation-context.json
Labels: none

use autogeneration
  sdk/evaluation-context.json
Labels: none

chore(evaluation-context): Support segment metadata
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Support segment metadata (#6144)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

chore(evaluation-context): Support segment metadata (#6144)
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

fix: Lighten darker tag colors in dark mode
  frontend/web/components/tags/Tag.tsx
Labels: front-end

fix: Show pipeline remove button for all if more than one stage
  frontend/web/components/release-pipelines/CreateReleasePipeline.tsx
Labels: front-end

fix: update UI after removing identity overrides
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

feat: renamed-hubspot-utk-to-cookie-in-api
  api/integrations/lead_tracking/hubspot/services.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/onboarding/serializers.py
  api/onboarding/tasks.py
  api/onboarding/views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
  api/tests/unit/onboarding/test_views.py
Labels: api

feat: fixed-test-type
  api/onboarding/views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
Labels: api

feat: fixed-create-onboarding-payload
  api/tests/unit/onboarding/test_views.py
  frontend/common/stores/account-store.js
Labels: front-end, api

feat: use-create-lead-form-for-self-hosted (#6117)
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/constants.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/services.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/onboarding/serializers.py
  api/onboarding/tasks.py
  api/onboarding/views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/onboarding/test_views.py
  frontend/common/stores/account-store.js
  frontend/web/components/onboarding/OnboardingStep.tsx
  frontend/web/components/pages/OnboardingPage.tsx
Labels: front-end, api

feat: use-create-lead-form-for-self-hosted (#6117)
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/constants.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/services.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/onboarding/serializers.py
  api/onboarding/tasks.py
  api/onboarding/views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/onboarding/test_views.py
  frontend/common/stores/account-store.js
  frontend/web/components/onboarding/OnboardingStep.tsx
  frontend/web/components/pages/OnboardingPage.tsx
Labels: front-end, api

Update frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
Labels: front-end

Remove releasePipelines
  frontend/web/components/feature-page/FeatureFilters.tsx
Labels: front-end

remove sortToHeader
  frontend/web/components/feature-page/FeatureFilters.tsx
Labels: front-end

chore: Remove stale flags (#6132)
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/segment-test.ts
  frontend/web/components/App.js
  frontend/web/components/ButterBar.tsx
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/OrganisationUsersTableRow.tsx
Labels: front-end

chore: Remove stale flags (#6132)
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/segment-test.ts
  frontend/web/components/App.js
  frontend/web/components/ButterBar.tsx
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/components/OrganisationUsersTableRow.tsx
Labels: front-end

chore(main): release 2.198.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Improve flag analytics
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useFeatureAnalytics.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/EnvironmentTagSelect.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/ToggleChip.js
  frontend/web/components/ToggleChip.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/FeatureAnalytics.container.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/components/FeatureAnalyticsChart.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/components/_chip.scss
Labels: front-end

Refactor tag chip styles
  frontend/web/components/AuditLog.tsx
  frontend/web/components/EnvironmentTagSelect.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/ToggleChip.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/components/_chip.scss
Labels: front-end

fix change request navigation
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

Claude context
  frontend/.claude/commands/api.md
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/check.md
  frontend/.claude/commands/feature-flag.md
  frontend/.claude/commands/form.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/forms.md
  frontend/.claude/context/git-workflow.md
  frontend/.claude/context/patterns.md
  frontend/.claude/settings.json
  frontend/.env-example
  frontend/CLAUDE.md
Labels: front-end

chore(evaluation-context): Add `FeatureValue.key`, loosen metadata schema
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
