Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

refactor: use early returns and ensure mutually exclusive states
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

fix: disable-flacky-test
  frontend/e2e/init.cafe.js
Labels: front-end

docs: fixed extensive broken list links.
  docs/docs/administration-and-security/access-control/saml.md
  docs/docs/deployment-self-hosting/core-configuration/environment-variables.md
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/docs/flagsmith-concepts/identities.md
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/integrating-with-flagsmith/integration-overview.md
  docs/docs/integrating-with-flagsmith/sdks/index.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/docs/managing-flags/core-management.md
  docs/docs/performance/edge-proxy.md
  docs/docs/support/faq/account-billing-organisation.mdx
  docs/docs/support/faq/feature-flags-remote-config.mdx
  docs/docs/support/faq/infrastructure-api.mdx
  docs/docs/support/faq/open-source-self-hosted.mdx
  docs/docs/support/faq/sdks-implementation.mdx
  docs/docs/support/faq/segments-targeting.mdx
  docs/docs/support/faq/user-identity-management.mdx
  docs/docs/third-party-integrations/ci-cd/terraform.md
  docs/docs/third-party-integrations/index.mdx
  docs/docs/third-party-integrations/webhook.md
  docs/static/img/edge-proxy-existing.svg
  docs/static/img/edge-proxy-proxy.svg
Labels: docs

docs: add link to selfhosted from quickstart (#6408)
  docs/docs/getting-started/quick-start.md
Labels: docs

docs: add link to selfhosted from quickstart (#6408)
  docs/docs/getting-started/quick-start.md
Labels: docs

fix: disable-flacky-test (#6409)
  frontend/e2e/init.cafe.js
Labels: front-end

fix: disable-flacky-test (#6409)
  frontend/e2e/init.cafe.js
Labels: front-end

fix(features): resolve Cursor bot issues for sort order and permission tooltip
  frontend/common/utils/featureFilterParams.ts
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

refactor(features): remove unnecessary ConfigProvider HOC
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

fix(features): fix object spread overriding default pagination values
  frontend/common/services/useProjectFlag.ts
Labels: front-end

fix: check environment admin instead of org admin for identity overrides
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

refactor: extract helper methods for user overrides error states
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

Edit change request permissions
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

Show segment users tab regardless of environment being set
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
Labels: front-end

Fix label for tab
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

Fix segment switching
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

fix: Show segment identities tab regardless of environment being set (#6413)
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
Labels: front-end

fix: Show segment identities tab regardless of environment being set (#6413)
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
Labels: front-end

chore(main): release 2.205.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.1 (#6406)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.205.1 (#6406)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Only allow delete / edit your own change request
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
Labels: front-end

fix: prevent infinite loading on Identity Overrides tab (#6404)
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

fix: prevent infinite loading on Identity Overrides tab (#6404)
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

Use `self.parent.parent` instead of `self.root`
  api/organisations/serializers.py
Labels: api

refactor(features): migrate FeaturesPage to RTK Query and eliminate legacy stores (#6361)
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/common/hooks/usePageTracking.ts
  frontend/common/hooks/useProjectEnvironments.ts
  frontend/common/providers/Permission.tsx
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/featureFilters.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/featureFilterParams.ts
  frontend/global.d.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/FeatureRowSkeleton.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/metrics/constants.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeatureMetricsSection.tsx
  frontend/web/components/pages/features/components/FeaturesEmptyState.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/pages/features/components/index.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
  frontend/web/components/pages/features/hooks/useRemoveFeatureWithToast.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
  frontend/web/components/pages/features/index.ts
  frontend/web/components/pages/features/types.ts
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
  frontend/web/styles/components/_feature-row-skeleton.scss
  frontend/web/styles/components/_index.scss
Labels: front-end

refactor(features): migrate FeaturesPage to RTK Query and eliminate legacy stores (#6361)
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/common/hooks/usePageTracking.ts
  frontend/common/hooks/useProjectEnvironments.ts
  frontend/common/providers/Permission.tsx
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/featureFilters.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/featureFilterParams.ts
  frontend/global.d.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/FeatureRowSkeleton.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/metrics/constants.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeatureMetricsSection.tsx
  frontend/web/components/pages/features/components/FeaturesEmptyState.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/pages/features/components/index.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
  frontend/web/components/pages/features/hooks/useRemoveFeatureWithToast.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
  frontend/web/components/pages/features/index.ts
  frontend/web/components/pages/features/types.ts
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
  frontend/web/styles/components/_feature-row-skeleton.scss
  frontend/web/styles/components/_index.scss
Labels: front-end

Enumerate permission types
  frontend/common/providers/Permission.tsx
  frontend/common/types/permissions.types.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/navigation/EnvironmentAside.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end

Fix merge import
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

Remove unused state
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

docs: enhance FAQ counts and styling.
  docs/docs/support/faq/account-billing-organisation.mdx
  docs/docs/support/faq/feature-flags-remote-config.mdx
  docs/docs/support/faq/index.mdx
  docs/docs/support/faq/infrastructure-api.mdx
  docs/docs/support/faq/open-source-self-hosted.mdx
  docs/docs/support/faq/sdks-implementation.mdx
  docs/docs/support/faq/segments-targeting.mdx
  docs/docs/support/faq/user-identity-management.mdx
  docs/src/css/custom.css
Labels: docs

Use context insteadf
  api/organisations/invites/views.py
  api/organisations/serializers.py
Labels: api

Migrate permissions to enum
  frontend/common/constants.ts
  frontend/common/providers/Permission.tsx
  frontend/common/types/permissions.types.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentityTraits.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/feature-summary/FeatureAction.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/IntegrationsPage.tsx
  frontend/web/components/pages/OrganisationIntegrationsPage.tsx
  frontend/web/components/pages/ProjectChangeRequestDetailPage.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/TagValues.tsx
Labels: front-end

Migrate permissions to enum
  frontend/common/providers/Permission.tsx
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

Small typos
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

Fix remaining tests
  api/organisations/serializers.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

Fix swagger generation
  api/organisations/invites/views.py
Labels: api

Cast organisation pk to int
  api/organisations/invites/views.py
Labels: api

Fix identity override permission
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

Add no cover
  api/organisations/invites/views.py
Labels: api
