Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

test: Add flagsmith-lint-tests pre-commit hook with example violation
  .pre-commit-config.yaml
  api/tests/unit/core/test_unit_core_example.py
Labels: api

docs: add troubleshooting guide to support
  docs/docs/support/index.mdx
Labels: docs

clarify testing instructions
  api/README.md
Labels: api

fix(frontend): avoid PermissionsTabs crash before projects load
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/__tests__/PermissionsTabs.test.ts
Labels: front-end

docs: add troubleshooting guide to support (#6978)
  docs/docs/support/index.mdx
Labels: docs

fix: address PR review — add missing period and fix icon for dark mode
  frontend/common/stores/default-flags.ts
  frontend/web/static/images/integrations/code-references.svg
Labels: front-end

test: Add flagsmith-lint-tests pre-commit hook with example violation
  api/tests/unit/core/test_unit_core_example.py
Labels: api

chore: Add flagsmith-lint-tests hook and suppress existing violations
  api/tests/unit/core/test_unit_core_example.py
Labels: api

retain noqa where it makes sense
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
Labels: api

TIL enable_features
  api/tests/unit/features/test_unit_features_views.py
Labels: api

wip: log coverage
  api/integrations/github/views.py
  api/projects/code_references/views.py
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
Labels: api

working logs+otel
  api/app/settings/common.py
  api/observability/__init__.py
  api/observability/otel.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/observability/__init__.py
  api/tests/unit/observability/test_unit_otel.py
  docker/api/docker-compose.local.yml
  docker/api/otel-collector-config.yaml
Labels: api

Unwrap and be happy
  api/features/views.py
  api/projects/code_references/services.py
Labels: api

use eventname, fix tests
  api/app/settings/common.py
  api/integrations/github/views.py
  api/observability/otel.py
  api/projects/code_references/views.py
  api/tests/unit/integrations/github/test_unit_github_cleanup_issue.py
  api/tests/unit/observability/test_unit_otel.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
Labels: api

fix: pass schedule flag when saving segment overrides via change request
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

validate clickhouse
  docker/api/docker-compose.local.yml
  docker/api/otel-collector-config.yaml
Labels: none

fix: Schedule Update on Segment Overrides shows 'Feature contains no changes' (#6996)
  frontend/web/components/modals/create-feature/index.js
Labels: front-end

feat(Features API): Restrict code references querying to a feature flag (#6970)
  api/features/views.py
  api/projects/code_references/services.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

amplitude exporter
  docker/api/docker-compose.local.yml
  docker/api/otel-collector-config.yaml
  otel/Dockerfile
  otel/builder-config.yaml
  otel/exporter/amplitudeexporter/config.go
  otel/exporter/amplitudeexporter/exporter.go
  otel/exporter/amplitudeexporter/factory.go
  otel/exporter/amplitudeexporter/go.mod
  otel/exporter/amplitudeexporter/go.sum
Labels: none

Deprecate get_current_api_usage
  api/app_analytics/analytics_db_service.py
  api/app_analytics/influxdb_wrapper.py
  api/organisations/task_helpers.py
Labels: api

Unwrap and be happy, pt. 2
  api/app_analytics/influxdb_wrapper.py
  api/organisations/task_helpers.py
Labels: api

Gate remaining get_current_api_usage calls
  api/organisations/tasks.py
Labels: api

Add get_current_api_usage_deprecated default
  api/integrations/flagsmith/data/environment.json
Labels: api

Share a glimpse into the future
  api/organisations/task_helpers.py
  api/organisations/tasks.py
Labels: api

support amplitude baggage in tracing
  api/poetry.lock
  api/pyproject.toml
  docker/api/otel-collector-config.yaml
  frontend/common/service.ts
  otel/exporter/amplitudeexporter/exporter.go
Labels: front-end, api

tracing setup, typing
  api/app/settings/common.py
  api/observability/otel.py
  api/tests/unit/observability/test_unit_otel.py
Labels: api

Fix tests
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

fix: update import path to v5 and fix casing in install-go.js
  frontend/common/code-help/install/install-go.js
Labels: front-end

add event filter
  docker/api/otel-collector-config.yaml
  otel/exporter/amplitudeexporter/config.go
  otel/exporter/amplitudeexporter/exporter.go
  otel/exporter/amplitudeexporter/exporter_test.go
Labels: none

refactor: use nullish coalescing and drop brittle test
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/__tests__/PermissionsTabs.test.ts
Labels: front-end

fix: align unsaved changes badge in tab buttons (#6935)
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

fix(API Usage): Allow self-hosted API usage alerts (#6975)
  api/app_analytics/analytics_db_service.py
  api/integrations/flagsmith/data/environment.json
  api/organisations/task_helpers.py
  api/organisations/tasks.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Pin to safer trivy check
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-docker-trivy-scan.yml
Labels: none

fix(CI): Use unique artifact names for Trivy SARIF uploads
  .github/workflows/.reusable-docker-build.yml
Labels: none

fix(CI): Pin safe trivy check version (#7010)
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-docker-trivy-scan.yml
Labels: none

fix(ui): replace misleading permission tooltip on segment override variations (#6982)
  frontend/web/components/mv/VariationValueInput.tsx
Labels: front-end

fix: sanitize environment document cache payload to prevent internal data leak
  api/environments/models.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: api

fix(api): delegate concurrent deletion deadlocks to TaskBackoffError
  api/environments/tasks.py
  api/features/tasks.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/features/test_unit_features_tasks.py
Labels: api

chore: Update PostgreSQL repmgr image from bitnami to soldevelo
  docker/common/db/.pgpool.yml
Labels: none

fix: resolve race condition in FeatureSegment priority assignment
  api/features/models.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
