Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

feat(integrations): add Meta class for IntegrationHealthRecord class
  api/integrations/common/models.py
Labels: api

feat(integrations): add scheduled action to cleanup health records that are older than 30 days
  api/integrations/common/management/__init__.py
  api/integrations/common/management/commands/__init__.py
  api/integrations/common/management/commands/cleanup_integration_health_records.py
Labels: api

fix(integrations-amplitude): add timeout for requests.post()
  api/integrations/amplitude/amplitude.py
Labels: api

fix(integrations-heap): use try and except
  api/integrations/heap/heap.py
Labels: api

fix(integrations-newrelic): normalize base_url
  api/integrations/new_relic/new_relic.py
Labels: api

fix(integrations-heap): add timeout for requests.post()
  api/integrations/heap/heap.py
Labels: api

fix(integrations-mixpanel): use try and except
  api/integrations/mixpanel/mixpanel.py
Labels: api

fix(integrations): use try and except to prevent crash
  api/integrations/common/services.py
Labels: api

fix(integrations-dynatrace): use try and except
  api/integrations/dynatrace/dynatrace.py
Labels: api

fix(integrations-datadog): use try and except
  api/integrations/datadog/datadog.py
Labels: api

fix(tests): assert result is not None
  api/tests/unit/integrations/common/test_unit_integrations_common_services.py
Labels: api

fix(tests): add None type for function
  api/tests/unit/integrations/common/test_unit_integrations_common_services.py
Labels: api

feat(integrations): add migration for health record indexing
  api/integrations/common/migrations/0002_add_health_record_index.py
Labels: api

fix(tests): add coverage for non-2xx status code
  api/tests/unit/integrations/common/test_unit_integrations_common_serializers.py
Labels: api

fix(integrations-amlitude): use try and except
  api/integrations/amplitude/amplitude.py
Labels: api

fix(integrations): remove ternary expression on component
  frontend/web/components/IntegrationList.tsx
Labels: front-end

fix(tests): fix runtime bug
  api/tests/unit/integrations/webhook/test_unit_webhook.py
Labels: api

fix(tests): add exception-path tests to address codecov's review
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
  api/tests/unit/integrations/datadog/test_unit_datadog.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/grafana/test_grafana.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
Labels: api

fix(tests): add unit test for cleanup health records function
  api/tests/unit/integrations/common/test_unit_integrations_common_management_commands.py
Labels: api

fix(integrations): add type annotations
  api/integrations/common/management/commands/cleanup_integration_health_records.py
Labels: api

docs(event-catalogue): update changes based on CI
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

fix(integrations): run lint
  frontend/web/components/IntegrationList.tsx
Labels: front-end

fix(integrations): add savepoint
  api/integrations/common/services.py
Labels: api

fix(integrations): guard base_url when it's None
  api/integrations/datadog/datadog.py
Labels: api

fix(integrations): address typing errors in serializers tests from CI
  api/integrations/common/serializers.py
Labels: api

fix(integrations): address typing errors in unit tests from CI
  api/tests/unit/integrations/common/test_unit_integrations_common_services.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
Labels: api

fix(integrations): add guard if base_url is null
  api/integrations/dynatrace/dynatrace.py
  api/integrations/grafana/grafana.py
  api/integrations/new_relic/new_relic.py
Labels: api

fix(integrations): add missing type annotations
  api/tests/unit/integrations/common/test_unit_integrations_common_serializers.py
  api/tests/unit/integrations/datadog/test_unit_datadog.py
  api/tests/unit/integrations/grafana/test_grafana.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic.py
Labels: api

fix(integrations): add separator for expected url
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic.py
Labels: api

fix(tests): add separator for expected url and match assertions
  api/tests/unit/audit/test_unit_audit_signals.py
Labels: api

fix(integrations): establish 3-colour dot for health tracking status based on code review
  frontend/web/components/IntegrationList.tsx
Labels: front-end

feat(experimentation): tag events bucket and stream with organisation id
  api/experimentation/ingestion_infra_service.py
  api/tests/unit/experimentation/test_ingestion_infra_service.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

refactor(experimentation): drop redundant provisioning docstring
  api/experimentation/ingestion_infra_service.py
Labels: api

fix: import-free-email-domains-json-directly
  frontend/common/utils/isFreeEmailDomain.ts
Labels: front-end

feat(experimentation): provision per-org ingestion infra on external warehouse connect
  api/experimentation/ingestion_infra_service.py
  api/experimentation/migrations/0011_organisation_ingestion_infrastructure.py
  api/experimentation/models.py
  api/experimentation/organisation_ingestion_service.py
  api/experimentation/tasks.py
  api/organisations/models.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_infra_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_organisation_ingestion_service.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix: preserve LaunchDarkly boolean defaults
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api

fix: block HubSpot and Google Analytics in E2E runs
  frontend/e2e/test-setup.ts
  frontend/web/project/libs.js
Labels: front-end

test(import_export): Rename dumporganisationtos3 test to satisfy FT003
  api/tests/unit/import_export/test_unit_import_export_commands.py
Labels: api

refactor(import_export): Stream per-model exports and enlarge S3 part size
  api/import_export/export.py
  api/import_export/utils.py
  api/tests/unit/import_export/test_unit_import_export_utils.py
Labels: api

red stuff
  api/tests/unit/environments/onboarding/__init__.py
  api/tests/unit/environments/onboarding/test_unit_environments_views.py
Labels: api

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
