Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**

feat(usage): return the current billing period
  api/organisations/models.py
  api/organisations/serializers.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  frontend/common/types/responses.ts
Labels: front-end, api

fix(usage): end the billing period on the term's anniversary
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

fix(usage): drop the app-wide quota banner on the usage dashboard
  frontend/web/__tests__/routePaths.test.ts
  frontend/web/components/App.js
  frontend/web/routePaths.ts
Labels: front-end

refactor(value-editor): migrate to TypeScript and split by concern (#8447)
  frontend/common/utils/__tests__/copyToClipboard.test.ts
  frontend/common/utils/copyToClipboard.ts
  frontend/common/utils/utils.tsx
  frontend/documentation/components/ValueEditor.stories.tsx
  frontend/e2e/helpers/e2e-helpers.playwright.ts
  frontend/e2e/tests/change-request-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/mv-options-tests.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/web/components/Highlight.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor.js
  frontend/web/components/ValueEditor/ValueEditor.scss
  frontend/web/components/ValueEditor/ValueEditor.tsx
  frontend/web/components/ValueEditor/__tests__/validate.test.ts
  frontend/web/components/ValueEditor/components/CopyValueButton.tsx
  frontend/web/components/ValueEditor/components/LanguageSelector.tsx
  frontend/web/components/ValueEditor/components/LanguageValidation.tsx
  frontend/web/components/ValueEditor/index.ts
  frontend/web/components/ValueEditor/types.ts
  frontend/web/components/ValueEditor/validate.ts
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/ControlWeightChip.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/styles.scss
Labels: front-end

fix(usage): count whole years when resolving the billing period
  api/app_analytics/analytics_db_service.py
  api/organisations/billing_periods.py
  api/organisations/models.py
  api/organisations/task_helpers.py
  api/organisations/views.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_billing_periods.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

test(usage): split the Given/When/Then comments the linter wants
  api/tests/unit/organisations/test_unit_organisations_billing_periods.py
Labels: api

fix(usage): close the billing period before the term ends
  api/organisations/models.py
  api/organisations/serializers.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

fix(usage): read the clock once when resolving the billing period
  api/organisations/models.py
Labels: api

refactor(usage): rename the response type to CurrentBillingPeriod
  frontend/common/types/responses.ts
Labels: front-end

refactor(usage): serialise the billing period with a serializer
  api/organisations/models.py
  api/organisations/serializers.py
Labels: api

fix(analytics): replace legacy empty-host buckets when a window is recomputed
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_tasks.py
Labels: api

docs(analytics): say why removing the legacy bucket loses nothing
  api/app_analytics/tasks.py
Labels: api

docs(analytics): trim the legacy-bucket comment
  api/app_analytics/tasks.py
Labels: api

fix(analytics): remove legacy buckets before any per-host upsert
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_tasks.py
Labels: api

fix(features): return 404 instead of 500 for a non-integer identity ID in the URL
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(versioning): update segment override in place when patch omits feature_segment.id
  api/features/versioning/views.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
Labels: api

feat(Segment Membership): Seed organisations too large for the task processor
  api/segment_membership/management/__init__.py
  api/segment_membership/management/commands/__init__.py
  api/segment_membership/management/commands/seed_segment_membership.py
  api/segment_membership/tasks.py
  api/tests/unit/segment_membership/test_unit_segment_membership_commands.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(frontend): allow npm 11 so Renovate can refresh the lock file
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

fix(frontend): allow npm 11 so Renovate can refresh the lock file (#8519)
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

fix(docs): pin openapi-docs plugin and theme to 4.2.x
  docs/package-lock.json
  docs/package.json
Labels: docs

fix(docs): pin openapi-docs plugin and theme to 4.2.x (#8520)
  docs/package-lock.json
  docs/package.json
Labels: docs

test: verify docs pin against refreshed lock files
  docs/package-lock.json
  docs/package.json
Labels: docs

fix(docs): pin docusaurus and webpack to current majors
  docs/package-lock.json
  docs/package.json
Labels: docs

test: verify openapi-docs 5.x against refreshed lock files
  docs/package-lock.json
  docs/package.json
Labels: docs

fix(docs): restore the qs override dropped in the previous commit
  docs/package-lock.json
  docs/package.json
Labels: docs

deps(docs): upgrade openapi-docs plugin and theme to 5.x
  docs/package-lock.json
  docs/package.json
Labels: docs

deps(docs): upgrade openapi-docs plugin and theme to 5.x (#8527)
  docs/package-lock.json
  docs/package.json
Labels: docs

ci(renovate): fix gitAuthor and widen lock file maintenance window
  renovate.json
Labels: none

ci(renovate): stop lock file maintenance PRs picking an arbitrary scope
  renovate.json
Labels: none

Desloppification
  renovate.json
Labels: none

ci(renovate): fix lock file maintenance author, schedule and scope (#8516)
  renovate.json
Labels: none

feat(experimentation): route external warehouse events to a static Kafka topic
  api/app/settings/common.py
  api/experimentation/constants.py
  api/experimentation/dataclasses.py
  api/experimentation/ingestion_infra_service.py
  api/experimentation/ingestion_sync_service.py
  api/experimentation/metrics.py
  api/experimentation/migrations/0014_drop_ingestion_infrastructure_and_delivery_log.py
  api/experimentation/models.py
  api/experimentation/organisation_ingestion_service.py
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/warehouse_delivery_service.py
  api/organisations/models.py
  api/tests/unit/experimentation/conftest.py
  api/tests/unit/experimentation/test_ingestion_infra_service.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_organisation_ingestion_service.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/test_warehouse_delivery_service.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  docs/docs/deployment-self-hosting/observability/_metrics-catalogue.md
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: docs, api, infrastructure

refactor(experimentation): name the external warehouse topic in full
  api/experimentation/constants.py
  api/tests/unit/experimentation/test_ingestion_sync_service.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_tasks.py
Labels: api

Restrict size of hidden values
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
Labels: front-end

fix(experimentation): reconcile ingestion keys from the active connection
  api/experimentation/models.py
  api/experimentation/tasks.py
  api/tests/unit/experimentation/test_models.py
  api/tests/unit/experimentation/test_tasks.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): carry experiment metadata on environment document feature states
  api/environments/managers.py
  api/experimentation/feature_state_metadata.py
  api/experimentation/types.py
  api/tests/conftest.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/engine_models/features/models.py
  api/util/mappers/engine.py
Labels: api

feat(experimentation): republish the environment document on experiment pause, resume and rename
  api/experimentation/models.py
  api/tests/unit/experimentation/test_models.py
Labels: api

feat(experimentation): emit experiment metadata on non-edge /identities flags
  api/features/serializers.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

chore(deps): bump flagsmith-common to 3.15.0 for the feature-state metadata schemas
  api/experimentation/feature_state_metadata.py
  api/experimentation/types.py
  api/features/serializers.py
  api/pyproject.toml
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/uv.lock
  sdk/openapi.yaml
Labels: api

maybe the chicken came first
  api/app/settings/common.py
  api/features/dependencies/__init__.py
  api/features/dependencies/apps.py
  api/features/dependencies/migrations/0001_initial.py
  api/features/dependencies/migrations/__init__.py
  api/features/dependencies/models.py
  api/tests/integration/features/dependencies/test_segment_management.py
Labels: api
