Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

fix: skip-organization-test-in-enterprise-e2e (#6372)
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
Labels: front-end

chore(main): release 2.204.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

tests: keep backwards compatibility on creating a new flag
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

fix(features): add backward compatibility and cache sync for CreateFlag modal
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

fix: lint
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

chore: created-a-separate-user-to-avoid-shared-state-updates
  .github/workflows/platform-pull-request.yml
  api/app/settings/common.py
  api/e2etests/e2e_seed_data.py
  frontend/e2e/config.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/organisation-test.ts
Labels: front-end, api

chore: typed-ignore-create-user
  api/e2etests/e2e_seed_data.py
Labels: api

docs(Context values): Remove the local evaluation warning
  docs/docs/flagsmith-concepts/segments/index.md
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: docs, front-end

add SDK compatibility
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/flagsmith-concepts/segments/segment-rule-operators.md
Labels: docs

fix link
  docs/docs/flagsmith-concepts/segments/index.md
Labels: docs

docs(Context values): Remove the local evaluation warning (#6381)
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/flagsmith-concepts/segments/segment-rule-operators.md
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: docs, front-end

docs(Context values): Remove the local evaluation warning (#6381)
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/flagsmith-concepts/segments/segment-rule-operators.md
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
Labels: docs, front-end

fix(features): prevent empty state flash and ensure proper cache sync
  frontend/common/hooks/useFeatureListWithFilters.ts
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

refactor: clean up dead code and make internal helpers non-exported
  frontend/common/hooks/useFeatureListWithFilters.ts
  frontend/common/hooks/usePageTracking.ts
  frontend/common/hooks/useProjectEnvironments.ts
  frontend/common/services/useFeatureList.ts
Labels: front-end

refactor: convert TagStrategy type to enum
  frontend/common/types/responses.ts
Labels: front-end

refactor: add type-safe URL parameter parsing helpers to featureFilterParams
  frontend/common/utils/featureFilterParams.ts
Labels: front-end

feat: add useFeatureListWithApiKey wrapper hook
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/web/components/pages/features/FeaturesPage.tsx
Labels: front-end

refactor: clean up unnecessary and verbose comments
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/common/utils/featureFilterParams.ts
Labels: front-end

fix: address PR review feedback (typo and parseInt radix)
  frontend/common/utils/featureFilterParams.ts
Labels: front-end

fix: prevent IDOR vulnerability in environment update endpoint
  api/environments/serializers.py
  api/environments/views.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api

chore(main): release 2.204.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.204.0 (#6353)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

chore(main): release 2.204.0 (#6353)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

Add pytestmark to migration test
  api/tests/unit/features/test_migrations.py
Labels: api

Refactor to use module level skip
  api/tests/unit/features/test_migrations.py
Labels: api

Add custom `migrator` fixture
  api/conftest.py
  api/tests/unit/features/test_migrations.py
Labels: api

chore: address PR review feedback from khvn26
  api/features/feature_states/models.py
  api/features/feature_states/serializers.py
  api/features/feature_states/views.py
  api/features/versioning/dataclasses.py
  api/features/versioning/versioning_service.py
  api/tests/unit/features/feature_states/test_models.py
  api/tests/unit/features/feature_states/test_serializers.py
  api/tests/unit/features/feature_states/test_unit_feature_states_views.py
  api/tests/unit/features/versioning/test_unit_versioning_dataclasses.py
Labels: api

fix: set environment_feature_version on FeatureSegment for V2 versioning
  api/features/versioning/versioning_service.py
Labels: api

fix: improve validation and test accuracy
  api/features/feature_states/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_dataclasses.py
Labels: api

neaten provides tags
  frontend/common/services/useProjectFlag.ts
Labels: front-end

neaten sortby return
  frontend/web/components/PanelSearch.tsx
Labels: front-end

unecessary useState
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
Labels: front-end

Rename createflag
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/FeatureLimitAlert.tsx
  frontend/web/components/modals/create-feature/FeatureNameInput.tsx
  frontend/web/components/modals/create-feature/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/SegmentPage.tsx
Labels: front-end

Add paging to history
  frontend/web/components/FeatureHistory.tsx
Labels: front-end

Bump paging
  frontend/web/components/FeatureHistory.tsx
Labels: front-end

fix: use explicit None checks for segment_id instead of truthiness
  api/features/feature_states/serializers.py
  api/features/versioning/versioning_service.py
Labels: api

chore: Rename CreateFlag (#6388)
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/FeatureLimitAlert.tsx
  frontend/web/components/modals/create-feature/FeatureNameInput.tsx
  frontend/web/components/modals/create-feature/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/SegmentPage.tsx
Labels: front-end

chore: Add paging to feature history (#6389)
  frontend/web/components/FeatureHistory.tsx
Labels: front-end

chore: Add paging to feature history (#6389)
  frontend/web/components/FeatureHistory.tsx
Labels: front-end

Remove create project icon
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
