Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

chore(onboarding-quickstart): remove the temp "Test onboarding" nav link
  frontend/web/components/navigation/navbars/TopNavbar.tsx
Labels: front-end

feat(experimentation): add unique event names from ClickHouse (#7660)
  api/app/settings/common.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
Labels: api, infrastructure

deps(node): upgrade ws transitive dependency to fix CVE-2026-45736 (#7634)
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack/rspack.config.local.js
Labels: front-end

chore(main): release 2.238.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

ci: Run flagsmith-private test suites inline on 0.8.0
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  Dockerfile
  api/.gitignore
  api/Makefile
  api/pyproject.toml
  api/uv.lock
Labels: api

feat(onboarding-quickstart): slim progress bar + concrete per-role copy
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.scss
  frontend/web/components/pages/onboarding-quickstart/OnboardingQuickstartPage.tsx
  frontend/web/components/pages/onboarding-quickstart/components/OnboardingProgress.tsx
  frontend/web/components/pages/onboarding-quickstart/components/OnboardingStepper.tsx
  frontend/web/components/pages/onboarding-quickstart/components/RoleStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/StepShell.tsx
  frontend/web/components/pages/onboarding-quickstart/data/roles.ts
Labels: front-end

feat(experiments): add experiments beta signup page (#7664)
  frontend/web/components/BetaFlag.tsx
  frontend/web/components/experiments/ExperimentsFakeDoor/ExperimentsFakeDoor.scss
  frontend/web/components/experiments/ExperimentsFakeDoor/ExperimentsFakeDoor.tsx
  frontend/web/components/experiments/ExperimentsFakeDoor/index.ts
  frontend/web/components/experiments/ExperimentsFakeDoor/mockData.ts
  frontend/web/components/experiments/MetricsComparisonTable/MetricsComparisonTable.scss
  frontend/web/components/experiments/MetricsComparisonTable/MetricsComparisonTable.tsx
  frontend/web/components/experiments/MetricsComparisonTable/index.ts
  frontend/web/components/experiments/MetricsTrendChart/MetricsTrendChart.scss
  frontend/web/components/experiments/MetricsTrendChart/MetricsTrendChart.tsx
  frontend/web/components/experiments/MetricsTrendChart/index.ts
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/pages/ExperimentsPage.tsx
Labels: front-end

deps: updated track event callsites with new interface
  frontend/common/stores/config-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/experiments/ExperimentsFakeDoor/ExperimentsFakeDoor.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoCodeReferencesSection.tsx
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
Labels: front-end

Integrate flagsmith-ldap and licensing
  Dockerfile
  api/.gitignore
  api/Makefile
  api/pyproject.toml
  api/uv.lock
Labels: api

docs(MCP): Rewrite MCP server page and generate the tool catalogue
  .github/workflows/api-tests-with-private-packages.yml
  api/Makefile
  api/api/management/__init__.py
  api/api/management/commands/__init__.py
  api/api/management/commands/generate_mcp_tool_catalogue.py
  api/tests/unit/api/test_generate_mcp_tool_catalogue.py
  docs/docs/integrating-with-flagsmith/_mcp-tool-catalogue-enterprise.md
  docs/docs/integrating-with-flagsmith/_mcp-tool-catalogue.md
  docs/docs/integrating-with-flagsmith/mcp-server.md
  docs/docs/integrating-with-flagsmith/mcp-server.mdx
Labels: docs, api

chore(main): release 2.238.0 (#7639)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: none

feat(onboarding-quickstart): add shared FlagDemo (code + live app + toggle)
  frontend/web/components/pages/onboarding-quickstart/components/FeatureEvaluationStep.tsx
  frontend/web/components/pages/onboarding-quickstart/components/FlagDemo.scss
  frontend/web/components/pages/onboarding-quickstart/components/FlagDemo.tsx
  frontend/web/components/pages/onboarding-quickstart/components/SampleAppPreview.tsx
  frontend/web/components/pages/onboarding-quickstart/components/StatusPanel.tsx
  frontend/web/components/pages/onboarding-quickstart/hooks/useFirstEvaluationPoll.ts
Labels: front-end

uv init
  mcp/.gitignore
  mcp/Makefile
  mcp/README.md
  mcp/main.py
  mcp/pyproject.toml
  mcp/uv.lock
Labels: none

Try and point directions
  AGENTS.md
Labels: none

Tests
  mcp/Makefile
  mcp/README.md
  mcp/pyproject.toml
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/integration/test_tools.py
  mcp/uv.lock
Labels: none

Nice code
  mcp/Makefile
  mcp/pyproject.toml
  mcp/uv.lock
Labels: none

Working code
  mcp/.gitignore
  mcp/Makefile
  mcp/README.md
  mcp/main.py
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/__init__.py
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/integration/test_mcp_server.py
  mcp/tests/integration/test_tools.py
  mcp/tests/unit/test_config.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

Green stuff
  .github/workflows/mcp-pull-request.yml
  .pre-commit-config.yaml
  mcp/tests/unit/test_server.py
Labels: none

deps: use version 11 to avoid guard on each track event
  frontend/common/stores/feature-list-store.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/experiments/ExperimentsFakeDoor/ExperimentsFakeDoor.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoCodeReferencesSection.tsx
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
Labels: front-end

feat: updated code snippet with actual helpers
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
Labels: front-end

Support decimal multivariate variation weights
  frontend/common/utils/utils.tsx
  frontend/web/components/mv/VariationValueInput.tsx
Labels: front-end

deps: updated track event callsites with new interface (#7666)
  frontend/common/stores/config-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/experiments/ExperimentsFakeDoor/ExperimentsFakeDoor.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoCodeReferencesSection.tsx
  frontend/web/components/modals/create-feature/tabs/UsageTab.tsx
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/WarehouseEventCodeHelp.tsx
Labels: front-end

fix(infra): Drop SECURE_PROXY_SSL_HEADER_NAME override (#7499)
  infrastructure/aws/production/ecs-task-definition-admin-api.json
Labels: infrastructure

fix base url
  mcp/src/flagsmith_mcp/config.py
  mcp/tests/integration/conftest.py
  mcp/tests/unit/test_config.py
Labels: none

Fix AttributeError in cancel_users
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

Remove unused type ignore in cancel_users
  api/organisations/models.py
Labels: api

Implement `--header` support
  mcp/src/flagsmith_mcp/auth.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_auth.py
Labels: none

remove fluff
  mcp/Makefile
Labels: none

use pydantic-settings
  mcp/pyproject.toml
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/integration/conftest.py
  mcp/tests/unit/test_config.py
  mcp/tests/unit/test_server.py
  mcp/uv.lock
Labels: none

constant, not a config
  mcp/src/flagsmith_mcp/config.py
  mcp/src/flagsmith_mcp/constants.py
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_server.py
Labels: none

inline `_annotate`
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_server.py
Labels: none

improve server tests
  mcp/src/flagsmith_mcp/server.py
  mcp/tests/unit/test_server.py
Labels: none

feat(experimentation): add warehouse event stats and status services
  api/experimentation/dataclasses.py
  api/experimentation/models.py
  api/experimentation/services.py
  api/tests/unit/experimentation/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

feat(experimentation): add event stats to serializer
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_serializers.py
Labels: api

feat(experimentation): annotate stats and test connection endpoint
  api/experimentation/views.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): improved tests
  api/experimentation/serializers.py
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
Labels: api

feat(experimentation): regenerated catalogue
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs

feat(experimentation): add warehouse test connection mutation and stat types
  frontend/common/services/useWarehouseConnection.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Labels: front-end

feat(experimentation): add ingestor url to env
  frontend/env/project_dev.js
  frontend/env/project_local.js
  frontend/env/project_prod.js
  frontend/env/project_staging.js
Labels: front-end

feat(experimentation): add warehouse test event and polling helpers
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/sendWarehouseTestEvent.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/__tests__/warehousePolling.test.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/sendWarehouseTestEvent.ts
  frontend/web/components/pages/environment-settings/tabs/warehouse-tab/warehousePolling.ts
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
