Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

docs(Experimentation): Dedicated database user for ingestion
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Labels: docs

refactor(experimentation): drop Snowflake warehouse support
  api/experimentation/migrations/0017_remove_snowflake_warehouse_type.py
  api/experimentation/models.py
  api/experimentation/types.py
  api/experimentation/warehouses/registry.py
  api/experimentation/warehouses/snowflake.py
  api/tests/unit/experimentation/test_migrations.py
  api/tests/unit/experimentation/test_serializers.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_views.py
  api/tests/unit/experimentation/warehouses/test_registry.py
  api/tests/unit/experimentation/warehouses/test_snowflake.py
  openapi.yaml
Labels: api

docs(scim): Document that Entra's `aadOptscim062020` flag is not supported (#8621)
  docs/docs/administration-and-security/access-control/scim.md
Labels: docs

test: Inline segment rules helper
  api/tests/unit/features/test_unit_features_views.py
Labels: api

fix(dependencies): put the new row in place from the POST
  frontend/common/services/useFeatureDependency.ts
Labels: front-end

refactor(dependencies): make both tables click the same way
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/PrerequisitesTable/PrerequisitesTable.tsx
Labels: front-end

docs(Experimentation): Dedicated database user for warehouse delivery
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Labels: docs

fix(select): give the dark field a visible outline
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_variables.scss
Labels: front-end

refactor(dependencies): say the removal once
  frontend/web/components/modals/create-feature/tabs/FeatureDependenciesTab/hooks/usePrerequisites.tsx
Labels: front-end

fix(menu): keep a click on a menu item inside its own panel
  frontend/common/useContainClicks.ts
  frontend/web/components/base/DropdownMenu.tsx
Labels: front-end

fix(usage): report grace period unused when API usage alerting is off and rename API limit enforcement
  api/organisations/dataclasses.py
  api/organisations/serializers.py
  api/organisations/services.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_serializers.py
  api/tests/unit/organisations/test_unit_organisations_services.py
Labels: api

feat(experimentation): read experiment results and exposures through the environment's warehouse (#8683)
  api/experimentation/services.py
  api/experimentation/tasks.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/flagsmith.py
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/test_tasks.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

red 4: segment override audit logs
  api/tests/integration/audit/test_audit_logs.py
Labels: api

feat(icons): add stale, pr-dequeued and lock-outline, and colour pr-draft
  frontend/documentation/components/Icons.stories.tsx
  frontend/web/components/icons/Icon.tsx
Labels: front-end

feat(tokens): add the Content tag palette
  .gitattributes
  frontend/common/theme/__tests__/tagSwatches.test.ts
  frontend/common/theme/contrast.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(chip): let a caller supply the colour, and ring it when selected
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
Labels: front-end

feat(usage): address review on usage group_by
  api/app_analytics/analytics_db_service.py
  api/tests/integration/app_analytics/test_influx_query_throttle.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/app_analytics/test_unit_app_analytics_mappers.py
Labels: api

feat(usage): drop the Flux query assertion test
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
Labels: api

feat(usage): enable API usage alerting on the admin API
  infrastructure/aws/production/ecs-task-definition-admin-api.json
  infrastructure/aws/staging/ecs-task-definition-admin-api.json
Labels: infrastructure

chore(usage): link the annual plans overage issue in the TODO
  api/organisations/services.py
Labels: api

docs(usage): explain what APILimitEnforcement represents
  api/organisations/dataclasses.py
Labels: api

refactor(experimentation): extract a SQL dialect from the results queries
  api/experimentation/results_query.py
  api/experimentation/warehouses/clickhouse.py
  api/experimentation/warehouses/dialect.py
  api/experimentation/warehouses/flagsmith.py
  api/experimentation/warehouses/queries.py
  api/tests/unit/experimentation/test_services.py
Labels: api

refactor(experimentation): guard empty averages in the dialect
  api/experimentation/results_query.py
  api/experimentation/warehouses/dialect.py
  api/tests/unit/experimentation/warehouses/test_golden_sql.py
Labels: api

test: pin the warehouse SQL with golden tests
  api/tests/unit/experimentation/warehouses/test_golden_sql.py
Labels: api

feat: check the full warehouse SQL once in test_queries
  api/tests/unit/experimentation/test_services.py
  api/tests/unit/experimentation/warehouses/test_clickhouse.py
  api/tests/unit/experimentation/warehouses/test_queries.py
Labels: api

feat(usage): group usage data by project or environment (#8645)
  api/app/settings/common.py
  api/app/settings/test.py
  api/app_analytics/analytics_db_service.py
  api/app_analytics/dataclasses.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/mappers.py
  api/app_analytics/serializers.py
  api/app_analytics/throttles.py
  api/app_analytics/types.py
  api/app_analytics/views.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_mappers.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
  frontend/common/types/responses.ts
  openapi.yaml
Labels: docs, front-end, api

fix(tags): make the tag filter's search find what it shows
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tables/__tests__/tagFilterSearch.test.ts
  frontend/web/components/tables/tagFilterSearch.ts
Labels: front-end

Address review comments
  api/evaluation/services.py
  api/tests/unit/evaluation/test_unit_evaluation_services.py
Labels: api

feat(tokens): add the Content tag palette
  .gitattributes
  frontend/common/theme/__tests__/tagSwatches.test.ts
  frontend/common/theme/contrast.ts
  frontend/common/theme/tokens.json
  frontend/common/theme/tokens.ts
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/scripts/generate-tokens.mjs
  frontend/web/styles/_token-utilities.scss
  frontend/web/styles/_tokens.scss
Labels: front-end

feat(tags): add the swatch, system-tag and chip-html helpers
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/index.ts
  frontend/web/components/tags/utils/systemTag.ts
  frontend/web/components/tags/utils/tagChipHtml.ts
  frontend/web/components/tags/utils/tagSwatch.ts
Labels: front-end

feat(chip): let a caller supply the colour
  frontend/web/components/ColorSwatch.tsx
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
Labels: front-end

feat(icons): add stale, pr-dequeued and lock-outline, and colour pr-draft
  frontend/documentation/components/Icons.stories.tsx
  frontend/web/components/icons/Icon.tsx
Labels: front-end

ungate
  api/features/feature_lifecycle/services.py
  api/features/views.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
  api/tests/unit/features/test_unit_features_views.py
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
Labels: front-end, api

nobody's stealing my joy
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/services.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
Labels: api

fix(Feature Lifecycle): Release for public use (#8694)
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/services.py
  api/features/feature_lifecycle/services.py
  api/features/views.py
  api/tests/integration/features/feature_lifecycle/test_feature_endpoints.py
  api/tests/unit/features/test_unit_features_views.py
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
Labels: front-end, api

fix: validate mv-option allocation from effective values instead of raw payload
  api/features/multivariate/serializers.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

red 5: GitHub comments
  api/tests/integration/features/test_github_external_resources.py
Labels: api

it's about time we dry out
  api/tests/integration/audit/test_audit_logs.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/test_environment_metrics.py
  api/tests/integration/features/import_export/test_feature_import.py
  api/tests/integration/features/test_github_external_resources.py
  api/tests/types.py
Labels: api

red 6: mv list
  api/tests/integration/features/multivariate/test_integration_multivariate.py
Labels: api

refactor(tags): build Tag on Chip and look its colour up
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/documentation/CategoricalPalette.stories.tsx
  frontend/documentation/components/Chip.stories.tsx
  frontend/documentation/components/Tag.stories.tsx
  frontend/documentation/components/ToggleChip.stories.tsx
  frontend/documentation/components/VCSProviderTag.stories.tsx
  frontend/web/components/ToggleChip.tsx
  frontend/web/components/base/Chip/Chip.scss
  frontend/web/components/base/Chip/Chip.tsx
  frontend/web/components/base/Chip/chipColour.ts
  frontend/web/components/base/Chip/index.ts
  frontend/web/components/feature-summary/FeatureAction.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/Tag/Tag.scss
  frontend/web/components/tags/Tag/Tag.tsx
  frontend/web/components/tags/Tag/index.ts
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/TagFilter.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/components/tags/utils/__tests__/tagSwatch.test.ts
  frontend/web/components/tags/utils/index.ts
  frontend/web/components/tags/utils/systemTag.ts
  frontend/web/components/tags/utils/tagChipColour.ts
  frontend/web/components/tags/utils/tagChipHtml.ts
  frontend/web/components/tags/utils/tagSwatch.ts
  frontend/web/project/project-components.js
Labels: front-end

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
