Repository Flagsmith/flagsmith, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, front-end, api, infrastructure

ci(frontend-deploy): announce a deploy when it starts (#8398)
  .github/actions/notify-slack-deploy/action.yml
  .github/actions/notify-slack-deploy/payload.jq
  .github/workflows/frontend-deploy-production.yml
Labels: none

fix: use Link component for docs and settings links
  frontend/web/components/modals/ConnectCohortProviderModal/CohortSyncKeyStep.tsx
  frontend/web/components/modals/ConnectCohortProviderModal/ConnectCohortProviderModal.tsx
  frontend/web/components/pages/environment-settings/tabs/cohort-sync-tab/CohortSyncTab.tsx
Labels: front-end

refactor(forms): adopt FieldLabel and FieldError for hand-rolled labels (#8117)
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DateSelect.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/base/forms/FieldLabel.tsx
  frontend/web/components/import-export/FeatureExport.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettingsTab.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValueTab.tsx
  frontend/web/components/mv/VariationValueInput/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/CreateOrganisationPage.tsx
  frontend/web/components/pages/ReleaseManagerPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/saml/modals/CreateSAML.tsx
  frontend/web/components/pages/organisation-settings/tabs/sso/scim/modals/ScimTokenModal.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/ProjectInformation.tsx
  frontend/web/components/pages/project-settings/tabs/general-tab/sections/additional-settings/FeatureNameValidation.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

feat: cohort synchronisation keys and provider connect modals (#8420)
  frontend/common/constants.ts
  frontend/common/services/useCohort.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/e2e/tests/cohort-sync-keys-test.pw.ts
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/ConnectCohortProviderModal/CohortSyncKeyStep.tsx
  frontend/web/components/modals/ConnectCohortProviderModal/ConnectCohortProviderModal.scss
  frontend/web/components/modals/ConnectCohortProviderModal/ConnectCohortProviderModal.tsx
  frontend/web/components/modals/ConnectCohortProviderModal/ConnectCohortProviderStep.tsx
  frontend/web/components/modals/ConnectCohortProviderModal/index.ts
  frontend/web/components/modals/ConnectCohortProviderModal/providers.ts
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentSourcesModal/CreateSegmentSourcesModal.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/environment-settings/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/environment-settings/tabs/cohort-sync-tab/CohortSyncTab.tsx
  frontend/web/components/pages/environment-settings/tabs/cohort-sync-tab/CreateCohortSyncKeyModal.tsx
  frontend/web/components/pages/environment-settings/tabs/cohort-sync-tab/index.ts
Labels: front-end

fix(styles): put the plain-text value editor on the input surface token
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

feat(diff): add DiffRow for the rows we build ourselves
  frontend/documentation/pages/DiffRow.stories.tsx
  frontend/web/components/diff/DiffRow/DiffRow.scss
  frontend/web/components/diff/DiffRow/DiffRow.tsx
  frontend/web/components/diff/DiffRow/index.ts
Labels: front-end

fix(diff): restore the added and removed colours on boolean rows
  frontend/documentation/pages/DiffEnabled.stories.tsx
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/diff/DiffString.tsx
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

refactor(diff): give DiffFeature's header legend its own stylesheet
  frontend/web/components/diff/DiffFeature.scss
  frontend/web/components/diff/DiffFeature.tsx
Labels: front-end

fix(storybook): keep component code surfaces in dark docs
  frontend/.storybook/docs-theme.scss
Labels: front-end

refactor(storybook): group the diff stories under Components/Diff
  frontend/documentation/pages/DiffEnabled.stories.tsx
  frontend/documentation/pages/DiffRow.stories.tsx
  frontend/documentation/pages/DiffString.stories.tsx
Labels: front-end

refactor(diff): trim the comments and leave the stories unsnapshotted
  frontend/.storybook/docs-theme.scss
  frontend/documentation/pages/DiffEnabled.stories.tsx
  frontend/documentation/pages/DiffRow.stories.tsx
  frontend/web/components/diff/DiffFeature.scss
  frontend/web/components/diff/DiffRow/DiffRow.scss
  frontend/web/components/diff/DiffRow/DiffRow.tsx
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

refactor(diff): use the token and Bootstrap utilities where they exist
  frontend/web/components/diff/DiffFeature.scss
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffRow/DiffRow.scss
  frontend/web/components/diff/DiffRow/DiffRow.tsx
Labels: front-end

fix: point connect modal docs links at cohort synchronisation docs
  frontend/web/components/modals/ConnectCohortProviderModal/ConnectCohortProviderModal.tsx
  frontend/web/components/modals/ConnectCohortProviderModal/providers.ts
Labels: front-end

fix(usage): separate the plan meter from the filters (#8357)
  frontend/.storybook/preview.js
  frontend/common/types/responses.ts
  frontend/documentation/components/UsageDashboard.stories.tsx
  frontend/documentation/components/UsageMeter.stories.tsx
  frontend/documentation/components/UsageOverTime.stories.tsx
  frontend/documentation/components/fixtures/usage.ts
  frontend/documentation/components/fixtures/usage/README.md
  frontend/documentation/components/fixtures/usage/approaching-the-limit.json
  frontend/documentation/components/fixtures/usage/current-billing-period.json
  frontend/documentation/components/fixtures/usage/free-plan.json
  frontend/documentation/components/fixtures/usage/last-30-days.json
  frontend/documentation/components/fixtures/usage/last-90-days.json
  frontend/documentation/components/fixtures/usage/over-the-limit.json
  frontend/documentation/components/fixtures/usage/previous-billing-period.json
  frontend/web/components/ProjectFilter.tsx
  frontend/web/components/pages/usage/UsageDashboard.tsx
  frontend/web/components/pages/usage/UsageDashboardPage.tsx
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/SectionHeading/SectionHeading.tsx
  frontend/web/components/pages/usage/components/SectionHeading/index.ts
  frontend/web/components/pages/usage/components/UsageMeter/UsageMeter.scss
  frontend/web/components/pages/usage/components/UsageMeter/UsageMeter.tsx
  frontend/web/components/pages/usage/components/UsageMeter/__tests__/utils.test.ts
  frontend/web/components/pages/usage/components/UsageMeter/utils.ts
  frontend/web/components/pages/usage/components/UsageOverTime/UsageOverTime.tsx
  frontend/web/components/pages/usage/useUsageData.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

fix(usage): count whole years when resolving the current billing period
  api/app_analytics/analytics_db_service.py
  api/organisations/services.py
  api/organisations/task_helpers.py
  api/organisations/views.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_services.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

docs: add Flagsmith-side cohort synchronisation screenshots
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/docs/third-party-integrations/cohort-synchronisation/index.md
  docs/static/img/cohort-synchronisation/connect-amplitude-modal.png
  docs/static/img/cohort-synchronisation/environment-settings-cohorts.png
  docs/static/img/cohort-synchronisation/synchronised-segment-list.png
Labels: docs

docs: add Amplitude destination catalogue screenshot
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/static/img/cohort-synchronisation/amplitude-destination-catalogue.png
Labels: docs

refactor(diff): drop two declarations that never applied
  frontend/web/components/diff/DiffRow/DiffRow.scss
Labels: front-end

fix(storybook): keep hljs colours in light docs too
  frontend/.storybook/docs-theme.scss
Labels: front-end

refactor(styles): diff view and code theme on shared tokens (#8069)
  frontend/.storybook/docs-theme.scss
  frontend/documentation/pages/DiffEnabled.stories.tsx
  frontend/documentation/pages/DiffRow.stories.tsx
  frontend/documentation/pages/DiffString.stories.tsx
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/diff/DiffFeature.scss
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffRow/DiffRow.scss
  frontend/web/components/diff/DiffRow/DiffRow.tsx
  frontend/web/components/diff/DiffRow/index.ts
  frontend/web/components/diff/DiffString.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

fix(usage): reword the plan hint when we have no billing period
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

ci(frontend-deploy): name what is being deployed
  .github/actions/notify-slack-deploy/action.yml
  .github/actions/notify-slack-deploy/payload.jq
  .github/workflows/frontend-deploy-production.yml
Labels: none

chore(deps): Bump cryptography and sqlparse
  api/uv.lock
Labels: api

fix(cohorts): queue membership count refreshes for cohort segments
  api/cohorts/services.py
  api/tests/unit/cohorts/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

fix(cohorts): only refresh membership counts at cohort creation
  api/cohorts/services.py
  api/tests/unit/cohorts/test_services.py
Labels: api

docs: add Amplitude destination configuration screenshot
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/static/img/cohort-synchronisation/amplitude-destination-config.png
Labels: docs

docs: document Amplitude target users flow and sync cadences
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/static/img/cohort-synchronisation/amplitude-define-cadence.png
Labels: docs

docs: drop Mixpanel placeholder from cohort synchronisation overview
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/docs/third-party-integrations/cohort-synchronisation/index.md
Labels: docs

fix: point mixpanel modal docs link at cohort synchronisation overview
  frontend/web/components/modals/ConnectCohortProviderModal/providers.ts
Labels: front-end

Update API Flagsmith Defaults
  api/integrations/flagsmith/data/environment.json
Labels: api

fix: queue membership count refreshes for cohort segments (#8438)
  api/cohorts/services.py
  api/tests/unit/cohorts/test_services.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Labels: docs, api

docs: cover CSV cohort synchronisation and rework overview prose
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/docs/third-party-integrations/cohort-synchronisation/csv.md
  docs/docs/third-party-integrations/cohort-synchronisation/index.md
  docs/static/img/cohort-synchronisation/create-segment-sources.png
  docs/static/img/cohort-synchronisation/csv-create-segment.png
  docs/static/img/cohort-synchronisation/csv-resynchronise.png
Labels: docs

fix: point connect modal docs links at cohort synchronisation docs
  frontend/web/components/modals/ConnectCohortProviderModal/ConnectCohortProviderModal.tsx
  frontend/web/components/modals/ConnectCohortProviderModal/providers.ts
Labels: front-end

docs: rename CSV cohort page to CSV Import
  docs/docs/third-party-integrations/cohort-synchronisation/csv-import.md
  docs/docs/third-party-integrations/cohort-synchronisation/index.md
Labels: docs

docs: call out environment scoping of synchronised segments
  docs/docs/third-party-integrations/cohort-synchronisation/amplitude.md
  docs/docs/third-party-integrations/cohort-synchronisation/csv-import.md
  docs/docs/third-party-integrations/cohort-synchronisation/index.md
Labels: docs

chore(frontend): keep jest and tsc out of storybook-static
  frontend/jest.config.js
  frontend/tsconfig.json
Labels: front-end

chore(deps): Bump cryptography and sqlparse (#8433)
  api/uv.lock
Labels: api

fix(usage): reword the plan hint when we have no billing period (#8430)
  frontend/web/components/pages/usage/__tests__/utils.test.ts
  frontend/web/components/pages/usage/utils.ts
Labels: front-end

drafting
  api/README.md
  api/api/openapi.py
  api/app/settings/common.py
  api/tests/integration/trust_relationships/test_token_exchange.py
  api/tests/unit/environments/identities/test_poc_cross_tenant_identity_featurestates.py
  api/tests/unit/oauth2_metadata/test_authorize_view.py
  api/tests/unit/oauth2_metadata/test_mappers.py
  api/trust_relationships/serializers.py
  docs/docs/administration-and-security/access-control/rbac.md
  docs/docs/administration-and-security/billing-api-usage.md
  docs/docs/administration-and-security/data-management/import-and-export.md
  docs/docs/administration-and-security/data-management/organisations-import-export.md
  docs/docs/administration-and-security/governance-and-compliance/custom-fields.md
  docs/docs/administration-and-security/governance-and-compliance/system-limits.md
  docs/docs/deployment-self-hosting/mcp-server.md
  docs/docs/getting-started/glossary.md
  docs/docs/getting-started/quick-start.md
  docs/docs/integrating-with-flagsmith/CLI.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/admin-api/index.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/index.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/management-api/authentication.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/management-api/code-examples.md
  docs/docs/integrating-with-flagsmith/flagsmith-api-overview/management-api/index.md
  docs/docs/integrating-with-flagsmith/mcp-server.mdx
  docs/docs/integrating-with-flagsmith/sdks/index.md
  docs/docs/managing-flags/code-references.md
  docs/docs/managing-flags/feature-versioning.md
  docs/docs/performance/real-time-flags.md
  docs/docs/sdk-api/flagsmith-api.info.mdx
  docs/docs/support/faq/feature-flags-remote-config.mdx
  docs/docs/third-party-integrations/ci-cd/terraform.md
  docs/sdk/sdk-api-info.mdx
  docs/src/pages/index.tsx
  docs/static/img/rbac-permissions-diagram.svg
  docs/vercel.json
  frontend/env/project_local.js
  frontend/web/components/ManagementAPIKeys.js
  frontend/web/components/pages/organisation-settings/tabs/APIKeysTab.tsx
Labels: docs, front-end, api

Add `permission-contents: write`
  .github/workflows/api-fix-docs-artefacts.yml
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

docs:
  - changed-files:
      - any-glob-to-any-file: docs/**

front-end:
  - changed-files:
      - any-glob-to-any-file: frontend/**

api:
  - changed-files:
      - any-glob-to-any-file: api/**

infrastructure:
  - changed-files:
      - any-glob-to-any-file: infrastructure/**
