Repository Flagsmith/flagsmith, pull requests merged in 2023-08, with the labels that each got.

#2553 chore(main): release 2.64.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2556 chore(docs): update amplitude docs with base URL
  docs/docs/integrations/analytics/amplitude.md
Labels: docs

#2555 fix: environment webhooks shows current date, not created date
  api/organisations/migrations/0043_add_created_at_and_updated_at_to_organisationwebhook.py
  api/organisations/models.py
  api/organisations/serializers.py
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end, api

#2558 fix: Fix highlight encoding
  frontend/web/components/Highlight.js
Labels: front-end

#2538 fix: Sanitize HTML tooltips
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Toolip.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/project/project-components.js
Labels: front-end

#2569 Fixes
  frontend/web/components/CodeHelp.js
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_layout.scss
Labels: front-end

#2564 chore: e2e tests with firefox
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-build-e2e-image.yml
  .github/workflows/platform-pull-request.yml
  frontend/.testcaferc.js
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
  frontend/e2e/index.cafe.js
Labels: front-end, github

#2571 chore: dont build e2e image on pr
  .github/workflows/platform-docker-build-e2e-image.yml
Labels: github

#2572 chore: update webhook timeout -> 10s
  api/webhooks/webhooks.py
Labels: api

#2570 chore: update AUTO_SEAT_UPGRADE_PLANS
  .github/workflows/platform-pull-request.yml
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: github

#2557 chore(main): release 2.64.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2574 chore: remove deprecated save state github actions
  .github/actions/api-deploy-ecs/action.yml
Labels: github

#2578 fix: ensure that migrate command exits with non zero error code
  api/scripts/run-docker.sh
Labels: api

#2581 chore: Improve e2e
  .github/actions/e2e-tests/action.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
  frontend/bin/upload-file.js
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/invite-test.ts
  frontend/e2e/tests/project-test.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tsconfig.json
Labels: front-end, github

#2550 chore: update panels and list items
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/AuditLog.tsx
  frontend/web/components/ButterBar.js
  frontend/web/components/CodeHelp.js
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/FeatureValue.js
  frontend/web/components/Icon.tsx
  frontend/web/components/IntegrationList.js
  frontend/web/components/OrgEnvironmentSelect.tsx
  frontend/web/components/Paging.js
  frontend/web/components/PanelSearch.js
  frontend/web/components/SegmentFeatureOverrides.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/TryIt.js
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/base/grid/Panel.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateEditIntegrationModal.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/ScheduledChangesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagFilter.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/components/_list-item.scss
  frontend/web/styles/components/_paging.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/components/_switch.scss
  frontend/web/styles/components/_toast.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_card.scss
  frontend/web/styles/project/_layout.scss
  frontend/web/styles/project/_lists.scss
  frontend/web/styles/project/_panel.scss
  frontend/web/styles/project/_segments.scss
  frontend/web/styles/project/_tags.scss
  frontend/web/styles/project/_type.scss
Labels: front-end

#2422 feat: Use isEnterprise from endpoint version response to determine permissions
  frontend/common/utils/utils.tsx
Labels: front-end

#2579 chore(main): release 2.65.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2214 feat: Migrate to poetry
  Dockerfile
  api/Dockerfile
  api/Dockerfile.redhat-ubi
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
  api/requirements-all.txt
  api/requirements-dev.in
  api/requirements-dev.txt
  api/requirements.in
  api/requirements.txt
Labels: api

#2592 chore: fix pytest addopts following poetry merge
  api/pyproject.toml
Labels: api

#2591 chore(infra): optional group dependencies for saml and auth-controller modules
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  Dockerfile
  api/Dockerfile
  api/Dockerfile.redhat-ubi
  api/Makefile
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#2589 chore: bump black to bring inline with pre commit
  api/poetry.lock
  api/pyproject.toml
Labels: api

#2593 deps: update pysaml2
  api/poetry.lock
  api/pyproject.toml
Labels: api

#2597 docs(core): better swagger auth info
  api/app/settings/common.py
Labels: api

#2600 ci: move audit to poetry
  .github/workflows/api-audit.yml
Labels: improvement, github

#2567 style: side modals
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/Aside.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/IntegrationList.js
  frontend/web/components/TestWebhook.js
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/ViewDocs.tsx
  frontend/web/components/modals/CreateAuditWebhook.js
  frontend/web/components/modals/CreateEditIntegrationModal.js
  frontend/web/components/modals/CreateGroup.js
  frontend/web/components/modals/CreateProject.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateUser.tsx
  frontend/web/components/modals/CreateWebhook.js
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationGroupsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-datepicker.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_modals.scss
Labels: front-end

#2576 style: audit log
  frontend/web/components/AuditLog.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

#2582 fix: Associated segment overrides
  frontend/common/providers/withSegmentOverrides.js
  frontend/web/components/SegmentOverrides.js
Labels: front-end

#2605 ci: cache api poetry
  .github/workflows/api-pull-request.yml
  api/Makefile
Labels: api, github

#2405 ci: Additional project makefiles
  Makefile
  docs/Makefile
  frontend/Makefile
Labels: front-end, docs

#2614 fix: metadata validation causes AttributeError for patch requests
  api/environments/serializers.py
  api/environments/tests/test_views.py
  api/metadata/serializers.py
Labels: api

#2615 feat: add limits and totals to API responses
  api/audit/serializers.py
  api/environments/serializers.py
  api/environments/views.py
  api/organisations/views.py
  api/projects/serializers.py
  api/projects/tests/test_serializers.py
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#2612 fix: variation value overflow
  frontend/web/components/mv/VariationValue.js
Labels: front-end

#2585 chore(main): release 2.66.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2620 fix: update auth controller vars in private cloud image build
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2623 fix: issue retrieving project with master api key
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#2621 chore(main): release 2.66.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2625 fix: revert totals attributes
  api/audit/serializers.py
  api/environments/serializers.py
  api/environments/views.py
  api/organisations/views.py
  api/projects/serializers.py
  api/projects/tests/test_serializers.py
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#2626 chore(main): release 2.66.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2616 feat: Compare identities
  frontend/.eslintrc.js
  frontend/common/services/useIdentity.ts
  frontend/common/services/useIdentityFeatureState.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/AlertBar.js
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/DateSelect.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/EnvironmentSelect.js
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/FeatureValue.js
  frontend/web/components/FeatureValue.tsx
  frontend/web/components/IdentitySelect.tsx
  frontend/web/components/InlineModal.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateEditIntegrationModal.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateWebhook.js
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/BrokenPage.tsx
  frontend/web/components/pages/CompareEnvironmentsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/project/api.js
  frontend/web/project/project-components.js
  frontend/web/routes.js
Labels: front-end

#2624 fix: update POETRY_OPTS in private cloud build
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2633 docs: fix broken links in releases.md
  docs/docs/platform/releases.md
Labels: docs

#2634 docs: relative links
  docs/docs/clients/client-side/ios.md
  docs/docs/clients/client-side/nextjs-and-ssr.md
  docs/docs/clients/client-side/react.md
  docs/docs/deployment/configuration/authentication/SAML.md
  docs/docs/deployment/hosting/kubernetes.md
  docs/docs/deployment/overview.md
  docs/docs/guides-and-examples/okta-configuration.md
  docs/docs/platform/releases.md
  docs/versioned_docs/version-v1.0/clients/client-side/ios.md
  docs/versioned_docs/version-v1.0/clients/client-side/nextjs-and-ssr.md
  docs/versioned_docs/version-v1.0/clients/client-side/react.md
  docs/versioned_docs/version-v1.0/clients/server-side/go.md
  docs/versioned_docs/version-v1.0/deployment/authentication.md
  docs/versioned_docs/version-v1.0/platform/releases.md
Labels: docs

#2644 chore: add create cache table to makefile
  api/Makefile
Labels: api

#2611 chore: Filter feature specific segments
  frontend/web/components/PanelSearch.js
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end

#2643 docs: add poetry
  docs/docs/deployment/hosting/locally-api.md
  docs/docs/platform/contributing.md
Labels: docs

#2628 chore: Platform release 2.67.0
  .release-please-manifest.json
  CHANGELOG.md
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, autorelease: pending

#2646 feat: admin action to delete all segments for project
  api/projects/admin.py
  api/tests/unit/projects/test_unit_projects_admin.py
Labels: api

#2619 fix(password-reset): rate limit password reset emails
  api/app/settings/common.py
  api/custom_auth/migrations/0001_initial.py
  api/custom_auth/migrations/__init__.py
  api/custom_auth/models.py
  api/custom_auth/views.py
  api/tests/unit/users/test_unit_users_views.py
  api/users/models.py
Labels: api

#2642 fix(user-create): duplicate email error message
  api/custom_auth/serializers.py
  api/custom_auth/tests/test_serializer.py
Labels: api

#2631 feat: re-add totals and limits
  api/audit/serializers.py
  api/environments/serializers.py
  api/environments/views.py
  api/organisations/views.py
  api/projects/serializers.py
  api/projects/tests/test_serializers.py
  api/projects/views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#2657 docs: fix railway template
  docs/docs/deployment/overview.md
Labels: docs

#2660 docs: real time update
  docs/docs/advanced-use/real-time-flags.md
Labels: docs

#2598 fix(frontend): Disabled loading indicator when getting featuers so screen doesn't flicker
  frontend/common/stores/feature-list-store.js
Labels: front-end

#2661 docs: reorder nav items
  docs/docs/integrations/_category_.json
  docs/docs/system-administration/_category_.json
Labels: docs

#2583 fix: total api calls handling
  frontend/common/services/useOrganisationUsage.ts
  frontend/web/components/App.js
Labels: front-end

#2655 chore: update environment settings page
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/modals/ConfirmToggleEnvFeature.tsx
  frontend/web/components/modals/CreateWebhook.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/tags/ColourSelect.tsx
  frontend/web/styles/project/_type.scss
Labels: front-end

#2665 docs: collect all code examples
  docs/docs/basic-features/managing-identities.md
  docs/docs/clients/rest.md
Labels: docs

#2664 docs: fix typos
  docs/docs/clients/client-side/android.md
  docs/docs/clients/client-side/flutter.md
  docs/docs/clients/client-side/nextjs-and-ssr.md
  docs/docs/clients/client-side/react.md
  docs/docs/clients/overview.md
  docs/docs/integrations/terraform.md
  docs/docs/platform/contributing.md
  docs/docs/system-administration/rbac.md
Labels: docs

#2622 style: Login / signup
  frontend/common/stores/account-store.js
  frontend/web/components/Card.js
  frontend/web/components/GoogleButton.js
  frontend/web/components/Icon.tsx
  frontend/web/components/SamlForm.js
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/modals/ForgotPasswordModal.tsx
  frontend/web/components/pages/HomePage.js
  frontend/web/project/api.js
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_card.scss
  frontend/web/styles/project/_utils.scss
Labels: front-end

#2648 chore: Platform release 2.68.0
  .release-please-manifest.json
  CHANGELOG.md
  api/CHANGELOG.md
  api/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, api, autorelease: pending

#2671 fix: environment document totals
  frontend/common/services/useOrganisationUsage.ts
Labels: front-end

#2667 chore: Bump RBAC version to v0.3.1
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2662 chore: update error message for non unique email address
  api/custom_auth/serializers.py
  api/custom_auth/tests/test_serializer.py
Labels: api

#2279 feat: Use get-metadata-subscription to get max_api_calls
  api/conftest.py
  api/organisations/chargebee/__init__.py
  api/organisations/chargebee/chargebee.py
  api/organisations/migrations/0044_organisationsubscriptioninformationcache_allowed_projects.py
  api/organisations/migrations/0045_auto_20230802_1956.py
  api/organisations/models.py
  api/organisations/subscription_info_cache.py
  api/organisations/subscriptions/constants.py
  api/organisations/subscriptions/metadata.py
  api/organisations/subscriptions/subscription_service.py
  api/organisations/tasks.py
  api/organisations/tests/test_models.py
  api/organisations/tests/test_views.py
  api/organisations/views.py
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/urls.py
  api/sales_dashboard/views.py
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
  api/tests/unit/organisations/subscriptions/test_unit_subscription_service.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  frontend/web/components/App.js
Labels: front-end, api

#2663 test: add retrieve environment test
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api

#2656 test: add more tests for feature versioning logic
  api/conftest.py
  api/environments/identities/models.py
  api/features/feature_segments/serializers.py
  api/features/migrations/0061_add_environment_feature_version_to_feature_segment.py
  api/features/migrations/0062_alter_feature_segment_unique_constraint.py
  api/features/models.py
  api/features/serializers.py
  api/features/versioning/views.py
  api/tests/integration/conftest.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
  api/tests/integration/features/versioning/types.py
  api/tests/test_helpers.py
  api/tests/unit/environments/identities/test_identities_models.py
  api/tests/unit/features/feature_segments/__init__.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

#2675 fix(env-clone/permission): allow clone using CREATE_ENVIRONMENT
  api/environments/permissions/permissions.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api

#2672 chore: update segments page and edit segment modal
  frontend/common/stores/organisation-store.js
  frontend/web/components/CodeHelp.js
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/FeatureValue.tsx
  frontend/web/components/IntegrationList.js
  frontend/web/components/PanelSearch.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ValueEditor.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateEditIntegrationModal.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/project/toast.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/components/_toast.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

#2436 feat(master-api-key/roles): Add roles to master api key
  api/api_keys/authentication.py
  api/api_keys/middleware.py
  api/api_keys/migrations/0003_masterapikey_is_admin.py
  api/api_keys/models.py
  api/api_keys/serializers.py
  api/api_keys/user.py
  api/app/settings/common.py
  api/app/settings/test.py
  api/conftest.py
  api/core/models.py
  api/core/permissions.py
  api/core/signals.py
  api/environments/permissions/permissions.py
  api/environments/tests/test_views.py
  api/environments/views.py
  api/features/feature_segments/permissions.py
  api/features/feature_segments/serializers.py
  api/features/feature_segments/tests/test_views.py
  api/features/feature_segments/views.py
  api/features/multivariate/views.py
  api/features/permissions.py
  api/features/serializers.py
  api/features/tests/test_views.py
  api/features/views.py
  api/organisations/urls.py
  api/permissions/permission_service.py
  api/permissions/rbac_wrapper.py
  api/projects/permissions.py
  api/projects/tests/test_views.py
  api/projects/views.py
  api/segments/permissions.py
  api/segments/views.py
  api/tests/integration/api_keys/test_viewset.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/test_clone_environment.py
  api/tests/integration/features/featurestate/test_environment_featurestate_viewset.py
  api/tests/integration/features/featurestate/test_simple_featurestate_viewset.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/unit/api_keys/test_authentication.py
  api/tests/unit/api_keys/test_middleware.py
  api/tests/unit/api_keys/test_user.py
  api/tests/unit/conftest.py
  api/tests/unit/core/test_permissions.py
  api/tests/unit/features/multivariate/test_unit_multivariate_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/permissions/permission_service/conftest.py
  api/tests/unit/permissions/permission_service/test_master_api_key_permission_service.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/users/abc.py
  api/users/models.py
Labels: api

#2680 chore: update edit feature modal
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FlagOwners.js
  frontend/web/components/OrganisationSelect.js
  frontend/web/components/PageTitle.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.js
  frontend/web/components/mv/VariationOptions.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/ScheduledChangesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UserPage.js
  frontend/web/styles/3rdParty/_hw-badge.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_modals.scss
Labels: front-end

#2673 chore(release-please): add component to tags for sub packages
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  release-please-config.json
Labels: github

#2686 chore: update scheduling and change requests pages
  frontend/web/components/Aside.js
  frontend/web/components/GroupSelect.tsx
  frontend/web/components/modals/CreateUser.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/components/_list-item.scss
  frontend/web/styles/project/_type.scss
Labels: front-end

#2693 docs: in operator
  docs/docs/basic-features/managing-segments.md
Labels: docs

#2696 docs: system limits are softish
  docs/docs/system-administration/system-limits.md
Labels: docs

#2700 chore(infra): re-add bad environments cache
  api/app/settings/common.py
  api/environments/models.py
  api/environments/tests/test_models.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api

#2697 docs: remove most screenshots
  docs/docs/advanced-use/change-requests.md
  docs/docs/advanced-use/flag-management.md
  docs/docs/advanced-use/scheduled-flags.md
  docs/docs/basic-features/managing-features.md
  docs/docs/basic-features/managing-identities.md
  docs/docs/basic-features/managing-segments.md
  docs/docs/clients/client-side/android.md
  docs/docs/clients/client-side/flutter.md
  docs/docs/clients/client-side/ios.md
  docs/docs/clients/client-side/javascript.md
  docs/docs/clients/client-side/nextjs-and-ssr.md
  docs/docs/clients/rest.md
  docs/docs/guides-and-examples/staged-feature-rollouts.md
  docs/docs/guides-and-examples/testing-push-notifications.md
  docs/docs/integrations/analytics/amplitude.md
  docs/docs/integrations/analytics/heap.md
  docs/docs/integrations/analytics/mixpanel.md
  docs/docs/integrations/analytics/rudderstack.md
  docs/docs/integrations/analytics/segment.md
  docs/docs/system-administration/security.md
  docs/static/img/ab-test-paypal-example.png
Labels: docs

#2707 fix: settings page margin
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end

#2710 feat: Home page announcement
  frontend/web/components/App.js
  frontend/web/components/InfoMessage.js
  frontend/web/styles/project/_alert.scss
Labels: front-end

#2718 chore(release-please): revert sub packages and change to simple release type
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  .release-please-manifest.json
  api/CHANGELOG.md
  frontend/CHANGELOG.md
  release-please-config.json
  version.txt
Labels: front-end, api, github

#2716 fix: make `OrganisationSubscriptionInformationCache.allowed_projects` nullable
  api/organisations/migrations/0046_allow_allowed_projects_to_be_null.py
  api/organisations/models.py
  api/organisations/tests/test_views.py
Labels: api
