Repository Flagsmith/flagsmith, pull requests merged in 2023-12, with the labels that each got.

#3080 fix: Add group owners to missing endpoint
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3081 fix: Move environments and features to test area
  api/environments/identities/tests/__init__.py
  api/environments/identities/traits/tests/__init__.py
  api/environments/identities/traits/tests/test_views.py
  api/environments/permissions/tests/__init__.py
  api/environments/tests/__init__.py
  api/environments/tests/test_models.py
  api/features/feature_segments/tests/__init__.py
  api/tests/unit/environments/dynamodb/test_unit_dynamo_environment_wrapper.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_api_key_wrapper.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/environments/dynamodb/test_unit_migrator.py
  api/tests/unit/environments/dynamodb/types/test_unit_dynamodb_project_metadata.py
  api/tests/unit/environments/identities/helpers.py
  api/tests/unit/environments/identities/test_identities_models.py
  api/tests/unit/environments/identities/test_identities_views.py
  api/tests/unit/environments/identities/test_unit_identities_feature_states_views.py
  api/tests/unit/environments/identities/test_unit_identities_helpers.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/environments/identities/traits/test_traits_views.py
  api/tests/unit/environments/identities/traits/test_unit_traits_models.py
  api/tests/unit/environments/management/commands/test_unit_environments_management_commands_migrate_to_edge.py
  api/tests/unit/environments/permissions/test_unit_environments_permissions.py
  api/tests/unit/environments/permissions/test_unit_environments_views.py
  api/tests/unit/environments/test_unit_environments_authentication.py
  api/tests/unit/environments/test_unit_environments_feature_states_views.py
  api/tests/unit/environments/test_unit_environments_migrations.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_permissions.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_models.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
Labels: api

#3085 chore: restrict python version < 3.12
  api/pyproject.toml
Labels: api

#3090 fix: remove pagination from group summaries
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/users/views.py
Labels: api

#3091 fix(postgres/feature-analytics): use feature filter
  api/app_analytics/analytics_db_service.py
  api/app_analytics/models.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
Labels: api

#3093 fix: revert "fix: Reading role permissions generates 500 error backend"
  api/users/models.py
  api/users/serializers.py
Labels: api

#3073 chore(main): release 2.87.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3058 fix: Manage members layout is broken
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end

#3083 feat: explicitly set audit log created date
  api/audit/migrations/0013_allow_manual_override_of_created_date.py
  api/audit/models.py
  api/audit/tasks.py
  api/edge_api/identities/tasks.py
  api/features/models.py
  api/tests/unit/audit/test_unit_audit_tasks.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api

#3068 feat: Add Payment component in the blocked page
  frontend/web/components/Blocked.js
  frontend/web/components/modals/Payment.js
Labels: front-end

#3050 feat(sse): track usage
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  api/.env-ci
  api/Dockerfile
  api/app/settings/common.py
  api/app/settings/test.py
  api/poetry.lock
  api/pyproject.toml
  api/sse/dataclasses.py
  api/sse/sse_service.py
  api/sse/tasks.py
  api/tests/unit/sse/test_sse_service.py
  api/tests/unit/sse/test_tasks.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api, github

#3097 chore: add option to disable the Flagsmith UI in the API containers.
  api/app/settings/common.py
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3102 docs: override limits with self hosted
  docs/docs/system-administration/system-limits.md
Labels: docs

#3109 feat: add attribute to store identity overrides storage type
  api/projects/migrations/0021_add_identity_overrides_storage_type.py
  api/projects/models.py
Labels: api

#3100 fix: Unable to delete multiple segment overrides at once
  frontend/web/components/SegmentOverrides.js
Labels: front-end

#3095 chore: Add first promoter
  api/app/views.py
  docs/docs/deployment/hosting/locally-frontend.md
  frontend/api/index.js
  frontend/web/components/modals/Payment.js
  frontend/web/project/firstPromoter.js
Labels: front-end, api, docs

#3110 style: Adjust feature value size for user overrides
  frontend/web/components/pages/UserPage.js
Labels: front-end

#3107 docs: Add one click deploy to readme
  docs/docs/deployment/overview.md
Labels: docs

#3026 feat: Import / export of features across environments and orgs
  api/app/settings/common.py
  api/features/import_export/apps.py
  api/features/import_export/constants.py
  api/features/import_export/migrations/0001_initial.py
  api/features/import_export/migrations/__init__.py
  api/features/import_export/models.py
  api/features/import_export/permissions.py
  api/features/import_export/serializers.py
  api/features/import_export/tasks.py
  api/features/import_export/views.py
  api/features/models.py
  api/features/multivariate/models.py
  api/features/urls.py
  api/features/views.py
  api/projects/urls.py
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api

#3115 chore: add DynamoEnvironmentV2Wrapper class
  api/app/settings/common.py
  api/environments/dynamodb/dynamodb_wrapper.py
Labels: api

#3114 feat: Add dunning banner
  frontend/web/components/App.js
  frontend/web/components/ButterBar.js
  frontend/web/components/Icon.tsx
  frontend/web/styles/styles.scss
Labels: front-end

#3119 style: Justify segment rules to the center
  frontend/web/components/modals/Rule.tsx
Labels: front-end

#3120 feat: Add new url for role users
  api/organisations/urls.py
Labels: api

#3118 fix: Show scheduled change request
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end

#3122 chore: Include tag name in delete
  frontend/web/components/tags/AddEditTags.tsx
Labels: front-end

#3126 feat: Set feature export response on initial API request
  api/features/import_export/constants.py
  api/features/import_export/migrations/0002_status_and_data_featureexport.py
  api/features/import_export/models.py
  api/features/import_export/serializers.py
  api/features/import_export/tasks.py
  api/features/import_export/views.py
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api

#3127 feat: Add a task for writing (edge) identity overrides
  api/conftest.py
  api/edge_api/identities/audit.py
  api/edge_api/identities/models.py
  api/edge_api/identities/tasks.py
  api/edge_api/identities/types.py
  api/edge_api/identities/utils.py
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/utils.py
  api/poetry.lock
  api/pyproject.toml
  api/task_processor/decorators.py
  api/task_processor/models.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/__init__.py
  api/util/mappers/dynamodb.py
  api/util/mappers/engine.py
Labels: api

#3108 fix(sse_recurring_task): reload sse/tasks
  api/task_processor/management/commands/runprocessor.py
  api/tests/unit/sse/test_tasks.py
Labels: api

#3116 feat: add endpoint to list (edge) identity overrides for a feature
  api/edge_api/identities/edge_identity_service.py
  api/edge_api/identities/models.py
  api/edge_api/identities/permissions.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/tasks.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/types.py
  api/environments/urls.py
  api/poetry.lock
  api/tests/unit/edge_api/identities/conftest.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/util/mappers/dynamodb.py
Labels: api

#3128 fix: bump rbac to fix import issue
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3124 chore: change project field to migration status
  api/projects/admin.py
  api/projects/migrations/0021_add_identity_overrides_migration_status.py
  api/projects/models.py
  api/projects/serializers.py
  api/tests/unit/projects/test_unit_projects_models.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#3131 fix(tests/NoCredentialsError): use aws_credentials fixture
  api/.env-ci
  api/sse/sse_service.py
  api/tests/unit/sse/test_sse_service.py
Labels: api

#3125 chore: Add identity overrides for edge
  api/edge_api/identities/permissions.py
  api/edge_api/identities/views.py
  api/environments/urls.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, api

#3134 fix: do not show identity overrides tab until release
  frontend/common/utils/utils.tsx
Labels: front-end

#3135 fix: hide additional actions on identity overrides tab in Edge
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#3137 fix: Husky install
  .husky/pre-commit
  frontend/.husky/_/.gitignore
  frontend/.husky/pre-commit
  frontend/package.json
Labels: front-end

#3139 fix: re-add identity overrides for core projects
  frontend/common/utils/utils.tsx
Labels: front-end

#3141 fix(Dockerfile): Use correct secret ID for pgp_key
  api/Dockerfile
Labels: api

#3142 chore: use importlib for SAML detection
  api/app/settings/common.py
Labels: api

#3143 chore: Use chunks when batch writing identity overrides
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/tests/unit/util/test_util.py
  api/util/util.py
Labels: api

#3144 fix: show falsy values in identity overrides
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#3145 chore: Allow Decimal feature state values when mapping to DynamoDB
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/util/mappers/dynamodb.py
Labels: api

#3146 chore: Write GSI index partition key for meta documents
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/util/mappers/dynamodb.py
Labels: api

#3121 chore: Add multivariate warning
  frontend/web/components/mv/VariationOptions.js
Labels: front-end

#3136 style: feature filters and compact mode
  frontend/common/constants.ts
  frontend/common/services/useTag.ts
  frontend/common/stores/feature-list-store.js
  frontend/common/useViewMode.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/ExampleFeatureRow.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/FeatureValue.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/InlineModal.js
  frontend/web/components/PanelSearch.js
  frontend/web/components/RolesSelect.tsx
  frontend/web/components/ToggleChip.js
  frontend/web/components/UserSelect.js
  frontend/web/components/base/forms/Input.js
  frontend/web/components/base/forms/Radio.tsx
  frontend/web/components/base/grid/Panel.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tables/TableFilter.tsx
  frontend/web/components/tables/TableFilterItem.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tables/TableSearchFilter.tsx
  frontend/web/components/tables/TableSortFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/ColourSelect.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/components/_input.scss
  frontend/web/styles/components/_list-item.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_lists.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_tags.scss
  frontend/web/styles/project/_utils.scss
Labels: front-end

#3094 chore(main): release 2.88.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3150 chore(docs): add note to roles docs that they are still in active development.
  docs/docs/system-administration/rbac.md
Labels: docs

#3156 fix: hide identity overrides badge or edge projects
  frontend/web/components/FeatureRow.js
Labels: front-end

#3160 chore: Improve admin create project settings flow
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/styles/project/_buttons.scss
Labels: front-end

#3155 fix: Add missing f-string from app_analytics models
  api/app_analytics/models.py
Labels: api

#3147 feat: Write migrated environments to v2
  api/environments/dynamodb/__init__.py
  api/environments/dynamodb/services.py
  api/environments/models.py
  api/projects/tasks.py
  api/tests/unit/environments/conftest.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/projects/test_tasks.py
Labels: api

#3087 fix: change request rendering issue when author no longer belongs to organisation
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end

#3148 ci: update charts version on docker image release
  .github/workflows/platform-docker-publish-image.yml
Labels: github

#3149 feat: Create flagsmith on flagsmith feature export task
  api/app/settings/common.py
  api/features/import_export/migrations/0003_flagsmithonflagsmithfeatureexport.py
  api/features/import_export/models.py
  api/features/import_export/tasks.py
  api/features/import_export/views.py
  api/features/urls.py
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api

#3163 fix: Fine tune feature import export
  api/features/constants.py
  api/features/import_export/permissions.py
  api/features/import_export/views.py
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3167 fix(Dockerfile): setup gnupg correctly for nobody
  api/Dockerfile
  api/sse/sse_service.py
Labels: api

#3171 ci: Enable merge queue checks. Run only changed tests. WIP - DO NOT MERGE
  .github/workflows/api-pull-request.yml
  .gitignore
  api/.env-ci-testmon
  api/.gitignore
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3173 ci: Revert - Enable merge queue checks. Run only changed tests.
  .github/workflows/api-pull-request.yml
  .gitignore
  api/.env-ci-testmon
  api/.gitignore
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3170 feat(postgres/analytics): Add task to clean-up old data
  api/app/settings/common.py
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_tasks.py
Labels: api

#3174 style: Improve inline modal width
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/styles/project/_modals.scss
Labels: front-end

#3096 feat: Organisation reverts to free plan
  api/organisations/apps.py
  api/organisations/chargebee/webhook_handlers.py
  api/organisations/migrations/0050_add_historical_subscription.py
  api/organisations/models.py
  api/organisations/signals.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3180 docs: remove screenshot reference
  docs/docs/basic-features/managing-features.md
  docs/static/img/multi-variate-flags.png
Labels: docs

#3172 chore: Convert unit features models TestCase to normal test function
  api/tests/unit/features/test_unit_features_models.py
Labels: api

#3164 feat: Count v2 identity overrides for feature state list view
  api/edge_api/identities/edge_identity_service.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/utils.py
  api/features/features_service.py
  api/features/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/features/test_unit_features_features_service.py
Labels: api

#3179 chore: use Depot for flagsmith-api image build
  .github/workflows/api-docker-publish-image.yml
Labels: github

#3157 chore(main): release 2.89.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3177 chore: Display identity override badges
  frontend/web/components/FeatureRow.js
Labels: front-end

#3186 chore: use Depot for flagsmith-frontend image build
  .github/workflows/frontend-docker-publish-image.yml
Labels: github

#3191 docs: link to undocumented JS interface definitions
  docs/docs/clients/client-side/react.md
Labels: docs

#3153 feat(task-processor): Add recurring task to clean password reset
  api/custom_auth/apps.py
  api/custom_auth/tasks.py
  api/scripts/run-docker.sh
  api/task_processor/management/commands/runprocessor.py
  api/tests/unit/custom_auth/test_tasks.py
  api/tests/unit/sse/test_tasks.py
Labels: api

#3193 style: Fix dark mode for the invite screen
  frontend/web/styles/new/_variables-new.scss
Labels: front-end

#3197 fix(sse/tracking): Use INFLUXDB_BUCKET for storing data
  api/app/settings/common.py
  api/sse/tasks.py
  api/tests/unit/sse/test_tasks.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api

#3187 chore: bump release please
  .github/workflows/platform-release-please.yml
Labels: github

#3185 chore: fix update chart yaml
  .github/workflows/platform-docker-publish-image.yml
Labels: github

#3168 chore: Convert unit features permissions TestCase methods to normal test functions
  api/tests/unit/features/test_unit_features_permissions.py
Labels: api

#3198 docs: Fix links
  docs/docs/deployment/overview.md
  docs/docs/version-comparison.md
Labels: docs

#3202 deps: bump ldap version
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3190 chore(main): release 2.90.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3196 fix(admin/task-processor): handle no task run
  api/task_processor/admin.py
Labels: api

#3200 chore(docs): update enterprise edition docs for LDAP support
  docs/docs/deployment/configuration/enterprise-edition.md
Labels: docs

#3175 docs: add beta integrations
  docs/docs/integrations/analytics/adobe.md
  docs/docs/integrations/overview.md
  docs/docs/integrations/project-management/servicenow.md
  docs/static/img/integrations/adobe/adobe-logo.svg
  docs/static/img/integrations/servicenow/servicenow-logo.svg
Labels: docs

#3203 style: Match design system
  frontend/web/components/InfoMessage.js
  frontend/web/components/PanelSearch.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/ScheduledChangesPage.js
  frontend/web/styles/components/_panel.scss
Labels: front-end

#3178 feat: add new url from role groups
  api/organisations/urls.py
Labels: api

#3165 chore: Simplify integration config
  docs/docs/deployment/overview.md
  docs/docs/platform/releases.md
  docs/package.json
  frontend/web/components/Aside.js
  frontend/web/components/pages/IntegrationsPage.js
Labels: front-end, docs

#3182 fix(subscriptions): ensure that manually added subscriptions work correctly in all deployments
  .github/actions/api-deploy-ecs/action.yml
  api/app/utils.py
  api/conftest.py
  api/organisations/chargebee/chargebee.py
  api/organisations/models.py
  api/organisations/subscriptions/constants.py
  api/sales_dashboard/forms.py
  api/tests/unit/app/test_unit_app_utils.py
  api/tests/unit/app/test_unit_app_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api, github

#3194 chore: Add existing tag check
  frontend/web/components/tags/CreateEditTag.tsx
Labels: front-end

#3169 fix(task-processor): implement grace period for deleting old recurring task
  api/task_processor/processor.py
  api/tests/unit/task_processor/test_unit_task_processor_processor.py
Labels: api

#3207 ci: Updates to Uffizzi Deployment GHA workflows.
  .github/workflows/uffizzi-build.yml
  .github/workflows/uffizzi-preview.yml
Labels: github

#3166 chore: Persists tag filtering
  frontend/common/stores/feature-list-store.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tables/TableTagFilter.tsx
Labels: front-end

#3211 deps: bump rbac version to 0.6.0
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3210 deps: update ldap to version 0.1.0
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3154 feat: Add new url for roles master api keys
  api/organisations/urls.py
Labels: api

#3214 feat: Revert Add new url for roles master api keys (#3154)
  api/organisations/urls.py
Labels: api

#3204 chore(main): release 2.91.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3151 feat(tasks-processor): Add recurring task to clean up old recurring task runs
  api/app/settings/common.py
  api/task_processor/tasks.py
  api/tests/unit/task_processor/test_unit_task_processor_tasks.py
Labels: api

#3176 chore: Use group summaries endpoint for flag owners and permissions
  frontend/common/services/useGroupSummary.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/ConnectedGroupSelect.tsx
  frontend/web/components/FlagOwnerGroups.js
  frontend/web/components/UserGroupList.tsx
Labels: front-end

#3208 feat: prepopulate control value on segment overrides
  frontend/web/components/SegmentFeatureOverrides.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#3219 fix: erroneous booleans in feature tooltip
  frontend/web/components/FeatureRow.js
Labels: front-end

#3215 feat: Add new url for role master api keys
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/organisations/urls.py
Labels: api, github

#3216 ci: API tests optimization. Enable merge queue checks and run only changed tests
  .github/workflows/api-pull-request.yml
  .gitignore
  api/.env-ci-testmon
  api/.gitignore
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api, github

#3224 chore(docs): fix segment rule operators table
  docs/docs/basic-features/managing-segments.md
Labels: docs
