Repository Flagsmith/flagsmith, pull requests merged in 2023-07, with the labels that each got.

#2375 chore: bump flag-engine version
  api/requirements.txt
Labels: api

#2374 Update switch styles
  frontend/web/components/App.js
  frontend/web/components/Icon.tsx
  frontend/web/components/Switch.js
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_switch.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

#2377 Update checkbox
  frontend/web/components/Icon.tsx
  frontend/web/components/SamlForm.js
  frontend/web/components/pages/HomePage.js
  frontend/web/styles/components/_input.scss
  frontend/web/styles/new/_variables-new.scss
Labels: front-end

#2378 Ensure versions are taken into account when building environment document
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

#2381 Update info message
  frontend/web/components/Icon.tsx
  frontend/web/components/InfoMessage.js
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
Labels: front-end

#2379 Update modal design
  frontend/web/components/App.js
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/ModalHR.tsx
  frontend/web/components/modals/base/ModalConfirm.tsx
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

#2369 Fix swagger generation
  api/api/urls/deprecated.py
  api/api/urls/v1.py
  api/app/pagination.py
  api/app/settings/common.py
  api/app_analytics/views.py
  api/audit/views.py
  api/custom_auth/oauth/views.py
  api/custom_auth/views.py
  api/edge_api/identities/views.py
  api/environments/identities/serializers.py
  api/environments/identities/traits/views.py
  api/environments/identities/views.py
  api/environments/permissions/views.py
  api/environments/views.py
  api/features/feature_segments/views.py
  api/features/multivariate/views.py
  api/features/views.py
  api/integrations/common/views.py
  api/integrations/datadog/views.py
  api/integrations/new_relic/views.py
  api/metadata/views.py
  api/organisations/invites/views.py
  api/organisations/views.py
  api/projects/tags/views.py
  api/projects/views.py
  api/pyproject.toml
  api/requirements.in
  api/requirements.txt
  api/segments/views.py
  api/task_processor/views.py
  api/tests/unit/api/__init__.py
  api/tests/unit/api/test_unit_api.py
  api/users/views.py
Labels: api

#2388 Fix audit log render
  frontend/web/components/pages/AuditLogPage.tsx
Labels: front-end

#2389 Update error message
  frontend/web/components/ErrorMessage.js
  frontend/web/components/Icon.tsx
  frontend/web/components/InfoMessage.js
  frontend/web/components/modals/ChangeEmailAddress.tsx
  frontend/web/components/modals/ConfirmDeleteAccount.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/mv/VariationOptions.js
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/PasswordResetPage.js
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

#2390 Fix environment document generation for scheduled CRs
  api/features/models.py
  api/features/tests/test_models.py
  api/tests/unit/environments/identities/test_identities_models.py
  api/tests/unit/features/conftest.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
Labels: api

#2393 Prettier fixes
  .github/workflows/docs-pull-request.yml
  .pre-commit-config.yaml
  docs/docs/quickstart.md
  docs/package-lock.json
  docs/package.json
  docs/versioned_docs/version-v1.0/quickstart.md
  package-lock.json
Labels: docs, github

#2392 Bump RBAC version
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2394 Bump workflows and saml for drf yasg issues
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2410 Fix workflow for building private cloud image (RBAC module)
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2411 Bump SAML version v1.1.0
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2402 Remove delete constraint from ChangeRequest model
  api/features/workflows/core/exceptions.py
  api/features/workflows/core/models.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

#2404 Add Dynatrace RUM
  frontend/.eslintrc.js
  frontend/api/index.js
  frontend/common/stores/config-store.js
  frontend/global.d.ts
  frontend/web/project/api.js
  frontend/webpack/plugins.js
Labels: front-end

#2396 Update select
  frontend/web/components/ErrorMessage.js
  frontend/web/components/PanelSearch.js
  frontend/web/components/base/forms/Input.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/project/project-components.js
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end

#2412 Fix data dog organisation select
  frontend/web/components/pages/WidgetPage.tsx
Labels: front-end

#2416 Bump flag engine version to fix Nan string validation
  api/requirements.txt
Labels: api

#2418 Bump workflows version 1.2.4
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2413 Update tags and chips
  frontend/common/stores/config-store.js
  frontend/web/components/Aside.js
  frontend/web/components/ChipInput.tsx
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/FeatureRow.js
  frontend/web/components/FeatureValue.js
  frontend/web/components/FlagOwners.js
  frontend/web/components/Icon.tsx
  frontend/web/components/ToggleChip.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/ChangeRequestModal.js
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagFilter.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/project/api.js
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_tags.scss
  frontend/web/styles/styles.scss
Labels: front-end

#2423 Ensure that project admins are considered as environment admins
  api/environments/views.py
  api/permissions/permissions_calculator.py
  api/tests/unit/permissions/test_unit_permissions_calculator.py
Labels: api

#2426 Only enable dynatrace if dtrum is defined
  frontend/common/stores/config-store.js
  frontend/web/project/api.js
Labels: front-end

#2420 feat: Bake enterprise version info into private cloud image
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/app/urls.py
  api/app/utils.py
  api/app/views.py
  api/tests/unit/app/__init__.py
  api/tests/unit/app/test_unit_app_utils.py
  api/tests/unit/app/test_unit_app_views.py
Labels: api, github

#2429 fix: contact us chat popup
  frontend/web/components/modals/Payment.js
Labels: front-end

#2433 docs: new architecture diagram
  docs/docs/advanced-use/edge-api.md
  docs/docs/deployment/overview.md
  docs/docs/diagrams/Architecture.drawio
  docs/docs/system-administration/architecture.md
  docs/docs/system-administration/edge-proxy.md
  docs/docs/system-administration/rbac.md
  docs/docs/version-comparison.md
  docs/static/img/saas-architecture.svg
  docs/static/img/self-hosted-architecture.svg
Labels: docs

#2425 chore: Broken feature
  frontend/web/components/Aside.js
  frontend/web/components/pages/BrokenPage.tsx
  frontend/web/routes.js
Labels: front-end

#2417 refactor(docs): Subnav for integrations
  docs/docs/integrations/analytics/_category_.json
  docs/docs/integrations/analytics/amplitude.md
  docs/docs/integrations/analytics/heap.md
  docs/docs/integrations/analytics/mixpanel.md
  docs/docs/integrations/analytics/rudderstack.md
  docs/docs/integrations/analytics/segment.md
  docs/docs/integrations/apm/_category_.json
  docs/docs/integrations/apm/appdynamics.md
  docs/docs/integrations/apm/datadog.md
  docs/docs/integrations/apm/dynatrace.md
  docs/docs/integrations/apm/newrelic.md
  docs/docs/integrations/overview.md
  docs/docs/integrations/slack.md
  docs/docs/integrations/terraform.md
  docs/docs/integrations/webhook.md
  docs/vercel.json
  docs/versioned_docs/version-v1.0/integrations/overview.md
Labels: docs

#2437 chore(docs): update FoF integration json data
  docs/docs/deployment/overview.md
Labels: docs

#2383 ci: release please
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-release-please.yml
Labels: github

#2400 feat: Adjust AWS payment settings
  api/organisations/migrations/0042_alter_subscription_payment_method.py
  api/organisations/subscriptions/constants.py
  frontend/common/stores/account-store.js
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end, api

#2432 chore: Update tabs
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/new/_variables-new.scss
Labels: front-end

#2443 chore: Update CodeHelp
  frontend/web/components/CodeHelp.js
  frontend/web/components/Icon.tsx
  frontend/web/components/JSONReference.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
Labels: front-end

#2441 chore(main): release 2.61.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2451 ci: explicit release please config
  docs/docs/platform/releases.md
  release-please-config.json
Labels: docs

#2448 fix: Allow signups when invited and in PREVENT_SIGNUP mode
  frontend/web/components/pages/HomePage.js
Labels: front-end

#2453 chore: Demo broken page
  frontend/web/components/pages/BrokenPage.tsx
Labels: front-end

#2424 feat: add descriptive event title to dynatrace integration
  api/audit/models.py
  api/audit/signals.py
  api/integrations/common/wrapper.py
  api/integrations/datadog/datadog.py
  api/integrations/datadog/tests/test_datadog.py
  api/integrations/dynatrace/dynatrace.py
  api/integrations/dynatrace/tests/test_dynatrace.py
  api/integrations/new_relic/new_relic.py
  api/integrations/new_relic/tests/test_new_relic.py
  api/integrations/slack/slack.py
  api/tests/unit/integrations/slack/test_unit_slack.py
Labels: api

#2334 docs: iOS update
  docs/docs/clients/client-side/ios.md
Labels: docs

#2454 chore: Identify Dtrum user by id
  frontend/common/stores/account-store.js
  frontend/web/project/api.js
Labels: front-end

#2455 docs: Helm chart PR 108: task processor documentation
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#2460 chore(deps): update cryptography
  api/requirements-dev.txt
  api/requirements.txt
Labels: api

#2464 chore(task-proc): Add logging
  api/task_processor/processor.py
Labels: api

#2465 chore(tasks): Add request timeout
  api/edge_api/identities/edge_request_forwarder.py
  api/sse/tasks.py
  api/tests/unit/sse/test_tasks.py
  api/webhooks/webhooks.py
Labels: api

#2452 chore(main): release 2.62.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2467 fix: revert EDGE_API_URL removal and reduce timeout further to 0.1s
  api/edge_api/identities/edge_request_forwarder.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: api

#2469 fix: remove call to update environment updated_at value
  api/audit/models.py
  api/environments/tests/test_models.py
Labels: api

#2471 fix: update edge forwarder timeouts to 5s
  api/edge_api/identities/edge_request_forwarder.py
Labels: api

#2474 fix: revert "fix: remove call to update environment updated_at value"
  api/audit/models.py
  api/environments/tests/test_models.py
Labels: api

#2462 chore: Update date select
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DateSelect.js
  frontend/web/components/Icon.tsx
  frontend/web/components/modals/ChangeRequestModal.js
  frontend/web/components/modals/ModalHR.tsx
  frontend/web/components/pages/UserPage.js
  frontend/web/styles/3rdParty/_index.scss
  frontend/web/styles/3rdParty/_react-datepicker.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end

#2478 chore(main): release 2.62.4
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2487 chore(main): release 2.62.5
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2482 feat(tests): test coverage
  .github/workflows/api-pull-request.yml
  api/.env-ci
  api/.env-local
  api/.gitignore
  api/Makefile
  api/pyproject.toml
  api/requirements-dev.in
  api/requirements-dev.txt
  readme.md
Labels: api, github

#2493 chore(docs): fix Helm values key for InfluxDB
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#2489 docs: system limits
  docs/docs/deployment/configuration/authentication/SAML.md
  docs/docs/system-administration/saml.md
  docs/docs/system-administration/system-limits.md
Labels: docs

#2480 feat(limits): Add limits to features, segments and segment overrides
  api/features/feature_segments/serializers.py
  api/features/feature_segments/tests/test_views.py
  api/features/serializers.py
  api/projects/admin.py
  api/projects/exceptions.py
  api/projects/migrations/0019_add_limits.py
  api/projects/models.py
  api/projects/tests/test_views.py
  api/projects/views.py
  api/segments/serializers.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

#2490 chore(main): release 2.63.0
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2501 fix(webhooks): fix skipping webhooks calls on timeouts
  api/webhooks/tests/test_webhooks.py
  api/webhooks/webhooks.py
Labels: api

#2502 chore(main): release 2.63.1
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2504 fix: Update Hyperlink "Learn about Audit Webhooks" URL
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end

#2506 refactor: revert remove husky
  .eslintignore
  .flake8
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/.husky/_/.gitignore
  frontend/.husky/pre-commit
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  tsconfig.json
Labels: front-end

#2357 chore: Helm chart PR 123, Postgres upgrade release notes
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#2508 fix: ensure recurring tasks are unlocked after being picked up (but not executed)
  api/task_processor/models.py
  api/task_processor/processor.py
  api/tests/unit/task_processor/test_unit_task_processor_processor.py
Labels: api

#2505 chore(main): release 2.63.2
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2513 docs: add s3 importer
  docs/docs/deployment/configuration/importing-and-exporting.md
Labels: docs

#2495 fix(roles/org-permission): Add missing viewset
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/conftest.py
  api/organisations/urls.py
Labels: api, github

#2095 chore: clean up old tasks
  api/app/settings/common.py
  api/task_processor/decorators.py
  api/task_processor/management/commands/runprocessor.py
  api/task_processor/migrations/0009_add_recurring_task_run_first_run_at.py
  api/task_processor/models.py
  api/task_processor/tasks.py
  api/tests/unit/task_processor/test_unit_task_processor_models.py
  api/tests/unit/task_processor/test_unit_task_processor_tasks.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api

#2518 fix: percentage allocation display
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#2520 refactor: remove vercel from frontend dependencies
  .github/workflows/frontend-deploy-production.yml
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, github

#2483 chore: Update side modals
  frontend/web/components/Feature.js
  frontend/web/components/FlagOwners.js
  frontend/web/components/Icon.tsx
  frontend/web/components/InlineModal.js
  frontend/web/components/SamlForm.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/ToggleChip.js
  frontend/web/components/UserSelect.js
  frontend/web/components/ValueEditor.js
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/Rule.js
  frontend/web/components/mv/AddVariationButton.js
  frontend/web/components/mv/VariationOptions.js
  frontend/web/components/mv/VariationValue.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/HomePage.js
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_segments.scss
  frontend/web/styles/project/_tags.scss
Labels: front-end

#2524 fix(tests): support any webhook order
  api/webhooks/tests/test_webhooks.py
Labels: api

#2517 chore(workflow): remove redundant column(deleted_at)
  api/features/workflows/core/migrations/0008_remove_redundant_column.py
  api/features/workflows/core/models.py
Labels: api

#2529 docs: audit logs version comparison
  docs/docs/version-comparison.md
Labels: docs

#2532 ci: black to py310 and py311
  api/pyproject.toml
Labels: api

#2531 fix: allow creating integration configurations where deleted versions exist
  api/integrations/amplitude/serializers.py
  api/integrations/amplitude/views.py
  api/integrations/common/serializers.py
  api/integrations/common/views.py
  api/integrations/datadog/views.py
  api/integrations/dynatrace/views.py
  api/integrations/heap/views.py
  api/integrations/mixpanel/views.py
  api/integrations/new_relic/views.py
  api/integrations/rudderstack/views.py
  api/integrations/segment/views.py
  api/integrations/slack/views.py
  api/integrations/webhook/views.py
  api/tests/unit/integrations/amplitude/conftest.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude_views.py
  api/tests/unit/integrations/common/test_unit_integrations_common_serializers.py
  api/tests/unit/integrations/datadog/__init__.py
  api/tests/unit/integrations/datadog/conftest.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  api/tests/unit/integrations/newrelic/__init__.py
  api/tests/unit/integrations/newrelic/conftest.py
  api/tests/unit/integrations/newrelic/test_unit_newrelic_views.py
Labels: api

#2533 chore(docs): update segment operator documentation
  docs/docs/basic-features/managing-segments.md
  docs/docs/clients/overview.md
Labels: docs

#2536 docs: fix typo
  docs/docs/basic-features/managing-segments.md
Labels: docs

#2200 ci: Improve TestCafe
  .github/workflows/platform-pull-request.yml
  api/scripts/run-docker.sh
  frontend/e2e/add-error-logs.js
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/web/project/setDarkMode.ts
Labels: front-end, api, github

#2527 fix: change request audit logs
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/audit/constants.py
  api/audit/tasks.py
  api/features/models.py
  api/features/multivariate/models.py
  api/features/workflows/core/models.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api, github

#2541 docs: some new features
  docs/docs/advanced-use/flag-management.md
Labels: docs

#2542 chore: tweak task clean up settings
  api/app/settings/common.py
  api/task_processor/tasks.py
  api/tests/unit/task_processor/test_unit_task_processor_tasks.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api

#2540 docs: link to terraform examples
  docs/docs/deployment/overview.md
Labels: docs

#2515 chore(main): release 2.63.3
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending

#2544 chore: operator warnings
  frontend/common/types/responses.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/Rule.tsx
Labels: front-end

#2549 chore: bump vercel version
  .github/workflows/frontend-deploy-production.yml
Labels: github

#2545 chore: Upgrade TestCafe
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

#2507 refactor: linting tweaks
  .pre-commit-config.yaml
  api/.flake8
  frontend/tsconfig.json
Labels: front-end

#2534 feat(integrations): add support for Amplitude base url
  api/integrations/amplitude/amplitude.py
  api/integrations/amplitude/constants.py
  api/integrations/amplitude/migrations/0006_add_default_base_url.py
  api/integrations/amplitude/models.py
  api/integrations/amplitude/serializers.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
Labels: api
