Repository Flagsmith/flagsmith, pull requests merged in 2023-06, with the labels that each got.

#2307 Fix user invite-link regeneration (#2306)
  frontend/common/stores/organisation-store.js
Labels: bug, front-end

#2335 improvement/clarify get identities networking
  docs/docs/clients/server-side.md
Labels: docs

#2344 chore/update mixpanel docs
  docs/docs/integrations/mixpanel.md
Labels: docs

#2337 improvement/refactor sysadmin docs
  docs/docs/advanced-use/flag-management.md
  docs/docs/advanced-use/system-administration.md
  docs/docs/clients/overview.md
  docs/docs/deployment/configuration/authentication/LDAP.md
  docs/docs/deployment/configuration/enterprise-edition.md
  docs/docs/guides-and-examples/defensive-coding.md
  docs/docs/guides-and-examples/integration-approaches.md
  docs/docs/integrations/terraform.md
  docs/docs/system-administration/_category_.json
  docs/docs/system-administration/api-usage.md
  docs/docs/system-administration/authentication.md
  docs/docs/system-administration/edge-proxy.md
  docs/docs/system-administration/rbac.md
  docs/docs/system-administration/security.md
  docs/docs/system-administration/webhooks.md
  docs/docs/version-comparison.md
  docs/vercel.json
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/CreateAuditWebhook.js
  frontend/web/components/modals/CreateWebhook.js
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: docs

#2346 Improvement/Refactor SAML docs
  docs/docs/deployment/configuration/authentication/SAML.md
  docs/docs/system-administration/SAML.md
Labels: docs

#2347 feature/auto label prs
  .github/labeler.yml
  .github/workflows/github-labeler.yml
Labels: github

#2349 Chore: update typography
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/TryIt.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/IntegrationsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/ScheduledChangesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_type.scss
  frontend/web/styles/styles.scss
Labels: front-end

#2351 feature/webflow forms
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

#2358 fix(feature-type): Update feature_type (if required) on mv options updates
  api/features/migrations/0059_fix_feature_type.py
  api/features/multivariate/models.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/features/multivariate/test_unit_multivariate_models.py
  api/tests/unit/features/test_migrations.py
Labels: api

#2350 Resolve inconsistent percentage split evaluations
  api/edge_api/identities/models.py
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/environments/migrations/0032_rename_use_mv_v2_evaluation_to_use_in_percentage_split_evaluation.py
  api/environments/models.py
  api/environments/serializers.py
  api/environments/tests/test_views.py
  api/features/models.py
  api/features/tests/test_models.py
  api/requirements.txt
  api/segments/models.py
  api/tests/unit/environments/identities/test_identities_models.py
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end, api

#2290 feat: bump engine, mapper layer
  api/app/settings/common.py
  api/edge_api/identities/models.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/tests/test_dynamo_environment_wrapper.py
  api/environments/dynamodb/tests/test_dynamodb_environment_api_key_wrapper.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/environments/managers.py
  api/environments/mappers.py
  api/environments/models.py
  api/requirements.in
  api/requirements.txt
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/test_environments_views_sdk_environment.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/__init__.py
  api/util/mappers/dynamodb.py
  api/util/mappers/engine.py
  api/util/renderers.py
Labels: api

#2362 Add documentation for consistent hashing setting.
  docs/docs/system-administration/environment-settings.md
Labels: docs

#2364 fix/webflow webhook
  frontend/api/index.js
Labels: front-end

#2365 fix/remove old docs code
  docs/docs/basic-features/managing-identities.md
Labels: docs

#2366 fix correct pipedrive contact form
  frontend/api/index.js
Labels: front-end

#2283 Limit invite users according with org max seats
  api/organisations/invites/tests/test_views.py
  api/organisations/invites/views.py
  api/organisations/models.py
  api/organisations/tests/test_models.py
  api/users/models.py
  frontend/common/stores/account-store.js
  frontend/common/stores/organisation-store.js
  frontend/web/components/pages/InvitePage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end, api

#2367 fix/lambda pipedrive race condition
  frontend/api/index.js
Labels: front-end

#2363 fix: don't use broken identity document builder
  api/edge_api/identities/serializers.py
  api/edge_api/identities/views.py
Labels: api

#2355 Chore/update button style
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tags/Tag.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/components/_color-block.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/mixins/custom-scrollbar.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_PricingPage.scss
  frontend/web/styles/project/_alert.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_card.scss
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_panel.scss
  frontend/web/styles/project/_popover.scss
  frontend/web/styles/project/_project-nav.scss
  frontend/web/styles/project/_tags.scss
  frontend/web/styles/styles.scss
Labels: front-end

#2368 Update input styles
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/Icon.tsx
  frontend/web/components/PanelSearch.js
  frontend/web/components/Token.js
  frontend/web/components/base/forms/Input.js
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/modals/Rule.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end

#2370 Fix "verify_seats_limit_for_invite_links" flag
  frontend/common/stores/account-store.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end
