Repository Flagsmith/flagsmith, pull requests merged in 2023-10, with the labels that each got.

#2810 chore: docusaurus 2.4.3
  docs/package-lock.json
  docs/package.json
Labels: docs

#2816 docs: Update NextJS docs
  docs/docs/clients/client-side/nextjs-and-ssr.md
Labels: docs

#2824 Docs: Remove redundant steps for application set-up
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#2825 chore: Dynamically add/remove albacross
  docs/docs/deployment/hosting/locally-frontend.md
  frontend/api/index.js
  frontend/web/components/pages/HomePage.js
Labels: front-end, docs

#2826 feat(tasks/queue-size): Implement queue_size
  api/edge_api/identities/edge_request_forwarder.py
  api/task_processor/decorators.py
  api/task_processor/exceptions.py
  api/task_processor/models.py
  api/tests/unit/task_processor/test_unit_task_processor_models.py
Labels: api

#2814 chore(main): release 2.73.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2817 refactor(get_environment_from_cache): Optimize SQL query
  api/environments/models.py
Labels: api

#2828 docs: Improve Flag Analytics documentation
  docs/docs/advanced-use/flag-analytics.md
Labels: docs

#2807 fix(tasks): Create a different task to update environment document
  api/audit/models.py
  api/environments/tasks.py
  api/tests/unit/audit/test_unit_audit_models.py
  api/tests/unit/environments/test_unit_environment_tasks.py
Labels: api

#2830 chore(main): release 2.73.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2832 docs: sunsetting edge identity replication
  docs/docs/advanced-use/edge-api.md
Labels: docs

#2833 docs: protected tags
  docs/docs/advanced-use/flag-management.md
Labels: docs

#2834 chore: Remove configure_hide_sensitive_data flag
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end

#2530 feat: Launchdarkly importer
  api/Makefile
  api/app/settings/common.py
  api/audit/related_object_type.py
  api/integrations/launch_darkly/__init__.py
  api/integrations/launch_darkly/apps.py
  api/integrations/launch_darkly/client.py
  api/integrations/launch_darkly/constants.py
  api/integrations/launch_darkly/migrations/0001_initial.py
  api/integrations/launch_darkly/migrations/0002_importrequest_unique_project_ld_project_key_status_result_null.py
  api/integrations/launch_darkly/migrations/__init__.py
  api/integrations/launch_darkly/models.py
  api/integrations/launch_darkly/serializers.py
  api/integrations/launch_darkly/services.py
  api/integrations/launch_darkly/tasks.py
  api/integrations/launch_darkly/types.py
  api/integrations/launch_darkly/views.py
  api/ld-openapi-filter.yaml
  api/poetry.lock
  api/projects/urls.py
  api/pyproject.toml
  api/tests/unit/integrations/launch_darkly/__init__.py
  api/tests/unit/integrations/launch_darkly/client_responses/get_environments.json
  api/tests/unit/integrations/launch_darkly/client_responses/get_flags.json
  api/tests/unit/integrations/launch_darkly/client_responses/get_project.json
  api/tests/unit/integrations/launch_darkly/conftest.py
  api/tests/unit/integrations/launch_darkly/example_api_responses/getEnvironmentsByProject_1.json
  api/tests/unit/integrations/launch_darkly/example_api_responses/getEnvironmentsByProject_2.json
  api/tests/unit/integrations/launch_darkly/example_api_responses/getFeatureFlags_1.json
  api/tests/unit/integrations/launch_darkly/example_api_responses/getFeatureFlags_2.json
  api/tests/unit/integrations/launch_darkly/example_api_responses/getProject.json
  api/tests/unit/integrations/launch_darkly/example_api_responses/getTags.json
  api/tests/unit/integrations/launch_darkly/test_client.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_views.py
  docs/docs/integrations/importers/_category_.json
  docs/docs/integrations/importers/launchdarkly.md
Labels: feature, api, docs

#2843 chore: update sdk versions
  docs/docs/clients/server-side.md
Labels: docs

#2845 docs: IN case sensitive
  docs/docs/basic-features/managing-segments.md
Labels: docs

#2841 fix: incorrect default_percentage_allocation on import, binary flags imported as multivariate
  api/features/feature_types.py
  api/integrations/launch_darkly/services.py
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api

#2842 fix: Logged out of Flagsmith when testing Webhook
  frontend/common/data/base/_data.js
  frontend/web/components/TestWebhook.tsx
Labels: front-end

#2852 chore(docs): Update minimum version for export / import
  docs/docs/deployment/configuration/importing-and-exporting.md
Labels: docs

#2849 fix: enable audit for import events
  api/integrations/launch_darkly/apps.py
Labels: api

#2839 chore(main): release 2.74.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2703 fix: rate limit admin endpoints
  api/api_keys/user.py
  api/app/settings/common.py
  api/app/settings/test.py
  api/environments/identities/tests/test_views.py
  api/environments/identities/traits/tests/test_views.py
  api/environments/identities/traits/views.py
  api/environments/identities/views.py
  api/environments/models.py
  api/environments/sdk/views.py
  api/features/tests/test_views.py
  api/features/views.py
  api/tests/integration/environments/test_clone_environment.py
  api/tests/unit/environments/test_environments_views_sdk_environment.py
Labels: api

#2860 docs: okta groups
  docs/docs/deployment/configuration/authentication/Okta.md
Labels: docs

#2862 docs: LaunchDarkly importer warning
  docs/docs/integrations/importers/launchdarkly.md
Labels: docs

#2848 feat: update change request layout
  frontend/web/components/Tooltip.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/styles/components/_panel.scss
Labels: front-end

#2868 fix: Cannot see the assigned users in the changes request section
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end

#2870 docs: fix typo
  docs/docs/clients/server-side.md
Labels: docs

#2876 docs: php local evaluation caching
  docs/docs/clients/server-side.md
Labels: docs

#2864 feat: partial imports, off values as control value
  api/integrations/launch_darkly/services.py
  api/integrations/launch_darkly/tasks.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  docs/docs/integrations/importers/launchdarkly.md
  frontend/web/components/pages/ImportPage.tsx
Labels: front-end, api, docs

#2858 chore(main): release 2.75.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2878 feat(rate-limit): allow user to pass default throttle classes
  api/app/settings/common.py
Labels: api

#2879 chore(main): release 2.76.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2763 feat: add webhooks to v2 feature versioning
  api/features/signals.py
  api/features/versioning/apps.py
  api/features/versioning/models.py
  api/features/versioning/receivers.py
  api/features/versioning/schemas.py
  api/features/versioning/serializers.py
  api/features/versioning/signals.py
  api/features/versioning/tasks.py
  api/features/workflows/core/models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
  api/webhooks/webhooks.py
Labels: api

#2884 docs: ios configuration
  docs/docs/clients/client-side/ios.md
Labels: docs

#2883 feat(versioning-v2): add published_at
  api/features/versioning/migrations/0001_add_environment_feature_state_version_logic.py
  api/features/versioning/models.py
  api/features/versioning/tasks.py
  api/features/versioning/versioning_service.py
  api/features/workflows/core/models.py
Labels: api

#2887 feat: Click Segment Overrides icon doesnt open the segment override tab
  frontend/web/components/FeatureRow.js
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#2892 fix: Handle null tooltip data
  frontend/web/components/Tooltip.tsx
Labels: front-end

#2867 ci: Run only API tests affected by changes in PRs and Upgrade GHA runners
  .github/workflows/api-pull-request.yml
  api/.env-ci
  api/.gitignore
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#2895 docs: Dont use lamdba for local evaluation mode
  docs/docs/clients/overview.md
Labels: docs

#2685 feat(permissions/tags): Add tags support
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/api_keys/user.py
  api/environments/permissions/constants.py
  api/features/models.py
  api/features/permissions.py
  api/permissions/permission_service.py
  api/permissions/rbac_wrapper.py
  api/projects/permissions.py
  api/tests/unit/features/test_unit_features_views.py
  api/users/models.py
Labels: api, github

#2899 docs(golang-sdk): Update go sdk docs
  docs/docs/clients/server-side.md
Labels: docs

#2888 chore(main): release 2.77.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2847 feat(task-processor): Add priority support
  api/audit/tasks.py
  api/core/migration_helpers.py
  api/edge_api/identities/edge_request_forwarder.py
  api/edge_api/identities/tasks.py
  api/environments/tasks.py
  api/task_processor/decorators.py
  api/task_processor/migrations/0008_add_get_task_to_process_function.py
  api/task_processor/migrations/0010_task_priority.py
  api/task_processor/migrations/0011_add_priority_to_get_tasks_to_process.py
  api/task_processor/migrations/sql/0008_get_recurring_tasks_to_process.sql
  api/task_processor/migrations/sql/0008_get_tasks_to_process.sql
  api/task_processor/migrations/sql/0011_get_tasks_to_process.sql
  api/task_processor/models.py
  api/tests/unit/core/test_unit_core_migration_helpers.py
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
  api/tests/unit/task_processor/test_unit_task_processor_models.py
  api/tests/unit/task_processor/test_unit_task_processor_processor.py
Labels: api

#2906 docs: formatting
  docs/docs/advanced-use/edge-api.md
Labels: docs

#2907 Fix typo in docs
  docs/docs/basic-features/managing-features.md
  docs/docs/platform/releases.md
Labels: docs
