Repository Flagsmith/flagsmith, pull requests merged in 2023-09, with the labels that each got.

#2722 fix: prevent error when addons is null
  api/organisations/chargebee/chargebee.py
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

#2724 fix: Button to go to the link doesnt close the announcement
  frontend/web/components/InfoMessage.js
Labels: front-end

#2719 chore(main): release 2.69.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2447 feat: integrate flagsmith client into API layer
  .github/workflows/update-flagsmith-environment.yml
  api/app/settings/common.py
  api/integrations/flagsmith/__init__.py
  api/integrations/flagsmith/client.py
  api/integrations/flagsmith/data/environment.json
  api/integrations/flagsmith/exceptions.py
  api/integrations/flagsmith/flagsmith_service.py
  api/integrations/flagsmith/management/__init__.py
  api/integrations/flagsmith/management/commands/__init__.py
  api/integrations/flagsmith/management/commands/updateflagsmithenvironment.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/integrations/flagsmith/__init__.py
  api/tests/unit/integrations/flagsmith/test_unit_flagsmith_client.py
  api/tests/unit/integrations/flagsmith/test_unit_flagsmith_service.py
Labels: api, github

#2708 fix(model/featurestate): make environment not null
  api/features/migrations/0060_set_featurestate_environment_not_null.py
  api/features/models.py
  api/tests/unit/features/test_migrations.py
Labels: api

#2736 fix: remove migration health check
  api/app/settings/common.py
Labels: api

#2737 chore(main): release 2.70.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2735 chore(infra): update flagsmith defaults workflow
  .github/workflows/update-flagsmith-environment.yml
Labels: github

#2741 fix(chargebee): ensure multiple addons are counted to subscription limits
  api/organisations/chargebee/chargebee.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

#2742 style: capitalise button
  frontend/web/components/IntegrationList.js
Labels: front-end

#2738 fix(migrations): remove features/0060 set environment not null
  api/features/migrations/0060_set_featurestate_environment_not_null.py
  api/features/models.py
  api/tests/unit/features/test_migrations.py
Labels: api

#2743 chore(main): release 2.70.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2733 feat: Add feature description like the old UI
  frontend/web/components/FeatureRow.js
Labels: front-end

#2731 fix: allow registration via invite link if ALLOW_REGISTRATION_WITHOUT_INVITE is False
  api/custom_auth/oauth/serializers.py
  api/custom_auth/oauth/tests/test_unit_serializers.py
  api/custom_auth/serializers.py
  api/custom_auth/tests/test_serializer.py
Labels: api

#2748 fix: Webhook doesnt show the environment selected
  frontend/web/components/IntegrationList.js
Labels: front-end

#2712 fix(featurestate-permissions): Add misc extra checks
  api/environments/tests/test_views.py
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/conftest.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#2681 feat: add change request logic to feature versioning
  api/features/versioning/migrations/0002_add_change_request_foreign_key.py
  api/features/versioning/models.py
  api/features/workflows/core/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

#2684 fix: create initial versions logic and correct filters for get environment flags
  api/conftest.py
  api/environments/models.py
  api/environments/serializers.py
  api/environments/views.py
  api/features/versioning/tasks.py
  api/features/versioning/versioning_service.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning.py
Labels: api

#2711 fix: UI issue when there were more than 100 features
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/PanelSearch.js
Labels: front-end

#2747 feat(task-processor): validate arguments passed to task processor functions
  api/task_processor/decorators.py
  api/task_processor/exceptions.py
  api/tests/unit/audit/test_unit_audit_tasks.py
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
Labels: api

#2753 fix: Update Webhook button not working
  frontend/web/components/modals/CreateAuditWebhook.js
Labels: front-end

#2749 fix: Deleting a project causes multiple UI issues
  frontend/common/stores/organisation-store.js
Labels: front-end

#2756 chore(docs): update flag analytics docs
  docs/docs/deployment/overview.md
Labels: docs

#2758 docs: segment value size limit
  docs/docs/system-administration/system-limits.md
Labels: docs

#2641 refactor: remove tag hack for version number
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/run-local-api/action.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  .github/workflows/platform-pull-request.yml
  .gitignore
  Dockerfile
  api/Dockerfile
  api/app/utils.py
  api/tests/unit/app/test_unit_app_utils.py
  frontend/Dockerfile
  frontend/Dockerfile.e2e
  frontend/api/index.js
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, api, github

#2759 fix: update ecs staging docker
  .github/actions/api-deploy-ecs/action.yml
Labels: github

#2744 chore(main): release 2.71.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2689 test: Split E2E test into different jobs
  .github/actions/e2e-tests/action.yml
  .github/actions/local-e2e-tests/action.yml
  .github/actions/run-local-api/action.yml
  .github/actions/unified-e2e-tests/action.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
  Dockerfile
  api/app/settings/common.py
  api/e2etests/e2e_seed_data.py
  api/e2etests/tests/end_to_end/test_integration_e2e_tests.py
  api/e2etests/urls.py
  api/e2etests/views.py
  frontend/.testcaferc.js
  frontend/Dockerfile
  frontend/Dockerfile.e2e
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/config.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/invite-test.ts
  frontend/e2e/tests/project-test.ts
  frontend/e2e/tests/segment-test.ts
  frontend/env/project_prod.js
  frontend/web/project/api.js
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: front-end, api, github

#2751 fix: Feature id in mv-option request is undefined
  api/features/multivariate/views.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  frontend/common/stores/feature-list-store.js
Labels: front-end, api

#2559 feat: Add backoff to webhooks, and call multiple webhooks async
  api/audit/signals.py
  api/edge_api/identities/tasks.py
  api/features/tasks.py
  api/features/tests/test_tasks.py
  api/task_processor/decorators.py
  api/tests/unit/audit/test_unit_audit_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/webhooks/tests/test_webhooks.py
  api/webhooks/webhooks.py
Labels: api

#2762 docs: sdk version compatiability
  docs/docs/clients/server-side.md
Labels: docs

#2766 docs: Flutter Realtime Flag Updates section
  docs/docs/clients/client-side/flutter.md
Labels: docs

#2768 docs: Flutter Realtime Flag Updates section (#2766)
  docs/docs/clients/client-side/flutter.md
Labels: docs

#2773 fix(revert): feat: Add backoff to webhooks, and call multiple webhooks async
  api/audit/signals.py
  api/edge_api/identities/tasks.py
  api/features/tasks.py
  api/features/tests/test_tasks.py
  api/task_processor/decorators.py
  api/tests/unit/audit/test_unit_audit_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/webhooks/tests/test_webhooks.py
  api/webhooks/webhooks.py
Labels: api

#2757 feat: Realtime updates, defaultFlags, cacheControl and timeout config for Android
  docs/docs/clients/client-side/android.md
Labels: docs

#2775 docs: new design screenshots
  docs/docs/quickstart.md
  docs/static/img/quickstart/demo_create_1.png
  docs/static/img/quickstart/demo_create_10.png
  docs/static/img/quickstart/demo_create_2.png
  docs/static/img/quickstart/demo_create_3.png
  docs/static/img/quickstart/demo_create_4.png
  docs/static/img/quickstart/demo_create_5.png
  docs/static/img/quickstart/demo_create_6.png
Labels: docs

#2761 test: e2e concurrency + split e2e tests
  .github/actions/e2e-tests/action.yml
  .github/actions/local-e2e-tests/action.yml
  .github/actions/run-local-api/action.yml
  .github/actions/unified-e2e-tests/action.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
  Dockerfile
  api/app/settings/common.py
  api/e2etests/e2e_seed_data.py
  api/e2etests/tests/end_to_end/test_integration_e2e_tests.py
  api/e2etests/urls.py
  api/e2etests/views.py
  frontend/Dockerfile
  frontend/Dockerfile.e2e
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/config.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/invite-test.ts
  frontend/e2e/tests/project-test.ts
  frontend/e2e/tests/segment-test.ts
  frontend/env/project_prod.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/project/api.js
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: front-end, api, github

#2780 feat: Add a pill for server side only flags
  frontend/web/components/FeatureRow.js
Labels: front-end

#2739 fix: Send JSON response instead of plain text
  api/users/views.py
Labels: improvement, api

#2781 docs(api/simplefeaturestate): Add required parameter
  api/features/views.py
Labels: api

#2526 feat: display warning and prevent creation on limit
  .prettierignore
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useEnvironment.ts
  frontend/common/services/useSubscriptionMetadata.ts
  frontend/common/stores/project-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/ErrorMessage.js
  frontend/web/components/FlagSelect.js
  frontend/web/components/Icon.tsx
  frontend/web/components/InfoMessage.js
  frontend/web/components/OrganisationLimit.tsx
  frontend/web/components/SamlForm.js
  frontend/web/components/SegmentOverrideLimit.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/svg/UpgradeIcon.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_toast.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
Labels: front-end

#2785 docs: refactor audit logs
  docs/docs/system-administration/audit-logs.md
  docs/docs/system-administration/security.md
  docs/docs/version-comparison.md
  docs/versioned_docs/version-v1.0/advanced-use/system-administration.md
Labels: docs

#2788 fix: Environment webhook update button not working
  frontend/web/components/modals/CreateWebhook.js
Labels: front-end

#2789 fix: fix segments display crashing (#2770)
  api/poetry.lock
  api/pyproject.toml
Labels: api

#2764 chore(main): release 2.72.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2792 fix: Payment modal
  frontend/web/components/modals/Payment.js
Labels: front-end

#2794 Update integration-approaches.md
  docs/docs/guides-and-examples/integration-approaches.md
Labels: docs

#2795 chore: linting
  docs/docs/guides-and-examples/integration-approaches.md
Labels: docs

#2798 chore: fix server side nav
  docs/docs/clients/server-side.md
Labels: docs

#2800 fix: Toast messages look wrong
  frontend/web/project/toast.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_toast.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
Labels: front-end

#2799 fix: Price is missing in dark mode
  frontend/web/styles/project/_PricingPage.scss
Labels: front-end

#2802 fix: Last Influx data updated at never updates
  api/sales_dashboard/views.py
Labels: api

#2793 chore(main): release 2.72.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending
