Repository Flagsmith/flagsmith, pull requests merged in 2023-11, with the labels that each got.

#2914 fix(task/priority): change field to SmallIntegerField
  api/task_processor/migrations/0010_task_priority.py
  api/task_processor/models.py
Labels: api

#2904 chore(main): release 2.78.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2905 docs: move edge proxy
  docs/docs/advanced-use/edge-proxy.md
  docs/docs/clients/overview.md
  docs/docs/guides-and-examples/defensive-coding.md
  docs/vercel.json
Labels: docs

#2924 docs: link to correct page
  docs/docs/deployment/configuration/django-admin.md
Labels: docs

#2925 chore: Add Data Relay to web form slack/pipedrive post
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

#2902 docs: Add minor changes for project build
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#2928 feat: Create staff fixture
  api/conftest.py
Labels: api

#2908 feat: add group owners to features
  api/features/migrations/0060_feature_group_owners.py
  api/features/models.py
  api/features/permissions.py
  api/features/serializers.py
  api/features/views.py
  api/import_export/export.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/features/test_unit_features_views.py
  api/users/serializers.py
  api/users/views.py
Labels: api

#2929 fix: Tighten ACL for user routes
  api/organisations/tests/test_views.py
  api/users/views.py
Labels: api

#2930 chore(main): release 2.79.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2926 feat(boto3/dynamo): use tcp_keepalive
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/poetry.lock
  api/pyproject.toml
Labels: api

#2938 docs: fix formatting
  docs/docs/deployment/configuration/django-admin.md
Labels: docs

#2939 fix(deps): CVE dependency updates (PVE-2023-61661, PVE-2023-61657, PV…
  api/poetry.lock
Labels: api

#2931 fix: Check that feature owners are able to view the project of a feature
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#2946 fix: Close icon missing in roles modal
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/CreateRole.tsx
Labels: front-end

#2945 docs: Update RBAC documentation. WIP
  docs/docs/system-administration/rbac.md
  docs/static/img/roles/role-create.png
  docs/static/img/roles/role-list.png
  docs/static/img/roles/role-project-permissions.png
  docs/static/img/roles/role-user-assigned-list.png
Labels: docs

#2943 feat: add copy button to server keys
  frontend/web/components/ServerSideSDKKeys.js
Labels: front-end

#2944 fix: Rebuild environments when stop serving flags changed
  api/organisations/models.py
  api/organisations/tests/test_models.py
Labels: api

#2948 fix: prevent sentry errors for on premise subscriptions
  api/organisations/tests/test_views.py
  api/organisations/views.py
Labels: api

#2953 fix: creating change requests in private cloud UI
  api/app/templates/.gitignore
  api/app/templates/index.html
  api/app/templates/webpack/.gitkeep
  api/app/views.py
  frontend/package.json
  frontend/webpack/webpack.config.django.prod.js
Labels: front-end, api

#2881 docs: add features to Current Flagsmith Feature Flags
  docs/docs/deployment/overview.md
Labels: docs

#2959 docs(api): document usage of endpoint_url on import/export #2896
  docs/docs/deployment/configuration/importing-and-exporting.md
Labels: docs

#2957 fix: Infinite loop 404 after leaving the organisation
  frontend/common/stores/project-store.js
Labels: front-end

#2956 docs: Jira integration
  docs/docs/integrations/analytics/_category_.json
  docs/docs/integrations/apm/_category_.json
  docs/docs/integrations/overview.md
  docs/docs/integrations/project-management/_category_.json
  docs/docs/integrations/project-management/jira.md
  docs/docs/integrations/project-management/slack.md
  docs/docs/integrations/terraform.md
  docs/docs/integrations/webhook.md
  docs/static/img/integrations/jira/associate-flag.png
  docs/static/img/integrations/jira/flag-states.png
  docs/static/img/integrations/jira/jira-logo.svg
  docs/static/img/integrations/jira/select-flagsmith.png
  docs/static/img/integrations/slack/slack-logo.svg
  docs/vercel.json
Labels: docs

#2933 chore(main): release 2.80.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2923 feat: add foundation for LDAP in core repository
  api/app/settings/common.py
  api/users/migrations/0035_add_ldap_dn.py
  api/users/models.py
Labels: api

#2958 fix: Audit Log records don't get created with threaded task processing
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  api/task_processor/decorators.py
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
  api/webhooks/webhooks.py
Labels: api

#2947 fix: Fix evironment metadata N+1 for environments list
  api/conftest.py
  api/environments/tests/test_views.py
  api/environments/views.py
  api/permissions/permission_service.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/users/models.py
Labels: api

#2805 feat: trial management in sales dashboard
  api/organisations/models.py
  api/sales_dashboard/forms.py
  api/sales_dashboard/templates/sales_dashboard/organisation.html
  api/sales_dashboard/urls.py
  api/sales_dashboard/views.py
Labels: api

#2951 fix: Handle payment errors during user flow
  api/organisations/chargebee/chargebee.py
  api/organisations/invites/tests/test_views.py
  api/organisations/subscriptions/exceptions.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

#2118 feat: Update static flags
  .github/workflows/frontend-update-static-flags.yml
Labels: github

#2962 fix: sales dashboard subscription metadata shows wrong data after starting trial
  api/organisations/models.py
  api/sales_dashboard/views.py
Labels: api

#2963 docs: fix redirect
  docs/vercel.json
Labels: docs

#2877 feat: Allow organisation admins to mandate 2fa for their organisation
  api/organisations/migrations/0047_organisation_force_2fa.py
  api/organisations/models.py
  api/organisations/serializers.py
  frontend/common/dispatcher/app-actions.js
  frontend/common/stores/account-store.js
  frontend/web/components/App.js
  frontend/web/components/TwoFactor.js
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end, api

#2964 fix: Move organisation tests
  api/tests/unit/organisations/test_unit_organisation_views.py
Labels: api

#2702 chore: update dark theme
  frontend/web/components/Aside.js
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/components/_list-item.scss
  frontend/web/styles/components/_paging.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_PricingPage.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_lists.scss
  frontend/web/styles/project/_segments.scss
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

#2936 feat: Add manage segment overrides permission in UI
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#2960 chore(main): release 2.81.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2969 fix: try self-hosted runner for the private cloud image
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#2970 chore(main): release 2.81.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2919 feat: Add permission for manage segments overrides
  api/app/settings/local.py
  api/conftest.py
  api/environments/migrations/0010_auto_20200219_2343.py
  api/environments/permissions/constants.py
  api/environments/permissions/migrations/0008_add_manage_segment_overrides_permission.py
  api/features/feature_segments/permissions.py
  api/features/feature_segments/serializers.py
  api/features/feature_segments/tests/test_views.py
  api/features/feature_segments/views.py
  api/features/permissions.py
  api/features/tests/test_views.py
  api/features/views.py
  api/permissions/migrations/0001_initial.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api

#2968 fix: Update endpoint getEnvironment RTK response
  frontend/common/services/useEnvironment.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
Labels: front-end

#2973 fix: Logic in segment overrides readonly with the manage_segment_overrides permission
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#2772 ci: Run rbac tests with unit on merge to main
  .github/workflows/api-tests-with-private-packages.yml
Labels: github

#2979 fix: Failure to import LD project other than `default`
  docs/docs/integrations/importers/launchdarkly.md
  frontend/web/components/pages/ImportPage.tsx
Labels: front-end, docs

#2977 feat: Add seats to next invoice
  api/organisations/chargebee/chargebee.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

#2982 fix: Pagination icons disappeared
  frontend/web/components/Paging.js
Labels: front-end

#2965 feat: Remove all but first admin when subscription has reached cancellation date
  api/organisations/models.py
  api/organisations/tasks.py
  api/organisations/tests/test_models.py
  api/organisations/views.py
  api/tests/unit/organisations/test_unit_organisation_tasks.py
  api/tests/unit/organisations/test_unit_organisation_views.py
Labels: api

#2985 fix: Excessive 404s on subscription metadata
  api/organisations/exceptions.py
  api/organisations/migrations/0048_add_default_subscription_to_orphaned_organisations.py
  api/organisations/models.py
  api/organisations/tests/test_models.py
  api/organisations/views.py
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/templates/sales_dashboard/organisation.html
  api/tests/unit/organisations/test_unit_organisation_views.py
Labels: api

#2987 fix: Move tests to unit
  api/app/tests/__init__.py
  api/app/tests/test_urls.py
  api/app_analytics/tests/__init__.py
  api/tests/unit/app/test_unit_app_urls.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_track.py
  api/tests/unit/audit/test_unit_audit_views.py
Labels: api

#2990 fix: ensure SimpleFeatureStateViewSet uses correct permissions for segment overrides
  api/conftest.py
  api/features/permissions.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#2992 docs: jira saas only
  docs/docs/integrations/project-management/jira.md
Labels: docs

#2995 fix: Update docstring to not include change requests
  api/import_export/export.py
Labels: api

#2994 fix: opening the flag panel shifts the main table slightly
  frontend/web/styles/project/_modals.scss
Labels: front-end

#2986 chore: improve UPDATE_FEATURE_STATE permission in UI
  frontend/web/components/FeatureRow.js
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#2998 chore: Relay signup events
  frontend/common/stores/account-store.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

#2993 fix: add LDAP to installed apps
  api/app/settings/common.py
Labels: api

#2971 chore(main): release 2.82.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#2972 docs: segment overrides
  docs/docs/system-administration/rbac.md
Labels: docs

#2647 chore: update manage page
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/DateSelect.js
  frontend/web/components/ErrorMessage.js
  frontend/web/components/Icon.tsx
  frontend/web/components/OrganisationUsage.tsx
  frontend/web/components/PanelSearch.js
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/Token.js
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/modals/CreateAuditWebhook.js
  frontend/web/components/modals/CreateGroup.js
  frontend/web/components/modals/CreateProject.js
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ScheduledChangesPage.js
  frontend/web/styles/components/_list-item.scss
  frontend/web/styles/components/_paging.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_PricingPage.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_panel.scss
  frontend/web/styles/project/_tooltips.scss
  frontend/web/styles/styles.scss
Labels: front-end

#2976 feat: introduce dunning billing status
  api/organisations/chargebee/serializers.py
  api/organisations/chargebee/webhook_handlers.py
  api/organisations/migrations/0049_subscription_billing_status.py
  api/organisations/models.py
  api/organisations/subscriptions/constants.py
  api/organisations/views.py
  api/tests/unit/organisations/test_unit_organisation_views.py
Labels: api

#3002 fix: Move and merge features tests into proper location
  api/features/tests/__init__.py
  api/features/tests/test_fields.py
  api/features/tests/test_models.py
  api/features/tests/test_permissions.py
  api/features/tests/test_views.py
  api/tests/unit/features/test_unit_features_helpers.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/test_unit_features_permissions.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/tests/unit/features/test_unit_features_utils.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#2869 fix(api): validate before creating projects based on current subscription
  api/app/settings/common.py
  api/app/settings/test.py
  api/organisations/models.py
  api/organisations/subscriptions/constants.py
  api/projects/permissions.py
  api/projects/tests/test_permissions.py
  api/tests/unit/organisations/subscriptions/test_unit_subscription_service.py
  api/tests/unit/organisations/test_unit_organisation_views.py
Labels: api

#2205 ci: Add functionality to create defaults in docker compose
  README.md
  api/app/settings/common.py
  api/core/helpers.py
  api/core/management/commands/bootstrap.py
  api/organisations/management/commands/createinitialorganisation.py
  api/organisations/views.py
  api/projects/management/commands/createinitialproject.py
  api/scripts/run-docker.sh
  api/tests/integration/ core/__init__.py
  api/tests/integration/ core/test_commands.py
  api/tests/unit/core/test_helpers.py
  api/users/forms.py
  api/users/management/__init__.py
  api/users/management/commands/__init__.py
  api/users/management/commands/createinitialadminuser.py
  api/users/services.py
  api/users/views.py
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#2996 test: Optimize E2E by removing redundant steps
  api/app/settings/common.py
  api/e2etests/e2e_seed_data.py
  frontend/e2e/tests/segment-test.ts
Labels: front-end, api

#2937 fix(edge-identity-view): reduce max page size to 100
  api/app/pagination.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api

#3007 test: Revert changes in test segments FE
  frontend/e2e/tests/segment-test.ts
Labels: front-end

#3012 chore(infra): add workflow dispatch to Staging deploy ECS
  .github/workflows/api-deploy-staging-ecs.yml
Labels: github

#3010 chore: more info on analytics
  frontend/web/components/OrganisationUsage.tsx
Labels: front-end

#3013 docs: jira tweaks
  docs/docs/integrations/project-management/jira.md
Labels: docs

#2865 feat: Rely on Flagsmith Engine for segment evaluation
  api/conftest.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/environments/identities/tests/test_models.py
  api/environments/identities/tests/test_views.py
  api/features/feature_segments/tests/test_models.py
  api/segments/models.py
  api/segments/serializers.py
  api/segments/tests/test_models.py
  api/tests/unit/environments/test_environments_views_sdk_environment.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/projects/test_unit_projects_admin.py
  api/tests/unit/segments/test_conditions.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/util/mappers/engine.py
Labels: api

#3016 chore: fix integration test
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
  api/tests/test_helpers.py
Labels: api

#3017 chore(tests): move all users tests to tests dir
  api/tests/unit/users/test_unit_users_forms.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/users/test_unit_users_serializers.py
  api/tests/unit/users/test_unit_users_signals.py
  api/tests/unit/users/test_unit_users_views.py
  api/tests/unit/users/utils/__init__.py
  api/tests/unit/users/utils/test_unit_users_mailer_lite.py
  api/users/tests/test_signals.py
  api/users/tests/test_views.py
Labels: api

#3015 chore: use EC2 runners for the Private Cloud build
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3019 feat(ui): hide API keys from integrations list
  frontend/web/components/modals/CreateEditIntegrationModal.js
Labels: front-end

#3021 test: Seed edge identities for e2e tests
  api/e2etests/e2e_seed_data.py
Labels: api

#3022 chore(e2e): fix e2e seed data
  api/e2etests/e2e_seed_data.py
Labels: api

#3024 test: Revert e2e segment test changes FE
  frontend/e2e/tests/segment-test.ts
Labels: front-end

#3025 chore: use self-hosted defaults environment by default
  Dockerfile
  frontend/Dockerfile
  frontend/env/project_selfhosted.js
Labels: front-end

#3027 fix: WIP Move groups of tests to proper location
  api/core/middleware/tests/__init__.py
  api/projects/tests/test_models.py
  api/projects/tests/test_permissions.py
  api/projects/tests/test_views.py
  api/segments/tests/__init__.py
  api/segments/tests/test_models.py
  api/segments/tests/test_permissions.py
  api/tests/unit/core/middleware/test_unit_core_middleware_admin.py
  api/tests/unit/core/middleware/test_unit_core_middleware_cache_control.py
  api/tests/unit/projects/conftest.py
  api/tests/unit/projects/test_unit_projects_models.py
  api/tests/unit/projects/test_unit_projects_permissions.py
  api/tests/unit/projects/test_unit_projects_serializers.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_permissions.py
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/tests/unit/webhooks/test_unit_webhooks_permissions.py
  api/webhooks/tests/__init__.py
Labels: api

#3014 chore(main): release 2.84.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3037 chore(main): release 2.84.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3041 fix: Move organisation tests to proper location
  api/organisations/invites/tests/__init__.py
  api/organisations/invites/tests/test_models.py
  api/organisations/permissions/tests/__init__.py
  api/organisations/tests/__init__.py
  api/organisations/tests/test_tasks.py
  api/tests/unit/organisations/invites/conftest.py
  api/tests/unit/organisations/invites/test_unit_invites_models.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/permissions/test_unit_organisations_migrations.py
  api/tests/unit/organisations/permissions/test_unit_organisations_permissions.py
  api/tests/unit/organisations/permissions/test_unit_organisations_views.py
  api/tests/unit/organisations/test_unit_organisations_migrations.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3040 fix: resolve environment N+1 caused by feature versioning v2
  api/environments/identities/models.py
  api/environments/identities/tests/test_views.py
Labels: api

#3032 chore(deps): make optional groups actually optional
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3044 fix: Move projects and integrations to tests
  api/integrations/amplitude/tests/__init__.py
  api/integrations/amplitude/tests/test_views.py
  api/integrations/datadog/tests/__init__.py
  api/integrations/datadog/tests/test_views.py
  api/integrations/dynatrace/tests/__init__.py
  api/integrations/heap/tests/__init__.py
  api/integrations/mixpanel/tests/__init__.py
  api/integrations/new_relic/tests/__init__.py
  api/integrations/opencensus/tests/__init__.py
  api/integrations/rudderstack/tests/__init__.py
  api/integrations/segment/tests/__init__.py
  api/integrations/webhook/tests/__init__.py
  api/projects/tags/tests/__init__.py
  api/projects/tests/conftest.py
  api/segments/tests/test_models.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude_views.py
  api/tests/unit/integrations/datadog/test_unit_datadog.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace_views.py
  api/tests/unit/integrations/heap/test_unit_heap_views.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel_views.py
  api/tests/unit/integrations/new_relic/__init__.py
  api/tests/unit/integrations/new_relic/conftest.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic.py
  api/tests/unit/integrations/new_relic/test_unit_new_relic_views.py
  api/tests/unit/integrations/newrelic/__init__.py
  api/tests/unit/integrations/newrelic/test_unit_newrelic_views.py
  api/tests/unit/integrations/opencensus/test_unit_opencensus_middleware.py
  api/tests/unit/integrations/opencensus/test_unit_opencensus_querylogger.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack_views.py
  api/tests/unit/integrations/segment/test_unit_segment_views.py
  api/tests/unit/integrations/sentry/test_unit_sentry_middleware.py
  api/tests/unit/integrations/sentry/test_unit_sentry_sampler.py
  api/tests/unit/integrations/slack/test_unit_slack_authentication.py
  api/tests/unit/integrations/slack/test_unit_slack_permissions.py
  api/tests/unit/integrations/webhook/test_unit_webhook_serializers.py
  api/tests/unit/integrations/webhook/test_unit_webhook_views.py
  api/tests/unit/projects/tags/test_unit_projects_tags_models.py
  api/tests/unit/projects/tags/test_unit_projects_tags_permissions.py
Labels: api

#3038 fix: Rely on Flagsmith Engine for segment evaluation, avoid N+1 queries
  api/conftest.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/environments/identities/managers.py
  api/environments/identities/models.py
  api/environments/identities/tests/test_models.py
  api/environments/identities/tests/test_views.py
  api/environments/identities/views.py
  api/features/feature_segments/tests/test_models.py
  api/integrations/integration.py
  api/integrations/webhook/serializers.py
  api/segments/models.py
  api/segments/serializers.py
  api/tests/unit/environments/test_environments_views_sdk_environment.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/import_export/test_unit_import_export_export.py
  api/tests/unit/projects/test_unit_projects_admin.py
  api/tests/unit/segments/test_conditions.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/util/mappers/engine.py
Labels: api

#3045 chore(main): release 2.85.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3055 fix: only run index queries for Postgres DBs
  api/features/migrations/0062_alter_feature_segment_unique_together.py
Labels: api

#3057 docs(JIRA): fix JIRA marketplace link
  docs/docs/integrations/project-management/jira.md
Labels: docs

#3061 chore: add docs to pr template
  .github/pull_request_template.md
Labels: github

#3062 chore: move docker compose back
  README.md
  docker-compose.yml
  docs/docs/deployment/hosting/aws.md
  docs/docs/deployment/hosting/docker.md
  docs/docs/deployment/hosting/google-cloud.md
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#3031 feat(auth): integrate ldap
  .github/workflows/api-pull-request.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  Dockerfile
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3030 chore: FE package updates
  frontend/package-lock.json
Labels: front-end

#3056 chore(main): release 2.86.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3065 chore: poetry.lock update
  api/poetry.lock
Labels: api

#3071 chore: use Depot for multiarch build
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3047 fix: Refactor existing Chargebee webhooks for subscriptions
  api/organisations/chargebee/serializers.py
  api/organisations/chargebee/webhook_handlers.py
  api/organisations/views.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3074 chore: use Depot for flagsmith/flagsmith build
  .github/workflows/platform-docker-publish-image.yml
Labels: github

#3066 fix: resolve outstanding N+1 issues
  api/features/versioning/versioning_service.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/users/test_unit_users_views.py
  api/users/models.py
  api/users/views.py
Labels: api

#3064 feat: add new endpoint to list summary objects of permission groups
  api/organisations/permissions/permissions.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/users/views.py
Labels: api

#3079 fix: Reading role permissions generates 500 error backend
  api/users/models.py
  api/users/serializers.py
Labels: api
