Repository Flagsmith/flagsmith, pull requests merged in 2024-09, with the labels that each got.

#4567 fix(app_analytics/cache): use lock to make cache thread safe
  api/app_analytics/cache.py
Labels: api, fix

#4571 fix(grafana): update migration to noop on table name
  api/integrations/grafana/migrations/0002_add_grafana_organisation_configuration.py
  api/integrations/grafana/models.py
Labels: api, fix

#4557 chore(main): release 2.139.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4564 fix: 'Contact Us' link for open source product upsell messages
  frontend/common/constants.ts
Labels: front-end, fix

#4576 feat(environment): Add toggle for identity override in local eval
  api/environments/migrations/0035_add_use_identity_overrides_in_local_eval.py
  api/environments/models.py
  api/environments/serializers.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/conftest.py
  api/tests/unit/edge_api/identities/conftest.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/tests/unit/util/mappers/test_unit_mappers_sdk.py
  api/util/mappers/engine.py
  api/util/mappers/sdk.py
Labels: feature, api

#4561 fix(github-4555): use api_key name for changed_by
  api/api_keys/user.py
  api/conftest.py
  api/edge_api/identities/models.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/tasks.py
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/api_keys/test_user.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
Labels: api, fix

#4569 feat: search identities by dashboard alias
  api/conftest.py
  api/edge_api/identities/search.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/poetry.lock
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
  api/tests/unit/edge_api/identities/conftest.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_sdk.py
  api/util/mappers/dynamodb.py
  frontend/common/types/responses.ts
  frontend/web/components/pages/UsersPage.tsx
Labels: feature, front-end, api

#4566 docs: Add docs on pricing and API requests. Improve real-time docs
  docs/docs/advanced-use/real-time-flags.md
  docs/docs/pricing/index.mdx
  docs/docs/pricing/usage-graph.png
Labels: docs

#4498 feat: Improve Github integration
  frontend/common/useInfiniteScroll.ts
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/ExternalResourcesTable.tsx
  frontend/web/components/GitHubResourceSelectProvider.tsx
  frontend/web/components/GitHubResourcesSelect.tsx
  frontend/web/components/MyRepositoriesSelect.tsx
  frontend/web/components/RepositoriesSelect.tsx
  frontend/web/project/project-components.js
Labels: feature, front-end

#4551 fix: update change request after create
  frontend/common/stores/feature-list-store.ts
Labels: front-end, fix

#4580 docs: edge proxy health check configuration
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#4590 feat: allow ignore conflicts on scheduled change
  api/features/versioning/tasks.py
  api/features/workflows/core/migrations/0010_add_ignore_conflicts_option.py
  api/features/workflows/core/models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: feature, api

#4591 fix(edge-api/tasks): Add change_by_user_id
  api/edge_api/identities/models.py
  api/edge_api/identities/tasks.py
  api/tests/integration/edge_api/identities/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/features/test_unit_features_features_service.py
Labels: api, fix

#4592 deps: bump workflows version
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4594 fix: multivariate toggle
  frontend/web/components/FeatureRow.js
Labels: front-end, fix

#4579 chore(main): release 2.140.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4587 feat: Add subscription cache for new organisations
  api/organisations/models.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#4598 fix: Don't include null traits in transient identifier
  api/environments/sdk/services.py
  api/environments/sdk/types.py
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api, fix

#4589 fix: Handle null cancellation dates
  api/organisations/chargebee/webhook_handlers.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api, fix

#4602 fix(webhook/changed_by): Return name of the master api key
  api/conftest.py
  api/features/tasks.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/webhooks/sample_webhook_data.py
  docs/docs/system-administration/webhooks.md
Labels: api, fix

#4603 fix(versioning): fix issue creating duplicate priority segment overrides
  api/features/feature_segments/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api, fix

#4583 chore: Adjust payment options in app
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/styles/_variables.scss
Labels: front-end, chore

#4606 fix: Allow switching organisations if current one is blocked
  frontend/web/components/App.js
  frontend/web/components/Blocked.js
  frontend/web/components/BlockedOrgInfo.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end, fix

#4609 feat: Detect unchanged feature states when saving versions
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/web/components/modals/CreateFlag.js
  frontend/web/project/api.js
Labels: feature, front-end

#4610 chore: Add in-between plan copy
  frontend/web/components/modals/Payment.js
Labels: front-end, chore

#4499 feat: Move versioned feature history into feature details modal
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/FeatureHistory.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/base/forms/TabItem.tsx
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/routes.js
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_modals.scss
Labels: feature, front-end

#4612 feat: Add use_identity_overrides_in_local_eval setting
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: feature, front-end

#4617 fix(versioning): use transaction.atomic to prevent corrupt versions being created
  api/features/versioning/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api, fix

#4624 fix: 404 when last organisation doesn't exist
  frontend/web/components/App.js
Labels: front-end, fix

#4618 fix: ignore old versions when validating segment override limit
  api/features/feature_segments/limits.py
  api/features/feature_segments/serializers.py
  api/features/serializers.py
  api/features/versioning/serializers.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_limits.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api, fix

#4596 fix: incorrect Java SDK installation and initialization code examples
  frontend/common/code-help/init/init-java.js
  frontend/common/code-help/install/install-java.js
Labels: front-end

#4595 chore(main): release 2.141.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4629 chore: update incomplete test function docstring
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api, chore

#4641 fix: Webhook integration not rebuilding environment
  api/integrations/webhook/models.py
  api/tests/unit/integrations/webhook/test_unit_webhook_models.py
Labels: api, fix

#4622 fix: Solve delete GitHub integration issue
  api/integrations/github/client.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api, fix

#4653 fix: Non-admin users can create invites
  api/organisations/permissions/permissions.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api, security, fix

#4650 fix: Prevent signup in backend when `PREVENT_SIGNUP` set to false
  api/app/settings/common.py
  api/custom_auth/permissions.py
Labels: api, security, fix

#4651 fix: Escape json references
  frontend/web/components/JSONReference.tsx
Labels: front-end, security, fix

#4642 chore(main): release 2.142.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4635 docs: Add loadStale attribute
  docs/docs/clients/client-side/javascript.md
Labels: docs

#4552 docs: Update local evaluation documentation
  docs/docs/clients/index.md
  docs/docs/clients/server-side.md
Labels: docs

#4628 feat: add MANAGE_TAGS permission
  api/permissions/migrations/0010_add_manage_tags_permission.py
  api/projects/permissions.py
  api/projects/tags/permissions.py
  api/tests/unit/projects/tags/test_unit_projects_tags_permissions.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: feature, api

#4625 fix: Add logging to segments code
  api/segments/models.py
  api/segments/serializers.py
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api, fix

#4614 feat: Set default billing terms for missing info cache
  api/app_analytics/analytics_db_service.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
Labels: feature, api

#4611 fix: Set organisation api usage to zero
  api/organisations/subscription_info_cache.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
Labels: api, fix

#4661 chore: Rename "manage invoices" to "manage subscription"
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end

#4446 feat: allow feature value size to be configured per installation
  api/app/settings/common.py
  api/features/feature_states/models.py
  api/features/migrations/0065_make_feature_value_size_configurable.py
  api/features/models.py
  api/features/multivariate/migrations/0008_make_feature_value_size_configurable.py
Labels: feature, api

#4665 docs(ldap): update module name
  docs/docs/system-administration/authentication/04-LDAP.md
Labels: docs

#4574 feat: Add domain to API flags blocked notification
  api/organisations/task_helpers.py
  api/organisations/templates/organisations/api_flags_blocked_notification.html
  api/organisations/templates/organisations/api_flags_blocked_notification.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#4666 fix: version tab check
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#4658 chore(main): release 2.143.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4667 fix: update permissions on classes with missing / unclear permissions
  api/integrations/slack/permissions.py
  api/integrations/slack/views.py
  api/sales_dashboard/urls.py
  api/sales_dashboard/views.py
  api/tests/integration/slack/test_slack_get_channels.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api, fix
