Repository Flagsmith/flagsmith, pull requests merged in 2024-11, with the labels that each got.

#4792 docs: Remove references to unversioned CDN links
  frontend/common/code-help/install/install-js.js
  frontend/common/constants.ts
Labels: front-end, docs

#4791 docs: break build on bad sdk version
  docs/docs/clients/client-side/android.md
  docs/plugins/flagsmith-versions/index.js
  docs/src/components/SdkVersions.js
Labels: docs

#4790 fix: Set tag to get or create
  api/features/feature_external_resources/models.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
Labels: api, fix

#4793 ci: Automatically deploy docs at 12:00 on Tuesdays + manual deploy option
  .github/workflows/docs-cron-vercel-deploy.yml
Labels: ci-cd

#4766 ci: replace trivy scan action with one in Flagsmith/actions repo
  .github/actions/trivy-scan-image/action.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-docker-trivy-scan.yml
Labels: ci-cd

#4788 feat(permissions): update endpoints to expose tag-supported perms
  api/environments/views.py
  api/permissions/serializers.py
  api/projects/views.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: feature, api

#4797 fix: Extend user first name length to 150 characters
  api/users/migrations/0039_alter_ffadminuser_first_name.py
  api/users/models.py
Labels: api, fix

#4785 chore(main): release 2.151.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4547 feat: restrict versioning by days
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useSubscriptionMetadata.ts
  frontend/common/stores/organisation-store.js
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/AuditLog.tsx
  frontend/web/components/FeatureHistory.tsx
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/styles/project/_buttons.scss
Labels: feature, front-end

#4802 fix: Fix organisation meta
  frontend/common/stores/organisation-store.js
Labels: front-end, fix

#4801 fix: feature stale message not showing
  frontend/web/components/FeatureRow.js
Labels: front-end

#4806 chore(style): code and segment icons
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/pages/HomeAside.tsx
Labels: front-end, fix

#4804 fix: permanent tag icons
  frontend/web/components/tags/TagContent.tsx
Labels: front-end, fix

#4312 feat: Manage user's groups
  frontend/web/components/ActionButton.tsx
  frontend/web/components/UserAction.tsx
  frontend/web/components/UsersGroups.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: feature, front-end

#4812 feat: add environment processing UI
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/ProjectProvider.js
  frontend/common/providers/ProjectProvider.tsx
  frontend/common/stores/base/_store.js
  frontend/common/stores/project-store.js
  frontend/common/types/responses.ts
  frontend/web/components/EnvironmentReadyChecker.tsx
  frontend/web/components/base/higher-order/ParameterizedRoute.tsx
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/routes.js
Labels: feature, front-end

#4808 chore: Improve hot reloading
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/datadog-client.ts
  frontend/web/components/pages/WidgetPage.tsx
  frontend/webpack/webpack.config.local.js
Labels: front-end, chore

#4814 fix: users with VIEW_ENVIRONMENT should be able to retrieve environment
  api/environments/permissions/permissions.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api, fix

#4800 chore(main): release 2.152.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4811 fix: make clone_feature_states_async write only
  api/environments/serializers.py
  api/tests/integration/environments/test_clone_environment.py
Labels: api, fix

#4818 docs: Update Django docs links to 4.2
  docs/docs/deployment/hosting/kubernetes.md
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#4809 fix: Edit identity override with prevent flag defaults enabled
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#4824 feat(my-permissions): Add tag based permissions
  api/Makefile
  api/permissions/permissions_calculator.py
  api/permissions/serializers.py
Labels: feature, api

#4826 feat: log commands in Docker entrypoint
  api/scripts/run-docker.sh
Labels: feature, api

#4820 chore(main): release 2.153.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4825 chore: Only show stale flag warning when feature_versioning enabled
  frontend/web/components/StaleFlagWarning.tsx
Labels: front-end, chore

#4831 fix: flagsmith stale flags check
  frontend/web/components/StaleFlagWarning.tsx
Labels: front-end, fix

#4817 fix: replace alter field with adding a new field
  api/tests/unit/users/test_unit_users_migrations.py
  api/users/migrations/0039_alter_ffadminuser_first_name.py
  api/users/migrations/0040_alter_ffadminuser_first_name_fix.py
  api/users/models.py
Labels: api, fix

#4832 fix: prevent lock when adding FFAdmin.uuid column
  api/users/migrations/0037_add_uuid_field_to_user_model.py
Labels: api, fix

#4819 fix: Custom Gunicorn logger not sending StatsD stats
  api/tests/unit/util/test_logging.py
  api/util/logging.py
Labels: api, fix

#4843 fix(project/realtime): only allow enterprise to enable realtime
  api/conftest.py
  api/projects/serializers.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api, fix

#4833 refactor: typing for button onclick
  frontend/web/components/base/forms/Button.tsx
Labels: front-end

#4834 docs: add clarification about SaaS async trait storage
  docs/docs/basic-features/managing-identities.md
Labels: docs

#4839 fix: Google OAuth broken in unified docker image
  api/app/settings/common.py
  docker-compose.yml
  docs/docs/deployment/index.md
Labels: api, docs

#4822 fix: Handle invalid colour codes on tags, allow default colours
  api/projects/tags/migrations/0007_alter_tag_color.py
  api/projects/tags/models.py
  frontend/common/constants.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/ToggleChip.js
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
Labels: front-end, api, fix

#4849 fix: Allow teardown to use FLAGSMITH_API_URL
  frontend/e2e/init.cafe.js
Labels: front-end, fix

#4845 docs: Add iOS to supported realtime SDKs
  docs/docs/advanced-use/real-time-flags.md
Labels: docs

#4846 fix(project/serializer): limit edit to only fields that make sense
  api/projects/serializers.py
  api/projects/views.py
  api/tests/integration/conftest.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api, fix

#4854 feat: Add Hubspot cookie logging
  api/integrations/lead_tracking/hubspot/services.py
Labels: feature, api

#4850 fix: revert https://github.com/Flagsmith/flagsmith/pull/4817
  api/tests/unit/users/test_unit_users_migrations.py
  api/users/migrations/0039_alter_ffadminuser_first_name.py
  api/users/migrations/0040_alter_ffadminuser_first_name_fix.py
  api/users/models.py
Labels: api, fix

#4830 chore(main): release 2.154.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4855 deps: bump aws-actions/amazon-ecs-deploy-task-definition action
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/task-processor-deploy-ecs/action.yml
Labels: dependencies

#4857 docs: Track cocoapods/github versions separately
  docs/docs/clients/client-side/ios.mdx
  docs/plugins/flagsmith-versions/index.js
  docs/src/components/SdkVersions.js
Labels: docs

#4860 deps: bump rbac to support tags on permission level
  api/Makefile
Labels: api, dependencies

#4862 chore(admin): minor improvements
  api/organisations/admin.py
  api/poetry.lock
  api/pyproject.toml
Labels: api, chore

#4865 fix: Environment Ready Checker
  frontend/web/components/EnvironmentReadyChecker.tsx
Labels: front-end, fix

#4866 deps(workflows): flagsmith-workflows 2.6.0 -> 2.6.1
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4868 docs: fix separate API/frontend ingress
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#4747 test: add pgpool test environment
  .github/workflows/manual-e2e-tests.yml
  docker-compose.pgpool.yml
  docker/common/db/.pgpool.yml
  docker/common/e2e/.e2e-tests.yml
  docker/db.yml
  frontend/docker-compose.yml
Labels: front-end, testing

#4867 chore: fix prettier issues and replace prettier pre-commit hook
  .pre-commit-config.yaml
  docs/docs/clients/client-side/ios.mdx
  docs/docs/clients/server-side.mdx
  docs/docs/pricing/index.mdx
Labels: chore

#4872 fix: prevent enabling versioning from affecting scheduled change requests
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api, fix

#4821 docs: Node.js v5 docs
  docs/docs/clients/server-side.mdx
  docs/plugins/flagsmith-versions/index.js
  docs/src/components/SdkVersions.js
Labels: docs

#4874 docs: remove duplicate info message
  docs/docs/clients/server-side.mdx
Labels: docs

#4877 deps: bump rbac to fix role permission
  api/Makefile
Labels: api, dependencies
