Repository Flagsmith/flagsmith, pull requests merged in 2024-08, with the labels that each got.

#4440 fix: Create a check for billing started at in API usage task helper
  api/organisations/task_helpers.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4438 ci: Enable E2E tests for external contributors
  .dockerignore
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/conventional-commit.yml
  .github/workflows/platform-pull-request.yml
Labels: ci-cd

#4455 fix: Set grace period to a singular event
  api/organisations/migrations/0056_create_organisation_breached_grace_period.py
  api/organisations/models.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4458 chore: Add invite hash to signup endpoints
  frontend/common/stores/account-store.js
Labels: front-end, chore

#4459 fix: protect get environment document endpoint
  api/environments/permissions/permissions.py
  api/environments/views.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api, fix

#4454 fix: don't allow bypassing `ALLOW_REGISTRATION_WITHOUT_INVITE` behaviour
  api/custom_auth/oauth/serializers.py
  api/custom_auth/serializers.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/custom_auth/conftest.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_serializers.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_views.py
  api/tests/unit/custom_auth/test_unit_custom_auth_serializer.py
Labels: api, fix

#4456 chore(main): release 2.134.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4462 fix: show correct SAML Frontend URL on edit
  frontend/web/components/modals/CreateSAML.tsx
Labels: front-end, fix

#4418 feat(app_analytics): Add cache for feature evaluation
  api/app/settings/common.py
  api/app_analytics/cache.py
  api/app_analytics/views.py
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
Labels: feature, api

#4460 fix: Identity overrides are not deleted when deleting Edge identities
  api/edge_api/identities/models.py
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api, fix

#4449 feat: Support blank identifiers, assume transient
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/environments/identities/traits/fields.py
  api/environments/identities/views.py
  api/environments/sdk/serializers.py
  api/environments/sdk/services.py
  api/environments/sdk/types.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: feature, api

#4470 chore: add success message to mgmt command for adding influx data
  api/app_analytics/management/commands/sendapiusagetoinflux.py
Labels: api, chore

#4464 chore(main): release 2.135.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4471 infra: bump feature evaluation cache to 300
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

#4472 chore(main): release 2.135.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4477 docs: Add missing trailing slash to Edge Proxy example API call
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#4028 feat: Add automatic tagging for github integration
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/views.py
  api/features/models.py
  api/features/serializers.py
  api/features/versioning/serializers.py
  api/integrations/github/client.py
  api/integrations/github/constants.py
  api/integrations/github/github.py
  api/integrations/github/migrations/0004_githubrepository_tagging_enabled.py
  api/integrations/github/models.py
  api/integrations/github/serializers.py
  api/integrations/github/tasks.py
  api/integrations/github/views.py
  api/projects/tags/migrations/0006_alter_tag_type.py
  api/projects/tags/models.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/webhooks/webhooks.py
Labels: feature, api

#4035 feat: Add tags for GitHub integration FE
  frontend/common/constants.ts
  frontend/common/services/useGithubRepository.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/useInfiniteScroll.ts
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/GitHubResourceSelectProvider.tsx
  frontend/web/components/GitHubResourcesSelect.tsx
  frontend/web/components/GithubRepositoriesTable.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/tags/TagContent.tsx
Labels: feature, front-end

#4188 feat: Use environment feature state instead of fetching feature states
  frontend/common/stores/feature-list-store.ts
Labels: front-end, chore

#4340 feat: Support Aptible deployments
  api/app/urls.py
  api/core/management/commands/waitfordb.py
  api/scripts/run-docker.sh
  docs/docs/deployment/hosting/aptible.md
Labels: feature, api

#4479 fix: Remove warning about non-unique health namespace
  api/app/urls.py
Labels: api, fix

#4480 fix: ensure that usage notification logic is independent of other organisations notifications
  api/organisations/task_helpers.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4484 infra: reduce task retention days to 7
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: api, infrastructure

#4478 chore(main): release 2.136.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4485 feat: make pg usage cache timeout configurable
  api/app/settings/common.py
  api/app_analytics/cache.py
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
Labels: feature, api

#4482 feat: Tweak email wording for grace periods
  api/organisations/task_helpers.py
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#4490 fix: Rename match variable in external feature resources
  api/features/feature_external_resources/views.py
Labels: api, fix

#4491 fix: add reverse sql to versioning migration
  api/segments/migrations/0023_add_versioning_to_segments.py
  api/segments/migrations/sql/0023_add_versioning_to_segments_reverse.sql
  api/tests/unit/segments/test_migrations.py
  api/tests/unit/segments/test_unit_segments_migrations.py
Labels: api, fix

#4058 fix: save feature error handling
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/ErrorMessage.js
  frontend/web/project/api.js
Labels: front-end, fix

#4173 test: seed data for permission and roles e2e tests
  api/app/settings/common.py
  api/e2etests/e2e_seed_data.py
  api/e2etests/middleware.py
  api/e2etests/permissions.py
  api/projects/permissions.py
  api/tests/integration/e2etests/end_to_end/test_integration_e2e_tests.py
  api/tests/unit/projects/test_unit_projects_permissions.py
Labels: api, testing

#4486 refactor(get_permitted_environments): get rid of .distinct()
  api/permissions/permission_service.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api, refactor

#4436 chore: flagsmith on flagsmith sdk urls
  frontend/common/code-help/create-user/create-user-curl.js
  frontend/common/code-help/create-user/create-user-flutter.js
  frontend/common/code-help/create-user/create-user-ios.js
  frontend/common/code-help/create-user/create-user-java.js
  frontend/common/code-help/create-user/create-user-js.js
  frontend/common/code-help/create-user/create-user-next.js
  frontend/common/code-help/create-user/create-user-node.js
  frontend/common/code-help/create-user/create-user-php.js
  frontend/common/code-help/create-user/create-user-python.js
  frontend/common/code-help/create-user/create-user-react.js
  frontend/common/code-help/create-user/create-user-ruby.js
  frontend/common/code-help/create-user/create-user-rust.js
  frontend/common/code-help/init/init-curl.js
  frontend/common/code-help/init/init-flutter.js
  frontend/common/code-help/init/init-go.js
  frontend/common/code-help/init/init-ios.js
  frontend/common/code-help/init/init-java.js
  frontend/common/code-help/init/init-js.js
  frontend/common/code-help/init/init-next.js
  frontend/common/code-help/init/init-node.js
  frontend/common/code-help/init/init-php.js
  frontend/common/code-help/init/init-python.js
  frontend/common/code-help/init/init-react.js
  frontend/common/code-help/init/init-ruby.js
  frontend/common/code-help/init/init-rust.js
  frontend/common/code-help/offline_client/offline-client-curl.js
  frontend/common/code-help/offline_server/offline-server-curl.js
  frontend/common/code-help/traits/traits-curl.js
  frontend/common/code-help/traits/traits-java.js
  frontend/common/code-help/traits/traits-js.js
  frontend/common/code-help/traits/traits-next.js
  frontend/common/code-help/traits/traits-node.js
  frontend/common/code-help/traits/traits-php.js
  frontend/common/code-help/traits/traits-python.js
  frontend/common/code-help/traits/traits-react.js
  frontend/common/code-help/traits/traits-ruby.js
  frontend/common/code-help/traits/traits-rust.js
  frontend/common/constants.ts
Labels: front-end, chore

#4481 fix: Add decorator for running task every hour
  api/organisations/tasks.py
Labels: api, fix

#4497 chore(admin): better token search in admin
  api/custom_auth/admin.py
Labels: api, chore

#4281 chore: Plan based access UI
  frontend/common/constants.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/AuditLog.tsx
  frontend/web/components/ButterBar.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/ErrorMessage.js
  frontend/web/components/FlagOwnerGroups.js
  frontend/web/components/FlagOwners.js
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/components/SamlTab.tsx
  frontend/web/components/Setting.tsx
  frontend/web/components/SettingsButton.tsx
  frontend/web/components/SimpleTwoFactor/index.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateProject.js
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeatureHistoryPage.tsx
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/ScheduledChangesPage.js
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_tooltips.scss
  frontend/web/styles/project/_utils.scss
Labels: front-end, chore

#4496 fix: Remove grace period where necessary from blocked notification
  api/organisations/task_helpers.py
  api/organisations/templates/organisations/api_flags_blocked_notification.html
  api/organisations/templates/organisations/api_flags_blocked_notification.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4495 fix: Make influx cache task recurring
  api/organisations/tasks.py
Labels: api, fix

#4508 fix(delete-feature-via-role): bump rbac
  api/Makefile
Labels: api, fix

#4509 fix: allow unknown attrs from cb json meta
  api/organisations/subscriptions/metadata.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_cache.py
Labels: api

#4502 fix: Solve API GitHub integration issues
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/views.py
  api/integrations/github/client.py
  api/integrations/github/models.py
  api/integrations/github/serializers.py
  api/integrations/github/views.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api, fix

#4512 fix: Add logic to handle grace period breached for paid accounts
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4518 fix: subscription info cache race condition
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

#4514 fix: Catch API billing errors
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4519 deps: bump task processor and workflow
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4517 fix: Update email wording for paid customers with API usage notifications
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
Labels: api, fix

#4494 feat: Copy ACS URL for SAML configurations to clipboard. Disable editing SAML configuration names
  docs/docs/system-administration/authentication/01-SAML/index.md
  frontend/web/components/SAMLAttributeMappingTable.tsx
  frontend/web/components/SamlTab.tsx
  frontend/web/components/modals/CreateSAML.tsx
Labels: feature, front-end

#4316 fix: incorrect negative value conversion
  frontend/common/utils/utils.tsx
  frontend/web/components/Feature.js
Labels: front-end, fix

#4525 fix: audit logs generation for feature state value
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api, fix

#4522 chore: update org cancelled alert to only send to customersuccess@flagsmith.com
  api/app/settings/common.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: api, chore

#4528 fix: project settings permissions
  frontend/web/components/App.js
Labels: front-end, fix

#4488 feat: add UUID to user model
  api/custom_auth/serializers.py
  api/sales_dashboard/templates/sales_dashboard/organisation.html
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/users/admin.py
  api/users/migrations/0037_add_uuid_field_to_user_model.py
  api/users/models.py
  api/users/serializers.py
Labels: feature, api

#4526 feat: usage period filter
  frontend/common/types/requests.ts
  frontend/web/components/App.js
  frontend/web/components/OrganisationUsage.tsx
Labels: feature, front-end

#4530 fix: Missing permissions for integration API endpoints
  api/integrations/common/views.py
  api/integrations/slack/views.py
  api/projects/permissions.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace_views.py
Labels: api, fix

#4521 chore(main): release 2.138.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4531 fix: Missing permissions for LaunchDarkly view
  api/integrations/launch_darkly/views.py
  api/tests/unit/integrations/launch_darkly/test_views.py
Labels: api, fix

#4534 docs: Update metadata/custom-fields screenshots. Fix broken links
  docs/static/img/metadata/metadata-environment.png
  docs/static/img/metadata/metadata-example.png
  docs/static/img/metadata/metadata-feature-1.png
  docs/static/img/metadata/metadata-segment-1.png
  docs/vercel.json
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/metadata/MetadataPage.tsx
Labels: front-end, docs

#4535 fix(ldap-login): create custom serializer to fix login field
  api/app/settings/common.py
  api/custom_auth/serializers.py
  api/tests/unit/custom_auth/test_unit_custom_auth_serializer.py
Labels: api, fix

#4533 chore(main): release 2.138.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4136 fix(django-upgrade): upgrade django major version
  api/Makefile
  api/audit/__init__.py
  api/core/custom_admin/__init__.py
  api/environments/__init__.py
  api/environments/apps.py
  api/environments/identities/__init__.py
  api/environments/identities/models.py
  api/environments/identities/views.py
  api/environments/permissions/__init__.py
  api/features/__init__.py
  api/features/apps.py
  api/features/feature_external_resources/__init__.py
  api/features/feature_segments/views.py
  api/features/multivariate/__init__.py
  api/features/multivariate/apps.py
  api/features/versioning/__init__.py
  api/features/workflows/core/__init__.py
  api/features/workflows/core/apps.py
  api/integrations/amplitude/__init__.py
  api/integrations/datadog/__init__.py
  api/integrations/dynatrace/__init__.py
  api/integrations/github/__init__.py
  api/integrations/grafana/__init__.py
  api/integrations/heap/__init__.py
  api/integrations/launch_darkly/apps.py
  api/integrations/launch_darkly/models.py
  api/integrations/mixpanel/__init__.py
  api/integrations/new_relic/__init__.py
  api/integrations/rudderstack/__init__.py
  api/integrations/segment/__init__.py
  api/integrations/sentry/__init__.py
  api/integrations/webhook/__init__.py
  api/organisations/__init__.py
  api/organisations/invites/__init__.py
  api/organisations/permissions/__init__.py
  api/poetry.lock
  api/pyproject.toml
  api/segments/__init__.py
  api/segments/apps.py
  api/telemetry/__init__.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/users/__init__.py
  api/users/models.py
Labels: improvement, api, tech-debt

#4549 chore: Add error logging to Edge V2 migration command
  api/edge_api/management/commands/migrate_to_edge_v2.py
Labels: api, chore

#4542 chore(main): release 2.138.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4400 feat: Backend support for Organisation-level integrations
  api/audit/models.py
  api/audit/signals.py
  api/environments/urls.py
  api/integrations/common/serializers.py
  api/integrations/common/views.py
  api/integrations/grafana/migrations/0002_add_grafana_organisation_configuration.py
  api/integrations/grafana/models.py
  api/integrations/grafana/serializers.py
  api/integrations/grafana/views.py
  api/organisations/urls.py
  api/projects/urls.py
  api/tests/unit/api/test_unit_api.py
  api/tests/unit/audit/test_unit_audit_models.py
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/integrations/grafana/test_views.py
Labels: feature, api

#4556 fix(edge-v2): Migrate only Edge API-enabled projects
  api/edge_api/management/commands/migrate_to_edge_v2.py
  api/tests/unit/edge_api/test_unit_edge_api_commands.py
Labels: api, fix

#4546 fix: incorrect statistics in organisation admin list
  api/organisations/admin.py
Labels: api, fix

#4550 docs: add PHP docs for offline mode
  docs/docs/clients/server-side.md
Labels: docs

#4554 feat: Add sane defaults for segment_operators, integration_data, saml flags
  frontend/common/stores/default-flags.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/IntegrationList.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/IntegrationsPage.js
  frontend/web/components/pages/SegmentsPage.tsx
Labels: feature, front-end

#4540 docs(offline-handler): Add docs for Rust and Go
  docs/docs/clients/server-side.md
Labels: docs
