Repository Flagsmith/flagsmith, pull requests merged in 2024-10, with the labels that each got.

#4581 chore: Update webpack
  frontend/.npmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/flexbox/_index.scss
  frontend/web/styles/project/_forms.scss
Labels: front-end, chore

#4677 fix(ci): Rate-limited Trivy database pulls
  .github/workflows/.reusable-docker-build.yml
Labels: fix

#4633 feat: Improve segment override UI
  frontend/web/components/ActionButton.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/Icon.tsx
  frontend/web/components/SegmentOverrideActions.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/mv/VariationValue.js
  frontend/web/components/svg/SegmentsIcon.js
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/mixins/custom-scrollbar.scss
  frontend/web/styles/project/_FeaturesPage.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_utils.scss
Labels: feature, front-end

#4682 fix: feature specific segment
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#4676 fix: always store and search dashboard alias in lower case
  api/edge_api/identities/serializers.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api, fix

#4678 fix: ensure MANAGE_TAGS permission allows create tag
  api/projects/tags/permissions.py
  api/tests/unit/projects/tags/test_unit_projects_tags_permissions.py
Labels: api, fix

#4683 fix: auth jwt cookie frontend
  frontend/common/stores/account-store.js
  frontend/web/main.js
Labels: front-end, api, fix

#4620 feat: Identity alias
  frontend/.eslintrc.js
  frontend/common/providers/IdentityProvider.js
  frontend/common/services/useIdentity.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/useViewMode.ts
  frontend/env/project_dev.js
  frontend/env/project_prod.js
  frontend/web/components/CodeHelp.js
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/InfoMessage.tsx
  frontend/web/components/PanelSearch.js
  frontend/web/components/TryIt.js
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateTrait.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/tables/TableValueFilter.tsx
  frontend/web/project/api.js
  frontend/web/project/project-components.js
  frontend/web/styles/components/_input.scss
  frontend/web/styles/project/_forms.scss
Labels: feature, front-end

#4686 fix: remove trait
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, fix

#4689 fix: encode search when querying features
  frontend/common/stores/feature-list-store.ts
Labels: front-end, fix

#4690 fix: Clear project org search on close
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end, fix

#4615 feat: Manage tags permission
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
Labels: feature, front-end

#4691 fix: encode identity search
  frontend/common/stores/feature-list-store.ts
Labels: front-end, fix

#4414 feat: Introduce the SDK Evaluation Context schema
  sdk/evaluation-context.json
Labels: feature

#4662 feat: Support cookie authentication
  api/Makefile
  api/app/settings/common.py
  api/app/views.py
  api/core/helpers.py
  api/custom_auth/apps.py
  api/custom_auth/jwt_cookie/__init__.py
  api/custom_auth/jwt_cookie/authentication.py
  api/custom_auth/jwt_cookie/constants.py
  api/custom_auth/jwt_cookie/services.py
  api/custom_auth/jwt_cookie/signals.py
  api/custom_auth/jwt_cookie/views.py
  api/custom_auth/serializers.py
  api/custom_auth/urls.py
  api/custom_auth/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/core/test_helpers.py
  frontend/api/index.js
  frontend/common/data/base/_data.js
  frontend/common/service.ts
  frontend/common/stores/account-store.js
  frontend/web/main.js
  frontend/webpack/plugins.js
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: feature, front-end, api

#4673 chore(main): release 2.144.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4698 feat: Add hubspot
  docs/docusaurus.config.js
  frontend/env/project_prod.js
  frontend/web/project/libs.js
Labels: feature, front-end

#4694 docs: Update Rust SDK example
  docs/docs/clients/server-side.md
Labels: docs

#4700 fix: searching edge identities (dashboard_alias prefix and identifier casing)
  api/edge_api/identities/serializers.py
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
Labels: api, fix

#4656 fix: diff check for versioned segment overrides and MV
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/responses.ts
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/components/diff/diff-utils.ts
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/mv/VariationValue.js
Labels: front-end, fix

#4699 chore(main): release 2.145.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4703 ci: Trivy enhancements
  .github/actions/trivy-scan-image/action.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-docker-trivy-scan.yml
Labels: ci-cd

#4702 chore: tidy up info message
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/InfoMessage.tsx
Labels: front-end

#4715 docs: Update local storage key in docs
  docs/docs/clients/client-side/javascript.md
Labels: docs

#4684 feat: Set base url for segment
  api/conftest.py
  api/integrations/segment/constants.py
  api/integrations/segment/migrations/0005_set_base_url_to_default.py
  api/integrations/segment/segment.py
  api/integrations/segment/serializers.py
  api/tests/unit/integrations/segment/test_unit_segment.py
  api/tests/unit/integrations/segment/test_unit_segment_views.py
Labels: feature, api

#4716 fix(ci): Anonymous registry pushes attempted for Tribvy databases
  .github/workflows/platform-docker-trivy-scan.yml
Labels: ci-cd

#4722 docs: remove CDN option from docs
  docs/docs/clients/client-side/javascript.md
  docs/docs/clients/client-side/react.md
  docs/docs/quickstart.md
Labels: docs

#4714 chore: Encourage org emails
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/pages/HomePage.js
Labels: front-end, chore

#4723 chore(ci): Fix typo in Trivy cron job
  .github/workflows/platform-docker-trivy-scan.yml
Labels: chore

#4713 chore: Add email to audit log
  frontend/web/components/AuditLog.tsx
Labels: front-end, chore

#4712 feat: Hide change email when auth_type !== 'EMAIL'
  docs/docs/deployment/hosting/locally-frontend.md
  frontend/web/components/pages/AccountSettingsPage.js
Labels: feature, front-end

#4711 chore: remove identity from detail page
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end, chore

#4705 fix: Remove mailer lite
  api/app/settings/common.py
  api/organisations/models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/users/utils/test_unit_users_mailer_lite.py
  api/users/models.py
  api/users/utils/mailer_lite.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api, fix

#4724 chore: update dashboard_alias index name
  api/conftest.py
  api/edge_api/identities/search.py
Labels: api, chore

#4719 chore(main): release 2.146.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4710 fix: subscription state
  frontend/common/stores/account-store.js
Labels: front-end

#4704 feat: organisation integrations
  docs/docs/deployment/index.md
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/IntegrationList.js
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/base/forms/Checkbox.tsx
  frontend/web/components/modals/CreateEditIntegrationModal.js
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
  frontend/web/components/pages/IntegrationsPage.js
  frontend/web/components/pages/IntegrationsPage.tsx
  frontend/web/components/pages/OrganisationIntegrationsPage.tsx
  frontend/web/routes.js
Labels: feature, front-end

#4728 chore(main): release 2.147.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4730 fix: add trailing slash to endpoint to retrieve features after feature create
  frontend/common/stores/feature-list-store.ts
Labels: front-end

#4726 fix: Duplicated segment conditions on save
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, fix

#4729 feat: Persist identity search type
  frontend/web/components/pages/UsersPage.tsx
Labels: feature, front-end

#4731 chore(main): release 2.148.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4734 fix: Combine segment override and value change requests
  frontend/web/components/modals/AssociatedSegmentOverrides.js
Labels: front-end, fix

#4741 fix(ci): Failing Trivy cron job
  .github/workflows/platform-docker-trivy-scan.yml
Labels: fix

#4742 fix(ci): Trivy scan triggered when no scan requested
  .github/workflows/.reusable-docker-build.yml
Labels: fix

#4744 chore: Remove version property from docker-compose.yml
  docker-compose.yml
Labels: chore

#4745 docs: Use flagsmith.example.com as API URL placeholder
  docs/docs/clients/client-side/flutter.md
  docs/docs/clients/server-side.md
Labels: docs

#4736 chore(main): release 2.148.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4748 fix: value editor typing
  frontend/web/components/ValueEditor.js
Labels: front-end, fix

#4523 fix: Tag Based permissions only validate some views
  api/Makefile
  api/features/permissions.py
  api/features/versioning/permissions.py
  api/tests/unit/features/test_unit_features_views.py
  api/users/abc.py
Labels: api, fix

#4751 fix: Frontend error when creating SAML configuration if API URL is relative
  frontend/web/components/modals/CreateSAML.tsx
Labels: front-end, fix

#4756 fix: Fix "assigned groups" showing empty when trying to assign groups to a role
  frontend/common/services/useMyGroup.ts
Labels: front-end, fix

#4755 chore(dev): set `DEBUG=True` when enabling DB logging
  api/app/settings/common.py
Labels: api, chore

#4749 chore(main): release 2.148.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4753 fix: Disable is_admin switcher in Organization API Keys
  frontend/web/components/AdminAPIKeys.js
Labels: front-end

#4765 feat: Support `PREVENT_EMAIL_PASSWORD` in backend
  api/app/settings/common.py
  api/custom_auth/permissions.py
Labels: feature, api

#4769 docs: add rollback instructions
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#4770 fix: Fix stored XSS when rendering tooltips
  frontend/web/components/Tooltip.tsx
Labels: front-end, security

#4760 chore(main): release 2.149.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4759 chore: Remove enable_metadata flag
  docs/docs/deployment/index.md
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end, chore

#4773 docs: add /admin/ route to ingress docs
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#4757 fix(sales-dashboard): prevent 500 error when user doesn't exist on sales dashboard search
  api/sales_dashboard/views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api, fix

#4750 fix: Prevent newlines in environment variables from causing frontend syntax errors
  frontend/api/index.js
Labels: front-end, fix

#4433 feat(versioning): limit returned number of versions by plan
  api/app/settings/common.py
  api/audit/views.py
  api/features/versioning/constants.py
  api/features/versioning/views.py
  api/organisations/chargebee/webhook_handlers.py
  api/organisations/migrations/0057_limit_audit_and_version_history.py
  api/organisations/models.py
  api/organisations/serializers.py
  api/organisations/subscriptions/constants.py
  api/organisations/subscriptions/metadata.py
  api/organisations/subscriptions/subscription_service.py
  api/organisations/tasks.py
  api/organisations/views.py
  api/sales_dashboard/forms.py
  api/tests/integration/audit/test_audit_logs.py
  api/tests/unit/audit/test_unit_audit_views.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_metadata.py
  api/tests/unit/organisations/subscriptions/test_unit_subscription_service.py
  api/tests/unit/organisations/subscriptions/test_unit_subscriptions_dataclasses.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/sales_dashboard/conftest.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: feature, api

#4735 fix(versioning): handle versioned environments for associated-features endpoint
  api/features/serializers.py
  api/segments/views.py
  api/tests/unit/segments/test_unit_segments_views.py
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end, api, fix

#4586 fix: GitHub integration tagging issues
  api/integrations/github/constants.py
  api/integrations/github/github.py
  api/integrations/github/models.py
  api/tests/unit/integrations/github/test_unit_github_github.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api, fix

#4780 fix: audit and version limits for existing subscriptions
  api/organisations/migrations/0058_update_audit_and_history_limits_in_sub_cache.py
  api/tests/unit/organisations/permissions/test_unit_organisations_migrations.py
Labels: api, fix

#4739 fix: run `eslint --fix` removing all prettier error from web/ folder
  frontend/web/components/FeatureRow.js
  frontend/web/components/PasswordRequirements.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/Payment.js
  frontend/web/components/mv/VariationValue.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/HomePage.js
Labels: front-end

#4778 feat: Log Hubspot cookie creation
  api/integrations/lead_tracking/hubspot/client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
Labels: feature, api

#4781 fix: associated segment override check
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end, fix

#4783 docs: Don't use TOC headings for headings within tabs
  docs/docs/clients/server-side.md
Labels: docs

#4784 ci: bump pre-commit black version
  .pre-commit-config.yaml
Labels: ci-cd

#4779 feat: add group admin to list groups
  api/tests/unit/users/test_unit_users_views.py
  api/users/serializers.py
  api/users/views.py
Labels: feature, api

#4775 chore(main): release 2.150.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4654 feat(export): Add support for edge identities data
  api/edge_api/identities/export.py
  api/import_export/export.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/import_export/test_unit_import_export_export.py
Labels: feature, api

#4786 fix: hide view features from associated segment overrides
  frontend/web/components/SegmentOverrideActions.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
Labels: front-end

#4005 feat: async the logic for cloning feature states into a cloned environment
  api/environments/migrations/0036_add_is_creating_field.py
  api/environments/models.py
  api/environments/serializers.py
  api/environments/tasks.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: feature, api

#4668 docs: update helm chart frontend ingress examples
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#4768 feat(ci): add command to rollback migrations
  api/core/management/commands/rollbackmigrationsappliedafter.py
  api/tests/unit/core/test_unit_core_management.py
  docs/docs/deployment/hosting/locally-api.md
Labels: feature, api

#4789 docs: Update required postgres version
  docs/docs/deployment/index.md
Labels: docs

#4767 docs: Resolve latest SDK versions at build time
  docs/docs/clients/client-side/android.md
  docs/docs/clients/client-side/ios.mdx
  docs/docs/clients/index.md
  docs/docs/clients/server-side.mdx
  docs/docs/quickstart.md
  docs/docusaurus.config.js
  docs/plugins/flagsmith-versions/index.js
  docs/src/components/SdkVersions.js
Labels: docs
