Repository Flagsmith/flagsmith, pull requests merged in 2024-05, with the labels that each got.

#3863 fix: For Hubspot make the switch to unique org id
  api/integrations/lead_tracking/hubspot/client.py
  api/tests/unit/integrations/lead_tracking/hubspot/_hubspot_responses.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
Labels: api

#3850 fix(versioning): prevent deleted segment overrides returning
  api/conftest.py
  api/features/managers.py
  api/features/versioning/managers.py
  api/features/versioning/models.py
  api/features/versioning/sql/get_latest_versions.sql
  api/features/versioning/versioning_service.py
  api/tests/unit/features/conftest.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

#3867 fix: use ENABLE_FLAGSMITH_REALTIME environment var
  docs/docs/deployment/overview.md
  frontend/common/stores/config-store.js
Labels: front-end, docs

#3876 chore: Workaround for Pydantic misbehaving with FreezeGun
  api/conftest.py
  api/tests/test_helpers.py
Labels: api

#3880 fix(versioning): feature segments updated with version
  api/features/versioning/tasks.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
Labels: api

#3874 fix: Organisation can't have a new Github integration when had a prior one deleted
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/views.py
  api/features/tasks.py
  api/integrations/github/exceptions.py
  api/integrations/github/migrations/0002_auto_20240502_1949.py
  api/integrations/github/models.py
  api/integrations/github/views.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

#3882 chore: Remove unused styles
  frontend/.eslintrc.js
  frontend/global.d.ts
  frontend/web/components/AlertBar.js
  frontend/web/components/ButterBar.tsx
  frontend/web/components/CodeHelp.js
  frontend/web/components/IdentitySelect.tsx
  frontend/web/components/Maintenance.js
  frontend/web/components/PanelSearch.js
  frontend/web/components/RemoveIcon.js
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/base/Gif.js
  frontend/web/components/base/Popover.js
  frontend/web/components/tables/TableSortFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tables/TableValueFilter.tsx
  frontend/web/components/tags/TagFilter.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/3rdParty/_react-datepicker.scss
  frontend/web/styles/3rdParty/_react-diff.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_audit.scss
  frontend/web/styles/components/_chip.scss
  frontend/web/styles/components/_color-block.scss
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/components/_paging.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/mixins/custom-scrollbar.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_FeaturesPage.scss
  frontend/web/styles/project/_PricingPage.scss
  frontend/web/styles/project/_TermsPoliciesPage.scss
  frontend/web/styles/project/_UserPage.scss
  frontend/web/styles/project/_alert.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_card.scss
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_index.scss
  frontend/web/styles/project/_layout.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_panel.scss
  frontend/web/styles/project/_popover.scss
  frontend/web/styles/project/_project-nav.scss
  frontend/web/styles/project/_segments.scss
  frontend/web/styles/project/_tooltips.scss
  frontend/web/styles/project/_type.scss
  frontend/web/styles/project/_utils.scss
  frontend/web/styles/styles.scss
Labels: front-end

#3872 docs: Rewrite segments doc
  docs/docs/basic-features/managing-features.md
  docs/docs/basic-features/managing-identities.md
  docs/docs/basic-features/managing-segments.md
  docs/docs/basic-features/overview.md
  docs/docs/basic-features/segments.md
  docs/docs/guides-and-examples/flag-lifecycle.md
  docs/docs/guides-and-examples/mobile-app-versioning.md
  docs/docs/guides-and-examples/staged-feature-rollouts.md
  docs/docs/guides-and-examples/testing-push-notifications.md
  docs/docs/quickstart.md
  docs/vercel.json
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, docs

#3883 chore: Convert features models TestCase to a normal test function
  api/tests/unit/features/test_unit_features_models.py
Labels: api

#3860 chore(main): release 2.112.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3714 feat: Block access after seven days notice of API overage
  api/organisations/constants.py
  api/organisations/migrations/0053_create_api_limit_access_block.py
  api/organisations/models.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

#3890 docs: Fix link to React Native example
  docs/docs/clients/client-side/react.md
Labels: docs

#3866 chore: restrict external HTTP calls in tests
  .pre-commit-config.yaml
  api/conftest.py
  api/tests/unit/users/utils/test_unit_users_mailer_lite.py
Labels: api

#3892 chore(tests): Retry E2E on error
  .github/actions/e2e-bake-compose/action.yml
  .github/actions/e2e-tests/action.yml
Labels: github

#3852 chore: Add plan based access to stale tag filtering
  frontend/common/utils/utils.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
Labels: front-end

#3895 chore: Change feature id to name/id, allow segment name to be editable
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#3889 fix(docker): Run Task Processor entrypoint with PID 1
  api/scripts/run-docker.sh
Labels: api

#3900 fix: codehelp docs links
  frontend/web/components/CodeHelp.js
Labels: front-end

#3901 fix: Ensure flags are set in code example
  frontend/common/code-help/init/init-ruby.js
Labels: front-end

#3902 fix: send all users on paid subscriptions to hubspot
  api/integrations/lead_tracking/hubspot/lead_tracker.py
Labels: api

#3790 feat: versioned segment override change request
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useFeatureSegment.ts
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/change-requests-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/Feature.js
  frontend/web/components/diff/DiffChangeRequest.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/FeatureHistoryPage.tsx
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

#3888 chore(main): release 2.113.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3908 docs: Fix link to upstream OpenFeature JS provider repository
  docs/docs/clients/openfeature.md
Labels: docs

#3906 feat: Implement GitHub Webhook
  api/api/urls/v1.py
  api/app/settings/common.py
  api/integrations/github/helpers.py
  api/integrations/github/views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api

#3904 docs: async storage analytics requirement
  docs/docs/clients/client-side/javascript.md
  docs/docs/clients/client-side/react.md
Labels: docs

#3897 feat: add endpoint to revert v2 versioning
  api/conftest.py
  api/environments/models.py
  api/environments/views.py
  api/features/managers.py
  api/features/versioning/tasks.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
  api/tests/types.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

#3910 docs: Update images
  docs/static/img/Flagsmith_GitHub_SignUp.png
  docs/static/img/change-request-approve.png
  docs/static/img/change-request-create.png
  docs/static/img/change-request-enable.png
  docs/static/img/change-request-list.png
  docs/static/img/change-request-publish.png
  docs/static/img/change-request-schedule.png
  docs/static/img/create-feature.png
  docs/static/img/create-remote-config.png
  docs/static/img/edit-feature-with-segment.png
  docs/static/img/edit-segment.png
  docs/static/img/environment-banner.png
  docs/static/img/environment-permissions.png
  docs/static/img/feature-specific-segment.png
  docs/static/img/feature-uuid.png
  docs/static/img/features-list.png
  docs/static/img/flag-analytics.png
  docs/static/img/flag-compare-environment.png
  docs/static/img/flag-compare-flag.png
  docs/static/img/flag-owners.png
  docs/static/img/flag-settings.png
  docs/static/img/flag-tags.png
  docs/static/img/guides/fcm-segment.png
  docs/static/img/guides/fcm-user-override.png
  docs/static/img/identity-details.png
  docs/static/img/json-view.png
  docs/static/img/organisation-permissions.png
  docs/static/img/percent-rollout.png
  docs/static/img/project-permissions.png
  docs/static/img/quickstart/demo_create_1.png
  docs/static/img/quickstart/demo_create_10.png
  docs/static/img/quickstart/demo_create_2.png
  docs/static/img/quickstart/demo_create_3.png
  docs/static/img/quickstart/demo_create_4.png
  docs/static/img/quickstart/demo_create_5.png
  docs/static/img/quickstart/demo_create_6.png
  docs/static/img/scheduled-flag-create.png
  docs/static/img/scheduled-flag-list.png
  docs/static/img/tutorial/docsVersionDropdown.png
  docs/static/img/tutorial/localeDropdown.png
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  docs/static/img/user-features.png
  frontend/web/components/pages/UserPage.js
Labels: front-end, docs

#3914 fix: Disable segment override diffs for non versioned environments
  frontend/web/components/diff/DiffChangeRequest.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end

#3905 fix: Move call to GitHub integration tasks out from trigger_feature_state_change_webhooks
  api/features/models.py
  api/features/tasks.py
  api/integrations/github/constants.py
  api/integrations/github/github.py
  api/integrations/github/tasks.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
Labels: api

#3915 chore: Add realtime setting
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/OrganisationSettingsRedirectPage.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end

#3909 chore(main): release 2.114.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3913 fix(versioning): handle mapping of environment to engine post v2 versioning migration
  api/features/models.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
Labels: api

#3916 fix(versioning): fix exception getting feature states for edge identity post v2 versioning migration
  api/edge_api/identities/models.py
  api/features/versioning/versioning_service.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
Labels: api

#3929 fix: Organisation id not numeric in organisation settings
  frontend/common/stores/account-store.js
  frontend/web/components/ProjectsPage.tsx
Labels: front-end

#3925 chore: Convert feature segments models TestCase to a normal test function
  api/tests/unit/features/feature_segments/test_unit_feature_segments_models.py
Labels: api

#3894 fix: Add multivariate values when cloning identities
  api/edge_api/identities/models.py
  api/features/models.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/environments/identities/test_unit_identities_feature_states_views.py
Labels: api

#3935 docs: fix chart version and value
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#3919 chore(main): release 2.114.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3926 fix: Scroll to top on path change
  frontend/web/components/App.js
  frontend/web/components/ScrollToTop.tsx
Labels: front-end

#3928 chore: Convert segments permissions TestCase to a normal test function
  api/conftest.py
  api/tests/types.py
  api/tests/unit/segments/test_unit_segments_permissions.py
Labels: api

#3923 chore: remove flags
  docs/docs/deployment/overview.md
  frontend/common/stores/account-store.js
  frontend/common/utils/utils.tsx
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/AuditLog.tsx
  frontend/web/components/Blocked.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end, docs

#3942 style: change request page
  frontend/web/components/diff/DiffChangeRequest.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

#3945 fix: segment override link
  frontend/web/components/SegmentOverrides.js
Labels: front-end

#3943 fix: add trailing slash to update group logic
  frontend/common/services/useGroup.ts
Labels: front-end

#3315 feat: Add metadata fields to core entities (API)
  api/conftest.py
  api/features/models.py
  api/features/serializers.py
  api/features/views.py
  api/metadata/models.py
  api/metadata/serializers.py
  api/metadata/views.py
  api/segments/models.py
  api/segments/serializers.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/metadata/test_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

#3948 fix: Create GitHub comment as table
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/features/models.py
  api/integrations/github/constants.py
  api/integrations/github/github.py
  api/integrations/github/tasks.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
Labels: api

#3955 fix(versioning): prevent task from deleting all unrelated feature states / feature segments
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

#3940 chore(main): release 2.115.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3949 feat: Add global domain auth methods
  api/app/settings/common.py
Labels: api

#3956 fix: change environment in settings page
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end

#3766 feat: Identity overrides in environment document
  api/environments/constants.py
  api/environments/managers.py
  api/environments/models.py
  api/environments/sdk/schemas.py
  api/integrations/integration.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/util/mappers/test_unit_mappers_sdk.py
  api/util/mappers/__init__.py
  api/util/mappers/dynamodb.py
  api/util/mappers/engine.py
  api/util/mappers/sdk.py
Labels: api, docs

#3961 fix: segment overrides stale feature state value while creating GitHub comment
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/features/models.py
  api/features/serializers.py
  api/integrations/github/github.py
  api/integrations/github/tasks.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
Labels: api

#3212 feat: Add metadata fields to core entities (FE)
  docs/docs/basic-features/managing-features.md
  docs/docs/basic-features/segments.md
  docs/docs/system-administration/environment-settings.md
  docs/docs/system-administration/metadata/metadata.md
  docs/static/img/metadata/metadata-environment.png
  docs/static/img/metadata/metadata-feature-1.png
  docs/static/img/metadata/metadata-fields.png
  docs/static/img/metadata/metadata-segment-1.png
  frontend/common/constants.ts
  frontend/common/services/useEnvironment.ts
  frontend/common/services/useMetadataField.ts
  frontend/common/services/useMetadataModelField.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/services/useSupportedContentType.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/ErrorMessage.js
  frontend/web/components/Icon.tsx
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/metadata/ContentTypesMetadataFieldTable.tsx
  frontend/web/components/metadata/ContentTypesValues.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/metadata/SupportedContentTypesSelect.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/ProjectRedirectPage.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/styles/project/_utils.scss
Labels: front-end, api, docs

#3881 feat: Edge V2 migration opt-in, capacity budget for migration
  api/app/settings/common.py
  api/environments/dynamodb/__init__.py
  api/environments/dynamodb/services.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/wrappers/exceptions.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/features/features_service.py
  api/projects/admin.py
  api/projects/migrations/0021_add_identity_overrides_migration_status.py
  api/projects/migrations/0023_rename_identity_overrides_migration_status_keeping_db_column.py
  api/projects/migrations/0024_add_project_edge_v2_migration_read_capacity_budget.py
  api/projects/models.py
  api/projects/serializers.py
  api/projects/tasks.py
  api/pyproject.toml
  api/tests/unit/environments/dynamodb/test_unit_services.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/features/test_unit_features_features_service.py
  api/tests/unit/projects/test_unit_projects_models.py
  api/tests/unit/projects/test_unit_projects_tasks.py
Labels: front-end, api, docs

#3966 chore(docs): enable Swagger UI deep links
  api/app/settings/common.py
Labels: api

#3965 chore(docs): fix SDK tabs
  docs/docs/clients/server-side.md
Labels: docs

#3968 chore: add Edge V2 migration read capacity budget to project admin
  api/projects/admin.py
Labels: api

#3970 chore: blank project Edge V2 read capacity budget field
  api/projects/migrations/0024_add_project_edge_v2_migration_read_capacity_budget.py
  api/projects/models.py
Labels: api

#3975 docs: add links to percent split
  docs/docs/basic-features/segments.md
Labels: docs

#3927 chore: Convert segments models TestCase to a normal test function
  api/tests/unit/segments/test_unit_segments_models.py
Labels: api

#3977 fix: change environment in settings page
  frontend/web/components/App.js
Labels: front-end

#3974 fix(versioning): multiple versioned segment overrides added to environment document
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/engine.py
Labels: api

#3959 fix(versioning): handle Master API Keys when publishing a version
  api/features/versioning/models.py
  api/features/versioning/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

#3934 fix: Improve the UI/UX for clone identities
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentityOverridesIcon.tsx
Labels: front-end

#3976 chore: remove deprecated functions url and ugettext_lazy
  api/api/urls/deprecated.py
  api/api/urls/v1.py
  api/api/urls/v2.py
  api/app/urls.py
  api/audit/urls.py
  api/e2etests/urls.py
  api/environments/models.py
  api/environments/urls.py
  api/features/feature_external_resources/models.py
  api/features/models.py
  api/organisations/urls.py
  api/projects/urls.py
  api/users/models.py
  api/users/urls.py
Labels: api

#3978 style: Improve signup styles for when email authentication is disabled
  frontend/web/components/Card.js
  frontend/web/components/Card.tsx
  frontend/web/components/pages/HomePage.js
Labels: front-end

#3957 chore(main): release 2.116.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3984 chore: bump docs docusaurus
  docs/package-lock.json
  docs/package.json
Labels: docs

#3985 docs: capitalise github and fix some typos
  docs/docs/integrations/project-management/github.md
  docs/docs/system-administration/authentication/04-LDAP.md
Labels: docs

#3999 fix(versioning): fix cloning environments using v2 versioning
  api/environments/models.py
  api/features/versioning/managers.py
  api/features/versioning/models.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: api

#4007 fix(versioning): segment overrides limit
  api/environments/models.py
  api/environments/views.py
  api/features/managers.py
  api/features/versioning/managers.py
  api/features/versioning/sql/get_latest_versions.sql
  api/tests/unit/environments/test_unit_environments_views.py
  api/util/mappers/engine.py
Labels: api

#4008 chore(main): release 2.116.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3953 fix(versioning): webhooks not triggered when new version published
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

#4009 chore(main): release 2.116.3
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#4011 docs: Restore and polish Okta first-party integration docs
  docs/docs/system-administration/authentication/02-Okta.md
Labels: docs

#3962 feat: Improvements in the GitHub integration BE
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/views.py
  api/features/models.py
  api/features/serializers.py
  api/features/versioning/serializers.py
  api/integrations/github/client.py
  api/integrations/github/constants.py
  api/integrations/github/dataclasses.py
  api/integrations/github/github.py
  api/integrations/github/serializers.py
  api/integrations/github/tasks.py
  api/integrations/github/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/webhooks/webhooks.py
Labels: api

#4015 fix: Add support for versioning v2 on GitHub resource linking
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/integrations/github/client.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
Labels: api

#4013 feat: Add endpoint to fetch GitHub repository contributors
  api/integrations/github/client.py
  api/integrations/github/dataclasses.py
  api/integrations/github/serializers.py
  api/integrations/github/views.py
  api/organisations/urls.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

#4010 docs: Getting flags by identity - iOS
  docs/docs/clients/client-side/ios.md
Labels: docs

#3870 feat: Add api usage metrics for different periods
  api/app_analytics/analytics_db_service.py
  api/app_analytics/constants.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/serializers.py
  api/app_analytics/tasks.py
  api/app_analytics/types.py
  api/conftest.py
  api/features/views.py
  api/organisations/subscription_info_cache.py
  api/organisations/tasks.py
  api/sales_dashboard/views.py
  api/tests/test_helpers.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

#3987 feat: Implement be search and lazy loading for GitHub resources
  frontend/common/constants.ts
  frontend/common/services/useGithub.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/useInfiniteScroll.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/DeleteGithubIntegration.tsx
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/ExternalResourcesTable.tsx
  frontend/web/components/GitHubResourceSelectProvider.tsx
  frontend/web/components/GitHubResourcesSelect.tsx
  frontend/web/components/IntegrationList.js
  frontend/web/components/IssueSelect.tsx
  frontend/web/components/MyGitHubRepositoriesComponent.tsx
  frontend/web/components/MyIssuesSelect.tsx
  frontend/web/components/MyPullRequestsSelect.tsx
  frontend/web/components/PullRequestSelect.tsx
  frontend/web/components/pages/GitHubSetupPage.tsx
Labels: front-end

#4018 refactor: Convert OAuth GitHub TestCase to a normal test function
  api/tests/unit/custom_auth/oauth/test_unit_oauth_github.py
Labels: api

#4029 fix(sentry-FLAGSMITH-API-4FZ): fix PATCH for segments
  api/segments/serializers.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

#3996 fix: Set api usage billing to 100k
  api/organisations/chargebee/__init__.py
  api/organisations/chargebee/chargebee.py
  api/organisations/models.py
  api/organisations/tasks.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

#4038 feat: Add grace period to api usage billing
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

#4037 fix: GitHub repos unique constraint and delete
  api/conftest.py
  api/features/feature_external_resources/models.py
  api/integrations/github/github.py
  api/integrations/github/migrations/0003_auto_20240528_0640.py
  api/integrations/github/models.py
  api/integrations/github/views.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

#4017 refactor: Convert OAuth serializers TestCase to a normal test function
  api/tests/unit/custom_auth/oauth/test_unit_oauth_serializers.py
Labels: api

#4023 refactor: Convert custom auth integration APITestCase to a normal test function
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
Labels: api

#4040 fix: Setting `LOG_FORMAT: json` does not write stack traces to logs
  api/tests/unit/util/test_logging.py
  api/util/logging.py
Labels: api

#4052 fix: Switch function argument to date start
  api/sales_dashboard/views.py
Labels: api

#4046 docs: Tweak change request settings language
  docs/docs/advanced-use/change-requests.md
Labels: docs

#4053 fix: Set billing term starts at 30 days for null values
  api/app_analytics/analytics_db_service.py
Labels: api

#4054 fix: Set billing starts at to reasonable default for API usage notifications
  api/organisations/views.py
Labels: api

#3981 feat(analytics): Add command to migrate analytics data to pg
  api/app_analytics/management/commands/migrate_analytics.py
  api/app_analytics/migrate_to_pg.py
  api/tests/unit/app_analytics/test_migrate_to_pg.py
Labels: api

#4012 chore(main): release 2.117.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#4043 fix: Validate feature values before saving
  frontend/web/components/ValueEditor.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/saveFeatureWithValidation.ts
  frontend/web/styles/3rdParty/_hljs.scss
Labels: front-end

#4056 chore: Update comment to underscore free plans
  api/organisations/views.py
Labels: api

#4045 chore: test trimmed value when determining type
  frontend/common/stores/feature-list-store.ts
  frontend/common/stores/identity-store.js
  frontend/common/utils/utils.tsx
  frontend/web/components/Highlight.js
  frontend/web/components/ValueEditor.js
  frontend/web/components/mv/VariationValue.js
Labels: front-end

#4057 chore(main): release 2.117.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#4059 docs: Add Crisp, identity overrides in local evaluation rollout info
  docs/docs/clients/overview.md
  docs/docusaurus.config.js
  docs/plugins/crisp-chat-links.js
  docs/static/js/crisp-chat.js
Labels: docs

#4063 fix: versioned remove segment override
  frontend/common/services/useFeatureVersion.ts
Labels: front-end

#4065 fix: don't create audit log for FeatureStateValue when not published
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api

#4064 feat: add audit log when environment feature version is published
  api/audit/constants.py
  api/audit/related_object_type.py
  api/audit/tasks.py
  api/features/versioning/migrations/0002_add_api_key_for_creation_and_publish.py
  api/features/versioning/models.py
  api/features/versioning/permissions.py
  api/features/versioning/receivers.py
  api/features/versioning/serializers.py
  api/features/versioning/tasks.py
  api/features/versioning/views.py
  api/tests/unit/audit/test_unit_audit_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api
