Repository Flagsmith/flagsmith, pull requests merged in 2024-07, with the labels that each got.

#4140 ci(tests/private-packages): Add SAML, auth controller and workflow
  .github/workflows/api-tests-with-private-packages.yml
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_serializers.py
  api/tests/unit/custom_auth/test_unit_custom_auth_serializer.py
  api/tests/unit/environments/test_unit_environments_authentication.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/integrations/launch_darkly/test_services.py
Labels: api, ci-cd

#4268 docs: refactor os enterprise features
  docs/docs/deployment/configuration/enterprise-edition.md
Labels: docs

#4263 feat(build): Debian Bookworm base images
  Dockerfile
Labels: feature

#4275 feat: Announcement per page FF accept params
  frontend/web/components/AnnouncementPerPage.tsx
  frontend/web/components/InfoMessage.js
Labels: feature, front-end

#4280 feat: Announcement per page accept an id list on the params key
  frontend/web/components/AnnouncementPerPage.tsx
Labels: feature, front-end

#4273 chore(build): Add Trivy categories
  .github/workflows/.reusable-docker-build.yml
Labels: chore

#4292 fix(build): Avoid Docker Hub pull throttling by using public ECR registry
  Dockerfile
Labels: fix

#4300 chore(build): Fix Docker Hub rate limiting for Postgres image
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, chore

#4309 deps(auth-controller): bump auth-controller
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4274 fix: Set early return when influxdb range is empty
  api/app_analytics/influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
Labels: api, fix

#4315 fix(segments): add migration to set version on existing segments
  api/segments/migrations/0025_set_default_version_on_segment.py
Labels: api, fix

#4317 chore(main): release 2.127.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4311 feat: Selected options
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/project/project-components.js
Labels: front-end

#4313 fix: version diff overflow
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/diff/DiffString.tsx
Labels: front-end

#4320 fix(get_permitted_projects): get rid of distinct
  api/features/permissions.py
  api/permissions/permission_service.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/test_unit_features_permissions.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api, fix

#4318 chore(main): release 2.128.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4110 feat: Open payment modal if a plan was preselected, add annual plans
  frontend/web/components/ProjectsPage.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/HomePage.js
Labels: feature, front-end

#4323 fix: annual plan ids and refreshing
  frontend/env/project_dev.js
  frontend/env/project_prod.js
  frontend/web/components/modals/Payment.js
Labels: front-end

#4322 fix(e2e): Pass `GITHUB_ACTION_URL` to Docker E2E test runs
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, fix

#4314 fix: Prevent "Create Segment" button from disappearing when deleting the last segment
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end

#4266 chore(build): API test image
  .github/actions/docker-build-report-to-pr/action.yml
  .github/docker_build_comment_template.md
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  .pre-commit-config.yaml
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api, chore

#4262 feat(docker): Update entrypoint
  .github/actions/api-deploy-ecs/action.yml
  api/scripts/run-docker.sh
  docs/docs/system-administration/importing-and-exporting/organisations.md
Labels: feature, api

#4328 fix(build): Avoid E2E rate limiting by swithing to Postgres image hosted on GHCR
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, fix

#4329 fix: frontend fails to load when announcement flag isn't set
  frontend/web/components/Announcement.tsx
Labels: front-end, fix

#4294 fix: Fix "Create Project" button in the project selector not opening the project creation modal
  frontend/web/components/ProjectManageWidget.tsx
Labels: front-end, fix

#4321 chore(main): release 2.129.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4298 chore: Rename metadata to custom fields
  frontend/common/constants.ts
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/metadata/MetadataTitle.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end, chore

#4307 docs: Improve documentation on custom fields / metadata
  docs/docs/advanced-use/custom-fields.md
  docs/docs/basic-features/managing-features.md
  docs/docs/basic-features/segments.md
  docs/docs/system-administration/environment-settings.md
  docs/docs/system-administration/importing-and-exporting/features.md
  docs/docs/system-administration/metadata/metadata.md
  docs/docs/version-comparison.md
  docs/static/img/metadata/metadata-example.png
  docs/static/img/metadata/metadata-fields.png
  docs/vercel.json
Labels: docs

#4332 docs: Use category index pages instead of separate Overview pages
  docs/docs/advanced-use/ab-testing.md
  docs/docs/advanced-use/custom-fields.md
  docs/docs/advanced-use/edge-api.md
  docs/docs/advanced-use/edge-proxy.md
  docs/docs/basic-features/index.md
  docs/docs/basic-features/managing-identities.md
  docs/docs/basic-features/segments.md
  docs/docs/clients/index.md
  docs/docs/clients/server-side.md
  docs/docs/deployment/hosting/kubernetes.md
  docs/docs/deployment/hosting/locally-edge-proxy.md
  docs/docs/deployment/hosting/locally-frontend.md
  docs/docs/deployment/index.md
  docs/docs/guides-and-examples/defensive-coding.md
  docs/docs/guides-and-examples/efficient-api-usage.md
  docs/docs/guides-and-examples/integration-approaches.md
  docs/docs/index.md
  docs/docs/integrations/index.md
  docs/docs/quickstart.md
  docs/docs/system-administration/api-usage.md
  docs/docs/system-administration/authentication/03-OAuth.md
  docs/docs/system-administration/security.md
  docs/docs/version-comparison.md
  docs/vercel.json
Labels: docs

#4333 docs: status page in footer
  docs/docusaurus.config.js
Labels: docs

#4337 docs: fix default flags example
  docs/docs/clients/client-side/javascript.md
Labels: docs

#4336 fix: Non-admin users cannot link a feature to a GH Issue/PR
  api/organisations/permissions/permissions.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api, fix

#4348 ci: move to maintained release labeller
  .github/workflows/platform-pull-request.yml
Labels: ci-cd

#4304 docs: tweak limits
  docs/docs/system-administration/system-limits.md
Labels: docs

#4341 docs: standardise offline handler in js
  docs/docs/clients/client-side/javascript.md
Labels: docs

#4353 docs: fix statuspage link
  docs/docs/guides-and-examples/defensive-coding.md
Labels: docs

#4331 chore(main): release 2.130.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4276 feat: Wolfi-based Docker images
  Dockerfile
  api/scripts/run-docker.sh
Labels: feature, api

#4355 fix(build): Incorrect package used for GPG
  Dockerfile
Labels: fix

#4357 chore: Use category for Trivy reports
  .github/workflows/.reusable-docker-build.yml
Labels: chore

#4308 feat(pg-usage-data): Add cache to batch tracking data
  api/app/settings/common.py
  api/app_analytics/cache.py
  api/app_analytics/middleware.py
  api/app_analytics/migrations/0004_apiusageraw_count.py
  api/app_analytics/models.py
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_middleware.py
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
Labels: feature, api

#4289 fix: Non-admin project Role request to /projects/ID/features/ID Causes Crash
  api/features/permissions.py
Labels: api, fix

#4360 fix: Styling alert for API usage banner
  frontend/web/components/OrganisationLimit.tsx
Labels: bug, front-end, fix

#4344 fix: Update of organisations during flags and admin access
  api/organisations/tasks.py
Labels: api, fix

#4358 chore(api-usage): update api usage email templates
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, chore

#4364 ci: update deprecated release please action
  .github/workflows/platform-release-please.yml
Labels: ci-cd

#4354 chore(main): release 2.131.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4367 ci: Fix PR title for pre-commit autoupdate PRs
  .pre-commit-config.yaml
Labels: ci-cd

#4371 fix: users with `CREATE_FEATURE` permission cannot assign feature users / groups
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#4362 fix: Cannot use an API Key to add users to a group
  api/api_keys/user.py
  api/tests/unit/users/test_unit_users_views.py
  api/users/abc.py
  api/users/views.py
Labels: api, fix

#4245 feat: Improve versioned change requests to handle multiple open CRs for single feature
  api/conftest.py
  api/features/feature_segments/serializers.py
  api/features/multivariate/serializers.py
  api/features/serializers.py
  api/features/versioning/dataclasses.py
  api/features/versioning/migrations/0004_add_version_change_set.py
  api/features/versioning/models.py
  api/features/versioning/serializers.py
  api/features/versioning/tasks.py
  api/features/versioning/templates/versioning/scheduled_change_failed_conflict_email.txt
  api/features/versioning/views.py
  api/features/views.py
  api/features/workflows/core/models.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/features/versioning/test_unit_versioning_dataclasses.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: feature, api

#4365 fix: Organisation/Project dropdown not reset after closing
  frontend/web/components/BreadcrumbSeparator.tsx
Labels: front-end, fix

#4375 feat: Return transient traits explicitly
  api/environments/identities/models.py
  api/environments/identities/traits/models.py
  api/environments/identities/traits/serializers.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: feature, api

#4377 chore(sales-dashboard): optimise sales dashboard search query
  api/sales_dashboard/views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api, chore

#4381 fix: add logic to set segment to lowest priority if not set
  api/features/feature_segments/serializers.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_serializers.py
Labels: api, fix

#4378 chore: Remove linting dependencies
  .github/pull_request_template.md
  .github/workflows/api-pull-request.yml
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
Labels: api, chore

#4380 chore: add --dist=worksteal to pytest opts
  api/.env-ci
  api/.env-local
  api/pyproject.toml
Labels: api, chore

#4383 fix: feature segments created with priority 0 are sent to bottom
  api/features/feature_segments/serializers.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_serializers.py
Labels: api, fix

#4387 docs: Don't expand "Basic Features" by default
  docs/docs/basic-features/_category_.json
Labels: docs

#4301 feat: versioned change request change sets
  frontend/common/services/useChangeRequest.ts
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/change-requests-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/segment-test.ts
  frontend/web/components/FeatureVersion.tsx
  frontend/web/components/InfoMessage.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/diff/DiffChangeRequest.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/diff/diff-utils.ts
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: feature, front-end, api

#4372 chore(main): release 2.132.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4390 deps: workflows -> 2.4.1
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4338 feat: Send users notification when api flags have been blocked
  api/organisations/task_helpers.py
  api/organisations/tasks.py
  api/organisations/templates/organisations/api_flags_blocked_notification.html
  api/organisations/templates/organisations/api_flags_blocked_notification.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#4394 fix(build): Use a pre-created user for the frontend image
  Dockerfile
Labels: fix

#4398 fix: casting issue in FE logic for `delete` attribute
  frontend/web/components/modals/Rule.tsx
Labels: front-end

#4385 docs: Add docs on consuming custom fields via API
  docs/docs/advanced-use/custom-fields.md
Labels: docs

#4404 fix: add logic to handle subscriptions in trial
  api/organisations/chargebee/webhook_handlers.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#4417 chore: revert "chore: add --dist=worksteal to pytest opts"
  api/.env-ci
  api/.env-local
  api/pyproject.toml
Labels: api, chore

#4405 fix(models/featureevaluationraw): Add index on crated_at
  api/app_analytics/migrations/0005_featureevaluationraw_created_at_idx.py
  api/app_analytics/models.py
Labels: api, fix

#4419 deps: bump workflow and task-processor
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4395 chore(main): release 2.133.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4428 fix: Handle zero case for API usage limit
  api/organisations/models.py
  api/organisations/task_helpers.py
Labels: api, fix

#4282 feat: Surface password requirements on signup / dynamic validation
  frontend/web/components/PasswordRequirements.js
  frontend/web/components/pages/HomePage.js
Labels: front-end

#4415 feat: Add command for Edge V2 migration
  api/app/settings/common.py
  api/edge_api/apps.py
  api/edge_api/management/commands/__init__.py
  api/edge_api/management/commands/migrate_to_edge_v2.py
  api/tests/unit/edge_api/test_unit_edge_api_commands.py
Labels: feature, api

#4435 fix(tests): Strong password for E2E
  api/e2etests/e2e_seed_data.py
  frontend/e2e/config.ts
Labels: front-end, api, fix

#4426 fix: Catch full exception instead of runtime error in API usage task
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#4437 fix: Delete scheduled change request
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end, fix

#4439 fix: deleting change requests with change sets throws 500 error
  api/features/workflows/core/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

#4430 docs: correct kotlin docs
  docs/docs/clients/client-side/android.md
Labels: docs

#4441 chore: move conventional commit
  .github/workflows/conventional-commit.yml
  .github/workflows/platform-pull-request.yml
Labels: chore

#4444 docs: Add missing deployment overview redirect
  docs/vercel.json
Labels: docs
