Repository Flagsmith/flagsmith, pull requests merged in 2024-03, with the labels that each got.

#3512 fix: N+1 on segment overrides for environment-document endpoint
  api/environments/managers.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/util/mappers/engine.py
Labels: api

#3476 chore(main): release 2.103.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3475 fix(fs-delete/webhook): use fs instance instead of historical
  api/features/tasks.py
  api/tests/unit/features/test_unit_features_tasks.py
Labels: api

#3511 docs: Update dotnet configuration
  docs/docs/clients/server-side.md
Labels: docs

#3516 fix: Dasherize conversion event types path
  api/api/urls/v1.py
Labels: api

#3518 chore: Adjust 2fa plan
  frontend/common/utils/utils.tsx
  frontend/web/components/modals/Payment.js
Labels: front-end

#3514 chore(main): release 2.103.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3543 chore: Add copy feature buttons next to names
  frontend/common/utils/utils.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tags/TagValues.tsx
  frontend/web/styles/project/_buttons.scss
Labels: front-end

#3536 style: Adjust taglist height
  frontend/web/styles/project/_tags.scss
Labels: front-end

#3555 docs: clarify amplitude urls
  docs/docs/integrations/analytics/amplitude.md
Labels: docs

#3551 docs: update links
  docs/docs/clients/server-side.md
  docs/docs/index.md
Labels: docs

#3566 chore: Leave Albacross active after signup
  frontend/web/components/pages/HomePage.js
Labels: front-end

#3540 style: Adjust tooltips
  frontend/common/utils/utils.tsx
  frontend/global.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/Headway.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

#3538 chore: Update tooltips for flag enabled state / value
  frontend/web/components/Feature.js
  frontend/web/components/Tooltip.tsx
Labels: front-end

#3568 docs: better edge proxy
  docs/docs/advanced-use/edge-proxy.md
  docs/docs/deployment/hosting/locally-edge-proxy.md
  docs/docs/diagrams/Edge-proxy.drawio.xml
  docs/static/img/edge-proxy-existing.png
  docs/static/img/edge-proxy-existing.svg
  docs/static/img/edge-proxy-proxy.png
  docs/static/img/edge-proxy-proxy.svg
Labels: docs

#3571 chore: Add analytics latency info
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#3570 chore: Add feature id tooltip
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#3534 chore: Add override information
  frontend/common/constants.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/UserPage.js
Labels: front-end

#3564 style: Assign hover states
  frontend/web/components/FlagOwnerGroups.js
  frontend/web/components/FlagOwners.js
  frontend/web/components/SettingsButton.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/styles/project/_utils.scss
Labels: front-end

#3563 style: Fix diff dark mode
  frontend/web/styles/3rdParty/_react-diff.scss
Labels: front-end

#3562 chore: group admin tooltip
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/modals/CreateGroup.js
Labels: front-end

#3554 style: Improve save feature toast
  frontend/common/providers/FeatureListProvider.js
  frontend/common/stores/feature-list-store.js
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

#3553 style: Add language picker within code help
  frontend/web/components/CodeHelp.js
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/components/_tabs.scss
Labels: front-end

#3572 fix: Project settings with no environments
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end

#3575 fix: Refresh filter after tagging
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

#3556 chore: Quick create tag
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/styles/project/_tags.scss
Labels: front-end

#3557 chore: Hide crisp in modals
  frontend/web/styles/project/_modals.scss
Labels: front-end

#3567 chore: show overrides in compare views
  frontend/common/services/useProjectFlag.ts
  frontend/common/types/requests.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/IdentityOverridesIcon.tsx
  frontend/web/components/SegmentOverridesIcon.tsx
Labels: front-end

#3574 chore: create abn label
  frontend/web/components/Feature.js
  frontend/web/components/mv/AddVariationButton.js
Labels: front-end

#3539 chore: Remove contact sales slack message
  frontend/api/index.js
Labels: front-end

#3578 fix(audit): use correct endpoint for retrieve
  frontend/common/services/useAuditLogItem.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/AuditLogItemPage.tsx
Labels: front-end

#3582 deps(saml): bump SAML version
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3546 chore(main): release 2.103.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3584 deps: use poetry for workflows
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/app/settings/common.py
  api/app/urls.py
  api/features/urls.py
  api/features/workflows/core/models.py
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3586 ci: fix ECS deploy action
  .github/actions/api-deploy-ecs/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3585 fix(audit): add segment deleted audit log
  api/audit/constants.py
  api/segments/models.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

#3587 chore: default app signups to subscribers
  frontend/web/components/pages/HomePage.js
Labels: front-end

#3589 fix: remove duplicate tos
  frontend/web/components/pages/HomePage.js
Labels: front-end

#3592 fix: poetry audit
  .github/workflows/api-audit.yml
  api/Makefile
Labels: api, github

#3508 chore(stale-flags): add stale flags app to installed apps
  api/app/settings/common.py
Labels: api

#3510 fix: don't create feature export before launch darkly import
  frontend/web/components/import-export/ImportPage.tsx
Labels: front-end

#3596 chore(main): release 2.103.4
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3599 deps(workflows): bump workflows version 2.2.0
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3590 chore: Convert identities views TestCase to normal test function part 2
  api/tests/unit/environments/identities/test_unit_identities_views.py
Labels: api

#3602 fix: startup plan does not allow correct permissions
  frontend/common/utils/utils.tsx
Labels: front-end

#3604 deps(workflows): bump workflows version 2.2.1
  .pre-commit-config.yaml
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3559 chore: Remove user override
  frontend/common/dispatcher/app-actions.js
  frontend/common/stores/identity-store.js
  frontend/web/components/RemoveUserOverride.tsx
  frontend/web/components/modals/ConfirmRemoveFeature.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/UserPage.js
Labels: front-end

#3608 fix: remove feature modal
  frontend/web/components/FeatureRow.js
  frontend/web/components/modals/ConfirmRemoveFeature.tsx
  frontend/web/components/pages/UserPage.js
Labels: front-end

#3605 feat(tags): prevent system tag modifications
  api/conftest.py
  api/projects/tags/serializers.py
  api/projects/tags/views.py
  api/tests/unit/projects/tags/test_unit_projects_tags_views.py
Labels: api

#3581 Docs/efficient use of api
  docs/docs/guides-and-examples/efficient-api-usage.md
Labels: docs

#3607 fix: Add stale_flags_limit_days to Project serializer
  api/conftest.py
  api/organisations/subscriptions/serializers/mixins.py
  api/projects/serializers.py
  api/projects/views.py
  api/tests/unit/organisations/subscriptions/serializers/test_unit_subscriptions_serializers_mixins.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#3616 deps(workflows): bump workflows version
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3591 chore: Convert traits views TestCase to normal test function
  api/tests/unit/environments/identities/traits/test_traits_views.py
Labels: api

#3614 chore: add django admin warning
  api/templates/admin/base_site.html
Labels: api

#3612 chore: show no segment rules validation
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#3579 feat: Filter features by owners and group owners
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3561 chore: Confirm close permissions modal
  frontend/web/components/EditPermissions.tsx
Labels: front-end

#3436 docs: remove roles not available
  docs/docs/system-administration/rbac.md
Labels: docs

#3573 chore: Show tag usage when deleting
  frontend/common/types/requests.ts
  frontend/web/components/TagUsage.tsx
  frontend/web/components/tags/AddEditTags.tsx
Labels: front-end

#3541 feat: Add state feature filter
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3622 docs(offline-mode): Add offline mode docs for python and java
  docs/docs/clients/server-side.md
Labels: docs

#3627 fix: Freeze time for tests to ensure dependability
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api

#3635 chore: default to 180 days dashboard graph
  api/sales_dashboard/views.py
Labels: api

#3639 chore: Add billing tab
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end

#3603 chore(main): release 2.104.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3634 ci: update node 16 uffizzi
  .github/workflows/uffizzi-build.yml
Labels: github

#3633 ci: remove redundant env var
  .github/workflows/frontend-test-staging.yml
  .github/workflows/platform-pull-request.yml
Labels: github

#3642 chore: standardise api key copy
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end

#3646 docs: refactor rest api
  docs/docs/clients/rest.md
Labels: docs

#3618 chore: Import export docs
  docs/README.md
  docs/docs/system-administration/importing-and-exporting/_category_.json
  docs/docs/system-administration/importing-and-exporting/data-migration.md
  docs/docs/system-administration/importing-and-exporting/features.md
  docs/docs/system-administration/importing-and-exporting/launchdarkly.md
  docs/docs/version-comparison.md
Labels: docs

#3650 docs: remove pointless comment
  docs/docs/clients/server-side.md
Labels: docs

#3651 docs: correct english
  docs/docs/clients/overview.md
Labels: docs

#3649 chore: update latest versions of sdk
  docs/docs/clients/server-side.md
Labels: docs

#3661 fix: No pagination when querying `environments_v2`
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
Labels: api

#3565 chore: Allow manual date entry for scheduling
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/DateSelect.js
  frontend/web/components/modals/ChangeRequestModal.js
Labels: front-end

#3653 chore: Convert traits views TestCase and APITestCase to normal test function completion
  api/tests/unit/environments/identities/traits/test_traits_views.py
Labels: api

#3656 chore: Convert environments views TestCase to normal test function
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api

#3664 docs: update openfeature
  docs/docs/advanced-use/openfeature.md
Labels: docs

#3632 fix: Create group should auto focus on the name input
  frontend/web/components/modals/CreateGroup.js
Labels: front-end

#3662 chore(main): release 2.104.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3672 feat: JSON logging for Gunicorn
  api/Makefile
  api/app/settings/common.py
  api/scripts/gunicorn.conf.py
  api/scripts/run-docker.sh
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/util/test_logging.py
  api/util/logging.py
  docs/docs/deployment/hosting/docker.md
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3668 fix: Use dotenv in frontend/bin/env.js
  frontend/bin/env.js
Labels: front-end

#3629 feat: Summary of group permissions in the Project settings page
  frontend/common/services/useGroup.ts
  frontend/common/services/useUserGroupPermission.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/PermissionsSummaryList.tsx
  frontend/web/components/UserGroupList.tsx
Labels: front-end

#3677 chore: Add Ruby specific offline mode to docs
  docs/docs/clients/server-side.md
Labels: docs

#3663 ci: fix uffizzi
  .github/workflows/uffizzi-preview.yml
Labels: github

#3682 docs: real time live
  docs/docs/advanced-use/real-time-flags.md
Labels: docs

#3683 docs: clarify segments client sdk
  docs/docs/basic-features/managing-segments.md
Labels: docs

#3654 chore: Convert environments authentication TestCase to normal test function
  api/tests/unit/environments/test_unit_environments_authentication.py
Labels: api

#3680 feat: Add org id to hubspot company
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

#3685 fix: Avoid loading Django settings in Gunicorn
  api/util/logging.py
Labels: api

#3684 docs: refactor openfeature
  docs/docs/clients/openfeature.md
Labels: docs

#3674 fix: prevent tasks dying from temporary loss of db connection
  api/task_processor/threads.py
  api/tests/unit/task_processor/conftest.py
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
  api/tests/unit/task_processor/test_unit_task_processor_threads.py
Labels: api

#3676 feat: Add subscription to Hubspot tracker
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/organisations/models.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

#3648 feat: Add domain to Hubspot company
  api/app/settings/common.py
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

#3675 chore(main): release 2.105.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3694 fix: rollback json access logging
  api/Makefile
  api/app/settings/common.py
  api/scripts/gunicorn.conf.py
  api/scripts/run-docker.sh
  api/tests/unit/util/test_logging.py
  api/util/logging.py
  docs/docs/deployment/hosting/docker.md
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3507 fix: API usage alerting in production
  api/app/pagination.py
  api/app_analytics/influxdb_wrapper.py
  api/edge_api/identities/edge_identity_service.py
  api/edge_api/identities/models.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/integrations/flagsmith/client.py
  api/organisations/tasks.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/unit/integrations/flagsmith/test_unit_flagsmith_client.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/dynamodb.py
Labels: api

#3647 feat: Add Hubspot lead tracking for Hubspot data
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/users/migrations/0036_create_hubspot_lead.py
  api/users/models.py
Labels: api

#3697 docs: OfflineMode for .Net and NodeJS
  docs/docs/clients/server-side.md
Labels: docs
