Repository Flagsmith/flagsmith, pull requests merged in 2024-12, with the labels that each got.

#4878 feat(org/view): Add api to get organisation by uuid
  api/organisations/serializers.py
  api/organisations/views.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: feature, api

#4858 chore(main): release 2.155.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4880 fix: Set Hubspot cookie name from request body
  api/integrations/lead_tracking/hubspot/services.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/users/test_unit_users_views.py
Labels: api, fix

#4879 deps: bump workflow and common
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4805 feat: Scheduled segment overrides
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: feature, front-end

#3624 feat: Enterprise licensing
  api/app/settings/common.py
  api/app/settings/test.py
  api/organisations/models.py
  api/organisations/subscriptions/metadata.py
  api/organisations/urls.py
  api/poetry.lock
  api/tests/unit/features/versioning/test_unit_versioning_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: feature, api

#4884 fix: button style
  frontend/web/components/base/forms/Button.tsx
Labels: front-end, fix

#4776 test: Segment matching for sub rules and conditions
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api, testing

#4885 deps: bump common, rbac and workflow
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4886 fix: cannot create new segments due to segment validation
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api, fix

#4853 feat: tag based permissions
  docs/docs/system-administration/rbac.md
  frontend/api/index.js
  frontend/common/providers/Permission.tsx
  frontend/common/services/usePermission.ts
  frontend/common/services/useProject.ts
  frontend/common/services/useRole.ts
  frontend/common/services/useRolePermission.ts
  frontend/common/stores/account-store.js
  frontend/common/stores/organisation-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/Icon.tsx
  frontend/web/components/PermissionsSummaryList.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/ProjectFilter.tsx
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/SettingsButton.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/UserSelect.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/project/_modals.scss
Labels: feature, front-end, flagsmith flag

#4882 chore(main): release 2.156.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4892 fix: save versioned segment overrides
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#4893 chore(main): release 2.156.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4876 fix: audit log integrations for versioned environments
  api/app/settings/common.py
  api/app/settings/test.py
  api/audit/services.py
  api/audit/signals.py
  api/integrations/dynatrace/dynatrace.py
  api/integrations/grafana/mappers.py
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/conftest.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace.py
  api/tests/unit/integrations/grafana/test_mappers.py
  api/util/util.py
Labels: api, fix

#4807 chore: Use local api for self hosted snippets
  frontend/common/code-help/create-user/create-user-curl.js
  frontend/common/code-help/create-user/create-user-flutter.js
  frontend/common/code-help/create-user/create-user-ios.js
  frontend/common/code-help/create-user/create-user-java.js
  frontend/common/code-help/create-user/create-user-js.js
  frontend/common/code-help/create-user/create-user-next.js
  frontend/common/code-help/create-user/create-user-node.js
  frontend/common/code-help/create-user/create-user-php.js
  frontend/common/code-help/create-user/create-user-python.js
  frontend/common/code-help/create-user/create-user-react.js
  frontend/common/code-help/create-user/create-user-ruby.js
  frontend/common/code-help/create-user/create-user-rust.js
  frontend/common/code-help/init/init-curl.js
  frontend/common/code-help/init/init-dotnet.js
  frontend/common/code-help/init/init-flutter.js
  frontend/common/code-help/init/init-go.js
  frontend/common/code-help/init/init-ios.js
  frontend/common/code-help/init/init-java.js
  frontend/common/code-help/init/init-js.js
  frontend/common/code-help/init/init-next.js
  frontend/common/code-help/init/init-node.js
  frontend/common/code-help/init/init-php.js
  frontend/common/code-help/init/init-python.js
  frontend/common/code-help/init/init-react.js
  frontend/common/code-help/init/init-ruby.js
  frontend/common/code-help/init/init-rust.js
  frontend/common/code-help/offline_client/offline-client-curl.js
  frontend/common/code-help/offline_server/offline-server-curl.js
  frontend/common/code-help/traits/traits-curl.js
  frontend/common/code-help/traits/traits-java.js
  frontend/common/code-help/traits/traits-js.js
  frontend/common/code-help/traits/traits-next.js
  frontend/common/code-help/traits/traits-node.js
  frontend/common/code-help/traits/traits-php.js
  frontend/common/code-help/traits/traits-python.js
  frontend/common/code-help/traits/traits-react.js
  frontend/common/code-help/traits/traits-ruby.js
  frontend/common/code-help/traits/traits-rust.js
  frontend/common/constants.ts
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, chore

#4883 chore: Send hubspot token to register endpoints
  frontend/common/stores/account-store.js
  frontend/env/project_prod.js
Labels: front-end, chore

#4829 fix: audit log creation failure when a segment override is deleted
  api/audit/tasks.py
Labels: api

#4902 fix(pre-commit): refactor prettier hook
  .pre-commit-config.yaml
Labels: fix

#4397 docs: better openapi spec
  .github/workflows/docs-pull-request.yml
  .prettierignore
  docs/README.md
  docs/babel.config.js
  docs/docs/clients/rest.md
  docs/docs/edge-api/Overview.md
  docs/docs/edge-api/_category_.yaml
  docs/docs/edge-api/bulk-insert-identities-overwrite.api.mdx
  docs/docs/edge-api/bulk-insert-identities-update.api.mdx
  docs/docs/edge-api/edge-api.info.mdx
  docs/docs/edge-api/get-flags.api.mdx
  docs/docs/edge-api/get-identity-flags-and-traits.api.mdx
  docs/docs/edge-api/identify-user.api.mdx
  docs/docs/edge-api/sidebar.ts
  docs/docs/integrations/analytics/mixpanel.md
  docs/docusaurus.config.js
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/sidebars.js
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/pages/api/index.js
  docs/src/pages/index.module.css
  docs/src/theme/Footer/Copyright/index.js
  docs/static/openapi/edge-api.yaml
Labels: docs

#4904 docs(android): remove jitpack from kotlin docs
  docs/docs/clients/client-side/android.md
  docs/plugins/flagsmith-versions/index.js
Labels: docs

#4895 chore(main): release 2.156.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4907 fix: Restore `make docker-up`
  api/Makefile
  docker/api/docker-compose.local.yml
Labels: api, fix

#4905 fix: Relax Hubspot cookie tracking
  api/integrations/lead_tracking/hubspot/services.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api, fix

#4901 fix(chargebee): ensure that missing api calls are handled correctly
  api/organisations/subscriptions/metadata.py
  api/tests/unit/organisations/subscriptions/test_unit_subscriptions_dataclasses.py
Labels: api, fix

#4908 feat: Heal all identities with blank traits
  api/edge_api/management/commands/ensure_identity_traits_blanks.py
  api/environments/dynamodb/wrappers/base.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/edge_api/test_unit_edge_api_commands.py
Labels: feature, api

#4910 chore(main): release 2.157.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4916 fix: Numbers such as 1e100 cannot be retrieved from DynamoDB
  api/environments/dynamodb/wrappers/base.py
Labels: api, fix

#4919 docs: Constrain Flutter SDK version
  docs/docs/clients/client-side/flutter.md
  docs/plugins/flagsmith-versions/index.js
  docs/src/components/SdkVersions.js
Labels: docs

#4920 fix: Set project change requests url
  api/features/workflows/core/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api, fix

#4917 fix: description state management in EnvironmentSettingsPage
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end, fix

#4914 chore(main): release 2.157.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4927 feat: Displays what entity is being edited in side modal
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/modals/CreateRole.tsx
Labels: feature, front-end

#4932 ci: fix prettier ci issues
  .pre-commit-config.yaml
  .prettierignore
Labels: ci-cd

#4928 docs: Document HTTP proxy configuration for Edge Proxy
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#4929 docs: Bump SDK major verisons
  docs/src/components/SdkVersions.js
Labels: docs

#4935 docs: tidy up edge proxy health check
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs
