Repository Flagsmith/flagsmith, pull requests merged in 2024-04, with the labels that each got.

#3542 feat: Enabled state filter (Frontend)
  frontend/common/useSearchThrottle.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tables/TableValueFilter.tsx
Labels: front-end

#3705 fix: broken CSS on Integrations page in non-Chromium browsers
  frontend/web/components/IntegrationList.js
  frontend/web/styles/components/_panel.scss
Labels: front-end

#3699 fix: Avoid using a Gunicorn config file
  api/Makefile
  api/scripts/run-docker.sh
  api/tests/unit/util/test_logging.py
  api/util/logging.py
  docs/docs/deployment/hosting/docker.md
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3689 chore: owner/group filters
  frontend/web/components/IntegrationList.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tables/TableFilterItem.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableOwnerFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/styles/components/_paging.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_utils.scss
Labels: front-end

#3707 chore: Validate numeric segment rules
  docs/.nvmrc
  docs/docs/clients/server-side.md
  docs/docs/deployment/overview.md
  frontend/common/utils/utils.tsx
Labels: front-end, docs

#3703 chore: upgrade and unpin docusaurus to ^3.2.0
  docs/package-lock.json
  docs/package.json
Labels: docs

#3704 chore:fix JSON in e2e tsconfig
  frontend/e2e/tsconfig.json
Labels: front-end

#3702 fix: ensure api/static directory is created by Git
  api/.gitignore
  api/static/.gitkeep
Labels: api

#3709 fix: Incorrect environment variable interpolation in Makefile
  api/.env-ci
  api/.env-local
  api/Makefile
Labels: api

#3687 docs: refactor feature state value
  docs/docs/basic-features/managing-features.md
  docs/docs/clients/client-side/ios.md
  docs/docs/clients/rest.md
  docs/docs/quickstart.md
Labels: docs

#3698 fix: Create API usage notification butter bar
  api/organisations/models.py
  api/organisations/permissions/permissions.py
  api/organisations/serializers.py
  api/organisations/urls.py
  api/organisations/views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3665 style: Roles
  frontend/common/services/useRolePermission.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/PanelSearch.js
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/project/_lists.scss
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

#3688 feat: add is_live filter to versions endpoint
  api/features/versioning/serializers.py
  api/features/versioning/views.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

#3715 feat: Support multiple OR'd search terms in sales-dashboard
  api/sales_dashboard/templates/sales_dashboard/base.html
  api/sales_dashboard/views.py
Labels: api

#3716 fix: Remove CSRF parameter from sales-dashboard search form
  api/sales_dashboard/templates/sales_dashboard/base.html
Labels: api

#3717 fix: async feature versioning test
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end, github

#3719 test: Scroll the screen to make element visible in the viewport before clicking it in E2E
  frontend/e2e/helpers.cafe.ts
Labels: front-end

#3720 fix: convert CharFields to TextFields for FeatureImport / FeatureExport models
  api/features/import_export/migrations/0004_convert_data_fields_to_text_field.py
  api/features/import_export/models.py
Labels: api

#3713 fix: allow deletion of scheduled change requests
  api/features/versioning/models.py
  api/features/workflows/core/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

#3721 fix: organisation store imports
  frontend/common/stores/feature-list-store.js
  frontend/common/stores/project-store.js
Labels: front-end

#3679 fix: Adjust permissions logic for view / manage groups
  frontend/common/stores/account-store.js
  frontend/web/components/App.js
  frontend/web/components/OrganisationLink.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/ConfirmEmailPage.js
  frontend/web/components/pages/CreateOrganisationPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/InvitePage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/ProjectsPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/main.js
  frontend/web/routes.js
Labels: front-end

#3731 docs: Move JavaScript provider, add openfeature redirect
  docs/docs/clients/openfeature.md
  docs/package-lock.json
  docs/vercel.json
Labels: docs

#3728 chore: add `date_joined` to current user serializer
  api/users/serializers.py
Labels: api

#3708 chore(main): release 2.107.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3733 chore: Update Edge Proxy docs
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#3734 fix: segment override assignment
  frontend/common/providers/withSegmentOverrides.js
Labels: front-end

#3736 chore: increase versioning wait
  frontend/e2e/tests/versioning-tests.ts
Labels: front-end

#3737 fix(task-processor): catch all exceptions
  api/task_processor/threads.py
  api/tests/unit/task_processor/test_unit_task_processor_threads.py
Labels: api

#3735 chore(main): release 2.107.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3739 fix: Revert "feat: Support multiple OR'd search terms in sales-dashboard"
  api/sales_dashboard/templates/sales_dashboard/base.html
  api/sales_dashboard/views.py
Labels: api

#3740 chore(main): release 2.107.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3746 chore(main): release 2.107.3
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3723 docs: Add v4 JS SDK changes
  docs/docs/clients/client-side/javascript.md
Labels: docs

#3666 fix: Add Flagsmith signature header when testing webhook.
  api/core/signing.py
  frontend/web/components/TestWebhook.tsx
  frontend/web/components/modals/CreateAuditWebhook.js
  frontend/web/components/modals/CreateWebhook.js
Labels: front-end, api

#3749 chore: replicate changes made in EE repo to reduce conflicts
  api/features/serializers.py
  api/features/views.py
Labels: api

#3738 chore: Make features, identities and audit search, closed/open change requests filter based on URL
  frontend/common/dispatcher/app-actions.js
  frontend/web/components/ExistingChangeRequestAlert.tsx
  frontend/web/components/pages/AuditLogPage.tsx
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableOwnerFilter.tsx
  frontend/web/components/tables/TableSearchFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tables/TableValueFilter.tsx
Labels: front-end

#3550 fix: Enable faster feature loading
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3610 chore: Versioned change requests
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useVersionFeatureState.ts
  frontend/common/stores/change-requests-store.js
  frontend/common/stores/feature-list-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/modals/ChangeRequestModal.js
  frontend/web/components/pages/FeatureHistoryPage.tsx
Labels: front-end

#3765 docs: bump docusaurus 3.2.1 and fix some broken anchors
  docs/docs/clients/rest.md
  docs/docs/guides-and-examples/efficient-api-usage.md
  docs/docs/guides-and-examples/mobile-app-versioning.md
  docs/package-lock.json
  docs/package.json
Labels: docs

#3743 chore: Convert projects tags permissions TestCase to normal test function
  api/tests/unit/projects/tags/test_unit_projects_tags_permissions.py
Labels: api

#3761 docs: seo optimisations
  docs/docs/index.md
  docs/docusaurus.config.js
Labels: docs

#3768 docs: correct Github capitalisation to GitHub
  SECURITY.md
  docs/docs/clients/client-side/android.md
  docs/docs/clients/client-side/flutter.md
  docs/docs/clients/client-side/ios.md
  docs/docs/clients/client-side/javascript.md
  docs/docs/deployment/configuration/authentication/OAuth.md
  docs/docs/deployment/configuration/enterprise-edition.md
  docs/docs/deployment/overview.md
  docs/docs/platform/releases.md
  docs/docs/platform/roadmap.md
  docs/docs/system-administration/authentication.md
Labels: docs

#3769 chore: Set package mode to false and upgrade poetry check version
  .pre-commit-config.yaml
  api/pyproject.toml
Labels: api

#3775 fix: tests using `has_calls` instead of `assert_has_calls`
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/sse/test_tasks.py
Labels: api

#3752 chore: keep feature modal open on create
  frontend/common/stores/feature-list-store.js
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/base/ModalDefault.tsx
Labels: front-end

#3774 chore(infra): use py3.12 base image
  .github/workflows/api-pull-request.yml
  Dockerfile
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3770 fix: correct JS code snippets syntax
  frontend/common/code-help/create-user/create-user-js.js
  frontend/common/code-help/init/init-js.js
  frontend/common/code-help/traits/traits-js.js
Labels: front-end

#3780 docs: Fix in-app curl code snippets
  frontend/common/code-help/create-user/create-user-curl.js
  frontend/common/code-help/init/init-curl.js
  frontend/common/code-help/offline_client/offline-client-curl.js
  frontend/common/code-help/offline_server/offline-server-curl.js
  frontend/common/code-help/traits/traits-curl.js
Labels: front-end

#3782 docs: remove superfluous 'Feature Flags' from link titles
  docs/docusaurus.config.js
Labels: docs

#3759 deps(workflows): bump workflows version 2.3.1
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3754 chore(main): release 2.107.4
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3786 docs: Fix POST /identities curl snippet
  frontend/common/code-help/traits/traits-curl.js
Labels: front-end

#3789 feat: Swagger schema for environment document
  api/api/openapi.py
  api/environments/sdk/views.py
  api/environments/views.py
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3742 chore: Convert project permissions TestCase to normal test function
  api/conftest.py
  api/projects/permissions.py
  api/tests/types.py
  api/tests/unit/projects/test_unit_projects_permissions.py
Labels: api

#3788 fix: handle InfluxDBError when writing data
  api/app_analytics/influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
Labels: api

#3785 chore(main): release 2.108.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3757 docs: Add JSON environment document tip
  docs/docs/clients/overview.md
Labels: docs

#3783 docs: clarify trait storage
  docs/docs/basic-features/managing-identities.md
  docs/docs/clients/server-side.md
Labels: docs

#3791 fix: prevent unauthorised remove-users access
  api/organisations/permissions/permissions.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3800 chore(main): release 2.108.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3803 docs: Explain how to map Azure AD groups
  docs/docs/system-administration/authentication/01-SAML/index.md
  docs/static/img/saml-group-mapping.png
Labels: docs

#3606 feat: stale flags (FE)
  frontend/common/stores/project-store.js
  frontend/common/types/responses.ts
  frontend/common/utils/getProtectedTags.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

#3748 chore: Convert projects views TestCase to normal test function
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api

#3802 fix: archived persistence
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.js
Labels: front-end

#3806 style: Fix tooltip styles
  frontend/web/components/tags/TagContent.tsx
  frontend/web/styles/project/_tooltips.scss
Labels: front-end

#3808 feat: Show organisation name in header
  frontend/web/components/App.js
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

#3809 fix: Set error value from validation exception properly for feature seralizer
  api/features/serializers.py
Labels: api

#3814 feat: Show organisation name in HTML title
  api/sales_dashboard/templates/sales_dashboard/base.html
  api/sales_dashboard/templates/sales_dashboard/organisation.html
Labels: api

#3818 docs: clarify edge proxy is self hosted
  docs/docs/advanced-use/edge-proxy.md
Labels: docs

#3817 fix: master api key org api access
  api/api_keys/user.py
  api/organisations/permissions/permissions.py
  api/tests/unit/api_keys/test_user.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3813 chore(deps): fix security audit (update cryptography)
  .github/workflows/api-audit.yml
  api/poetry.lock
Labels: api, github

#3655 feat: Ability to customise default environments for new project
  docs/docs/deployment/overview.md
  frontend/common/stores/organisation-store.js
Labels: front-end, docs

#3807 chore: prioritise logged in user in organisation users lists
  frontend/common/stores/organisation-store.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/tables/TableOwnerFilter.tsx
Labels: front-end

#3819 docs: Remove ETA for realtime update triggers
  docs/docs/advanced-use/real-time-flags.md
Labels: docs

#3820 fix: broken link in New Segment modal
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#3777 chore: standardise to py3.12
  .github/workflows/api-audit.yml
  .github/workflows/api-merge.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3823 feat: Report database errors when waiting for database in entrypoint
  api/core/management/commands/waitfordb.py
Labels: api

#3188 chore: Github integration (API)
  api/app/settings/common.py
  api/conftest.py
  api/features/feature_external_resources/__init__.py
  api/features/feature_external_resources/apps.py
  api/features/feature_external_resources/migrations/0001_initial.py
  api/features/feature_external_resources/migrations/__init__.py
  api/features/feature_external_resources/models.py
  api/features/feature_external_resources/serializers.py
  api/features/feature_external_resources/views.py
  api/features/permissions.py
  api/features/tasks.py
  api/integrations/github/__init__.py
  api/integrations/github/apps.py
  api/integrations/github/client.py
  api/integrations/github/constants.py
  api/integrations/github/github.py
  api/integrations/github/migrations/0001_initial.py
  api/integrations/github/migrations/__init__.py
  api/integrations/github/models.py
  api/integrations/github/permissions.py
  api/integrations/github/serializers.py
  api/integrations/github/tasks.py
  api/integrations/github/views.py
  api/organisations/permissions/permissions.py
  api/organisations/urls.py
  api/poetry.lock
  api/projects/urls.py
  api/pyproject.toml
  api/tests/unit/features/test_unit_feature_external_resources_views.py
  api/tests/unit/integrations/github/__init__.py
  api/tests/unit/integrations/github/client_responses/get_issues.json
  api/tests/unit/integrations/github/client_responses/get_pulls.json
  api/tests/unit/integrations/github/client_responses/get_repos.json
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/webhooks/webhooks.py
Labels: api

#3804 chore(main): release 2.109.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3821 chore(saas - hubspot): remove domain filter from hubspot
  api/app/settings/common.py
Labels: api

#3824 docs(footer): add .NET guide link
  docs/docs/advanced-use/real-time-flags.md
  docs/docusaurus.config.js
Labels: docs

#3828 chore: fix anchor link
  docs/docs/guides-and-examples/efficient-api-usage.md
Labels: docs

#3833 docs: promote remote eval traits in the docs
  docs/docs/clients/overview.md
Labels: docs

#3825 chore(ci): Improve coverage performance
  api/.env-ci
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3815 feat: Add Pytest CI mode to optimise migrations
  api/.env-ci
  api/.env-local
  api/Makefile
  api/conftest.py
Labels: api, github

#3792 chore: Improve enable versioning and tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/web/components/EnvironmentVersioningListener.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end

#3830 chore(saas/hubspot): create contacts with default domain
  api/app/settings/common.py
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/tests/unit/integrations/lead_tracking/hubspot/_hubspot_responses.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_tasks.py
  api/users/models.py
Labels: api

#3836 fix: Delete feature external resources when GitHub integration was deleted
  api/features/feature_external_resources/migrations/0002_featureexternalresource_feature_ext_type_2b2068_idx.py
  api/features/feature_external_resources/models.py
  api/integrations/github/models.py
  api/tests/unit/integrations/github/test_unit_github_views.py
Labels: api

#3835 chore(main): release 2.110.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3841 chore(main): release 2.110.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3843 chore(main): release 2.110.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3795 feat: Capability for Pydantic-based OpenAPI response schemas
  api/api/openapi.py
  api/app/settings/common.py
  api/environments/sdk/schemas.py
  api/environments/sdk/views.py
  api/environments/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/api/test_unit_openapi.py
  api/util/pydantic.py
Labels: api

#3730 feat(permissions): manage permissions from a single location
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/OrganisationProvider.js
  frontend/common/providers/OrganisationProvider.tsx
  frontend/common/providers/Permission.tsx
  frontend/common/providers/UserGroupsProvider.js
  frontend/common/services/useGroup.ts
  frontend/common/stores/organisation-store.js
  frontend/common/stores/project-store.js
  frontend/common/stores/user-group-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/ActionButton.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/GroupSelect.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/UserAction.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/UserSelect.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.js
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/pages/OrganisationGroupsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/project/project-components.js
  frontend/web/project/toast.js
  frontend/web/routes.js
  frontend/web/styles/3rdParty/_react-select.scss
Labels: front-end

#3845 chore: fix github app link
  docs/docs/integrations/project-management/github.md
  frontend/web/components/IntegrationList.js
Labels: front-end, docs

#3776 chore: url based settings pages
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/ComparePage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/UserPage.js
Labels: front-end

#3756 fix: Filter versioned features
  api/features/versioning/versioning_service.py
  api/features/views.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3847 fix: Add GitHub app URL to env var
  api/app/settings/common.py
  api/app/views.py
  docs/docs/integrations/project-management/github.md
  frontend/api/index.js
  frontend/web/components/IntegrationList.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/GitHubSetupPage.tsx
Labels: front-end, api, docs

#3844 fix(hubspot): create hubspot company with domain
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_tasks.py
Labels: api

#3846 fix: Get current api usage InfluxDB query
  api/app_analytics/influxdb_wrapper.py
Labels: api

#3693 fix: user delete social auth
  api/custom_auth/constants.py
  api/custom_auth/serializers.py
  api/tests/unit/users/test_unit_users_views.py
  frontend/web/components/modals/ConfirmDeleteAccount.tsx
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end, api

#3853 fix: useHasPermission import
  frontend/web/components/EditPermissions.tsx
Labels: front-end

#3822 chore: Convert features views APITestCase and TestCase to a normal test function
  api/conftest.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3851 fix(sentry-FLAGSMITH-API-4BN): update permission method
  api/api_keys/user.py
  api/permissions/permission_service.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api

#3849 chore(main): release 2.111.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3856 fix: edit group
  frontend/common/services/useGroup.ts
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/modals/CreateGroup.tsx
Labels: front-end

#3859 chore(main): release 2.111.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3858 feat: sort by Overage in sales dashboard
  api/organisations/models.py
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/sales_dashboard/__init__.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Labels: api

#3725 feat: Clone identities (FE)
  frontend/common/services/useIdentityFeatureState.ts
  frontend/common/stores/organisation-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/RolePermissionsList.tsx
Labels: front-end

#3861 fix: typo
  api/sales_dashboard/templates/sales_dashboard/home.html
Labels: api

#3862 fix: Change some texts in the cloning Identities flow
  frontend/common/types/requests.ts
  frontend/web/components/CompareIdentities.tsx
Labels: front-end
