Repository Flagsmith/flagsmith, pull requests merged in 2024-01, with the labels that each got.

#3223 fix: `env` variable instructions on locally-api.md
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#3217 chore(main): release 2.92.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3225 docs: Clarify SDK local evaluation analytics caveats
  docs/docs/clients/overview.md
Labels: docs

#3199 fix(infra/staging): Add INFLUXDB_BUCKET to task def
  api/app/settings/common.py
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api

#3234 ci: docker health check
  api/scripts/healthcheck.py
Labels: api

#2932 feat: Call webhooks async and add backoff to webhooks
  api/app/settings/common.py
  api/audit/signals.py
  api/edge_api/identities/tasks.py
  api/features/tasks.py
  api/task_processor/decorators.py
  api/tests/unit/audit/test_unit_audit_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/features/test_unit_features_tasks.py
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/webhooks.py
Labels: api

#3238 chore: Segment spacing in Segment search UI
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end

#3220 feat(dynamo_documents): propagate delete to dynamo
  api/conftest.py
  api/edge_api/identities/edge_identity_service.py
  api/edge_api/identities/tasks.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/migrator.py
  api/environments/dynamodb/services.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/wrappers/__init__.py
  api/environments/dynamodb/wrappers/base.py
  api/environments/dynamodb/wrappers/environment_api_key_wrapper.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/environments/tasks.py
  api/projects/models.py
  api/tests/conftest.py
  api/tests/unit/environments/dynamodb/test_unit_services.py
  api/tests/unit/environments/dynamodb/types/test_unit_dynamodb_project_metadata.py
  api/tests/unit/environments/dynamodb/wrappers/__init__.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamo_environment_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_api_key_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/features/test_unit_features_features_service.py
Labels: api

#3205 chore: Add change request / scheduled changes warning for edit feature
  frontend/common/services/useChangeRequest.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/ButterBar.js
  frontend/web/components/ExistingChangeRequestAlert.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: front-end

#3218 feat(audit): add change details to AuditLog
  api/audit/models.py
  api/audit/serializers.py
  api/audit/signals.py
  api/audit/views.py
  api/core/models.py
  api/environments/models.py
  api/tests/integration/audit/test_audit_logs.py
  api/tests/integration/conftest.py
  api/tests/unit/audit/test_unit_audit_models.py
Labels: api

#3246 chore: bump docs docusaurus
  docs/docs/advanced-use/edge-api.md
  docs/docs/advanced-use/edge-proxy.md
  docs/docs/basic-features/managing-segments.md
  docs/docs/clients/client-side/ios.md
  docs/docs/clients/server-side.md
  docs/docs/deployment/configuration/django-admin.md
  docs/docs/deployment/hosting/kubernetes.md
  docs/docs/deployment/hosting/locally-api.md
  docs/docs/deployment/overview.md
  docs/docs/guides-and-examples/defensive-coding.md
  docs/package-lock.json
  docs/package.json
Labels: docs

#3239 chore: Bump default stuck limit for task processor tasks
  api/task_processor/management/commands/runprocessor.py
  docs/docs/deployment/configuration/task-processor.md
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: api, docs

#3248 chore: add sdk api key note
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end

#3229 feat(tags/view): Add api to get tag by uuid
  api/projects/tags/permissions.py
  api/projects/tags/serializers.py
  api/projects/tags/views.py
  api/tests/unit/projects/tags/test_views.py
Labels: api

#3209 fix(versioning): endpoints should return latest versions
  api/conftest.py
  api/features/feature_segments/views.py
  api/features/versioning/versioning_service.py
  api/pyproject.toml
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/environments/test_clone_environment.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
  api/tests/types.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  api/tests/unit/environments/identities/test_unit_identities_feature_states_views.py
  api/tests/unit/environments/test_unit_environments_feature_states_views.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
  api/tests/unit/features/test_unit_features_permissions.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/features/versioning/test_unit_versioning_versioning_service.py
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/telemetry/test_unit_telemetry_serializers.py
  api/tests/unit/telemetry/test_unit_telemetry_telemetry.py
Labels: api

#3254 style: add segment override tooltip
  frontend/web/components/SegmentOverrides.js
Labels: front-end

#3256 docs: tweak svg metadata
  docs/static/img/architecture.svg
  docs/static/img/core-api-now.svg
  docs/static/img/ecs-overview.svg
  docs/static/img/edge-api-now.svg
  docs/static/img/flagsmith-model.svg
  docs/static/img/logo.svg
  docs/static/img/saas-architecture.svg
  docs/static/img/sdk-local-evaluation.svg
  docs/static/img/sdk-remote-evaluation.svg
  docs/static/img/self-hosted-architecture.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Labels: docs

#3262 ci: bump frontend node and npm
  frontend/.nvmrc
  frontend/package-lock.json
  frontend/package.json
Labels: front-end

#3265 chore: Improve paging
  frontend/web/components/Paging.js
  frontend/web/styles/components/_paging.scss
Labels: front-end

#3253 feat: implement feature actions dropdown
  frontend/common/useOutsideClick.ts
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/Icon.tsx
  frontend/web/styles/project/_FeaturesPage.scss
  frontend/web/styles/project/_index.scss
Labels: front-end

#3267 fix: Adjust segment not rule
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/styles/project/_forms.scss
Labels: front-end

#3270 chore: rename yaml to yml
  api/Makefile
  docker/db.yml
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3273 fix(webhooks): default task processor to use processor and prevent webhook retries in non-processor environments
  api/app/settings/common.py
  api/app/settings/test.py
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/webhooks.py
Labels: api

#3230 chore(main): release 2.93.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3009 fix: Reading role permissions generates 500 errors
  api/users/serializers.py
  frontend/common/services/useGroupWithRole.ts
  frontend/common/services/useRolePermission.ts
  frontend/common/services/useRolePermissionGroup.ts
  frontend/common/services/useRolesUser.ts
  frontend/common/services/useUserWithRole.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end, api

#3277 chore: Silence Axes warning
  api/app/settings/common.py
Labels: api

#3275 fix: Paging spacer logic
  frontend/web/components/Paging.js
Labels: front-end

#3283 ci: revert separation of workflows
  .github/workflows/api-merge.yml
  .github/workflows/api-pull-request.yml
Labels: github

#3282 chore: Remove pointless tags test
  api/tests/unit/projects/tags/test_unit_projects_tags_models.py
Labels: api

#3294 feat: pure BSD3 license
  LICENSE.md
  api/permissions/LICENSE.md
  docs/license.md
Labels: api, docs

#3290 chore: Convert datadog integration views TestCase to normal test function
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
Labels: api

#3291 chore: Convert rudderstack integration TestCase to normal test function
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack.py
Labels: api

#3292 chore: Convert rudderstack integration views TestCase to normal test function
  api/tests/unit/integrations/rudderstack/test_unit_rudderstack_views.py
Labels: api

#3293 chore: Convert new relic integration views TestCase to normal test function
  api/tests/unit/integrations/new_relic/test_unit_new_relic_views.py
Labels: api

#3284 chore: Convert unit segment integration views TestCase to normal test function
  api/tests/unit/integrations/segment/test_unit_segment_views.py
Labels: api

#3287 chore: Convert mixpanel integration views TestCase to normal test function
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel_views.py
Labels: api

#3281 chore: add no root to poetry makefile
  api/Makefile
Labels: api

#3276 fix: Tidy up ld import
  frontend/common/types/requests.ts
  frontend/web/components/pages/ImportPage.tsx
Labels: front-end

#3296 docs: clarify edge proxy performance
  docs/docs/advanced-use/edge-proxy.md
Labels: docs

#3286 chore: Convert heap integration views TestCase to normal test function
  api/tests/unit/integrations/heap/test_unit_heap_views.py
Labels: api

#3288 chore: Convert amplitude integration views TestCase to normal test function
  api/tests/unit/integrations/amplitude/test_unit_amplitude_views.py
Labels: api

#3289 chore: Convert dynatrace integration views TestCase to normal test function
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace_views.py
Labels: api

#3271 fix: Reset password error handling
  frontend/web/components/base/forms/InputGroup.js
  frontend/web/components/pages/PasswordResetPage.js
Labels: front-end

#3295 fix(webhooks): prevent raise on give up
  api/integrations/rudderstack/rudderstack.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/webhooks/test_unit_webhooks.py
  api/webhooks/webhooks.py
Labels: api

#3274 chore(main): release 2.94.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3299 chore: better issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: improvement, github

#3297 chore: Convert users models TestCase to normal test function
  api/tests/unit/projects/tags/test_views.py
  api/tests/unit/users/test_unit_users_models.py
Labels: api

#3255 feat: Add endpoints for feature imports
  api/features/import_export/permissions.py
  api/features/import_export/serializers.py
  api/features/import_export/tasks.py
  api/features/import_export/views.py
  api/features/urls.py
  api/projects/urls.py
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api

#3305 fix: Handle feature import processing during import
  api/features/import_export/serializers.py
  api/features/import_export/tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api

#3250 docs: Fix missing js client functions
  docs/docs/clients/client-side/javascript.md
Labels: docs

#3227 fix: allow editing scheduled changes
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end

#3307 fix(sse/stream_access_logs): handle invalid log
  api/sse/sse_service.py
  api/tests/unit/sse/test_sse_service.py
Labels: api

#3308 chore: Noindex
  frontend/web/index.handlebars
  frontend/web/index.html
  frontend/web/static/robots.txt
Labels: front-end

#3268 fix: variation percentage calculation
  frontend/web/components/Feature.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/mv/VariationOptions.js
Labels: front-end

#3309 fix: Incorrect tag filtering when results have no features
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end

#3192 chore: diff change requests
  frontend/common/services/useAuditLogItem.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/AuditLog.tsx
  frontend/web/components/Breadcrumb.tsx
  frontend/web/components/PageTitle.tsx
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/diff-utils.ts
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/routes.js
  frontend/web/styles/components/_panel.scss
Labels: front-end

#3304 chore(main): release 2.95.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3316 docs: null trait values
  docs/docs/basic-features/managing-identities.md
Labels: docs

#3257 feat: redesign organisation layout
  frontend/.eslintrc.js
  frontend/common/providers/AccountProvider.js
  frontend/common/stores/account-store.js
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/segment-test.ts
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/App.js
  frontend/web/components/Aside.js
  frontend/web/components/OrganisationLink.tsx
  frontend/web/components/OrganisationManageWidget.tsx
  frontend/web/components/OrganisationSelect.js
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/pages/OrganisationGroupsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/ProjectsPage.tsx
  frontend/web/project/project-components.js
  frontend/web/routes.js
Labels: front-end

#3311 chore: Convert users views TestCase to normal test function
  api/tests/unit/users/test_unit_users_views.py
Labels: api

#3314 chore: bump msal
  api/poetry.lock
Labels: api

#3320 chore: Convert invites model TestCase to normal test function
  api/tests/unit/organisations/invites/test_unit_invites_models.py
Labels: api

#3280 chore: bump postgres version to 15.5
  .github/workflows/api-pull-request.yml
  docker-compose.yml
  docker/api/docker-compose.datadog.yml
  docker/db.yml
  docs/docs/deployment/configuration/importing-and-exporting.md
  docs/docs/deployment/configuration/task-processor.md
  docs/docs/deployment/hosting/locally-api.md
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, docs, github

#3245 feat: make segment condition value dynamic
  api/app/settings/common.py
  api/segments/migrations/0004_auto_20190523_1325.py
  api/segments/migrations/0013_add_is_set_and_is_not_set_operators.py
  api/segments/migrations/0019_add_audit_to_condition.py
  api/segments/models.py
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3330 chore: tweak bug report form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: github

#3331 fix: display of usage chart
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: front-end

#3321 chore: Convert invites views TestCase to normal test function
  api/tests/unit/organisations/invites/test_unit_invites_views.py
Labels: api

#3334 chore: Convert organisation permission views TestCase to normal test function
  api/tests/unit/organisations/permissions/test_unit_organisations_views.py
Labels: api

#3332 fix: segment paging
  frontend/common/services/useSegment.ts
Labels: front-end

#3341 fix: tweak sdk copy
  frontend/web/components/AdminAPIKeys.js
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: improvement, front-end

#3339 fix(2079/deadlock): avoid deadlock by updating env individually
  api/audit/models.py
Labels: api

#3336 chore: Convert organisations views TestCase to normal test function
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api

#3351 feat: send telemetry heartbeat post migrations are applied
  api/telemetry/apps.py
Labels: api

#2863 feat(rate-limit/redis): Use redis to store throttling data for admin endpoints
  api/app/settings/common.py
  api/app/settings/test.py
  api/app_analytics/views.py
  api/conftest.py
  api/core/redis_cluster.py
  api/core/throttling.py
  api/environments/identities/traits/views.py
  api/environments/identities/views.py
  api/features/views.py
  api/integrations/sentry/samplers.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/conftest.py
  api/tests/integration/core/test_user_rate_throttle.py
  api/tests/unit/core/test_redis_cluster.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api

#3354 fix(webhook/logging): log response code only if response is not none
  api/integrations/webhook/webhook.py
Labels: api

#3348 chore(main): release 2.97.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3349 deps(saml): Bump SAML version
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: github

#3357 fix(audit): handle case where AuditLog doesn't have a history record
  api/audit/models.py
  api/tests/unit/audit/test_unit_audit_models.py
Labels: api

#3323 chore: Convert organisations permissions TestCase to normal test function
  api/tests/unit/organisations/permissions/test_unit_organisations_permissions.py
Labels: api
