Repository Flagsmith/flagsmith, pull requests merged in 2024-02, with the labels that each got.

#3366 ci: Enable skip-testmon label on PRs to enforce all api tests
  .github/workflows/api-pull-request.yml
Labels: github, skip-testmon

#3368 fix(feature-service/get_edge_override): handle deleted features
  api/features/features_service.py
  api/tests/unit/features/test_unit_features_features_service.py
Labels: api

#3355 feat(task-processor): add Task Processor inputs as env vars
  api/scripts/run-docker.sh
  api/task_processor/management/commands/runprocessor.py
Labels: api

#3360 fix: Long `DELETE` project call
  api/core/signals.py
  api/environments/migrations/0034_alter_environment_project.py
  api/environments/models.py
  api/environments/tasks.py
  api/features/apps.py
  api/features/migrations/0063_detach_feature_from_project_cascade_delete.py
  api/features/migrations/0064_fix_feature_help_text_typo.py
  api/features/models.py
  api/features/tasks.py
  api/projects/models.py
  api/projects/tasks.py
  api/segments/apps.py
  api/segments/migrations/0020_detach_segment_from_project_cascade_delete.py
  api/segments/models.py
  api/segments/tasks.py
  api/tests/unit/projects/test_unit_projects_tasks.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/task_processor/test_unit_task_processor_models.py
Labels: api, skip-testmon

#3365 fix(webhooks): prevent unnecessary organisation webhook tasks
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_models.py
  api/tests/unit/audit/test_unit_audit_signals.py
Labels: api, skip-testmon

#3359 fix(audit): add details for override creation
  api/audit/models.py
  api/audit/serializers.py
  api/core/models.py
  api/features/managers.py
  api/features/models.py
  api/features/versioning/versioning_service.py
  api/tests/integration/audit/test_audit_logs.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api, skip-testmon

#3325 chore: Convert organisations models TestCase to normal test function
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: api

#3362 feat(rate-limit): enable rate limit in production
  docs/docs/system-administration/system-limits.md
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: docs

#3369 chore(main): release 2.98.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3374 chore: Convert webhooks webhooks TestCase to normal test function
  api/tests/unit/webhooks/test_unit_webhooks.py
Labels: api

#3356 feat: Add audit log detail page
  frontend/common/services/useAuditLogItem.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/AuditLog.tsx
  frontend/web/components/Breadcrumb.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/PageTitle.tsx
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/components/diff/diff-utils.ts
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/routes.js
  frontend/web/styles/3rdParty/_index.scss
  frontend/web/styles/3rdParty/_react-diff.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_utils.scss
Labels: front-end

#3371 docs: refactor sdk compatibility
  docs/docs/basic-features/managing-segments.md
  docs/docs/clients/overview.md
  docs/docs/clients/server-side.md
  docs/docs/deployment/configuration/authentication/Okta.md
  docs/docs/deployment/configuration/enterprise-edition.md
  docs/docs/guides-and-examples/defensive-coding.md
  docs/docs/integrations/overview.md
  docs/docs/system-administration/saml.md
  docs/docs/version-comparison.md
  docs/package-lock.json
  docs/package.json
Labels: docs

#3372 chore: Convert chargebee chargebee TestCase to normal test function
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Labels: api

#3382 test: Solve flaky tests
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/segment-test.ts
Labels: front-end

#3386 feat(api-usage): add environment variable to prevent API usage tracking.
  api/app/settings/common.py
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs

#3396 docs: clarify edge proxy api usage
  frontend/web/components/OrganisationUsage.tsx
Labels: front-end

#3393 fix: delete project
  frontend/common/providers/OrganisationProvider.js
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end

#3233 feat: try importing rules from LD flags
  api/integrations/launch_darkly/client.py
  api/integrations/launch_darkly/models.py
  api/integrations/launch_darkly/serializers.py
  api/integrations/launch_darkly/services.py
  api/integrations/launch_darkly/types.py
  api/ld-openapi-filter.yaml
  api/tests/unit/integrations/launch_darkly/client_responses/get_environments.json
  api/tests/unit/integrations/launch_darkly/client_responses/get_flags.json
  api/tests/unit/integrations/launch_darkly/client_responses/get_segments.json
  api/tests/unit/integrations/launch_darkly/conftest.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_views.py
Labels: api

#3300 feat: Add support for replicas and cross region replicas
  api/app/exceptions.py
  api/app/routers.py
  api/app/settings/common.py
  api/tests/unit/app/test_unit_app_routers.py
  docs/docs/deployment/configuration/sizing-and-scaling.md
  docs/docs/deployment/hosting/locally-api.md
Labels: api, docs, skip-testmon

#3402 chore: Remove testmon
  .github/workflows/api-pull-request.yml
  .gitignore
  api/.env-ci-testmon
  api/.gitignore
  api/poetry.lock
  api/pyproject.toml
Labels: api, github

#3401 fix(redis-cluster): add lower socket timeout
  api/core/redis_cluster.py
  api/tests/unit/core/test_redis_cluster.py
Labels: api

#3403 chore: update manage.py as per django 3
  api/manage.py
Labels: api

#3404 chore: Convert environments permissions TestCase to normal test function
  api/tests/unit/environments/permissions/test_unit_environments_permissions.py
Labels: api

#3235 feat: Create split testing for multivariate
  api/api/urls/v1.py
  api/api/urls/v2.py
  api/app/settings/common.py
  api/app/urls.py
  api/app_analytics/migrations/0002_featureevaluationraw_identifier_and_index_feature.py
  api/app_analytics/models.py
  api/app_analytics/serializers.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/app_analytics/views.py
  api/integrations/sentry/samplers.py
  api/tests/unit/app_analytics/test_models.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
Labels: api

#3388 chore(main): release 2.100.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3409 chore(main): release 2.100.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3161 feat: Import export environment flags
  frontend/common/constants.ts
  frontend/common/services/useFeatureExport.ts
  frontend/common/services/useFeatureImport.ts
  frontend/common/services/useFlagsmithProjectImport.ts
  frontend/common/services/useGroupWithRole.ts
  frontend/common/services/useRolesUser.ts
  frontend/common/stores/project-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/toFormData.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
  frontend/web/components/ButterBar.js
  frontend/web/components/ButterBar.tsx
  frontend/web/components/JSONUpload.tsx
  frontend/web/components/OrganisationLink.tsx
  frontend/web/components/OrganisationManageWidget.tsx
  frontend/web/components/SuccessMessage.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/base/forms/Radio.tsx
  frontend/web/components/import-export/FeatureExport.tsx
  frontend/web/components/import-export/FeatureExportItem.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/ImportPage.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/svg/DropIcon.tsx
  frontend/web/components/tables/TableFilterItem.tsx
  frontend/web/components/tables/TableFilterOptions.tsx
  frontend/web/components/tables/TableSearchFilter.tsx
  frontend/web/components/tables/TableSortFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/TagFilter.tsx
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/components/_droparea.scss
  frontend/web/styles/components/_index.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
Labels: front-end

#3413 fix: Add create segment error handling
  frontend/web/components/ErrorMessage.js
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#3263 feat: add fields necessary for stale flags
  api/features/serializers.py
  api/features/views.py
  api/projects/migrations/0022_add_stale_flags_threshold_to_project.py
  api/projects/models.py
  api/projects/tags/migrations/0005_add_tag_fields_for_stale_flags_logic.py
  api/projects/tags/models.py
  api/projects/tags/serializers.py
  api/tests/integration/features/featurestate/test_environment_featurestate_viewset.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api

#3397 fix: Limit segment rules and conditions
  api/app/settings/common.py
  api/segments/migrations/0021_create_whitelisted_segments.py
  api/segments/models.py
  api/segments/serializers.py
  api/tests/unit/segments/test_migrations.py
  api/tests/unit/segments/test_unit_segments_views.py
  docs/docs/system-administration/system-limits.md
Labels: api, docs

#3419 fix(migrations): Fix tags migrations
  api/projects/tags/migrations/0005_add_tag_fields_for_stale_flags_logic.py
Labels: api

#3342 feat(datadog): add source type name to datadog
  api/integrations/datadog/datadog.py
  api/integrations/datadog/migrations/0004_add_use_custom_source.py
  api/integrations/datadog/models.py
  api/integrations/datadog/serializers.py
  api/tests/unit/integrations/datadog/test_unit_datadog.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  docs/docs/integrations/apm/datadog.md
  docs/static/img/integrations/datadog/datadog-1.png
  docs/static/img/integrations/datadog/datadog-2.png
  frontend/web/components/base/forms/Checkbox.tsx
  frontend/web/components/base/forms/Input.js
  frontend/web/components/modals/CreateEditIntegrationModal.js
  frontend/web/components/pages/HomePage.js
Labels: front-end, api, docs, skip-testmon

#3346 feat: Add role API key (BE)
  api/api_keys/serializers.py
Labels: api

#2688 feat: versioned feature states
  .github/workflows/platform-pull-request.yml
  frontend/common/dispatcher/action-constants.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useEnableFeatureVersioning.ts
  frontend/common/services/useFeatureSegment.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useSegment.ts
  frontend/common/services/useSegmentPriority.ts
  frontend/common/services/useUser.ts
  frontend/common/services/useVersionFeatureState.ts
  frontend/common/stores/feature-list-store.js
  frontend/common/stores/project-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/package-lock.json
  frontend/web/components/Aside.js
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/FeatureVersion.tsx
  frontend/web/components/OrganisationUsage.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/diff/DiffEnabled.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegments.tsx
  frontend/web/components/diff/DiffString.tsx
  frontend/web/components/diff/diff-utils.ts
  frontend/web/components/modals/ConfirmToggleEnvFeature.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeatureHistoryPage.tsx
  frontend/web/components/pages/UserPage.js
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/tables/TableFilterItem.tsx
  frontend/web/routes.js
  frontend/web/styles/3rdParty/_react-diff.scss
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/components/_tabs.scss
Labels: front-end, github

#3313 feat: project usage limits
  frontend/common/services/useProject.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/ProjectUsage.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end

#3411 chore(docs): add warning note regarding url encoding special chars in passwords
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#3421 fix: audit paging
  frontend/common/services/useAuditLog.ts
Labels: front-end

#3422 style: Fix error alert colours
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_input.scss
  frontend/web/styles/new/_variables-new.scss
Labels: front-end

#3423 style: Remove first segment icon
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end

#3424 fix: Versioning test - always login regardless of skip test
  frontend/e2e/tests/versioning-tests.ts
Labels: front-end

#3340 feat: Create api usage function
  api/app_analytics/influxdb_wrapper.py
  api/organisations/chargebee/serializers.py
  api/organisations/chargebee/webhook_handlers.py
  api/organisations/constants.py
  api/organisations/migrations/0051_create_org_api_usage_notification.py
  api/organisations/models.py
  api/organisations/tasks.py
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  frontend/web/components/OrganisationUsage.tsx
Labels: front-end, api, skip-testmon

#3426 fix(db): Fix read replica strategy
  api/app/routers.py
  api/tests/unit/app/test_unit_app_routers.py
Labels: api

#3431 fix(segments): use API query param for feature-specific filter
  frontend/common/types/requests.ts
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end

#3432 feat(api-keys): add `has_expired` to MasterAPIKey response
  api/api_keys/serializers.py
  api/tests/integration/api_keys/conftest.py
  api/tests/integration/api_keys/test_viewset.py
Labels: api

#3439 chore: Add Jira / support external integrations
  frontend/web/components/IntegrationList.js
Labels: front-end

#3444 fix: Get permissions by using environment instead of project scope
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
Labels: front-end

#3440 ci: Depotify all the things
  .github/actions/e2e-bake-compose/action.yml
  .github/actions/run-local-api/action.yml
  .github/actions/unified-e2e-tests/action.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
  .github/workflows/uffizzi-build.yml
  depot.json
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, github

#3451 feat: GitHub star
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/GithubStar.tsx
  frontend/web/components/Icon.tsx
Labels: front-end

#3453 fix: org switcher
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/GithubStar.tsx
Labels: front-end

#3450 fix: toggle mv flags
  frontend/common/providers/FeatureListProvider.js
Labels: front-end

#3410 chore(main): release 2.101.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3452 chore: Convert identities models TestCase to normal function
  api/tests/unit/environments/identities/test_unit_identities_models.py
Labels: api

#3389 docs: json formatted logs documentation
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#3467 docs: add rate limit to sdk area
  docs/docs/clients/rest.md
  docs/docs/system-administration/system-limits.md
Labels: docs

#3469 chore(saml): upgrade saml version 1.3.1
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  docs/docs/system-administration/saml.md
Labels: docs, github

#3466 chore(main): release 2.102.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#3474 fix: Add padding to the announcement
  frontend/web/components/App.js
Labels: front-end

#3480 fix: toggle flag
  frontend/common/providers/FeatureListProvider.js
Labels: front-end

#3473 feat: Track leads to Hubspot
  api/app/settings/common.py
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/organisations/migrations/0052_create_hubspot_organisation.py
  api/organisations/models.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api

#3506 fix: Add trailing / to delete api key endpoint
  frontend/common/services/useServersideEnvironmentKey.ts
Labels: front-end

#3442 chore: Convert environments models TestCase to normal function
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/sse/test_tasks.py
  api/tests/unit/task_processor/test_unit_task_processor_tasks.py
Labels: api

#3303 docs: Update doc to add commonLabels and commonAnnotations
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#3481 docs: refactor api deployment
  docs/docs/deployment/hosting/locally-api.md
Labels: docs
