Repository Flagsmith/flagsmith, pull requests merged in 2024-06, with the labels that each got.

#4066 chore(main): release 2.118.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#4030 fix(sentry-FLAGSMITH-API-4FY): resolve metadata segment n+1
  api/segments/views.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api

#4077 fix: facilitate FE display of environment version from audit log
  api/audit/serializers.py
  api/features/versioning/permissions.py
  api/features/versioning/urls.py
  api/features/versioning/views.py
  api/tests/unit/audit/test_unit_audit_views.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: api

#4061 chore: Remove optional labels
  frontend/web/components/Feature.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#4081 chore(versioning): add feature and environment to serializer retrieve serializer
  api/features/versioning/serializers.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Labels: improvement, api

#4083 fix(versioning): ensure get_previous_version returns previous version, not latest version
  api/features/versioning/models.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
Labels: api

#3979 chore: Add a confirmation modal when closing create/edit segment with changes
  frontend/web/components/base/forms/TabItem.tsx
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end

#4088 fix(versioning): prevent FeatureSegment from writing audit log on delete when v2 versioning enabled
  api/features/models.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
Labels: api

#4091 fix(versioning): ensure that audit log record is created when committing versions via CR
  api/features/workflows/core/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api

#4076 chore: Version detail page
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/AuditLog.tsx
  frontend/web/components/FeatureVersion.tsx
  frontend/web/components/InfoMessage.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/routes.js
  frontend/web/styles/project/_alert.scss
Labels: front-end

#4092 fix(audit): audit and history UI tweaks
  frontend/web/components/FeatureVersion.tsx
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/components/pages/FeatureHistoryPage.tsx
Labels: front-end

#4074 chore(main): release 2.118.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#4096 ci(api-merge): update trigger to run workflow on merge to main
  .github/workflows/api-merge.yml
Labels: github

#4097 ci(api-merge.yml): remove workflow
  .github/workflows/api-merge.yml
Labels: github

#4071 docs: tweak github integration
  docs/docs/integrations/project-management/github.md
Labels: docs

#4075 deps: bump workflows-logic to remove django constraint
  api/poetry.lock
  api/pyproject.toml
Labels: api

#3980 fix: Protect inputs from autofill
  frontend/web/components/base/forms/Input.js
Labels: front-end, flagsmith flag

#4084 ci: standardise conventional commits
  .github/labeler.yml
  .github/workflows/platform-pull-request.yml
  docs/docs/platform/contributing.md
  release-please-config.json
Labels: ci-cd

#4104 fix: environment click sizes
  frontend/web/components/AuditLog.tsx
Labels: front-end, fix

#4102 feat: Improve API key UX
  frontend/web/components/AdminAPIKeys.js
Labels: front-end

#3997 ci(docker): Build Docker images once, scan them for vulnerabilities during CI
  .github/actions/e2e-bake-compose/action.yml
  .github/actions/local-e2e-tests/action.yml
  .github/actions/run-local-api/action.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
  frontend/Makefile
  frontend/docker-compose-e2e-tests.yml
  trivy.yaml
Labels: front-end, api

#4111 deps(saml): update SAML version
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: dependencies

#4112 fix: save empty segment overrides request
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#4115 fix: Flag update scheduling
  frontend/web/components/saveFeatureWithValidation.ts
Labels: front-end, fix

#4116 fix(versioning): send live from when creating versions for change requests
  api/features/workflows/core/models.py
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
Labels: front-end, api, fix

#4117 deps: bump workflows version
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4118 fix(versioning): use version live from
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end, fix

#4119 fix(versioning): scheduled changes incorrectly considered live
  api/features/versioning/managers.py
  api/features/versioning/sql/get_latest_versions.sql
  api/tests/unit/features/versioning/test_unit_versioning_models.py
Labels: api, fix

#4108 docs: update title of LD importer page for SEO
  docs/docs/system-administration/importing-and-exporting/launchdarkly.md
Labels: docs

#4120 fix: Limit feature paging to 50
  frontend/common/stores/feature-list-store.ts
Labels: front-end, fix

#4122 fix: announcement width
  frontend/web/components/App.js
Labels: front-end

#4123 fix: show audit logs url
  frontend/web/components/FeatureRow.js
Labels: front-end, fix

#4099 chore(main): release 2.119.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4125 infra: run influxdb feature evaluation in thread
  api/app_analytics/views.py
  api/task_processor/decorators.py
  api/tests/unit/app_analytics/test_unit_app_analytics_track.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
Labels: api, infrastructure

#4121 fix: use python3.11 as base image
  .github/workflows/api-pull-request.yml
  Dockerfile
  api/Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api

#4126 infra: task processor settings tweaks
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

#4124 ci: prevent unnecessary workflows on release please branches
  .github/workflows/platform-pull-request.yml
  .github/workflows/uffizzi-build.yml
Labels: ci-cd

#4127 chore(main): release 2.119.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#3988 fix(deps): Migrate MFA code to our codebase and bump djangorestframework
  api/app/settings/common.py
  api/custom_auth/mfa/backends/application.py
  api/custom_auth/mfa/trench/__init__.py
  api/custom_auth/mfa/trench/admin.py
  api/custom_auth/mfa/trench/apps.py
  api/custom_auth/mfa/trench/backends/__init__.py
  api/custom_auth/mfa/trench/command/__init__.py
  api/custom_auth/mfa/trench/command/activate_mfa_method.py
  api/custom_auth/mfa/trench/command/authenticate_second_factor.py
  api/custom_auth/mfa/trench/command/create_mfa_method.py
  api/custom_auth/mfa/trench/command/create_secret.py
  api/custom_auth/mfa/trench/command/deactivate_mfa_method.py
  api/custom_auth/mfa/trench/command/generate_backup_codes.py
  api/custom_auth/mfa/trench/command/remove_backup_code.py
  api/custom_auth/mfa/trench/command/replace_mfa_method_backup_codes.py
  api/custom_auth/mfa/trench/command/validate_backup_code.py
  api/custom_auth/mfa/trench/exceptions.py
  api/custom_auth/mfa/trench/migrations/0001_initial.py
  api/custom_auth/mfa/trench/migrations/0002_auto_20190111_1403.py
  api/custom_auth/mfa/trench/migrations/0003_auto_20190213_2330.py
  api/custom_auth/mfa/trench/migrations/__init__.py
  api/custom_auth/mfa/trench/models.py
  api/custom_auth/mfa/trench/responses.py
  api/custom_auth/mfa/trench/serializers.py
  api/custom_auth/mfa/trench/urls/__init__.py
  api/custom_auth/mfa/trench/urls/base.py
  api/custom_auth/mfa/trench/utils.py
  api/custom_auth/mfa/trench/views/__init__.py
  api/custom_auth/mfa/trench/views/base.py
  api/custom_auth/urls.py
  api/custom_auth/views.py
  api/features/feature_external_resources/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/custom_auth/mfa/trench/__init__.py
  api/tests/unit/custom_auth/mfa/trench/conftest.py
  api/tests/unit/custom_auth/mfa/trench/test_views.py
  api/tests/unit/features/test_unit_feature_external_resources_views.py
Labels: api, fix

#4131 docs: Update Github Integration
  docs/docs/integrations/project-management/github.md
Labels: docs

#4134 fix: Identity overrides tab
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#4101 ci(test-private-package): update trigger to use pull_request
  .github/workflows/api-tests-with-private-packages.yml
  api/tests/conftest.py
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
Labels: improvement, api, ci-cd, github

#4135 deps: docusaurus 3.4.0
  docs/package-lock.json
  docs/package.json
Labels: docs

#4095 feat: Add default rule for segments
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/modals/CreateSegment.tsx
Labels: feature, front-end

#4141 deps: bump workflow and django-health-check
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4129 chore(main): release 2.120.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4143 docs: fix Crisp links
  docs/plugins/crisp-chat-links.js
Labels: docs

#4132 fix: Edge V2-enabled environments are not rebuilt on feature version publish
  api/environments/tasks.py
  api/tests/unit/environments/test_unit_environments_tasks.py
Labels: api, fix

#4139 fix(migrate_analytics): fix migrate_to_pg command
  api/app_analytics/migrate_to_pg.py
  api/tests/unit/app_analytics/test_migrate_to_pg.py
Labels: api, fix

#4152 fix: cascade delete versions when corresponding change request is deleted
  api/features/versioning/migrations/0003_cascade_delete_versions_on_cr_delete.py
  api/features/versioning/models.py
Labels: api, fix

#4151 deps: remove locally cached js deps
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Highlight.js
  frontend/web/index.handlebars
  frontend/web/index.html
  frontend/web/project/polyfil.js
  frontend/web/static/javascript/highlight.min.js
  frontend/web/static/javascript/jquery.min.js
  frontend/web/static/javascript/msal.min.js
  frontend/web/static/javascript/tether.min.js
  frontend/webpack.config.js
  frontend/webpack/plugins.js
  frontend/webpack/webpack.config.local.js
Labels: front-end, dependencies

#3946 fix: feature state value conversion
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
Labels: front-end

#4109 feat: Keep segment modal open on create / edit, add segment name to modal
  frontend/e2e/helpers.cafe.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UserPage.js
Labels: feature, front-end

#4157 ci: update workflow to give correct permissions
  .github/workflows/platform-pull-request.yml
Labels: ci-cd

#4153 feat: Show new version warning in change requests
  frontend/web/components/NewVersionWarning.tsx
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
Labels: front-end, chore

#4155 feat(analytics): Command to populate arbitrary periods of analytics data
  api/app_analytics/management/commands/populate_buckets.py
  api/app_analytics/tasks.py
  api/tests/unit/app_analytics/test_commands.py
  api/tests/unit/app_analytics/test_tasks.py
Labels: feature, api

#4146 chore(main): release 2.121.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4158 fix: various fixes for API usage alerting / billing
  api/app/settings/test.py
  api/app_analytics/influxdb_wrapper.py
  api/organisations/models.py
  api/organisations/tasks.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: api, fix

#4159 fix(dev): add management command to manually send API usage to influx
  api/app_analytics/management/commands/sendapiusagetoinflux.py
Labels: api, fix

#4156 deps: bump auth controller
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Labels: dependencies

#4169 feat: add scarf pixel to docs
  docs/docusaurus.config.js
Labels: docs

#4171 fix(postgres-analytics/usage): fix project_id filter
  api/app_analytics/analytics_db_service.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
Labels: api, fix

#4174 deps: bump auth controller version
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4160 docs: Add GitHub Integration docs for self-hosted
  docs/docs/deployment/hosting/locally-api.md
  docs/docs/deployment/hosting/locally-frontend.md
  docs/docs/integrations/project-management/github.md
Labels: docs

#4161 chore(main): release 2.122.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4027 feat: Add alert message in the FE when exceeded the API usage
  frontend/common/services/useOrganisationUsage.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/ButterBar.tsx
  frontend/web/components/OrganisationLimit.tsx
Labels: feature, front-end

#4181 fix: code highlighting
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, fix

#4180 chore(main): release 2.123.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4178 fix: scarf image formatting
  docs/docusaurus.config.js
  docs/src/theme/Footer/Copyright/index.js
Labels: docs

#4179 fix: Stale connections after task processor errors
  api/task_processor/threads.py
  api/tests/unit/task_processor/test_unit_task_processor_threads.py
Labels: front-end, api, fix

#4186 chore(task-processor): add better logging for failed tasks
  api/task_processor/processor.py
  api/tests/unit/task_processor/test_unit_task_processor_processor.py
Labels: api, chore

#4187 fix: not serializable arguments when calling environment feature version webhooks
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

#4183 chore(main): release 2.123.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4191 deps: Bump Poetry version
  api/Makefile
Labels: feature, api

#4194 docs: Add new Edge Proxy logging settings
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#4190 fix: Preserve selected environment
  frontend/web/components/App.js
  frontend/web/components/pages/HomeAside.tsx
Labels: front-end, fix

#4193 docs: fix Edge Proxy docker compose ports definition
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#4202 docs: prettier fix
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#4192 fix: login redirect
  frontend/web/components/App.js
Labels: front-end, fix

#4069 fix: Metadata UI issues
  frontend/common/constants.ts
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/ProjectProvider.js
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/stores/project-store.js
  frontend/web/components/AuditLog.tsx
  frontend/web/components/ErrorMessage.js
  frontend/web/components/FeatureVersion.tsx
  frontend/web/components/IntegrationList.js
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/metadata/ContentTypesMetadataFieldTable.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/metadata/MetadataTitle.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/AuditLogItemPage.tsx
  frontend/web/components/pages/CreateEnvironmentPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, fix

#4204 fix: Include free plans for api use notifications
  api/conftest.py
  api/organisations/tasks.py
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/util/test_logging.py
Labels: api, fix

#4206 feat: Add logic to API usage notification templates
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#4195 docs: Fix bulk-identities API example
  docs/docs/clients/rest.md
Labels: docs

#4209 chore: re-add version
  frontend/web/components/BuildVersion.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, chore

#4212 ci: Add CODEOWNERS
  CODEOWNERS
Labels: ci-cd

#4213 ci: add `FLAGSMITH_ON_FLAGSMITH_SERVER_OFFLINE_MODE` to staging
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

#4214 refactor: Update api usage notification sending
  api/organisations/tasks.py
Labels: api, fix

#4165 ci(build): Reusable private cloud build
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/e2e-tests/action.yml
  .github/workflows/.reusable-deploy-ecs.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/.reusable-docker-publish.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/frontend-test-staging.yml
  .github/workflows/platform-docker-build-e2e-image.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
  Dockerfile
  api/Dockerfile
  api/Dockerfile.redhat-ubi
  api/Makefile
  api/app/utils.py
  api/tests/unit/app/test_unit_app_utils.py
  docker-compose.uffizzi.yml
  docs/docs/deployment/configuration/task-processor.md
  docs/docs/deployment/hosting/locally-frontend.md
  frontend/Dockerfile
  frontend/Dockerfile.e2e
  frontend/Dockerfile.ubi
  frontend/docker-compose-e2e-tests.yml
Labels: front-end, api, docs, ci-cd

#4207 fix: oauth user case sensitivity
  api/custom_auth/oauth/serializers.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_views.py
Labels: api, fix

#4208 chore: update pre-commit versions
  .pre-commit-config.yaml
Labels: chore

#4203 docs: Get flags and set traits in the same call
  docs/docs/clients/client-side/android.md
  docs/docs/clients/client-side/ios.md
Labels: docs

#4182 docs: github integration screenshot
  docs/docs/integrations/project-management/github.md
  docs/static/img/integrations/github/github-integration-1.png
Labels: docs

#4177 docs: improve import export details
  docs/docs/system-administration/authentication/02-Okta.md
  docs/docs/system-administration/importing-and-exporting/features.md
  docs/docs/system-administration/importing-and-exporting/organisations.md
  docs/docs/version-comparison.md
  docs/vercel.json
Labels: docs

#4217 fix(ci): Docker build CodeQL permission
  .github/workflows/.reusable-docker-build.yml
Labels: fix

#4144 feat: Grafana integration
  api/app/settings/common.py
  api/audit/models.py
  api/audit/services.py
  api/audit/signals.py
  api/core/models.py
  api/core/signals.py
  api/environments/urls.py
  api/integrations/grafana/__init__.py
  api/integrations/grafana/apps.py
  api/integrations/grafana/grafana.py
  api/integrations/grafana/mappers.py
  api/integrations/grafana/migrations/0001_initial.py
  api/integrations/grafana/migrations/__init__.py
  api/integrations/grafana/models.py
  api/integrations/grafana/serializers.py
  api/integrations/grafana/types.py
  api/integrations/grafana/views.py
  api/projects/urls.py
  api/tests/unit/audit/test_unit_audit_services.py
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/integrations/grafana/__init__.py
  api/tests/unit/integrations/grafana/test_grafana.py
  api/tests/unit/integrations/grafana/test_mappers.py
  docs/docs/deployment/overview.md
  docs/docs/integrations/apm/grafana.md
  docs/docs/integrations/overview.md
  docs/static/img/integrations/grafana/grafana-logo.svg
  frontend/web/static/images/integrations/grafana.svg
Labels: feature, front-end, api

#4184 feat: Add UI for SAML attribute mapping
  frontend/common/services/useSamlAttributeMapping.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/SAMLAttributeMappingTable.tsx
  frontend/web/components/SamlTab.tsx
  frontend/web/components/Tooltip.tsx
  frontend/web/components/modals/CreateSAML.tsx
Labels: feature, front-end

#4210 feat: Add confirmations when removing features, segments and environments
  frontend/common/providers/FeatureListProvider.js
  frontend/common/providers/ProjectProvider.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/stores/project-store.js
  frontend/global.d.ts
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, chore

#4200 chore(main): release 2.124.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4220 fix(ci): Secrets unavailable to Docker publish jobs
  .github/workflows/platform-docker-build-test-publish.yml
Labels: fix

#4221 fix: versioning webhooks and update test to correctly test end to end
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Labels: api

#4222 chore(main): release 2.124.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4223 fix(ci): `packages:read` permission lacking for Docker publish jobs
  .github/workflows/.reusable-docker-publish.yml
Labels: fix

#4225 chore(main): release 2.124.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4224 fix(ci): Enable Docker builds and E2E for external PRs
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  frontend/Makefile
Labels: front-end, fix

#4227 fix(ci): Authenticate Trivy correctly for ephemeral build
  .github/workflows/.reusable-docker-build.yml
Labels: fix

#4228 ci: docker images thru scarf
  docker-compose.yml
Labels: ci-cd

#4229 chore(ci): Set up Depot CLI for E2E if required
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: chore

#4233 chore(ci): Login to both registries for E2E
  .github/workflows/.reusable-docker-e2e-tests.yml
Labels: chore

#4232 chore(ci): Permission-based ephemeral Docker build
  .github/workflows/platform-pull-request.yml
Labels: chore

#4237 fix(ci): Use correct `ENV` value for production
  .github/actions/e2e-tests/action.yml
Labels: fix

#4219 ci: add build script to frontend package.json
  frontend/package.json
Labels: front-end

#4244 chore: reduce sentry sample rate
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

#4248 infra: add production environment variables for FoF and API usage alerting
  infrastructure/aws/production/ecs-task-definition-task-processor.json
Labels: infrastructure

#4226 chore(main): release 2.125.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4199 fix: Hide Sensitive Data switch
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: front-end, fix

#4251 feat(api usage): Extra Flagsmith checks for API overage charges
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#4252 chore(main): release 2.126.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4249 docs: grafana video
  docs/docs/integrations/apm/datadog.md
  docs/docs/integrations/apm/grafana.md
Labels: docs

#4254 chore(docs): Disable video autoplay
  docs/docs/integrations/apm/datadog.md
  docs/docs/integrations/apm/grafana.md
Labels: docs

#4258 docs: Change wording on Alpha integrations
  docs/docs/integrations/analytics/adobe.md
  docs/docs/integrations/project-management/servicenow.md
Labels: docs

#4255 feat: Update API usage notifications thresholds
  api/organisations/constants.py
  api/organisations/migrations/0055_alter_percent_usage.py
  api/organisations/models.py
Labels: feature, api

#4138 feat: Create versioning for segments
  api/conftest.py
  api/core/signals.py
  api/segments/helpers.py
  api/segments/managers.py
  api/segments/migrations/0023_add_versioning_to_segments.py
  api/segments/migrations/sql/0023_add_versioning_to_segments.sql
  api/segments/models.py
  api/segments/serializers.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: feature, api

#4218 feat: Announcement feature flag per page
  frontend/web/components/Announcement.tsx
  frontend/web/components/AnnouncementPerPage.tsx
  frontend/web/components/App.js
  frontend/web/routes.js
Labels: feature, front-end

#4264 docs: scarf in readme
  README.md
Labels: docs
