Repository Flagsmith/flagsmith, pull requests merged in 2025-03, with the labels that each got.

#5093 feat: split testing UI
  frontend/common/services/useConversionEvent.ts
  frontend/common/services/useSplitTest.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/Confidence.tsx
  frontend/web/components/ConversionEventSelect.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/SplitTestPage.tsx
  frontend/web/routes.js
Labels: feature, front-end, api, flagsmith flag

#5166 chore(main): release 2.165.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5179 fix: Deleting SAML attribute mappings from the frontend can fail in non-SaaS
  frontend/common/services/useSamlAttributeMapping.ts
Labels: front-end, fix

#5164 feat: Try out amplitude engagement SDK
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
  frontend/web/project/api.js
Labels: feature, front-end

#5183 deps: Bump task-processor from 1.2.1 to 1.2.2
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#5178 feat: Add org ID and link to usage page in email notifications
  api/organisations/task_helpers.py
  api/organisations/templates/organisations/api_flags_blocked_notification.html
  api/organisations/templates/organisations/api_flags_blocked_notification.txt
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification.txt
  api/organisations/templates/organisations/api_usage_notification_limit.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: feature, api

#5161 feat: Switch existing task processor health checks to new liveness probe
  Dockerfile
  api/app/settings/common.py
  api/app/urls.py
  api/manage.py
  api/poetry.lock
  api/pyproject.toml
  api/scripts/__init__.py
  api/scripts/healthcheck.py
  api/scripts/run-docker.sh
  docker-compose.pgpool.yml
  docker-compose.yml
  docs/docs/deployment/configuration/task-processor.md
Labels: feature, front-end, api

#5184 docs: Rename Pricing to Billing, explain how to optimise API usage
  docs/docs/advanced-use/real-time-flags.md
  docs/docs/billing/index.mdx
  docs/docs/billing/usage-graph.png
  docs/vercel.json
Labels: docs

#5185 chore: add reo to app
  api/app/settings/common.py
  api/app/views.py
  docs/docs/deployment/hosting/locally-frontend.md
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/project/api.js
Labels: front-end, api, chore

#5194 docs: Mention that updating segments does cause realtime updates
  docs/docs/advanced-use/real-time-flags.md
Labels: docs

#5174 chore: converts InlineModal and adds useClickOutside hook
  frontend/common/useOutsideClick.ts
  frontend/web/components/InlineModal.js
  frontend/web/components/InlineModal.tsx
Labels: front-end, chore

#5153 fix: Catch errors when failing to verify JWTs
  api/api_keys/models.py
  api/custom_auth/jwt_cookie/authentication.py
  api/organisations/urls.py
  api/permissions/rbac_wrapper.py
  api/pyproject.toml
  api/tests/unit/custom_auth/jwt_cookie/test_unit_jwt_cookie_authentication.py
Labels: api, fix

#5198 fix: Fix Docker Compose healthcheck
  docker-compose.yml
Labels: fix

#5202 fix: Use consistent button style for SSO login actions
  frontend/web/components/pages/HomePage.js
  release-please-config.json
Labels: front-end, fix

#5186 chore(main): release 2.167.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5212 fix(ci): E2E builds Docker images unneccessarily on publish
  .github/workflows/platform-docker-build-test-publish.yml
Labels: fix

#5211 docs: Mention adding user groups during invite
  docs/docs/system-administration/rbac.md
  frontend/web/components/modals/InviteUsers.tsx
Labels: front-end, docs

#5213 fix: Some tasks are not being initialised
  api/app/settings/common.py
  api/app_analytics/cache.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/app_analytics/views.py
  api/audit/signals.py
  api/custom_auth/apps.py
  api/edge_api/identities/apps.py
  api/edge_api/identities/edge_request_forwarder.py
  api/edge_api/identities/tasks.py
  api/environments/identities/traits/views.py
  api/environments/identities/views.py
  api/features/apps.py
  api/features/feature_health/apps.py
  api/features/tasks.py
  api/organisations/chargebee/apps.py
  api/poetry.lock
  api/pyproject.toml
  api/segments/apps.py
  api/tests/unit/edge_api/identities/test_edge_request_forwarder.py
  api/webhooks/apps.py
  api/webhooks/tasks.py
  api/webhooks/webhooks.py
Labels: api, fix

#5210 fix(python-types): Improve typing in `utils`, `views`, `pagination` modules
  api/app/pagination.py
  api/app/utils.py
  api/app/views.py
Labels: api

#5221 feat: Distinct liveness probe
  api/app/urls.py
  api/app/views.py
  api/tests/integration/app/test_views.py
Labels: feature, api

#5223 fix: incorrect URL generated when copying invite link to clipboard
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end, fix

#5056 feat: Add self-hosted user data to version endpoint
  api/app/utils.py
  api/tests/unit/app/test_unit_app_utils.py
  api/tests/unit/app/test_unit_app_views.py
Labels: feature, api

#5228 fix: Properly URL-encode "Try It" curl command
  docs/docs/clients/index.md
  docs/docs/clients/rest.md
  docs/docs/integrations/analytics/amplitude.md
  docs/docs/integrations/analytics/heap.md
  docs/docs/integrations/analytics/mixpanel.md
  docs/docs/integrations/analytics/rudderstack.md
  docs/docs/integrations/analytics/segment.md
  frontend/common/code-help/create-user/create-user-curl.js
  frontend/common/code-help/init/init-curl.js
  frontend/common/code-help/offline_client/offline-client-curl.js
  frontend/common/code-help/offline_server/offline-server-curl.js
  frontend/common/code-help/traits/traits-curl.js
Labels: front-end, fix

#5234 fix: bad API usage URL rendering in email template
  api/organisations/task_helpers.py
  api/organisations/templates/organisations/api_usage_notification.html
  api/organisations/templates/organisations/api_usage_notification_limit.txt
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#5238 fix: Syntax error in Python "Try it" code snippets
  frontend/common/code-help/create-user/create-user-python.js
  frontend/common/code-help/traits/traits-python.js
Labels: front-end, fix

#5239 deps: bump gunicorn from 22.0.0 to 23.0.0 in /api
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies, chore

#5235 fix: URL parameter parsing for url parameters that don't contain =
  frontend/common/utils/base/_utils.js
Labels: front-end, fix

#5215 chore(main): release 2.168.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5082 fix: format-create-segment-errors-from-payload
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/modals/Rule.tsx
  frontend/web/styles/components/_tabs.scss
Labels: front-end

#5243 chore: Wording improvements for "feature request" GitHub issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: chore

#5252 fix: Syntax error in NodeJS "Try it" code snippets
  frontend/common/code-help/create-user/create-user-node.js
Labels: front-end

#5222 feat: Each replica database URL can now be configured with an individual environment variable, using `REPLICA_DATABASE_URL_0`, `REPLICA_DATABASE_URL_1`, etc
  api/app/settings/common.py
  api/app/utils.py
  api/tests/unit/app/test_unit_app_utils.py
Labels: feature, api

#5255 chore: update docker proxy URL
  docker-compose.yml
Labels: chore

#5262 fix(billing): Organisation overage compared to other organisations' overages when trying to charge for overages
  api/app_analytics/influxdb_wrapper.py
  api/organisations/tasks.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#5256 chore(main): release 2.169.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore
