Repository Flagsmith/flagsmith, pull requests merged in 2025-06, with the labels that each got.

#5517 fix: hide-dropdown-caret-if-no-text-content
  frontend/web/components/modals/FeatureHealthTabContent.tsx
Labels: front-end, fix

#5480 fix: raise-404-if-org-does-not-have-billing-periods
  api/app_analytics/analytics_db_service.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  frontend/web/components/ErrorMessage.js
  frontend/web/components/SuccessMessage.js
  frontend/web/components/modals/CreateAuditLogWebhook.tsx
  frontend/web/components/modals/CreateWebhook.tsx
Labels: front-end, api, fix

#5519 feat(launch-darkly-importer): Support large segments import, other improvements
  api/integrations/launch_darkly/models.py
  api/integrations/launch_darkly/serializers.py
  api/integrations/launch_darkly/services.py
  api/integrations/launch_darkly/tasks.py
  api/tests/unit/integrations/launch_darkly/client_responses/get_segments__large_segments.json
  api/tests/unit/integrations/launch_darkly/conftest.py
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__condition_data.csv
  api/tests/unit/integrations/launch_darkly/snapshots/test_process_import_request__large_segments__correctly_imported__import_request_status.json
  api/tests/unit/integrations/launch_darkly/test_client.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_tasks.py
  api/tests/unit/util/test_util.py
  api/util/util.py
Labels: feature, api

#5511 chore(main): release 2.180.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5449 fix: identities endpoint does not respect deleted segment overrides in versioned environments
  api/environments/identities/models.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
Labels: api, fix

#5525 fix: Adjust flagsmith client url
  frontend/env/project_local.js
  frontend/env/project_prod.js
Labels: front-end, fix

#5527 chore(main): release 2.181.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5500 feat: track welcome page tasks and integrations
  api/custom_auth/views.py
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  api/tests/unit/users/test_unit_users_serializers.py
  api/users/migrations/0041_add_onboarding_field.py
  api/users/models.py
  api/users/serializers.py
Labels: feature, api, flagsmith flag

#5521 docs: Remove Scarf pixel from README.md
  README.md
Labels: docs

#5534 chore(main): release 2.182.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5538 deps: remove explicit dependency on `packaging` module
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#5549 fix: Disable e2e tests in draft PRs
  .github/workflows/platform-pull-request.yml
Labels: fix

#5539 chore(main): release 2.183.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5555 chore: Update welcome page
  frontend/web/components/onboarding/GettingStartedResource.tsx
  frontend/web/components/onboarding/data/onboarding.data.tsx
  frontend/web/components/pages/GettingStartedPage.tsx
  frontend/web/static/images/welcome/featured1.png
  frontend/web/static/images/welcome/featured2.png
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_utils.scss
Labels: front-end, chore

#5509 feat: Release Pipelines UI
  frontend/common/services/useReleasePipelines.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/App.js
  frontend/web/components/base/DropdownMenu.tsx
  frontend/web/components/pages/CreateReleasePipelinePage.tsx
  frontend/web/components/pages/ReleasePipelineDetailPage.tsx
  frontend/web/components/pages/ReleasePipelinesPage.tsx
  frontend/web/components/release-pipelines/CreatePipelineStage.tsx
  frontend/web/components/release-pipelines/CreateReleasePipeline.tsx
  frontend/web/components/release-pipelines/ReleasePipelineDetail.tsx
  frontend/web/components/release-pipelines/ReleasePipelinesList.tsx
  frontend/web/components/release-pipelines/StageArrow.tsx
  frontend/web/components/release-pipelines/StageCard.tsx
  frontend/web/components/release-pipelines/StageInfo.tsx
  frontend/web/components/release-pipelines/constants.ts
  frontend/web/project/project-components.js
  frontend/web/routes.js
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_release-pipelines.scss
  frontend/web/styles/project/_PricingPage.scss
  frontend/web/styles/project/_ReleasePipelinesPage.scss
  frontend/web/styles/project/_index.scss
  frontend/web/styles/styles.scss
Labels: feature, front-end

#5565 feat: Add `make` shortcut to run both API and worker
  api/Makefile
  docs/docs/deployment/hosting/locally-api.md
Labels: feature, api

#5447 feat: frontend-report-environment-metrics
  frontend/common/hooks/useMediaQuery.tsx
  frontend/common/services/useEnvironment.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useIdentity.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/App.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/base/LabelWithTooltip.tsx
  frontend/web/components/base/accordion/AccordionCard.tsx
  frontend/web/components/metrics/EnvironmentMetric.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/metrics/constants.ts
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_metrics.scss
  frontend/web/styles/project/_project-nav.scss
Labels: feature, front-end

#5571 fix: deduplicate metrics live features states
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/features/managers.py
  api/metrics/metrics_service.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Labels: api, fix

#5564 fix: handle (ignore) unrecognised analytics data
  api/app_analytics/serializers.py
  api/app_analytics/views.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
Labels: api, fix

#5559 chore: Track task list
  frontend/web/project/api.js
Labels: front-end, chore

#5558 chore: standardise settings
  frontend/web/components/App.js
  frontend/web/components/DarkModeSwitch.tsx
  frontend/web/components/SettingTitle.tsx
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_project-nav.scss
Labels: front-end, chore

#5621 fix: fix cookie validation in authentication
  frontend/common/services/useBuildVersion.ts
  frontend/web/main.js
Labels: front-end, fix

#5560 fix: hubspot attribution issues
  api/custom_auth/views.py
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/services.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/integrations/lead_tracking/lead_tracking.py
  api/integrations/lead_tracking/pipedrive/lead_tracker.py
  api/organisations/models.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_tasks.py
  api/tests/unit/integrations/lead_tracking/pipedrive/test_unit_pipedrive_lead_tracker.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/users/test_unit_users_tasks.py
  api/users/models.py
  api/users/tasks.py
  frontend/common/stores/account-store.js
Labels: front-end, api, fix

#5626 chore: api remove pipedrive
  api/app/settings/common.py
  api/integrations/lead_tracking/pipedrive/__init__.py
  api/integrations/lead_tracking/pipedrive/client.py
  api/integrations/lead_tracking/pipedrive/constants.py
  api/integrations/lead_tracking/pipedrive/exceptions.py
  api/integrations/lead_tracking/pipedrive/lead_tracker.py
  api/integrations/lead_tracking/pipedrive/models.py
  api/integrations/lead_tracking/pipedrive/schemas.py
  api/tests/unit/integrations/lead_tracking/pipedrive/__init__.py
  api/tests/unit/integrations/lead_tracking/pipedrive/conftest.py
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/__init__.py
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/create_deal_field.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/create_lead.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/create_organization.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/create_organization_field.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/create_person.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/list_lead_labels.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/search_organizations.json
  api/tests/unit/integrations/lead_tracking/pipedrive/example_api_responses/search_persons.json
  api/tests/unit/integrations/lead_tracking/pipedrive/test_unit_pipedrive_client.py
  api/tests/unit/integrations/lead_tracking/pipedrive/test_unit_pipedrive_lead_tracker.py
  api/tests/unit/integrations/lead_tracking/pipedrive/test_unit_pipedrive_models.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/users/test_unit_users_signals.py
  api/tests/unit/users/test_unit_users_tasks.py
  api/users/signals.py
  api/users/tasks.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: front-end, api, chore

#5637 docs: adding old banner image back to repo as it's referenced in SDK repo readme files
  static-files/hero.png
Labels: docs

#5646 fix: optional-and-default-values-for-tasks-in-me-endpoint
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  api/users/serializers.py
Labels: api, fix

#5542 feat: Release Pipeline Publish and Add Flag
  frontend/common/services/useProfile.ts
  frontend/common/services/useReleasePipelines.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/release-pipelines/AddToReleasePipelineModal.tsx
  frontend/web/components/release-pipelines/CreatePipelineStage.tsx
  frontend/web/components/release-pipelines/FlagActionDetail.tsx
  frontend/web/components/release-pipelines/ReleasePipelineDetail.tsx
  frontend/web/components/release-pipelines/ReleasePipelinesList.tsx
  frontend/web/components/release-pipelines/StageCard.tsx
  frontend/web/components/release-pipelines/StageFeatureDetail.tsx
  frontend/web/components/release-pipelines/StageInfo.tsx
Labels: feature, front-end

#5657 docs: multiple jira projects
  docs/docs/integrations/project-management/jira.md
Labels: docs

#5655 fix: Navigate to change request after creation
  frontend/web/components/ExistingChangeRequestAlert.tsx
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix
