Repository Flagsmith/flagsmith, pull requests merged in 2025-08, with the labels that each got.

#5827 feat: add save and publish pipeline
  frontend/web/components/release-pipelines/CreateReleasePipeline.tsx
Labels: feature, front-end

#5892 test: add new fixture to clear content type cache
  api/conftest.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api, testing

#5877 refactor(tests): combine `staff_user` and `test_user` fixtures
  api/conftest.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/integration/features/feature_health/test_views.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  api/tests/unit/custom_auth/test_tasks.py
  api/tests/unit/edge_api/identities/test_edge_identity_featurestate_view.py
  api/tests/unit/environments/identities/test_unit_identities_feature_states_views.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/features/feature_segments/test_unit_feature_segments_views.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
  api/tests/unit/integrations/datadog/test_unit_datadog_views.py
  api/tests/unit/integrations/dynatrace/test_unit_dynatrace_views.py
  api/tests/unit/integrations/github/test_unit_github_views.py
  api/tests/unit/integrations/grafana/test_views.py
  api/tests/unit/integrations/launch_darkly/conftest.py
  api/tests/unit/integrations/launch_darkly/test_services.py
  api/tests/unit/integrations/launch_darkly/test_views.py
  api/tests/unit/metadata/test_views.py
  api/tests/unit/onboarding/test_views.py
  api/tests/unit/organisations/invites/conftest.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/permissions/permission_service/conftest.py
  api/tests/unit/permissions/permission_service/test_get_permitted_environments_for_user.py
  api/tests/unit/permissions/permission_service/test_get_permitted_projects_for_user.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
  api/tests/unit/permissions/permission_service/test_user_has_organisation_permissions.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/users/test_unit_users_views.py
Labels: api, refactor

#5883 feat: added-hosted-preferences-to-onboarding-data
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  api/users/serializers.py
Labels: feature, api

#5896 chore: Feature flag hosting preferences
  frontend/web/components/pages/CreateOrganisationPage.tsx
Labels: front-end, flagsmith flag, chore

#5775 chore: Move SegmentSerializer and MetadataSerializer back to core API
  api/environments/serializers.py
  api/features/serializers.py
  api/metadata/serializers.py
  api/segments/migrations/0028_condition_property_required.py
  api/segments/models.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/metadata/test_serializers.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_views.py
  api/util/drf_writable_nested/serializers.py
Labels: api, chore

#5904 chore: add e2e update segment test
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/segment-test.ts
Labels: front-end, chore

#5908 fix: Bring API docs back
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/test_api_documentation.py
Labels: api, fix

#5909 chore(main): release 2.190.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5910 deps: bump saml
  api/Makefile
Labels: api, dependencies

#5918 chore: Update flagsmith-workflows
  api/poetry.lock
  api/pyproject.toml
Labels: api

#5866 fix: `SEGMENT_RULES_CONDITIONS_EXPLICIT_ORDERING_ENABLED` does not affect rules
  api/integrations/launch_darkly/services.py
  api/segments/models.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/segments/test_unit_segments_views.py
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api, fix

#5917 feat: filter by email in user select inputs
  frontend/web/components/UserSelect.js
  frontend/web/components/UserSelect.tsx
Labels: feature, front-end

#5905 chore: upgrade node engine version
  Dockerfile
  docs/docs/deployment/hosting/locally-frontend.md
  frontend/.nvmrc
  frontend/common/utils/utils.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, chore

#5926 fix: Update node version in gh action
  .github/workflows/.reusable-frontend-deploy.yml
Labels: front-end, fix

#5927 fix: update-path-of-nvmrc
  .github/workflows/.reusable-frontend-deploy.yml
Labels: fix

#5929 fix: order release pipelines by created at
  frontend/common/types/requests.ts
  frontend/web/components/pages/ReleasePipelinesPage.tsx
  frontend/web/components/release-pipelines/AddToReleasePipelineModal.tsx
Labels: front-end, fix

#5928 feat(github-poc): Submit feature flag code references
  .github/workflows/poc-github-code-references.yml
  api/api/urls/v1.py
  api/app/settings/common.py
  api/projects/code_references/__init__.py
  api/projects/code_references/apps.py
  api/projects/code_references/migrations/0001_code_references.py
  api/projects/code_references/migrations/__init__.py
  api/projects/code_references/models.py
  api/projects/code_references/permissions.py
  api/projects/code_references/serializers.py
  api/projects/code_references/urls.py
  api/projects/code_references/views.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
Labels: feature, api

#5939 feat: frontend GitHub code references
  frontend/common/services/useCodeReferences.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/base/forms/Tabs.tsx
  frontend/web/components/base/icons/GithubIcon.tsx
  frontend/web/components/base/icons/GitlabIcon.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceScanIndicator.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoCodeReferencesSection.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoSectionHeader.tsx
  frontend/web/components/feature-summary/FeatureTags.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/VCSProviderTag.tsx
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/styles.scss
Labels: feature, front-end

#5941 feat: add environment variable to protect API docs with authentication
  api/api/urls/v1.py
  api/app/settings/common.py
  docs/docs/deployment/hosting/locally-api.md
Labels: feature, api

#5942 fix(env-update): make is_creating read only
  api/environments/serializers.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api, fix

#5938 docs: update rbac docs link on users and permissions page
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end, docs

#5893 fix: prevent unauthorised access from group permissions
  api/conftest.py
  api/e2etests/e2e_seed_data.py
  api/permissions/permission_service.py
  api/tests/unit/environments/identities/traits/test_traits_views.py
  api/tests/unit/environments/permissions/test_unit_environments_permissions.py
  api/tests/unit/environments/test_unit_environments_permissions.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
  api/tests/unit/integrations/slack/test_unit_slack_permissions.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/permissions/permission_service/test_get_permitted_environments_for_user.py
  api/tests/unit/permissions/permission_service/test_get_permitted_projects_for_user.py
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
  api/tests/unit/permissions/permission_service/test_is_user_project_admin.py
  api/tests/unit/permissions/permission_service/test_user_has_organisation_permissions.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/users/test_unit_users_migrations.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/webhooks/test_unit_webhooks_permissions.py
  api/users/migrations/0044_remove_users_from_groups_in_orgs_they_do_not_belong_to.py
  api/users/models.py
Labels: api, fix

#5925 chore(main): release 2.192.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5943 fix: revert "fix: check-split-length-before-accessing-with-index"
  api/custom_auth/serializers.py
  api/custom_auth/views.py
  api/integrations/lead_tracking/hubspot/services.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/users/test_unit_users_models.py
Labels: api, fix

#5944 chore(main): release 2.192.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#5946 infra: split out rules and conditions ordering vars and enable conditions ordering in production
  api/app/settings/common.py
  api/segments/models.py
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: api, infrastructure

#5947 chore(main): release 2.192.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5953 fix(segment-update): handle rules/conditons without id correctly
  api/segments/serializers.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: api, fix

#5951 fix: extracted-update-segment-test
  frontend/e2e/tests/segment-test.ts
Labels: front-end, fix

#5962 fix: disable test update segment
  frontend/e2e/tests/segment-test.ts
Labels: front-end, fix

#5966 fix: reverted-tests
  frontend/e2e/tests/segment-test.ts
Labels: front-end, fix

#5773 docs: Flagsmith Concepts section
  docs/docs/flagsmith-concepts/_category_.json
  docs/docs/flagsmith-concepts/data-model.md
  docs/docs/flagsmith-concepts/identities.md
  docs/docs/flagsmith-concepts/platform-architecture.md
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/flagsmith-concepts/segments/segment-rule-operators.md
  docs/docs/flagsmith-concepts/targeting-and-rollouts/index.md
Labels: docs

#5788 docs: Create Administration and Security menu section
  README.md
  docs/docs/administration-and-security/_category_.json
  docs/docs/administration-and-security/access-control/_category_.json
  docs/docs/administration-and-security/access-control/adfs.md
  docs/docs/administration-and-security/access-control/index.md
  docs/docs/administration-and-security/access-control/ldap.md
  docs/docs/administration-and-security/access-control/oauth.md
  docs/docs/administration-and-security/access-control/okta.md
  docs/docs/administration-and-security/access-control/rbac.md
  docs/docs/administration-and-security/access-control/saml.md
  docs/docs/administration-and-security/billing-api-usage.md
  docs/docs/administration-and-security/data-management/_category_.json
  docs/docs/administration-and-security/data-management/bulk-import-and-export.md
  docs/docs/administration-and-security/data-management/django-admin.png
  docs/docs/administration-and-security/data-management/import-and-export.md
  docs/docs/administration-and-security/data-management/import-from-launchdarkly.md
  docs/docs/administration-and-security/data-management/organisations-import-export.md
  docs/docs/administration-and-security/governance-and-compliance/_category_.json
  docs/docs/administration-and-security/governance-and-compliance/api-usage.md
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
  docs/docs/administration-and-security/governance-and-compliance/change-requests.md
  docs/docs/administration-and-security/governance-and-compliance/custom-fields.md
  docs/docs/administration-and-security/governance-and-compliance/security.md
  docs/docs/administration-and-security/governance-and-compliance/system-limits.md
  docs/docs/administration-and-security/governance-and-compliance/usage-graph.png
  docs/docs/administration-and-security/platform-configuration/_category_.json
  docs/docs/administration-and-security/platform-configuration/environment-settings.md
  docs/docs/administration-and-security/platform-configuration/metrics.md
  docs/docs/administration-and-security/usage-graph.png
Labels: docs

#5973 chore(evaluation-context): Support `string[]` as condition value for the `IN` operator
  sdk/evaluation-context.json
Labels: chore

#5979 fix(GitHub PoC): Fix API authentication
  api/projects/code_references/permissions.py
  api/tests/unit/projects/code_references/test_unit_projects_code_references_views.py
Labels: api, fix

#5965 chore(main): release 2.192.4
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5982 feat: Force segment rule ordering in production
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

#5984 chore(main): release 2.193.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5963 feat: display phased rollout state in UI
  frontend/common/types/responses.ts
  frontend/web/components/release-pipelines/CreateReleasePipeline.tsx
  frontend/web/components/release-pipelines/FlagActionDetail.tsx
  frontend/web/components/release-pipelines/StageFeatureDetail.tsx
  frontend/web/components/release-pipelines/StageInfo.tsx
  frontend/web/components/release-pipelines/StageSummaryData.tsx
  frontend/web/components/release-pipelines/TimeInput.tsx
Labels: feature, front-end, api

#5989 fix(GitHub PoC): added-no-wrap-to-code-reference-item
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
Labels: front-end, fix

#5772 docs: Homepage and Getting Started section
  docs/docs/getting-started/_category_.json
  docs/docs/getting-started/feature-flags.md
  docs/docs/getting-started/glossary.md
  docs/docs/getting-started/quick-start.md
Labels: docs
