Repository Flagsmith/flagsmith, pull requests merged in 2025-01, with the labels that each got.

#4941 feat: Support `--exclusive-start-key` option for `ensure_identity_traits_blanks`
  api/edge_api/management/commands/ensure_identity_traits_blanks.py
  api/environments/dynamodb/wrappers/base.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/tests/integration/edge_api/identities/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
  api/tests/unit/edge_api/test_unit_edge_api_commands.py
Labels: feature, api

#4926 chore(main): release 2.158.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4944 fix(tests): Incorrect mock in `test_ensure_identity_traits_blanks__exclusive_start_key__calls_expected`
  api/tests/unit/edge_api/test_unit_edge_api_commands.py
Labels: api, fix

#4942 deps: bump task processor v1.1.1 and workflows v2.7.5
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4947 deps: add licensing to private installation
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4949 ci: add deps to release notes and add dependabot configuration
  .github/dependabot.yml
  release-please-config.json
Labels: ci-cd

#4840 fix: Speed up identity overrides
  api/edge_api/identities/edge_identity_service.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/features/dataclasses.py
  api/features/features_service.py
  api/features/serializers.py
  api/features/views.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/features/test_unit_features_features_service.py
  api/tests/unit/features/test_unit_features_views.py
Labels: front-end, api, fix

#4952 fix: handle fetch github stars errors
  frontend/web/components/GithubStar.tsx
Labels: front-end, fix

#4977 ci: fix frontend deploy workflow
  .github/workflows/.reusable-frontend-deploy.yml
  .github/workflows/frontend-deploy-production.yml
Labels: ci-cd

#4979 ci: fix added bugs in frontend deploy workflow
  .github/workflows/.reusable-frontend-deploy.yml
  .github/workflows/frontend-deploy-production.yml
Labels: ci-cd

#4980 ci: fix incorrect input reference in GH workflow
  .github/workflows/.reusable-frontend-deploy.yml
Labels: ci-cd

#4950 fix: Updates user segment tab when a segment is created/updated
  frontend/web/components/PanelSearch.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, fix

#4987 fix(export): fixes issue exporting identity feature states with missing attributes
  api/edge_api/identities/export.py
  api/tests/unit/import_export/test_unit_import_export_export.py
Labels: api, fix

#4986 fix: Update boto3 and dependencies to latest versions - autoinstrumentation Datadog
  api/poetry.lock
  api/pyproject.toml
Labels: api

#4990 docs: Replace Twitter with X
  docs/docusaurus.config.ts
  frontend/web/components/Maintenance.js
Labels: front-end, docs

#4938 feat: Adds plus indicator when `is_num_identity_overrides_complete` is false
  frontend/common/types/responses.ts
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/IdentityOverridesIcon.tsx
Labels: feature, front-end

#4956 chore: Uploads sentry sourcemaps
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/webpack.config.prod.js
Labels: front-end, chore

#4946 chore(main): release 2.159.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#4992 fix: Use "Flagsmith" as default TOTP issuer
  api/app/settings/common.py
Labels: api, fix

#4994 fix: Adds force-2fa to startup plan
  frontend/common/utils/utils.tsx
Labels: front-end, fix

#4995 deps: bump task-processor
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4998 docs: Remove SQL Server as supported database
  docs/docs/version-comparison.md
Labels: docs

#4996 fix: role permissions
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: front-end

#5000 fix: Action dropdown not properly overflowing
  frontend/web/components/UserAction.tsx
Labels: front-end, fix

#4975 feat: Improves segment rule value validation and feedback
  frontend/global.d.ts
  frontend/web/components/Icon.tsx
  frontend/web/components/Tooltip.tsx
  frontend/web/components/modals/Rule.tsx
  frontend/web/components/modals/RuleInputValue.tsx
Labels: feature, front-end

#5004 fix: Don't display password managers on irrelevant input fields
  frontend/web/components/SimpleTwoFactor/prompt.js
  frontend/web/components/base/forms/Input.js
  frontend/web/components/modals/ChangeEmailAddress.tsx
  frontend/web/components/pages/AccountSettingsPage.js
Labels: front-end, fix

#5008 fix: Remove AWS IMDS endpoint request on API startup
  api/app/settings/common.py
Labels: api, fix

#4989 chore: MFA Method debugging / support improvements
  api/custom_auth/mfa/trench/admin.py
  api/custom_auth/mfa/trench/migrations/0004_add_created_at_and_updated_at.py
  api/custom_auth/mfa/trench/models.py
Labels: api, chore

#5003 fix: Set logger for skipping API usage
  api/organisations/tasks.py
Labels: api, fix

#4934 feat: Adds Licensing upload tab
  frontend/common/services/useOrganisationLicensing.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/LicensingTabContent.tsx
  frontend/web/components/pages/OrganisationSettingsPage.js
Labels: feature, front-end

#5007 chore: updates js sdk package
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, chore

#5016 ci: deprecate audit workflows
  .github/workflows/api-audit.yml
  .github/workflows/frontend-audit.yml
Labels: ci-cd

#5018 fix: `POST /identities` incorrectly applies segment overrides when using null or empty identifier, only in Core API
  api/environments/identities/models.py
  api/tests/integration/environments/identities/test_integration_identities.py
Labels: api, fix

#4997 chore(main): release 2.160.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5024 fix(migration-test): add decorator to skip if not enabled
  api/tests/unit/features/versioning/test_unit_versioning_migrations.py
Labels: api, fix

#5027 deps: Bump flagsmith-workflows to 2.7.6
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#4172 test: Add permissions and roles e2e tests
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  api/e2etests/e2e_seed_data.py
  api/tests/integration/e2etests/end_to_end/test_integration_e2e_tests.py
  frontend/common/stores/organisation-store.js
  frontend/common/stores/project-store.js
  frontend/e2e/config.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-permission-test.ts
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/organisation-permission-test.ts
  frontend/e2e/tests/project-permission-test.ts
  frontend/e2e/tests/roles-test.ts
  frontend/env/project_e2e.js
  frontend/global.d.ts
  frontend/package.json
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/project/project-components.js
Labels: front-end, api, testing

#5031 fix(ci): Fix Dockerfile casing warnings
  Dockerfile
Labels: fix

#5025 chore(main): release 2.160.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5017 fix: cast boolean on length environment
  frontend/web/components/pages/CreateEnvironmentPage.tsx
Labels: front-end

#5029 chore: migrate svg components js to tsx
  frontend/web/components/svg/ArrowUpIcon.tsx
  frontend/web/components/svg/AuditLogIcon.tsx
  frontend/web/components/svg/CaretDownIcon.tsx
  frontend/web/components/svg/CaretRightIcon.tsx
  frontend/web/components/svg/DocumentationIcon.tsx
  frontend/web/components/svg/EnvironmentSettingsIcon.tsx
  frontend/web/components/svg/FeaturesIcon.tsx
  frontend/web/components/svg/LogoutIcon.tsx
  frontend/web/components/svg/NavIconSmall.tsx
  frontend/web/components/svg/OrgSettingsIcon.tsx
  frontend/web/components/svg/PlayIcon.tsx
  frontend/web/components/svg/PlusIcon.js
  frontend/web/components/svg/PlusIcon.tsx
  frontend/web/components/svg/ProjectSettingsIcon.tsx
  frontend/web/components/svg/SegmentsIcon.tsx
  frontend/web/components/svg/SettingsIcon.tsx
  frontend/web/components/svg/SparklesIcon.tsx
  frontend/web/components/svg/UpgradeIcon.tsx
  frontend/web/components/svg/UserSettingsIcon.tsx
  frontend/web/components/svg/UsersIcon.js
  frontend/web/components/svg/UsersIcon.tsx
Labels: front-end, chore

#5028 fix: Raise if `environment_feature_version` is `None`
  api/conftest.py
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/users/test_unit_users_views.py
Labels: api, fix

#5034 docs: Improve Edge Proxy docs
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#5022 fix: Disable invite button when email config is not set
  api/app/utils.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/app/conftest.py
  api/tests/unit/app/test_unit_app_utils.py
  api/tests/unit/app/test_unit_app_views.py
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end, api, fix

#5036 docs: Improve Django Admin docs
  docs/docs/deployment/configuration/django-admin.md
  docs/docs/deployment/hosting/locally-api.md
Labels: docs

#5039 fix: ensure project names are unique
  api/projects/serializers.py
  api/tests/integration/conftest.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: api, fix

#5040 fix: Set Hubspot id to newest value
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
Labels: api, fix

#5035 docs: Add docs for creating identity overrides
  docs/docs/clients/rest.md
Labels: docs

#5041 fix(webhook/signal): Optimise historical record writes
  api/core/models.py
  api/core/signals.py
  api/features/signals.py
  api/poetry.lock
  api/pyproject.toml
  api/segments/helpers.py
  api/segments/migrations/0027_historicalsegmentrule.py
  api/segments/models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/users/test_unit_users_views.py
  api/users/models.py
  api/users/signals.py
Labels: api, fix

#5045 fix(5044): handle deleted feature state
  api/features/models.py
  api/tests/unit/features/test_unit_features_models.py
Labels: api, fix

#5010 chore: reusable copy to clipboard method and adds error handling
  frontend/common/utils/utils.tsx
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/JSONReference.tsx
  frontend/web/components/OrgEnvironmentSelect.tsx
  frontend/web/components/SDKKeysPage.tsx
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/Token.js
  frontend/web/components/modals/CreateSAML.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end, chore

#5042 fix: integrations page permission
  frontend/web/components/pages/IntegrationsPage.tsx
Labels: front-end, fix

#5050 fix(5044/mvfsv): handle deleted feature states
  api/features/multivariate/models.py
  api/tests/unit/features/multivariate/test_unit_multivariate_models.py
Labels: api, fix

#5052 docs: fix Mixpanel casing ugliness *shudders*
  docs/docs/integrations/analytics/mixpanel.md
Labels: docs

#5023 feat: Backend support for feature health
  api/api/urls/v1.py
  api/app/settings/common.py
  api/audit/related_object_type.py
  api/conftest.py
  api/features/feature_health/__init__.py
  api/features/feature_health/admin.py
  api/features/feature_health/apps.py
  api/features/feature_health/constants.py
  api/features/feature_health/migrations/0001_initial.py
  api/features/feature_health/migrations/__init__.py
  api/features/feature_health/models.py
  api/features/feature_health/providers/__init__.py
  api/features/feature_health/providers/sample/__init__.py
  api/features/feature_health/providers/sample/mappers.py
  api/features/feature_health/providers/sample/types.py
  api/features/feature_health/providers/services.py
  api/features/feature_health/serializers.py
  api/features/feature_health/services.py
  api/features/feature_health/tasks.py
  api/features/feature_health/types.py
  api/features/feature_health/views.py
  api/projects/tags/migrations/0008_alter_tag_type.py
  api/projects/tags/models.py
  api/projects/urls.py
  api/tests/integration/features/feature_health/__init__.py
  api/tests/integration/features/feature_health/conftest.py
  api/tests/integration/features/feature_health/test_views.py
  api/tests/types.py
  api/tests/unit/features/feature_health/__init__.py
  api/tests/unit/features/feature_health/conftest.py
  api/tests/unit/features/feature_health/test_admin.py
  api/tests/unit/features/feature_health/test_models.py
  api/tests/unit/features/feature_health/test_services.py
Labels: feature, api

#5054 feat(segment-crs): code reabability improvements to #4988
  api/segments/models.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/tests/unit/segments/test_unit_segments_models.py
Labels: feature, api

#5043 feat: Implements feature healthcare UI
  frontend/common/services/useHealthEvents.ts
  frontend/common/services/useHealthProvider.ts
  frontend/common/services/useTag.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/UnhealthyFlagWarning.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/TagValues.tsx
Labels: feature, front-end

#5058 fix: Force environments to be different names
  api/environments/serializers.py
  api/tests/unit/environments/test_unit_environments_views.py
Labels: api, fix
