Repository Flagsmith/flagsmith, pull requests merged in 2025-04, with the labels that each got.

#5265 docs: add documentation for the Next.js app router
  docs/docs/clients/client-side/nextjs-and-ssr.md
  frontend/common/code-help/init/init-next-app-router.js
  frontend/common/code-help/init/init-next-pages-router.js
  frontend/common/constants.ts
Labels: front-end, docs

#5285 docs: add feature health beta information
  docs/docs/advanced-use/feature-health.md
Labels: docs

#5288 chore: Add organisation info to amplitude
  frontend/web/project/api.js
Labels: front-end, chore

#5284 docs: Add amplitude
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/plugins/amplitude.js
Labels: docs

#5286 chore: Optimise segment override calls
  frontend/common/providers/withSegmentOverrides.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
Labels: front-end, chore

#5294 fix: adds optional chaining to prevent errors
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end, fix

#5292 fix: Display an error message if trying to create a server-side SDK key while not being an environment admin
  frontend/web/components/ServerSideSDKKeys.js
Labels: front-end, fix

#5303 docs: .NET client 7.1.0
  docs/docs/clients/server-side.mdx
Labels: docs

#5304 chore: Use example.com as the placeholder domain in docs
  docs/docs/clients/client-side/android.md
  docs/docs/clients/client-side/ios.mdx
  docs/docs/clients/server-side.mdx
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#5297 fix: Organisation ID check in payment button
  frontend/web/components/modals/Payment.js
Labels: front-end, fix

#5246 fix: Support tag based permissions for approve change request
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/ChangeRequestPage.js
Labels: front-end, fix

#5287 chore(main): release 2.169.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5306 docs: Add Edge Proxy liveness and readiness checks
  docs/docs/deployment/hosting/locally-edge-proxy.md
Labels: docs

#5312 chore(main): release 2.169.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending

#5313 ci: publish frontend image to Quay
  .github/workflows/platform-docker-build-test-publish.yml
Labels: ci-cd

#5315 chore: drop Python 2 support
  api/app/settings/common.py
Labels: api, chore

#5295 fix: Feature value overflowing container
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/CondensedFeatureRow.tsx
  frontend/web/components/FeatureRow.tsx
  frontend/web/components/FeatureValue.tsx
Labels: front-end, fix

#5310 fix: Dashboard alias not updating in safari
  frontend/common/services/useIdentity.ts
  frontend/web/components/EditIdentity.tsx
  frontend/web/components/base/forms/GhostInput.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end

#5196 chore: migrate invite users to rtk
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/services/useInvites.ts
  frontend/common/stores/organisation-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/modals/InviteUsers.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: front-end, chore

#5254 feat: Initial Prometheus support
  api/Makefile
  api/app/settings/common.py
  api/app_analytics/tasks.py
  api/audit/tasks.py
  api/conftest.py
  api/core/signals.py
  api/custom_auth/tasks.py
  api/edge_api/identities/tasks.py
  api/environments/tasks.py
  api/features/feature_health/tasks.py
  api/features/import_export/tasks.py
  api/features/tasks.py
  api/features/versioning/tasks.py
  api/integrations/github/tasks.py
  api/integrations/launch_darkly/tasks.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/manage.py
  api/organisations/chargebee/tasks.py
  api/organisations/tasks.py
  api/poetry.lock
  api/projects/tasks.py
  api/pyproject.toml
  api/scripts/run-docker.sh
  api/segments/tasks.py
  api/sse/tasks.py
  api/tests/integration/app/test_views.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/projects/test_unit_projects_tasks.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/users/tasks.py
  api/webhooks/tasks.py
  api/webhooks/webhooks.py
  docker-compose.yml
  docs/docs/deployment/hosting/locally-api.md
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: feature, api

#5317 chore: Enable Prometheus for staging task processor
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

#5322 infra: fix task definition args
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
Labels: infrastructure

#5324 fix: Handles trailing space in flag value
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#5332 fix(n+1): fix environment-document n+1 for env_feature_version
  api/environments/models.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
Labels: api, fix

#5266 feat(superuser): Allow super user creation using signup endpoint
  api/custom_auth/serializers.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/users/models.py
Labels: feature, api

#5187 feat: add permanent environment document cache
  api/app/settings/common.py
  api/environments/admin.py
  api/environments/enums.py
  api/environments/metrics.py
  api/environments/models.py
  api/environments/tasks.py
  api/integrations/common/models.py
  api/integrations/webhook/models.py
  api/projects/tasks.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/test_integration_environments.py
  api/tests/unit/conftest.py
  api/tests/unit/environments/test_unit_environments_admin.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_tasks.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude_models.py
  api/tests/unit/integrations/webhook/test_unit_webhook_models.py
  docs/docs/deployment/hosting/locally-api.md
Labels: feature, api

#5323 chore(main): release 2.171.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5330 fix: `RouteLoggerMiddleware` breaks threads accessing Django request object
  api/app/settings/common.py
  api/app_analytics/cache.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/middleware.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/environments/authentication.py
  api/environments/identities/serializers.py
  api/environments/models.py
  api/telemetry/serializers.py
  api/tests/unit/app_analytics/test_middleware.py
  api/tests/unit/app_analytics/test_tasks.py
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_track.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: api, fix

#5336 fix: import from saas to self-hosted
  api/import_export/export.py
  api/tests/unit/import_export/test_unit_import_export_export.py
Labels: api, fix

#5328 fix: Fix undesired navigation when closing edit feature modal
  frontend/web/components/CompareFeatures.js
  frontend/web/components/FeatureRow.tsx
Labels: front-end, fix

#5342 fix(billing): Overages billing skipping `scale-up-v3` plan
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#5331 feat(onboarding): Add API to support onboarding support request
  api/api/urls/v1.py
  api/app/settings/common.py
  api/core/helpers.py
  api/core/middleware/admin.py
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/constants.py
  api/integrations/lead_tracking/hubspot/services.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/onboarding/__init__.py
  api/onboarding/apps.py
  api/onboarding/serializers.py
  api/onboarding/tasks.py
  api/onboarding/throttling.py
  api/onboarding/urls.py
  api/onboarding/views.py
  api/telemetry/serializers.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_services.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/onboarding/conftest.py
  api/tests/unit/onboarding/test_views.py
Labels: feature, api

#5057 feat: self hosted onboarding
  frontend/common/loadCrisp.ts
  frontend/common/services/useBuildVersion.ts
  frontend/common/services/useOnboarding.ts
  frontend/common/services/useOnboardingSupportOptIn.ts
  frontend/common/stores/account-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/isFreeEmailDomain.ts
  frontend/common/utils/utils.tsx
  frontend/global.d.ts
  frontend/web/components/App.js
  frontend/web/components/BuildVersion.tsx
  frontend/web/components/GoogleButton.js
  frontend/web/components/GoogleButton.tsx
  frontend/web/components/Logo.tsx
  frontend/web/components/Resources.tsx
  frontend/web/components/onboarding/OnboardingAccountForm.tsx
  frontend/web/components/onboarding/OnboardingOrganisationForm.tsx
  frontend/web/components/onboarding/OnboardingStep.tsx
  frontend/web/components/pages/CreateOrganisationPage.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/HomePage.tsx
  frontend/web/components/pages/OnboardingPage.tsx
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/project/api.js
  frontend/web/project/getBuildVersion.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_project-nav.scss
  frontend/web/styles/project/_spacing-utils.scss
  frontend/web/styles/project/_type.scss
Labels: feature, front-end, api

#5340 fix(docker-compose): drop superuser creation for onboarding flow
  docker-compose.yml
Labels: fix

#5334 chore(main): release 2.172.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5344 deps: Bump flagsmith-common from 1.8.0 to 1.9.0
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#5345 fix: Resources margin
  frontend/web/components/pages/HomeAside.tsx
Labels: front-end, fix

#5347 chore(main): release 2.172.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5339 chore: Fix local make commands
  api/.env-ci
  api/Makefile
  api/pyproject.toml
Labels: api, chore

#5352 fix: Selecting build version data from RTK
  frontend/common/services/useBuildVersion.ts
Labels: front-end, fix

#5350 fix: compare-sha-tags-in-lowercase
  frontend/web/components/BuildVersion.tsx
  package-lock.json
Labels: front-end, fix

#5325 feat: MetadataModelRequirement can accept organization as content-type
  api/metadata/serializers.py
  api/tests/unit/metadata/test_serializers.py
Labels: feature, api

#5356 fix: enable usage cache by default
  api/app/settings/common.py
  api/app/settings/test.py
  api/app_analytics/cache.py
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
  docs/docs/deployment/hosting/locally-api.md
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: api, fix

#5343 feat(billing): Remove `AUTO_SEAT_UPGRADE_PLANS` setting
  api/app/settings/common.py
  api/conftest.py
  api/organisations/invites/views.py
  api/organisations/models.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  infrastructure/aws/production/ecs-task-definition-web.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: feature, api

#5353 chore(main): release 2.173.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5359 chore(main): release 2.173.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5357 fix: version endpoint
  frontend/common/services/useBuildVersion.ts
Labels: front-end, fix

#5365 feat: Log environment IDs in SDK endpoints
  api/app/settings/common.py
  api/environments/authentication.py
  api/poetry.lock
  api/pyproject.toml
Labels: feature, api

#5367 chore(main): release 2.174.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5337 feat: unsaved warning modal in environment settings
  frontend/common/types/responses.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/EnvironmentVersioningListener.tsx
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/hooks/useFormNotSavedModal.tsx
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/styles/components/_tabs.scss
Labels: feature, front-end

#5326 feat: MetadataModelRequirement uses organisation ID as objectID (✅ relies on #5325 - deployed)
  api/tests/unit/metadata/test_serializers.py
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
Labels: feature, front-end, api

#5333 docs: Go sdk custom client documentation
  docs/docs/clients/server-side.mdx
Labels: docs

#5376 fix: order of onboarding requests
  frontend/common/stores/account-store.js
Labels: front-end, fix

#5381 fix: fix test in PR #5283
  api/environments/authentication.py
  api/environments/models.py
  api/environments/sdk/views.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude_models.py
Labels: api, fix

#5384 docs: update images
  docs/docs/deployment/index.md
  docs/docs/system-administration/architecture.md
  docs/static/img/core-api-now.svg
  docs/static/img/ecs-overview.svg
  docs/static/img/edge-api-now.svg
  docs/static/img/edge-proxy-existing.svg
  docs/static/img/edge-proxy-proxy.svg
  docs/static/img/saas-architecture.svg
Labels: docs

#5377 feat: TCP health check integration + ECS health checks on staging
  Dockerfile
  api/manage.py
  api/poetry.lock
  api/pyproject.toml
  api/scripts/__init__.py
  api/scripts/healthcheck.py
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: feature, api

#5314 fix: convert large integers to strings
  api/features/constants.py
  api/features/models.py
  api/features/utils.py
  api/tests/unit/features/test_unit_features_utils.py
Labels: api, fix

#5366 feat: Add product version to API response headers
  api/app/settings/common.py
  api/conftest.py
  api/tests/integration/test_integration_api_version_header.py
Labels: feature, api

#5402 fix: Gets build version for validating org plan
  frontend/web/components/App.js
Labels: front-end, fix

#5283 feat: If-Modified-Since for /environment-document
  api/environments/models.py
  api/environments/sdk/views.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude_models.py
Labels: feature, api

#5395 docs: Add Prometheus metrics documentation
  .github/workflows/api-pull-request.yml
  .pre-commit-config.yaml
  api/Makefile
  api/app/settings/common.py
  api/environments/metrics.py
  api/poetry.lock
  api/pyproject.toml
  docs/docs/system-administration/metrics.md
Labels: api, docs

#5386 chore(main): release 2.176.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5399 fix: return-empty-trait-list-if-persistence-not-allowed-from-sdk
  api/environments/sdk/serializers.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/environments/sdk/test_unit_sdk_serializers.py
  docs/docs/basic-features/segments.md
  docs/docs/system-administration/security.md
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
Labels: front-end, api, fix

#5389 fix: incorrect feature value passed in integrations
  api/conftest.py
  api/integrations/amplitude/amplitude.py
  api/integrations/heap/heap.py
  api/integrations/segment/segment.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/segment/test_unit_segment.py
Labels: api
