Repository Flagsmith/flagsmith, pull requests merged in 2025-07, with the labels that each got.

#5628 chore(main): release 2.185.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5561 feat: mobile nav
  frontend/common/hooks/useVisibleCount.ts
  frontend/common/useOutsideClick.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/web/components/Announcement.tsx
  frontend/web/components/AnnouncementPerPage.tsx
  frontend/web/components/App.js
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/EnvironmentDropdown.js
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/GithubStar.tsx
  frontend/web/components/Headway.js
  frontend/web/components/Icon.tsx
  frontend/web/components/NavSubLink.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/navigation/EnvironmentAside.tsx
  frontend/web/components/navigation/EnvironmentLink.tsx
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/navigation/OverflowNav.tsx
  frontend/web/components/navigation/SelectOrgAndProject.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/navigation/navbars/OrganisationNavbar.tsx
  frontend/web/components/navigation/navbars/ProjectNavbar.tsx
  frontend/web/components/navigation/navbars/TopNavbar.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/svg/SettingsIcon.tsx
  frontend/web/index.handlebars
  frontend/web/index.html
  frontend/web/styles/3rdParty/_bootstrap.scss
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/project/_index.scss
  frontend/web/styles/project/_layout.scss
  frontend/web/styles/project/_modals.scss
  frontend/web/styles/project/_project-nav.scss
  frontend/web/styles/project/_utils.scss
  frontend/web/styles/styles.scss
Labels: feature, front-end

#5679 Chore/mobile nav fixes
  frontend/common/utils/utils.tsx
  frontend/web/components/navigation/Nav.tsx
  frontend/web/components/navigation/OverflowNav.tsx
  frontend/web/components/release-pipelines/CreateReleasePipeline.tsx
Labels: front-end

#5684 chore: Enable segment ordering on staging
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: infrastructure

#5496 feat(BE): release pipeline v0.1.0
  Dockerfile
  api/app/settings/common.py
  api/audit/constants.py
  api/audit/related_object_type.py
  api/conftest.py
  api/features/release_pipelines/core/__init__.py
  api/features/release_pipelines/core/apps.py
  api/features/release_pipelines/core/constants.py
  api/features/release_pipelines/core/exceptions.py
  api/features/release_pipelines/core/migrations/0001_add_release_pipelines.py
  api/features/release_pipelines/core/migrations/__init__.py
  api/features/release_pipelines/core/models.py
  api/features/versioning/migrations/0006_add_pipeline_stage_to_envfeatureversion.py
  api/features/versioning/models.py
  api/organisations/models.py
  api/poetry.lock
  api/projects/urls.py
  api/pyproject.toml
  api/tests/integration/conftest.py
  api/tests/types.py
  api/tests/unit/features/release_pipeline/core/conftest.py
  api/tests/unit/features/release_pipeline/core/test_unit_release_pipeline_models.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Labels: feature, api

#5690 fix: Headway padding
  frontend/web/components/navigation/navbars/TopNavbar.tsx
Labels: front-end

#5678 chore(main): release 2.186.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5670 feat: generate-a-auth-cookie-on-oauth-succesful-logins
  api/custom_auth/oauth/views.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_views.py
Labels: feature, api

#5688 feat: removes feature from release pipeline
  frontend/common/services/useReleasePipelines.ts
  frontend/common/types/requests.ts
  frontend/web/components/base/forms/ButtonDropdown.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/FlagValueFooter.tsx
  frontend/web/components/release-pipelines/FeaturePipelineStatus.tsx
  frontend/web/components/release-pipelines/RemoveFromReleasePipelineModal.tsx
  frontend/web/styles/components/_button-dropdown.scss
  frontend/web/styles/components/_index.scss
  frontend/web/styles/project/_FeaturesPage.scss
Labels: feature, front-end

#5630 feat: collect and track utms at signup
  api/integrations/lead_tracking/hubspot/client.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/services.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_client.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/users/migrations/0042_add_utm_data_json_field.py
  api/users/migrations/0043_make_hubspot_cookie_optional.py
  api/users/models.py
  api/users/serializers.py
  frontend/common/types/requests.ts
  frontend/common/types/utms.ts
  frontend/common/useUTMs.tsx
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/HomePage.tsx
  frontend/web/components/release-pipelines/StageFeatureDetail.tsx
  frontend/web/styles/project/_spacing-utils.scss
Labels: feature, front-end, api

#5108 feat: enable feature versioning for new environments
  api/environments/models.py
  api/tests/unit/environments/conftest.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: feature, api

#5713 fix: Add missing Swagger schema for GET feature by ID
  api/features/views.py
Labels: api, fix

#5497 feat: integrations onboarding
  frontend/common/constants.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/IntegrationSelect.tsx
  frontend/web/components/navigation/EnvironmentLink.tsx
  frontend/web/components/navigation/SidebarLink.tsx
  frontend/web/components/navigation/navbars/EnvironmentNavbar.tsx
  frontend/web/components/onboarding/GettingStartedItem.tsx
  frontend/web/components/pages/GettingStartedPage.tsx
  frontend/web/components/pages/HomePage.tsx
  frontend/web/components/pages/IntegrationsPage.tsx
  frontend/web/project/api.js
  frontend/web/static/images/integrations/adfs.svg
  frontend/web/static/images/integrations/adobe-analytics.png
  frontend/web/static/images/integrations/amplitude.svg
  frontend/web/static/images/integrations/appdynamics.svg
  frontend/web/static/images/integrations/aws_cloudtrail.svg
  frontend/web/static/images/integrations/aws_cloudwatch.svg
  frontend/web/static/images/integrations/azure-devops.svg
  frontend/web/static/images/integrations/bitbucket.svg
  frontend/web/static/images/integrations/datadog.svg
  frontend/web/static/images/integrations/dynatrace.svg
  frontend/web/static/images/integrations/elastic.svg
  frontend/web/static/images/integrations/github.svg
  frontend/web/static/images/integrations/gitlab.svg
  frontend/web/static/images/integrations/google-analytics.svg
  frontend/web/static/images/integrations/grafana.svg
  frontend/web/static/images/integrations/heap.svg
  frontend/web/static/images/integrations/hubspot.svg
  frontend/web/static/images/integrations/intellij.svg
  frontend/web/static/images/integrations/jenkins.svg
  frontend/web/static/images/integrations/jira.svg
  frontend/web/static/images/integrations/ldap.png
  frontend/web/static/images/integrations/microsoft-teams.svg
  frontend/web/static/images/integrations/mp.svg
  frontend/web/static/images/integrations/new_relic.svg
  frontend/web/static/images/integrations/okta.svg
  frontend/web/static/images/integrations/opentelemetry.svg
  frontend/web/static/images/integrations/pendo.svg
  frontend/web/static/images/integrations/prometheus.svg
  frontend/web/static/images/integrations/rudderstack.svg
  frontend/web/static/images/integrations/saml.png
  frontend/web/static/images/integrations/segment.svg
  frontend/web/static/images/integrations/sentry.svg
  frontend/web/static/images/integrations/slack.svg
  frontend/web/static/images/integrations/sumologic.svg
  frontend/web/static/images/integrations/terraform.svg
  frontend/web/static/images/integrations/vercel.svg
  frontend/web/static/images/integrations/vs-code.svg
  frontend/web/static/images/integrations/webhooks.svg
  frontend/web/static/images/welcome/featured1.png
  frontend/web/static/images/welcome/featured2.png
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/project/_project-nav.scss
  frontend/web/styles/project/_utils.scss
Labels: feature, front-end, flagsmith flag

#5722 feat: Beta feature flags
  frontend/web/components/BetaFlag.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: feature, front-end

#5740 fix: Environments don't preserve feature versioning when cloned
  api/environments/models.py
  api/environments/tasks.py
  api/tests/unit/environments/test_unit_environments_models.py
Labels: api, fix

#5744 chore: remove segment ordering var
  infrastructure/aws/staging/ecs-task-definition-web.json
Labels: infrastructure

#5720 fix: Refactor toasts
  frontend/web/components/CodeHelp.js
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/XMLUpload.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/UsersPage.tsx
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/project/toast.tsx
  frontend/web/styles/_variables.scss
  frontend/web/styles/components/_toast.scss
  frontend/web/styles/project/_buttons.scss
Labels: front-end

#5712 docs: Adds Release Pipelines documentation
  docs/docs/advanced-use/release-pipelines.md
  docs/static/img/release-pipelines/actions.png
  docs/static/img/release-pipelines/add-to-release-pipeline.png
  docs/static/img/release-pipelines/create-release-pipeline.png
  docs/static/img/release-pipelines/on-enter.png
  docs/static/img/release-pipelines/pipeline-configuration.png
  docs/static/img/release-pipelines/publish-release-pipeline.png
  docs/static/img/release-pipelines/use-case-pipeline.png
  docs/static/img/release-pipelines/view-pipeline.png
  docs/static/img/release-pipelines/wait-for.png
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/components/release-pipelines/ReleasePipelinesList.tsx
Labels: front-end, docs

#4836 feat: Expose "Enable real-time flags" option when self-hosting, add docs
  docs/docs/advanced-use/real-time-flags.md
  docs/docs/deployment/hosting/real-time/benchmark.js
  docs/docs/deployment/hosting/real-time/deployment.md
  docs/docs/deployment/hosting/real-time/index.md
  docs/docs/deployment/hosting/real-time/operations.md
  frontend/web/components/pages/ProjectSettingsPage.js
Labels: feature, front-end

#5711 fix: trigger create hubspot user post tracker
  api/custom_auth/oauth/serializers.py
  api/custom_auth/oauth/views.py
  api/custom_auth/views.py
  api/integrations/lead_tracking/hubspot/lead_tracker.py
  api/integrations/lead_tracking/hubspot/services.py
  api/organisations/invites/views.py
  api/organisations/models.py
  api/organisations/views.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_serializers.py
  api/tests/unit/custom_auth/test_unit_custom_auth_views.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/users/test_unit_users_models.py
  api/tests/unit/users/test_unit_users_views.py
  api/users/models.py
  frontend/common/stores/account-store.js
  frontend/common/utils/utils.tsx
  frontend/web/components/pages/HomePage.tsx
Labels: front-end, api, fix

#5691 chore(main): release 2.187.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5623 feat: Backend for SDK metrics
  api/app/settings/common.py
  api/app_analytics/analytics_db_service.py
  api/app_analytics/cache.py
  api/app_analytics/constants.py
  api/app_analytics/dataclasses.py
  api/app_analytics/influxdb_schema.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/mappers.py
  api/app_analytics/middleware.py
  api/app_analytics/migrations/0006_add_labels.py
  api/app_analytics/models.py
  api/app_analytics/serializers.py
  api/app_analytics/services.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/app_analytics/types.py
  api/app_analytics/views.py
  api/conftest.py
  api/features/serializers.py
  api/features/views.py
  api/organisations/models.py
  api/tests/types.py
  api/tests/unit/app_analytics/conftest.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/app_analytics/test_middleware.py
  api/tests/unit/app_analytics/test_migrate_to_pg.py
  api/tests/unit/app_analytics/test_models.py
  api/tests/unit/app_analytics/test_tasks.py
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_track.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
  api/tests/unit/environments/conftest.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/features/test_unit_features_views.py
Labels: feature, api

#5754 fix: body overflow
  frontend/web/styles/styles.scss
Labels: front-end, fix

#5763 feat: Release pipelines logic v0.2.1
  api/audit/constants.py
  api/features/release_pipelines/core/models.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/features/release_pipeline/core/conftest.py
  api/tests/unit/features/release_pipeline/core/test_unit_release_pipeline_models.py
Labels: feature, api

#5798 feat: Backend for Context values
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/identities/models.py
  api/integrations/webhook/serializers.py
  api/poetry.lock
  api/pyproject.toml
  api/util/mappers/engine.py
Labels: feature, api

#5767 feat: adds multiple actions to release pipeline stage
  frontend/common/services/useReleasePipelines.ts
  frontend/common/types/requests.ts
  frontend/web/components/release-pipelines/CreatePipelineStage.tsx
  frontend/web/components/release-pipelines/CreateReleasePipeline.tsx
  frontend/web/components/release-pipelines/FlagActionDetail.tsx
  frontend/web/components/release-pipelines/PipelineStageActions.tsx
  frontend/web/components/release-pipelines/SinglePipelineStageAction.tsx
  frontend/web/components/release-pipelines/StageInfo.tsx
  frontend/web/components/release-pipelines/constants.ts
  frontend/web/styles/components/_release-pipelines.scss
Labels: feature, front-end, api

#5764 chore: Update and repurpose evaluation context schema for Context values
  sdk/evaluation-context.json
Labels: chore

#5786 chore(main): release 2.188.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5826 fix: incorrect-is-editing-property-check
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
Labels: front-end, fix

#5828 docs: add a Backlink to OpenFeature Docs
  docs/docs/clients/openfeature.md
Labels: docs

#5830 docs: New update to Amplitude docs for SEO backlink
  docs/docs/integrations/analytics/amplitude.md
Labels: docs

#5807 chore: typescript api
  frontend/common/types/responses.ts
  frontend/common/utils/getUserDisplayName.tsx
  frontend/global.d.ts
  frontend/web/project/api.js
  frontend/web/project/api.ts
Labels: front-end, chore

#5843 docs: update flag-management.md
  docs/docs/advanced-use/flag-management.md
Labels: docs

#5849 chore: removed-fallback-using-flag-for-dark-mode
  frontend/common/stores/config-store.js
  frontend/web/project/darkMode.ts
Labels: front-end, chore

#5852 chore: fix codeowners
  CODEOWNERS
Labels: chore

#5847 fix: use-errors-from-api-on-login
  frontend/web/project/api.ts
Labels: front-end, fix

#5853 feat: disable value and segment change for in-flight feature
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/release-pipelines/FeatureInPipelineGuard.tsx
Labels: front-end

#5845 feat(feature-health): Backend for health event dismissal
  api/features/feature_health/constants.py
  api/features/feature_health/serializers.py
  api/features/feature_health/services.py
  api/features/feature_health/views.py
  api/tests/integration/features/feature_health/conftest.py
  api/tests/integration/features/feature_health/test_views.py
  api/tests/unit/features/feature_health/test_models.py
  api/tests/unit/features/feature_health/test_services.py
Labels: feature, api

#5863 feat: adds dismiss health event
  frontend/common/services/useHealthEvents.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/FeatureHealthTabContent.tsx
Labels: feature, front-end

#5871 fix: split-operator-to-remove-append
  frontend/web/components/segments/Rule/Rule.tsx
Labels: front-end, fix
