Repository Flagsmith/flagsmith, pull requests merged in 2025-05, with the labels that each got.

#5410 fix(self-hosted onboarding): add hubspot access token to API instances
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

#5405 chore(main): release 2.176.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5411 ci: Migrate GHA to Depot runners
  .github/workflows/.reusable-deploy-ecs.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/.reusable-docker-publish.yml
  .github/workflows/.reusable-frontend-deploy.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/conventional-commit.yml
  .github/workflows/docs-cron-vercel-deploy.yml
  .github/workflows/docs-pull-request.yml
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-test-staging.yml
  .github/workflows/github-labeler.yml
  .github/workflows/manual-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-docker-trivy-scan.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-release-please.yml
  .github/workflows/uffizzi-build.yml
  .github/workflows/uffizzi-preview.yml
  .github/workflows/update-flagsmith-environment.yml
Labels: ci-cd

#5416 fix: marketing consent should default to True
  api/custom_auth/serializers.py
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/integrations/lead_tracking/pipedrive/test_unit_pipedrive_lead_tracker.py
  api/users/migrations/0040_default_marketing_consent_given_true.py
  api/users/models.py
Labels: api, fix

#5417 chore(main): release 2.176.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5407 feat: Render usage report in sales dashboard usage directly, without sending email
  api/sales_dashboard/forms.py
  api/sales_dashboard/templates/sales_dashboard/base.html
  api/sales_dashboard/templates/sales_dashboard/email-usage.html
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/templates/sales_dashboard/nav.html
  api/sales_dashboard/templates/sales_dashboard/usage.html
  api/sales_dashboard/urls.py
  api/sales_dashboard/views.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
  docs/docs/deployment/configuration/usage-report-example.png
  docs/docs/deployment/configuration/usage-reports.mdx
Labels: feature, api

#5423 fix: remove-pipedrive
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, fix

#5421 chore(main): release 2.177.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5427 fix: lint
  frontend/common/code-help/create-user/create-user-node.js
  frontend/common/code-help/create-user/create-user-python.js
  frontend/common/code-help/init/init-next-app-router.js
  frontend/common/constants.ts
  frontend/web/components/BuildVersion.tsx
  frontend/web/components/ServerSideSDKKeys.js
  frontend/web/components/base/forms/Tabs.js
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/modals/CreateMetadataField.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentRulesTabForm.tsx
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/project/api.js
Labels: front-end, fix

#5433 fix(e2e): Incorrect project selected in RBAC E2E on staging
  api/pyproject.toml
  frontend/common/utils/utils.tsx
  frontend/e2e/tests/roles-test.ts
  frontend/web/components/ProjectManageWidget.tsx
Labels: front-end, api, fix

#5362 fix: metadata-feature-changes-erases-existing-value
  api/environments/serializers.py
  api/features/serializers.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/segments/test_unit_segments_views.py
  api/util/drf_writable_nested/serializers.py
Labels: api, fix

#5438 fix: permissions not revoked after view project disabled
  frontend/common/utils/utils.tsx
  frontend/web/components/EditPermissions.tsx
Labels: front-end, fix

#5424 fix: removed-node-sass-deprecated-package
  frontend/common/utils/utils.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/ProjectManageWidget.tsx
Labels: front-end, fix

#5450 fix: misc test fixes
  api/conftest.py
  api/tests/unit/core/management/test_unit_core_management_makemigrations.py
Labels: api, fix

#5428 chore(main): release 2.177.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5451 chore(deps): bump rbac
  api/Makefile
Labels: api, chore

#5372 fix: metadata inputs not updating values 🔴 waiting for #5362
  frontend/web/components/metadata/AddMetadataToEntity.tsx
Labels: front-end, api, fix

#5408 feat(5308): Add endpoints to support permission debugging
  api/environments/permissions/permissions.py
  api/environments/views.py
  api/organisations/permissions/permissions.py
  api/organisations/views.py
  api/permissions/permissions_calculator.py
  api/permissions/rbac_wrapper.py
  api/permissions/serializers.py
  api/projects/permissions.py
  api/projects/views.py
  api/tests/unit/environments/test_unit_environments_views.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/permissions/test_unit_permissions_calculator.py
  api/tests/unit/projects/test_unit_projects_views.py
Labels: feature, api

#5369 feat: Add GIN index on `Identity.identifier`
  api/environments/identities/migrations/0003_add_idenity_identifier_gin_index.py
  api/environments/identities/models.py
Labels: feature, api

#5437 ci: Upload Trivy SARIF artifact
  .github/workflows/platform-docker-trivy-scan.yml
Labels: ci-cd

#5465 fix: remove unnecessary database access in conditional logic for is_live
  api/features/models.py
Labels: api, fix

#5406 feat: Allow task processor to have its own database
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  api/scripts/run-docker.sh
  docs/docs/deployment/configuration/task-processor.md
Labels: feature, api, docs

#5375 feat: Inspect Permissions
  frontend/common/providers/Permission.tsx
  frontend/common/services/useUserPermissions.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/BooleanDotIndicator.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/PermissionRow.tsx
  frontend/web/components/RemoveViewPermissionModal.tsx
  frontend/web/components/UserAction.tsx
  frontend/web/components/derived-permissions/DerivedPermissionsList.tsx
  frontend/web/components/derived-permissions/DerivedTag.tsx
  frontend/web/components/inspect-permissions/EnvironmentPermissions.tsx
  frontend/web/components/inspect-permissions/ExpandablePermissionsList.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/inspect-permissions/Permissions.tsx
  frontend/web/components/inspect-permissions/ProjectPermissions.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: feature, front-end

#5473 feat: adds inspect permissions behind a feature flag
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Labels: feature, front-end

#5462 fix(ci): Remove invalid trigger for Update Trivy Database and Scan
  .github/workflows/platform-docker-trivy-scan.yml
Labels: fix

#5487 ci: add split-testing to private cloud image
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
Labels: api, ci-cd

#5393 feat: backend-clone-segments
  api/conftest.py
  api/core/workflows_services.py
  api/features/workflows/core/models.py
  api/metadata/models.py
  api/segments/models.py
  api/segments/serializers.py
  api/segments/services.py
  api/segments/views.py
  api/tests/unit/environments/test_unit_environments_views_sdk_environment.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
  api/tests/unit/segments/test_unit_segments_models.py
  api/tests/unit/segments/test_unit_segments_services.py
  api/tests/unit/segments/test_unit_segments_views.py
Labels: feature, api

#5474 fix: incorrect default usage period fallback
  api/organisations/models.py
  api/organisations/serializers.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_models.py
  api/tests/unit/organisations/test_unit_organisations_views.py
Labels: api, fix

#5499 deps: bump split testing 0.2.0
  api/poetry.lock
  api/pyproject.toml
Labels: api

#5504 fix: typo-in-text
  frontend/web/components/pages/SegmentsPage.tsx
Labels: front-end, fix

#5456 fix: increase task timeout
  api/organisations/tasks.py
Labels: api, fix

#5476 fix: handle TypeError exposed by simple history logic
  api/core/models.py
  api/features/serializers.py
Labels: api, fix

#5478 fix: use correct key references.
  docs/docs/clients/client-side/nextjs-and-ssr.md
Labels: docs

#5501 feat: Handle LaunchDarkly rate limiting
  api/app/settings/common.py
  api/integrations/launch_darkly/client.py
  api/integrations/launch_darkly/constants.py
  api/integrations/launch_darkly/exceptions.py
  api/integrations/launch_darkly/services.py
  api/integrations/launch_darkly/tasks.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/integrations/launch_darkly/conftest.py
  api/tests/unit/integrations/launch_darkly/test_client.py
  api/tests/unit/integrations/launch_darkly/test_tasks.py
Labels: feature, api

#5492 chore(main): release 2.179.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5510 deps: bump split testing from 0.2.0 to 0.2.1
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies
