Repository Flagsmith/flagsmith, pull requests merged in 2025-02, with the labels that each got.

#5006 docs: Improve import/export docs
  docs/docs/system-administration/importing-and-exporting/django-admin.png
  docs/docs/system-administration/importing-and-exporting/index.md
  docs/docs/system-administration/importing-and-exporting/organisations.md
Labels: docs

#5075 fix: Health provider not accessible by name in API
  api/features/feature_health/views.py
  api/tests/integration/features/feature_health/test_views.py
Labels: api, fix

#5061 fix(migrations): project permission migration unique error
  api/projects/migrations/0025_add_change_request_project_permissions.py
Labels: api

#5073 chore: add `showmigrations` command in migrate function
  api/scripts/run-docker.sh
Labels: api, chore

#5059 chore: Format GH star count
  frontend/web/components/GithubStar.tsx
Labels: front-end

#5047 chore: Remove stale flags
  frontend/web/components/App.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/modals/CreateEditIntegrationModal.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/IntegrationsPage.tsx
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/CreateEditTag.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/routes.js
Labels: front-end, chore

#5077 feat: Make it more visible that user invites can be accepted by logging in, in addition to signing up
  frontend/web/components/pages/HomePage.js
Labels: front-end, chore

#5080 fix: delete identity overrides from environments_v2 table on feature delete
  api/edge_api/identities/tasks.py
  api/environments/dynamodb/wrappers/environment_wrapper.py
  api/features/models.py
  api/tests/unit/features/test_unit_features_views.py
Labels: api, fix

#5062 docs: fix Github docs styling
  docs/docs/integrations/project-management/github.md
Labels: docs

#5076 fix: alert modal on Identity page incorrectly uses title case
  frontend/web/styles/project/_alert.scss
Labels: front-end, fix

#5067 fix: link to segment and identity override
  frontend/web/components/FeatureRow.js
Labels: front-end, fix

#5048 chore(main): release 2.161.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5089 feat: render tooltip in portal
  frontend/web/components/Tooltip.tsx
Labels: front-end

#5088 chore: Ensure that PRs modifying root files are assigned a reviewer
  CODEOWNERS
Labels: chore

#5085 feat: Deletes provider and displays warning in selected env
  frontend/common/services/useHealthProvider.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/UnhealthyFlagWarning.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
Labels: feature, front-end

#5060 fix(overage-billing): use relative delta and months, instead of days
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Labels: api, fix

#5053 feat: Update identity override styles
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/svg/UsersIcon.tsx
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_UserPage.scss
  frontend/web/styles/project/_index.scss
  frontend/web/styles/project/_utils.scss
Labels: feature, front-end

#5094 fix: has override logic to check enabled state differences
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, fix

#5086 fix(feature-export): handle unsuccessful feature export download exception
  api/features/import_export/views.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Labels: api, fix

#5101 fix(organisation): allow Organisation delete when committed change request present
  api/features/workflows/core/models.py
  api/tests/unit/features/workflows/core/test_unit_workflows_models.py
Labels: api, fix

#5102 feat: Hide SAML configuration frontend URL in SaaS
  frontend/web/components/modals/CreateSAML.tsx
Labels: feature, front-end

#5103 docs: Add Help and Support page
  docs/docs/support/index.mdx
  docs/plugins/crisp-chat-links.js
Labels: docs

#5079 fix: service to use default credentials mode when cookie auth disabled
  frontend/common/service.ts
Labels: front-end

#5084 docs: correct node cache example
  docs/docs/clients/server-side.mdx
Labels: docs

#5091 docs: Improve SAML documentation
  docs/docs/system-administration/authentication/01-SAML/index.md
  docs/docs/system-administration/authentication/01-SAML/index.mdx
  docs/docs/system-administration/authentication/index.md
  docs/static/img/saml-group-mapping.png
Labels: docs

#5104 fix: adds margin to saml tab
  frontend/web/components/SamlTab.tsx
Labels: front-end, fix

#5105 chore: Fix US spelling
  frontend/web/components/modals/CreateTrait.js
Labels: front-end, chore

#5113 fix: Feature tags not showing up in tag selection UI
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#5110 chore: typo
  docs/docs/system-administration/authentication/01-SAML/index.mdx
Labels: docs

#5055 feat: Clear filters on user and features page
  frontend/web/components/ClearFilters.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/tables/TableSearchFilter.tsx
Labels: feature, front-end

#5087 feat: migrates webhooks to RTK
  frontend/common/providers/withWebhooks.js
  frontend/common/services/useWebhooks.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/pages/EnvironmentSettingsPage.js
Labels: feature, front-end

#5107 chore: enforce `--name/-n` argument in makemigrations management command
  api/core/management/commands/makemigrations.py
  api/tests/unit/core/management/__init__.py
  api/tests/unit/core/management/test_unit_core_management_makemigrations.py
Labels: api, chore

#5111 ci: Add incremental Python type checking
  .github/workflows/api-pull-request.yml
  .pre-commit-config.yaml
  api/Makefile
  api/app/settings/common.py
  api/app/settings/test.py
  api/app/urls.py
  api/conftest.py
  api/core/management/commands/makemigrations.py
  api/custom_auth/mfa/trench/utils.py
  api/custom_auth/oauth/serializers.py
  api/custom_auth/serializers.py
  api/integrations/amplitude/amplitude.py
  api/integrations/common/wrapper.py
  api/integrations/launch_darkly/services.py
  api/integrations/mixpanel/mixpanel.py
  api/poetry.lock
  api/pyproject.toml
  api/scripts/mypy-baseline.jsonl
  api/scripts/typecheck.py
  api/tests/integration/ core/__init__.py
  api/tests/integration/core/test_commands.py
  api/tests/unit/core/management/test_unit_core_management_makemigrations.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
  api/tests/unit/integrations/mixpanel/test_unit_mixpanel.py
Labels: api, ci-cd

#5106 chore: add demo2 environment
  .github/workflows/frontend-deploy-production.yml
Labels: chore

#5117 fix: Dynamically update theme toggle tooltip text based on current mode
  frontend/web/components/App.js
Labels: front-end

#5120 deps: Bump task processor to v1.2.1, workflows to v2.7.7
  api/poetry.lock
  api/pyproject.toml
Labels: api, dependencies

#5090 chore(main): release 2.162.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5123 chore: lint fix
  frontend/common/code-help/create-user/create-user-php.js
  frontend/common/code-help/init/init-dotnet.js
  frontend/common/code-help/init/init-js.js
  frontend/common/code-help/traits/traits-node.js
  frontend/common/code-help/traits/traits-php.js
  frontend/common/providers/Permission.tsx
  frontend/common/service.ts
  frontend/common/stores/account-store.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/utils/utils.tsx
  frontend/env/project_prod.js
  frontend/web/components/App.js
  frontend/web/components/AuditLog.tsx
  frontend/web/components/BreadcrumbSeparator.tsx
  frontend/web/components/OrganisationUsage.tsx
  frontend/web/components/PasswordRequirements.js
  frontend/web/components/PermissionsSummaryList.tsx
  frontend/web/components/PlanBasedAccess.tsx
  frontend/web/components/UserSelect.js
  frontend/web/components/UsersGroups.tsx
  frontend/web/components/WarningMessage.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffVariations.tsx
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/pages/CreateEnvironmentPage.tsx
  frontend/web/components/pages/FeaturesPage.js
Labels: front-end, chore

#5124 chore: Add `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Labels: chore

#5109 feat: Adds support for quickly navigating to recently created or existing requested changes
  frontend/common/stores/feature-list-store.ts
  frontend/global.d.ts
  frontend/web/components/ExistingChangeRequestAlert.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/project/toast.js
  frontend/web/project/toast.tsx
  frontend/web/styles/components/_toast.scss
  frontend/web/styles/project/_modals.scss
Labels: feature, front-end

#5133 fix: Consistent hover styles for tabs & improved dark mode side menu UX
  frontend/web/styles/project/_project-nav.scss
Labels: front-end

#5129 fix: Fix StaleFlagWarning Display & Migrate FeatureRow to TypeScript
  frontend/common/constants.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/responses.ts
  frontend/common/utils/getProtectedTags.ts
  frontend/common/utils/useProtectedTags.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/CondensedFeatureRow.tsx
  frontend/web/components/ExampleFeatureRow.tsx
  frontend/web/components/FeatureRow.js
  frontend/web/components/FeatureRow.tsx
  frontend/web/components/StaleFlagWarning.tsx
  frontend/web/components/import-export/FeatureExport.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/modals/ConfirmToggleFeature.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/WidgetPage.tsx
Labels: front-end, fix

#5121 chore: rtk segment identities
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/IdentitySegmentsProvider.js
  frontend/common/services/useIdentitySegment.ts
  frontend/common/stores/identity-segments-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/global.d.ts
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/modals/AuditLogWebhooks.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, chore

#5134 fix: Segment override permissions
  frontend/web/components/SegmentOverrideActions.tsx
  frontend/web/components/SegmentOverrides.js
Labels: front-end, fix

#5126 fix(typing): Add missing type stubs for dependencies
  api/app/settings/common.py
  api/app_analytics/analytics_db_service.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/management/commands/sendapiusagetoinflux.py
  api/organisations/chargebee/chargebee.py
  api/organisations/task_helpers.py
  api/organisations/tasks.py
  api/organisations/views.py
  api/poetry.lock
  api/pyproject.toml
  api/sse/tasks.py
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/features/test_unit_features_views.py
  api/tests/unit/integrations/lead_tracking/hubspot/_hubspot_responses.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/users/test_unit_users_views.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
Labels: api, fix

#5143 fix: Show "Clear all" to the left of feature filters to prevent layout shift
  frontend/web/components/ClearFilters.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, fix

#5145 fix: identity overrides only called once
  frontend/web/components/modals/CreateFlag.js
Labels: front-end, fix

#5148 fix: feature specific segment creation
  frontend/web/components/modals/CreateSegment.tsx
Labels: front-end, fix

#5149 ci: Don't bump Helm chart version when updating Flagsmith release version
  .github/workflows/platform-docker-build-test-publish.yml
Labels: ci-cd

#5130 chore(main): release 2.163.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5151 feat: Add separate liveness and readiness checks
  api/app/urls.py
  api/scripts/healthcheck.py
Labels: feature, api

#5155 chore: Add #5150 to `.git-blame-ignore-revs`
  .git-blame-ignore-revs
Labels: chore

#5081 fix: allow identity overrides to be created for non-existent identities
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
Labels: api, fix

#5137 fix: Treat 0 padded number as string
  frontend/common/utils/utils.tsx
Labels: front-end, fix

#5160 chore: Linting errors for #5081
  api/edge_api/identities/views.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
Labels: api, chore

#5125 chore: rtk identity traits
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/IdentityProvider.js
  frontend/common/services/useIdentity.ts
  frontend/common/services/useIdentityTrait.ts
  frontend/common/stores/identity-store.js
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/IdentityTraits.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateTrait.js
  frontend/web/components/modals/CreateTrait.tsx
  frontend/web/components/pages/UserPage.tsx
Labels: front-end, chore

#5158 fix: Hides unhealthy tag
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/TagValues.tsx
Labels: front-end, fix

#5159 fix: feature panel url updating url when opening
  frontend/web/components/FeatureRow.tsx
Labels: front-end, fix

#5139 chore: type panels
  frontend/common/providers/OrganisationProvider.tsx
  frontend/common/types/responses.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/AuditLog.tsx
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/ExternalResourcesTable.tsx
  frontend/web/components/FeatureHistory.tsx
  frontend/web/components/GithubRepositoriesTable.tsx
  frontend/web/components/OrgEnvironmentSelect.tsx
  frontend/web/components/PanelSearch.js
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/RemoveUserOverride.tsx
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/RolesTable.tsx
  frontend/web/components/SAMLAttributeMappingTable.tsx
  frontend/web/components/SamlTab.tsx
  frontend/web/components/Tooltip.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/UsersGroups.tsx
  frontend/web/components/base/Popover.js
  frontend/web/components/base/Popover.tsx
  frontend/web/components/base/grid/Panel.js
  frontend/web/components/base/grid/Panel.tsx
  frontend/web/components/base/higher-order/FocusMonitor.js
  frontend/web/components/base/higher-order/FocusMonitor.tsx
  frontend/web/components/base/higher-order/InputStepper.js
  frontend/web/components/import-export/FeatureExport.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/metadata/AddMetadataToEntity.tsx
  frontend/web/components/metadata/ContentTypesMetadataFieldTable.tsx
  frontend/web/components/metadata/MetadataPage.tsx
  frontend/web/components/modals/AuditLogWebhooks.tsx
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/pages/GitHubSetupPage.tsx
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/SegmentsPage.tsx
  frontend/web/components/pages/UserPage.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/pages/UsersPage.tsx
Labels: front-end, chore

#5162 fix: widget search
  frontend/web/components/App.js
Labels: front-end, fix

#5157 feat: Adds unhealthy events reason
  frontend/common/constants.ts
  frontend/common/types/responses.ts
  frontend/web/components/CondensedFeatureRow.tsx
  frontend/web/components/EditHealthProvider.tsx
  frontend/web/components/FeatureRow.tsx
  frontend/web/components/UnhealthyFlagWarning.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/FeatureHealthTabContent.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagContent.tsx
  frontend/web/components/tags/TagValues.tsx
Labels: feature, front-end, flagsmith flag

#5152 chore(main): release 2.164.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#5165 fix: Handle github star errors
  frontend/web/components/GithubStar.tsx
Labels: front-end, fix

#5169 docs: Fix broken link
  docs/docs/clients/index.md
Labels: docs

#5168 docs: Update Okta SSO docs
  docs/docs/system-administration/authentication/02-Okta.md
Labels: docs

#5171 fix: Integrations list is empty when self-hosting
  frontend/common/services/useProject.ts
Labels: front-end, fix
