Repository Flagsmith/flagsmith, pull requests merged in 2025-09, with the labels that each got.

#6000 feat: SDK user agents allow list, store numeric IDs in InfluxDB
  api/app_analytics/constants.py
  api/app_analytics/influxdb_wrapper.py
  api/app_analytics/mappers.py
  api/app_analytics/serializers.py
  api/app_analytics/track.py
  api/app_analytics/types.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/app_analytics/test_unit_app_analytics_influxdb_wrapper.py
  api/tests/unit/app_analytics/test_unit_app_analytics_track.py
  api/tests/unit/app_analytics/test_unit_app_analytics_views.py
Labels: feature, api

#6010 fix: CORS errors due to flagsmith-js-sdk header changes
  api/app/settings/common.py
Labels: api, fix

#6017 fix: CORS errors when sending tracked headers other than `Flagsmith-SDK-User-Agent`
  api/app/settings/common.py
Labels: api, fix

#5996 feat: organisation sdk metrics charts
  frontend/common/types/responses.ts
  frontend/web/components/OrganisationLimit.tsx
  frontend/web/components/OrganisationUsage.tsx
  frontend/web/components/base/higher-order/ParameterizedRoute.tsx
  frontend/web/components/base/select/MultiSelect.tsx
  frontend/web/components/base/select/SearchableSelect.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/FeatureAnalytics.container.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/components/FeatureAnalyticsChart.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/navigation/SidebarLink.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsageMetrics.container.tsx
  frontend/web/components/organisation-settings/usage/components/OrganisationUsageSideBar.tsx
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
  frontend/web/components/organisation-settings/usage/components/UsageAPIDefinitions.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartFilters.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/segments/Rule/components/EnvironmentSelectDropdown.tsx
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/project/_layout.scss
  frontend/web/styles/project/_spacing-utils.scss
Labels: feature, front-end

#6022 fix: added-dropdown-opening-step-inversioning-tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Labels: front-end, fix

#6037 chore(evaluation-context): Fix `EvaluationContext` reference in `EvaluationResult` schema
  sdk/evaluation-result.json
Labels: chore

#6032 ci: Add known SDK version workflow
  .github/workflows/api-run-makefile-target.yml
  api/Makefile
  api/scripts/add-known-sdk-version.py
Labels: api, ci-cd

#6039 ci: Centralised Poetry install
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
Labels: ci-cd

#6006 docs: remove beta caution for Datadog RUM SDK integration
  docs/docs/clients/client-side/javascript.md
Labels: docs

#6042 docs: remove TODOs from k8s documentation
  docs/docs/deployment/hosting/kubernetes.md
Labels: docs

#6053 chore(evaluation-context): Work around the lack of `anyOf` support in Java
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: chore

#6062 fix: removed-gap-in-overflow-hook-invocation
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Labels: front-end, fix

#6075 chore(evaluation-context): Freeform feature values
  sdk/evaluation-context.json
  sdk/evaluation-result.json
Labels: chore

#6074 fix: Save environment on toggle change requests
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
Labels: front-end, fix

#6078 infra: ECS health checks for prod
  infrastructure/aws/production/ecs-task-definition-task-processor.json
  infrastructure/aws/production/ecs-task-definition-web.json
Labels: infrastructure

#6084 chore(main): release 2.196.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#6085 fix(Identities): Revert identifier sanitization
  api/edge_api/identities/serializers.py
  api/environments/identities/constants.py
  api/environments/identities/migrations/0005_revert_sanitized_identifiers.py
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/environments/identities/views.py
  api/tests/unit/conftest.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/environments/identities/traits/test_traits_views.py
  docs/docs/basic-features/managing-identities.md
Labels: api, docs

#6086 chore(main): release 2.196.3
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Labels: autorelease: pending, chore

#6052 chore: update CODEOWNERS to reflect new team structure
  CODEOWNERS
Labels: chore

#6113 fix: Datadog integration not respecting `use_custom_source`
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_models.py
Labels: api, fix
